<%= nested_form_for(@template, url: admin_client_template_path(@template), local: true, remote: true, html: {class: 'modal-remote-form validate-form', "data-resource-type": global_labels['templates'], "data-type": "json", id: 'template_form'}) do |f| %>
<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="title"><%= @template.new_record? ? "New" : "Edit" %> <%= ::Template.model_name.human %></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body theme-form">
        <div class="mb-3">
          <%= f.label :name %>
          <% if @template.is_a?(::Template::CustomTemplate) %>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          <% else %>
              <div> <%= t("templates.#{@template.name}") rescue @template._type.split("::").last %> </div>
          <% end %>
        </div>

        <% if @template.is_a?(::Template::CustomTemplate) %>
          <div class="col-md-12">
            <%= f.label :project_ids %>
            <%= f.select :project_ids, options_from_collection_for_select(f.object.project_ids.present? ? Project.in(id: f.object.project_ids).where(booking_portal_client_id: current_client.try(:id)) : [], "id" , "ds_name" , f.object.project_ids), {}, class: 'selectize-remote' , multiple: true, data: {url: admin_projects_path} %>
          </div>
          <div class="mb-3">
            <%= f.label :subject_class, class: 'label-required' %>
            <%= f.select :subject_class, ::Template::CustomTemplate::SUBJECT_CLASSES.collect{|x| [I18n.t("mongoid.attributes.template/subject_classes.#{x}"), x] }, {prompt: 'Select' }, class: "selectize" , required: true %>
          </div>
        <% end %>

        <% if @template.is_a?(::Template::EmailTemplate) %>
          <div class="mb-3">
            <%= f.label :subject %>
            <%= f.text_field :subject, class: 'form-control' %>
          </div>
        <% end %>

        <% if @template.is_a?(::Template::SmsTemplate) %>
          <div class="mb-3">
            <%= f.label :dlt_temp_id %>
            <%= f.text_field :dlt_temp_id, class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%= f.label :dlt_tag_id %>
            <%= f.text_field :dlt_tag_id, class: 'form-control' %>
          </div>
          <div class="template-variables">
            <% editable_template_variable = policy([:admin, @template]).editable_field?("template_variables_attributes")%>
            <% if editable_template_variable %>
              <%#= f.link_to_add "Add", :template_variables, :data => { :target => ".template-variables" } %>
            <% end %>
            <%= f.fields_for :template_variables do |adj|%>
              <%= adj.link_to_remove icon("far", "times-circle") %>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <%= adj.label :number, class: 'label-required' %>
                    <%= adj.number_field :number, class: "form-control", required: 'required', disabled: !editable_template_variable %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <%= adj.label :content %>
                    <%= adj.text_field :content, class: "form-control", disabled: !editable_template_variable %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="form-check">
          <%= f.check_box :is_active, class: 'form-check-input wd-22' %>
          <%= f.label :is_active, class: 'form-check-label d-inline-block ms-2' %>
        </div>

        <% if @template.is_a?(::Template::NotificationTemplate) %>
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', disabled: !policy([:admin, @template]).editable_field?("title") %>
        <% end %>

        <div>
          <%= f.label :content %>
          <%= f.text_area :content, rows: 15, class: 'form-control' %>
        </div>

        <% if @template.is_a?(::Template::NotificationTemplate) %>
          <div>
            <%= f.label :data %>
            <%= f.text_area :data, rows: 10, autofocus: true, class: "form-control h-auto", disabled: !policy([:admin, @template]).editable_field?("data") %>
          </div>
        <% end %>

      </div>
      <div class="modal-footer text-end">
        <%= f.submit I18n.t("global.save"), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#template_form"));
});
<% end %>
