<%= form_for(@template, url: admin_client_template_path(@template), local: true, remote: true, html: {class: 'modal-remote-form validate-form', "data-resource-type": global_labels['templates'], "data-type": "json", id: 'template_form'}) do |f| %>
<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gradient-cd white">
        <h3 class="title"><%= @template.new_record? ? "New" : "Edit" %> <%= ::Template.model_name.human %></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :name %>
          <div><%= @template.name.titleize rescue @template._type.split("::").last %></div>
        </div>
        <% if @template.is_a?(::Template::EmailTemplate) %>
          <div class="form-group">
            <%= f.label :subject %>
            <%= f.text_field :subject, class: 'form-control' %>
          </div>
        <% end %>

        <div class="form-check">
          <%= f.check_box :is_active, class: 'form-check-input' %>
          <%= f.label :is_active, class: 'form-check-label' %>
        </div>

        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_area :content, class: 'form-control' %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#template_form"));
});
<% end %>
