<%= content_for :breadcrumbs do %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= home_path(current_user) %>">Dashboard</a></li>
      <% if policy([current_user_role_group, User]).index? %>
        <li class="breadcrumb-item"><a href="<%= admin_users_path %>">Users</a></li>
      <% end %>
      <% if policy([current_user_role_group, User]).show? %>
        <li class="breadcrumb-item"><a href="<%= admin_user_path(@user) %>"><%= @user.name %></a></li>
      <% end %>
      <li class="breadcrumb-item active" aria-current="page"><%= global_labels['user_kycs'] %></li>
    </ol>
  </nav>
<% end %>
