<%= simple_form_for(@user_kyc, local: true, url: url, remote: true, html: { novalidate: false, class: 'modal-remote-form validate-form theme-form', data: { 'resource-type': UserKyc.model_name.human, type: :json }, id: 'user_kyc_form' } ) do |f| %>
  <div class="modal fade right fixed-header-footer modal-fullscreen" role="dialog" id="modal-remote-form-inner" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-fullscreen" role="document">
      <div class="modal-content overflow-hidden">
        <div class="modal-header">
          <h3 class="title">
            <%= t("helpers.#{action_name}.link_name", model: UserKyc.model_name.human) %>
            </h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body row col-12 p-0 overflow-hidden">
          <div class="col-lg-3 filter-left-section">
            <div class="sticky-top ps-3 pt-3 top-0">
              <ul>
                <li class="nav-item">
                  <a class="nav-link active" rel="nav-kyc-basic"><%= I18n.t("global.link_to.basic_details") %></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" rel="nav-kyc-address">Address</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" rel="nav-kyc-corporate">Corporate Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" rel="nav-kyc-bank">Bank Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" rel="nav-kyc-other">Other Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" rel="nav-kyc-nri">NRI Related Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" rel="nav-kyc-existing">Existing Customer?</a>
                </li>
              </ul>
              <!--
              <hr>
              <div class="theme-form">
                <select class="selectize" name="" id="project_field_search" tabindex="-1">
                  <option></option>
                  <option>Project Name</option>
                  <option>Developer Name</option>
                </select>
              </div>
              -->
            </div>
          </div>
          <div class="col-lg-9 filter-right-section">
            <div class="mt-3"></div>
            <div class="tab-content">
              <div class="" id="nav-kyc-basic">
                <h2 class="tab-title"><%= I18n.t("global.link_to.basic_details") %></h2>
                <div class="row">
                  <%= f.hidden_field :lead_id %>
                  <% if policy([:admin, @user_kyc]).editable_field?("salutation") %>  
                    <%= f.input :salutation, collection: UserKyc::SALUTATIONS.collect{|k,v| [I18n.t("mongoid.attributes.user_kyc/salutations.#{k}"), k.to_s]}, prompt: :translate, required: true, wrapper_html: { class: 'col-md-2' } %>
                  <% end %>

                  <% if policy([:admin, @user_kyc]).editable_field?("first_name") %>
                    <%= f.input :first_name, required: true, wrapper_html: { class: 'col-md-5' } %>
                  <% end %>

                  <% if policy([:admin, @user_kyc]).editable_field?("last_name") %>
                    <%= f.input :last_name, required: true, wrapper_html: { class: 'col-md-5'} %>
                  <% end %>
                </div>
                <div class="row">
                  <% if policy([:admin, @user_kyc]).editable_field?("phone") %>
                    <%= f.input :phone, required: phone_required?(@user_kyc), wrapper_html: { class: 'col-md-6' }, inner_html: { class: 'phone' }, input_html: { value: phone_value(@user_kyc), placeholder: phone_placeholder(@user_kyc) } %>
                  <% end %>
                  <% if policy([:admin, @user_kyc]).editable_field?("email") %>
                    <%= f.input :email, as: :email, required: email_required?(@user_kyc), wrapper_html: { class: 'col-md-6' }, input_html: { value: email_value(@user_kyc), placeholder: email_placeholder(@user_kyc) } %>
                  <% end %>
                </div>

                <div class="row">
                  <% if policy([:admin, @user_kyc]).editable_field?("pan_number") %>
                    <%= f.input :pan_number, required: true, wrapper_html: { class: 'col-md-6' } %>
                  <% end %>
                  <% if policy([:admin, @user_kyc]).editable_field?("aadhaar") %>
                    <%= f.input :aadhaar, required: true, wrapper_html: { class: 'col-md-6' } %>
                  <% end %>
                </div>

                <div class="row">
                  <% if policy([:admin, @user_kyc]).editable_field?("configurations") %>
                    <div class="col-md-6">
                      <%= f.label :configurations, class: 'control-label' %>
                      <%= f.select :configurations, UserKyc.available_configurations(@user_kyc.lead_id.to_s).collect{|x| [x[:text], x[:id]] }, {prompt: I18n.t("global.select")}, class: 'selectize', multiple: true, disabled: !policy(@user_kyc).editable_field?("configurations") %>
                    </div>
                  <% end %>
                  <% if policy([:admin, @user_kyc]).editable_field?("budget") %>
                    <div class="col-md-6">
                      <%= f.input :budget, wrapper_html: { class: "" } %>
                    </div>
                  <% end %>
                </div>

                <div class="row">
                  <% if policy([:admin, @user_kyc]).editable_field?("preferred_floors") %>
                    <div class="col-md-6">
                      <%= f.label :preferred_floors, class: 'control-label' %>
                      <%= f.select :preferred_floors, UserKyc.available_preferred_floors.collect{|x| [x[:text], x[:id]]}, {prompt: I18n.t("global.select")}, class: 'selectize', multiple: true, disabled: !policy(@user_kyc).editable_field?("preferred_floors") %>
                    </div>
                  <% end %>
                  <% if policy([:admin, @user_kyc]).editable_field?("number_of_units") %>
                    <div class="col-md-6">
                      <%= f.input :number_of_units %>
                    </div>
                  <% end %>
                </div>
                <% if params[:project_unit_id].present? %>
                  <%
                      @user_kyc.project_unit_ids += [params[:project_unit_id]]
                  @user_kyc.project_unit_ids.uniq!
                %>
            <% end %>

            <% if @lead.project_unit_ids.present? && (@user_kyc.persisted? || !current_user.buyer?) %>
              <% if policy([:admin, @user_kyc]).editable_field?("project_unit_ids") %>
                <div class="mb-3 position-relative">
                  <%= f.label :project_unit_ids %>
                  <%= f.select :project_unit_ids, @lead.project_units.collect{|x| [x.name, x.id]}, {prompt: I18n.t("global.select")}, class: 'selectize', multiple: true %>
                </div>
              <% end %>
            <% end %>

            <div class="row">
              <% if policy([:admin, @user_kyc]).editable_field?("anniversary") %>
                <div class="col-md-6">
                  <%= f.label :anniversary, class: 'control-label' %>
                  <% anniversary = (f.object.anniversary.present? ? f.object.anniversary.strftime("%d/%m/%Y") : "") %>
                  <%= f.text_field :anniversary, class: 'form-control datepicker', type:'text', data: {"default-date": anniversary}, value: anniversary %>
                </div>
              <% end %>
              <% if policy([:admin, @user_kyc]).editable_field?("dob") %>
                <div class="col-md-6">
                  <%= f.label :dob, class: "label-required" %>
                  <% date = (f.object.dob.present? ? f.object.dob.strftime("%d/%m/%Y") : "") %>
                  <%= f.text_field :dob, class: 'form-control datepicker', type:'text', data: {"default-date": date}, value: date, required: true %>
                </div>
              <% end %>
            </div>
            <% if policy([:admin, @user_kyc]).editable_field?("occupation") %>
              <div class="row mt-3">
                <div class="col-md-6">
                  <%= f.label :occupation, class: 'control-label' %>
                  <%= f.select :occupation, UserKyc::OCCUPATIONS.collect{|x| [ t("mongoid.attributes.user_kyc/occupation.#{x}"), x.to_s]}, {prompt: I18n.t("global.select")}, class: 'selectize', disabled: !policy(@user_kyc).editable_field?("occupation") %>
                </div>
              </div>
            <% end %>

            <hr>
            <div class="" id="nav-kyc-address">
              <h2 class="tab-title"><%= I18n.t("global.tabs.residence/permanent_address") %></h2>
              <div class="row">
                <div class="col-md-12">
                  <% permanent_address = f.object.addresses.where(address_type: 'permanent').first || f.object.addresses.build(address_type: 'permanent') %>
                  <%= f.fields_for :addresses, permanent_address do |permanent_address_form| %>
                    <%= render "addresses/form_fields", f: permanent_address_form, add_type: 'permanent', field_required: true %>
                  <% end %>
                </div>
              </div>
              <hr>
              <h2 class="tab-title"><%= I18n.t("global.tabs.correspondence/office_address") %></h2>
              <div class="row">
                <div class="col-md-12">
                  <% correspondence_address = f.object.addresses.where(address_type: 'correspondence').first || f.object.addresses.build(address_type: 'correspondence') %>
                  <%= f.fields_for :addresses, correspondence_address do |correspondence_address_form| %>
                    <%= render "addresses/form_fields", f: correspondence_address_form, add_type: 'correspondence' %>
                  <% end %>
                </div>
              </div>
            </div>

            <hr>
            <div class="" id="nav-kyc-corporate">
              <h2 class="tab-title"><%= I18n.t("global.tabs.corporate_details") %></h2>
              <div class="mb-1">
                <%= f.label :is_company %>
                <div class="form-check form-check-inline">
                  <%= f.radio_button :is_company, true, class: "form-check-input wd-22" %>
                  <%= f.label :is_company, I18n.t("global.boolean.true"), class: "form-check-label d-inline-block ms-2" %>
                </div>
                <div class="form-check form-check-inline">
                  <%= f.radio_button :is_company, false, class: "form-check-input wd-22" %>
                  <%= f.label :is_company, I18n.t("global.boolean.false"), class: "form-check-label d-inline-block ms-2" %>
                </div>
              </div>
              <div class="row">
                <div class="company-fields col-lg-6 mt-3">
                  <%= f.label :gstn %>
                  <%= f.text_field :gstn, class: 'form-control' %>
                </div>
                <div class="company-fields col-lg-6 mt-3">
                  <%= f.label :company_name %>
                  <%= f.text_field :company_name, class: 'form-control' %>
                </div>
              </div>
            </div>

            <hr>
            <div class="" id="nav-kyc-bank">
              <h2 class="tab-title"><%= I18n.t("global.tabs.bank_details") %></h2>
              <% f.object.build_bank_detail if f.object.bank_detail.blank? %>
              <%= f.fields_for :bank_detail do |bank_detail_form| %>
                <%= render "bank_details/form_fields", f: bank_detail_form %>
              <% end %>
            </div>
            <hr>
            <% if !defined?(small) || small == false %>
              <div class="" id="nav-kyc-other">
                <h2 class="tab-title"><%= I18n.t("global.tabs.other_details") %></h2>
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <%= f.label :education_qualification %>
                      <%= f.text_field :education_qualification, class: 'form-control' %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <%= f.label :designation, class: "label-required" %>
                      <%= f.text_field :designation, required: true, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <%= f.label :customer_company_name %>
                      <%= f.text_field :customer_company_name, class: 'form-control' %>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="" id="nav-kyc-nri">
                <h2 class="tab-title"><%= I18n.t("global.tabs.nri_related_details") %></h2>
                <div class="mb-3">
                  <%= f.label :nri %>
                  <div class="form-check form-check-inline">
                    <%= f.radio_button :nri, true, class: "form-check-input wd-22" %>
                    <%= f.label :nri, I18n.t("global.boolean.true"), class: "form-check-label d-inline-block ms-2" %>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= f.radio_button :nri, false, class: "form-check-input wd-22" %>
                    <%= f.label :nri, I18n.t("global.boolean.false"), class: "form-check-label d-inline-block ms-2" %>
                  </div>
                </div>
                <div class="mb-3 nri-fields">
                  <%= f.label :oci %>
                  <%= f.text_field :oci, class: 'form-control' %>
                </div>
                <div class="mb-3 nri-fields">
                  <%= f.label :poa %>
                  <div class="form-check form-check-inline">
                    <%= f.radio_button :poa, true, class: "form-check-input wd-22" %>
                    <%= f.label :poa, I18n.t("global.boolean.true"), class: "form-check-label d-inline-block ms-2" %>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= f.radio_button :poa, false, class: "form-check-input wd-22" %>
                    <%= f.label :poa, I18n.t("global.boolean.false"), class: "form-check-label d-inline-block ms-2" %>
                  </div>
                </div>
                <div class="nri-fields">
                  <div class="mb-3 poa-fields">
                    <%= f.label :poa_details %>
                    <%= f.text_field :poa_details, class: 'form-control' %>
                  </div>
                  <div class="mb-3 poa-fields">
                    <%= f.label :poa_details_phone_no %>
                    <%= f.text_field :poa_details_phone_no, class: 'phone form-control' %>
                  </div>
                </div>
              </div>
              <hr>
              <div class="" id="nav-kyc-existing">
                <h2 class="tab-title"><%= I18n.t("global.tabs.existing_customer") %></h2>
                <div class="mb-3">
                  <%= f.label :existing_customer %>
                  <div class="form-check form-check-inline">
                    <%= f.radio_button :existing_customer, true, class: "form-check-input wd-22" %>
                    <%= f.label :existing_customer, I18n.t("global.boolean.true"), class: "form-check-label d-inline-block ms-2" %>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= f.radio_button :existing_customer, false, class: "form-check-input wd-22" %>
                    <%= f.label :existing_customer, I18n.t("global.boolean.false"), class: "form-check-label d-inline-block ms-2" %>
                  </div>
                </div>
                <div class="mb-3 customer-fields">
                  <%= f.label :existing_customer_name %>
                  <%= f.text_field :existing_customer_name, class: 'form-control' %>
                </div>
                <div class="mb-3 customer-fields">
                  <%= f.label :existing_customer_project %>
                  <%= f.text_field :existing_customer_project, class: 'form-control' %>
                </div>
              </div>
              <div class="mt-3"></div>
              <div class="mb-3">
                <%= f.label :comments, class: 'control-label', style: 'vertical-align:middle' %>
                <%= f.text_area :comments, class: 'form-control', style: 'vertical-align:middle' %>
              </div>
            <% end %>
              </div>
            </div>
            <div class="modal-footer text-end">
              <%= f.submit I18n.t("global.save"), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    FormInitializer.init($("#user_kyc_form"));
    $('[name="user_kyc[nri]"]').change(function(){
      if($(this).val() == "true"){
        $(".nri-fields").show();
      }else{
        $(".nri-fields").hide();
      }
    });
    $('[name="user_kyc[poa]"]').change(function(){
      if($(this).val() == "true"){
        $(".poa-fields").show();
      }else{
        $(".poa-fields").hide();
      }
    });
    $('[name="user_kyc[is_company]"]').change(function(){
      if($(this).val() == "true"){
        $(".company-fields").show();
      }else{
        $(".company-fields").hide();
      }
    });
    $('[name="user_kyc[existing_customer]"]').change(function(){
      if($(this).val() == "true"){
        $(".customer-fields").show();
      }else{
        $(".customer-fields").hide();
      }
    });
    $('[name="user_kyc[bank_detail_attributes][loan_required]').change(function(){
      if($(this).val() == "true"){
        $(".loan-fields").removeClass('hidden');
      }else{
        $(".loan-fields").addClass('hidden');
      }
    });
    $('[name="user_kyc[is_company]"]').trigger("change");
    $('[name="user_kyc[nri]"]').trigger("change");
    $('[name="user_kyc[poa]"]').trigger("change");
    $('[name="user_kyc[existing_customer]"]').trigger("change");
  });
</script>
