<%= simple_form_for(@user_kyc, local: true, url: url, remote: true, html: { novalidate: false, class: 'modal-remote-form validate-form', data: { 'resource-type': UserKyc.model_name.human, type: :json }, id: 'user_kyc_form' } ) do |f| %>
  <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content theme-form">
        <div class="modal-header">
          <h3 class="title">
            <%= t("helpers.#{action_name}.link_name", model: UserKyc.model_name.human) %>
            </h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body theme-form">
          <div class="row">
            <%= f.input :salutation, collection: UserKyc.available_salutations.collect{|x| [x[:text], x[:id]]}, prompt: :translate, required: true, wrapper_html: { class: 'col-md-2' } %>

            <%= f.input :first_name, required: true, wrapper_html: { class: 'col-md-5' } %>

            <%= f.input :last_name, required: true, wrapper_html: { class: 'col-md-5'} %>
          </div>

          <div class="row">
            <%= f.input :phone, required: true, wrapper_html: { class: 'col-md-6' }, inner_html: { class: 'phone' } %>
            <%= f.input :email, as: :email, required: true, wrapper_html: { class: 'col-md-6' } %>
          </div>

          <div class="row">
            <%= f.input :pan_number, required: true, wrapper_html: { class: 'col-md-6' } %>
            <%= f.input :aadhaar, wrapper_html: { class: 'col-md-6' } %>
          </div>

          <div class="row">
            <div class="col-md-6">
              <%= f.label :configurations, class: 'control-label' %>
              <%= f.select :configurations, UserKyc.available_configurations(@user_kyc.lead_id.to_s).collect{|x| [x[:text], x[:id]] }, {prompt: "Select"}, class: 'selectize', multiple: true, disabled: !policy(@user_kyc).editable_field?("configurations") %>

            </div>
            <div class="col-md-6">
              <div class="row">
                <%= f.input :budget, wrapper_html: { class: "" } %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <%= f.label :preferred_floors, class: 'control-label' %>
              <%= f.select :preferred_floors, UserKyc.available_preferred_floors.collect{|x| [x[:text], x[:id]]}, {prompt: "Select"}, class: 'selectize', multiple: true, disabled: !policy(@user_kyc).editable_field?("preferred_floors") %>
            </div>
            <div class="col-md-6">
              <%= f.input :number_of_units %>
            </div>
          </div>

          <!-- TO DO - Add addresses input fields - Multiproject phase 2 -->

          <% if params[:project_unit_id].present? %>
            <%
              @user_kyc.project_unit_ids += [params[:project_unit_id]]
              @user_kyc.project_unit_ids.uniq!
            %>
          <% end %>

          <% if @lead.project_unit_ids.present? && (@user_kyc.persisted? || !current_user.buyer?) %>
            <div class="mb-3 position-relative">
              <%= f.label :project_unit_ids %>
              <%= f.select :project_unit_ids, @lead.project_units.collect{|x| [x.name, x.id]}, {prompt: "Select"}, class: 'selectize', multiple: true %>
            </div>
          <% end %>

          <% if !defined?(small) || small == false %>
            <div class="card mt-3">
              <div class="card-header">
                Other Details
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3 position-relative">
                      <!-- TODO: check if you want to restrict the dob to 18 years age -->
                      <%= f.label :dob %>
                      <% date = (f.object.dob.present? ? f.object.dob.strftime("%d/%m/%Y") : "") %>
                      <%= f.text_field :dob, class: 'form-control datepicker', type:'text', data: {"default-date": date}, value: date %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <%= f.label :education_qualification %>
                      <%= f.text_field :education_qualification, class: 'form-control' %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <%= f.label :designation %>
                      <%= f.text_field :designation, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <%= f.label :customer_company_name %>
                      <%= f.text_field :customer_company_name, class: 'form-control' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <div class="card-header">
                NRI Related Details
              </div>
              <div class="card-body">
                <div class="mb-3">
                  <%= f.label :nri %>
                  <div class="form-check form-check-inline">
                    <%= f.radio_button :nri, true, class: "form-check-input wd-22" %>
                    <%= f.label :nri, "Yes", class: "form-check-label d-inline-block ms-2" %>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= f.radio_button :nri, false, class: "form-check-input wd-22" %>
                    <%= f.label :nri, "No", class: "form-check-label d-inline-block ms-2" %>
                  </div>
                </div>
                <div class="mb-3 nri-fields">
                  <%= f.label :oci %>
                  <%= f.text_field :oci, class: 'form-control' %>
                </div>
                <div class="mb-3 nri-fields">
                  <%= f.label :poa %>
                  <div class="form-check form-check-inline">
                    <%= f.radio_button :poa, true, class: "form-check-input wd-22" %>
                    <%= f.label :poa, "Yes", class: "form-check-label d-inline-block ms-2" %>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= f.radio_button :poa, false, class: "form-check-input wd-22" %>
                    <%= f.label :poa, "No", class: "form-check-label d-inline-block ms-2" %>
                  </div>
                </div>
                <div class="nri-fields">
                  <div class="mb-3 poa-fields">
                    <%= f.label :poa_details %>
                    <%= f.text_field :poa_details, class: 'form-control' %>
                  </div>
                  <div class="mb-3 poa-fields">
                    <%= f.label :poa_details_phone_no %>
                    <%= f.text_field :poa_details_phone_no, class: 'phone form-control' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <div class="card-header">
                Corporate Details (If Any)
              </div>
              <div class="card-body">
                <div class="mb-3">
                  <%= f.label :is_company %>
                  <div class="form-check form-check-inline">
                    <%= f.radio_button :is_company, true, class: "form-check-input wd-22" %>
                    <%= f.label :is_company, "Yes", class: "form-check-label d-inline-block ms-2" %>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= f.radio_button :is_company, false, class: "form-check-input wd-22" %>
                    <%= f.label :is_company, "No", class: "form-check-label d-inline-block ms-2" %>
                  </div>
                </div>
                <div class="mb-3 company-fields">
                  <%= f.label :gstn %>
                  <%= f.text_field :gstn, class: 'form-control' %>
                </div>
                <div class="mb-3 company-fields">
                  <%= f.label :company_name %>
                  <%= f.text_field :company_name, class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <div class="card-header">
                Bank Details
              </div>
              <div class="card-body">
                <% f.object.build_bank_detail if f.object.bank_detail.blank? %>
                <%= f.fields_for :bank_detail do |bank_detail_form| %>
                  <%= render "bank_details/form_fields", f: bank_detail_form %>
                <% end %>
              </div>
            </div>
            <div class="card mt-3">
              <div class="card-header">
                Existing Customer?
              </div>
              <div class="card-body">
                <div class="mb-3">
                  <%= f.label :existing_customer %>
                  <div class="form-check form-check-inline">
                    <%= f.radio_button :existing_customer, true, class: "form-check-input wd-22" %>
                    <%= f.label :existing_customer, "Yes", class: "form-check-label d-inline-block ms-2" %>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= f.radio_button :existing_customer, false, class: "form-check-input wd-22" %>
                    <%= f.label :existing_customer, "No", class: "form-check-label d-inline-block ms-2" %>
                  </div>
                </div>
                <div class="mb-3 customer-fields">
                  <%= f.label :existing_customer_name %>
                  <%= f.text_field :existing_customer_name, class: 'form-control' %>
                </div>
                <div class="mb-3 customer-fields">
                  <%= f.label :existing_customer_project %>
                  <%= f.text_field :existing_customer_project, class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="mt-3"></div>
            <div class="mb-3">
              <%= f.label :comments, class: 'control-label', style: 'vertical-align:middle' %>
              <%= f.text_area :comments, class: 'form-control', style: 'vertical-align:middle' %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer text-end">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    FormInitializer.init($("#user_kyc_form"));
    $('[name="user_kyc[nri]"]').change(function(){
      if($(this).val() == "true"){
        $(".nri-fields").show();
      }else{
        $(".nri-fields").hide();
      }
    });
    $('[name="user_kyc[poa]"]').change(function(){
      if($(this).val() == "true"){
        $(".poa-fields").show();
      }else{
        $(".poa-fields").hide();
      }
    });
    $('[name="user_kyc[is_company]"]').change(function(){
      if($(this).val() == "true"){
        $(".company-fields").show();
      }else{
        $(".company-fields").hide();
      }
    });
    $('[name="user_kyc[existing_customer]"]').change(function(){
      if($(this).val() == "true"){
        $(".customer-fields").show();
      }else{
        $(".customer-fields").hide();
      }
    });
    $('[name="user_kyc[is_company]"]').trigger("change");
    $('[name="user_kyc[nri]"]').trigger("change");
    $('[name="user_kyc[poa]"]').trigger("change");
    $('[name="user_kyc[existing_customer]"]').trigger("change");
  });
</script>
