<div class="table-responsive">
  <table class='table striped-table' width="100%" cellpadding="10" cellspacing="0">
    <thead class="th-default">
      <% labels = t('mongoid.attributes.user_kyc').with_indifferent_access %>
      <tr>
        <th><%= labels['name'] %></th>
        <th><%= labels['user_id'] %></th>
        <th><%= "#{labels['phone']} & #{labels['email']}" %></th>
        <th><%= labels['dob_short'] %></th>
        <th><%= labels['pan_number'] %></th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% user_kycs.each do |user_kyc| %>
      <tr>
        <td><%= user_kyc.name %></td>
        <td>
          <% if UserPolicy.new(current_user, user_kyc.user).show? %>
            <%= link_to user_kyc.user.name, admin_user_path(user_kyc.user_id) %>
          <% else %>
            <%= user_kyc.user.name %>
          <% end %>
        </td>
        <td>
          <i class="far fa-envelope"></i> <%= user_kyc.email %><br /> <i class="fas fa-mobile-alt"></i> <%= user_kyc.phone %>
        </td>
        <td><%= user_kyc.dob.strftime("%d %b %Y") rescue "" %></td>
        <td><%= user_kyc.pan_number %></td>
        <td class="text-right">
          <div class="dropdown">
            <a class="btn btn-light dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu dropdown-menu-right">
              <% if current_user.buyer? && Buyer::UserKycPolicy.new(current_user, user_kyc).edit? %>
                <%= link_to 'Edit', edit_buyer_user_kyc_path(user_kyc), class: 'dropdown-item modal-remote-form-link', data:{event_category: 'Section', event_action: 'Click', event_name: 'Edit User KYC'} %>
              <% elsif Admin::UserKycPolicy.new(current_user, user_kyc).edit? %>
                <%= link_to 'Edit', edit_admin_user_user_kyc_path(@user, user_kyc), class: 'dropdown-item modal-remote-form-link', data:{event_category: 'Section', event_action: 'Click', event_name: 'Edit User KYC'} %>
              <% end %>
              <% if policy([ current_user_role_group, Asset.new(assetable: user_kyc)]).index? %>
                <%= link_to 'Documents', assetables_path(assetable_type: user_kyc.class.model_name.i18n_key.to_s, assetable_id: user_kyc.id), class: 'dropdown-item modal-remote-form-link' %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
      <tr>
        <td colspan="6">
          <div class="mt-5 pt-5"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%= will_paginate user_kycs, list_classes: %w(pagination justify-content-center) %>
