<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <thead>
      <tr class="bg-gradient-cd white">
        <th><%= t('mongoid.attributes.user_kyc.name') %></th>
      <th><%= t('mongoid.attributes.user_kyc.user_id') %></th>
      <th><%= "#{ t('mongoid.attributes.user_kyc.phone') } & #{ t('mongoid.attributes.user_kyc.email')}" %></th>
      <th><%= t('mongoid.attributes.user_kyc.dob') %></th>
      <th><%= t('mongoid.attributes.user_kyc.pan_number') %></th>
      <th class="text-right"><%= t('global.action', count: 3) %></th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% user_kycs.each do |user_kyc| %>
      <tr>
        <td><%= user_kyc.name %></td>
        <td>
          <% if policy([:admin, User.new]).show? %>
            <%= link_to user_kyc.user.name, admin_user_path(user_kyc.user_id) %>
          <% else %>
            <%= user_kyc.user.name %>
          <% end %>
        </td>
        <td>
          <i class="far fa-envelope"></i> <%= user_kyc.email %><br /> <i class="fas fa-mobile-alt"></i> <%= user_kyc.phone %>
        </td>
        <td><%= user_kyc.dob.strftime("%d %b %Y") rescue "" %></td>
        <td><%= user_kyc.pan_number %></td>
        <td>
          <div class="dropdown show text-right">
          <a class="btn dropdown-toggle table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <% if current_user.buyer? && Buyer::UserKycPolicy.new(current_user, user_kyc).edit? %>
                <%= link_to t('helpers.edit.link_name', model: UserKyc.model_name.human), edit_buyer_user_kyc_path(user_kyc), class: 'dropdown-item modal-remote-form-link', data:{event_category: 'Section', event_action: 'Click', event_name: 'Edit User KYC'} %>
              <% elsif Admin::UserKycPolicy.new(current_user, user_kyc).edit? %>
                <%= link_to t('helpers.edit.link_name', model: UserKyc.model_name.human), edit_admin_user_user_kyc_path(@user, user_kyc), class: 'dropdown-item modal-remote-form-link', data:{event_category: 'Section', event_action: 'Click', event_name: 'Edit User KYC'} %>
              <% end %>
              <% if policy([:admin, UserKyc.new]).show? %>
                <%= link_to t('helpers.show.link_name', model: UserKyc.model_name.human), admin_user_kyc_path(user_kyc), class: 'dropdown-item' %>
              <% end %>
              <% if policy([ current_user_role_group, Asset.new(assetable: user_kyc)]).index? %>
                <%= link_to t('controller.assets.index.link_name'), assetables_path(assetable_type: user_kyc.class.model_name.i18n_key.to_s, assetable_id: user_kyc.id), class: 'dropdown-item modal-remote-form-link' %>
              <% end %>
           </div>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pt-2">
  <%= will_paginate user_kycs, list_classes: %w(pagination justify-content-center) %>
</div>
