<% kyc_labels = t("mongoid.attributes.user_kyc").with_indifferent_access %>
<div class="row">
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:name] %></label>
      <div><%= link_to user_kyc.name, [current_user_role_group, user_kyc.lead] %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:pan_number] %></label>
      <div><%= user_kyc.pan_number || "-" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:aadhaar] %></label>
      <div><%= user_kyc.aadhaar || "-" %></div>
    </div>
  </div>
  <% user_kyc.addresses.each do |address| %>
    <div class="col-md-4">
      <div class="mb-3">
        <label class="small text-muted"><%= address.address_type.titleize %> Address</label>
        <div><%= address.to_sentence || "-" %></div>
      </div>
    </div>
  <% end %>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:number_of_units] %></label>
      <div><%= user_kyc.number_of_units.present? ? user_kyc.number_of_units : "-" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:preferred_floors] %></label>
      <div><%= user_kyc.preferred_floors.collect{|x| UserKyc.available_preferred_floors.find{|t| t[:id] == x}[:text]}.to_sentence || "-" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:preferred_floor_band] %></label>
      <div><%= user_kyc.preferred_floor_band.collect{|x| I18n.t("mongoid.attributes.project_unit.floor_bands.#{x}")}.to_sentence || "-" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:configurations] %></label>
      <div><%= user_kyc.configurations.collect{|x| UserKyc.available_configurations(user_kyc.lead_id.to_s).find{|t| t[:id] == x}.try(:[], :text)}.to_sentence %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:budget] %></label>
      <div><%= user_kyc.budget %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:dob] %></label>
      <div><%= user_kyc.dob.present? ? l(user_kyc.dob) : "-" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:anniversary] %></label>
      <div><%= user_kyc.anniversary.present? ? user_kyc.anniversary : "-" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:education_qualification] %></label>
      <div><%= user_kyc.education_qualification.present? ? user_kyc.education_qualification : "-" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:designation] %></label>
      <div><%= user_kyc.designation.present? ? user_kyc.designation : "-" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:customer_company_name] %></label>
      <div><%= user_kyc.customer_company_name.present? ? user_kyc.customer_company_name : "-" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:nri] %></label>
      <div><%= user_kyc.nri ? "Yes (#{kyc_labels[:oci]}: #{user_kyc.oci})" : "No" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:poa] %></label>
      <div><%= user_kyc.poa ? "Yes" : "No" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:poa_details] %></label>
      <div><%= user_kyc.poa_details.present? ? user_kyc.poa_details : "-" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:poa_details_phone_no] %></label>
      <div><%= user_kyc.poa_details_phone_no.present? ? user_kyc.poa_details_phone_no : "-" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:is_company] %></label>
      <div><%= user_kyc.is_company ? "Yes" : "No" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:company_name] %></label>
      <div><%= user_kyc.company_name.present? ? user_kyc.company_name : "-" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:gstn] %></label>
      <div><%= user_kyc.gstn.present? ? user_kyc.gstn : "-" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:existing_customer] %></label>
      <div><%= user_kyc.existing_customer ? "Yes" : "No" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:existing_customer_name] %></label>
      <div><%= user_kyc.existing_customer_name.present? ? user_kyc.existing_customer_name : "-" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:existing_customer_project] %></label>
      <div><%= user_kyc.existing_customer_project.present? ? user_kyc.existing_customer_project : "-" %></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <label class="small text-muted"><%= kyc_labels[:creator] %></label>
      <div><%= user_kyc.creator_id.present? ? user_kyc.creator.name : "-" %></div>
    </div>
  </div>
</div>
