<div class="card h-100">
  <div class="card-body">
    <%= form_tag admin_schemes_path, method: "get", id: "scheme_search_form" do %>
      <div class="filter-content">
        <div class="row">
          <div class="form-group col-lg-6 col-xs-12 col-md-6 col-sm-12">
            <%= label_tag "fltrs", "Name", class: "control-label" %>
            <%= select_tag "fltrs[name]", options_for_select((params[:fltrs].present? && params[:fltrs][:name].present?) ? [[params[:fltrs][:name], params[:fltrs][:name]]] : []), {class: "selectize-remote", data: {url: admin_schemes_path }} %>
          </div>
          <div class="form-group col-lg-6 col-xs-12 col-md-6 col-sm-12">
            <%= label_tag "fltrs", "status", class: "control-label" %>
            <%= select_tag "fltrs[status]", options_for_select(BookingDetailScheme.aasm.states.collect(&:name).collect{|x| [x.to_s.titleize, x.to_s]}, (params[:fltrs].present? ? params[:fltrs][:status] : "")), {prompt: "Select", class: "selectize"} %>
          </div>
        </div>
      </div>
      <div class="filter-footer">
        <%= submit_tag :Apply, class: "f-save-btn db-small-btn white bg-light-blue fn-500 float-right" %>
        <button type="button" class="f-cancel-btn db-small-btn light-blue bg-white fn-500 float-right">Cancel</button>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#scheme_search_form"));
  });
<% end %>
