<div class="mb-3">
  <% _params = {fltrs: { project_id: booking_detail.project_id, project_tower_id: booking_detail.project_unit.project_tower_id, can_be_applied_by: current_user.role, user_role: booking_detail.user.role, user_id: booking_detail.user_id, status: 'approved' } } %>
  <%= f.label :derived_from_scheme_id, class: 'control-label' %>
  <%= f.select :derived_from_scheme_id, options_from_collection_for_select(Scheme.build_criteria(_params), 'id', 'name', f.object.derived_from_scheme_id), {prompt: I18n.t("global.select") }, class: 'selectize-remote', required: 'required', autofocus: true, data: { url: current_user.buyer? ? buyer_schemes_path : admin_schemes_path, params: _params }%>
</div>
<%= f.hidden_field :booking_detail_id %>
<%= f.hidden_field :project_unit_id %>
<%= f.hidden_field :user_id %>
<div class="non-editable-payment-adjustments">
  <% booking_detail_scheme.non_editable_payment_adjustments.each do |payment_adjustment| %>
    <table class="table table-responsive table-color">
      <thead>
        <tr>
          <th><%= I18n.t("mongoid.attributes.booking_detail_scheme.name") %></th>
          <th><%= I18n.t("mongoid.attributes.booking_detail_scheme.field") %></th>
          <th><%= I18n.t("mongoid.attributes.booking_detail_scheme.value") %></th>
        </tr>
        <tbody>
          <tr>
            <td><%= payment_adjustment.name %></td>
            <td><%= payment_adjustment.field.humanize %></td>
            <td><%= payment_adjustment.value(booking_detail.project_unit) %></td>
            </tr>
        </tbody>
      </thead>
    </table>     
  <% end %>
</div>
<% editable_payment_adjustment = policy([ current_user_role_group, booking_detail_scheme]).editable_field?("payment_adjustments_attributes") %>
<div class="payment-adjustments theme-form">
  <%= f.fields_for :payment_adjustments, booking_detail_scheme.editable_payment_adjustments do |adj| %>
    <% if editable_payment_adjustment %>
    <span class="col-12 d-block text-end">
      <%= adj.link_to_remove icon("fas", "trash") %>
      </span>
    <% end %>
    <%= adj.hidden_field :editable, value: true %>
    <div class="row">
      <div class="col-md-12">
        <div class="mb-3">
          <%= adj.label :name, class: 'label-required' %>
          <%= adj.text_field :name, class: "form-control", required: 'required', disabled: !editable_payment_adjustment %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="mb-3">
          <%= adj.label :field, class: 'label-required' %>
          <%= adj.select :field, Scheme::FIELDS.collect{|sf| [t("mongoid.attributes.payment_adjustment/field.#{sf}"), sf]}, {prompt: I18n.t("global.select")}, class: 'form-control -tags', required: 'required', disabled: !editable_payment_adjustment %>
        </div>
      </div>
    </div>
    <div class="mb-3 col-12">
      <%= adj.label :absolute_value_type, class: 'label-required' %>
      <%= adj.select :absolute_value_type, ["+", "-"], selected: "-", class: "selectize", required: 'required', disabled: !editable_payment_adjustment %>
    </div>
    <div class="mb-3 col-12">
      <%= adj.label :absolute_value, class: 'label-required' %>
      <%= adj.number_field :absolute_value, value: (adj.object.absolute_value.try(:abs)), class: "form-control", min: 1, required: 'required', disabled: !editable_payment_adjustment %>
      <p class="small text-muted"><%= I18n.t("controller.project_units.total_adjustment") %></p>
    </div>
    <div class="mb-3">
      <%#= adj.label :formula, class: 'label-required' %>
      <%#= adj.text_field :formula, class: "form-control", disabled: !editable_payment_adjustment %>
      <!-- <p class="small text-muted"><%= I18n.t("controller.project_units.total_adjustment") %></p>
    --> </div>
  <% end %>
</div>
<% if editable_payment_adjustment %>
  <%= f.link_to_add I18n.t("controller.project_units.adjustments.link_name"), :payment_adjustments, :data => { :target => ".payment-adjustments" } %>
<% end %>
</br>
<% if policy([current_user_role_group, booking_detail_scheme]).editable_field?("event") && action_name != 'checkout' %>
  <div class="mb-3 theme-form">
    <%= f.label :status, class: 'label-required' %>
    <%
      events = booking_detail_scheme.aasm.events(permitted: true).collect{|x| x.name.to_s}
      events = events.collect{|x| [x.to_s.titleize, x.to_s] }
    %>
    <%= f.select :event, options_for_select(events, booking_detail_scheme.status), {prompt: I18n.t("global.select")}, class: 'selectize', required: "required" %>
  </div>
<% end %>

<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#scheme_form"));
  var payment_adjustment_html = function(record){
    return '<table class="table table-responsive table-color rounded">\
      <thead>\
        <tr><th><%= I18n.t("mongoid.attributes.booking_detail_scheme.name") %></th><th><%= I18n.t("mongoid.attributes.booking_detail_scheme.field") %></th><th><%= I18n.t("mongoid.attributes.booking_detail_scheme.value") %></th>\
      </tr>\
      <tr>\
        <td>' + record.name + '</td>\
        <td>' + record.field + '</td>\
        <td>' + record.value + '</td>\
      </tr>\
      </thead>\
    </table>'
  }
  $('[name="booking_detail_scheme[derived_from_scheme_id]"]').change(function(){
    $(".non-editable-payment-adjustments").html("");
    $(".payment-adjustments").html("");
    $.ajax({
      url: "/admin/schemes/" + $(this).val() + "/payment_adjustments_for_unit",
      type: "GET",
      dataType: 'json',
      data: {
        project_unit_id: "<%= booking_detail.project_unit.id %>"
      },
      success: function(data, xhr, status){
        _.each(data, function(record){
          var html = payment_adjustment_html(record);
          $(".non-editable-payment-adjustments").append(html);
        })
      }, error: function(){

      }
    })
  })
});
<% end %>
