<div class="table-responsive">
  <table class='table striped-table payment-breakup' width="100%" cellpadding="10" cellspacing="0">
    <thead class="th-default">
      <% labels = t('mongoid.attributes.scheme').with_indifferent_access %>
      <tr>
        <th><%= labels['name'] %></th>
        <th><%= labels['status'] %></th>
        <th class="text-right"><%= I18n.t("global.link_to.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% schemes.each do |scheme| %>
        <tr>
          <td>
            <%= scheme.name %>
            <div class="small">
              Created:
              <%= scheme.created_by.present? ? scheme.created_by.name : '-' %>
            </div>
            <div class="small">
              Approval:
              <%= scheme.approved_by.present? ? "#{scheme.approved_by.name} at #{scheme.approved_at.present? ? l(scheme.approved_at.in_time_zone(current_user.time_zone)) : '-'}".html_safe : '-' %>
            </div>
          </td>
          <td><%= scheme.status %></td>
          <td class="text-right">
            <div class="dropdown">
              <a class="btn btn-light" href="javascript:;" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v txt-light-blue" aria-hidden="true"></i></a>
              <div class="dropdown-menu dropdown-menu-right">
                <% if Admin::SchemePolicy.new(current_user, scheme).edit? %>
                  <%= link_to I18n.t("global.edit"), edit_admin_scheme_path(scheme), class: 'dropdown-item modal-remote-form-link' %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate schemes, list_classes: %w(pagination justify-content-center) %>
