<div class="container">
  <div class="row justify-content-center">
    <div class="<%= @scheme.blank? ? 'col-md-9' : 'col-md-12' %>">
      <%= render 'breadcrumbs', {scheme: @scheme} %>
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-7">
              <% if SchemePolicy.new(current_user, Scheme.new).new? %>
                <%= link_to "Add #{global_labels['scheme']}", new_admin_scheme_path, class: 'btn btn-primary modal-remote-form-link' %>
              <% end %>
            </div>
            <div class="col-md-5 text-md-right">
              <h6 class="mt-2">Total <%= global_labels[:schemes] %>: <%= @schemes.total_entries %></h6>
            </div>
          </div>
          <%= render 'index', {schemes: @schemes} %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-md-none mt-3"></div>
      <%= render "filters" %>
    </div>
  </div>
</div>
