<!-- TO-DO - Add sourcing manager directory and move this there -->
<div class="box-card relative table-responsive mb-5">
  <table class="table my-customer-table responsive-tbl mb-0">
    <thead class="th-default">
      <tr class="bg-primary white">
        <th><%= t("mongoid.attributes.user/role.cp") %></th>
        <th><%= Lead.model_name.human(count: 2) %></th>
        <th><%= t('mongoid.attributes.site_visit/status.scheduled') %><br> <%= SiteVisit.model_name.human(count: 2) %></th>
        <th><%= t('mongoid.attributes.site_visit/status.conducted') %><br> <%= SiteVisit.model_name.human(count: 2) %></th>
        <th><%= t('mongoid.attributes.site_visit/status.pending') %><br> <%= SiteVisit.model_name.human(count: 2) %></th>
        <th><%= t('mongoid.attributes.site_visit/approval_status.approved') %><br> <%= SiteVisit.model_name.human(count: 2) %></th>
        <th><%= t('mongoid.attributes.site_visit/approval_status.rejected') %><br> <%= SiteVisit.model_name.human(count: 2) %></th>
        <th><%= BookingDetail.model_name.human(count: 2) %></th>
        <th><%= t('mongoid.attributes.booking_detail.agreement_price') %></th>
      </tr>
    </thead>
    <tbody>
      <% @cps.each do |cp| %>
        <tr>
          <td data-title='Sourcing manager Name'><%= cp.name %></td>
          <td data-title='Walk ins'><%= link_to @leads[cp.id] || 0, admin_leads_path(fltrs: {cp_manager_id: cp.id, created_at: params[:dates], project_ids: params[:project_ids]}) %></td>
          <td data-title='Scheduled <%= SiteVisit.model_name.human(count: 2) %>'><%= link_to @site_visits.dig('scheduled', cp.id.to_s) || 0, admin_site_visits_path(fltrs: {status: 'scheduled', cp_manager_id: cp.id, scheduled_on: params[:dates], project_idss: params[:project_idss]}) %></td>
          <td data-title='Conducted <%= SiteVisit.model_name.human(count: 2) %>'><%= link_to @site_visits.dig('conducted', cp.id.to_s) || 0, admin_site_visits_path(fltrs: {status: 'conducted', cp_manager_id: cp.id, scheduled_on: params[:dates], project_idss: params[:project_idss]}) %></td>
          <td data-title='Pending <%= SiteVisit.model_name.human(count: 2) %>'><%= link_to @site_visits.dig('pending', cp.id.to_s) || 0, admin_site_visits_path(fltrs: {approval_status: 'pending', cp_manager_id: cp.id, scheduled_on: params[:dates], project_idss: params[:project_idss]}) %></td>
          <td data-title='Approved <%= SiteVisit.model_name.human(count: 2) %>'><%= link_to @site_visits.dig('approved', cp.id.to_s) || 0, admin_site_visits_path(fltrs: {approval_status: 'approved', cp_manager_id: cp.id, scheduled_on: params[:dates], project_idss: params[:project_idss]}) %></td>
          <td data-title='Rejected <%= SiteVisit.model_name.human(count: 2) %>'><%= link_to @site_visits.dig('rejected', cp.id.to_s) || 0, admin_site_visits_path(fltrs: {approval_status: 'rejected', cp_manager_id: cp.id, scheduled_on: params[:dates], project_idss: params[:project_idss]}) %></td>
          <td data-title='Bookings'><%= link_to @bookings.dig(cp.id, :count) || 0, admin_booking_details_path(fltrs: {cp_manager_id: cp.id, created_at: params[:dates], project_idss: params[:project_idss]}) %></td>
          <td class='non-action-td' data-title='Agreement Value'><%= number_to_inr(@bookings.dig(cp.id, :sales_revenue) || 0)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
