<% total_incentive_data = @incentive_data.pluck(:total_capped_incentive).sum %>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd mb-5">
  <div class="box-card relative table-responsive" id="dashboard_project_wise_invoice_summary mb-5">
    <table class="table my-customer-table responsive-tbl mb-0 align-middle border rounded">
      <thead class="bg-primary white">
        <tr>
          <th class="text-center">Company Owner/Channel Partner</th>
          <th class="text-center">Variable Incentive Scheme</th>
          <th class="text-center">Capped Incentive</th>
        </tr>
      </thead>
      <tbody class='text-md-center'>
        <% if @incentive_data.present? %>
          <tr>
            <td rowspan="<%= @incentive_data.length + 1 %>" class='text-center border-end bg-primary white align-middle'><%= @incentive_data.first[:user_name] %></td>
          </tr>
          <% @incentive_data.each do |data| %>
            <tr>
              <td class="text-right">
                <%= data[:variable_incentive_scheme_name] %>
              </td>
              <td>
                <%= data[:total_capped_incentive] %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td rowspan="1" class='text-center border-end bg-primary white align-middle'><strong>Total</strong></td>
            <td><strong>-</strong></td>
            <td><strong>
                  <%= total_incentive_data %>
            </strong></td>
          </tr>
        <% else %>
          <tr>
            <td colspan="3">No Records Found</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>