<!-- TO-DO - Add sourcing manager directory and move this there -->
<div class="box-card relative table-responsive mb-5">
  <table class="table my-customer-table responsive-tbl mb-0">
    <thead class="th-default">
      <tr class="bg-primary white">
        <th><%= t("mongoid.attributes.user/role.cp") %></th>
        <th><%= t("dashboard.cp_admin.cp_status.inactive_html") %></th>
        <th><%= t("dashboard.cp_admin.cp_status.active_html") %></th>
        <th><%= t("dashboard.cp_admin.cp_status.pending_html") %></th>
        <th><%= t("dashboard.cp_admin.cp_status.rejected_html") %></th>
        <th><%= t("global.total") %></th>
      </tr>
    </thead>
    <tbody>
      <% @cp_managers_hash.each do |cp_id, cp_name| %>
        <tr>
          <% if @channel_partners_manager_status_count.key?(cp_id) %>
            <td data-title='<%= t("mongoid.attributes.user/role.cp") %>'><%= link_to cp_name, channel_partners_path(fltrs: {manager_id: (cp_id == 'No Manager' ? 'nil' : cp_id)}) %></td>
            <td data-title='<%= t("dashboard.cp_admin.cp_status.inactive") %>'><%= link_to((@channel_partners_manager_status_count[cp_id]["inactive"] ? @channel_partners_manager_status_count[cp_id]["inactive"] : 0), channel_partners_path(fltrs: {manager_id: (cp_id == 'No Manager' ? 'nil' : cp_id), status: 'inactive', created_at: @dates})) %></td>
            <td data-title='<%= t("dashboard.cp_admin.cp_status.active") %>'><%= link_to((@channel_partners_manager_status_count[cp_id]["active"] ? @channel_partners_manager_status_count[cp_id]["active"] : 0), channel_partners_path(fltrs: {manager_id: (cp_id == 'No Manager' ? 'nil' : cp_id), status: 'active', created_at: @dates})) %></td>
            <td data-title='<%= t("dashboard.cp_admin.cp_status.pending") %>'><%= link_to((@channel_partners_manager_status_count[cp_id]["pending"] ? @channel_partners_manager_status_count[cp_id]["pending"] : 0), channel_partners_path(fltrs: {manager_id: (cp_id == 'No Manager' ? 'nil' : cp_id), status: 'pending', created_at: @dates})) %></td>
            <td data-title='<%= t("dashboard.cp_admin.cp_status.rejected") %>'><%= link_to((@channel_partners_manager_status_count[cp_id]["rejected"] ? @channel_partners_manager_status_count[cp_id]["rejected"] : 0), channel_partners_path(fltrs: {manager_id: (cp_id == 'No Manager' ? 'nil' : cp_id), status: 'rejected', created_at: @dates})) %></td>
            <td data-title='<%= t("global.total") %>'><%= @channel_partners_manager_status_count[cp_id]["count"] ? @channel_partners_manager_status_count[cp_id]["count"] : 0 %></td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td>Total</td>
        <% %w(inactive active pending rejected total).each do |status| %>
          <td><%= link_to @channel_partners_status_count[status] || 0, channel_partners_path(fltrs: {status: status, created_at: @dates}) %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
