<!-- TO-DO - Add sourcing manager directory and move this there -->
<div class="row">
  <div class="box-card col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-3">
  <div class="shadow rounded">
    <div class="box-header bg-primary rounded-top br-rd-tr-4 text-center">
      <h2 class="fn-18 font-normal white py-3"><%= Lead.model_name.human %> Active Partners</h2>
    </div>
    <div class="box-content br-rd-bl-4 bg-white py-3 text-center fix-ht rounded-bottom">
      <span class='cp-dashboard-box-font fn-24'>
        <%= @active_partners %>
      </span>
    </div>
    </div>
  </div>
  <div class="box-card col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-3">
  <div class="shadow rounded">
    <div class="box-header bg-primary rounded-top br-rd-tr-4 text-center">
      <h2 class="fn-18 font-normal white py-3"><%= BookingDetail.model_name.human %> Active Partners</h2>
    </div>
    <div class="box-content br-rd-bl-4 bg-white py-3 text-center fix-ht rounded-bottom">
      <span class='cp-dashboard-box-font fn-24' id = "booking_active_partners" >
        <%= @booking_active_partners %>
      </span>
    </div>
    </div>
  </div>
  <div class="box-card col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-3">
  <div class="shadow rounded">
    <div class="box-header bg-primary rounded-top br-rd-tr-4 text-center">
      <h2 class="fn-18 font-normal white py-3">Raised <%= Invoice.model_name.human(count: 2) %></h2>
    </div>
    <div class="box-content br-rd-bl-4 bg-white py-3 text-center fix-ht rounded-bottom">
      <span class='cp-dashboard-box-font fn-24'>
        <%= @raised_invoices %>
      </span>
    </div>
    </div>
  </div>
  <div class="box-card col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-3">
  <div class="shadow rounded">
    <div class="box-header bg-primary rounded-top br-rd-tr-4 text-center">
      <h2 class="fn-18 font-normal white py-3">Approved <%= Invoice.model_name.human(count: 2) %></h2>
    </div>
    <div class="box-content br-rd-bl-4 bg-white py-3 text-center fix-ht rounded-bottom">
      <span class='cp-dashboard-box-font fn-24'>
        <%= @approved_invoices %>
      </span>
    </div>
  </div>
  </div>
</div>
