<!-- TO-DO - Add sourcing manager directory and move this there -->
<div class="row">
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-3">
  <div class="shadow rounded">
    <div class="box-header bg-theme rounded-top br-rd-tr-4 text-center position-relative">
      <h2 class="fn-18 font-normal white py-1 position-absolute top-50 start-50 translate-middle wd-100 text-white"><%= SiteVisit.model_name.human +" "+ I18n.t("global.link_to.active_partners") %></h2>
    </div>
    <div class="box-content br-rd-bl-4 bg-white py-3 text-center rounded-bottom">
      <span class='cp-dashboard-box-font fn-24'>
        <%= @active_partners %>
      </span>
    </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-3">
  <div class="shadow rounded">
    <div class="box-header bg-theme rounded-top br-rd-tr-4 text-center position-relative">
      <h2 class="fn-18 font-normal white py-1 position-absolute top-50 start-50 translate-middle wd-100 text-white"><%= BookingDetail.model_name.human +" "+ I18n.t("global.link_to.active_partners") %></h2>
    </div>
    <div class="box-content br-rd-bl-4 bg-white py-3 text-center rounded-bottom">
      <span class='cp-dashboard-box-font fn-24' id = "booking_active_partners" >
        <%= @booking_active_partners %>
      </span>
    </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-3">
  <div class="shadow rounded">
    <div class="box-header bg-theme rounded-top br-rd-tr-4 text-center position-relative">
      <h2 class="fn-18 font-normal white py-1 position-absolute top-50 start-50 translate-middle wd-100 text-white">Raised <%= Invoice.model_name.human(count: 2) %></h2>
    </div>
    <div class="box-content br-rd-bl-4 bg-white py-3 text-center rounded-bottom">
      <span class='cp-dashboard-box-font fn-24'>
        <%= @raised_invoices %>
      </span>
    </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-3">
  <div class="shadow rounded">
    <div class="box-header bg-theme rounded-top br-rd-tr-4 text-center position-relative">
      <h2 class="fn-18 font-normal white py-1 position-absolute top-50 start-50 translate-middle wd-100 text-white">Approved <%= Invoice.model_name.human(count: 2) %></h2>
    </div>
    <div class="box-content br-rd-bl-4 bg-white py-3 text-center rounded-bottom">
      <span class='cp-dashboard-box-font fn-24'>
        <%= @approved_invoices %>
      </span>
    </div>
  </div>
  </div>
</div>
