<section class="project-unit my-4 mb-4">
  <div class="container project-unit-overview p-0">
    <div class="box-card">
      <div class="box-header bg-gradient br-rd-tr-4">
        <h2 class="icon-set icon-home-white">
          <%= ProjectUnit.model_name.human %>
        </h2>
        <div class="dropdown show text-center float-right">
          <a class="btn dropdown-toggle table-dropdown-btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <%= render "#{current_user_role_group}/project_units/links", project_unit: project_unit %>
          </div>
        </div>
      </div>
      <div class="box-content br-rd-bl-4 bg-white">
        <div class="row pd-box">
          <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <ul class="booking-apart-info">
              <li>
                <span><%= t('mongoid.attributes.project_unit.name') %></span>
                <p><%= project_unit.name %></p>
              </li>
              <li>
                <span><%= ProjectTower.model_name.human %></span>
                <p><%= project_unit.project_tower_name %></p>
              </li>

              <li>
                <span> <%= t('mongoid.attributes.project_unit.status') %></span>
                <p><%= t("mongoid.attributes.project_unit/status.#{project_unit.status}") %></p>
              </li>

              <li>
                <span>
                  <%= t('mongoid.attributes.project_unit.bedrooms') %>/
                  <%= t('mongoid.attributes.project_unit.bathrooms') %>
                </span>
                <p><%= project_unit.bedrooms %> / <%= project_unit.bathrooms %></p>
              </li>

              <li>
                <span><%= t('mongoid.attributes.project_unit.carpet') %></span>
                <p><%= project_unit.carpet %> <%= current_client.area_unit %></p>
              </li>

              <li>
                <span><%= t('mongoid.attributes.project_unit.floor') %></span>
                <p><%= project_unit.floor %></p>
              </li>

              <% if current_user.role?('superadmin') %>
                <li>
                  <span><%= t('mongoid.attributes.project_unit.saleable') %></span>
                  <p><%= project_unit.saleable %></p>
                </li>
              <% end %>

              <% if project_unit.blocked? || (defined?(scheme) && scheme.present?) %>
                <% if current_user.role?('superadmin') %>
                  <li>
                    <span><%= t('mongoid.attributes.project_unit.effective_rate') %></span>
                    <p><%= number_to_indian_currency(project_unit.effective_rate) %></p>
                  </li>

                  <li>
                    <span>
                      <%= t('mongoid.attributes.project_unit.base_rate') %>/
                      <%= t('mongoid.attributes.project_unit.floor_rise') %>
                    </span>
                    <p><%= number_to_indian_currency(project_unit.base_rate) %> / <%= project_unit.floor_rise %></p>
                  </li>
                <% end %>

                <li>
                  <span><%= t('mongoid.attributes.project_unit.agreement_price') %></span>
                  <p><%= number_to_indian_currency(project_unit.agreement_price) %></p>
                </li>

                <li>
                  <span><%= t('mongoid.attributes.project_unit.all_inclusive_price') %></span>
                  <p><%= number_to_indian_currency(project_unit.all_inclusive_price) %></p>
                </li>
              <% end %>

              <li>
                <span><%= Phase.model_name.human %></span>
                <p><%= project_unit.phase || '-' %></p>
              </li>

              <li>
                <span><%= t('mongoid.attributes.project_unit.comments') %></span>
                <p><%= project_unit.comments || '-' %></p>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
