<% project_units.each_with_index do |project_unit, index| %>
    <div class="col-12 booking-accordian-wrapper">
      <div class="booking-accordian" data-acc="book-<%= index %>">
        <div class="pull-left">
          <span class="title">Booking <%= index + 1 %></span>
        </div>
        <div class="pull-left">
          <span class="title">Tower Name: <%= project_unit.project_tower_name %></span><span class="title">Unit No: <%= project_unit.name %></span><span class="title">Floor: <%= project_unit.project_tower_name %></span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-12 booking-details-wrapper close" id="book-<%= index %>">
      <div class="booking-detail">
        <div class="title">Booking Details
            <% if current_user.role?("user") && project_unit.user == current_user %>
              <% if current_user.user_requests.where(project_unit_id: project_unit.id).blank? %>
                <a href="<%= new_admin_user_request_path(project_unit_id: project_unit.id) %>" class="pink small-link">Cancel Booking</a>
              <% else %>
                <span class="unit-cancelled">Cancellation Request Generated</span>
              <% end %>
            <% end %>
        </div>
        <div class="unit-booking-details">
          <div class="col-4">
            <div>Applicant:</div><div class="dark"><%= project_unit.user.name %></div>
          </div>
          <div class="col-4">
            <div>Built-up Area:</div><div class="dark"><%= project_unit.saleable.round(2) %> sq.ft</div>
          </div>
          <div class="col-4">
            <div>Super Built-up Area:</div><div class="dark"><%= project_unit.saleable.round(2) %> sq.ft</div>
          </div>
          <div class="col-4">
            <div>Unit Type:</div><div class="dark"><%= project_unit.bedrooms %> BHK - 2T - A</div><a href="<%= asset_path 'fp-type-2.jpg'%>" rel="floorplan" class="colorbox-init small-link">View Floor Plan</a>
          </div>
          <div class="col-4">
            <div>Carpet Area:</div><div class="dark"><%= project_unit.carpet.round(2) %> sq.ft</div>
          </div>
          <div class="col-4">
            <div>Unit View:</div><div class="dark"><%= project_unit.facing %></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- <div class="unit-booking-details">

          <div class="clearfix"></div>
        </div> -->
      </div>
      <div class="booking-detail light-purple">
        <div class="title">Payment Details</div>
        <div class="unit-booking-details">
          <div class="col-4">
            <div>All Inclusive Price:</div><div class="dark"><%= number_to_indian_currency(project_unit.base_price.round) %></div><a href="/dashboard/<%= project_unit.id %>/payment-breakup" class="small-link">Payment Break Up</a>
          </div>
          <div class="col-4">
            <div>Payment Done:</div><div class="dark"><%= number_to_indian_currency(project_unit.total_amount_paid.round) %></div>
          </div>
          <div class="col-4">
            <div>Booking Amount:</div><div class="dark"><%= number_to_indian_currency(project_unit.booking_price.round) %></div>
          </div>
          <div class="col-4">
            <div>Agreement Value:</div><div class="dark"><%= number_to_indian_currency(project_unit.base_price.round)%></div>
          </div>
          <div class="col-4">
            <div>Balance Payment:</div><div class="dark"><%= number_to_indian_currency(project_unit.user.total_balance_pending.round) %></div>
          </div>
          <div class="clearfix"></div>
          <!-- <div class="clearfix"></div> -->
        </div>
        <!-- <div class="unit-booking-details">
          <div class="col-4">
            <div>Agreement Value:</div><div class="dark">Rs. 54,49,500</div>
          </div>
          <div class="col-4">
            <div>Balance Payment:</div><div class="dark">Rs. <%= project_unit.user.total_balance_pending %></div>
          </div>
          <div class="clearfix"></div>
        </div> -->
      </div>
      <div class="booking-detail light-pink">
        <ul>
          <li>You need to pay 9.9% of agreement value to confirm the booking</li>
          <li>You have 7 days remaining to confirm this booking please make remaining payment of Rs. <%= number_to_indian_currency(project_unit.user.total_balance_pending.round()) %></li>
        </ul>
      </div>
      <!-- dashboard/receipts/new?project_unit_id=5aa7816821b83d2f120f3e16 -->
      <a href="/dashboard/receipts/new?project_unit_id=<%= project_unit.id %>" class="col-12 block pink payment-btn text-center">
        MAKE THE REMAINING PAYMENT
      </a>
      <!-- <a href="/dashboard/make-remaining-payment/<%= project_unit.id %>" class="col-12 block pink payment-btn text-center">
        MAKE THE REMAINING PAYMENT
      </a> -->
    </div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($('.checkout_project_unit'));
});
<% end %>
