<% project_units.each do |project_unit| %>
    <div class="booking-detail-wrapper">
      <div class="wrapper">
          <div class="tower-specs pull-left text-left">
            <div class="pull-left">
              <img src="<%= asset_path "wing-icon.png" %>" class="img-responsive">
            </div>
            <div class="pull-left tower-info">
              <span>Tower Name: <%= project_unit.project_tower_name %></span>
              <span>Unit No: <%= project_unit.name %> | Floor: <%= project_unit.project_tower_name %>st Floor</span>
            </div>
            <div class="clearfix"></div>
          </div>
        <div class="pull-right text-right payment-details-wrapper">
          <div>
            Booking Status: <span><%= project_unit.status %></span>
          </div>
          <% if project_unit.status == 'hold'%>
          <a href="javascript:;" class="checkout-btn">Make Payment</a>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>
      <hr />
      <div class="tower-info-wrapper">
        <div class="applicant-wrapper pull-left text-left">
          <div class="applicant">Applicant: <span><%= project_unit.user.name %></span></div>
          <!-- <div class="applicant">Co-Applicant: <span>Mrs. John Doe</span></div> -->
        </div>
        <div class="clearfix"></div>  
        <div class="tower-specs">
          <div class="col-4">
            <span class="title">Unit View:</span>
            <span class="specs"><%= project_unit.facing %></span>
          </div>
          <div class="col-4">
            <span class="title">Unit Type:</span>
            <span class="specs"><%= project_unit.bedrooms %>BHK - 2T - A</span><a href="<%= asset_path 'fp-type-1.jpg'%>" class="colorbox-init small-link">View Floor Plan</a>
          </div>
          <div class="col-4">
            <span class="title">Super Built-up Area:</span>
            <span class="specs"><%= project_unit.saleable.round(2) %> sq.ft.</span>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="tower-specs">
          <div class="col-4">
            <span class="title">Built-up Area:</span>
            <span class="specs"><%= project_unit.saleable.round(2) %> sq.ft.</span>
          </div>
          <div class="col-4">
            <span class="title">Carpet Area:</span>
            <span class="specs"><%= project_unit.carpet.round(2) %> sq.ft.</span>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="tower-info-wrapper">
        <div class="tower-info" style="margin-left:0px;background:#eee; padding:10px">
          <span>Payment Details</span>
          <!-- <span>Unit No: 101 | Floor: 1st Floor</span> -->
        </div>
        <div class="clearfix"></div>
        <div class="tower-specs">
          <div class="col-4">
            <span class="title">All Inclusive Price:</span>
            <span class="specs">Rs. 130 Cr +</span><a href="/dashboard/payment-breakup" class="small-link">Payment Break Up</a>
          </div>
          <div class="col-4">
            <span class="title">Agreement Value:</span>
            <span class="specs">Rs. 119 Cr +</span>
          </div>
          <div class="col-4">
            <span class="title">Booking Amount:</span>
            <span class="specs">Rs. <%= project_unit.booking_price %></span>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="tower-specs">
          <div class="col-4">
            <span class="title">Advance Payment: </span>
            <span class="specs">Rs. 50,000</span>
          </div>
          <div class="col-4">
            <span class="title">Balance Payment:</span>
            <span class="specs">Rs. <%= project_unit.user.total_balance_pending %></span>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="imp-notes">
        Please Note: 
        <ul>
          <li>You need to pay 9.9% of agreement value to confirm the booking</li>
          <li>You have % days remaining to confirm this booking please make remaining payment of Rs. TODO</li>
        </ul>
      </div>
    </div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($('.checkout_project_unit'));
});
<% end %>
