<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd">
  <div class="box-card relative table-responsive" id="dashboard_project_wise_invoice_summary">
    <table class="table my-customer-table responsive-tbl mb-0 align-middle border rounded">
      <thead class="bg-primary white">
        <tr class="bg-primary white">
          <th rowspan='2' class='text-center border-end bg-primary white align-middle'>City</th>
          <th colspan='3' class='text-center bg-primary white'>Tentative Invoice Amount</th>
        </tr>
        <tr>
          <th class="text-center">Project</th>
          <th class="text-center">Tentative Amount</th>
        </tr>
      </thead>
      <tbody class='text-md-center'>
        <% if @project_wise_total_tentative_amount.present? %>
          <% @project_wise_total_tentative_amount.each do |key, value| %>
            <tr>
              <td rowspan="<%= value.length + 1 %>" data-title='<%= key %>' class='text-center border-end bg-primary white align-middle'><%= key %></td>
            </tr>
            <% value.each do |hash| %>
              <tr>
                <td class="text-right">
                  <%= @project_name_hash[hash[:project_id].to_s] %>
                </td>
                <td>
                  <%= hash[:total_tentative_amount] %>
                  <%#= link_to hash[:bookings_count], admin_booking_details_path({ fltrs: { project_id: hash[:project_id], created_at: created_at, status: ["blocked", "under_negotiation", "booked_tentative", "booked_confirmed", "cancelled"]}}) %>
                </td>
              </tr>
              <% end %>
          <% end %>
          <tr>
            <td rowspan="1" class='text-center border-end bg-primary white align-middle'><strong>Total</strong></td>
            <td><strong>-</strong></td>
            <td><strong>
              <%= @total_amount %>
              <%#= @total_tentative_amount %>
                  <%#= link_to @total_booking, admin_booking_details_path({ fltrs: { created_at: created_at, status: ["blocked", "under_negotiation", "booked_tentative", "booked_confirmed", "cancelled"]}}) %>
            </strong></td>
          </tr>
        <% else %>
          <tr>
            <td colspan="3">No Records Found</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>