<div class="card">
  <div class="card-header">
    <h5 class="float-left card-title mt-2 mb-0"><%= global_labels[:project_unit] %> <%= project_unit.name %></h5>
    <div class="container form-group mt-3 text-right">
      <div class="row">
        <div class="col-12">
          <% if policy([:admin, SyncLog.new]).resync? && project_unit.booking_detail.present? %>
            <% if project_unit.booking_detail.sync_logs.present? %>
              <%= link_to "Resync", resync_admin_sync_log_path(project_unit.booking_detail.sync_logs.desc(:created_at)[0]), class: "btn btn-primary d-print-none"%>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% if defined?(with_actions) && with_actions == true %>
      <%= render "#{current_user_role_group}/project_units/links", project_unit: project_unit, link_name: '' %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Name</label>
          <div>
            <%= project_unit.name %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Tower</label>
          <div>
            <%= project_unit.project_tower_name %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Status</label>
          <div>
            <%= t("project_units.status.#{project_unit.status}") %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label> Beds / Baths</label>
          <div>
            <%= project_unit.bedrooms %> / <%= project_unit.bathrooms %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Carpet</label>
          <div>
            <%= project_unit.carpet %> <%= current_client.area_unit %>
          </div>
        </div>
      </div>
      <% if current_user.role?('superadmin') %>
        <div class="col-md-4">
          <div class="form-group">
            <label>Saleable</label>
            <div>
              <%= project_unit.saleable %> <%= current_client.area_unit %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <% if project_unit.blocked? || (defined?(scheme) && scheme.present?) %>
        <div class="col-md-4">
          <div class="form-group">
            <label>Effective Rate</label>
            <div>
              <%= number_to_indian_currency(project_unit.effective_rate) %> <%= current_client.area_unit %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Agreement Price</label>
            <div>
              <%= number_to_indian_currency(project_unit.calculate_agreement_price.round) %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>All Inclusive Price</label>
            <div>
              <%= number_to_indian_currency(project_unit.calculate_all_inclusive_price.round) %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-md-4">
        <div class="form-group">
          <label>Phase</label>
          <div>
            <%= project_unit.phase_name %>
          </div>
        </div>
      </div>
    </div>
    <% if current_client.external_api_integration? %>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Last Synced At:</label>
            <div>
              <% if project_unit.booking_detail.present? %>
                <% if project_unit.booking_detail.sync_logs.present? %>
                  <%= project_unit.booking_detail.sync_logs.desc(:created_at)[0].present? ? project_unit.booking_detail.sync_logs.desc(:created_at)[0].updated_at.strftime("%d/%m/%Y %l:%M %p") : "-" %>
                <% end %>
              <% else %>
                 <%= "Not synced" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Last Sync Log Status:</label>
            <div>
              <% if project_unit.booking_detail.present? %>
                <% if project_unit.booking_detail.sync_logs.present? %>
                  <%= project_unit.booking_detail.sync_logs.desc(:created_at)[0].status.present? ? project_unit.booking_detail.sync_logs.desc(:created_at)[0].status : "-" %>
                <% end %>
              <% else %>
                 <%= "Not synced" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
