<div class="card">
  <div class="card-header">
    <h5 class="float-left card-title mt-2 mb-0"><%= project_unit.name %></h5>
    <% if defined?(with_actions) && with_actions == true %>
      <div class="dropdown float-right">
        <a class="btn btn-light dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Update Booking</a>
        <div class="dropdown-menu dropdown-menu-right">
          <% if ProjectUnitPolicy.new(current_user, project_unit).edit? %>
          <%= link_to "Update #{global_labels['user_kycs']}", edit_admin_project_unit_path(project_unit), class: "modal-remote-form-link dropdown-item" %>
          <% end %>
          <% if ProjectUnitPolicy.new(current_user, project_unit).block? %>
            <a href="<%= checkout_user_search_path(current_user.get_search(project_unit.id)) %>" class="dropdown-item">
              Book Now
            </a>
          <% elsif ReceiptPolicy.new(current_user, project_unit.user.receipts.new(project_unit_id: project_unit.id)).new? %>
            <a href="<%= new_user_receipt_path(project_unit_id: project_unit.id) %>" class="dropdown-item modal-remote-form-link">
            Pay Remaining Amount
            </a>
          <% end %>
          <% if UserRequest::CancellationPolicy.new(current_user, UserRequest::Cancellation.new(user: project_unit.user, project_unit: project_unit)).new? %>
            <a href="<%= new_admin_user_request_path(project_unit_id: project_unit.id, request_type: UserRequest::Cancellation.model_name.element) %>" class="dropdown-item text-danger modal-remote-form-link">Cancel Booking</a>
          <% end %>
          <% if UserRequest::SwapPolicy.new(current_user, UserRequest::Swap.new(user_id: project_unit.user_id, project_unit_id: project_unit.id)).new? %>
              <a href="<%= new_admin_user_request_path(user_id: project_unit.user_id, project_unit_id: project_unit.id, request_type: UserRequest::Swap.model_name.element) %>" class="dropdown-item modal-remote-form-link">Swap Booking</a>
            <% end %>
          <% if project_unit.assets.present? %>
          <%= link_to "Images", "javascript:;", data: {toggle: "modal", target: "#floor_plan_modal_#{project_unit.id}"}, class: "dropdown-item" %>
          <% end %>
          <%= link_to "Cost Sheet", "javascript:;", data: {toggle: "modal", target: "#cost_sheet_modal_#{project_unit.id}"}, class: "dropdown-item" %>
          <%= link_to "Payment Schedule", "javascript:;", data: {toggle: "modal", target: "#payment_schedule_modal_#{project_unit.id}"}, class: "dropdown-item" %>
        </div>
      </div>
      <% if project_unit.assets.present? %>
        <div class="modal fade right fixed-header-footer" role="dialog" id="floor_plan_modal_<%= project_unit.id %>">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="modal-title">Images</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div id="project_unit_gallery_<%= project_unit.id %>" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">'
                    <% project_unit.assets.each_with_index do |asset, index| %>
                      <li data-target="#project_unit_gallery_<%= project_unit.id %>" data-slide-to="<%= index %>" class="<%= index.zero? ? "active" : "" %>"></li>
                    <% end %>
                  </ol>
                  <div class="carousel-inner">
                    <% project_unit.assets.each_with_index do |asset, index| %>
                      <div class="carousel-item <%= index.zero? ? "active" : "" %>">
                        <img class="d-block w-100" src="<%= asset.file.url %>" />
                      </div>
                    <% end %>
                  </div>
                  <a class="carousel-control-prev" href="#project_unit_gallery_<%= project_unit.id %>" role="button" data-slide="prev">
                    <span class="fas fa-chevron-left text-dark" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#project_unit_gallery_<%= project_unit.id %>" role="button" data-slide="next">
                    <span class="fas fa-chevron-right text-dark" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="modal fade right fixed-header-footer" role="dialog" id="cost_sheet_modal_<%= project_unit.id %>">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="modal-title">Cost Sheet</div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render 'dashboard/project_unit_cost_sheet', {project_unit: project_unit} %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade right fixed-header-footer" role="dialog" id="payment_schedule_modal_<%= project_unit.id %>">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="modal-title">Payment Schedule</div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render "dashboard/project_unit_payment_schedule", project_unit: project_unit %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Name</label>
          <div>
            <%= project_unit.name %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Tower</label>
          <div>
            <%= project_unit.project_tower_name %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Status</label>
          <div>
            <%= ProjectUnit.available_statuses.find{|x| x[:id] == project_unit.status}[:text] %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Beds / Baths</label>
          <div>
            <%= project_unit.bedrooms %> / <%= project_unit.bathrooms %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Carpet</label>
          <div>
            <%= project_unit.carpet %> <%= current_client.area_unit %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Saleable</label>
          <div>
            <%= project_unit.saleable %> <%= current_client.area_unit %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Effective Rate</label>
          <div>
            <%= number_to_indian_currency(project_unit.effective_rate) %> <%= current_client.area_unit %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Agreement Price</label>
          <div>
            <%= number_to_indian_currency(project_unit.agreement_price) %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>All Inclusive Price</label>
          <div>
            <%= number_to_indian_currency(project_unit.all_inclusive_price) %>
          </div>
        </div>
      </div>
    </div>
    <% if (project_unit.status == "blocked" || project_unit.status == "booked_tentative") && project_unit.auto_release_on.present? && project_unit.auto_release_on > Date.today %>
      <div class="alert alert-primary">
        <ul>
          <li>You need to pay <%= number_to_indian_currency(project_unit.booking_price) %> to confirm the booking</li>
          <li>Cancellation charges are <%= number_to_indian_currency(current_client.cancellation_amount) %></li>
          <li>You have <%= (project_unit.auto_release_on - Date.today).to_i %> days (before <%= I18n.l(project_unit.auto_release_on) %>) remaining to confirm this booking. Please make a remaining payment of <%= number_to_indian_currency(project_unit.pending_balance.round) %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
