<style type="text/css">
	.apartment-selector-wrapper .client-detail-wrapper{
		background-color: #d8ddc8;
	    margin: 10px 0px;
	    /* border: 2px solid #ececec; */
	    border-radius: 3px;
	    font-weight: 500;
	    font-size: 28px;
	    color: #6c6c6c;
	    padding: 22px 15px;
	    border-left: 0px solid #6b7e34;
	}
	span.black{
    color: #252525;
    font-weight: 500;
}
</style>
		<div class="col-12">
			<div class="breadcrumbs-wrapper">
	        	<span>Apartment Selector</span><span>Choose Tower</span><span>Select Apartment</span><span>KYC Details</span><span class="active">Proceed to payment</span>
	      	</div>
	      	<div class="col-12">
	      		<div class="col-12">
	      			<div class="apartment-selector-wrapper paddin-bottom-remove">
	      				<div class="title">
			          		Your time starts now!
			        	</div>
	      			</div>
	      		</div>
	      		<div class="col-4 pull-right pad-left xs-100">
			    	<div class="apartment-selector-wrapper paddin-bottom-remove">
			        	<div class="days-left-wrapper text-center">
							<%
                if project_unit.held_on.present?
  								gap = (60*ProjectUnit.holding_minutes) - (Time.now - project_unit.held_on.to_time)
  								if gap < 0
  									gap = 0
  									ProjectUnitUnholdWorker.new.perform(project_unit.id)
  								end
                else
                  gap = 0
                end
								gap_str = "#{(gap/60).to_i}:#{(gap%60).to_i}"
							%>
							<h1 class="bold white timer-show" data-start-time="<%= gap_str %>">
								<%= gap_str %>
							</h1>
							<% if gap == 0 %>
							<script>
								window.location = window.location;
							</script>
							<% end %>
							<p class="white">
								To be fair to other user interested in this<br/> apartment, you have the next 10 minutes to pay the token amount of <%= number_to_indian_currency(ProjectUnit.blocking_amount) %>
							</p>
						</div>
			        </div>
			    </div>
		      	<div class="col-8 xs-100">
		      		<div class="apartment-selector-wrapper paddin-bottom-remove">
			        	<div class="time-left-wrapper visible-xs">
			        	 To be fair to other users interested in this apartment, you have the next 10 minutes
			        	</div>
			        	<div class="col-12 client-detail-wrapper">
				       		<div class="client-detail">
								<span class="pink">Name: <%= current_user.name %></span>
								<span class="pink">Flat No: <%= project_unit.name %></span>
							</div>
				       		<div class="tower-info-wrapper left-padding-0">
				       			<div>
					                      <span class="black">Tower:</span> <%= project_unit.project_tower_name %><br><span class="black">Floor:</span> <%= project_unit.floor %><br>
				       				<span class="black">Flat no:</span> <%= project_unit.name %><br>
				       				<span class="black">Configuration:</span> <%= float_to_int(project_unit.bedrooms) %> BHK<br>
					                      <span class="black">Super Built-Up Area:</span> <%= project_unit.saleable.round(2) %> Sq.Ft.<br/>
					                      <span class="black">Usable Area:</span> <%= project_unit.usable.round(2) %> Sq.Ft.<br/>
					                      <span class="black">Carpet Area:</span> <%= project_unit.carpet.round(2) %> Sq.Ft.<br/>
					                      <span class="black">Agreement Price:</span> <%= number_to_indian_currency(project_unit.agreement_price.round(2)) %><br/>
					                      <span class="black">All inclusive total (excluding registration charges):</span> <%= number_to_indian_currency(project_unit.all_inclusive_price.round(2)) %><br/>
                    </div>
				       			<div class="clearfix"></div>
				       		</div>
				       		<div class="clearfix"></div>
				       	</div>
			        </div>
			    </div>
			    <div class="clearfix"></div>
	      	</div>
	      	<div class="clearfix"></div>
	      	<div class="col-12">
			<%= render partial: "admin/project_units/payment_breakup", locals: {project_unit: project_unit} %>
		</div>
