
<% project_units.each do |project_unit| %>
    <div class="col-12 booking-accordian-wrapper">
      <div class="booking-accordian first" data-acc="book-<%= project_unit.id %>" data-event-category="section" data-event-action="click" data-event-name="aparament status accordian">
        <div class="pull-left accordian-xs">
          <span class="title" data-event-category="section" data-event-action="click" data-event-name="aparament status accordian"><%= project_unit.status_value %></span>
        </div>
        <div class="pull-left">
          <span class="title" data-event-category="section" data-event-action="click" data-event-name="aparament status accordian">Unit No: <%= project_unit.name %></span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-12 booking-details-wrapper close" id="book-<%= project_unit.id  %>">
      <div class="booking-detail">
        <div class="title">Booking Details
            <% if current_user.buyer? && project_unit.user == current_user && project_unit.status != 'hold' %>
              <% if current_user.user_requests.where(project_unit_id: project_unit.id).blank? %>
                <a href="<%= new_admin_user_request_path(project_unit_id: project_unit.id) %>" class="pink small-link" data-event-category="section" data-event-action="click" data-event-name="cancel booking">Cancel Booking</a>
              <% else %>
                <span class="unit-cancelled">Cancellation Request Generated</span>
              <% end %>
            <% end %>
        </div>
        <div class="unit-booking-details">
          <div class="col-4">
            <div>Applicant:</div>
            <div class="dark">
              <%= project_unit.user.name %>
              <span class="ml-2">(<%= project_unit.user_kyc_ids.length > 1 ? "#{(project_unit.user_kyc_ids.count - 1)} Co-applicants" : "No Co-applicants" %>)</span>
              <br/>
              <a href="<%= new_user_kyc_path(project_unit_id: project_unit.id) %>" class="small-link" data-event-category="section" data-event-action="click" data-event-name="add co applicant">Add Co-applicant</a>
            </div>
          </div>
          <div class="col-4">
            <div>Built-up Area:</div><div class="dark"><%= project_unit.saleable.round(2) %> sq.ft</div>
          </div>
          <div class="col-4">
            <div>Super Built-up Area:</div><div class="dark"><%= project_unit.saleable.round(2) %> sq.ft</div>
          </div>
          <div class="col-4">
            <div>Unit Type:</div><div class="dark"><%= float_to_int(project_unit.bedrooms) %> BHK - 2T - A</div><a href="<%= asset_path("floorplans/#{u.project_tower_name}-#{u.unit_configuration_name}.jpg") %>" rel="floorplan" class="colorbox-init small-link" data-event-category="section" data-event-action="click" data-event-name="view floor plan">View Floor Plan</a>
          </div>
          <div class="col-4">
            <div>Carpet Area:</div><div class="dark"><%= project_unit.carpet.round(2) %> sq.ft</div>
          </div>
          <div class="col-4">
            <div>Unit View:</div><div class="dark"><%= project_unit.category %></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- <div class="unit-booking-details">

          <div class="clearfix"></div>
        </div> -->
        <div class="title">Payment Details</div>
          <div class="unit-booking-details">
            <div class="col-4">
              <div>All Inclusive Price:</div><div class="dark"><%= number_to_indian_currency(project_unit.all_inclusive_price.round)  %></div><a href="/dashboard/<%= project_unit.id %>/payment-breakup" class="small-link" data-event-category="section" data-event-action="click" data-event-name="Payment Break Up">Payment Break Up</a>
            </div>
            <div class="col-4">
              <div>Payment Done:</div><div class="dark"><%= number_to_indian_currency(project_unit.total_amount_paid.round) %></div>
            </div>
            <div class="col-4">
              <div>Booking Amount:</div><div class="dark"><%= number_to_indian_currency(project_unit.booking_price.round) %></div>
            </div>
            <div class="col-4">
              <div>Agreement Value:</div><div class="dark"><%= number_to_indian_currency(project_unit.agreement_price.round) %></div>
            </div>
            <div class="col-4">
              <div>Balance Payment:</div><div class="dark"><%= number_to_indian_currency(project_unit.pending_balance.round) %></div>
            </div>
            <div class="col-4">
              <div>TDS Amount:</div><div class="dark"><%= number_to_indian_currency(project_unit.tds_amount.round) %></div>
              <% if project_unit.tds_amount > 0 %>
              <div><a href="/eTutorial_TDS_on_property_etax.pdf" target="_blank" class="pink small-link" data-event-category="section" data-event-action="click" data-event-name="Tutorial for TDS">Tutorial for TDS</a></div>
              <% end %>
            </div>
            <div class="clearfix"></div>
            <!-- <div class="clearfix"></div> -->
        </div>
        <ul class="ul-padding-20">
          <li>You need to pay 10% of agreement value to confirm the booking</li>
          <% if (project_unit.status == "blocked" || project_unit.status == "booked_tentative") && project_unit.auto_release_on.present? && project_unit.auto_release_on > Date.today %>
          <li>Cancellation charges are &#8377;5,000</li>
          <li><strong>You have <%= (project_unit.auto_release_on - Date.today).to_i %> days (before <%= project_unit.auto_release_on.strftime("%d/%m/%Y") %>) remaining to confirm this booking please make remaining payment of Rs. <%= number_to_indian_currency(project_unit.pending_balance.round()) %></strong></li>
          <% end %>
        </ul>
        <% if project_unit.status == 'hold' %>
        <%#= link_to "I Agree", dashboard_payment_path, class: 'nav-btn', style:'margin-top:0px' %>
        <a href="/dashboard/checkout/<%= project_unit.id %>" class="pink payment-btn text-center" data-event-category="section" data-event-action="click" data-event-name="book now">
          BOOK NOW
        </a>
        <% elsif ReceiptPolicy.new(project_unit.user, project_unit.user.receipts.new(project_unit_id: project_unit.id)).new? %>
        <a href="/dashboard/receipts/new?project_unit_id=<%= project_unit.id %>" class="pink payment-btn text-center" data-event-category="section" data-event-action="click" data-event-name="make the remaining payment">
          MAKE THE REMAINING PAYMENT
        </a>
        <% end %>
      </div>

    </div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($('.checkout_project_unit'));
});
<% end %>
