
<% project_units.each do |project_unit| %>
    <div class="col-12 booking-accordian-wrapper">
      <div class="booking-accordian first" data-acc="book-<%= project_unit.id %>" data-event-category="section" data-event-action="click" data-event-name="aparament status accordian">
        <div class="pull-left accordian-xs">
          <span class="title" data-event-category="section" data-event-action="click" data-event-name="aparament status accordian"><%= project_unit.status_value %></span>
        </div>
        <div class="pull-left">
          <span class="title" data-event-category="section" data-event-action="click" data-event-name="aparament status accordian">Unit No: <%= project_unit.name %></span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-12 booking-details-wrapper close" id="book-<%= project_unit.id  %>">
      <div class="booking-detail">
        <div class="title">Booking Details
            <% if current_user.buyer? && project_unit.user == current_user && project_unit.status != 'hold' %>
              <% if current_user.user_requests.where(project_unit_id: project_unit.id).ne(status: 'resolved').blank? %>
                <a href="<%= new_admin_user_request_path(project_unit_id: project_unit.id) %>" class="pink small-link" data-event-category="section" data-event-action="click" data-event-name="cancel booking">Cancel Booking</a>
              <% else %>
                <span class="unit-cancelled">Cancellation Request Generated</span>
              <% end %>
            <% end %>
        </div>
        <div class="unit-booking-details">
          <div class="col-4">
            <div>Applicant:</div>
            <div class="dark">
              <%= project_unit.primary_user_kyc.name %>
              <span class="ml-2">(<%= project_unit.user_kyc_ids.length > 0 ? "#{(project_unit.user_kyc_ids.count)} Co-applicants" : "No Co-applicants" %>)</span>
              <br/>
              <a class="small-link colorbox-inline-init" data-event-category="section" data-event-action="click" data-event-name="add co applicant" href="#kyc_<%= project_unit.id %>">
                Update Co-applicants
              </a>
              <div style="display:none;">
                <div id="kyc_<%= project_unit.id %>" role="dialog" style="width:400px;height:400px;padding:30px;background-color:#fff;">
                  <h2>Manage Co-applicants</h2>
                  <form id="existing_kyc_form" action="/dashboard/update_co_applicants/<%= project_unit.id %>" class="validate-form checkout_project_unit" accept-charset="UTF-8" method="POST">
                    <input name="utf8" type="hidden" value="✓">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <div class="form-group">
                      <select multiple="multiple" class="init-selectize required" name="project_unit[user_kyc_ids][]" required="required">
                        <option value="">Select KYC</option>
                        <% current_user.user_kycs.each_with_index do |user_kyc, index| %>
                        <% if user_kyc.persisted? %>
                        <option value="<%= user_kyc.id %>" <%= (project_unit.user_kyc_ids.include?(user_kyc.id)) ? "selected=selected" : "" %>><%= user_kyc.name %></option>
                        <% end %>
                        <% end %>
                      </select>
                    </div>
                    <div class="form-group">
                      <br/><br/>
                      <input type="submit" class="pink payment-btn" />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div>Unit Type:</div><div class="dark"> <%= project_unit.unit_configuration_name.gsub(" ", '') %></div><a href="<%= asset_path("floorplans/#{project_unit.project_tower_name.gsub(" ", '')}-#{project_unit.unit_configuration_name.gsub(" ", '')}.jpg") %>" title="Floorplan for <%= project_unit.name %>. The floorplan images shown are for representation only. Actual plan may differ." class="colorbox-init small-link" data-event-category="section" data-event-action="click" data-event-name="view floor plan">View Floor Plan</a>
          </div>
          <div class="col-4">
            <div>Unit View:</div><div class="dark"><%= project_unit.category %></div>
          </div>
          <div class="col-4">
            <div>Super Built-up Area:</div><div class="dark"><%= project_unit.saleable %> sq.ft</div>
          </div>
          <div class="col-4">
            <div>Usable Area:</div><div class="dark"><%= project_unit.usable %> sq.ft</div>
          </div>
          <div class="col-4">
            <div>Carpet Area:</div><div class="dark"><%= project_unit.carpet %> sq.ft</div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- <div class="unit-booking-details">

          <div class="clearfix"></div>
        </div> -->
        <div class="title">Payment Details</div>
          <div class="unit-booking-details">
            <div class="col-4">
              <div>All Inclusive Price:</div><div class="dark"><%= number_to_indian_currency(project_unit.all_inclusive_price.round(2))  %></div><a href="/dashboard/<%= project_unit.id %>/payment-breakup" class="small-link" data-event-category="section" data-event-action="click" data-event-name="Payment Break Up">Payment Break Up</a>
            </div>
            <div class="col-4">
              <div>Payment Done:</div><div class="dark"><%= number_to_indian_currency(project_unit.total_amount_paid.round(2)) %></div>
            </div>
            <div class="col-4">
              <div>Booking Amount:</div><div class="dark"><%= number_to_indian_currency(project_unit.booking_price.round(2)) %></div>
            </div>
            <div class="col-4">
              <div>Agreement Value:</div><div class="dark"><%= number_to_indian_currency(project_unit.agreement_price.round(2)) %></div>
            </div>
            <div class="col-4">
              <div>All inclusive total (excluding registration charges):</div><div class="dark"><%= number_to_indian_currency(project_unit.all_inclusive_price.round(2)) %></div>
            </div>
            <div class="col-4">
              <div>Balance Payment:</div><div class="dark"><%= number_to_indian_currency(project_unit.pending_balance.round(2)) %></div>
            </div>
            <div class="col-4">
              <div>TDS Amount:</div><div class="dark"><%= number_to_indian_currency(project_unit.tds_amount.round(2)) %></div>
              <% if project_unit.tds_amount > 0 %>
              <div><a href="/eTutorial_TDS_on_property_etax.pdf" target="_blank" class="pink small-link" data-event-category="section" data-event-action="click" data-event-name="Tutorial for TDS">Tutorial for TDS</a></div>
              <% end %>
            </div>
            <div class="col-6">
              <div class="form-group form-field-wrapper">
                <%= form_with(model: project_unit, local: true, id: 'project_unit_form', url: admin_user_booking_detail_path(user_id: current_user.id, id: project_unit.booking_detail.id), html: {class: 'validate-form',multipart: true}) do |f|%> 
                  <label class="control-label">TDS Doc</label>
                  <input type="file" name="booking_detail[tds_doc]" style="margin-bottom:20px;">
                  <%= f.submit 'Upload', class: 'btn apply-btn', style: 'width:auto'%>
                  <% if project_unit.booking_detail.tds_doc.present? %>
                    <a href="<%= project_unit.booking_detail.tds_doc.url %>" class="small-link"  target="_blank">View uploaded document</a>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="clearfix"></div>
            <!-- <div class="clearfix"></div> -->
        </div>
        <ul class="ul-padding-20">
          <% if (project_unit.status == "blocked" || project_unit.status == "booked_tentative") && project_unit.auto_release_on.present? && project_unit.auto_release_on > Date.today %>
            <li>You need to pay 10% of agreement value to confirm the booking</li>
            <li>Cancellation charges are <%= number_to_indian_currency("5,000") %></li>
            <li><strong>You have <%= (project_unit.auto_release_on - Date.today).to_i %> days (before <%= project_unit.auto_release_on.strftime("%d/%m/%Y") %>) remaining to confirm this booking please make remaining payment of <%= number_to_indian_currency(project_unit.pending_balance.round(2)) %></strong></li>
          <% end %>
        </ul>
        <% if project_unit.status == 'hold' %>
        <a href="/dashboard/checkout/<%= project_unit.id %>" class="pink payment-btn text-center" data-event-category="section" data-event-action="click" data-event-name="book now">
          BOOK NOW
        </a>
        <% elsif ReceiptPolicy.new(project_unit.user, project_unit.user.receipts.new(project_unit_id: project_unit.id)).new? %>
        <a href="/dashboard/receipts/new?project_unit_id=<%= project_unit.id %>" class="pink payment-btn text-center" data-event-category="section" data-event-action="click" data-event-name="make the remaining payment">
          MAKE THE REMAINING PAYMENT
        </a>
        <% end %>
      </div>

    </div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($('.checkout_project_unit'));
  $(".colorbox-inline-init").colorbox({
    inline: true
  })
});
<% end %>
