<table class='table' cellpadding="20" cellspacing="0">
  <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% project_units.each do |project_unit| %>
    <tr>
      <td>
        <%= project_unit.name %>
        <div class="modal fade" id="unit_kyc_<%= project_unit.id %>" role="dialog">
          <div class="modal-dialog" role="document">
            <%= form_for project_unit, url: dashboard_hold_project_unit_path(project_unit_id: project_unit.id), html: {class: 'validate-form checkout_project_unit', method: 'post'} do |f| %>
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Choose your KYC</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <%= f.hidden_field :status, value: 'hold' %>
                  <%= f.label :user_kyc_ids %>
                  <%= f.select :user_kyc_ids, current_user.user_kycs.collect{|x| [x.name, x.id.to_s]}, {prompt: 'Select'}, multiple: true, class: 'selectize', required: 'required' %>
                </div>
              </div>
              <div class="modal-footer">
                <%= f.submit "Continue", class: 'btn btn-primary' %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </td>
      <td><%= project_unit.status %></td>
      <td><%= project_unit.user_id.present? ? project_unit.user.name : "-" %></td>
      <td class="text-right">
        <% if ProjectUnitPolicy.new(current_user, project_unit).hold_project_unit? %>
          <%= link_to 'Hold', "#unit_kyc_#{ project_unit.id }", 'data-toggle': 'modal' %>
        <% end %>
        <% if ProjectUnitPolicy.new(current_user, project_unit).block? %>
          <%= link_to 'Make Payment', dashboard_checkout_path(project_unit_id: project_unit.id) %>
        <% end %>
        <% if ReceiptPolicy.new(current_user, Receipt.new(project_unit: project_unit, user: current_user)).booking_payment? %>
          <%= link_to 'Make booking payment', new_receipt_path(project_unit_id: project_unit.id) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($('.checkout_project_unit'));
});
<% end %>
