<section class="bookings my-4 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
          <div class="box-card">
            <div class="box-header bg-gradient br-rd-tr-4">
              <h2><img src="<%= asset_path 'home-white.svg' %>" alt="Selected Apartment" class="wd-18">Selected Apartment</h2>
              <!-- <a href="javascript:;" class="view-all-btn">View All > </a> -->
            </div>
            <div class="box-content br-rd-bl-4 bg-white">
              <div class="row pd-box">
                <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                  <h4 class="booking-title"><%= project_unit.name %></h4>
                </div>
                <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12">
                  <ul class="booking-apart-info">
                    <li><span>Tower</span><p><%= project_unit.project_tower_name %></p></li>
                    <li><span>Floor</span><p><%= project_unit.floor %></p></li>
                    <li><span>BHK</span><p><%= project_unit.bedrooms %> BHK</p></li>
                    <li><span>Carpet</span><p><%= project_unit.carpet %> sq. ft.</p></li>
                    <li><span>Status</span><p><%= t("project_units.status.#{project_unit.status}") %></p></li>
                    <li><span>Facing</span><p><%= project_unit.unit_facing_direction %></p></li>
                    <li><span>Agreement Price</span><p>₹<%= project_unit.agreement_price %></p></li>
                    <li><span>All Inclusive Price</span><p>₹<%= project_unit.all_inclusive_price %></p></li>
                  </ul>
                </div>
                <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12">
                  <!-- <a href="javascript:;" class="large-btn blue-bg display-block fn-500 my-3 text-uppercase mt-4 float-right">Make Payment</a>
                  <a href="javascript:;" class="large-btn blue-bg display-block fn-500 text-uppercase float-right">View Details</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
