
		<div class="col-12">
			<div class="breadcrumbs-wrapper">
	        	<span>Apartment Selector</span><span>Choose Tower</span><span>Select Apartment</span><span>KYC Details</span><span class="active">Proceed to payment</span>
	      	</div>
	      	<div class="col-12">
	      		<div class="col-12">
	      			<div class="apartment-selector-wrapper paddin-bottom-remove">
	      				<div class="title">
			          		Your time starts now!
			        	</div>
	      			</div>
	      		</div>
	      		<div class="col-4 pull-right pad-left xs-100">
			    	<div class="apartment-selector-wrapper paddin-bottom-remove">
			        	<div class="days-left-wrapper text-center">
							<%
								gap = (60*ProjectUnit.holding_minutes) - (Time.now - project_unit.held_on.to_time)
								if gap < 0
									gap = 0
									ProjectUnitUnholdWorker.new.perform(project_unit.id)
								end
								gap_str = "#{(gap/60).to_i}:#{(gap%60).to_i}"
							%>
							<h1 class="bold green timer-show" data-start-time="<%= gap_str %>">
								<%= gap_str %>
							</h1>
							<% if gap == 0 %>
							<script>
								window.location = window.location;
							</script>
							<% end %>
							<p class="green">
								To be fair to other user interested in this<br/> apartment, you have the next 10 minutes to pay the token amount of <%= number_to_indian_currency(ProjectUnit.blocking_amount) %>
							</p>
						</div>
			        </div>
			    </div>
		      	<div class="col-8 xs-100">
		      		<div class="apartment-selector-wrapper paddin-bottom-remove">
			        	<div class="time-left-wrapper visible-xs">
			        	 To be fair to other users interested in this apartment, you have the next 10 minutes
			        	</div>
			        	<div class="col-12 client-detail-wrapper">
				       		<div class="client-detail">
								<span class="pink">Mr. <%= current_user.name %></span>
								<span class="pink">Flat No: <%= project_unit.name %></span>
							</div>
				       		<div class="tower-info-wrapper left-padding-0">
				       			<div class="pull-left">Tower: <%= project_unit.project_tower_name %><br>Floor: <%= project_unit.floor %><br>Flat no: <%= project_unit.name %><br></div>
				       			<div class="pull-left padding-left-30">Configuration: <%= float_to_int(project_unit.bedrooms) %> BHK<br>Carpet Area: <%= project_unit.carpet.round(2) %> Sq.Ft.<br>Starting Price: <%= number_to_indian_currency(project_unit.agreement_price) %></div>
				       			<div class="clearfix"></div>
				       		</div>
				       		<div class="clearfix"></div>
				       	</div>
			        </div>
			    </div>
			    <div class="clearfix"></div>
	      	</div>
	      	<div class="clearfix"></div>
	      	<div class="col-12">
			<%= render partial: "admin/project_units/payment_breakup", locals: {project_unit: project_unit} %>
		</div>
