<% if @receipt_details_data.present? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <% if params[:receipt_fltrs].blank? || params.dig(:receipt_fltrs, :group_by).include?('status') %>
           <th class="text-left"><b><%= I18n.t("mongoid.attributes.receipt.status") %></b></th>
          <% end %>
          <% if params[:receipt_fltrs].blank? || params.dig(:receipt_fltrs, :group_by).include?('payment_mode') %>
            <th class="text-left"><b><%= I18n.t("mongoid.attributes.receipt.payment_mode") %></b></th>
          <% end %>
          <th class="text-left"><b><%= I18n.t("mongoid.attributes.receipt.count") %></b></th>
          <th class="text-left"><b><%= I18n.t("mongoid.attributes.receipt.total_amount") %></b></th>
        </tr>
      </thead>
      <tbody>
        <% @receipt_details_data.each do |data| %>
          <tr>
            <% if params[:receipt_fltrs].blank? || params.dig(:receipt_fltrs, :group_by).include?('status') %>
              <td data-title='<%= I18n.t("mongoid.attributes.receipt.status") %>'><%= t("mongoid.attributes.receipt/status.#{data[:status]}") %></td>
            <% end %>
            <% if params[:receipt_fltrs].blank? || params.dig(:receipt_fltrs, :group_by).include?('payment_mode') %>
              <td data-title='<%= I18n.t("mongoid.attributes.receipt.payment_mode") %>'><%= t("mongoid.attributes.receipt/payment_mode.#{data[:payment_mode]}") %></td>
            <% end %>
            <td data-title='<%= I18n.t("mongoid.attributes.receipt.count") %>'><%= link_to data[:count], [current_user_role_group, Receipt, { fltrs: { status: data[:status], payment_mode: data[:payment_mode] } }], target: "_blank", title: "View #{data[:count]} #{t("mongoid.attributes.receipt/payment_mode.#{data[:payment_mode]}")} receipts." %></td>
            <td data-title='<%= I18n.t("mongoid.attributes.receipt.total_amount") %>'><%= data[:total_amount] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  No records found yet.
<% end %>
