<div class="apartment-selector-wrapper">
  <div class="title">
    Showing <%= @title.html_safe %>
  </div>
  <div class="filter-icon visible-xs">
    <img src="<%= asset_path 'filter-outline.png'%>" class="img-responsive">
  </div>
  <div class="col-12 filter-item-wrapper">
    <form id="filter-form">
      <div class="col-12-5 filter-item">
        <div class="filter-title">
          Tower
        </div>
        <div class="dropdown-wrapper">
          <select class="init-selectize" name="towerid">
            <option value="">Select Tower</option>
            <%
              towers = ProjectTower.all
              order = ["G", "H", "F", "D", "E"]
              block_order = ["A", "B", "C", "D", "E"]
              towers = towers.sort do |x, y|
                tmp1 = order.index(x.name[0]) * 5
                tmp2 = order.index(y.name[0]) * 5
                tmp1 += block_order.index(x.name.gsub(" ", "").split("-")[1][0])
                tmp2 += block_order.index(y.name.gsub(" ", "").split("-")[1][0])
                tmp1 <=> tmp2
              end
            %>
            <% towers.each do |t| %>
            <option value="<%= t.id %>" <%= params[:project_tower_id].to_s == t.id.to_s ? "selected=selected" : "" %>>
              <%= t.name.split("-")[0].strip %> (Block <%= t.name.split("-")[1].strip %>)
            </option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="col-12-5 filter-item">
        <div class="filter-title">
          Bedrooms
        </div>
        <div class="dropdown-wrapper">
          <select class="init-selectize" name="bedrooms">
            <option value="">Select Bedrooms</option>
            <% @configurations.each do |c| %>
            <option value="<%= c[:bedrooms] %>" <%= params[:configuration].split(",")[0].to_s == c[:bedrooms].to_s ? "selected=selected" : "" %>><%= float_to_int(c[:bedrooms]) %> BHK (Starting from <%= number_to_indian_currency(c[:agreement_price].round(2)) %>)</option>
            <% end %>
          </select>
        </div>
      </div>
<div class="col-12-5 filter-item">
  <div class="filter-title">
    Price
  </div>
  <div class="dropdown-wrapper">
    <select class="init-selectize" name="agreement_price">
      <option value="">Select Budget</option>
      <option value="2500000-4000000"  <%= params[:configuration].split(",")[1] == "2500000-4000000" ? "selected=selected" : "" %>>Rs.25 Lac - 40 Lac</option>
      <option value="4000000-6000000"  <%= params[:configuration].split(",")[1] == "4000000-6000000" ? "selected=selected" : "" %>>Rs.40 Lac - 60 Lac</option>
      <option value="6000000-100000000"  <%= params[:configuration].split(",")[1] == "6000000-100000000" ? "selected=selected" : "" %>>Rs.60 Lac and above</option>
    </select>
  </div>
</div>
<div class="col-12-5 filter-item">
  <!-- <div class="filter-item filter-submit-wrapper"> -->
  <button class="nav-btn" data-event-category="header" data-event-action="click" data-event-name="select apartment filter - Apply">Apply</button>
  <!-- </div> -->
</div>
<div class="clearfix"></div>
</form>
</div>
<div class="col-12">
  <div class="col-6 text-center building-main-wrapper">
    <div class="col-12" style="margin: 0 0 40px 0;font-size:16px;">
      <% bedrooms = params[:configuration].split(",")[0] != "NA" ? params[:configuration].split(",")[0] : "" %>
      <% agreement_price = params[:configuration].split(",")[1] != "NA" ? params[:configuration].split(",")[1] : "" %>
      <% minprice = agreement_price != "" ? agreement_price.split("-")[0] : "" %>
      <% maxprice = agreement_price != "" ? agreement_price.split("-")[1] : "" %>
      <div class="tower-title"></div>
    </div>
    <div class="col-12">
      <div class="apt-index">
        <span class="bstatus-booked"></span>Blocked/Booked
      </div>
      <div class="apt-index">
        <span class="bstatus-hold"></span>Hold
      </div>
      <div class="apt-index">
        <span class="bstatus-na"></span>NA
      </div>
      <div class="apt-index">
        <span class="bstatus-available"></span>Available
      </div>
      <div class="apt-index">
        <span class="bstatus-selected"></span>Selected
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="main-building">
      <div class="apt-selector-wrapper" id="append-floors">
        <% found = false %>
        <% @units.group_by(&:floor).each do |ur| %>
        <div class="flats-<%= ur[1].count %> apt-selector-box">
          <div class="floor-number"><%= ur[0] %></div>
          <% ur[1].each do |u| %>
          <%
          if (bedrooms.to_s != "" && agreement_price.to_s != "")
            if(bedrooms.to_s == u.bedrooms.to_s && (u.agreement_price.to_i <= maxprice.to_i && u.agreement_price.to_i >= minprice.to_i))
              status = u.user_based_status(current_user) == "not_available" ? "na" : u.user_based_status(current_user)
            else
              status = "na"
            end
          else
            if(bedrooms.to_s == "" && agreement_price.to_s == "")
              status = u.user_based_status(current_user) == "not_available" ? "na" : u.user_based_status(current_user)
            else
              if (bedrooms.to_s != "" && bedrooms.to_s == u.bedrooms.to_s) || (u.agreement_price.to_i <= maxprice.to_i && u.agreement_price.to_i >= minprice.to_i)
                status = u.user_based_status(current_user) == "not_available" ? "na" : u.user_based_status(current_user)
              else
                status = "na"
              end
            end
          end
          found = true if status != "na"
          %>
          <span data-event-category="section" data-event-action="click" data-event-name="select unit <%= u.id %>" data-unit-id="<%= u.id %>" class="unit-tooltip apt bstatus-<%= status %>" title='["<%= u.name %>","<%= u.carpet.round(2) %>","<%= number_to_indian_currency(u.agreement_price.round(2)) %>","<%= u.bedrooms %>","<%= status %>","<%= u.floor %>","<%= u.category %>","<%= u.saleable.round(2) %>","<%= u.usable.round(2) %>","<%= number_to_indian_currency(u.all_inclusive_price.round(2)) %>"]' data-fp-url="<%= asset_path("floorplans/#{u.project_tower_name.gsub(" ", '')}-#{u.unit_configuration_name.gsub(" ", '')}.jpg") %>" data-unit-details='["<%= u.name %>","<%= u.carpet.round(2) %>","<%= number_to_indian_currency(u.agreement_price.round(2))  %>","<%= u.bedrooms %>","<%= status %>","<%= u.floor %>","<%= u.category %>","<%= u.saleable.round(2) %>","<%= u.usable.round(2) %>","<%= number_to_indian_currency(u.all_inclusive_price.round(2)) %>"]'></span>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-6 show-unit-details-wrapper close">
    <div class="visible-xs open-details-wrapper blink">Show Unit Details</div>
    <div class="close-btn visible-xs">X</div>
    <div class="show-unit-details">

    </div>
    <div class="show-unit-floor-plans hidden-xs">
      <span class="active" rel="fp">FLOOR PLANS</span>
      <span style="font-size:11px;">The floorplan images shown are for representation only. Actual plan may differ</span>
      <div class="unit-plans-wrapper" id="fp" style="display:block">
        <a href="<%= asset_path '1BHK-A.png'%>" class="colorbox-init">
          <img src="<%= asset_path '1BHK-A.png'%>" class="img-responsive" data-event-category="section" data-event-action="click" data-event-name="floor plan pop up">
        </a>
      </div>
</div>
<div class="show-unit-floor-plans visible-xs">
  <a href="<%= asset_path '1BHK-A.png'%>" rel="floorplan" class="colorbox-init nav-btn" data-event-category="section" data-event-action="click" data-event-name="floor plan pop up">FLOOR PLANS</a>
</div>
<div class="clearfix"></div>
</div>
<% if ProjectUnitPolicy.new(current_user, ProjectUnit).block? %>
<div class="col-12 center-btn-xs fixed-nav-btn">
  <a href="javascript:;" class="nav-btn btn-anim navigate" data-stage="choose-tower" data-navigate-to="prev" data-event-category="section" data-event-action="click" data-event-name="select apartment prev">← PREV</a>
  <a href="javascript:;" class="nav-btn btn-anim navigate" data-stage="kyc-details" data-navigate-to="next" data-event-category="section" data-event-action="click" data-event-name="select apartment next">NEXT →</a>
</div>
<% else %>
<!-- <div class="col-12 text-right"> -->
  <div class="col-12 center-btn-xs fixed-nav-btn">
  <a href="javascript:;" class="nav-btn btn-anim navigate" data-stage="choose-tower" data-navigate-to="prev" style="vertical-align:middle" data-event-category="section" data-event-action="click" data-event-name="select apartment prev">← PREV</a>
  <span style="display:inline-block;vertical-align:middle">Cannot Book More than 3 Apartments</span>
</div>
<% end %>
<div class="clearfix"></div>
</div>
</div>

<%
  unless found
    @alternative_parameters = {fltrs: { project_tower_id: params[:project_tower_id], data_attributes: {bedrooms: bedrooms != "NA" ? bedrooms : ""}}}
    @alternative_count = ProjectUnit.build_criteria(@alternative_parameters).in(status: ProjectUnit.user_based_available_statuses(current_user)).count
    message = "We couldn\'t find apartments for your requirement. However, we have #{@alternative_count} #{float_to_int(@alternative_parameters[:fltrs][:data_attributes][:bedrooms])} BHK apartments available in this tower, but slightly out of the budget chosen."
    url = "/dashboard/apartment-selector/#{@alternative_parameters[:fltrs][:data_attributes][:bedrooms]},NA/#{@alternative_parameters[:fltrs][:project_tower_id]}"
    if @alternative_count == 0
      @alternative_parameters = {fltrs: {data_attributes: {bedrooms: bedrooms != "NA" ? bedrooms : ""}}}
      @alternative_count = ProjectUnit.build_criteria(@alternative_parameters).in(status: ProjectUnit.user_based_available_statuses(current_user)).count
      message = "We couldn\'t find apartments for your requirement. However, we have #{@alternative_count} #{float_to_int(@alternative_parameters[:fltrs][:data_attributes][:bedrooms])} BHK apartments available in other towers."
      url = "/dashboard/apartment-selector/#{@alternative_parameters[:fltrs][:data_attributes][:bedrooms]},NA"
    end
  end
%>
<%= javascript_tag do %>
  <% if !found && @alternative_count > 0 %>
    $(".tower-title").html('<%= message %> To view them, click <a href="<%= url %>">here</a>');
  <% else %>
    $(".tower-title").html("Select Apartment to View Plan");
  <% end %>
<% end %>
