<style type="text/css">
	.table{
		width: 100%;
	}
	.thead-default{
		background-color: #edeef0;
	}
</style>
<section class="main-wrapper full-height grey">
	<div class="container-fluid">
		<div class="clearfix"></div>
		<% if current_user.project_units.size < 1%>
		<div class="col-12 text-center banner-offer">
			<div class="col-12" style="padding:15px 0;">
				<span>Launching Embassy Edge Apartments - 1, 2 & 3 BHKs from &#8377; 36 Lacs</span>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		<div class="col-12 mediaCentercontent white-bg steps-wrapper">
			<h1 class="text-center">
				Reserve your apartment today by paying just <%= number_to_indian_currency(ProjectUnit.blocking_amount) %><sup style="font-size:16px;">*</sup>
			</h1>
			<div class="reasons-wrapper mtop30">
				<div class="col-3">
					<img src="<%= asset_path '4easysteps_1.png'%>" class="img-responsive">
					<div class="caption">
						Choose a<br/> type of home<br/>
					</div>
				</div>
				<div class="col-3">
					<img src="<%= asset_path '4easysteps_2.png'%>" class="img-responsive">
					<div class="caption">
						Choose <br/> the tower<br/>
					</div>
				</div>
				<div class="col-3">
					<img src="<%= asset_path '4easysteps_3.png'%>" class="img-responsive">
					<div class="caption">
						Select your<br/> apartment<br/>
					</div>
				</div>
				<div class="col-3 last">
					<img src="<%= asset_path '4easysteps_4.png'%>" class="img-responsive">
					<div class="caption">
						Pay booking<br/> amount<br/>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="text-center mtop30">
					<a href="/dashboard/apartment-selector" class="pink payment-btn" data-event-category="section" data-event-action="click" data-event-name="Choose Your Home">Choose Your Home</a>
				</div>
			</div>
      <small class="pull-right">*&#8377;25,000 refundable</small>
		</div>
    <div class="col-md-12 text-center">
      <div class="col-12 mediaCentercontent white-bg steps-wrapper">
        Need Help?</br/>
        <div>
          You can connect with us at <strong style="display:contents;"><%= SUPPORT_NUMBER %></strong> or write us at <strong style="display:contents;"><%= SUPPORT_EMAIL %></strong>
        </div>
      </div>
    </div>
		<div class="col-12">
			<ul class="mediaCenterAccordion">
				<li>
					<span class="active" style="color: #000;font-weight: 500;font-size: 18px; padding: 15px;">
            <% if current_user.sign_in_count > 1 %>
              More Reasons to live at Embassy Edge
            <% else %>
              5 Reasons to live at Embassy Edge
            <% end %>
          </span>
					<div class="mediaCentercontent" style="display:block;">
						<% if current_user.sign_in_count > 1 %>
							<div class="reasons-wrapper">
								<div class="col-2-5">
									<img src="<%= asset_path 'smart-price.png'%>" class="img-responsive">
									<div class="caption">
										Smarter Price<br/>
                    <span>Starting at just &#8377; 36 Lacs</span>
									</div>
								</div>
								<div class="col-2-5">
									<img src="<%= asset_path 'smart-location.png'%>" class="img-responsive">
									<div class="caption">
										Smarter Living<br/>
                    <span>Keeping you connected</span>
									</div>
								</div>
								<div class="col-2-5">
									<img src="<%= asset_path 'smart-community.png'%>" class="img-responsive">
									<div class="caption">
										Smarter Community<br/>
                    <span>Where you can truly be yourself</span>
									</div>
								</div>
								<div class="col-2-5">
									<img src="<%= asset_path 'smart-home.png'%>" class="img-responsive">
									<div class="caption">
										Smarter Home<br/>
                    <span>Homes powered by Alexa</span>
									</div>
								</div>
								<div class="col-2-5">
									<img src="<%= asset_path 'smart-Design.png'%>" class="img-responsive">
									<div class="caption">
										Smarter Design<br/>
                    <span>Gives you value for every inch</span>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="text-center mtop30">
									<a href="/dashboard/apartment-selector" class="pink payment-btn" data-event-category="section" data-event-action="click" data-event-name="Choose Your Home">Choose Your Home</a>
								</div>
							</div>
						<% else %>
							<div class="reasons-wrapper">
								<div class="col-2-5">
									<img src="<%= asset_path '5reasonstolive_1.png'%>" class="img-responsive">
									<div class="caption">
										It's located within embassy Springs - a 288-acre township in Devanahalli
									</div>
								</div>
								<div class="col-2-5">
									<img src="<%= asset_path '5reasonstolive_2.png'%>" class="img-responsive">
									<div class="caption">
										The development itself sprawls out across 40 acres in the township
									</div>
								</div>
								<div class="col-2-5">
									<img src="<%= asset_path '5reasonstolive_3.png'%>" class="img-responsive">
									<div class="caption">
										You get your own range of amenities, in addition to township amenities
									</div>
								</div>
								<div class="col-2-5">
									<img src="<%= asset_path '5reasonstolive_4.png'%>" class="img-responsive">
									<div class="caption">
										Your home comes with all the benefits, high quality and assurance of buying with Embassy
									</div>
								</div>
								<div class="col-2-5">
									<img src="<%= asset_path '5reasonstolive_5.png'%>" class="img-responsive">
									<div class="caption">
										You can accomplish your dream of owing an Embassy home, at never-seen-before prices
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="text-center">
									<a href="/dashboard/apartment-selector" class="pink payment-btn" data-event-category="section" data-event-action="click" data-event-name="Choose Your Home">Choose Your Home</a>
								</div>
							</div>
						<% end %>
					</div>
				</li>
			</ul>
		</div>

		<div class="clearfix"></div>
		<% else %>
		<div class="col-12">
		  <div class="col-6 page-title-wrapper">
		    <div class="title">All Bookings</div>
		  </div>
      <div class="col-6 text-right float-left-xs">
        <% if ProjectUnitPolicy.new(current_user, ProjectUnit.new).block? %>
		  	   <a href="/dashboard/apartment-selector" class="nav-btn-green">Book Another Home</a>
        <% end %>
		  </div>
		</div>
    <% if current_user.kyc_ready? %>
      <% hold_unit = current_user.project_units.where(status: 'hold').first %>
      <% if hold_unit.present? %>
      <div class="col-12">
        <div style="padding:15px; background-color:#fff3cd; border-color: #ffeeba;color: #856404;margin-top:15px;">
          We have kept a unit on hold for you; to proceed with booking it, click <a href="/dashboard/checkout/<%= hold_unit.id %>" data-event-category="section" data-event-action="click" data-event-name="book now">here</a>
        </div>
      </div>
      <% end %>
    <% end %>
    <% if current_user.kyc_ready? && current_user.project_units.in(status: ['blocked', 'booked_tentative', 'booked_confirmed']).count >= current_user.allowed_bookings %>
    <div class="col-12">
      <div style="padding:15px; background-color:#fff3cd; border-color: #ffeeba;color: #856404;margin-top:15px;">
        You cannot book any more apartments as you have reached the maximum bookings allowed per customer.
      </div>
    </div>
    <% end %>
		<div class="col-12">
			<%= render 'project_units', {project_units: current_user.project_units.where(status: 'hold')} %>
			<%= render 'project_units', {project_units: current_user.project_units.ne(status: 'hold')} %>
		</div>
		<br/><br/>
		<div class="col-12 text-center">
			<div class="text-center">
				<br/>
				<a href="/dashboard/apartment-selector" class="pink payment-btn" data-event-category="section" data-event-action="click" data-event-name="Book Another Home">
					Book Another Home
				</a>
			</div>
		</div>
		<% end %>
		<div class="clearfix"></div>
	<div class="col-12">
		<% current_user.receipts.where(status: 'clearance_pending').each do |receipt| %>
		<div>
			<% if receipt.status == 'clearance_pending' && receipt.project_unit_id.blank? && receipt.reference_project_unit_id.present? && receipt.reference_project_unit.user_based_status(receipt.user) == 'available' %>
	        	To block chosen unit: <%= ProjectUnit.find(receipt.reference_project_unit_id).name %> <a href='<%= dashboard_checkout_via_email_url(project_unit_id: receipt.reference_project_unit_id, receipt_id: receipt.receipt_id) %>'>Click here</a>
		    	<% end %>
		</div>
		<% end %>
	</div>
</div>
</section>
