<section class="mb-5">
  <div class="container">
    <div class="row">
    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
      <div class="table-title pt-1 pb-3">
        <img src="<%= asset_path 'file-kycs-black.svg' %>" alt="user icon"> <h1 class="title"><%= ::Asset.model_name.human(count: @assets.total_entries) %></h1>
      </div>
    </div>
    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
      <div class="table-btn-set float-right pb-3">
        <div class="display-initial" >
          <% if policy([:admin, Client]).asset_create? %>
            <%= link_to I18n.t("global.link_to.upload"), dashboard_documents_path(@user,'remote-state': assetables_path(assetable_type: @assetable.class.model_name.i18n_key.to_s, assetable_id: @assetable.id) ), class: "nowrap btn db-small-btn light-blue bg-white fn-400 modal-remote-form-link" %>
          <% end %>
        </div>
      </div>
    </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <table class='table my-customer-table responsive-tbl'>
            <thead>
              <tr class="bg-primary white">
                <th><%= t('mongoid.attributes.asset.file_name') %></th>
                <th><%= t('mongoid.attributes.asset.file_size') %></th>
                <th class="text-right"><%= t('global.action', count: 2)%></th>
              </tr>
            </thead>
            <tbody>
              <% @assets.each do |asset| %>
              <tr>
                <td><%= asset.file_name %></td>
                <td><%= (asset.file_size.to_f / 1024 / 1024).round(2) %> MB</td>
                <td class="text-right">
                  <%= link_to '', asset.file.url, target: "_blank", class: 'white fn-500 icon-set icon-download-black' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%= will_paginate @assets, list_classes: %w(pagination justify-content-center) %>
        </div>
      </div>
    </div>
  </div>
</section>
