<section class="my-customer">
  <div class="container">
    <div class="row">
    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
      <div class="table-title pt-1 pb-3">
        <img src="<%= asset_path 'file-kycs-black.svg' %>" alt="user icon"> <h1 class="title"><%= global_labels['documents'] %></h1>
      </div>
    </div>
    <% labels = t('mongoid.attributes.asset').with_indifferent_access %>
    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
      <div class="table-btn-set float-right pb-3">
        <div class="display-initial" >
          <% if policy([:admin, Client]).asset_create? %>
            <%= link_to "Upload ", dashboard_documents_path(@user,'remote-state': assetables_path(assetable_type: @assetable.class.model_name.i18n_key.to_s, assetable_id: @assetable.id) ), class: "nowrap btn db-small-btn light-blue bg-white fn-400 modal-remote-form-link" %>
          <% end %>
        </div>
      </div>
    </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <table class='table my-customer-table responsive-tbl'>
            <thead>
              <tr class="bg-gradient-cd white">
                <th><%= labels[:file_name] %></th>
                <th class="text-right"><%= labels[:file_size] %></th>
                <th class="text-right">Download</th>
              </tr>
            </thead>
            <tbody>
              <% current_client.assets.each do |asset| %>
              <tr>
                <td><%= asset.file_name %></td>
                <td class="text-right"><%= (asset.file_size.to_f / 1024 / 1024).round(2) %> MB</td>
                <td class="text-right">
                  <%= link_to "Download", asset.file.url, target: "_blank", class: 'db-small-btn bg-light-blue white fn-500 btn' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
