<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BookingPortal</title>
  <%#= stylesheet_link_tag 'application', media: 'all' %>
    <%#= javascript_include_tag 'application' %>
    <style type="text/css">
    body{font-size: 13px;}
    *, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;}
    p, ul, h1, h2, h3, h4, h5, h6{padding:0;  margin:0;}
    .row:before, .row:after{display: table;content: " ";}
    .row:after, .clearfix{clear: both;}
    .pull-left{float: left !important;}
    .pull-right{float: right !important;}
    .col-1{width: 8.333333333333333%;}
    .col-2{width: 16.66666666666667%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33333333333333%;}
    .col-5{width: 41.66666666666667%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33333333333333%;}
    .col-8{width: 66.66666666666667%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33333333333333%;}
    .col-11{width: 91.66666666666667%;}
    .col-12{width: 100%;}
    .col-12-5{width: 20%;}
    .w70{width: 70%;}
    .w30{width: 30%;}
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-12-5, .w30, .w70{float: left;}
    .col-2-offset{margin-left:16.66666666666667%;}
    .text-white{color: #fff;}
    .text-green{color:#6c7d35;}
    .text-left{text-align: left;}
    .text-center{text-align: center;}
    .text-right{text-align: right;}
    .bg-green{background-color:#6c7d35;}
    .eoi-form-wrapper{margin: 20px 0;}
    #eoi{padding: 30px 0;}
    #eoi .logo-wrapper{margin-bottom: 30px;}
    .eoititle p.recieptno{font-size: 14px;padding:10px 0;}
    .eoi-table-wrapper{margin: 15px 0;}
    .eoi-table thead{background-color: #6c7d35;color:#fff;font-weight: 500;}
    .eoi-table th{font-size: 14px;font-weight: 400;}
    .eoi-table th, .eoi-table td{text-align: center;padding:5px;border:1px solid #ccc;}
    </style>
</head>
<body>
  <section class="col-12" id="eoi">
    <div class="container">
      <div class="row">
        <div class="col-12 logo-wrapper">
          <div class="pull-left">
            <img src="<%= asset_url 'logo2.png' %>">
          </div>
          <div class="pull-right">
            <img src="<%= asset_url 'logo.png' %>">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center eoititle">
          <p>NAM ESTATES PRIVATE LIMITED</p>
          <p><strong>EXPRESSION OF INTEREST FOR ALLOTMENT OF APARTMENTS IN</strong></p>
          <h3 class="text-green">EMBASSY EDGE</h3><br/>
          <p class="text-center text-white bg-green pos-rel recieptno">NON - BINDING EXPRESSION OF INTEREST FOR 'EMBASSY EDGE'<br/>(RERA ACK. NO.: PR/KN/180119/002674)</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 eoi-form-wrapper">
          <form id="eoi-form" accept-charset="UTF-8" method="post" action="">
            <div class="form-group">
              <label>Name of the Applicant:</label>
              <!-- <input class="form-control" autofocus="autofocus" required="required" type="text" value="<%#= @user.name %>" name="" id="eoi_applicant_name"> -->
              <strong><%= @user.name %></strong>
            </div>
            <div class="form-group">
              <label>Name of the Co-Applicant:</label>
              <!-- <input class="form-control" autofocus="autofocus" required="required" type="text" value="" name="" id="eoi_coapplicant_name"> -->
            </div>
            <div class="form-group">
              <label>PAN No.:</label>
              <!-- <input class="form-control" autofocus="autofocus" required="required" type="text" value="<%#= @user.user_kycs.first.try(:pan_number) %>" name="" id="eoi_pan_no"> -->
              <strong><%= @user.user_kycs.first.try(:pan_number) %></strong>
            </div>
            <div class="form-group">
              <label>Aadhar No.:</label>
              <!-- <input class="form-control" autofocus="autofocus" required="required" type="text" value="<%#= @user.user_kycs.first.try(:aadhaar) %>" name="" id="aadhar_pan_no"> -->
              <strong><%= @user.user_kycs.first.try(:aadhaar) %></strong>
            </div>
            <div class="form-group">
              <label>Email ID:</label>
              <!-- <input class="form-control" autofocus="autofocus" required="required" type="text" value="<%#= @user.email %>" name="" id="eoi_email"> -->
              <strong><%= @user.email %></strong>
            </div>
            <div class="form-group">
              <label>Mobile No.:</label>
              <!-- <input class="form-control" autofocus="autofocus" required="required" type="text" value="<%#= @user.phone %>" name="" id="eoi_pan_no"> -->
              <strong><%= @user.phone %></strong>
            </div>
            <div class="form-group">
              <label>Communication Address:</label>
              <!-- <input class="form-control" autofocus="autofocus" required="required" type="text" value="" name="" id="eoi_address"> -->
              <strong><%= @user.user_kycs.first.try(:street) %> - <%= @user.user_kycs.first.try(:house_number) %>, <%= @user.user_kycs.first.try(:city) %> - <%= @user.user_kycs.first.try(:postal_code) %>, <%= @user.user_kycs.first.try(:state) %>, <%= @user.user_kycs.first.try(:country) %></strong>
            </div>
           <!--  <div class="form-group">
              <input type="submit" name="commit" value="Save" class="btn btn-primary nav-btn">
            </div> -->
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>I/We-  <strong><%= @user.name %></strong> ("the Applicant(s)") understand that NAM ESTATES PRIVATE LIMITED (the "Company") has invited Expression of Interest (EOI) for the purchase of residential units/apartments in its upcoming real estate project presently named, 'Embassy Edge' (the "Project").</p><br/>
          <p>By submitting this Expression of Interest, together with the amount payable, I/we confirm my/our interest in purchasing apartment(s) as per the choice(s) mentioned below, subject to the terms and conditions as may be laid out in the allotment letter and the agreement of sale. My/Our preference of the unit(s) is as follows:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 eoi-table-wrapper">
          <table class="eoi-table" cellspacing="0" cellpadding="0" width="100%;">
            <thead>
              <tr>
                <th>Configuration</th>
                <th>Approximate<br/>Carpet Area in Sq. Ft</th>
                <th>Approximate<br/>Usable Area in Sq. Ft</th>
                <th>Approximate<br/>Saleable Area in Sq. Ft</th>
                <th>Indicative Price Range***<br/>(Standard Units)</th>
                <th>Amount Payable (per unit) in INR<br/>along with EOI</th>
                <th>No. of Units</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1 BHK</td>
                <td>411 to 452</td>
                <td>460 to 528</td>
                <td>607 to 696</td>
                <td>36 to 41 Lakhs</td>
                <td>30,000/-</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>2 BHK</td>
                <td>638 to 698</td>
                <td>745 to 802</td>
                <td>983 to 1058</td>
                <td>57 to 61 Lakhs</td>
                <td>30,000/-</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>2.5 BHK</td>
                <td>723</td>
                <td>826 to 852</td>
                <td>1089 to 1125</td>
                <td>63 to 66 Lakhs</td>
                <td>30,000/-</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>3 BHK</td>
                <td>811 to 911</td>
                <td>940 to 1065</td>
                <td>1240 to 1406</td>
                <td>72 to 81 Lakhs</td>
                <td>30,000/-</td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
          <p><i>*** Indicative price is the estimated price of the apartment/flat/unit, and excludes charges (if any) of Rs. 75/- ps. ft. to Rs. 200/- ps. ft. towards Premium Units and Rs. 20/- to 240/- ps. ft. towards the Floor Rise. Additionally, legal fee, advance maintenance and all statutory charges (e.g. Registration Charges, Stamp duty, Municipal taxes etc.) shall be payable at actuals as may be applicable from time to time.</i></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 eoi-table-wrapper">
          <p>I/We, hereby, enclose the following cheque(s)/demand draft(s) in favour of 'NAM Estates Private Limited' along with the EOI:</p>
          <div></div>
          <table class="eoi-table" cellspacing="0" cellpadding="0" width="100%">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Cheque/Demand Draft No.</th>
                <th>Date</th>
                <th>Name of the Bank</th>
                <th>Name of the Bank Branch</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ol>
            <li>I/We understand that this EOI is subject to the terms and conditions mentioned below. </li>
            <li>I/We also understand that submission and acceptance of this EOI does not, in itself, confer or create any rights in my/our favour, and shall not be construed as a confirmation of allotment in my/our favour.</li>
            <li>Acceptance and/or rejection of this EOI is at the sole and absolute discretion of the Company. IWe also understand that areas mentioned above are indicative and shall vary as per the apartment chosen by me/us.</li>
            <li>I/We hereby authorize NAM Estates Private Limited to present and encash the cheque/demand draft enclosed along with the EOI. </li>
            <li>I/We understand that on the date of allotment, IWe may have to consider online payment for initial booking, to block the preferred apartment on the online portal. The cheque deposited as EOI may be returned or adjusted towards the future balance of 10% of the Agreement Value. </li>
            <li>I/We understand that within 10 working days of allotment, I/we will have to pay the balance 10% of Agreement Value.</li>
            <li>I also understand that if I/we decide to withdraw this EOI prior to confirmed allotment of a unit and signing of an application form, the Company shall return the cheque / refund the amount in full without any interest implication, in local cheques in 30 days.</li>
          </ol><br/>
          <p class="text-center text-white bg-green">TERMS AND CONDITIONS</p>
          <ol>
            <li>I/we understand that the booking and allotment process for the Project is not yet open to the public and this EOI is made available to me/us on an invitation basis only.</li>
            <li>IWe hereby submit this EOI, to be allotted and sold the preferred apartment(s)/flat(s)/unit(s) indicated above in the Project, as and when the Company commences the process of allotment in the normal course of business.</li>
            <li>I/we are fully aware that the selling price mentioned herein is indicative only.</li>
            <li>The final selling price (as per details mentioned above) and total consideration per unit/apartment/flat (the "Allotment Price") will be disclosed and stated in the letter of allotment.</li>
            <li>We do understand that the selection and allotment of flats/units is subject to availability and final confirmation from the Company, and allocation of such flats/units will be at the sole discretion of the Company.</li>
            <li>The Company may, at its sole discretion, return the EOI along with the cheque(s)/amount paid by mesus, without assigning any reason whatsoever.</li>
            <li>IWe understand that the Company reserves the right to withdraw/reschedule launch of the Project and consequently, withdraw/defer/cancel allotment of apartment(s)/flat(s)/unit(s) to me/us by returning the cheque(s)/amount(s) paid.</li>
            <li>The number of apartment(s)/unit(s)/flat(s) released for sale by the Company shall be determined by the Company at its sole discretion.</li>
            <li>I/we agree and acknowledge that submission of this EOI does not guarantee the allotment of one or more apartment(s)/unit(s)/flat(s) to mesus. Flats/Units will be offered on a 'First Come, First Serve' basis at the Allotment Price, subject to customers fulfilling all eligibility criteria to qualify for such allotment.</li>
            <li>If I/we intend to apply for a bank loan to finance the purchase of an apartment(s)/unit(s)/flat(s), my/our eligibility for such loan shall be determined solely by the relevant bank.</li>
            <li>All additional charges/fees that are payable at actuals at the time of possession will be stated in the agreement for sale between the parties. Nothing contained in this EOI shall constitute an offer, contract, advertisement or booking as understood and defined under the Real Estate (Regulation and Development) Act, 2016 and relevant state rules thereunder.</li>
            <li>Applicant(s) expressly waives his/her/their right to any file, make or institute any complaint or claim under the said Act, or seek any redressal or remedy under any provisions of the said Act or before any authority or tribunal established under the said Act.</li>
            <li>Applicant(s) hereby confirm that they have read the aforementioned terms and conditions and do herby accept the same.</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
</body>
</html>