<% if current_user.role?('user') %>
<style type="text/css">
	.table{
		width: 100%;
	}
	.thead-default{
		background-color: #edeef0;
	}
</style>
<section class="main-wrapper full-height grey">
	<div class="container-fluid">
		<div class="clearfix"></div>
		<% if current_user.sign_in_count > 1 %> 
		<div class="col-12 returned-user-wrapper">
			<div class="col-8 dashboard-banner">
				<div class="white pageTitle">
					<span>250 users now waitlisted behind<br/> you for the same apartment</span>
				</div>
				<div class="white subTitle">
					<img src="<%= asset_path 'time.png'%>" class="img-responsive"><span>COMPLETE THE AGREEMENT<br/> TRANSACTION IN TIME</span>
				</div>
				<a href="/dashboard/apartment-selector" class="banner-btn btn-anim-white">Complete the transaction</a>
			</div>
			<div class="col-4 text-center pad-left">
				<div class="days-left-wrapper">
					<div class="relative">
						<img src="<%= asset_path 'calender.png'%>" class="img-responsive">
						<div class="days-left absolute">07</div>
					</div>
					<h2 class="blue">
						Only 7 days are remaining to complete the booking
					</h2>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<% else %>
		<div class="col-12 text-center banner-offer">
			<div class="col-1 green-bg pull-left">
				OFFER
			</div>
			<div class="col-11 pull-right">
				<span>Launching Embassy Apartments 1, 2 & 3 BHKs from Rs. 36 Lac at Embassy Springs</span>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		<% end %>
		<div class="col-12 mediaCentercontent white-bg steps-wrapper">
			<h1 class="text-center">
				Reserve your apartment today by<br/> paying just Rs. 30,000* by 4 easy steps to book
			</h1>
			<div class="reasons-wrapper mtop30">
				<div class="col-3">
					<img src="<%= asset_path '4easysteps_1.png'%>" class="img-responsive">
					<div class="caption">
						Choose a<br/> type of home<br/>
						<span>(by number of bedrooms<br/> or by budget)</span>
					</div>
				</div>
				<div class="col-3">
					<img src="<%= asset_path '4easysteps_2.png'%>" class="img-responsive">
					<div class="caption">
						Choose <br/> the tower<br/>
					</div>
				</div>
				<div class="col-3">
					<img src="<%= asset_path '4easysteps_3.png'%>" class="img-responsive">
					<div class="caption">
						Select your<br/> apartment<br/>
					</div>
				</div>
				<div class="col-3 last">
					<img src="<%= asset_path '4easysteps_4.png'%>" class="img-responsive">
					<div class="caption">
						Pay agreement<br/> amount<br/>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="text-center mtop30">
					<a href="/dashboard/apartment-selector" class="pink banner-btn btn-anim">Choose Your Embassy Home</a>
				</div>
			</div>
		</div>
		<div class="col-12">
			<ul class="mediaCenterAccordion">
				<li>
					<span class="pageTitle">5 Reasons to live at Embassy Edge</span>
					<div class="mediaCentercontent">
						<% if current_user.sign_in_count > 1 %> 
							<div class="reasons-wrapper">
								<div class="col-2-5">
									<img src="<%= asset_path '5reasonstolive_1.png'%>" class="img-responsive">
									<div class="caption">
										It's located within embassy Springs - a 254-acre township in Devanahalli
									</div>
								</div>
								<div class="col-2-5">
									<img src="<%= asset_path '5reasonstolive_2.png'%>" class="img-responsive">
									<div class="caption">
										The development itself sprawls out across 40 acres in the township
									</div>
								</div>
								<div class="col-2-5">
									<img src="<%= asset_path '5reasonstolive_3.png'%>" class="img-responsive">
									<div class="caption">
										You get your own range of amenities, in addition to township amenities
									</div>
								</div>
								<div class="col-2-5">
									<img src="<%= asset_path '5reasonstolive_4.png'%>" class="img-responsive">
									<div class="caption">
										Your home comes with all the benefits, high quality and assurance of buying with Embassy
									</div>
								</div>
								<div class="col-2-5">
									<img src="<%= asset_path '5reasonstolive_5.png'%>" class="img-responsive">
									<div class="caption">
										You can accomplish your dream of owing an Embassy home, at never-seen-before prices
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="text-center mtop30">
									<a href="/dashboard/apartment-selector" class="pink banner-btn btn-anim">Choose Your Embassy Home</a>
								</div>
							</div>
							<!-- <div class="reasons-wrapper">
								<div class="col-12 reason-img-bg">
									<div class="pull-left left-wrapper">
										<div class="number-wrapper pull-left">
											<span>2</span><span>1</span><span>0</span>
										</div>
										<div class="pull-left pageTitle">
											Other such X BHK<br/> apartments sold! 
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
								<div class="col-12">
									<div class="col-6">
										<div class="reasons-wrapper family-card relative">
											<p>Happy Family 1</p>
											<div class="title">
												Lorem Ipsum Doler
											</div>
											<div class="subTitle">
												<span>Lorem Ipsum DolerLorem Ipsum Doler</span>
											</div>
											<p>
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
											</p>
											<div class="user-star-icon absolute">
												<img src="<%= asset_path 'testi1.png'%>" class="img-responsive">
											</div>
										</div>
									</div>
									<div class="col-6 pad-left">
										<div class="reasons-wrapper family-card relative">
											<p>Happy Family 1</p>
											<div class="title">
												Lorem Ipsum Doler
											</div>
											<div class="subTitle">
												<span>Lorem Ipsum DolerLorem Ipsum Doler</span>
											</div>
											<p>
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
											</p>
											<div class="user-star-icon absolute">
												<img src="<%= asset_path 'testi1.png'%>" class="img-responsive">
											</div>
										</div>
									</div>
								</div>
							</div> -->
						<% else %>
							<div class="reasons-wrapper">
								<div class="col-2-5">
									<img src="<%= asset_path '5reasonstolive_1.png'%>" class="img-responsive">
									<div class="caption">
										It's located within embassy Springs - a 254-acre township in Devanahalli
									</div>
								</div>
								<div class="col-2-5">
									<img src="<%= asset_path '5reasonstolive_2.png'%>" class="img-responsive">
									<div class="caption">
										The development itself sprawls out across 40 acres in the township
									</div>
								</div>
								<div class="col-2-5">
									<img src="<%= asset_path '5reasonstolive_3.png'%>" class="img-responsive">
									<div class="caption">
										You get your own range of amenities, in addition to township amenities
									</div>
								</div>
								<div class="col-2-5">
									<img src="<%= asset_path '5reasonstolive_4.png'%>" class="img-responsive">
									<div class="caption">
										Your home comes with all the benefits, high quality and assurance of buying with Embassy
									</div>
								</div>
								<div class="col-2-5">
									<img src="<%= asset_path '5reasonstolive_5.png'%>" class="img-responsive">
									<div class="caption">
										You can accomplish your dream of owing an Embassy home, at never-seen-before prices
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="text-center">
									<a href="/dashboard/apartment-selector" class="pink banner-btn btn-anim">Choose Your Embassy Home</a>
								</div>
							</div>
						<% end %>
					</div>
				</li>
			</ul>
		</div>
		
		<div class="clearfix"></div>
		<div class="col-12 aparment-sold-wrapper">
			<div class="col-4">
				<div class="apartment-count-box-wrapper">
					<div class="apartment-count-box">
						<span>02</span>
						<div class="box-clip-right">
						</div>
						<div class="box-clip-left">
						</div>
					</div>
					<div class="clearfix"></div>
					<p>1 BHK</p>
				</div>
			</div>
			<div class="col-4">
				<div class="apartment-count-box-wrapper">
					<div class="apartment-count-box medium">
						<span>12</span>
						<div class="box-clip-right">
						</div>
						<div class="box-clip-left">
						</div>
					</div>
					<div class="clearfix"></div>
					<p>2 BHK</p>
				</div>
			</div>
			<div class="col-4">
				<div class="apartment-count-box-wrapper">
					<div class="apartment-count-box light">
						<span>15</span>
						<div class="box-clip-right">
						</div>
						<div class="box-clip-left">
						</div>
					</div>
					<div class="clearfix"></div>
					<p>3 BHK</p>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="text-center pageTitle white">
				Apartments sold
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		<br/>
		<% if current_user.sign_in_count > 1 %> 
		<div class="col-12 text-center">
			<div class="text-center">	
				<a href="/dashboard/apartment-selector" class="pink banner-btn btn-anim">
					Book another Embassy Home
				</a>
			</div>
		</div>
		<div class="clearfix"></div>
		<% else %>
			<div class="text-center">
				<a href="/dashboard/apartment-selector" class="pink banner-btn btn-anim">Choose Your Embassy Home</a>
			</div>
		<% end %>
		
		<div class="col-12">
			<%= render 'project_units', {project_units: current_user.project_units.where(status: 'hold')} %>
			<%= render 'project_units', {project_units: current_user.project_units.ne(status: 'hold')} %>
		</div>
		<!-- <div class="col-12 booking-accordian-wrapper">
			<div class="booking-accordian" data-acc="book-1">
				<span class="title">Booking 1</span><span class="title">Tower Name: B-Gardenia</span><span class="title">Unit No: 107</span><span class="title">Floor: 1</span>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-12 booking-details-wrapper" id="book-1">
			<div class="booking-detail">
				<div class="title">Booking Details</div>
				<div class="unit-booking-details">
					<div class="col-4">
						<div>Applicant:</div><div class="dark">Kiran Customer</div>
					</div>
					<div class="col-4">	
						<div>Built-up Area:</div><div class="dark">1089.9 sq.ft</div>
					</div>
					<div class="col-4">
						<div>Super Built-up Area:</div><div class="dark">1089.9 sq.ft</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="unit-booking-details">
					<div class="col-4">
						<div>Unit Type:</div><div class="dark">2 BHK - 2T - A</div><a href="javascript:;" class="small-link">View Floor Plan</a>
					</div>
					<div class="col-4">
						<div>Carpet Area:</div><div class="dark">723.3 sq.ft</div>
					</div>
					<div class="col-4">
						<div>Unit View:</div><div></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="booking-detail light-purple">
				<div class="title">Payment Details</div>
				<div class="unit-booking-detail">
					<div class="col-4">
						<div>All Inclusive Price:</div><div class="dark">Rs. 54,49,500</div><a href="javascript:;" class="small-link">Payment Break Up</a>
					</div>
					<div class="col-4">	
						<div>Advance Payment:</div><div class="dark">0</div>
					</div>
					<div class="col-4">
						<div>Booking Amount:</div><div class="dark">Rs. 5,44,950</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="unit-booking-details">
					<div class="col-4">
						<div>Agreement Value:</div><div class="dark">Rs. 54,49,500</div>
					</div>
					<div class="col-4">
						<div>Balance Payment:</div><div class="dark">Rs. 5,44,950</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="booking-detail light-pink">
				<ul>
					<li>You need to pay 9.9% of agreement value to confirm the booking</li>
					<li>You have 7 days remaining to confirm this booking please make remaining payment of Rs. 0</li>
				</ul>
			</div>
			<a href="javascript:;" class="col-12 block pink payment-btn text-center">
				MAKE THE REMAINING PAYMENT
			</a>
		</div>
		<div class="col-12 booking-accordian-wrapper">
			<div class="booking-accordian" data-acc="book-2">
				<span class="title">Booking 1</span><span class="title">Tower Name: B-Gardenia</span><span class="title">Unit No: 107</span><span class="title">Floor: 1</span>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-12 booking-details-wrapper" id="book-2">
			<div class="booking-detail">
				<div class="title">Booking Details</div>
				<div class="unit-booking-details">
					<div class="col-4">
						<div>Applicant:</div><div class="dark">Kiran Customer</div>
					</div>
					<div class="col-4">	
						<div>Built-up Area:</div><div class="dark">1089.9 sq.ft</div>
					</div>
					<div class="col-4">
						<div>Super Built-up Area:</div><div class="dark">1089.9 sq.ft</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="unit-booking-details">
					<div class="col-4">
						<div>Unit Type:</div><div class="dark">2 BHK - 2T - A</div><a href="javascript:;" class="small-link">View Floor Plan</a>
					</div>
					<div class="col-4">
						<div>Carpet Area:</div><div class="dark">723.3 sq.ft</div>
					</div>
					<div class="col-4">
						<div>Unit View:</div><div></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="booking-detail light-purple">
				<div class="title">Payment Details</div>
				<div class="unit-booking-details">
					<div class="col-4">
						<div>All Inclusive Price:</div><div class="dark">Rs. 54,49,500</div><a href="javascript:;" class="small-link">Payment Break Up</a>
					</div>
					<div class="col-4">	
						<div>Advance Payment:</div><div class="dark">0</div>
					</div>
					<div class="col-4">
						<div>Booking Amount:</div><div class="dark">Rs. 5,44,950</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="unit-booking-details">
					<div class="col-4">
						<div>Agreement Value:</div><div class="dark">Rs. 54,49,500</div>
					</div>
					<div class="col-4">
						<div>Balance Payment:</div><div class="dark">Rs. 5,44,950</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="booking-detail light-pink">
				<ul>
					<li>You need to pay 9.9% of agreement value to confirm the booking</li>
					<li>You have 7 days remaining to confirm this booking please make remaining payment of Rs. 0</li>
				</ul>
			</div>
			<a href="javascript:;" class="col-12 block pink payment-btn text-center">
				MAKE THE REMAINING PAYMENT
			</a>
		</div> -->

	</div>
</section>
<% elsif current_user.role?('crm') || current_user.role?('channel_partner') %>
  <%= render 'crm' %>
<% end %>
