<style type="text/css">
.apartment-selector-wrapper .title {
    background-color: #c4dfff;
    margin: 20px 0px 5px 0;
    /* border: 2px solid #ececec; */
    border-radius: 6px;
    font-weight: 400;
    font-size: 18px;
    color: #3165a2;
    padding: 10px 15px;
    font-family: 'Roboto Condensed', sans-serif;
    /* font-weight: 900; */
}
.apartment-selector-wrapper .client-detail-wrapper {
    background-color: #fff;
    margin: 10px 0px;
    /*border: 2px solid #ececec;*/
    border-radius: 6px;
    font-weight: 500;
    font-size: 28px;
    color: #6c6c6c;
    padding: 5px 15px;
    border-left: 15px solid #c02680;
}
.client-detail {
    padding: 15px 0px 0px 0px;
}
.pull-left {
    float: left !important;
}
.tower-info-wrapper {
    padding: 20px 0px 20px 20px;
}
.pull-right {
    float: right !important;
}
.tower-info-wrapper .padding-left-30 {
    padding-left: 30px;
}
.tower-info-wrapper > div {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
.clearfix {
    clear: both;
}
.f22 {
    font-size: 22px;
}
.bold {
    font-weight: 500;
}
.table-wrapper {
    border-radius: 0px;
    border-color: #ccc;
}
.payment-table, .payment-breakup {
    border: 1px solid #ddd;
}
.payment-breakup tr:nth-child(odd), .payment-table tr:nth-child(odd) {
    background: #f9f9f9;
}
.payment-breakup th {
    background-color: #efefef;
    color: #4c80bd;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}
.text-center {
    text-align: center;
}
.payment-breakup td, .receipt-table td {
    border-bottom: 0px solid #ccc;
    padding: 15px;
    font-size: 14px;
}
.payment-breakup td.pink {
    background-color: #e6b7d2;
    color: #c02680;
    font-size: 18px;
}
.payment-breakup.mediaCenterAccordion {
    border: none;
}
.payment-breakup.mediaCenterAccordion > li {
    display: inline-block;
    list-style: none;
    width: 100%;
    margin: 0px 0%;
    vertical-align: top;
    border-bottom: 1px solid #9b9b9e;
    padding: 10px 0px;
}
.payment-breakup.mediaCenterAccordion li > span {
    background-image: asset-url('Plus-Icon.png');
    background-repeat: no-repeat;
    background-position: 99.5% 6px;
    background-size: 23px;
    cursor: pointer;
    font-size: 16px;
    color: #232323;
    display: block;
    margin: 1px 3px;
    padding: 6px 0px;
    background-color: transparent;
    border: 0px;
}
.mediaCenterAccordion > li > div {
    width: 100%;
    list-style: none;
    padding: 0px 0px 0px 0px;
    /*display: none;*/
    overflow: auto;
}
</style>
<section class="main-wrapper">
	<div class="container-fluid">
		<div class="col-12">
			<!-- <div class="breadcrumbs-wrapper">
	        	<span>Apartment Selector</span><span>Choose Tower</span><span>Select Apartment</span><span>KYC Details</span><span class="active">Proceed to payment</span>
	      	</div> -->
	      	<div class="col-12">
		      	<div class="col-12 xs-100">
		      		<div class="apartment-selector-wrapper">
			        	<div class="title">
			          		Payment Break Up
			        	</div>
			        	<div class="time-left-wrapper visible-xs">
			        	 To be fair to other users interested in this apartment, you have the next 10 minutes
			        	</div>
			        	<div class="col-12 client-detail-wrapper">
				       		<div class="pull-left client-detail">
								<span class="pink">Mr. <%= current_user.name %></span>
								<span class="pink">Flat No: <%= @project_unit.name %></span>
							</div>
				       		<div class="pull-right tower-info-wrapper"> 
				       			<div class="pull-left">Tower: <%= @project_unit.project_tower_name %><br>Floor: <%= @project_unit.floor %><br>Flat No: <%= @project_unit.name %><br></div>
				       			<div class="pull-left padding-left-30">Configuration: <%= @project_unit.bedrooms %> BHK<br>Carpet Area: <%= @project_unit.carpet.round %> Sq.Ft.<br>Starting Price: <%= number_to_indian_currency(@project_unit.agreement_price.round) %></div>
				       			<div class="clearfix"></div>
				       		</div>
				       		<div class="clearfix"></div>
				       	</div>
			        </div>
			    </div>
			    <!-- <div class="col-4 pad-left xs-100">
			    	<div class="apartment-selector-wrapper">
			        	<div class="days-left-wrapper text-center">
							<h1 class="bold green">
								09:59
							</h1>
							<p class="green">
								To be fair to other user interested in this<br/> apartment, you have the next 10 minutes
							</p>
						</div>
			        </div>
			    </div> -->
			    <div class="clearfix"></div>
	      	</div>
	      	<div class="clearfix"></div>
	      	<div class="col-12">
			<%= render partial: "admin/project_units/payment_breakup", locals: {project_unit: @project_unit} %>
		</div>
	</div>
</section>
		
