<section class="cp-payout-page">
  <div class="container">
    <div class="row sticky-cp-menu">
      <div class="col-6">
        <h1 class="sec-title-cp"><%= I18n.t("global.earnings" %></h1>
      </div>
      <div class="col-6 text-end">
        <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#cp-payout-filter-modal">
          <i class="fas fa-filter white"></i>
        </a>
      </div>
      <div class="col-12">
        <ul class="cp-menu-list">
          <li>
            <%= link_to I18n.t("global.all"), payout_dashboard_path(user_login: params[:user_login], user_token: params[:user_token]), class: "#{params.dig(:fltrs, :category).blank? ? 'active' : ''}" %>
          </li>
          <li>
            <%= link_to I18n.t("global.link_to.site_visits"), payout_dashboard_path({fltrs: {category: "walk_in"}, user_login: params[:user_login], user_token: params[:user_token]}), class: "#{params.dig(:fltrs, :category) == "walk_in" ? 'active' : ''}" %>
          </li>
          <li>
            <%= link_to I18n.t("global.link_to.spot_bookings"), payout_dashboard_path({fltrs: {category: "spot_booking"}, user_login: params[:user_login], user_token: params[:user_token]}), class: "#{params.dig(:fltrs, :category) == "spot_booking" ? 'active' : ''}" %>
          </li>
          <li>
            <%= link_to I18n.t("global.link_to.brokerages"), payout_dashboard_path({fltrs: {category: "brokerage"}, user_login: params[:user_login], user_token: params[:user_token]}), class: "#{params.dig(:fltrs, :category) == "brokerage" ? 'active' : ''}" %>
          </li>
          <!-- <li>
            <a href="javascript:;">Others</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12"><hr class="my-1 hr-color"></div>
  <div class="contianer">
    <div class="row px-3">
      <div class="col-12">
        <h2 class="total-earn-txt"><%= I18n.t("global.link_to.total_earnings") %></h2>
        <h3 class="total-earn-amount mb-4"><%= number_to_indian_currency(@total_earnings) rescue "-" %></h3>
      </div>
      <div class="col-6 pe-1">
        <div class="earn-desc">
          <label><%= I18n.t("mongoid.attributes.invoice/payout_status.raised") %></label>
          <p><%= number_to_indian_currency(@invoiced) rescue "-" %></p>
          <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#invoiced-modal"><i class="fas fa-info-circle text-yellow"></i></a>       
        </div>
      </div>
      <div class="col-6 ps-1">
        <div class="earn-desc">
          <label><%= I18n.t("mongoid.attributes.invoice/payout_status.paid") %></label>
          <p><%= number_to_indian_currency(@paid_invoices) rescue "-" %></p>
          <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#paid-modal"><i class="fas fa-info-circle text-yellow"></i></a>       
        </div>
      </div>
    </div>
  </div>
</section>
  <section class="earning-potential">
    <div class="container">
      <div class="row">
        <% if params.dig(:fltrs, :category).blank? || params.dig(:fltrs, :category) == "brokerage" || params.dig(:fltrs, :category) == ["all"] || params.dig(:fltrs, :category) == ["brokerage"] %>
          <div>
              <div class="col-12">
                  <h2 class="ep-title"><%= I18n.t("global.earning_potential %></h2>
              </div>

              <div class="col-12">
                  <ul class="earning-potential-list mt-3">
                  <li>
                      <div class="earn-desc pending-approval bg-white">
                      <label>Waiting for Registration</label>
                      <p><%= number_to_indian_currency(@waiting_for_registration) rescue "-" %></p>
                      <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#waiting-modal"><i class="fas fa-info-circle text-yellow"></i></a>       
                      </div>
                  </li>
                  <li>
                      <div class="earn-desc approved bg-success">
                      <label>Waiting for Invoicing</label>
                      <p><%= number_to_indian_currency(@waiting_for_approval) rescue "-" %></p>
                      <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#approved-modal"><i class="fas fa-info-circle text-yellow"></i></a>       
                      </div>
                  </li>
                  <li>
                      <div class="earn-desc waiting-approval bg-danger">
                      <label>Cancellation</label>
                      <p><%= number_to_indian_currency(@rejected_invoices) rescue "-" %></p>
                      <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#lost-modal"><i class="fas fa-info-circle text-yellow"></i></a>       
                      </div>
                  </li>
                  </ul>
              </div>

              <div class="col-12"><hr></div>
          </div>
        <% end %>
        <% if policy([:admin, Invoice]).index? %>
          <div class="col-12">
            <h2 class="ep-title float-start col-6">Trans<%= I18n.t("global.actions") %></h2>
            <%= link_to "View All", payout_list_path(fltrs: params.dig(:fltrs), user_login: params[:user_login], user_token: params[:user_token]), class: "text-end float-end col-6" %>
          </div>
          
          <%= render "dashboard/payout_dashboard/payout_list", invoices: @invoices_with_limit %>
        <% end %>
      </div>
    </div>
  </section>

<!-- Modal -->
<div class="modal fade small-modal" id="invoiced-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-3">
        <h5 class="modal-title" id=""><%= I18n.t("mongoid.attributes.invoice/payout_status.raised") %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This is the total incentive amount generated on all walk-ins & bookings approved by the developer sourcing manager. Your incentive/brokerage will be released shortly.</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade small-modal" id="paid-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-3">
        <h5 class="modal-title" id=""><%= I18n.t("mongoid.attributes.invoice/payout_status.paid") %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This is the total incentive amount paid by <%= current_client.name %> on your approved walk-ins, spot bookings and booking brokerages.</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade small-modal" id="waiting-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-3">
        <h5 class="modal-title" id=""><%= I18n.t("mongoid.attributes.invoice/payout_status.approved") %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><%= I18n.t("controller.receipts.process_payment.total_brokerage_note") %></p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade small-modal" id="approved-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-3">
        <h5 class="modal-title" id=""><%= I18n.t("mongoid.attributes.invoice/payout_status.draft") %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><%= I18n.t("controller.receipts.process_payment.potential_brokerage_note") %></p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade small-modal" id="lost-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-3">
        <h5 class="modal-title" id=""><%= I18n.t("mongoid.attributes.invoice/payout_status.rejected") %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><%= I18n.t("controller.receipts.process_payment.lost_brokerage_amt") %></p>
      </div>
    </div>
  </div>
</div>




<%= render "dashboard/payout_dashboard/filters" %>


<script>
    // $('.brokerage-tab').click(function(){
    //     $('.brokerage-tab-content').fadeIn();
    //     $('.cp-menu-list a').removeClass('active');
    //     $(this).addClass('active');
    // });
    $(window).scroll(function(){
        var scroll = $(window).scrollTop();
        if (scroll > 10) {
            $(".sticky-cp-menu").addClass("fixed-header");
            $('.cp-payout-page').css('padding','90px 0 55px');
        } else {
            $(".sticky-cp-menu").removeClass("fixed-header");
            $('.cp-payout-page').css('padding','30px 0 55px');
        }
    });
</script>
