<section class="main-wrapper full-height">
  <div class="container-fluid">
    <div class="col-12">
      <div class="breadcrumbs-wrapper">
        <span <%= params[:stage] == "apartment_selector" ? "class=active" : "" %>>Apartment Selector</span>
        <span <%= params[:stage] == "choose_tower" ? "class=active" : "" %>>Choose Tower</span>
        <span <%= params[:stage] == "select_apartment" ? "class=active" : "" %>>Select Apartment</span>
        <span <%= params[:stage] == "kyc_details" ? "class=active" : "" %>>KYC Details</span>
        <span>Proceed to payment</span>
      </div>

      <%= render partial: "#{params[:stage].to_s}" %>

    </div>
  </div>
</section>
<script type="text/javascript">
  var selectedValues = JSON.parse(localStorage.getItem("selectedValues"));
  <% if params[:stage] == "choose_tower" %>
    selectedValues.bedrooms = "<%= params[:configuration].split(",")[0] %>";
    selectedValues.base_price = "<%= params[:configuration].split(",")[1] %>";
  <% elsif params[:stage] == "select_apartment" %>
    selectedValues.bedrooms = "<%= params[:configuration].split(",")[0] %>";
    selectedValues.base_price = "<%= params[:configuration].split(",")[1] %>";
    selectedValues.towerid = "<%= params[:project_tower_id] %>";
    delete selectedValues.unit_id;
  <% elsif params[:stage] == "kyc_details" %>
    selectedValues.bedrooms = "<%= params[:configuration].split(",")[0] %>";
    selectedValues.base_price = "<%= params[:configuration].split(",")[1] %>";
    selectedValues.towerid = "<%= params[:project_tower_id] %>";
    selectedValues.unit_id = "<%= params[:unit_id] %>";
  <% end %>
  localStorage.setItem('selectedValues', JSON.stringify(selectedValues));
</script>