<header>
	<div class="container">
		<!-- <div class="col-12 text-center">
			<a href="javascript:void(0);" class="logo-wrapper">
				<img src="<%#= asset_path "embassy_springs_logo.png" %>" class="img-responsive" />
			</a>
		</div> -->
		<div class="col-12 text-center">
			<div class="step-bar-wrapper">
				<!-- <div data-step="1" class="active">STEP 1</div> -->
				<div data-step="2">Choose Tower</div>
				<div data-step="3">Select Apartment</div>
				<!-- <div data-step="4">Select Unit</div> -->
				<div data-step="4">Payment Breakup</div>
				<div data-step="5">Proceed to Payment</div>
			</div>
		</div>
	</div>
</header>
<div id="toolcont"></div>
<section class="screens-wrapper" data-screen="1">
	<div class="container">
		<div class="col-12">
			<div class="col-12 text-center pageTitle big">
				<div>Hello <%= current_user.name %>, the Embassy Life is yours for the taking!</div>
				<div>Now book in 4 easy steps in 5 minutes.</div>
			</div>
			<div class="col-12 conf-select-wrapper">
				<div class="col-5 text-center">
					<div class="pageTitle medium">
						Number of Bedrooms
					</div>
					<div class="dropdown-wrapper">
						<select class="init-selectize required" name="bedrooms">
							<option value="">Select Bedrooms</option>
							<option value="1">1 BHK (Starting from Rs. 40 Lac)</option>
							<option value="2">2 BHK (Starting from Rs. 60 Lac)</option>
							<option value="3">3 BHK (Starting from Rs. 80 Lac)</option>
						</select>
					</div>
				</div>
				<div class="col-2 pageTitle biggest text-center">
					OR
				</div>
				<div class="col-5 text-center">
					<div class="pageTitle medium">
						Choose your budget
					</div>
					<div class="dropdown-wrapper">
						<select class="init-selectize required" name="base_price">
							<option value="">Select Budget</option>
							<option value="4000000-6000000">Rs.40 Lac - 60 Lac</option>
							<option value="6000000-8000000">Rs.60 Lac - 80 Lac</option>
							<option value="8000000-10000000">Rs.80 Lac - 1 Cr.</option>
							<option value="10000000-100000000">1 Cr and above</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-12 text-center">
				<button class="btn black navigate" data-goto="2">Next &rarr;</button>
			</div>
		</div>
	</div>
</section>
<section class="screens-wrapper next" data-screen="2">
	<div class="container">
		<div class="col-12">
			<div class="col-12 text-center pageTitle black big">
				Choose tower
			</div>
			<div class="col-12 text-center" id="tower-selector">
				
			</div>
			<div class="col-12 text-center">
				<button class="btn black navigate" data-goto="1">&larr; Prev</button>
				<button class="btn black navigate" data-goto="3">Next &rarr;</button>
			</div>
		</div>
	</div>
</section>
<section class="screens-wrapper next" data-screen="3">
	<div class="container">
		<div class="col-12">
			<div class="col-12 filterBg">
				<div class="col-12 filter-item-wrapper">
					<form id="filter-form">
						<div class="col-12-5 filter-item">
							<div class="filter-title">
								TOWER
							</div>
							<div class="filter-data">
								<select class="init-selectize" name="tower">
									<option value="">Select tower</option>
									<option value="1">Tower 1</option>
									<option value="2">Tower 2</option>
								</select>
							</div>
						</div>
						<div class="col-12-5 filter-item">
							<div class="filter-title">
								BEDROOMS
							</div>
							<div class="filter-data">
								<select class="init-selectize" name="bedrooms">
									<option value="">Select Bedrooms</option>
									<option value="1">1 BHK</option>
									<option value="2">2 BHK</option>
									<option value="3">3 BHK</option>
								</select>
							</div>
						</div>
						<div class="col-12-5 filter-item">
							<div class="filter-title">
								FACING
							</div>
							<div class="filter-data">
								<select class="init-selectize" name="facing">
									<option value="">Select facing</option>
									<option value="east">East</option>
									<option value="Tower 2">West</option>
									<option value="Tower 2">North</option>
									<option value="Tower 2">South</option>
								</select>
							</div>
						</div>
						<div class="col-12-5 filter-item">
							<div class="filter-title">
								Price
							</div>
							<div class="filter-data">
								<select class="init-selectize" name="base_price">
									<option value="">Select Budget</option>
									<option value="4000000-6000000">Rs.40 Lac - 60 Lac</option>
									<option value="6000000-8000000">Rs.60 Lac - 80 Lac</option>
									<option value="8000000-10000000">Rs.80 Lac - 1 Cr.</option>
									<option value="10000000-100000000">1 Cr and above</option>
								</select>
							</div>
						</div>
						<div class="col-12-5 filter-item">
							<div class="filter-item filter-submit-wrapper">
								<button class="btn">Apply</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-12">
				<div class="col-6 text-center building-main-wrapper">
					<div class="text-center pageTitle medium pink">Click to select</div>
					<div class="main-wrapper relative">
						<div class="caption-floor">
							Floors
						</div>
						<div class="apt-selector-wrapper" id="append-floors">
							
						</div>
						<div class="clearfix"></div>
						<div class="col-12 apt-index-wrapper">
							<div class="apt-index">
								<span class="bstatus-booked_confirmed"></span>Booked
							</div>
							<div class="apt-index">	
								<span class="bstatus-blocked"></span>Block
							</div>
							<div class="apt-index">	
								<span class="bstatus-na"></span>NA
							</div>
							<div class="apt-index">	
								<span class="bstatus-available"></span>Open
							</div>
							<div class="apt-index">	
								<span class="bstatus-selected"></span>Selected
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-6 floor-layout-wrapper">
					<div class="text-center pageTitle medium pink">Floor Layout Plan</div>
					<div class="floor-layout-plan text-center">
						<a href="<%= asset_path 'fp-type-1.jpg' %>" class="colorbox-init toggle-layout" rel="floorplan">
							<img src="<%= asset_path 'fp-type-1.jpg' %>" class="img-responsive" />
							<img src="<%= asset_path 'fp-type-2.jpg' %>" class="img-responsive" />
						</a>
						<!-- <object data="<%#= asset_path 'floor-layout.svg' %>" type="image/svg+xml" id="floor-layout"></object> -->
						<div>Click to view floorplan</div>
					</div>
				</div>
			</div>
			<div class="col-12 text-center">
				<button class="btn black navigate" data-goto="2">&larr; Prev</button>
				<button class="btn black navigate" data-goto="4">Next &rarr;</button>
			</div>
		</div>
	</div>
</section>
<section class="screens-wrapper next" data-screen="4">
	<div class="container">
		<div class="col-12">
			<div class="col-12">
				<div class="col-12 text-center inline-block-wrap">
					<div class="payment-details">
						<div class="name-plate">
							<div class="left-top"><img src="<%= asset_path 'Bolt.png'%>" class="img-responsive"></div>
							<div class="right-top"><img src="<%= asset_path 'Bolt.png'%>" class="img-responsive"></div>
							<div class="right-bottom"><img src="<%= asset_path 'Bolt.png'%>" class="img-responsive"></div>
							<div class="left-bottom"><img src="<%= asset_path 'Bolt.png'%>" class="img-responsive"></div>
							<span class="client-name">Mr. <%= current_user.name %></span><br/>
							<span class="flat-no"></span>
						</div>
					</div>
					<div class="flat-details text-left">
						
					</div>
				</div>
			</div>
			<% project_unit = ProjectUnit.where(status: 'available').first %>
			<%# project_unit = ProjectUnit.last %>
			<% if ProjectUnitPolicy.new(current_user, project_unit).hold_project_unit? %>
			<div class="col-12">
				<div class="pageTitle medium pink margin-top-30">
					Select from existing KYC details
				</div>
			</div>
			<div class="col-12 margin-top-30">
				<form id="existing_kyc_form" class="validate-form checkout_project_unit" accept-charset="UTF-8" method="post">
					<input name="utf8" type="hidden" value="✓">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<div class="form-group">
			          	<input value="hold" type="hidden" name="project_unit[status]" id="project_unit_status">
			          	<select multiple="multiple" class="init-selectize required" name="project_unit[user_kyc_ids][]" required="required">		
			          		<option value="">Select KYC</option>
			          		<% current_user.user_kycs.each do |user_kyc| %>
			          			<option value="<%= user_kyc.id %>"><%= user_kyc.name %></option>
			          		<% end %>
			          	</select>
			        </div>
				</form>
				
			</div>
			<div class="col-12">
				<div class="pageTitle medium pink margin-top-30">
					Or
				</div><br />
			</div>
		    <% end %>
		    <div class="col-12">
		    	<div class="pageTitle medium pink">
					Add new KYC details
				</div>
		    	<div class="form-wrapper margin-top-30">
	              <form id="user_kyc_form" action="<%= new_user_kyc_path(current_user) %>" class="validate-form" accept-charset="UTF-8" method="post">
	              	<input name="utf8" type="hidden" value="&#x2713;" />
	              	<input type="hidden" name="authenticity_token" value="rgkkWxa7BtZ6PT82rN6exjyB89tSW6pXXl5B6dvMCoflYqcqQPnl0Ows3UQBdzN5vUcLaolSqMyt9KKSkV2+eQ==" />
	              	<input type="hidden" name="user_kyc[user_id]" value="<%= current_user.id %>" />

	                <div class="form-field-wrapper">
	                  <label class="control-label label-required" for="user_kyc_name">Name</label>
	                  <input class="form-control form-field" required="required" type="text" name="user_kyc[name]" />
	                </div>
	                <div class="row">
	                  <div class="col-md-6">
	                    <div class="form-field-wrapper">
	                      <label class="control-label label-required" for="user_kyc_email">Email</label>
	                      <input class="form-control form-field" required="required" type="email" name="user_kyc[email]" />
	                    </div>
	                  </div>
	                  <div class="col-md-6">
	                    <div class="form-field-wrapper">
	                      <label class="control-label label-required" for="user_kyc_phone">Phone</label>
	                      <input class="form-control form-field phone" required="required" type="text" name="user_kyc[phone]" />
	                    </div>
	                  </div>
	                </div>
	                <div class="row">
	                  <div class="col-md-6">
	                    <div class="form-field-wrapper position-relative">
	                      <label class="control-label label-required" for="user_kyc_dob">Date of Birth</label>
	                      <input class="form-control form-field" required="required" type="date" name="user_kyc[dob]" />
	                    </div>
	                  </div>
	                  <div class="col-md-6">
	                    <div class="form-field-wrapper">
	                      <label class="control-label label-required" for="user_kyc_pan_number">PAN Number</label>
	                      <input class="form-control form-field" required="required" placeholder="AAAAA9999A" type="text" name="user_kyc[pan_number]" />
	                    </div>
	                  </div>
	                </div>
	              
		                <div class="actions form-field-wrapper">
		                  <input type="submit" name="commit" value="Add KYC Details →" class="form-field btn yellow" style="width:auto" />
		                </div>
					</form>
				</div>
		    </div>
		    <div class="col-12 text-center">
				<button class="btn black navigate" data-goto="3">&larr; Prev</button>
				<button class="btn black navigate hold-button">HOLD</button>
			</div>
		</div>
	</div>
</section>

<%#= render 'project_units', {project_units: ProjectUnit.all} %>
