<section class="main-wrapper full-height grey">
  <div class="container-fluid">
    <div class="col-12 cancel-booking-wrapper text-center">
      <div class="payment-gateway-message">
        <div class="title">You'll be redirected to RazorPay, where you can pay using UPI, credit/debit card or wallet</div>
        <button id="rzp-button1" class="nav-btn">Pay Online</button>
        <div style="display:inline-block;padding-left:10px;">
          <%= form_for @receipt.project_unit, url: dashboard_update_project_unit_path(project_unit_id: @receipt.project_unit_id), method: 'post', html: {class: 'validate-form'} do |f| %>
            <%= f.hidden_field :status, value: 'available' %>
            <%= f.submit 'Cancel', class: 'cancel-btn apply-btn' , data:{event_category: 'Section', event_action: 'Click', event_name: 'Cancel'}%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var amt = $('#totalAmount').val();

var options = {
  key: "<%= Rails.env.production? ? ENV_CONFIG['razorpay']['key'] : 'rzp_test_NTQGRS3ia0hiWY' %>",
  amount: <%= @receipt.total_amount.to_i * 100 %>, // 2000 paise = INR 20
  name: "Embassy Edge",
  description: "Embassy Edge",
  handler: function (response){
    $(".payment-gateway-message").html('<div class="title">Thank you for the payment, please wait while we process your payment. You should be redirected once we have processed your request.</div>')
    window.location = "/payment/<%= @receipt.receipt_id %>/process_payment/razorpay?payment_id=" + response.razorpay_payment_id;
  },
  prefill: {
    "name": "<%= current_user.name %>",
    "email": "<%= current_user.email %>",
    "contact": "<%= current_user.phone %>"
  },
  theme: {
    "color": "#bf2482"
  }
};
var rzp1 = new Razorpay(options);
document.getElementById('rzp-button1').onclick = function(e){
  rzp1.open();
  e.preventDefault();
}
</script>
<script type="text/javascript">
  $(document).ready(function(){
    ChatHelp.message(App.current_user.name + " has held a unit <%= @receipt.project_unit.name %>; filled up KYC details and is on the payment page");
    $('#rzp-button1').trigger("click")
  })
</script>
