<% if current_user.role?('user') %>
<style type="text/css">
	.table{
		width: 100%;
	}
	.thead-default{
		background-color: #edeef0;
	}
</style>
<section class="main-wrapper full-height grey">
	<div class="container-fluid">
		<div class="clearfix"></div>
		<% if current_user.sign_in_count > 1 %>
		<div class="user-profile-wrapper">
			<div class="pageTitle">
				<span>Hello <%= current_user.name %></span>
			</div>
			<div class="user-info-wrapper">
				<p class="pink">USERS INFO</p>
				<div class="col-md-10 border border-left-0 border-top-0 border-bottom-0 table-responsive margin-xs-bottom-10">
					<%= form_tag dashboard_user_update_path do %>
					<%= hidden_field_tag 'user[id]', @user.id %>
					<div class="form-field-wrapper">
						<%#= label_tag :Name %>
						<%= text_field_tag 'user[name]', @user.name, class:'form-field', placeholder:'Name' %>
					</div>
					<div class="form-field-wrapper">
						<%#= label_tag :Email %>
						<%= text_field_tag 'user[email]', @user.email, class:'form-field', placeholder:'Email' %>
					</div>

					<div class="form-field-wrapper">
						<%#= label_tag :Phone %>
						<%= text_field_tag 'user[phone]', @user.phone, class:'form-field', placeholder:'Phone' %>
					</div>
					<div>
						<%#= label_tag :Role %>
						<%#= text_field_tag '', @user.role %>
					</div>
					<div class="form-field-wrapper">
						<%#= label_tag :Password %>
						<%= password_field_tag 'user[password]', @user.password, class:'form-field', placeholder:'Password'%>
					</div>
					<%= submit_tag "Update", class: "btn btn-large btn-primary nav-btn" %>
					<% end %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</section>
<% else %>
	<section class="full-height grey" style="margin-top:120px;">
		<div class="container-fluid">
			<div class="col-12">
				<% if current_user.sign_in_count > 1 %>
					 <div class="user-profile-wrapper">
						<div class="pageTitle">
							<span>Hello <%= current_user.name %></span>
						</div>
						<div class="user-info-wrapper">
							<p class="pink">USERS INFO</p>
							<div class="col-md-10 border border-left-0 border-top-0 border-bottom-0 table-responsive margin-xs-bottom-10">
								<%= form_tag dashboard_user_update_path, :remote=>true do %>
								<%= hidden_field_tag 'user[id]', @user.id %>
								<div class="form-field-wrapper form-group">
									<%#= label_tag :Name %>
									<%= text_field_tag 'user[name]', @user.name, class:'form-field form-control', placeholder:'Name' %>
								</div>
								<div class="form-field-wrapper form-group">
									<%#= label_tag :Email %>
									<%= text_field_tag 'user[email]', @user.email, class:'form-field form-control', placeholder:'Email' %>
								</div>

								<div class="form-field-wrapper form-group">
									<%#= label_tag :Phone %>
									<%= text_field_tag 'user[phone]', @user.phone, class:'form-field form-control', placeholder:'Phone' %>
								</div>
								<div>
									<%#= label_tag :Role %>
									<%#= text_field_tag '', @user.role %>
								</div>
								<div class="form-field-wrapper form-group">
									<%#= label_tag :Password %>
									<%= password_field_tag 'user[password]', @user.password, class:'form-field form-control', placeholder:'Password'%>
								</div>
								<%= submit_tag "Update", class: "btn btn-large btn-primary nav-btn" %>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</section>
<% end %>
