<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome Letter</title>
  <meta name="Keywords" content="">
    <meta name="Description" content="" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style type="text/css">
    html, body{padding: 0;margin: 0;font-size: 16px;-webkit-font-smoothing: antialiased;font-weight: 400; color: #333;line-height:1;letter-spacing: 0.7px;}
      a, img, button, input[type=submit]{text-decoration: none; outline: none; border: 0;transition: .2s ease;}
      input:focus{outline:none;}
      b, strong{font-weight: 700;}
      *, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;}
      p, ul, h1, h2, h3, h4, h5, h6{padding:0; margin:0;}
      .container{max-width: 1200px;margin: 0px auto;padding: 0 20px;}
      .clearfix{clear: both;}
      .pull-left{float: left !important;}
      .pull-right{float: right !important;}
      .text-left{text-align: left;}
      .text-center{text-align: center;}
      .text-right{text-align: right;}
      .text-justify{text-align: justify;}
      .text-uppercase{text-transform: uppercase;}
      .text-italic{font-style: italic;}
      .text-light{font-weight: 400;}
      .text-bold{font-weight: 600;}
      .row:before, .row:after{display: table;content: " ";}
      .row:after, .clearfix{clear: both;}
      .col-1{width: 8.333333333333333%;}
      .col-2{width: 16.66666666666667%;}
      .col-3{width: 25%;}
      .col-4{width: 33.33333333333333%;}
      .col-5{width: 41.66666666666667%;}
      .col-6{width: 50%;}
      .col-7{width: 58.33333333333333%;}
      .col-8{width: 66.66666666666667%;}
      .col-9{width: 75%;}
      .col-10{width: 83.33333333333333%;}
      .col-11{width: 91.66666666666667%;}
      .col-12{width: 100%;}
      .col-12-5{width: 20%;}
      .w70{width: 70%;}
      .w30{width: 30%;}
      .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-12-5, .w30, .w70{float: left;}
      .welcome-letter-wrapper{padding: 20px 0;}
      .welcome-letter-wrapper table th, .welcome-letter-wrapper table td{border:1px solid #222;padding:5px 10px;width: 25%;}
      .welcome-letter-wrapper table th{text-align: center;}
      .welcome-letter-wrapper table td{text-align: left;}
  </style>
</head>
<body>
  <section class="welcome-letter-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
              <div class="pull-left">
                  <img src="<%= asset_path 'logo2.png' %>">
              </div>
              <div class="pull-right">
                  <img src="<%= asset_path 'logo.png' %>">
              </div>
          </div>
      </div>
<!--      <div class="row">
            <div class="col-12 mb30 text-center">
              <h1>Welcome Letter</h1><br/>
            </div>
        </div> -->
        <div class="row">
          <div class="col-12 text-left">
              <p>Ms./ Mr. <%= @user.name rescue '' %>,</p>
              <p>Contact No.: <%= @user.phone rescue '' %></p><br/>
            </div>
        </div>
        <div class="row">
          <div class="col-12 mb30 text-justify">
            <p><strong>Sub: Welcome Letter, Apartment No. <%= @project_unit.name rescue '' %> - Embassy Edge @ Embassy Springs</strong></p><br/>
            <p>Welcome to the 'Embassy' community, an exclusive world for the like-minded to live, share and appreciate.</p><br/>
            <p>At Embassy our commitment to you does not end with a sale. It begins here. We value relationships and believe in the long-term.</p><br/>
            <p>We are pleased to inform that you are among the esteemed circle of customers who have booked an apartment at Embassy Edge.</p><br/>
            <p>In order to ensure that you receive responsive customer service at every touch point, we have in place a professional team. The team is your best resource for information and assistance and our executives will work with you to ensure an ownership experience that exceeds your expectations.</p><br/>
            <table width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <th>Details</th>
                <th>Contact Person</th>
                <th>Email ID</th>
                <th>Contact No.</th>
              </tr>
              <tr>
                <td>Information on availability status of Embassy springs and other ongoing projects</td>
                <td>Respective RM</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Assistance on property loan</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Information on agreements / documentation / payments and receipts</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table><br/>
            <p>Additionally, we are hereby enclosing Applicability of TDS on purchase of immovable properties, process and mandates to be followed.</p><br/>
            <p>Thank you for placing your trust in us. You can be assured of our commitment to deliver on every count.</p><br/>
            <p>Welcome once again and do share with us your views and feedback.</p><br/>
            <p>Thanking you.</p><br/>
            <p>Yours truly,</p>
            <p>For, <strong>NAM Estates Private Limited</strong></p><br/><br/>
            <p><strong>Reeza Sebastian Karimpanal<br/>Senior Vice President - Residential Business</strong></p>
          </div>
        </div>
    </div>
  </section>
</body>
</html>