<div class="card">
  <div class="card-body">
    <h5 class="text-center"><strong><%= global_labels[:project_unit] %> Details</strong></h5>
    <% labels = t('mongoid.attributes.project_unit').with_indifferent_access %>
    <table class="table table-striped table-sm mt-3">
      <tbody>
        <tr>
          <td><%= labels['name'] %></td>
          <td class="text-right"><%= project_unit.name %></td>
        </tr>
        <tr>
          <td><%= labels['project_tower_name'] %></td>
          <td class="text-right"><%= project_unit.project_tower_name %></td>
        </tr>
        <tr>
          <td><%= labels['blocked_on'] %></td>
          <td class="text-right"><%= project_unit.blocked_on.present? ? l(project_unit.blocked_on) : "-" %></td>
        </tr>
        <tr>
          <td><%= labels['unit_facing_direction'] %></td>
          <td class="text-right"><%= project_unit.unit_facing_direction %></td>
        </tr>
        <tr>
          <td><%= labels['all_inclusive_price'] %></td>
          <td class="text-right"><%= number_to_indian_currency(project_unit.all_inclusive_price) %></td>
        </tr>
        <tr>
          <td><%= labels['agreement_price'] %></td>
          <td class="text-right"><%= number_to_indian_currency(project_unit.agreement_price) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
