<!-- <%# if @auto_release_on_was.present? %>
  You have an extension of on Unit - <%#= @project_unit.name %>
<%# else %>
  You have a grace <%#= (@project_unit.auto_release_on - Date.today).days %> days on Unit - <%= @project_unit.name %>
<%# end %> -->
<!-- 
Thank you for your cheque payment of Rs. abc. Following are your cheque details -

Account no
Agreement Value
Advance paid
Balance Payment

Cheque details -
PHoto of cheque, account number, bank name, ifsc code

 -->



        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style=" color: #000;font-size: 32px;font-weight: 600;line-height: 35px;vertical-align: bottom;">
                           kept on hold for you for additional <%= (@project_unit.auto_release_on - Date.today).days %> days
                         </td>
                         <td>
                           <img src="http://www.embassysprings.com/images/Springs-logo.png" style="border:0px ;outline:0px;display:block;">
                         </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
          <td>
            <table cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td><hr style="display: block;height: 1px;border: 0;border-top: 2px solid #c9579f;margin: 1em 0;padding: 0;"></td>
                <td><hr style="display: block;height: 1px;border: 0;border-top: 2px solid #64c0e9;margin: 1em 0;padding: 0;"></td>
                <td><hr style="display: block;height: 1px;border: 0;border-top: 2px solid #7eb53e;margin: 1em 0;padding: 0;"></td>
              </tr>
            </table>
          </td>
        </tr>

        <tr><td>&nbsp;</td></tr>

       <tr>
         <td>
           Dear <%= @user.name %>,
         </td>
       </tr>

        <tr><td>&nbsp;</td></tr>

        <tr>
          <td style="line-height:26px;">
            <span style="font-size:20px;line-height:26px;color:#000;font-weight:700;">Thank you for your cheque payment of Rs. <%= %>. </span>
           </td>
        </tr>

        <tr><td>&nbsp;</td></tr>

        <tr>
          <td style="font-size:16px;color:#000;line-height:26px;">
            Following are your cheque details -
          </td>
        </tr>

        <tr><td>&nbsp;</td></tr>

        <tr>
          <td style="font-size:16px;line-height:26px;">
            <span style="color:#64c0e9;font-weight:bold;">Name - </span> <%= @user.name %><br/>
]            <span style="color:#64c0e9;font-weight:bold;">Agreement Value -</span>Rs. <%= @project_unit.agreement_price %>  <br/>
            <span style="color:#64c0e9;font-weight:bold;">Advance paid -</span>  <%= @project_unit.total_amount_paid%><br/>
            <span style="color:#64c0e9;font-weight:bold;">Balance Payment  -</span> <%= @project_unit.pending_balance%><br/>

			<!-- Cheque details - -->
			<!-- PHoto of cheque, account number, bank Name, ifsc code -->
          </td>
        </tr>

        <tr><td>&nbsp;</td></tr>

        <tr>
          <td style="font-size:16px;line-height:26px;">
           Your Embassy home will be kept on hold for you for additional <%= (Date.today - @auto_release_on_was).days %>  days until your cheque is cleared. We will notify you once the cheque realizes.
          </td>
        </tr>
