<table cellpadding="0" cellspacing="0" width="100%">
  <tr>
      <td style=" color: #000;font-size: 32px;font-weight: 600;line-height: 35px;vertical-align: bottom;">
        Kept on hold for you for additional <%= (@project_unit.auto_release_on - Date.today).days %> days
      </td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td>Dear <%= @user.name %>,</td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td style="line-height:26px;">
      <span style="font-size:20px;line-height:26px;color:#000;font-weight:700;">Thank you for your cheque payment. </span>
     </td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td style="font-size:16px;color:#000;line-height:26px;">Following are your cheque details -</td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td style="font-size:16px;line-height:26px;">
      <span style="color:#64c0e9;font-weight:bold;">Name - </span> <%= @user.name %><br/>
      <span style="color:#64c0e9;font-weight:bold;">Agreement Value -</span>  <%= number_to_indian_currency(@project_unit.agreement_price)  %>  <br/>
      <span style="color:#64c0e9;font-weight:bold;">All inclusive total (excluding registration charges) -</span>  <%= number_to_indian_currency(@project_unit.all_inclusive_price)  %>  <br/>
      <span style="color:#64c0e9;font-weight:bold;">Advance paid -</span>  <%= number_to_indian_currency(@project_unit.total_amount_paid) %><br/>
      <span style="color:#64c0e9;font-weight:bold;">Balance Payment  -</span> <%= number_to_indian_currency(@project_unit.pending_balance) %><br/>
      <!-- Cheque details - -->
      <!-- PHoto of cheque, account number, bank Name, ifsc code -->
    </td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td style="font-size:16px;line-height:26px;">
     Your Embassy home will be kept on hold for you untill <%= @project_unit.auto_release_on_was %>; until your payments are cleared. We will notify you once the cheque realizes.
    </td>
  </tr>
</table>
