<div class="card w-100">
  <div class="card-body">
    <p>Dear <%= @user.name %>,</p>
    <p>
      Welcome to <%= current_project.name %>, <%= current_project.description %>.
    </p>
    <p>
      We are pleased to inform that you are among the esteemed circle of customers who have booked an apartment at <%= current_project.name %>
    </p>
  </div>
</div>
<div class="mt-3"></div>
<%= render "dashboard/project_unit_overview", project_unit: @project_unit %>
<div class="mt-3"></div>
<%= render "dashboard/project_unit_cost_sheet", project_unit: @project_unit %>
<div class="mt-3"></div>
<%= render "dashboard/project_unit_payment_schedule", project_unit: @project_unit %>
<div class="mt-3"></div>
<div class="card w-100">
  <div class="card-body">
    This unit will remain blocked for you for the next <%= @project_unit.blocking_days %> days. Please complete your payment of remaining amount within this duration to confirm your unit. To make additional payment please click <%= link_to "here", dashboard_url %>.
    <br/><br/>
    Your KYC details are incomplete, to complete your registration you can update them <%= link_to "here", user_user_kycs_url %>.<br/><br/>
    Welcome once again and do share with us your views and feedback.
  </div>
</div>
