Dear <%= @user.name %>,<br/>
<br/>
<p>
Welcome to the '<%= @client.name %>' community, an exclusive world for the like-minded to live, share and appreciate.
</p>
<p>
At <%= @client.name %> our commitment to you does not end with a sale. It begins here. We value relationships and believe in the long-term.
</p>
<p>
We are pleased to inform that you are among the esteemed circle of customers who have booked an apartment at <%= @project.name %>.
</p>

<strong>Details of Unit:</strong><br/>
Name - <%= @project_unit.name %><br/>
Tower - <%= @project_unit.project_tower_name %><br/>
Unit Facing - <%= @project_unit.category %><br/>
Agreement Value - <%= number_to_indian_currency(@project_unit.agreement_price) %><br/>
All inclusive total (excluding registration charges) - <%= number_to_indian_currency(@project_unit.all_inclusive_price) %><br/>
Date - <%= @project_unit.blocked_on %><br/>
<br/>
<p>
This unit will remain blocked for you for the next <%= @project_unit.blocking_days %> days. Please complete your payment of remaining amount within this duration to confirm your unit. To make additional payment please click <a href="<%= dashboard_url(user_email: @user.email, user_token: @user.authentication_token) %>" target="_blank">here</a>
</p>
<% if @project_unit.primary_user_kyc_id.present? %>
  <p>
    Your KYC details are incomplete, to complete your registration you can update them <a href="<%= edit_user_kyc_url(@project_unit.primary_user_kyc_id, user_email: @user.email, user_token: @user.authentication_token) %>" target="_blank">here</a>
  </p>
<% end %>
<% if @project_unit.tds_amount_percent_of_agreement_price > 0 %>
<p>
  Additionally, we are hereby enclosing Applicability of TDS on purchase of immovable properties, process and mandates to be followed. <br/>
  Your TDS amount is - <%= number_to_indian_currency(@project_unit.tds_amount) %><br/>
  To view the e-Tutorial to make payment for TDS on sale of property click <a href="<%= asset_url('eTutorial_TDS.pdf') %>">here</a>.<br/><br/>
  For more information on the TDS process, click <a href="<%= asset_url('TDS Process - note - NAM.pdf') %>">here</a>.<br/>
  Please find a copy of NAM Estates Private Limited - PAN Card <a href="<%= asset_url('pan-card.pdf') %>">here</a>
  To know more about TDS, click <a href="https://www.tin-nsdl.com/faqs/tds-on-sale-of-property/TDS-FAQ.html" target="_blank">here</a>.<br/>
</p>
<% end %>
<p>
Thank you for placing your trust in us. You can be assured of our commitment to deliver on every count.
</p>
<p>
Welcome once again and do share with us your views and feedback.
</p>
<br/>
Thanking you.
<br/><br/>
Yours truly,<br/>
NAM Estates Private Limited
<br/><br/><br/>
