Dear <%= @user.name %>, <br/>
<br/>
Congratulations!<br/>
<br/>
Welcome to the Embassy family! You're now the proud owner of <%= @project_unit.name %> at Embassy Edge in Embassy Springs.<br/>
<br/>
Our executives will be in touch regarding agreement formalities.<br/>
<br/>
<strong>Please find below the booking details:</strong><br/>
Name - <%= @project_unit.name %><br/>
Tower - <%= @project_unit.project_tower_name %><br/>
Unit Facing - <%= @project_unit.category %><br/>
Amount Paid - <%= number_to_indian_currency(@project_unit.total_amount_paid) %><br/>
Agreement Value - <%= number_to_indian_currency(@project_unit.agreement_price) %><br/>
All inclusive total (excluding registration charges) - <%= number_to_indian_currency(@project_unit.all_inclusive_price) %><br/>
<br/>
<p>
Request you to kindly sign the document attached and send the copy to below mentioned details
</p>
<p>
Nagaveni G R/ Bhuvaneshwari Venkatasubramani<br/>
Embassy GolfLinks Business Park, Royal Oaks,<br/>
Off Intermediate Ring Road,<br/>
Bengaluru – 560 071.<br/><br/>
Contact Details -<br/>
+91 98440 07300<br/>
+91 98448 44141<br/>
</p>
