Dear <%= @user.name %>,<br/><br/>
<p>
Thank you for your payment for unit <%= @project_unit.name %> at <% @project_unit.project_name %>.
</p>
<p>
  <span>Following are your unit details</span><br/>
  <span style="font-weight:bold">Name </span> : <%= @user.name %><br/>
  <span style="font-weight:bold">Unit Name </span> : <%= @project_unit.name %><br/>
  <span style="font-weight:bold">Agreement Value </span> : <%= number_to_indian_currency(@project_unit.agreement_price) %><br/>
  <span style="font-weight:bold">All inclusive total (excluding registration charges)  </span> : <%= number_to_indian_currency(@project_unit.all_inclusive_price) %><br/>
  <span style="font-weight:bold;">Advance paid </span> :  <%= number_to_indian_currency(@project_unit.total_amount_paid) %><br/>
  <span style="font-weight:bold;">Balance Payment </span> : <%= @project_unit.pending_balance %><br/>
</p>
<br/>
<p>
Your <%= @project_unit.booking_portal_client.name %> home will be kept on hold for you till <%= @project_unit.auto_release_on.strftime("%d %b, %Y") %>.
</p>
