<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
  html, body{padding: 0;margin: 0;font-size: 16px;-webkit-font-smoothing: antialiased;
    font-weight: 400; color: #333;line-height: 1.2;letter-spacing: 0.7px;}
    a, img, button, input[type=submit]{text-decoration: none; outline: none; border: 0;transition: .2s ease;}
    input:focus{outline:none;}
    b, strong{font-weight: 700;}
    *, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;}
    p, ul, h1, h2, h3, h4, h5, h6{padding:0; margin:0;}
    .container{max-width: 1200px;margin: 0px auto;padding: 0 20px;}
    .clearfix{clear: both;}
    .pull-left{float: left !important;}
    .pull-right{float: right !important;}
    .text-left{text-align: left;}
    .text-center{text-align: center;}
    .text-right{text-align: right;}
    .text-justify{text-align: justify;}
    .text-uppercase{text-transform: uppercase;}
    .text-italic{font-style: italic;}
    .text-light{font-weight: 400;}
    .text-bold{font-weight: 600;}
    .row:before, .row:after{display: table;content: " ";}
    .row:after, .clearfix{clear: both;}
    .col-1{width: 8.333333333333333%;}
    .col-2{width: 16.66666666666667%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33333333333333%;}
    .col-5{width: 41.66666666666667%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33333333333333%;}
    .col-8{width: 66.66666666666667%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33333333333333%;}
    .col-11{width: 91.66666666666667%;}
    .col-12{width: 100%;}
    .col-12-5{width: 20%;}
    .w70{width: 70%;}
    .w30{width: 30%;}
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-12-5, .w30, .w70{float: left;}
    .allotment-letter-wrapper{padding: 50px 0;}
    .mb30{margin-bottom: 20px;}
    </style>
  </head>
  <body>
    <section class="allotment-letter-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12 mb30">
            <div class="pull-left">
              <img src="<%= asset_path 'logo2.png' %>">
            </div>
            <div class="pull-right">
              <img src="<%= asset_path 'logo.png' %>">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb30 text-center">
            <h1>Provisional Allotment of Apartment</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb30 text-left">
            <p><%= @project_unit.created_at.strftime("%B %d, %Y") %></p>
            <p><%= @project_unit.primary_user_kyc.name %></p>
            <p>
                <%= @project_unit.primary_user_kyc.street %>  <%= @project_unit.primary_user_kyc.house_number %> <br/>
                <%= @project_unit.primary_user_kyc.city %>, <%= @project_unit.primary_user_kyc.postal_code %> <br/>
                <%= @project_unit.primary_user_kyc.state%> <%= @project_unit.primary_user_kyc.country %>
            </p>
            <% @project_unit.user_kycs.each do |kyc| %>
            <p><%= kyc.name %></p>
            <p>
              Address:<br/>
              <%= kyc.street %>  <%= kyc.house_number %> <br/>
              <%= kyc.city %>, <%= kyc.postal_code %> <br/>
              <%= kyc.state%> <%= kyc.country %>
            </p>
            <br/><br/><br/>
            <% end %>
            <p>Contact No.: <%= @user.phone %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb30 text-justify">
            <p>Dear Sir/Madam,</p></br>
            <p><strong>Sub:</strong> Provisional Allotment of Apartment No. <%= @project_unit.name  %> in Tower <%= @project_unit.project_tower_name %> <!-- Block <%#= @project_unit.name %> --> <!-- of <%#= @project_unit.floor %> -->, being developed in the Project "Embassy Edge", situated at  Navarathna Agrahara / Hegganahalli Village, Kundana Hobli, Devanahalli Taluk, Pin Code - 562110.</p><br/>
            <p><strong>Ref:</strong> Booking Application dated <%= @project_unit.created_at.strftime("%d-%m-%Y") %>.</p></br>
            <p>Pursuant of the above referred Booking Application dated <%= @project_unit.created_at.strftime("%d-%m-%Y") %> in respect of Apartment No. <%= @project_unit.name %> in the Project known as "Embassy Edge", we have provisionally allotted Apartment No.
              <%= @project_unit.name %> having a Super Built-up Area of <%= @project_unit.saleable.round(2) %> square feet &amp; Usable Area of <%= @project_unit.usable.round(2) %> square feet &amp; Carpet Area of <%= @project_unit.carpet.round(2) %> square feet &amp; to you.<br/><br/>
              Further, we hereby confirm having received an amount of <%= number_to_indian_currency(@project_unit.total_amount_paid.round(2)) %>/-
              as advance vide, along with your Booking Application .<br/><br/>
              The total sale consideration amount payable for the above subject Apartment is <%= number_to_indian_currency(@project_unit.all_inclusive_price.round) %>/-
              ("Total Sale Consideration"). The Total Consideration is
              inclusive of land cost, construction cost, cost of providing power supply, cost of providing water and
              sewage connections, maintenance deposit/corpus fund, city infrastructure charges, advance
              maintenance charges for one year, cost towards club house and amenities, GST, PLC, Floor rise and other charges as detailed in the Cost Structure.<br/><br/>
              Upon receiving intimation from us to execute the Agreement to Sell, you shall execute the Agreement to Sell within 15 days.<br/><br/>
                In the event of you failing to execute the Agreement to Sell as mentioned above, the Booking
                Application will stand rejected and this Provisional Allotment cancelled, and we shall deduct Rs. 1,00,000/- from the amount received from you as liquidated damages and refund the balance amount in 45
                days from the date of cancellation. Then in such an event the booking made in the favour of the applicant shall be cancelled, and unit shall get automatically released and the Company shall be at liberty to offer the said unit to any other third parties.
              </p></br>
              <p>This Provisional Allotment does not confer any rights in you with respect to the subject Apartment nor is this a concluded contract unless the Agreement for Sale is executed by you.</p><br/>
              <p>We request you to kindly acknowledge the copy of this letter in token of your acceptance of the above arrangement.</p><br/>
              <p>This Provisional Allotment is subject to Bangalore jurisdiction.</p><br/>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-left">
              <p>Thanking you.</p><br/>
              <p>Yours truly,</p>
              <p>For NAM Estates Private Limited</p>
              <br/><br/>
              <p>Authorized Signatory</p>
              <br/><br/><br/>
              Agreed & Confirmed By
              <p>Name : <%= @project_unit.primary_user_kyc.name %></p>
              <br/><br/>
              <p>Signature</p>
	      <br/><br/><br/>
              <% @project_unit.user_kycs.each do |kyc| %>
              <p>Name : <%= kyc.name %></p>
              <br/><br/>
              <p>Signature : </p>
	      <br/><br/><br/>
              <% end %>
              <br/><br/><br/><br/><br/>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  </html>
