<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :name, class: 'label-required' %>
      <%= f.text_field :name, class: 'form-control', autofocus: true, required: 'required', disabled: (policy([:admin, @client]).editable_field?("name") ? false : true) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :registration_name %>
      <%= f.text_field :registration_name, class: 'form-control', disabled: (policy([:admin, @client]).editable_field?("registration_name") ? false : true) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :email_domains %>
      <%= f.select :email_domains, @client.email_domains, {}, class: 'selectize-tags domain', multiple: true, disabled: (policy([:admin, @client]).editable_field?("email_domains") ? false : true) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :cin_number %>
      <%= f.text_field :cin_number, class: 'form-control', disabled: (policy([:admin, @client]).editable_field?("cin_number") ? false : true) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :disclaimer %>
      <%= f.text_area :disclaimer, class: 'form-control', disabled: (policy([:admin, @client]).editable_field?("disclaimer") ? false : true) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :cp_disclaimer %>
      <%= f.text_area :cp_disclaimer, class: 'form-control', disabled: (policy([:admin, @client]).editable_field?("cp_disclaimer") ? false : true) %>
      <%= f.label :cp_disclaimer_sort, class: 'txt-light-blue font-normal' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :website_link %>
      <%= f.url_field :website_link, class: 'form-control', disabled: (policy([:admin, @client]).editable_field?("website_link") ? false : true) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :preferred_login %>
      <%= f.select :preferred_login, I18n.t("mongoid.attributes.client/available_preferred_logins").collect{|k,v| [v, k.to_s]}, {}, class: 'selectize', disabled: (policy([:admin, @client]).editable_field?("preferred_login") ? false : true) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :lead_blocking_days %>
      <%= f.number_field :lead_blocking_days, class: 'form-control', disabled: !(policy([:admin, @client]).editable_field?("lead_blocking_days")) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :incentive_gst_slabs %>
      <%= f.select :incentive_gst_slabs, f.object.incentive_gst_slabs, {},  class: "selectize-tags", multiple: true, required: true, disabled: !policy([current_user_role_group, @client]).editable_field?("incentive_gst_slabs") %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :enable_lead_conflicts %>
      <%= f.select :enable_lead_conflicts, Client::LEAD_CONFLICT.collect{|x| [t("mongoid.attributes.client/lead_conflict.#{x}"), x] }, {}, class: 'selectize', disabled: !(policy([:admin, @client]).editable_field?("enable_lead_conflicts")) %>
    </div>
  </div>

  <div class="col-md-6">
    <% if policy(@client).editable_field?("enable_direct_activation_for_cp") %>
    <div class="mb-3">
      <%= f.label :enable_direct_activation_for_cp, t('helpers.edit.direct_activation_for_cp_label', model: Client.model_name.human) %>
      <div class="form-check form-check-inline">
        <%= f.radio_button :enable_direct_activation_for_cp, true, class: "form-check-input wd-22" %>
        <%= f.label :enable_direct_activation_for_cp, I18n.t("global.boolean.true"), class: "form-check-label d-inline-block ms-2" %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :enable_direct_activation_for_cp, false, class: "form-check-input wd-22" %>
        <%= f.label :enable_direct_activation_for_cp, I18n.t("global.boolean.false"), class: "form-check-label d-inline-block ms-2" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="mb-3">
      <%= f.label :roles_taking_registrations %>
      <%= f.select :roles_taking_registrations, filter_admin_role_options, {}, class: 'selectize', multiple: true, disabled: !(policy([current_user_role_group, f.object]).editable_field?("roles_taking_registrations")) %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="mb-3">
      <%= f.label :enable_incentive_module %>
      <%= f.select :enable_incentive_module, filter_admin_role_options, {}, class: 'selectize', multiple: true, disabled: !(policy([current_user_role_group, f.object]).editable_field?("enable_incentive_module")) %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="mb-3">
      <%= f.label :mask_lead_data_for_roles %>
      <%= f.select :mask_lead_data_for_roles, filter_admin_role_options, {}, class: 'selectize', multiple: true, disabled: !(policy([current_user_role_group, f.object]).editable_field?("mask_lead_data_for_roles")) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :powered_by_link %>
      <%= f.url_field :powered_by_link, class: 'form-control', disabled: (policy([:admin, @client]).editable_field?("powered_by_link") ? false : true) %>
    </div>
  </div>
  <div class="col-md-6">
    <% if policy(@client).editable_field?("launchpad_portal") %>
    <div class="mb-3">
      <%= f.label :launchpad_portal %>
      <div class="form-check form-check-inline">
        <%= f.radio_button :launchpad_portal, true, class: "form-check-input wd-22" %>
        <%= f.label :launchpad_portal, I18n.t("global.boolean.true"), class: "form-check-label d-inline-block ms-2" %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :launchpad_portal, false, class: "form-check-input wd-22" %>
        <%= f.label :launchpad_portal, I18n.t("global.boolean.false"), class: "form-check-label d-inline-block ms-2" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="mb-3">
      <%= f.label :team_lead_dashboard_access_roles %>
      <%= f.select :team_lead_dashboard_access_roles, filter_tl_dashboard_access_options, {}, class: 'selectize', multiple: true, disabled: !(policy([current_user_role_group, f.object]).editable_field?("team_lead_dashboard_access_roles")) %>
    </div>
  </div>
</div>
