<div class="row ">

  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :area_unit, class: (current_client.is_marketplace? ? 'label-required' : '') %>
      <%= f.text_field :area_unit, class: 'form-control', required: (current_client.is_marketplace? ? 'required' : ''), disabled: (policy([:admin, @client]).editable_field?("area_unit") ? false : true) %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :cancellation_amount, class: (current_client.is_marketplace? ? 'label-required' : '') %>
      <%= f.text_field :cancellation_amount, class: 'form-control', required: (current_client.is_marketplace? ? 'required' : ''), disabled: (policy([:admin, @client]).editable_field?("cancellation_amount") ? false : true) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <% if policy([:admin, @client]).editable_field?("enable_direct_payment") %>
    <div class="mb-3 direct-payment">
      <%= f.label :enable_direct_payment %>
      <div class="form-check form-check-inline">
        <%= f.radio_button :enable_direct_payment, true, class: "form-check-input wd-22" %>
        <%= f.label :enable_direct_payment, I18n.t("global.boolean.true"), class: " form-check-label d-inline-block ms-2" %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :enable_direct_payment, false, class: "form-check-input wd-22" %>
        <%= f.label :enable_direct_payment, I18n.t("global.boolean.false"), class: " form-check-label d-inline-block ms-2" %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :payment_gateway, class: (current_client.is_marketplace? ? 'label-required' : '') %>
      <%= f.select :payment_gateway, Client::PAYMENT_GATEWAYS.collect{|x| [ Client.human_attribute_name("payment_gateway.#{x}"), x] }, {}, class: 'selectize', required: (current_client.is_marketplace? ? 'required' : ''), disabled: (policy([:admin, @client]).editable_field?("payment_gateway") ? false : true) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="mb-3">
      <%= f.label :enable_actual_inventory %>
      <%= f.select :enable_actual_inventory, User.available_roles(@client).collect{|x| [ User.human_attribute_name("role.#{x}"), x]}, {}, class: 'selectize', multiple: true, disabled: !policy(f.object).editable_field?("enable_actual_inventory") %>
      <!-- TODO: throwing error on resolving conflict  -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="mb-3">
      <%= f.label :enable_live_inventory %>
      <%= f.select :enable_live_inventory, User.available_roles(@client).collect{|x| [ User.human_attribute_name("role.#{x}"), x]}, {}, class: 'selectize', multiple: true, disabled: !policy(f.object).editable_field?("enable_live_inventory") %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :blocking_days, class: (current_client.is_marketplace? ? 'label-required' : '') %>
      <%= f.number_field :blocking_days, class: 'form-control', required: (current_client.is_marketplace? ? 'required' : ''), disabled: (policy([:admin, @client]).editable_field?("blocking_days") ? false : true), min: 0, max: 30 %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :holding_minutes, class: (current_client.is_marketplace? ? 'label-required' : '') %>
      <%= f.text_field :holding_minutes, class: 'form-control', required: (current_client.is_marketplace? ? 'required' : ''), disabled: (policy([:admin, @client]).editable_field?("holding_minutes") ? false : true), min: 0, max: 30 %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :enable_company_users %>
      <div class="form-check form-check-inline">
        <%= f.radio_button :enable_company_users, true, class: "form-check-input wd-22" %>
        <%= f.label :enable_company_users, I18n.t("global.boolean.true"), class: " form-check-label d-inline-block ms-2" %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :enable_company_users, false, class: "form-check-input wd-22" %>
        <%= f.label :enable_company_users, I18n.t("global.boolean.false"), class: " form-check-label d-inline-block ms-2" %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :enable_referral_bonus %>
      <div class="form-check form-check-inline">
        <%= f.radio_button :enable_referral_bonus, true, class: "form-check-input wd-22" %>
        <%= f.label :enable_referral_bonus, I18n.t("global.boolean.true"), class: " form-check-label d-inline-block ms-2" %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :enable_referral_bonus, false, class: "form-check-input wd-22" %>
        <%= f.label :enable_referral_bonus, I18n.t("global.boolean.false"), class: " form-check-label d-inline-block ms-2" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="mb-3 depend-direct-payment">
      <%= f.label :enable_payment_with_kyc %>
      <div class="form-check form-check-inline">
        <%= f.radio_button :enable_payment_with_kyc, true, class: "form-check-input wd-22" %>
        <%= f.label :enable_payment_with_kyc, I18n.t("global.boolean.true"), class: " form-check-label d-inline-block ms-2" %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :enable_payment_with_kyc, false, class: "form-check-input wd-22" %>
        <%= f.label :enable_payment_with_kyc, I18n.t("global.boolean.false"), class: " form-check-label d-inline-block ms-2" %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :enable_booking_with_kyc %>
      <div class="form-check form-check-inline">
        <%= f.radio_button :enable_booking_with_kyc, true, class: "form-check-input wd-22" %>
        <%= f.label :enable_booking_with_kyc, I18n.t("global.boolean.true"), class: " form-check-label d-inline-block ms-2" %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :enable_booking_with_kyc, false, class: "form-check-input wd-22" %>
        <%= f.label :enable_booking_with_kyc, I18n.t("global.boolean.false"), class: " form-check-label d-inline-block ms-2" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :allowed_bookings_per_user, class: (current_client.is_marketplace? ? 'label-required' : '') %>
      <%= f.number_field :allowed_bookings_per_user, class: 'form-control', required: (current_client.is_marketplace? ? 'required' : ''), disabled: (policy([:admin, @client]).editable_field?("allowed_bookings_per_user") ? false : true), min: 0 %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :allow_multiple_bookings_per_user_kyc, class: (current_client.is_marketplace? ? 'label-required' : '') %>
      <div class="form-check form-check-inline">
        <%= f.radio_button :allow_multiple_bookings_per_user_kyc, true, class: "form-check-input wd-22" %>
        <%= f.label :allow_multiple_bookings_per_user_kyc, I18n.t("global.boolean.true"), class: " form-check-label d-inline-block ms-2" %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :allow_multiple_bookings_per_user_kyc, false, class: "form-check-input wd-22" %>
        <%= f.label :allow_multiple_bookings_per_user_kyc, I18n.t("global.boolean.false"), class: " form-check-label d-inline-block ms-2" %>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :blocking_amount, class: (current_client.is_marketplace? ? 'label-required' : '') %>
      <%= f.number_field :blocking_amount, class: 'form-control', required: (current_client.is_marketplace? ? 'required' : ''), disabled: (policy([:admin, @client]).editable_field?("blocking_amount") ? false : true), min: 0 %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :incentive_calculation, class: (current_client.is_marketplace? ? 'label-required' : '') %>
      <%= f.select :incentive_calculation, Client::INCENTIVE_CALCULATION.collect{|x| [x,x]}, {}, class: 'selectize', multiple: true, required: (current_client.is_marketplace? ? 'required' : ''), disabled: (policy([:admin, @client]).editable_field?("incentive_calculation") ? false : true) %>
    </div>
  </div>
</div>
