<div class="form-group">
  <%= f.label :terms_and_conditions, class: 'label-required' %>
  <%= f.text_area :terms_and_conditions, class: 'form-control summernote', disabled: (policy([:admin, @client]).editable_field?("terms_and_conditions") ? false : true) %>
</div>
<div class="form-group">
  <%= f.label :faqs, class: 'label-required' %>
  <%= f.text_area :faqs, class: 'form-control summernote', disabled: (policy([:admin, @client]).editable_field?("faqs") ? false : true) %>
</div>
<div class="form-group">
  <%= f.label :rera, class: 'label-required' %>
  <%= f.text_area :rera, class: 'form-control summernote', disabled: (policy([:admin, @client]).editable_field?("rera") ? false : true) %>
</div>
<div class="form-group">
  <%= f.label :tds_process, class: 'label-required' %>
  <%= f.text_area :tds_process, class: 'form-control summernote', disabled: (policy([:admin, @client]).editable_field?("tds_process") ? false : true) %>
</div>
<div class="form-group">
  <%= f.label :email_footer, class: 'label-required' %>
  <%= f.text_area :email_footer, class: 'form-control', disabled: (policy([:admin, @client]).editable_field?("email_footer") ? false : true) %>
</div>
