<%= simple_form_for @client, url: admin_client_path, remote: true, local: true, html: { novalidate: false, id: "client_form", class: "modal-remote-form validate-form", data: { 'resource-type': Client.model_name.human, type: :json } } do |f| %>
  <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="title">
            <%= t('helpers.edit.link_name', model: Client.model_name.human)%>
          </h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <nav>
            <div class="nav nav-tabs theme-tab" role="tablist">
              <a class="nav-item nav-link active" data-bs-toggle="tab" href="#nav-client-basic" role="tab">Basic Details</a>
              <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-client-bookings" role="tab">Bookings</a>
              <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-client-contacts" role="tab">Contacts & Notifications</a>
              <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-client-integrations" role="tab">Integrations</a>
              <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-client-pages" role="tab">Content Pages</a>
              <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-client-logos" role="tab">Images & Documents</a>
            </div>
          </nav>
        <div class="mt-3"></div>
          <div class="tab-content theme-form">
            <div class="tab-pane fade show active" id="nav-client-basic" role="tabpanel">
              <%= render 'admin/clients/basic', f: f %>
            </div>
            <div class="tab-pane fade" id="nav-client-bookings" role="tabpanel">
              <%= render 'admin/clients/bookings', f: f %>
            </div>
            <div class="tab-pane fade" id="nav-client-contacts" role="tabpanel">
              <%= render 'admin/clients/contacts', f: f %>
            </div>
            <div class="tab-pane fade" id="nav-client-integrations" role="tabpanel">
              <%= render 'admin/clients/integrations', f: f %>
            </div>
            <div class="tab-pane fade" id="nav-client-pages" role="tabpanel">
              <%= render 'admin/clients/pages', f: f %>
            </div>
            <div class="tab-pane fade" id="nav-client-logos" role="tabpanel">
              <%= render 'admin/clients/logos', f: f %>
            </div>
          </div>
        </div>
        <div class="modal-footer text-end">
          <%= f.submit "Save", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function(){
    if($('#client_enable_direct_payment_false').is(':checked')){
      $('.depend-direct-payment').find('input, radio_button').attr('disabled', 'disabled');
    }
    $('.direct-payment').find('input, radio_button').change(function() {
      if($('#client_enable_direct_payment_true').is(':checked')){
        $('.depend-direct-payment').find('input, radio_button').removeAttr('disabled')
      }
      else{
        $('.depend-direct-payment').find('input, radio_button').attr('disabled', 'disabled');
      }
    });

    FormInitializer.init($("#client_form"));
  });
<% end %>
