<%= simple_nested_form_for @client, url: admin_client_path, remote: true, local: true, html: { novalidate: false, id: "client_form", class: "modal-remote-form validate-form", data: { 'resource-type': Client.model_name.human, type: :json } } do |f| %>
  <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="title">
            <% if policy([:admin, @client]).show_marketplace_tenant_id? %>
              <%= t('helpers.edit.link_name', model: Client.model_name.human) + " " + "(#{@client.kylas_tenant_id.to_s})" %>
            <% else %>
              <%= t('helpers.edit.link_name', model: Client.model_name.human)%>
            <% end %>
          </h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body row col-12 p-0">
          <div class="col-lg-3 filter-left-section">
            <div class="sticky-top ps-3 pt-3">
              <ul>
                <li class='nav-item'>
                  <a class="nav-link active" rel="nav-client-basic"><%= I18n.t("global.link_to.basic_details") %></a>
                </li>
                <li class='nav-item'>
                  <a class="nav-link" rel="nav-client-bookings"><%= I18n.t("mongoid.models.booking_detail.other") %></a>
                </li>
                <li class='nav-item'>
                  <a class="nav-link" rel="nav-client-contacts"><%= I18n.t("global.tabs.contacts_n_notifications") %></a>
                </li>
                <li class='nav-item'>
                  <a class="nav-link" rel="nav-client-integrations"><%= I18n.t("global.tabs.integrations") %></a>
                </li>
                <li class='nav-item'>
                  <a class="nav-link" rel="nav-client-pages"><%= I18n.t("global.tabs.content_pages") %></a>
                </li>
                <li class='nav-item'>
                  <a class="nav-link" rel="nav-client-logos"><%= I18n.t("global.tabs.images_docs") %></a>
                </li>
                <li class='nav-item'>
                  <a class="nav-link" rel="nav-client-regions"><%= I18n.t("global.tabs.cities_regions") %></a>
                </li>
                <% if policy([:admin, @client]).allow_settings? %>
                  <li class='nav-item'>
                    <a class="nav-link" rel="nav-client-settings"><%= I18n.t("global.tabs.settings") %></a>
                  </li>
                <% end %>
              </ul>
              <!--
              <hr>
              <div class="theme-form">
                <select class="selectize" name="" id="field_search" tabindex="-1">
                  <option></option>
                  <option>Client Name</option>
                  <option>Registration Name</option>
                </select>
              </div>
              -->
            </div>
          </div>
          <div class="col-lg-9 filter-right-section">
            <div class="mt-3"></div>
            <div class="tab-content theme-form">
              <div id="nav-client-basic">
                <h2 class="tab-title"><%= I18n.t("global.link_to.basic_details") %></h2>
                <%= render 'admin/clients/basic', f: f %>
              </div>
              <div id="nav-client-bookings">
                <h2 class="tab-title"><%= I18n.t("mongoid.models.booking_detail.other") %></h2>
                <%= render 'admin/clients/bookings', f: f %>
              </div>
              <div id="nav-client-contacts">
                <h2 class="tab-title"><%= I18n.t("global.tabs.contacts_n_notifications") %></h2>
                <%= render 'admin/clients/contacts', f: f %>
              </div>
              <div id="nav-client-integrations">
                <h2 class="tab-title"><%= I18n.t("global.tabs.integrations") %></h2>
                <%= render 'admin/clients/integrations', f: f %>
              </div>
              <div id="nav-client-pages">
                <h2 class="tab-title"><%= I18n.t("global.tabs.content_pages") %></h2>
                <%= render 'admin/clients/pages', f: f %>
              </div>
              <div id="nav-client-logos">
                <h2 class="tab-title"><%= I18n.t("global.tabs.images_docs") %></h2>
                <%= render 'admin/clients/logos', f: f %>
              </div>
              <div id="nav-client-regions">
                <h2 class="tab-title"><%= I18n.t("global.tabs.cities_regions") %></h2>
                <%= render 'admin/clients/regions', f: f %>
              </div>
              <% if policy([:admin, @client]).allow_settings? %>
                <div id="nav-client-settings">
                  <h2 class="tab-title"><%= I18n.t("global.tabs.settings") %></h2>
                  <%= render 'admin/clients/settings', f: f %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="modal-footer text-end">
          <%= f.submit I18n.t("global.save"), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function(){
    if($('#client_enable_direct_payment_false').is(':checked')){
      $('.depend-direct-payment').find('input, radio_button').attr('disabled', 'disabled');
    }
    $('.direct-payment').find('input, radio_button').change(function() {
      if($('#client_enable_direct_payment_true').is(':checked')){
        $('.depend-direct-payment').find('input, radio_button').removeAttr('disabled')
      }
      else{
        $('.depend-direct-payment').find('input, radio_button').attr('disabled', 'disabled');
      }
    });

    FormInitializer.init($("#client_form"));
  });
<% end %>
