<% if note.persisted? %>
  <div class="card card-body mb-3">
    <div class="row">
      <div class="col-10"><%= note&.note&.html_safe %></div>
      <div class="dropdown d-inline-block top-right-action col-2 text-end">
        <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-ellipsis-v txt-light-blue" aria-hidden="true"></i></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
          <%= link_to "Delete", notable_path(notable_type: @notable.class.to_s, notable_id: @notable.id, id: note.id), method: :delete, class: "dropdown-item modal-remote-form-link" %>
        </div>
      </div>
      <div class="small"> 
        <div class="row">
            <div class="col-8">
              <%= t('global.added_by') %> <%= note&.creator&.name %> 
            </div>
            <div class="col-4 text-end">
              on <%= note&.created_at&.in_time_zone("Mumbai")&.strftime("%b %d, %Y at %I:%M %p") %>
            </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
