<div class="row justify-content-center">
  <div class="col-7">
    <div class="card">
      <div class="card-body">
        <a href="javascript:void(0);" class="logo-wrapper text-center d-block mb-3">
          <img src="<%= asset_path current_client.logo.url %>" class="img-responsive" />
        </a>
        <h3 class="text-center">Create Password</h3>
        <%= form_for resource, :as => resource_name, :url => update_user_confirmation_path, :html => {:method => 'put', role: "form"}, :id => 'activation-form' do |f| %>
          <% if resource.errors.present? %>
          <div class="alert alert-danger">
            <%= devise_error_messages! %>
          </div>
          <% end %>
          <%= hidden_field_tag :confirmation_token, params[:confirmation_token] %>
          <% if @requires_password %>
            <div class="form-group">
              <%= f.label :password, class: "label-required" %>
              <%= f.password_field :password, autofocus: true, placeholder: "Password", tabindex: "1", required: "required", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, class: "label-required" %>
              <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", tabindex: "2", required: "required", class: 'form-control' %>
            </div>
            <% if params[:channel_partner_id].present? %>
              <%= f.hidden_field :channel_partner_id, value: params[:channel_partner_id], class: "form-control" %>
            <% end %>
            <div class="form-group">
              <%= f.submit "Activate", class: 'btn btn-primary' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
