<div class="mt-5 pt-5"></div>
<section class="cp-login-otp-sec mt-5" id="otp_user_section">
  <div class="cp-login-otp-wrap">
    <h2 class="px-4 pt-3 pb-3">Create Password</h2>
    <p  class="px-4 pt-3 pb-1 font-weight-medium">Please choose a password of your choice and confirm your account</p>
    <div class="cp-signup-form-wrap px-4 cp-form-wrap">
      <%= simple_form_for(resource, as: resource_name, url: update_user_confirmation_path, method: :put, html: { novalidate: false, class: 'validate-form pb-5', id: 'activation-form', role: :form }) do |f| %>
        <%= hidden_field_tag :confirmation_token, params[:confirmation_token] %>
        <%= hidden_field_tag :manager_id, params[:manager_id] %>
        <% if @requires_password %>
          <%= f.input :password, autofocus: true, tabindex: "1", required: true %>
          <%= f.input :password_confirmation, tabindex: "2", required: true %>
          <div class="mb-3">
            <%= f.submit "Activate", class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
