<%= form_for [:admin, @phase], remote: true, html: { id: 'phase_form', class: 'modal-remote-form validate-form', data: { 'resource-type' => t('global.phases'), 'type' => "json" } } do |f| %>
  <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="title"><%= t("helpers.#{action_name}.link_name", model: Phase.model_name.human) %></h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body theme-form">
          <div class="mb-3">
            <%= f.label :name, class: 'label-required' %>
            <%= f.text_field :name, autofocus: true, class: "form-control", required: 'required' %>
          </div>

          <div class="mb-3">
            <%= f.label :account, class: 'label-required' %>
            <%= f.select :account_id, Account.all.collect{|account| [account.ds_name, account.id] }, { prompt: true }, class: 'selectize' %>
          </div>

          <div class="mb-3">
            <%= f.label :project, class: 'label-required' %>
            <%= f.select :project_id, Project.all.collect{|p| [p.name, p.id] }, { prompt: true }, class: 'selectize' %>
          </div>
        <div class="modal-footer text-end">
          <%= f.submit I18n.t("global.save"), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#phase_form"));
});
<% end %>
