<div class="table-responsive">
  <table class='table striped-table payment-breakup' width="100%" cellpadding="10" cellspacing="0">
    <thead class="th-default">
      <tr>
        <th><%= t('mongoid.attributes.phase.phase_name') %></th>
        <th><%= t('mongoid.attributes.phase.account_name') %></th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% phases.each do |phase| %>
      <tr>
        <td>
          <%= phase.name %>
        </td>
        <td>
          <%= phase.account.try('name') || 'Default Account will be considered' %>
        </td>
        <td class="text-right">
          <div class="dropdown">
            <a class="btn btn-light dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to 'Edit', edit_admin_phase_path(phase), class: 'modal-remote-form-link dropdown-item' %>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
      <tr>
        <td colspan="4">
          <div class="mt-5 pt-5"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%= will_paginate phases, list_classes: %w(pagination justify-content-center) %>
