<%
  reload ||= false
  if current_user.buyer? && Buyer::MeetingPolicy.new(current_user, meeting).update?
    url = buyer_meeting_path(meeting, reload: reload)
  elsif Admin::MeetingPolicy.new(current_user, meeting).update?
    url = admin_meeting_path(meeting, reload: reload)
  end
%>

<% if policy([current_user_role_group, meeting]).editable_field?("toggle_participant_id") && url.present? %>
  <%
      message = ''
      heart_icon = false
      if meeting.participant?(current_user)
        if meeting.participant_ids.count == 1
          message = "You are interested in attending this #{t('mongoid.models.meeting.one')}"
          heart_icon = true
        else
          message = "You and #{meeting.participant_ids.count - 1} others are interested in attending this #{t('mongoid.models.meeting.one')}"
          heart_icon = true
        end
      elsif meeting.participant_ids.blank?
        message = "New Event! Be the first to show interest"
      else
        message = "#{count = meeting.participant_ids.count} #{'Partner'.pluralize(count)} are interested in attending this #{t('mongoid.models.meeting.one')}"
      end
  %>
  <%= simple_form_for(meeting, local: true, url: url, remote: true, html: { class: 'toggle_interest_form d-inline', novalidate: false, type: :json } ) do |f| %>
    <% link_name = meeting.participant?(current_user) ? t('helpers.not_interested.link_name') : t('helpers.show_interest.link_name') %>
    <% toggle_with = meeting.participant?(current_user) ? t('helpers.show_interest.link_name') : t('helpers.not_interested.link_name') %>

    <%= f.hidden_field :toggle_participant_id, disabled: !policy([current_user_role_group, meeting]).editable_field?("toggle_participant_id"), value: current_user.id.to_s %>
    <div class="modal-footer col-lg-12">
      <div class="row">
        <div class="col-lg-7 px-0">
          <div class="model-footer text-start">
            <p class="mb-0 pt-1"><%= heart_icon.present? ? '<i class="fa fa-heart fill-danger"></i>'.html_safe : '' %> <%= message %></p>
          </div>
        </div>
        <div class="col-lg-5 text-end px-0">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.submit link_name, class: defined?(link_class) ? link_class : 'btn btn-primary', data: {toggle: toggle_with, link_name: link_name} %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
