<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="title">
            <%= t("helpers.#{action_name}.link_name", model: Meeting.model_name.human) %>
            </h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body theme-form">
          <%= t('mongoid.attributes.meeting.topic') %>: <%= @meeting.topic %><br/>
          <%= @meeting.project_id.present? ? "#{@meeting.project.name} by #{@meeting.project.developer_name}" : '' %>
          <br/>
          <%= t('mongoid.attributes.meeting.agenda') %>: <%= @meeting.agenda %><br/>
          <hr />
          <%= render 'meetings/toggle_interest_form', meeting: @meeting, reload: true %>
          <hr />
          <%= @meeting.scheduled_on.strftime("%d %b %Y") rescue "" %><br/>
          <%= Meeting.statuses.select{|x| x[:id] == @meeting.status}.first[:text] %>
          <hr />
          <% if @meeting.provider.present? %>
              Join <%= @meeting.provider %> event at <%= link_to 'this link', @meeting.provider_url, target: '_blank' %><br/>
              <%= image_tag "#{@meeting.provider}.png", style: "width: 150px;" %>
          <% else %>
              <%= Meeting.meeting_types.select{|x| x[:id] == @meeting.meeting_type}.first[:text] %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>