<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="title">
            <%= t("helpers.#{action_name}.link_name", model: Meeting.model_name.human) %>
            </h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body theme-form">
          <!--
          <%= t('mongoid.attributes.meeting.topic') %>: <%= @meeting.topic %><br/>
          <%= @meeting.project_id.present? ? "#{@meeting.project.name} by #{@meeting.project.developer_name}" : '' %>
          <br/>
          <%= t('mongoid.attributes.meeting.agenda') %>: <%= @meeting.agenda %><br/>
          <hr />
          <%= render 'meetings/toggle_interest_form', meeting: @meeting, reload: true %>
          <hr />
          <%= @meeting.scheduled_on.strftime("%d %b %Y") rescue "" %><br/>
          <%= Meeting.statuses.select{|x| x[:id] == @meeting.status}.first[:text] %>
          <hr />
          <% if @meeting.provider.present? %>
              Join <%= @meeting.provider %> event at <%= link_to 'this link', @meeting.provider_url, target: '_blank' %><br/>
              <%= image_tag "#{@meeting.provider}.png", style: "width: 150px;" %>
          <% else %>
              <%= Meeting.meeting_types.select{|x| x[:id] == @meeting.meeting_type}.first[:text] %>
          <% end %>
          -->

          <div class="row">
            <div class="col-lg-8">
              <h3><%= @meeting.topic %></h3>
              <p><%= @meeting.project&.name %> by <%= @meeting.project&.developer_name %></p>
            </div>
            <% if @meeting.meeting_type == 'webinar' %>
              <div class="col-lg-4">
                <img src="<%= asset_path "#{@meeting.provider}.png" %>" class="<%= @meeting.provider %>-logo">
              </div>
            <% end %>
            <div class="col-lg-12">
              <% meeting_time = @meeting.scheduled_on&.to_time&.in_time_zone(current_user.time_zone).presence %>
              <h3><%= "#{@meeting.scheduled_on&.strftime('%e %b %Y')}#{@meeting.scheduled_on&.to_time&.in_time_zone(current_user.time_zone)&.strftime(', %I.%M %p %Z')}" %>
              <h3><%= %></h3>
              <p><%= @meeting.agenda %>, <%= (@meeting.scheduled? && @meeting.scheduled_on >= Time.now) ? 'This' : '' %> <%= "#{@meeting.scheduled_on&.strftime('%A %b %e, %Y')}#{meeting_time&.strftime(' at %I:%M%p')}#{meeting_time&.advance(minutes: @meeting.duration)&.strftime(' - %I:%M%p %Z')}" %> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
