<tr>
  <td>
    Dear <%= @user.name %>,
  </td>
</tr>
<tr><td>&nbsp;</td></tr>
<tr>
  <td style="line-height:26px;">
    <p>
      Your cheque of <%= number_to_indian_currency(@receipt.total_amount) %>/- towards the Booking amount has been collected.
    </p>
    <p>We will notify you once the cheque is processed by our team. </p>
    <p>Following are the payment details.<br/>
      <% if @receipt.project_unit_id.present? %>
        <span style="font-weight:bold">Unit Name: </span> <%= @receipt.project_unit.name %><br/>
      <% elsif @receipt.reference_project_unit_id.present? %>
        <span style="font-weight:bold">Unit Name: </span> <%= @receipt.reference_project_unit.name %><br/>
      <% end %>
      <span style="font-weight:bold">Receipt ID: </span> <%= @receipt.receipt_id %><br/>
      <span style="font-weight:bold">Issued Date: </span> <%= @receipt.issued_date.strftime("%Y-%m-%d") %><br/>
      <span style="font-weight:bold">Bank: </span> <%= @receipt.issuing_bank %><br/>
      <span style="font-weight:bold">Branch: </span> <%= @receipt.issuing_bank_branch %><br/>
      <span style="font-weight:bold">Cheque / DD number / Payment Identifier: </span> <%= @receipt.payment_identifier %><br/>
    </p>
  </td>
</tr>
