
<table cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td>
      Dear <%= @user.name %>,
    </td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td style="line-height:26px;">
      <span><strong>Thank you for your payment of <%= number_to_indian_currency(@receipt.total_amount) %></strong></span>
      <br/>
      <% if @receipt.payment_mode == 'cheque' %>An Embassy home is yours to keep! Your cheque of <%= number_to_indian_currency(@receipt.total_amount) %>  has been cleared by the bank. We will contact you shortly to discuss the next round of formalities.
      <% else %>
      <p>Following are the payment details.</p> <br/>
      <p>
        <span style="font-weight:bold">Unit </span> <%= @project_unit.name %><br/>
        <span style="font-weight:bold">Receipt </span> <%= @receipt.receipt_id %><br/>
        <span style="font-weight:bold">Date </span> <%= @receipt.created_at.strftime("%Y-%m-%d") %><br/>
        <span style="font-weight:bold">Bank </span> <%= @receipt.issuing_bank %><br/>
        <span style="font-weight:bold">Branch </span> <%= @receipt.issuing_bank_branch %><br/>
        <span style="font-weight:bold">Tracking Id </span> <%= @receipt.tracking_id %><br/>
      </p>
      <% end %>
      <br/>
      <p>You have balance payment of <%= number_to_indian_currency(@project_unit.pending_balance) %> that needs to be delivered by <%= @receipt.created_at.to_date + 10.days %> </p>
      <p>To visit the booking portal, click on the link below</p>
      <p>Take me to the Portal <a href="https://booking.embassysprings.com/">https://booking.embassysprings.com/</a> </p>
      </br></br>
      <p>Also find attached the payment receipt. </p>
    </td>
  </tr>
</table>
