<table cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style=" color: #000;font-size: 32px;font-weight: 600;line-height: 35px;vertical-align: bottom;">
       Payment Failed!
     </td>
  </tr>
   <tr><td>&nbsp;</td></tr>
   <tr>
     <td>
       Dear <%= @user.name %>,
     </td>
   </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td style="line-height:26px;">
      <% if @receipt.payment_mode == 'cheque' %>
        We are sorry to report that your cheque of <%= @receipt.total_amount %> - <%= @receipt.issuing_bank %> - <%= @receipt.issued_date %> - <%= @receipt.tracking_id %> was not honoured by the bank. The apartment kept on hold for you has been released. Please contact your Relationship Manager for further queries.
      <% else%>
<!-- Your payment of was unsuccessful. Please check the credentials and try again. -->
      <p>Your payment of <%= number_to_indian_currency(@receipt.total_amount) %> has failed for some reason<br/>Please find below the details of the failed transaction:<br/> </p>
      <p>
        <b> Total Amount: </b> <%= number_to_indian_currency(@receipt.total_amount) %><br/>
        <b> Bank: </b> <%= @receipt.issuing_bank %></br>
        <b> Issue Date: </b> <%= @receipt.issued_date %></br>
        <b> Instrument ID: </b> <%= @receipt.tracking_id %></br>
      </p>
      <% end %>
    </td>
  </tr>
</table>
