<!--
<% if @receipt.payment_mode == 'online' %>
  <%= @receipt.receipt_id %><br/>
  Rs. <%= @receipt.total_amount %><br/>
  <%= @receipt.status %><br/>
<% else %>
  <%= @receipt.receipt_id %><br/>
  Rs. <%= @receipt.total_amount %><br/>
  <%= @receipt.status %><br/>
<% end %>
<hr/>
<% if @project_unit.present? %>
Project Unit Details
<%= @project_unit.name %><br/>
<%= @project_unit.status %><br/>
<% end %>
-->

<!-- <tr>
  <td>
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td style=" color: #000;font-size: 32px;font-weight: 600;line-height: 35px;vertical-align: bottom;">
         Your Payment is Successfull!
       </td>
       <td>
         <img src="http://www.embassysprings.com/images/Springs-logo.png" style="border:0px ;outline:0px;display:block;">
       </td>
     </tr>
   </table>
 </td>
</tr> -->

<!-- <tr>
  <td>
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td><hr style="display: block;height: 1px;border: 0;border-top: 2px solid #c9579f;margin: 1em 0;padding: 0;"></td>
        <td><hr style="display: block;height: 1px;border: 0;border-top: 2px solid #64c0e9;margin: 1em 0;padding: 0;"></td>
        <td><hr style="display: block;height: 1px;border: 0;border-top: 2px solid #7eb53e;margin: 1em 0;padding: 0;"></td>
      </tr>
    </table>
  </td>
</tr>

<tr><td>&nbsp;</td></tr>

<tr>
 <td>
   Dear <%#= @user.name %>, 
 </td>
</tr>

<tr><td>&nbsp;</td></tr>

<tr>
  <td style="line-height:26px;">

   

    <span style="font-size:20px;line-height:26px;color:#000;font-weight:700;">Thank you for your payment of Rs. <%= @receipt.total_amount %> </span>
    <br/>
    
    <%# if @receipt.payment_mode == 'cheque' %>
    An Embassy home is yours to keep! Your cheque of Rs. <%= @receipt.total_amount %>  has been cleared by the bank. We will contact you shortly to discuss the next round of formalities. 

    <%# else %>
    <p><strong> Following are the payment details.</strong> </p> <br/>
    <p> 
      <span style="color:#64c0e9; font-weight:bold">Unit </span> <%#= @project_unit.name %><br/>  
      <span style="color:#64c0e9; font-weight:bold">Receipt </span> <%= @receipt.receipt_id %><br/>
      <span style="color:#64c0e9; font-weight:bold">Date </span> <%= @receipt.issued_date %><br/>
      <span style="color:#64c0e9; font-weight:bold">Bank </span> <%= @receipt.issuing_bank %><br/>
      <span style="color:#64c0e9; font-weight:bold">Branch </span> <%= @receipt.issuing_bank_branch %><br/>
      <span style="color:#64c0e9; font-weight:bold">Tracking Id </span> <%= @receipt.tracking_id %><br/>
    </p>
    
    <%# end %>
    <br/>
    <p>Also find attached the payment receipt. </p>
    
    
  </td>
</tr>  -->


<tr>
  <td>
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td style=" color: #000;font-size: 32px;font-weight: 600;line-height: 35px;vertical-align: bottom;">
         Your Payment is Successfull!
       </td>
       <td>
         <img src="http://www.embassysprings.com/images/Springs-logo.png" style="border:0px ;outline:0px;display:block;">
       </td>
     </tr>
   </table>
 </td>
</tr>

<tr>
  <td>
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td><hr style="display: block;height: 1px;border: 0;border-top: 2px solid #c9579f;margin: 1em 0;padding: 0;"></td>
        <td><hr style="display: block;height: 1px;border: 0;border-top: 2px solid #64c0e9;margin: 1em 0;padding: 0;"></td>
        <td><hr style="display: block;height: 1px;border: 0;border-top: 2px solid #7eb53e;margin: 1em 0;padding: 0;"></td>
      </tr>
    </table>
  </td>
</tr>

<tr><td>&nbsp;</td></tr>

<tr>
 <td>
   Dear <%= @user.name %>, 
 </td>
</tr>

<tr><td>&nbsp;</td></tr>

<tr>
  <td style="line-height:26px;">

   

    <span><strong>Thank you for your payment of Rs. <%= @receipt.total_amount %></strong></span>
    <br/>
    
    <% if @receipt.payment_mode == 'cheque' %>
    An Embassy home is yours to keep! Your cheque of Rs. <%= @receipt.total_amount %>  has been cleared by the bank. We will contact you shortly to discuss the next round of formalities. 

    <% else %>
    <p><strong> Following are the payment details.</strong> </p> <br/>
    <p> 
      <span style="color:#64c0e9; font-weight:bold">Unit </span> <%= @project_unit.name %><br/>  
      <span style="color:#64c0e9; font-weight:bold">Receipt </span> <%= @receipt.receipt_id %><br/>
      <span style="color:#64c0e9; font-weight:bold">Date </span> <%= @receipt.issued_date %><br/>
      <span style="color:#64c0e9; font-weight:bold">Bank </span> <%= @receipt.issuing_bank %><br/>
      <span style="color:#64c0e9; font-weight:bold">Branch </span> <%= @receipt.issuing_bank_branch %><br/>
      <span style="color:#64c0e9; font-weight:bold">Tracking Id </span> <%= @receipt.tracking_id %><br/>
    </p>
    <% end %>
    <br/>
    <p>You have balance payment of Rs. <%= @project_unit.pending_balance %> that needs to be delivered by <%= @receipt.created_at.to_date + 7.days %> </p>
    <p>To visit the booking portal, click on the link below</p>
    <p>Take me to the Portal <a href="http://embassysprings2.amura.in/users/sign_in">http://embassysprings2.amura.in/</a> </p>
  </br></br>
  <p>Also find attached the payment receipt. </p>
    
    
  </td>
</tr> 