<div class="card w-100">
  <div class="card-body">
    <p>Dear <%= @user.name %>,</p>
    <p>
      <% if @receipt.payment_mode == "online" %>
        Your online payment of <%= number_to_indian_currency(@receipt.total_amount) %> failed. We request you to re-attempt your payment. For any other mode of payment, please get in touch with our team for further details.
      <% else %>
        Your payment of <%= number_to_indian_currency(@receipt.total_amount) %> was dishonoured by your bank. Please check with them regarding your payment. We request you to re-issue a different <%= Receipt.available_payment_modes.find{|x| x[:id] == @receipt.payment_mode}[:text] %> payment.
      <% end %>
    </p>
  </div>
</div>
<div class="mt-3"></div>
<%= render "receipt_mailer/receipt", receipt: @receipt %>
