<% labels = I18n.t("mongoid.attributes.bulk_upload_report").with_indifferent_access %>
<table class='table table-responsive table-color'>
  <thead>
    <tr>
      <th><%= labels["uploaded_by_id"] %></th>
      <th><%= labels["project_id"] %></th>
      <th><%= labels["total_rows"] %></th>
      <th><%= labels["success_count"] %></th>
      <th><%= labels["failure_count"] %></th>
      <th><%= labels["file_uploaded"] %></th>
      <th class="btn-action">Action</th>
    </tr>
  </thead>
  <tbody>
    <% bulk_upload_reports.each do |bulk_upload_report| %>
    <tr>
      <td>
        <%= bulk_upload_report.uploaded_by.name %>
        <div class="small">
          <%= "On: #{bulk_upload_report.created_at.in_time_zone("Mumbai").strftime("%d/%m/%y %I:%M %p")}"%></div>
      </td>
      <td>
        <%= bulk_upload_report.project.try(:name) %>
      </td>
      <td>
        <%= bulk_upload_report.total_rows %>
      </td>
      <td>
        <%= bulk_upload_report.success_count %>
      </td>
      <td>
        <%= bulk_upload_report.failure_count %>
      </td>
      <td>
        <%= link_to bulk_upload_report.asset.try(:file_name), bulk_upload_report.asset.try(:file).try(:url), class: 'theme-txt-color' %>
      </td>
      <td>
        <div class="dropdown d-inline-block top-right-action">
          <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-ellipsis-v txt-light-blue" aria-hidden="true"></i></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <% if policy([:admin, bulk_upload_report]).show? %>
            <%= link_to I18n.t("global.show"), admin_bulk_upload_report_path(bulk_upload_report), class: 'dropdown-item' %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 py-3 bg-white mb-2 px-2">
  <div class="row">
    <div class="col-lg-6">
      <p class="table-entry mb-0 ps-2 pt-2"><%= page_entries_info bulk_upload_reports %></p>
    </div>
    <div class="col-lg-6 table-pagination">
      <%= will_paginate bulk_upload_reports, list_classes: %w(pagination justify-content-end) %>
    </div>
  </div>
</div>
