<% labels = I18n.t("mongoid.attributes.bulk_upload_report").with_indifferent_access %>
<section class="mt-0">
  <div class="px-0">
    <div class="row g-0">
      <div class="col-lg-12 p-0">
        <% bulk_upload_reports.each do |bulk_upload_report| %>
        <div class="white rounded-3 float-start wd-100 mt-4 shadow-sm position-relative">
          <div class="float-start wd-100">
            <div class="d-flex justify-content-between">
              <div>
                <div class="inner-info">
                  <div class="text-center float-start letter-sort-nm bg-primary-light">
                    <span class="position-absolute top-50 start-50 translate-middle primary fn-24 font-medium">SM</span>
                  </div>
                  <div class="ps-3 py-3 float-start">
                    <h2 class="fn-18 font-normal">
                      <%= bulk_upload_report.uploaded_by.name %>
                      <div class="small">
                        <%= "On: #{bulk_upload_report.created_at.in_time_zone("Mumbai").strftime("%d/%m/%y %I:%M %p")}"%>
                      </div>
                    </h2>
                    <p class="fn-12 mb-0"><%= labels["uploaded_by_id"] %></p>
                  </div>
                </div>
              </div>
              <div>
                <div class="row ht-inner-col-150">

                  <div class="col border-start py-3 px-3 wd-150 position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle w-75">
                      <p class="font-medium fn-14 mb-0"><%= bulk_upload_report.total_rows %></p>
                      <p class="fn-12 mb-0"><%= labels["total_rows"] %></p>
                    </div>
                  </div>

                  <div class="col border-start py-3 px-3 wd-150 position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle w-75">
                      <p class="font-medium fn-14 mb-0"><%= bulk_upload_report.success_count %></p>
                      <p class="fn-12 mb-0"><%= labels["success_count"] %></p>
                    </div>
                  </div>

                  <div class="col border-start py-3 px-3 wd-150 position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle w-75">
                      <p class="font-medium fn-14 mb-0"><%= bulk_upload_report.failure_count %></p>
                      <p class="fn-12 mb-0"><%= labels["failure_count"] %></p>
                    </div>
                  </div>

                  <div class="col border-start py-3 px-3 wd-150 position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle w-75">
                      <p class="font-medium fn-14 mb-0">
                        <%= link_to bulk_upload_report.asset.try(:file_name), bulk_upload_report.asset.try(:file).try(:url), class: "primary text-break" %>
                      </p>
                      <p class="fn-12 mb-0"><%= labels["file_uploaded"] %></p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="position-absolute custom-top-10 custom-end-20">
            <div class="dropdown">
              <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-ellipsis-v primary" aria-hidden="true"></i></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <% if policy([:admin, bulk_upload_report]).show? %>
                <%= link_to 'Show', admin_bulk_upload_report_path(bulk_upload_report), class: 'dropdown-item' %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
            <% end %>
          </div>

          <!----------- Pagination ---------->
          <div class="col-lg-12 py-3 white mb-2 px-3 mt-3 shadow-sm">
            <div class="row">
              <div class="col-lg-6 pt-2">
                <p class="table-entry mb-0">Showing 1 - 5 of <%= @bulk_upload_reports.total_entries %> items</p>
              </div>
              <div class="col-lg-6 table-pagination">
                <%= will_paginate bulk_upload_reports, list_classes: %w(pagination justify-content-end) %>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>