<div class="filter-inner">
  <div class="filter-header">
  <span class="title">Filter</span>
  <a href="javascript:;" class="close-filter-btn">&times;</a>
  </div>
  <%= form_tag payment_mode_chart_admin_receipts_path, method: "get", remote: true, id: "receipt_barchart_filter" do %>
    <div class="filter-content">
      <div class="row">
        <div class="form-group col-12">
          <%= select_tag "payments", options_for_select(["all", "attached_payments", "direct_payments"].map{|payments| [t("controller.dashboard.filters.payments.#{payments}"), payments]}, params[:payments]), class: "selectize"%>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12">
          <%= select_tag "status", options_for_select(Receipt::STATUSES.map{|payments| [t("controller.dashboard.filters.payments.#{payments}"), payments]}, @statuses ), class: "selectize", multiple: true %>
        </div>
      </div>
    </div>
    <div class="filter-footer">
      <%= submit_tag :Apply, class: "f-save-btn db-small-btn white bg-light-blue fn-500 float-right" %>
      <button type="button" class="f-cancel-btn db-small-btn light-blue bg-white fn-500 float-right">Cancel</button>
    </div>
<% end %>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#receipt_barchart_filter"));
  });
<% end %>
