<div class="filter-inner">
  <%= form_tag payment_mode_chart_admin_receipts_path, method: "get", remote: true, id: "receipt_barchart_filter" do %>
    <div class="filter-content">
      <div class="row">
        <div class="mb-3 col-12">
          <%= label_tag "payments", Receipt.model_name.human(count: 3), class: "control-label float-left" %>
          <%= select_tag "payments", options_for_select(["all", "attached_payments", "direct_payments"].map{|payments| [t("mongoid.attributes.dashboard/filters.payments.#{payments}"), payments]}, params[:payments]), class: "selectize"%>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-12">
          <%= label_tag "status", Receipt.human_attribute_name('status'), class: "control-label float-left" %>
          <%= select_tag "status", options_for_select(Receipt::STATUSES.map{|status| [t("mongoid.attributes.receipt/status.#{status}"), status]}, @statuses ), class: "selectize", multiple: true %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-12">
          <%= label_tag "dates", Receipt.human_attribute_name('dates'), class: "control-label float-left" %>
          <% dates = Array.new %>
          <% dates = params[:dates].split(' - ') if params[:dates].present? %>
          <%= text_field_tag :dates, "", class: 'form-control daterangefilter',"data-start-date": dates[0] || '', "data-end-date": dates[1] || '', "data-opens": 'right', placeholder: 'dd/mm/yyyy - dd/mm/yyyy' %>
        </div>
      </div>
    </div>
    <div class="filter-footer">
      <%= submit_tag I18n.t("global.apply"), class: "f-save-btn db-small-btn white bg-light-blue fn-500 float-right" %>
      <button type="button" class="f-cancel-btn db-small-btn light-blue bg-white fn-500 float-right"><%= I18n.t("global.cancel") %></button>
    </div>
<% end %>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#receipt_barchart_filter"));
  });
<% end %>
