<div class="filter-inner">
  <%= form_tag status_chart_admin_receipts_path, method: "get", remote: true, id: "receipt_piechart_filter" do %>
    <div class="filter-content">
      <div class = "row">
        <div class = "col-12">
          <%= label_tag "dates", Receipt.human_attribute_name('dates'), class: "control-label float-left" %>
          <% dates = Array.new %>
          <% dates = params[:dates].split(' - ') if params[:dates].present? %>
          <%= text_field_tag :dates, "", class: 'form-control daterangefilter', "data-start-date": dates[0] || '', "data-end-date": dates[1] || '', "data-opens": 'right' %>
        </div>
      </div>
    </div>
    <div class="filter-footer">
      <%= submit_tag :Apply, class: "f-save-btn db-small-btn white bg-light-blue fn-500 float-right" %>
      <button type="button" class="f-cancel-btn db-small-btn light-blue bg-white fn-500 float-right">Cancel</button>
    </div>
<% end %>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#receipt_piechart_filter"));
  });
<% end %>
