<div class="filter-box status_chart_filter_box">
  <%= render "piechart_filter" %>
</div>
<div class = "row">
  <div class = "col-12">
    <canvas id="myChart" height="493" class="pl-3 pr-3"></canvas>
  </div>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    var ctx1 = document.getElementById("myChart");
    var myChart = new Chart(ctx1, {
      type: 'doughnut',
      data: {
        labels: <%= @data.keys.map{|status| t("mongoid.attributes.receipt/status.#{status}")}.to_json.html_safe %>,
        datasets: [{
          label: '# of Tomatoes',
          data: <%= @data.values.collect{|d| d[:count]}.to_json.html_safe %>
        }],
        totalAmounts: <%= @data.values.collect{|d| number_to_indian_currency(d[:total_amount], 'indian') }.to_json.html_safe %>
      },
      options: {
        plugins: {
          colorschemes: {
            scheme: 'brewer.SetOne9'
          }
        },
        tooltips: {
            mode: 'point',
            intersect: true,
            callbacks: {
              footer: function(tooltipItems, data) {
                var sum = 0;
                tooltipItems.forEach(function(tooltipItem) {
                  sum = data.totalAmounts[tooltipItem.index];
                });
                return "Total Amount:" + sum;
              }
            }
          },
        cutoutPercentage: 60,
        responsive: false,
        legend: {
            fullWidth: true,
            position: 'top',
                display: true,
                labels: {
                    fontColor: '#333d51',
                    padding: 30,
                    boxWidth: 12,
                }
            }
      }
    });
  });
<% end %>