<%= form_for [:admin, @receipt],:url=> { action: "update_token_number"}, remote: true, local: true, html: {id: "token_number_form", class: "modal-remote-form validate-form", "data-type": "json"} do |f| %>
  <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary white">
          <h3 class="title"><%= t('controller.receipts.edit_token_number.link_name')%></h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3">
              <div class="mb-3">
                <%= f.label :token_number %></br>
                <%= f.object.token_prefix %><%= f.number_field :token_number, class: 'form-control', autofocus: true, disabled: !policy([current_user_role_group, @receipt]).editable_field?("token_number"), min: 1 %>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :time_slot %></br>
                <%= f.select :time_slot_id, options_for_select(@receipt.project.time_slots.collect{ |x| [x.to_s, x.id]}, @receipt.time_slot_id), {prompt: true}, class: 'selectize', autofocus: true %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Save", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#token_number_form"));
  });
<% end %>
