<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="title"> <%= t('controller.receipts.new.header')%></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body theme-form">
        <div id="offline-form" class="offline-form">
          <%= form_for [:admin, @lead, @receipt], local: true, remote: true, html: {id: 'receipt_form', class: 'modal-remote-form validate-form', data: { "resource-type": t('global.receipt'), type: :json} } do |f| %>
            <%= render 'admin/booking_details/receipts/form', f: f, direct_payment: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    var amount_hash = <%= raw @amount_hash.to_json %>;
    $('#receipt_token_type').on('change', function(e){
      var payment_type = $(e.currentTarget).val();
      $('#receipt_total_amount').val(amount_hash[payment_type]);
    });
    $('#receipt_form [name="agree"]').change(function(){
      if($(this).is(":checked")){
        $('#receipt_form [type="submit"]').removeAttr("disabled");
      }else{
        $('#receipt_form [type="submit"]').attr("disabled", "disabled");
      }
    });
    FormInitializer.init($('#receipt_form'));
  });
<% end %>
