<% if policy([current_user_role_group, (@user_request)]).editable_field?("requestable_id") %>
  <%= f.hidden_field :requestable_type, value: @user_request.requestable_type %>
  <%= f.hidden_field :lead_id %>
  <% if @user_request.requestable_type == 'BookingDetail' %>
    <div class="mb-3">
      <%= f.label :project_unit, class: 'label-required' %>

      <% if current_user.buyer? %>
        <%= f.select :requestable_id, options_from_collection_for_select(current_user.booking_details.where(_id: f.object.requestable_id), :_id, :name), {prompt: I18n.t("global.select")}, class: 'selectize', disabled: !policy([current_user_role_group, (@user_request)]).editable_field?("requestable_id"), required: :required, data: { url: buyer_booking_details_path, params: {fltrs: { status: BookingDetail::BOOKING_STAGES, user_id: current_user.id } } } %>
      <% else %>
        <%= f.select :requestable_id, options_from_collection_for_select(BookingDetail.where(booking_portal_client_id: current_client.try(:id), _id: f.object.requestable_id), :_id, :name), {prompt: I18n.t("global.select")}, class: 'selectize', disabled: !policy([current_user_role_group, (@user_request)]).editable_field?("requestable_id"), required: :required, data: { url: admin_booking_details_path, params: {fltrs: { status: BookingDetail::BOOKING_STAGES, lead_id: @user_request.lead_id } } } %>
      <% end %>
      
    </div>
  <% elsif @user_request.requestable_type == 'Receipt' %>
      <%= f.label :receipt, class: 'label-required' %>
      <% if current_user.buyer? %>
        <%= f.select :requestable_id, options_from_collection_for_select(current_user.receipts.where(_id: f.object.requestable_id), 'id', 'receipt_id', f.object.requestable_id), {prompt: I18n.t("global.select") }, class: 'selectize-remote', required: 'required', autofocus: true, data: { url: buyer_receipts_path, params: {fltrs: { status: 'success', user_id: current_user.id, booking_detail_id: nil } } } %>
      <% else %>
        <%= f.select :requestable_id, options_from_collection_for_select(Receipt.where(booking_portal_client_id: current_client.try(:id), _id: f.object.requestable_id), 'id', 'receipt_id', f.object.requestable_id), {prompt: I18n.t("global.select") }, class: 'selectize-remote', required: 'required', autofocus: true, data: { url: admin_receipts_path, params: { fltrs: { status: 'success', lead_id: @user_request.lead_id, booking_detail_id: nil }}} %>
      <%end %>
  <% end %>
<% else %>
  <div class="mb-3">
    <%= f.label :project_unit_id, class: 'label-required' %>
    <div><%= @user_request.requestable.try(:name) %></div>
  </div>
<% end %>
<% f.object.build_bank_detail if f.object.bank_detail.blank? %>
<%= f.fields_for :bank_detail do |bank_detail_form| %>
  <%= render "bank_detail_fields", f: bank_detail_form %>
<% end %>