<section class="bookings my-4 mb-4">
  <div class="container">
    <div class="box-card">
      <div class="box-header bg-gradient br-rd-tr-4 row">
        <div class="col-11 no-pd">
          <h2><%= t("mongoid.models.user_request/#{params[:request_type]}", count: 1) %> Request</h2>
        </div>
        <div class="col-1">
          <table class="float-right">
            <tr><td>
              <div class="dropdown show text-center float-right">
                <a class="btn dropdown-toggle table-dropdown-btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <%= render 'links', user_request: @user_request, links_name: 'Action' %>
                  </div>
              </div>
            </td></tr>
          </table>
        </div>
      </div>
      <div class="box-content br-rd-bl-4 bg-white row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <ul class="booking-apart-info clear">
            <% if @user_request.requestable_id.present? %>
              <li>
                <span> Requested For ( <%= t("mongoid.attributes.user_request/requestable_type.#{@user_request.requestable_type}") %> )</span>
                <p><%= @user_request.requestable.name %></p>
              </li>

              <%- if @user_request.kind_of?(UserRequest::Swap)%>
                <li>
                  <span> Alternate Project Unit</span>
                  <p><%= @user_request.alternate_project_unit.name %></p>
                </li>
              <% end %>
            <% end %>

            <li>
              <span>Status</span>
              <p>
                <label class="badge badge-<%= user_request_status_badge(user_request) %> white" > <%= t("mongoid.attributes.user_request/status.#{user_request.status}") %></label>
                <%- if user_request.reason_for_failure.present? %>
                  <span> Reason : <%= user_request.reason_for_failure || '-' %></span>
                <% end %>
              </p>
            </li>
            <% if user_request.lead_id.present? %>
              <li>
                <span> Requested For (User) </span>
                <p><%= link_to user_request.lead.name, [current_user_role_group, user_request.lead ] %></p>
              </li>
            <% end %>
            <li>
              <span> Created by </span>
              <p>
                <%= link_to user_request.created_by.name, [current_user_role_group, user_request.created_by] %>
                </br>
                ( <%= user_request.created_at.strftime('%A, %d %b %Y %l:%M %p') %>)
              </p>
            </li>
            <li>
              <span>Resolved by</span>
              <p>
                <%- if user_request.resolved_by.present? %>
                  <%= link_to user_request.resolved_by.name, [current_user_role_group, user_request.created_by] %>
                  </br>
                  <% if user_request.resolved_at.present? %>
                    (<%= user_request.resolved_at.in_time_zone(current_user.time_zone).strftime('%A, %d %b %Y %l:%M %p') rescue "" %>)
                  <% end %>
                <% end %>
              </p>
            </li>
            <% if user_request.is_a?(UserRequest::General) %>
            <li>
              <span>Category </span>
              <%= user_request.category || '-' %>
            </li>
            <li>
              <span>Department </span>
              <%= user_request.department.try(:titleize) || '-' %>
            </li>
            <% end %>
            <% if user_request.is_a?(UserRequest::General) %>
            <li>
              <span>Priority </span>
              <%= user_request.priority.try(:titleize) || '-' %>
            </li>
            <% end %>
          </ul>
          <% if user_request.is_a?(UserRequest::General) %>
            <ul class="booking-apart-info clear">
              <li>
                <span>Tags </span>
                <%= user_request.tags.join(",") || '-' %>
              </li>
              <li>
                <span>Due Date </span>
                <%= user_request.due_date.try(:in_time_zone, current_user.time_zone).try(:strftime, '%d/%m/%y') || '-' %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
