<div class="card h-100">
  <div class="card-body">
    <% if @user.blank? %>
      <% url = admin_user_requests_path(request_type: @associated_class.model_name.element) %>
      <%= form_tag url, method: "get", id: "user_request_search_form" do %>
        <div class="form-group">
          <%= label_tag "", 'Filters', class: "control-label d-block d-lg-inline" %>
          <%= submit_tag :Apply, class: "btn btn-primary btn-sm float-lg-right" %>
        </div>
        <div class="clearfix"></div>
        <hr/>
        <div class="form-group">
          <%= label_tag "fltrs", "Customer Name / Email / Phone", class: "control-label" %>
          <%
            if params[:fltrs].present? && params[:fltrs][:user].present?
              user = User.find(params[:fltrs][:user])
            end
          %>
          <%= select_tag "fltrs[user]", options_for_select((params[:fltrs].present? && params[:fltrs][:user].present?) ? [[user.ds_name, user.id]] : []), {class: "selectize-remote", data: {params: {fltrs: {role: User.buyer_roles(current_client)}}, url: admin_users_path }} %>
        </div>
        <% if @associated_class == UserRequest %>
          <div class="form-group">
            <%= label_tag "fltrs", "type", class: "control-label" %>
            <%= select_tag "fltrs[_type]", options_for_select(::UserRequest.descendants.collect{|x| [x.to_s.split("::").last.gsub("Template", "").titleize, x.to_s]}.sort, (params.dig(:fltrs, :_type) || "")), {prompt: "Select", class: "selectize"} %>
          </div>
        <% end %>
        <div class="form-group">
          <%= label_tag "fltrs", "status", class: "control-label" %>
          <%= select_tag "fltrs[status]", options_for_select(UserRequest::STATUS.collect{|urs| [t("user_requests.status.#{urs}"), urs ]}, (params.dig(:fltrs, :status) || "")), {prompt: "Select", class: "selectize"} %>
        </div>
        <div class="form-group">
          <%= label_tag "fltrs", "requestable_type", class: "control-label" %>
          <%= select_tag "fltrs[requestable_type]", options_for_select(UserRequest.distinct(:requestable_type)), {prompt: "Select", class: "selectize"} %>
        </div>
        <div class="form-group">
          <%= label_tag "fltrs", "requestable", class: "control-label" %>
          <%= select_tag "fltrs[requestable]", options_for_select([]), {prompt: "Select", class: "selectize-remote"} %>
        </div>
      <% end %>
      <%= javascript_tag do %>
        $(document).ready(function(){
          $('#fltrs_requestable').selectize()
          $('#fltrs_requestable_type').change(function(){
          if($(this).val() == 'Receipt'){
            $('#fltrs_requestable').selectize()[0].selectize.destroy();
            $('#fltrs_requestable').selectize({
                plugins: ['infinite_scroll'],
                load : function (query, callback) {
                  var queryObj = JSON.parse(query);
                  $.ajax({
                    url: "<%= admin_receipts_path %>",
                    type: "get",
                    dataType: 'json',
                    data: _.merge( queryObj, {fltrs: {search: queryObj.search}}),
                    success : function(res) {
                      callback(_.map(res, function(a){ return { value: (a['id'] || a._id), text: (a['ds_name'] || a['name']) } }));
                    }
                  });
                }
           });
          } else if($(this).val() == 'BookingDetail'){
            $('#fltrs_requestable').selectize()[0].selectize.destroy();
            $('#fltrs_requestable').selectize({
                plugins: ['infinite_scroll'],
                load : function (query, callback) {
                  var queryObj = JSON.parse(query);
                  $.ajax({
                    url: "<%= admin_booking_details_path %>",
                    type: "get",
                    dataType: 'json',
                    data: _.merge( queryObj, {fltrs: {search: queryObj.search}}),
                    success : function(res) {
                      callback(_.map(res, function(a){ return { value: (a['id'] || a._id), text: (a['name'] + '-' + a['status']) } }));
                    }
                  });
                }
              });
            }
          });
          FormInitializer.init($("#user_request_search_form"));
        });
      <% end %>
    <% end %>
  </div>
</div>
