<%
  hash = {"data-resource-type": global_labels['user_request'], "data-type": "json"}
  hash = {confirm: 'Are you sure you want to proceed?'} if @user_request.new_record?
%>
<%
  if current_user.buyer?
    if @user_request.new_record?
      url = user_user_requests_path
    else
      url = user_user_request_path(@user_request)
    end
  else
    if @user_request.new_record?
      url = admin_user_user_requests_path(@user_request.user_id)
    else
      url = admin_user_user_request_path(@user_request.user_id, @user_request.id)
    end
  end
%>
<%= form_for @user_request, url: url, remote: true, html: {class: 'modal-remote-form validate-form', "data-resource-type": global_labels['user_requests'], "data-type": "json"}, data: hash do |f| %>
<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= @user_request.new_record? ? "New" : "Edit" %> <%= "#{global_labels['user_request']}" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if @user_request.new_record? %>
          <div class="form-group">
            <%= f.label :project_unit_id, class: 'label-required' %>
            <%= f.select :project_unit_id, @user_request.user.project_units.collect{|x| [x.name, x.id] }, {prompt: true}, class: 'selectize', disabled: (policy(@user_request).editable_field?("project_unit_id") ? false : true), required: "required" %>
          </div>
        <% else %>
        <div class="form-group">
          <%= f.label :project_unit_id, class: 'label-required' %>
          <div><%= @user_request.project_unit.name %></div>
        </div>
        <% end %>
        <% if policy(@user_request).editable_field?("comments") %>
        <div class="form-group">
          <%= f.label :comments, class: 'label-required' %>
          <%= f.text_area :comments, autofocus: true, class: "form-control", required: 'required', disabled: (policy(@user_request).editable_field?("comments") ? false : true) %>
        </div>
        <% end %>
        <% if policy(@user_request).editable_field?("crm_comments") %>
        <div class="form-group">
          <%= f.label :crm_comments, class: 'label-required' %>
          <%= f.text_area :crm_comments, autofocus: true, class: "form-control", required: 'required' %>
        </div>
        <% end %>
        <% if policy(@user_request).editable_field?("status") %>
          <div class="form-group">
            <%= f.label :status, class: 'label-required' %>
            <%= f.select :status, UserRequest.available_statuses.collect{|x| [x[:text], x[:id]]}, {prompt: true}, class: 'selectize', required: "required" %>
          </div>
        <% elsif @user_request.persisted? %>
          <div>
            Status: <%= f.object.status %>
          </div>
        <% end %>
        <% if @user_request.new_record? %>
        <div class="form-group">
          <div class="alert alert-primary">
            Your unit will be released once the cancellation request is processed. For booking the same unit again, you will have to go through the selection process again which will also be subject to availability.<br/>
            <div class="form-check mt-3">
              <input type="checkbox" id="accepted" class="form-check-input" />
              <label class="form-check-label">I Agree <%= @user_request.user_id == current_user.id ? "" : " on behalf of #{@user_request.user.name}" %></label>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Submit", class: 'btn btn-primary', disabled: (@user_request.new_record? ? true : false), id: "submit_request", data:{event_category: 'Section', event_action: 'Click', event_name: 'cancel booking - submit'}  %>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($('.validate-form'));
  $("#accepted").change(function(){
    if($(this).is(":checked")){
      $("#submit_request").removeAttr("disabled");
    }else{
      $("#submit_request").attr("disabled", "disabled");
    }
  })
});
<% end %>
