<% if current_user.buyer? %>
  <section class="main-wrapper full-height grey" style="min-height: 764px;">
    <div class="container-fluid">
      <div class="col-12">
        <%= render 'breadcrumbs', {user: @user, user_request: @user_request} %>
        <div class="apartment-selector-wrapper">
          <div class="title">
            Cancel Booking - <span class="f18">&#8377;5,000 will be withheld from your paid amount</span>
          </div>
        </div>
        <% if @user_request.errors.present? %>
          <div class="alert alert-danger">
            <ul>
              <% @user_request.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="cancel-booking-wrapper">
          <%
            hash = {}
            has = {confirm: 'This will immediately release the unit and you will not be able to claim it again. Are you sure you want to proceed?'} if @user_request.new_record?
          %>
          <%= form_for [:user, @user_request], html: {class: 'validate-form'}, data: hash do |f| %>
            <% if @user_request.new_record? %>
              <div class="form-group form-field-wrapper">
                <%= f.label :project_unit_id, class: 'control-label label-required title' %>
                <%= f.select :project_unit_id, @user_request.user.project_units.collect{|x| [x.name, x.id] }, {prompt: true}, class: 'selectize', disabled: (policy(@user_request).editable_field?("project_unit_id") ? false : true), required: "required" %>
              </div>
            <% else %>
            <div class="form-group form-field-wrapper">
              <%= f.label :project_unit_id, class: 'control-label label-required title' %>
              <div><%= @user_request.project_unit.name %></div>
            </div>
            <% end %>
              <div class="form-group form-field-wrapper">
                <%= f.label :comments, class: 'control-label label-required title' %>
                <%= f.text_area :comments, autofocus: true, class: "form-control form-field", required: 'required', disabled: (policy(@user_request).editable_field?("comments") ? false : true) %>
              </div>
              <% if policy(@user_request).editable_field?("status") %>
                <div class="form-group">
                  <%= f.label :status, class: 'control-label label-required' %>
                  <%= f.select :status, UserRequest.available_statuses.collect{|x| [x[:text], x[:id]] }, {prompt: true}, class: 'selectize', required: "required" %>
                </div>
              <% end %>
              <div class="form-group">
                <%= f.submit "Submit", class: 'btn nav-btn', data:{event_category: 'Section', event_action: 'Click', event_name: 'cancel booking - submit'}  %>
              </div>
            <% end %>
            <div class="form-group">
              <label class="control-label label-required title">You need to upload photo of cheque to process refund smoothly. </label>
            </div>
            <%= render "assets/index", assetable: @user_request %>
            <br/><br/><br/>
            <%= javascript_tag do %>
            $(document).ready(function(){
              FormInitializer.init($('.validate-form'));
            });
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% else %>
<%= render 'breadcrumbs', {user: @user, user_request: @user_request} %>
  <section class="padding-side-22">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-left mtop10">
            <p class="pageTitle big pink">CANCELLATION REQUEST</p>
        </div>
        <div class="col-md-12 border-left-0 border-top-0 border-bottom-0">
          <% if @user_request.errors.present? %>
          <div class="alert alert-danger">
            <ul>
              <% @user_request.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
          <%= form_for [:user, @user_request], html: {class: 'validate-form'} do |f| %>
            <div class="form-group">
              <%= f.label :project_unit_id, class: 'control-label label-required' %>
              <%= f.select :project_unit_id, @user_request.user.project_units.collect{|x| [x.name, x.id] }, {prompt: true}, class: 'selectize', disabled: (policy(@user_request).editable_field?("project_unit_id") ? false : true), required: "required" %>
            </div>
            <div class="form-group">
              <%= f.label :comments, class: 'control-label label-required' %>
              <%= f.text_area :comments, autofocus: true, class: "form-control", required: 'required', disabled: (policy(@user_request).editable_field?("comments") ? false : true) %>
            </div>
            <% if policy(@user_request).editable_field?("status") %>
              <div class="form-group">
                <%= f.label :status, class: 'control-label label-required' %>
                <%= f.select :status, UserRequest.available_statuses.collect{|x| [x[:text], x[:id]] }, {prompt: true}, class: 'selectize', required: "required" %>
              </div>
            <% end %>
            <div class="form-group">
              <%= f.submit "Submit", class: 'btn btn-primary pink-btn' %>
            </div>
          <% end %>
          <%= render "assets/index", assetable: @user_request %>
          <br/><br/><br/>
          <%= javascript_tag do %>
          $(document).ready(function(){
            FormInitializer.init($('.validate-form'));
          });
          <% end %>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </section>
<% end %>
