<div class="table-responsive">
  <table class='table striped-table' width="100%" cellpadding="10" cellspacing="0">
    <thead class="th-default">
      <% labels = t('mongoid.attributes.user_request').with_indifferent_access %>
      <tr>
        <th><%= labels['user_id'] %></th>
        <th><%= labels['status'] %></th>
        <th><%= labels['comments'] %></th>
        <th><%= labels['project_unit_id'] %></th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% user_requests.each do |user_request| %>
      <tr>
        <td><%= user_request.user.name %></td>
        <td><%= UserRequest.available_statuses.find{|x| x[:id] == user_request.status}[:text] %></td>
        <td><%= user_request.comments %></td>
        <td><%= user_request.project_unit_id.present? ? user_request.project_unit.name : '-' %></td>
        <td class="text-right">
          <div class="dropdown">
            <a class="btn btn-light dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu dropdown-menu-right">
              <% if AssetPolicy.new(current_user, Asset.new(assetable: user_request)).index? %>
                <%= link_to 'Documents', assetables_path(assetable_type: user_request.class.model_name.i18n_key.to_s, assetable_id: user_request.id), class: 'dropdown-item modal-remote-form-link' %>
              <% end %>
              <% if UserRequestPolicy.new(current_user, user_request).edit? %>
              <%= link_to 'Edit', edit_admin_user_user_request_path(user_request.user_id, user_request), class: 'modal-remote-form-link dropdown-item' %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate user_requests, list_classes: %w(pagination justify-content-center) %>
