<div class="table-responsive">
  <table class='table striped-table' width="100%" cellpadding="10" cellspacing="0">
    <thead class="th-default">
      <% labels = t('mongoid.attributes.user_request').with_indifferent_access %>
      <tr>
        <th>Request details</th>
        <th><%= labels['status'] %></th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% user_requests.each do |user_request| %>
      <tr>
        <td>
          <% if Admin::UserPolicy.new(current_user, user_request.user).show? %>
            <%= link_to user_request.user.name, admin_user_path(user_request.user_id) %>
          <% else %>
            <%= user_request.user.name %>
          <% end %>
          <div class="small text-muted">
            <%= labels['_type'] %>: <%= user_request.class.model_name.element.titleize %>
          </div>
          <div class="small text-muted">
            <%= labels['project_unit_id'] %>: <%= user_request.project_unit_id.present? ? user_request.project_unit.name : '-' %>
          </div>
        </td>
        <td>
          <%= UserRequest.available_statuses.find{|x| x[:id] == user_request.status}[:text] %>
          <div class="text-muted small">
            <%= labels[:created_at] %>: <%= l(user_request.created_at.in_time_zone(current_user.time_zone)) %>
          </div>
          <% if user_request.resolved_at.present? %>
            <div class="text-muted small">
              <%= labels[:resolved_at] %>: <%= l(user_request.resolved_at.in_time_zone(current_user.time_zone)) %>
            </div>
          <% end %>
        </td>
        <td class="text-right">
          <div class="dropdown">
            <a class="btn btn-light dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu dropdown-menu-right">
              <% if policy([ current_user_role_group, Asset.new(assetable: user_request)]).index? %>
                <%= link_to 'Documents', assetables_path(assetable_type: user_request.class.model_name.i18n_key.to_s, assetable_id: user_request.id), class: 'dropdown-item modal-remote-form-link' %>
              <% end %>
              <% unless (user_request.status == "resolved" || user_request.status == "rejected") %>
                <% if Buyer::UserRequestPolicy.new(current_user, user_request).edit? && current_user.buyer? %>
                  <% url = edit_buyer_user_request_path(user_request, request_type: user_request.class.model_name.element) %>
                <% elsif Admin::UserRequestPolicy.new(current_user, user_request).edit? %>
                  <% url = edit_admin_user_request_path(user_request, request_type: user_request.class.model_name.element) %>
                <% end %>
                <%= link_to 'Edit', url, class: 'modal-remote-form-link dropdown-item' %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
      <tr>
        <td colspan="3">
          <div class="mt-5 pt-5"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%= will_paginate user_requests, list_classes: %w(pagination justify-content-center) %>
