<div class="container">
  <div class="row justify-content-center">
    <div class="<%= @user.blank? ? 'col-md-9' : 'col-md-12' %>">
      <%= render 'breadcrumbs', {user_request: @user_request, user: @user} %>
      <div class="card h-100">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-7">
              <% [UserRequest::Cancellation, UserRequest::Swap] if Rails.env.development? %>
              <% UserRequest.descendants.each do |klass| %>
                <% if @user.present? && policy(klass.new(user: @user)).new? %>
                  <%
                    if current_user.buyer?
                      url = new_user_user_request_path(request_type: klass.model_name.element)
                    else
                      url = new_admin_user_user_request_path(user_id: @user, request_type: klass.model_name.element)
                    end
                  %>
                  <%= link_to "Add #{global_labels['user_request_' + klass.model_name.element]}", url, class: 'btn btn-primary nav-btn modal-remote-form-link' %>
                <% end %>
              <% end %>
              <% if UserRequestPolicy.new(current_user, UserRequest).export? %>
                <%= link_to "Export all #{global_labels['user_request']}", export_admin_user_requests_path(request_type: "all"), class: 'btn btn-primary ml-md-1 mt-md-0 mt-2 margin-xs-left-0' %>
              <% end %>
            </div>
            <div class="col-md-5 text-md-right">
              <h6 class="mt-2">Total <%= global_labels[:user_requests] %>: <%= @user_requests.total_entries %></h6>
            </div>
          </div>
          <%= render 'index', {user_requests: @user_requests} %>
        </div>
      </div>
    </div>
    <% if @user.blank? %>
      <div class="col-md-3">
        <div class="d-md-none mt-3"></div>
        <%= render "filters" %>
      </div>
    <% end %>
  </div>
</div>
