<section class="mb-5 mt-3">
  <div class="px-4">
    <div class="row">
    <div class="col-lg-12 col-xs-12 col-md-6 col-sm-12">
      <div class="table-btn-set float-end pb-3 text-end col-12">
        <div class="filter-search d-sm-inline-block d-block mb-xs-3">
            <input type="text" name="" placeholder="Search user request">
          </div>
          <div class="filter-popup">
            <a class="db-filter-btn fn-500" href="javascript:;">
              <i class="fa fa-filter fill-theme"></i>
            </a>
          </div>
        <% if policy([:admin, UserRequest.new(user_id: current_user.id)]).new? %>
          <%= link_to t('controller.user_requests.new.link_name'), new_admin_user_request_path(request_type: 'general'), class: 'btn btn-primary fn-400 modal-remote-form-link me-2 ms-2 me-xs-0' %>
        <% end %>
        <% if policy([:admin, UserRequest.new]).export? %>
          <a class="select-btn border rounded fn-400 dropdown-toggle btn" href="javascript:;" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</a>
          <div class="dropdown-menu">
            <%= link_to "All #{global_labels['user_requests']}", export_admin_user_requests_path, class: 'dropdown-item' %>
            <%= link_to "Active filter #{global_labels['user_requests']}", export_admin_user_requests_path(fltrs: params["fltrs"].as_json), class: 'dropdown-item' %>
          </div>
        <% end %> 
      </div>
    </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
        <div class="box-card relative">
          <%= render 'index', {user_requests: @user_requests} %>
          <div class="filter-box">
            <%= render "filters" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
