<div class="container">
  <div class="row justify-content-center">
    <div class="<%= @user.blank? ? 'col-md-9' : 'col-md-12' %>">
      <%= render 'breadcrumbs', {user_request: @user_request, user: @user} %>
      <div class="card h-100">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-7">
              <% UserRequest.descendants.each do |klass| %>
                <% if @user.present? && policy([:admin, klass.new(user: @user)]).new? %>
                  <% url = new_admin_user_user_request_path(user_id: @user, request_type: klass.model_name.element) %>
                  <%= link_to "Add #{global_labels['user_request_' + klass.model_name.element]}", url, class: 'btn btn-primary nav-btn modal-remote-form-link' %>
                <% end %>
              <% end %>
              <% if Admin::UserRequestPolicy.new(current_user, UserRequest).export? %>
                <div class="dropdown">
                  <a class="btn btn-light dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <%= link_to "All #{global_labels['user_requests']}", export_admin_user_requests_path, class: 'dropdown-item' %>
                    <%= link_to "Active filter #{global_labels['user_requests']}", export_admin_user_requests_path(fltrs: params["fltrs"].as_json), class: 'dropdown-item' %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-md-5 text-md-right">
              <h6 class="mt-2">Total <%= global_labels[:user_requests] %>: <%= @user_requests.total_entries %></h6>
            </div>
          </div>
          <%= render 'index', {user_requests: @user_requests} %>
        </div>
      </div>
    </div>
    <% if @user.blank? %>
      <div class="col-md-3">
        <div class="d-md-none mt-3"></div>
        <%= render "filters" %>
      </div>
    <% end %>
  </div>
</div>
