<div class="table-responsive">
  <table class='table striped-table payment-breakup' width="100%" cellpadding="10" cellspacing="0">
    <thead class="th-default">
      <tr>
        <th><%= t('mongoid.attributes.portal_stage_priority.stage_name') %></th>
      </tr>
    </thead>
    <tbody class="sortable" id = 'body'>  <!-- sortable target -->
      <% portal_stage_priorities.each_with_index do |portal_stage_priority, i| %>
        <tr id = <%= portal_stage_priority.priority %>>
          <td > <%= portal_stage_priority.stage %></td>
        </tr>
      <% end %>
      <%= form_tag reorder_admin_portal_stage_priorities_path, method: "patch", id: 'change_priority_form' do %>
        <%= hidden_field_tag "order", id: 'order' %>
        <%= submit_tag :apply, class: "btn btn-primary btn-sm float-lg-right" %>
        <div class="d-md-none mt-3"></div>
      <% end %>
    </tbody>
  </table>
</div>

<%= javascript_tag do %>
  $(function() {
    $('.sortable').railsSortable();
  });
  $('#change_priority_form').on('submit', function(){
    var arr = [];
    $("#body tr").each(function() {
      arr.push(this.id);
    });
    $('#order').val(arr)
  })
<% end %>
