<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <thead>
      <tr class="bg-primary white">
        <th><%= I18n.t("controller.records.text.subject_class") %></th>
        <th><%= I18n.t("controller.records.text.changed_by") %></th>
        <th><%= I18n.t("controller.records.text.action_type") %></th>
        <th><%= I18n.t("global.actions") %></th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% @audits.each do |audit| %>
      <tr>
        <td>
          <%= audit.subject_class %>
        </td>
        <td>
          <%= audit.user_name %>
        </td>
        <td>
          <%= audit.change_type %>
        </td>
        <td>
          <%= link_to I18n.t("global.show"),"javascript:;", data: {toggle: "modal", target: "#audit_entry_modal_#{audit.id}"}, class: "db-small-btn light-blue bg-white fn-400 btn" %>
          <div class="modal fade right fixed-header-footer" role="dialog" id="audit_entry_modal_<%= audit.id %>">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="title"><%= I18n.t("controller.records.text.audit_entries") %></h3>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body theme-form">
                  <% @audit_entries =  Audit::Entry.where(audit_id: audit.id)%>
                  <%=render "admin/audit/entries/show",{audit_entries: @audit_entries} %>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pt-2">
  <%= will_paginate @audits, list_classes: %w(pagination justify-content-center) %>
</div>
