<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <% labels = t('mongoid.attributes.receipt').with_indifferent_access %>
    <% user_labels = t('mongoid.attributes.user').with_indifferent_access %>
      <thead>
        <tr class="bg-gradient-cd white">
          <th><%= t('mongoid.attributes.account.names') %></th>
          <th><%= t('mongoid.attributes.account.account_number') %></th>
          <th>Actions</th>
        </tr>
      </thead>
  </thead>
  <tbody>
    <% accounts.each do |account| %>
      <tr>
        <td>
          <%= link_to account.name, admin_account_path(account, account_type: account.account_type) %>
          <% if account.by_default %>
            <span class="badge badge-primary" title="Default Account" data-toggle="popover" data-trigger="focus" data-content="System need only one default account, which contains first payment of each unit.">Default</span>
          <% end %>
        </td>
        <td>
          <%= account.account_number %>
        </td>
        <td>
          <div class="dropdown show text-center">
          <a class="btn dropdown-toggle table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Edit', edit_admin_account_path(account, account_type: account.account_type), class: 'modal-remote-form-link dropdown-item' %>
              <%= link_to 'Delete', admin_account_path(account, account_type: account.account_type), class: 'dropdown-item', method: :delete %>
           </div>
        </div>
        </td>
      </tr>
      <% end %>
      <tr>
      <td colspan="6">
        <div class="mt-5 pt-5"></div>
      </td>
    </tr>
  </tbody>
</table>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pt-4 pb-5">
  <%= will_paginate accounts, list_classes: %w(pagination justify-content-center) %>
</div>
