<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-title pt-1">
          <h1 class="title icon-set icon-key-black">
            <%= Account.model_name.human(count: @accounts.total_entries) %>
            <span class="badge bg-gradient-cd white"><%= @accounts.total_entries %></span>
          </h1>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd mb-3">
        <div class="dropdown">
          <button class="btn db-filter-btn dropdown-toggle white float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= image_tag 'plus-blue.svg'%></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% Client::PAYMENT_GATEWAYS.each do |acct_type| %>
              <%= link_to t("client.payment_gatways.#{acct_type}"), new_admin_account_path(account_type: "#{acct_type}Payment".underscore), class: 'dropdown-item modal-remote-form-link' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <%= render 'index', {accounts: @accounts} %>
        </div>
      </div>
    </div>
  </div>
</section>
