<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-7">
              <%if policy([:admin, Account]).new? %>
                <div class="dropdown">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Add <%= t('global.accounts') %>
                  </button>
                  <div class="dropdown-menu">
                    <% Client.available_payment_gateways.collect {|x| x[:id]}.each do |acct_type| %>
                      <%= link_to acct_type, new_admin_account_path(account_type: "#{acct_type}Payment".underscore), class: 'dropdown-item modal-remote-form-link' %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-md-5 text-md-right">
              <h6 class="mt-2">Total <%= t('global.account') %>: <%= @accounts.total_entries %></h6>
            </div>
          </div>
          <%= render 'index', {accounts: @accounts} %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-md-none mt-3"></div>
    </div>
  </div>
</div>
