<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-title">
          <h1 class="title icon-rupee-black icon-set">
            <%= Invoice.model_name.human(count: @invoices.total_entries) %>
          </h1>
        </div>
      </div>
      <div class="col-lg-7 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-btn-set float-right pb-3">
          <button disabled="disabled" class="db-small-btn light-blue bg-white fn-400"><%= t('global.total')%> : <%= @invoices.total_entries %></button>
        </div>
      </div>

      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <table class='table my-customer-table responsive-tbl'>
            <thead class="th-default">
              <thead>
                <tr class="bg-gradient-cd white">
                  <th><%= IncentiveScheme.model_name.human %></th>
                  <th><%= Ladder.model_name.human %></th>
                  <th><%= t('mongoid.attributes.invoice.amount') %></th>
                </tr>
              </thead>
            </thead>
            <tbody>
              <% @invoices.each do |invoice| %>
                <tr>
                  <td><%= invoice.incentive_scheme.name %></td>
                  <td>Stage <%= invoice.ladder_stage %></td>
                  <td><%= number_to_indian_currency(invoice.amount) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pt-2">
            <%= will_paginate @invoices, list_classes: %w(pagination justify-content-center) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
