<div class="alert alert-primary">
  <div class="row">
    <div class="col-md-4">
      <div class="mb-3">
        <label class="small"><%= t('mongoid.attributes.user.name') %></label>
        <div><%= resource.user.try(:name) %></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-3">
        <label class="small">
          <%= I18n.t("mongoid.models.project.one") %>
        </label>
        <div><%= resource.project.try(:name) || '-' %></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-3">
        <label class="small">
          <%= BookingDetail.human_attribute_name('project_tower_name') %>
        </label>
        <div><%= (resource.project_unit.present? ? resource.project_unit.try(:project_tower).try(:name) : resource.project_tower_name) || '-' %></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="mb-3">
        <label class="small"><%= BookingDetail.human_attribute_name('booking_project_unit_name') %></label>
        <div><%= (resource.project_unit.present? ? resource.project_unit.try(:name) : resource.booking_project_unit_name) || '-' %></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-3">
        <label class="small">
          <%= BookingDetail.human_attribute_name('booked_on') %>
        </label>
        <div><%= resource.invoiceable_date.try(:strftime,'%b %e %Y') || '-' %></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-3">
        <label class="small">
          <%= BookingDetail.human_attribute_name('agreement_date') %>
        </label>
        <div><%= resource.agreement_date.try(:strftime,'%b %e %Y') || '-' %></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="mb-3">
        <label class="small">
          <%= ChannelPartner.human_attribute_name('company_name') %>
        </label>
        <div><%= resource.try(:manager).try(:name) || '-' %></div>
      </div>
    </div>
  </div>
</div>
