Dear <%= @user.name %>,<br/>
<br/>
<% if @days == 9 %>
<p>
	Only 9 days to go! 9 days to being part of Embassy Edge at Embassy Springs - the 288 acre iconic township designed for happiness. Click here to pay the pending amount of <%= number_to_indian_currency(project_unit.pending_balance.round(2)) %> for unit <%= @project_unit.name %> and secure your home at Embassy Edge: <a href="<%= dashboard_url(user_email: @user.email, user_token: @user.authentication_token) %>" target="_blank">Click Here</a>
</p>
<% elsif @days == 7 %>
<p>
	A home, an identity - come home to yours. Only 7 days to go before you miss your home at Embassy Edge! Get it before you regret it. Click here to complete paying the pending amount: <a href="<%= dashboard_url(user_email: @user.email, user_token: @user.authentication_token) %>" target="_blank">Click Here</a>
</p>
<% elsif @days == 5 %>
<p>
	You buy electronics online, you buy groceries online - why not a home? Complete your pending amount of <%= number_to_indian_currency(project_unit.pending_balance.round(2)) %> for unit <%= @project_unit.name %> at Embassy Edge on the portal, before you miss your home. You’ve got only 5 days to go! Click to pay: <a href="<%= dashboard_url(user_email: @user.email, user_token: @user.authentication_token) %>" target="_blank">Click Here</a>
</p>
<% elsif @days == 3 %>
<p>
	A lot can happen in 3 days - today, you have a home at the prestigious Embassy Edge at Embassy Springs reserved in your name. 3 days from now, you could’ve missed that opportunity. Click here to pay the pending amount of <%= number_to_indian_currency(project_unit.pending_balance.round(2)) %> today: <a href="<%= dashboard_url(user_email: @user.email, user_token: @user.authentication_token) %>" target="_blank">Click Here</a>
</p>
<% elsif @days == 2 %>
<p>
	2 days to go! 2 days until you’ve missed your home at Embassy Edge - or, you could be the proud resident of Embassy Edge today. Click here to complete the transaction of <%= number_to_indian_currency(project_unit.pending_balance.round(2)) %> online: <a href="<%= dashboard_url(user_email: @user.email, user_token: @user.authentication_token) %>" target="_blank">Click Here</a>
</p>
<% elsif @days == 1 %>
<p>
	Today’s your last chance to call <%= @project_unit.name %> at Embassy Edge your home! Complete the payment today, or the apartment will get auto-released for other users to book it. Click here to complete your payment of <%= number_to_indian_currency(project_unit.pending_balance.round(2)) %>: <a href="<%= dashboard_url(user_email: @user.email, user_token: @user.authentication_token) %>" target="_blank">Click Here</a>
</p>
<% end %>
<br/><br/>
<strong>Details of Unit:</strong><br/>
Name - <%= @project_unit.name %><br/>
Tower - <%= @project_unit.project_tower_name %><br/>
Unit Facing - <%= @project_unit.category %><br/>
Agreement Value - <%= number_to_indian_currency(@project_unit.agreement_price) %><br/>
All inclusive total (excluding registration charges) - <%= number_to_indian_currency(@project_unit.all_inclusive_price) %><br/>
Blocked on - <%= @project_unit.blocked_on %><br/>
<br/>

<% if @project_unit.primary_user_kyc_id.present? %>
  <p>
    Your KYC details may be incomplete. It is a mandatory requirement to complete the KYC form. To complete your registration you can update KYC details <a href="<%= edit_user_kyc_url(@project_unit.primary_user_kyc_id, user_email: @user.email, user_token: @user.authentication_token) %>" target="_blank">here</a>

  </p>
<% end %>
<% if @project_unit.tds_amount_percent_of_agreement_price > 0 %>
<p>
  Additionally, we are hereby enclosing Applicability of TDS on purchase of immovable properties, process and mandates to be followed. <br/>
  Your TDS amount is - <%= number_to_indian_currency(@project_unit.tds_amount) %><br/>
  To view the e-Tutorial to make payment for TDS on sale of property click <a href="<%= asset_url('eTutorial_TDS.pdf') %>">here</a>.<br/><br/>
  For more information on the TDS process, click <a href="<%= asset_url('TDS Process - note - NAM.pdf') %>">here</a>.<br/>
  Please find a copy of NAM Estates Private Limited - PAN Card <a href="<%= asset_url('pan-card.pdf') %>">here</a>
  To know more about TDS, click <a href="https://www.tin-nsdl.com/faqs/tds-on-sale-of-property/TDS-FAQ.html" target="_blank">here</a>.<br/>
</p>
<% end %>
<p>
Thank you for placing your trust in us. You can be assured of our commitment to deliver on every count.
</p>
<p>
Welcome once again and do share with us your views and feedback.
</p>
<br/>
Thanking you.
<br/><br/>
Yours truly,<br/>
NAM Estates Private Limited
<br/><br/><br/>
