<section class="mt-3" id="channel-partner-dashboard">
  <div class="px-4">
    <div class="row">
      <div class="col-lg-9">
        <div class="row mb-3">
          <div class="col-lg-12">
            <h2 class="sec-title">Welcome <%= channel_partner.name %>,</h2>
          </div>
          <!--
          <div class="col-lg-6 text-end">
            <select class="h3 mb-0 font-weight-medium f-20 form-control d-sm-inline-block">
              <option>Quater</option>
              <option>Monthly</option>
              <option>Year</option>
            </select>
            <div class="quater-list d-sm-inline-block ms-2">
              <input type="text"
                class="d-sm-inline-block btn btn-sm pull-right bg-white mr-1 font-medium br-gray-1 br-rd-4 txt-light-blue daterangefilter" value="<%= "#{Date.today.strftime('%d/%m/%y')} - #{Date.today.advance(days:1).strftime('%d/%m/%y')}" %>">
            </div>
            <div class="quater-year d-sm-inline-block ms-2">
              <a href="#"
                class="d-sm-inline-block btn btn-sm pull-right bg-white mr-1 font-medium br-gray-1 br-rd-4 txt-light-blue">2020</a>
            </div>
          </div>
          -->
          <div class="col-lg-12">
            <div class="py-2 bg-white rounded-3">
              <div class="border-bottom px-4 py-2">
                <h3 class="font-medium fn-20 theme-txt-color">Project wise Overview</h3>
                <p class="fn-14 text-light-blue mb-0"><%= Project.count %> Projects Available</p>
              </div>
              <div class="row">
                <!--
                <div class="col-lg-4">
                  <div class="p-4">
                    <select class="h3 mb-0 font-weight-medium f-20 form-control d-sm-inline-block">
                      <option>All Projects (<%#= Project.count %>)</option>
                    </select>
                  </div>
                    <div class="col-lg-11 ps-4">
                      <div class="row mb-3">
                        <div class="col-lg-8">
                          <div class="ht-34 wd-100 rounded bg-primary" style="width: 90%;"></div>
                        </div>
                        <div class="col-lg-4 p-0">
                          <div>
                            <div class="d-inline-block wd-4 ht-34 rounded me-1 bg-primary"></div>
                            <div class="d-inline-block">
                              <span class="stage-nos fn-12 font-medium theme-txt-color d-block">378</span>
                              <span class="stage-title fn-12 text-light-blue">Open</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-lg-8">
                          <div class="ht-34 wd-100 rounded bg-danger" style="width: 70%;"></div>
                        </div>
                        <div class="col-lg-4 p-0">
                          <div>
                            <div class="d-inline-block wd-4 ht-34 rounded me-1 bg-danger"></div>
                            <div class="d-inline-block">
                              <span class="stage-nos fn-12 font-medium theme-txt-color d-block">290</span>
                              <span class="stage-title fn-12 text-light-blue">Walk Ins</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-lg-8">
                          <div class="ht-34 wd-100 rounded bg-warning" style="width: 50%;"></div>
                        </div>
                        <div class="col-lg-4 p-0">
                          <div>
                            <div class="d-inline-block wd-4 ht-34 rounded me-1 bg-warning"></div>
                            <div class="d-inline-block">
                              <span class="stage-nos fn-12 font-medium theme-txt-color d-block">187</span>
                              <span class="stage-title fn-12 text-light-blue">Bookings</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-lg-8">
                          <div class="ht-34 wd-100 rounded bg-info" style="width: 30%;"></div>
                        </div>
                        <div class="col-lg-4 p-0">
                          <div>
                            <div class="d-inline-block wd-4 ht-34 rounded me-1 bg-info"></div>
                            <div class="d-inline-block">
                              <span class="stage-nos fn-12 font-medium theme-txt-color d-block">89</span>
                              <span class="stage-title fn-12 text-light-blue">9.9% Paid</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-lg-8">
                          <div class="ht-34 wd-100 rounded bg-secondary" style="width: 10%;"></div>
                        </div>
                        <div class="col-lg-4 p-0">
                          <div>
                            <div class="d-inline-block wd-4 ht-34 rounded me-1 bg-secondary"></div>
                            <div class="d-inline-block">
                              <span class="stage-nos fn-12 font-medium theme-txt-color d-block">38</span>
                              <span class="stage-title fn-12 text-light-blue">Registrations</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                -->
                <div class="col-lg-12">
                  <canvas id="stage_wise_bar_chart" width="650" height="300"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div class="row">

              <div class="col-lg-8">
                <div class="card mb-4 br-rd-8 card-shadow no-br">
                  <div id="total_brokerage">
                    <canvas id="total_brokerage_Chart" width="650" height="300"></canvas>
                  </div>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="payment-detls fix-ht">
                  <div class="card br-rd-8 card-shadow  no-br">
                    <div class="px-3 row">
                      <div class="col-md-7 pt-3">
                        <h2 class="sec-title mb-0">Payments</h2>
                      </div>
                      <div class="col-md-5 pt-3 text-end">
                        <a href="javascript:;" class="btn-link font-medium">View All</a>
                      </div>
                    </div>
                    <hr>
                    <div class="mt-2 payment-list px-3">
                      <h4>October, 2020</h4>
                      <ul class="list-unstyled">
                        <li>
                          <div class="payment-wrap">
                            <p class="date mb-0">Dec 23rd, 2020</p>
                            <p class="payment-user-name mb-0">Niharika Aswani</p>
                            <p class="devloper-name mb-0">Vedanta Developers</p>
                            <p class="payment-amount mb-0 d-sm-inline-block">₹ 34000</p>
                            <p class="payment-status success-status mb-0 d-sm-inline-block mt-1 float-end">Paid</p>
                          </div>
                        </li>
                        <li>
                          <div class="payment-wrap">
                            <p class="date mb-0">Dec 23rd, 2020</p>
                            <p class="payment-user-name mb-0">Niharika Aswani</p>
                            <p class="devloper-name mb-0">Vedanta Developers</p>
                            <p class="payment-amount mb-0 d-sm-inline-block">₹ 34000</p>
                            <p class="payment-status pending-status mb-0 d-sm-inline-block mt-1 float-end">Pending</p>
                          </div>
                        </li>
                      </ul>
                      <h4>November, 2020</h4>
                      <ul>
                        <li>
                          <div class="payment-wrap">
                            <p class="date mb-0">Dec 23rd, 2020</p>
                            <p class="payment-user-name mb-0">Niharika Aswani</p>
                            <p class="devloper-name mb-0">Vedanta Developers</p>
                            <p class="payment-amount mb-0 d-sm-inline-block">₹ 34000</p>
                            <p class="payment-status cancel-status mb-0 d-sm-inline-block mt-1 float-end">Cancel</p>
                          </div>
                        </li>
                        <li>
                          <div class="payment-wrap">
                            <p class="date mb-0">Dec 23rd, 2020</p>
                            <p class="payment-user-name mb-0">Niharika Aswani</p>
                            <p class="devloper-name mb-0">Vedanta Developers</p>
                            <p class="payment-amount mb-0 d-sm-inline-block">₹ 34000</p>
                            <p class="payment-status pending-status mb-0 d-sm-inline-block mt-1 float-end">Pending</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        -->
        <section class="after-register-sec mt-0">
  <div class="px-0">
    <div class="row">
      <div class="col-lg-12 mt-4 mb-4">
        <div class="app-features">
          <div class="row px-3 py-3">
            <div class="col-lg-12">
              <h2 class="pb-4">Why you would love <%= t('global.brand') %></h2>
            </div>
            <div class="col-lg-4 app-features-list">
              <span>
                  <img src="<%= asset_path 'cp-ex-feat-01.svg' %>" width="45">
                </span>
                <p>Early access to <br>new launches</p>
            </div>
            <div class="col-lg-4 app-features-list">
              <span>
                  <img src="<%= asset_path 'cp-ex-feat-06.svg' %>" width="45">
                </span>
                <p>Timely payments to <br>streamline cash flows</p>
            </div>
            <div class="col-lg-4 app-features-list">
              <span>
                  <img src="<%= asset_path 'cp-ex-feat-05.svg' %>" width="45">
                </span>
                <p>Marketing support<br> & assets</p>
            </div>
            <div class="col-lg-4 app-features-list">
              <span>
                  <img src="<%= asset_path 'cp-ex-feat-11.svg' %>" width="45">
                </span>
                <p>Performance-based<br>channel partner ratings</p>
            </div>
            <div class="col-lg-4 app-features-list">
              <span>
                  <img src="<%= asset_path 'cp-ex-feat-02.svg' %>" width="45">
                </span>
                <p>Extensive nurturing and<br>calling during launches</p>
            </div>
            <div class="col-lg-4 app-features-list">
              <span>
                  <img src="<%= asset_path 'cp-ex-feat-04.svg' %>" width="45">
                </span>
                <p>CRM training<br>& support</p>
            </div>
            <div class="col-lg-4 app-features-list">
              <span>
                  <img src="<%= asset_path 'cp-ex-feat-07.svg' %>" width="45">
                </span>
                <p>Fully automated<br>EOI process</p>
            </div>
            <div class="col-lg-4 app-features-list">
              <span>
                  <img src="<%= asset_path 'cp-ex-feat-08.svg' %>" width="45">
                </span>
                <p>Online inventory selection,<br> KYC & bookings</p>
            </div>
            <div class="col-lg-4 app-features-list">
                <span>
                  <img src="<%= asset_path 'cp-ex-feat-09.svg' %>" width="45">
                </span>
                <p>Complete<br>transparency</p>
            </div>
            <div class="col-lg-4 app-features-list">
              <span>
                  <img src="<%= asset_path 'cp-ex-feat-10.svg' %>" width="45">
                </span>
                <p>Unique online <br>broker profile</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Newly Launched ---------->
    <%= render 'dashboard/index/partials/collaterals' %>
  </div>
</section>
      </div>
      <div class="col-lg-3 mt-2 pt-1">
        <!-- Events ---------->
        <% meetings = Meeting.where(Meeting.user_based_scope(current_user)).scheduled.asc(:scheduled_on) %>
        <% if meetings.present? %>
          <div class="card br-rd-8 card-shadow no-br mt-4">
            <div class="">
              <div class="col-md-12 pt-3 px-3">
                <h2 class="sec-title mb-0">Upcoming Events</h2>
              </div>
              <hr>
              <ul class="upcoming-events-list list-unstyled cmn-list">
                <% if meetings.present? %>
                <% meetings.each do |meeting| %>
                <li class="px-3">
                  <div class="list-wrap row">
                    <div class="col-lg-2 col-2">
                      <i class="fa fa-calendar-alt fill-primary"></i>
                    </div>
                    <div class="col-lg-10 col-10">
                      <%= link_to admin_meeting_path(meeting), class: 'modal-remote-form-link' do %>
                        <p class="list-txt event-title mb-0"><%= meeting.topic %></p>
                        <p class="list-txt event-time mb-0">
                          <%= "#{meeting.scheduled_on&.strftime('%e %b %Y')}#{meeting.scheduled_on&.to_time&.strftime(', %I:%M%p %Z')}".html_safe %>
                      <% end %>
                      </p>
                    </div>
                  </div>
                </li>
                <% end %>
                <% else %>
                <li class="px-3">
                  <div class="list-wrap row">
                    <div class="col-lg-12">
                      <p class="list-txt event-title mb-0">No New event</p>
                    </div>
                  </div>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>


        <!----Announcements------------>
        <div class="card br-rd-8 card-shadow no-br mt-3">
          <div class="">
            <div class="col-md-12 pt-3 px-3">
              <h2 class="sec-title mb-0">Announcements</h2>
            </div>
            <hr>
            <ul class="announcement-list list-unstyled cmn-list">
            <% Announcement.filter_by_published.desc(:created_at).each_with_index do |ann, i| %>
                <li class="px-3">
                  <div class="list-wrap row">
                    <div class="col-lg-2">
                      <i class="fa fa-sm <%= category_icon_class(ann.category) %>"></i>
                    </div>
                    <div class="col-lg-10">
                      <%= link_to admin_announcement_path(ann), class: 'modal-remote-form-link' do %>
                        <p class="list-txt event-title mb-0"><%= t("mongoid.attributes.categories.#{ann.category}") %></p>
                        <p class="list-txt event-info mb-0"><%= ann.title %></p>
                        <p class="list-txt event-time mb-0">On <%= ann.date %></p>
                      <% end %>
                      <% ann.assets.where(document_type: 'photo').limit(5).each_with_index do |asset, ix| %>
                        <div class="prjt-gallery">
                          <div class="prjt-gallery-inner">
                                <ul>
                                    <li class="border-0 <%= ix == 4 && ann.assets.count > 5 ? 'more-img' : '' %>">
                                      <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#galleryModal-<%= ann.id.to_s %>">
                                         <div class="wd-100 ht-34 rounded" style="background-image: url(<%= asset&.file&.url %>);background-size:cover;background-position:center"></div>
                                         <% if ix == 4 && ann.assets.count > 5 %>
                                           <p class="fn-12"> + <%= ann.assets.count - 5 %></p>
                                         <% end %>
                                         </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="modal fade" tabindex="-1" id="galleryModal-<%= ann.id %>" aria-labelledby="galleryModal-<%= ann.id.to_s %>" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div id="gallerySlider" class="carousel slide" data-bs-ride="carousel">
                              <div class="carousel-inner">
                                <% ann.assets.where(document_type: 'photo').each_with_index do |asset, index| %>
                                  <div class="carousel-item <%= (index == 0) ? "active" : "" %>">
                                    <img src="<%= asset&.file&.url %>" class="d-block w-100 img-fluid" alt="">
                                  </div>
                                <% end %>
                              </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#gallerySlider" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#gallerySlider" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
            <% end %>
            </ul>
          </div>
        </div>
       </div>
    </div>
</section>
<%= javascript_tag do %>
  $.ajax({
    url: '/dashboard/project_wise_leads',
    type: 'get'
  });
<% end %>
