<% date = (Date.today - 6.months).strftime("%d/%m/%Y") + " - " + Date.today.strftime("%d/%m/%Y") %>
<% start_date, end_date = date.split(' - ') %>
<% cp_ids = User.where(manager_id: current_user.id).distinct(:id) %>
<% channel_partners = User.where(manager_id: {"$in": cp_ids}) %>
<% channel_partner = channel_partners.first %>
<% walkins = Lead.where(manager_id: channel_partner.id, created_at: (Date.parse(start_date).beginning_of_day)..(Date.parse(end_date).end_of_day)).group_by{|p| p.project_id} %>
<% bookings = BookingDetail.where(manager_id: channel_partner.id, created_at: (Date.parse(start_date).beginning_of_day)..(Date.parse(end_date).end_of_day)).group_by{|p| p.project_id} %>
<section class="user-db-sec-6 device-pd">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd">
        <div class="table-title pt-4">
          <img src="<%= asset_path 'rupee-black.svg' %>" alt="Documents" class="wd-10"><h1 class="title"><%= t('dashboard.channel_partner.incentive_plan_started.heading') %></h1>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd">
        <div class="box-card relative table-responsive">
          <table class="table my-customer-table responsive-tbl mb-0">
            <thead class="th-default">
              <tr class="bg-gradient-cd white">
                <th><%= Project.model_name.human %></th>
                <th>Walk ins</th>
                <th>Bookings</th>
                <th>Agreement Value</th>
              </tr>
            </thead>
            <tbody>
              <% Project.each do |p| %>
                <tr>
                  <td data-title='<%= Project.model_name.human %>'><%= p.name.titleize %></td>
                  <td data-title='Walk ins'><%= walkins[p.id].try(:count) || 0 %></td>
                  <td data-title='Bookings'><%= bookings[p.id].try(:count) || 0 %></td>
                  <td data-title='Agreement Value'><%= bookings[p.id].try(:pluck, :agreement_price).try(:sum) || 0 %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
