<div class="row">
  <div class="col-lg-12 mt-1 mb-3">
    <h2 class="sec-title float-start">Newly Launched</h2>
    <%= link_to("View All", admin_projects_path, class: 'view-all-btn theme-txt-color float-end') %>
  </div>
  <% Project.unscoped.nin(id: current_user.interested_projects.in(status: %w(subscribed approved)).pluck(:project_id)).each do |project| %>
  <div class="col-lg-4">
    <div class="project-wrap br-rd-8 card-shadow mb-4">
      <div class="project-list row">
        <div class="project-img">
          <div class="project-img-thumb" style="background-image:url(<%= project.cover_photo&.url || (asset_path 'default-project.jpg') %>)"></div>
          <p class="img-tag bg-danger"><i class="fa fa-fire fill-white"></i><%= project.category %></p>
        </div>
        <div class="project-info">
          <div class="project-info-inner">
            <h2 class="prjt-title"><%= project.name %></h2>
            <p class="prjt-devlprs"><%= project.developer_name %></p>
            <p class="prjt-location"><i
                class="fa fa-map-marker-alt fill-white"></i><%= "#{project.micro_market}, #{project.city} " %>
            </p>
          </div>
          <div class="project-info-outer px-3">
            <div class="row">
              <div class="col-lg-1 ps-0 pe-0">
                <i class="fa fa-fire fill-danger"></i>
              </div>
              <div class="col-lg-11 pe-2 ps-3">
                <p class="list-txt project-deal mb-2">Hot Deal</p>
                <p class="list-txt project-desc mb-0">error</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="row mt-4 mb-5">
  <div class="col-lg-12 mt-5 mb-3">
    <h2 class="sec-title">Interested Projects</h2>
  </div>
  <% current_user.interested_projects.in(status: %w(subscribed approved)).each do |interested_project| %>
  <% project = interested_project.project %>
  <div class="col-lg-4">
    <div class="project-wrap br-rd-8 card-shadow mb-4">
      <div class="project-list row">
        <div class="project-img">
        <div class="project-img-thumb" style="background-image:url(<%= project.cover_photo&.url || (asset_path 'default-project.jpg') %>)"></div>
          <p class="img-tag bg-danger"><i class="fa fa-fire fill-white"></i><%= project.category %></p>
        </div>
        <div class="project-info">
          <div class="project-info-inner">
            <h2 class="prjt-title"><%= project.name %></h2>
            <p class="prjt-devlprs"><%= project.developer_name || '-' %></p>
            <p class="prjt-location"><i
                class="fa fa-map-marker-alt fill-white"></i><%= "#{project.micro_market.present? ? project.micro_market + ', ': ''}#{project.city}" %>
            </p>
          </div>
          <div class="project-info-outer px-3">
            <div class="row">
              <div class="col-lg-1 ps-0 pe-0">
                <i class="fa fa-fire fill-danger"></i>
              </div>
              <div class="col-lg-11 pe-2 ps-3">
                <p class="list-txt project-deal mb-2">Hot Deal</p>
                <p class="list-txt project-desc mb-0">error</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
