<div class="row">
  <div class="col-lg-12 mt-1 mb-3">
    <h2 class="sec-title float-start">Newly Launched</h2>
    <%= link_to("View All", admin_projects_path, class: 'view-all-btn theme-txt-color float-end') %>
  </div>
  <% Project.unscoped.nin(id: current_user.interested_projects.in(status: %w(subscribed approved)).pluck(:project_id)).each do |project| %>
  <div class="col-lg-4">
    <div class="project-wrap br-rd-8 card-shadow mb-4">
      <div class="project-list row">
        <div class="project-img">
          <div class="project-img-thumb" style="background-image:url(<%= project.cover_photo&.url || (asset_path 'default-project.jpg') %>)"></div>
          <% if project.category.present? && project.category != 'completed' %>
            <p class="img-tag bg-danger"><%= project.category&.titleize %></p>
          <% end %>
        </div>
        <div class="project-info">
          <div class="project-info-inner">
            <h2 class="prjt-title"><%= link_to_if current_user.active_channel_partner?, project.name, admin_project_path(project), class: 'text-white' %></h2>
            <p class="prjt-devlprs"><%= project.developer_name || '-' %></p>
            <p class="prjt-location"><i
                class="fa fa-map-marker-alt fill-white"></i><%= "#{project.micro_market.present? ? project.micro_market&.titleize + ', ': ''}#{project.city&.titleize}".presence || '-' %>
            </p>
          </div>
          <div class="project-info-outer px-3">
            <div class="row">
              <div class="col-lg-11 pe-2 ps-3">
                <div class="list-txt project-desc mb-0"><%= project.description&.html_safe %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<% if current_user.interested_projects.in(status: %w(subscribed approved)).present? %>
<div class="row mt-4 mb-5">
  <div class="col-lg-12 mt-5 mb-3">
    <h2 class="sec-title">Interested Projects</h2>
  </div>
  <% current_user.interested_projects.in(status: %w(subscribed approved)).each do |interested_project| %>
  <% project = interested_project.project %>
  <div class="col-lg-4">
    <div class="project-wrap br-rd-8 card-shadow mb-4">
      <div class="project-list row">
        <div class="project-img">
        <div class="project-img-thumb" style="background-image:url(<%= project.cover_photo&.url || (asset_path 'default-project.jpg') %>)"></div>
          <% if project.category.present? && project.category != 'completed' %>
            <p class="img-tag bg-danger"><%= project.category&.titleize %></p>
          <% end %>
        </div>
        <div class="project-info">
          <div class="project-info-inner">
            <h2 class="prjt-title"><%= project.name %></h2>
            <p class="prjt-devlprs"><%= project.developer_name || '-' %></p>
            <p class="prjt-location"><i
                class="fa fa-map-marker-alt fill-white"></i><%= "#{project.micro_market.present? ? project.micro_market&.titleize + ', ': ''}#{project.city&.titleize}".presence || '-' %>
            </p>
          </div>
          <div class="project-info-outer px-3">
            <div class="row">
              <div class="col-lg-11 pe-2 ps-3">
                <div class="list-txt project-desc mb-0"><%= project.description&.html_safe %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
