<% hot_projects = Project.filter_by_is_active(true).where(hot: true).nin(id: current_user.interested_projects.in(status: %w(subscribed approved)).pluck(:project_id)).limit(3) %>
  <% if hot_projects.present? %>
  <div class="row mb-4">
    <div class="col-lg-12 mt-1 mb-3">
      <h2 class="sec-title float-start"><%= I18n.t("mongoid.attributes.project.hot_selling") %> Projects</h2>
      <%= link_to(I18n.t("global.link_to.view_all"), admin_projects_path, class: 'view-all-btn theme-txt-color float-end') %>
    </div>
    <% hot_projects.each_with_index do |project, index| %>
    <div class="col-lg-4">
      <div class="project-wrap br-rd-8 card-shadow mb-4">
        <div class="project-list row">
          <div class="project-img">
            <div class="project-img-thumb position-relative" style="background-image:url(<%= project.cover_photo&.url || (asset_path 'default-project.jpg') %>)"></div>

            <% interest = current_user.interested_projects.in(status: %w(subscribed approved)).where(project_id: project.id).presence %>
            <%= link_to_unless interest.present?, '<i class="fa fa-heart fill-theme"></i>'.html_safe, admin_user_interested_projects_path(current_user, interested_project: {project_id: project.id, event: 'subscribe'}), method: :post, class: 'like-prjt-btn border' do |name|
                '<span class="like-prjt-btn border"><i class="fa fa-heart fill-danger"></i></span>'.html_safe
              end
            %>

            <% if project.category.present? && project.category.exclude?('completed') %>
              <p class="img-tag bg-danger"><%= I18n.t("mongoid.attributes.project/category.launch") %></p>
            <% end %>
          </div>
          <div class="project-info">
            <div class="project-info-inner">
              <h2 class="prjt-title position-relative"><%= link_to_if current_user.active_channel_partner?, project.name, admin_project_path(project), class: 'text-white' %> <% if project.hot?%>
                    <span class="hot-sellig-tag position-relative top-0 font-normal"><i class="fa fa-fire fill-danger me-1"></i><%= I18n.t("mongoid.attributes.project.hot_selling") %></span>
                    <% end %></h2>
              <p class="prjt-devlprs"><%= project.developer_name || '-' %></p>
              <p class="prjt-location"><i
                  class="fa fa-map-marker-alt fill-white"></i><%= "#{project.micro_market.present? ? project.micro_market&.titleize + ', ': ''}#{project.city&.titleize}".presence || '-' %>
              </p>
            </div>
            <div class="project-info-outer px-3">
              <div class="row">
                <div class="col-lg-12 pe-2 ps-3">
                  <div class="list-txt project-desc mb-0"><%= project.description&.html_safe %></div>
                  <!--
                    <div id="projectDescCarousel_<%= index %>" class="projectDescCarousel carousel slide position-relative" data-bs-ride="carousel">
                      <div class="carousel-inner">
                          <div class="carousel-item active">
                              <h2 class="fn-14 font-medium theme-txt-color">Deal for you </h2>
                              <div class="list-txt project-desc mb-0" title="<%= project.description&.html_safe rescue '' %>">
                              <%= project.description&.html_safe %>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <h2 class="fn-14 font-medium theme-txt-color">Deal for Customers</h2>
                              <div class="list-txt project-desc mb-0" title="<%= project.description&.html_safe %>">
                              <%= project.description&.html_safe %>
                              </div>
                          </div>
                      </div>
                      <button class="carousel-control-prev position-absolute top-0" type="button" data-bs-target="#projectDescCarousel_<%= index %>" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden"><%= I18n.t("global.previous") %></span>
                      </button>
                      <button class="carousel-control-next position-absolute top-0 end-0" type="button" data-bs-target="#projectDescCarousel_<%= index %>" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden"><%= I18n.t("global.next") %></span>
                      </button>
                    </div>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

<% if current_user.interested_projects.in(status: %w(subscribed approved)).present? %>
<div class="row mb-5 mb-xs-0">
  <div class="col-lg-12 mb-3 mt-xs-0">
    <h2 class="sec-title"><%= I18n.t("mongoid.models.interested_project.other") %></h2>
  </div>
  <% current_user.interested_projects.in(status: %w(subscribed approved)).limit(3).each_with_index do |interested_project, index| %>
    <% project = interested_project.project %>
    <% if project.is_active? %>
      <div class="col-lg-4">
        <div class="project-wrap br-rd-8 card-shadow mb-4">
          <div class="project-list row">
            <div class="project-img">
              <div class="project-img-thumb" style="background-image:url(<%= project.cover_photo&.url || (asset_path 'default-project.jpg') %>)"></div>

              <% interest = current_user.interested_projects.in(status: %w(subscribed approved)).where(project_id: project.id).presence %>
              <%= link_to_unless interest.present?, '<i class="fa fa-heart fill-theme"></i>'.html_safe, admin_user_interested_projects_path(current_user, interested_project: {project_id: project.id, event: 'subscribe'}), method: :post, class: 'like-prjt-btn border' do |name|
                  '<span class="like-prjt-btn border"><i class="fa fa-heart fill-danger"></i></span>'.html_safe
                end
              %>

              <% if project.category.present? && project.category.exclude?('completed') %>
                <p class="img-tag bg-danger"><%= I18n.t("mongoid.attributes.project/category.launch") %></p>
              <% end %>
            </div>
            <div class="project-info">
              <div class="project-info-inner">
                <h2 class="prjt-title"><%= project.name %><% if project.hot?%>
                      <span class="hot-sellig-tag position-relative top-0 font-normal"><i class="fa fa-fire fill-danger me-1"></i><%= I18n.t("mongoid.attributes.project.hot_selling") %></span>
                      <% end %></h2>
                <p class="prjt-devlprs"><%= project.developer_name || '-' %></p>
                <p class="prjt-location"><i
                    class="fa fa-map-marker-alt fill-white"></i><%= "#{project.micro_market.present? ? project.micro_market&.titleize + ', ': ''}#{project.city&.titleize}".presence || '-' %>
                </p>
              </div>
              <div class="project-info-outer px-3">
                <div class="row">
                  <div class="col-lg-12 pe-2 ps-3">
                    <div class="list-txt project-desc mb-0"><%= project.description&.html_safe %></div>
                    <!--
                    <div id="projectDescCarouselIntrest_<%= index %>" class="projectDescCarousel carousel slide position-relative" data-bs-ride="carousel">
                      <div class="carousel-inner">
                          <div class="carousel-item active">
                              <h2 class="fn-14 font-medium theme-txt-color">Deal for you </h2>
                              <div class="list-txt project-desc mb-0" title="<%= project.description&.html_safe rescue '' %>">
                              <%= project.description&.html_safe %>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <h2 class="fn-14 font-medium theme-txt-color">Deal for Customers</h2>
                              <div class="list-txt project-desc mb-0" title="<%= project.description&.html_safe rescue '' %>">
                              <%= project.description&.html_safe %>
                              </div>
                          </div>
                      </div>
                      <button class="carousel-control-prev position-absolute top-0" type="button" data-bs-target="#projectDescCarouselIntrest_<%= index %>" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden"><%= I18n.t("global.previous") %></span>
                      </button>
                      <button class="carousel-control-next position-absolute top-0 end-0" type="button" data-bs-target="#projectDescCarouselIntrest_<%= index %>" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden"><%= I18n.t("global.next") %></span>
                      </button>
                    </div>
                    -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>
