<section class="user-db-sec-5 device-pd">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pd">
        <div class="row">
          <div class="box-card col-lg-12 col-md-12 col-sm-12 col-xs-12 collaterals">
            <div class="box-header bg-primary rounded-top">
              <h2><i class="fa fa-folder fn-sm fill-white me-2"></i>Collaterals</h2>
              <%= link_to("View All", collaterals_admin_projects_path, class: 'view-all-btn modal-remote-form-link') %>
            </div>
            <div class="box-content br-rd-bl-4 bg-white">
              <% Project.unscoped.nin(id: current_user.interested_projects.in(status: %w(subscribed approved)).pluck(:project_id)).each do |project| %>
                <div class="card project-card">
                  <% if project.logo.present? %>
                    <img src="<%= project.logo_url %>" class="card-img-top" alt="<%= project.name %> Logo">
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%= project.name %></h5>
                    <p class="card-text">
                      <%= project.developer_name %><br/>
                      <%= project.description %><br/>
                      <%= project.configurations.to_sentence %><br/>
                    </p>
                    <% brochure = project.assets.where(document_type: 'brochure').first %>
                    <% if brochure.present? %>
                      <%= link_to 'Brochure', brochure.file.url, class: 'btn btn-secondary btn-sm', target: '_blank' %>
                    <% end %>
                    <% if project.website_link.present? %>
                      <%= link_to 'Website', project.website_link, class: 'btn btn-secondary btn-sm', target: '_blank' %>
                    <% end %>
                    <%= link_to 'Subscribe', admin_user_interested_projects_path(current_user, interested_project: {project_id: project.id, event: 'subscribe'}), method: :post, class: 'btn btn-secondary btn-sm my-2' %>
                  </div>
                </div>
              <% end %>

              <% current_user.interested_projects.in(status: %w(subscribed approved)).each do |interested_project| %>
                <% project = interested_project.project %>
                <div class="card project-card">
                  <% if project.logo.present? %>
                    <img src="<%= project.logo_url %>" class="card-img-top" alt="<%= project.name %> Logo">
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%= project.name %></h5>
                    <p class="card-text">
                      <%= project.developer_name %><br/>
                      <%= project.description %><br/>
                      <%= project.configurations.to_sentence %><br/>
                    </p>
                    <% if policy([:admin, Lead.new(project_id: project.id)]).new? %>
                      <%= link_to t('helpers.new.link_name', model: Lead.model_name.human), new_admin_lead_path(project_id: project.id), class: 'btn btn-primary btn-sm modal-remote-form-link' %>
                    <% end %>
                    <% brochure = project.assets.where(document_type: 'brochure').first %>
                    <% if brochure.present? %>
                      <%= link_to 'Brochure', brochure.file.url, class: 'btn btn-secondary btn-sm', target: '_blank' %>
                    <% end %>
                    <% if project.website_link.present? %>
                      <%= link_to 'Website', project.website_link, class: 'btn btn-secondary btn-sm', target: '_blank' %>
                    <% end %>
                    <% sales_presentation = project.assets.where(document_type: 'sales_presentation').first %>
                    <% if sales_presentation.present? %>
                      <%= link_to 'Sales presentation', sales_presentation.file.url, class: 'btn btn-secondary btn-sm', target: '_blank' %>
                    <% end %>
                    <% if policy([:admin, project]).collaterals? %>
                      <%= link_to 'Other Collateral', collaterals_admin_project_path(project), class: 'btn btn-secondary btn-sm modal-remote-form-link' %>
                    <% end %>
                    <% if interested_project.subscribed? %>
                      <%= link_to 'Pending Approval', '#', class: 'btn btn-secondary btn-sm disabled my-2' %>
                    <% elsif interested_project.approved? %>
                      <%= link_to 'Subscribed', '#', class: 'btn btn-secondary btn-sm disabled my-2' %>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <br clear='all' />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
