<div class="row">
  <div class="col-lg-12 mt-1 mb-3">
    <h2 class="sec-title float-start">Newly Launched</h2>
    <%= link_to("View All", admin_projects_path, class: 'view-all-btn theme-txt-color float-end') %>
  </div>
  <% Project.unscoped.nin(id: current_user.interested_projects.in(status: %w(subscribed approved)).pluck(:project_id)).each_with_index do |project, index| %>
  <div class="col-lg-4">
    <div class="project-wrap br-rd-8 card-shadow mb-4">
      <div class="project-list row">
        <div class="project-img">
          <div class="project-img-thumb" style="background-image:url(<%= project.cover_photo&.url || (asset_path 'default-project.jpg') %>)"></div>

          <% interest = current_user.interested_projects.in(status: %w(subscribed approved)).where(project_id: project.id).presence %>
          <%= link_to_unless interest.present?, '<i class="fa fa-heart fill-theme"></i>'.html_safe, admin_user_interested_projects_path(current_user, interested_project: {project_id: project.id, event: 'subscribe'}), method: :post, class: 'like-prjt-btn border' do |name|
              '<span class="like-prjt-btn border"><i class="fa fa-heart fill-danger"></i></span>'.html_safe
            end
          %>

          <% if project.category.present? && project.category != 'completed' %>
            <p class="img-tag bg-danger"><%= project.category&.titleize %></p>
          <% end %>
        </div>
        <div class="project-info">
          <div class="project-info-inner">
            <h2 class="prjt-title"><%= link_to_if current_user.active_channel_partner?, project.name, admin_project_path(project), class: 'text-white' %></h2>
            <p class="prjt-devlprs"><%= project.developer_name || '-' %></p>
            <p class="prjt-location"><i
                class="fa fa-map-marker-alt fill-white"></i><%= "#{project.micro_market.present? ? project.micro_market&.titleize + ', ': ''}#{project.city&.titleize}".presence || '-' %>
            </p>
          </div>
          <div class="project-info-outer px-3">
            <div class="row">
              <div class="col-lg-12 pe-2 ps-3">
                <div class="list-txt project-desc mb-0"><%= project.description&.html_safe %></div>
                <!--
                  <div id="projectDescCarousel_<%= index %>" class="projectDescCarousel carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h2 class="fn-14 font-medium theme-txt-color">Deal for you </h2>
                            <div class="list-txt project-desc mb-0" title="<%= project.description&.html_safe rescue '' %>">
                            <%= project.description&.html_safe %>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <h2 class="fn-14 font-medium theme-txt-color">Deal for Customers</h2>
                            <div class="list-txt project-desc mb-0" title="<%= project.description&.html_safe %>">
                            <%= project.description&.html_safe %>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev position-absolute top-0" type="button" data-bs-target="#projectDescCarousel_<%= index %>" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next position-absolute top-0 end-0" type="button" data-bs-target="#projectDescCarousel_<%= index %>" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<% if current_user.interested_projects.in(status: %w(subscribed approved)).present? %>
<div class="row mt-4 mb-5">
  <div class="col-lg-12 mt-5 mb-3">
    <h2 class="sec-title">Interested Projects</h2>
  </div>
  <% current_user.interested_projects.in(status: %w(subscribed approved)).each_with_index do |interested_project, index| %>
  <% project = interested_project.project %>
  <div class="col-lg-4">
    <div class="project-wrap br-rd-8 card-shadow mb-4">
      <div class="project-list row">
        <div class="project-img">
          <div class="project-img-thumb" style="background-image:url(<%= project.cover_photo&.url || (asset_path 'default-project.jpg') %>)"></div>

          <% interest = current_user.interested_projects.in(status: %w(subscribed approved)).where(project_id: project.id).presence %>
          <%= link_to_unless interest.present?, '<i class="fa fa-heart fill-theme"></i>'.html_safe, admin_user_interested_projects_path(current_user, interested_project: {project_id: project.id, event: 'subscribe'}), method: :post, class: 'like-prjt-btn border' do |name|
              '<span class="like-prjt-btn border"><i class="fa fa-heart fill-danger"></i></span>'.html_safe
            end
          %>

          <% if project.category.present? && project.category != 'completed' %>
            <p class="img-tag bg-danger"><%= project.category&.titleize %></p>
          <% end %>
        </div>
        <div class="project-info">
          <div class="project-info-inner">
            <h2 class="prjt-title"><%= project.name %></h2>
            <p class="prjt-devlprs"><%= project.developer_name || '-' %></p>
            <p class="prjt-location"><i
                class="fa fa-map-marker-alt fill-white"></i><%= "#{project.micro_market.present? ? project.micro_market&.titleize + ', ': ''}#{project.city&.titleize}".presence || '-' %>
            </p>
          </div>
          <div class="project-info-outer px-3">
            <div class="row">
              <div class="col-lg-12 pe-2 ps-3">
                <div class="list-txt project-desc mb-0"><%= project.description&.html_safe %></div>
                <!--
                <div id="projectDescCarouselIntrest_<%= index %>" class="projectDescCarousel carousel slide position-relative" data-bs-ride="carousel">
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <h2 class="fn-14 font-medium theme-txt-color">Deal for you </h2>
                          <div class="list-txt project-desc mb-0" title="<%= project.description&.html_safe rescue '' %>">
                          <%= project.description&.html_safe %>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <h2 class="fn-14 font-medium theme-txt-color">Deal for Customers</h2>
                          <div class="list-txt project-desc mb-0" title="<%= project.description&.html_safe rescue '' %>">
                          <%= project.description&.html_safe %>
                          </div>
                      </div>
                  </div>
                  <button class="carousel-control-prev position-absolute top-0" type="button" data-bs-target="#projectDescCarouselIntrest_<%= index %>" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next position-absolute top-0 end-0" type="button" data-bs-target="#projectDescCarouselIntrest_<%= index %>" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
                </div>
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
