<% cps = User.where(manager_id: current_user.id) %>
<% matcher = {matcher: {created_at: {"$gte": Date.parse(start_date).beginning_of_day, "$lte": Date.parse(end_date).end_of_day }}} %>
<% walkins = DashboardDataProvider.cp_performance_walkins(current_user, matcher)%>
<% bookings = DashboardDataProvider.cp_performance_bookings(current_user, matcher) %>
<section class="user-db-sec-6 device-pd">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd">
        <div class="table-title pt-4">
          <img src="<%= asset_path 'rupee-black.svg' %>" alt="Documents" class="wd-10"><h1 class="title"><%#= t('dashboard.channel_partner.incentive_plan_started.heading') %>Sourcing Manager Performance</h1>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd">
        <div class="box-card relative table-responsive">
          <table class="table my-customer-table responsive-tbl mb-0">
            <thead class="th-default">
              <tr class="bg-gradient-cd white">
                <th>Sourcing manager Name</th>
                <th>No. of Walk ins</th>
                <th>No. of Bookings</th>
                <th>No. of Agreement Value</th>
              </tr>
            </thead>
            <tbody>
              <% cps.each do |cp| %>
                <tr>
                  <td data-title='Sourcing manager Name'><%= cp.name %></td>
                  <td data-title='Walk ins'><%= walkins[cp.id] || 0 %></td>
                  <td data-title='Bookings'><%= bookings.dig(cp.id, :count) || 0 %></td>
                  <td data-title='Agreement Value'><%= bookings.dig(cp.id, :sales_revenue) || 0 %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
