<ul class="p-0">
  <% leads.each do |user| %>
    <li class="card">
      <div class="user-list-inner" id="<%= user.id.to_s %>" draggable=true>
        <div class="card-header bg-white">
        <div class="d-flex justify-content-between">
          <p class="float-start mb-0" title="<%= user.name.try(:titleize) %>">
            <%= link_to user.name.try(:titleize), admin_lead_path(user), class: 'theme-txt-color' %></br>
            <small class='customer-status text-uppercase'><%#= user.portal_stage.try(:stage).try(:titleize) %></small>
          </p>
          <div class="dropdown text-left">
            <a class="btn table-dropdown-btn p-0" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v txt-light-blue" aria-hidden="true"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <%= link_to I18n.t("global.link_to.drop"), move_to_next_state_admin_lead_path(user.id, status: 'dropoff', format: :json), method: 'patch', remote: true, data: { confirm: I18n.t("controller.assets.confirm.sure"), disable_with: I18n.t("gobal.text.dropping")  }, class: 'dropdown-item dropoff move-to-next-state' %>
            </div>
          </div>
        </div>
        </div>
        <div class="card-body row">
          <div class="user-queue-no col-6">
            <p class="fn-14 txt-light-blue mb-0"><%= (user.is_revisit? ? t("mongoid.attributes.user.revisit_queue_number") : t("mongoid.attributes.user.queue_number")) %></p>
            <span class="theme-txt-color fn-16 mb-2 d-block"><%= user.queue_number %></span>
          </div>
          <div class="user-site-visit col-6">
            <p class="fn-14 txt-light-blue mb-0"><%= I18n.t("controller.site_visits.text.wait_time") %></p>
            <% status_log = user.state_transitions.where(status: user.customer_status, sitevisit_id: user.current_site_visit_id).first %>
            <span class="theme-txt-color fn-16 mb-2 d-block"><%= distance_of_time_in_words_to_now(status_log.try(:enter_time) || Time.now, scope: 'datetime.distance_in_words.short') %></span>
          </div>
          <% sitevisit = user.site_visits.where(_id: user.current_site_visit_id).desc(:created_at).last %>
          <% if sitevisit.present? %>
            <div class="user-site-visit col-6">
              <p class="fn-14 txt-light-blue mb-0"><%= I18n.t("controller.site_visits.text.last_visit_date") %></p>
              <span class="theme-txt-color fn-16 mb-0 d-block"><%= sitevisit.scheduled_on.in_time_zone("Mumbai").strftime("%d/%m/%Y - %l:%M %P") %></span>
            </div>
            <div class="user-site-visit col-6">
              <p class="fn-14 txt-light-blue mb-0"><%= I18n.t("controller.site_visits.text.last_visit_status") %></p>
              <span class="theme-txt-color fn-16 mb-0 d-block"><%= sitevisit.status.titleize %></span>
            </div>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
