<% date = (Date.today - 6.months).strftime("%d/%m/%Y") + " - " + Date.today.strftime("%d/%m/%Y") %>
<% start_date, end_date = date.split(' - ') %>
<section class="user-db-sec-6 device-pd">
  <div class="box-card">
    <a data-bs-toggle="collapse" href="#project_wise_leads_stage_data" role="button" aria-expanded="false" aria-controls="project_wise_leads_stage_data" class='font-weight-bold text-decoration-none'>
      <div class="card-header text-center text-white bg-theme">
        <%= I18n.t("controller.dashboard.link_to.project_wise.stage_wise_lead_count") %>
      </div>
    </a>
    <div class="card-body collapse show p-0" id='project_wise_leads_stage_data'>
      <div class="table-btn-set float-end">
        <button class="db-filter-btn fn-500 filter-popup border-0" type="button">
          <i class="fa fa-filter fill-theme"></i>
        </button>
      </div>

      <div class="filter-box modal-content px-3 fixed-header-footer">
        <div class="filter-header modal-header">
          <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
          <a href="javascript:;" class="close-filter-btn btn-close"></a>
        </div>
        <%= form_tag project_wise_leads_stage_report_path, method: "get", remote: true, id: "project_wise_leads_stage_report_filter", class: 'filter-form-modal' do %>
          <div class="filter-content modal-body ps-0 pe-0 theme-form">
            <div class="row">
              <div class="mb-3 col-12">
                <%= label_tag "dates", I18n.t("global.dates"), class: "control-label float-left" %>
                <%= text_field_tag :dates, "", class: 'form-control daterangefilter', "data-start-date": start_date || '', "data-end-date": end_date || '', "data-opens": 'right', placeholder: 'dd/mm/yyyy - dd/mm/yyyy', id: "dates", auto: false, autocomplete: 'disabled' %>
              </div>
              <div class="mb-3 col-12">
                <%= label_tag :project_ids, I18n.t("mongoid.models.project.other"), class: "control-label float-left" %>
                <%= select_tag :project_ids, options_for_select(Project.where(Project.user_based_scope(current_user)).collect{|x| [x.name, x.id]}.sort{|x, y| x[0] <=> y[0]}), {prompt: I18n.t("global.select"), class: "selectize", multiple: true} %>
              </div>
            </div>
          </div>
          <div class="filter-footer modal-footer text-end">
            <%= submit_tag I18n.t("global.apply"), class: "f-save-btn btn btn-primary fn-500 float-end" %>
            <button type="button" class="f-cancel-btn btn btn-secondary fn-500 float-end"><%= I18n.t("global.cancel") %></button>
          </div>
        <% end %>
      </div>
      <div class="row" id = "project_wise_leads_stage_report"></div>
    </div>
  </div>
</section>

<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#project_wise_leads_stage_report_filter"));
    $.ajax({
      url: "<%= project_wise_leads_stage_report_path %>",
      type: "get",
    });
  });
<% end %>
