<% receipts = DashboardDataProvider.receipt_details_data(current_user, params[:receipt_fltrs]) %>
<div class="card box-card mb-3 border-0">
  <a data-bs-toggle="collapse" href="#dashboard_receipts" role="button" aria-expanded="false" aria-controls="dashboard_receipts" class='font-weight-bold text-decoration-none'>
    <div class="card-header box-header border-0">
      <h2 class="text-dark">
        <%= image_tag "rupee-black.svg", alt: 'Receipts' %>
        <%= Receipt.model_name.human(count: 3) %>
      </h2>
      <%= link_to I18n.t("global.link_to.view_all"), admin_receipts_path, class: 'view-all-btn' %>
    </div>
  </a>
  <div class="card-body collapse box-content br-rd-bl-4 bg-white p-0" id="dashboard_receipts">
    <div class="mt-2">
      <%= form_tag dashboard_path, method: "get", id: "dashboard-receipts-fltrs" do %>
      <div class="row">
        <div class="col-md-11">
          <div class="mb-3">
            <%= select_tag "receipt_fltrs[group_by]", options_for_select(DashboardDataProvider.receipts_available_group_by.collect{|x| [x[:text], x[:id]]}, (params[:receipt_fltrs].present? && params[:receipt_fltrs][:group_by].present? ? params[:receipt_fltrs][:group_by] : [])), {class: "selectize", prompt: I18n.t("global.select"), multiple: true} %>
          </div>
        </div>
        <div class="col-md-1">
          <div class="mb-3">
            <%= submit_tag I18n.t("global.apply"), class: "btn btn-primary float-md-right" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% if receipts.present? %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="bg-primary white">
              <% if (params[:receipt_fltrs] && params[:receipt_fltrs][:group_by] && params[:receipt_fltrs][:group_by].include?("status")) || params[:receipt_fltrs].nil? %>
              <th><%= I18n.t("mongoid.attributes.receipt/headers.status") %></th>
              <% end %>
              <% if (params[:receipt_fltrs] && params[:receipt_fltrs][:group_by] && params[:receipt_fltrs][:group_by].include?("payment_mode")) || params[:receipt_fltrs].nil? %>
              <th><%= I18n.t("mongoid.attributes.receipt/headers.payment_mode") %></th>
              <% end %>
              <th class="text-right"><%= I18n.t("mongoid.attributes.receipt/headers.count") %></th>
              <th class="text-right"><%= I18n.t("mongoid.attributes.receipt/headers.total_amount") %></th>
            </tr>
          </thead>
          <tbody>
            <% receipts.each do |d| %>
            <tr>
              <% if (params.dig(:receipt_fltrs, :group_by) && params.dig(:receipt_fltrs, :group_by).include?("status")) || params[:receipt_fltrs].nil? %>
                <td><%= t("mongoid.attributes.receipt/status.#{d[:status]}") %></td>
              <% end %>
              <% if (params[:receipt_fltrs] && params[:receipt_fltrs][:group_by] && params[:receipt_fltrs][:group_by].include?("payment_mode")) || params[:receipt_fltrs].nil? %>
              <td><%= t("mongoid.attributes.receipt/payment_mode.#{d[:payment_mode]}") %></td>
              <% end %>
              <td class="text-right">
                <%= link_to d[:count], [current_user_role_group, Receipt, { fltrs: { status: d[:status], payment_mode: d[:payment_mode] } }], target: "_blank", title: "View #{d[:count]} #{ t("mongoid.attributes.receipt/status.#{d[:status]}") } #{t("receipts.payment_mode.#{d[:payment_mode]}")} receipts." %>
              </td>
              <td class="text-right"><%= number_to_indian_currency(d[:total_amount]) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      No <%= global_labels[:receipts] %> yet.
    <% end %>
  </div>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#dashboard-receipts-fltrs"));
  });
<% end %>
