<div class="row">
  <div class="col-md-5">
    <div class="form-group">
      <%= f.label :name, class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <%= f.label :minimum_investment_amount, class: 'control-label' %>
      <%= f.number_field :minimum_investment_amount, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <%= f.label :recommended, class: 'control-label' %>
      <%= f.check_box :recommended, class: 'mt-2 mr-2' %> Yes
    </div>
  </div>
</div>