<section class="user-db-sec-4 device-pd">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row no-mg">
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-4">
          <div class="card col-lg-12">
            <div class="leads-box">
              <div class="leads-box-inner text-center py-5">
                <img src="<%= asset_path 'leader-1.png' %>" alt="leads icon">
                <span class="numbers"><%= @total_buyers %></span>
                <p class="title"><%= t('dashboard.channel_partner.titles.total_leads') %><br><%= t('dashboard.channel_partner.titles.received') %></p>
                <!-- <p class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting</p> -->
              </div>
            </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 mt-4 br-rd-4">
          <div class="card">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 relative" style='height:350px;'>
                <h2 class="chart-title pt-4 pb-5 mt-2 ml-2"><%= t('dashboard.channel_partner.titles.booking_details') %></h2>
                <%# <canvas id="barChart" class="pl-3 pr-3"></canvas> %>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="user-db-sec-4 device-pd">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row g-3">
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-5">
          <div class="card col-lg-12">
            <div class="card-header bg-primary rounded-top py-2">
            <h2 class="fn-18 white"><i class="fa fa-home fill-white fn-14 me-2"></i><%= BookingDetail.model_name.human(count: 2) %></h2>
            </div>
            <div class="card-body br-rd-bl-4 bg-white fix-ht-420">
              <div class="row pd-box">
                <ul class="db-user-no-list pt-5 mt-2">
                  <li><span class="number"><%= @booking_count %></span><p class="title"><%= I18n.t("controller.booking_details.link_to.total_bookings") %></p></li>
                  <li><span class="number"><%= @confirmed_booking_count %></span><p class="title"><%= I18n.t("controller.booking_details.link_to.confirmed_bookings") %></p></li>
                  <li><span class="number"><%= @registration_done_booking_count %></span><p class="title"><%= I18n.t("controller.booking_details.link_to.registration_done") %><br><%= I18n.t("global.link_to.bookings") %></p></li>
                  <li><span class="number"><%= @cancelled_booking_count %></span><p class="title"><%= I18n.t("controller.booking_details.link_to.cancellations") %></p></li>
                </ul>
              </div>
            </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-5">
          <div class="card col-lg-12">
            <div class="card-header bg-primary rounded-top py-2">
              <h2 class="fn-18 white"><i class="fa fa-rupee-sign fill-white fn-14 me-2"></i><%=  I18n.t("controller.booking_details.link_to.my_incentives") %></h2>
            </div>
            <div class="card-body br-rd-bl-4 bg-white fix-ht-420">
              <div class="row pd-box">
                <ul class="db-user-no-list pt-3 mt-3">
                  <li><span class="number"><%= @bookings_eligible_for_brokerage %></span><p class="title"><%=  I18n.t("controller.booking_details.link_to.bookings_eligible") %><br>for brokerage</p></li>
                  <li><span class="number"><%= @incentive_approved %></span><p class="title">Invoice<br><%= I18n.t("controller.booking_details.link_to.approved") %></p></li>
                  <li><span class="number"><%= @incentive_raised %></span><p class="title"><%= I18n.t("controller.booking_details.link_to.invoice_raised") %></p></li>
                  <li><span class="number"><%= @bookins_not_eligible_for_brokerage %></span><p class="title"><%=  I18n.t("controller.booking_details.link_to.bookings_not_eligible") %></p></li>
                </ul>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="user-db-sec-5 device-pd">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-5">
          <div class="card shadow">
            <div class="card-header bg-primary text-center">
              <h2 class="fn-18 white">Total <%= BookingDetail.model_name.human(count: 2) %></h2>
            </div>
            <div class="card-body border-0 bg-white py-3 text-center fix-ht">
              <span class='cp-dashboard-box-font'>
                <%= @booking_count %>
              </span>
            </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-5">
          <div class="card shadow">
            <div class="card-header bg-primary text-center">
              <h2 class="fn-18 white">Total <%= UserRequest::Cancellation.model_name.human(count: 2)  %></h2>
            </div>
            <div class="card-body bg-white border-0 py-3 text-center fix-ht">
              <span class='cp-dashboard-box-font'>
                <%= @cancelled_booking_count %>
              </span>
            </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-5">
          <div class="card shadow">
            <div class="card-header bg-primary  text-center">
              <h2 class="fn-18 white">Conversion Rate</h2>
            </div>
            <div class="card-body bg-white border-0 py-3 text-center fix-ht">
              <span class='cp-dashboard-box-font'>
                <%= number_to_percentage(@conversion_rate, precision: 0) %>
              </span>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= javascript_tag do %>
  var canvas = document.getElementById("barChart");
  var ctx = canvas.getContext('2d');
  // Global Options:
  Chart.defaults.global.defaultFontColor = 'dodgerblue';
  Chart.defaults.global.defaultFontSize = 10;

  // Data with datasets options
  var data = {
      labels: <%= @data_labels.to_json.html_safe %>,
        datasets: [
          {
              fill: true,
              backgroundColor: ['#5f79ea','#e4e5e7','#fcb1c1','#fee6ad','#8ddf8b'],
              data: <%= @data.values.to_json.html_safe %>
          }
      ]
  };
  var options = {
    tooltips: {
          callbacks: {
              label: function(tooltipItem) {
                  return Number(tooltipItem.yLabel);
              }
          }
      },
      legend:{
        display: false,
      },
      title: {
        display: false,
      },
      scales: {
          yAxes: [{
              ticks: {
                fontColor: "#1f3bb3",
                beginAtZero:true,
                stacked: false
              }
          }],
          xAxes: [{
            stacked: true,
            barPercentage: 1,
            barThickness: 65,
            maxBarThickness: 80,
            minBarLength: 20,
            gridLines: {
              offsetGridLines: true,
              color: "#ffffff"
            },
            ticks: {
              fontColor: "#1f3bb3"
            }
          }]
      },
      hover: {
          animationDuration: 1
      },
      animation: {
          duration: 1000,
          onComplete: function () {
              var chartInstance = this.chart,
              ctx = chartInstance.ctx;
              ctx.textAlign = 'center';
              ctx.fillStyle = "#1f3bb3";
              ctx.textBaseline = 'bottom';

              this.data.datasets.forEach(function (dataset, i) {
                  var meta = chartInstance.controller.getDatasetMeta(i);
                  meta.data.forEach(function (bar, index) {
                      var data = dataset.data[index];
                      ctx.fillText(data, bar._model.x, bar._model.y - 5);

                  });
              });
          }
      },
      responsive: true,
      maintainAspectRatio: false
  };
  // Chart declaration:
  var myBarChart = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: options
  });
<% end %>
