<% date = (Date.today - 6.months).strftime("%d/%m/%Y") + " - " + Date.today.strftime("%d/%m/%Y") %>
<% start_date, end_date = date.split(' - ') %>
<% cp_id = ChannelPartner.active.where(ChannelPartner.user_based_scope(current_user)).first&.id %>

<section class="user-db-sec-6 device-pd">
  <div class="box-card">
    <a data-bs-toggle="collapse" href="#channel_partner_performance_user_wise_report" role="button" aria-expanded="false" aria-controls="channel_partner_performance_user_wise_report" class='font-weight-bold text-decoration-none'>
      <div class="card-header text-center text-white bg-theme">
        <%= I18n.t('dashboard.cp_admin.partner_wise_performace.heading') %>
      </div>
    </a>
    <div class="card-body collapse p-0" id='channel_partner_performance_user_wise_report'>
      <div class="table-btn-set float-end">
        <button class="db-filter-btn fn-500 filter-popup border-0" type="button">
          <i class="fa fa-filter fill-theme"></i>
        </button>
      </div>

      <div class="filter-box modal-content px-3 fixed-header-footer">
        <div class="filter-header modal-header">
          <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
          <a href="javascript:;" class="close-filter-btn btn-close"></a>
        </div>
        <%= form_tag channel_partner_performance_user_wise_path, method: "get", remote: true, id: "channel_partner_performance_user_wise_form", class: 'filter-form-modal' do %>
          <div class="filter-content modal-body ps-0 pe-0 theme-form">
            <div class="row">
              <div class="mb-3 col-12">
                <%= label_tag "dates", I18n.t("global.dates"), class: "control-label float-left" %>
                <%= text_field_tag :dates, "", class: 'form-control daterangefilter', "data-start-date": start_date || '', "data-end-date": end_date || '', "data-opens": 'right', placeholder: 'dd/mm/yyyy - dd/mm/yyyy', id: "dates", auto: false, autocomplete: 'disabled' %>
              </div>
              <div class = "mb-3 col-12">
                <%= label_tag "project_id", I18n.t("mongoid.models.project.one"), class: "control-label float-left" %>
                <%= select_tag "project_id", options_for_select(Project.where(Project.user_based_scope(current_user)).map{|pr| [pr.name, pr.id]}), prompt: I18n.t("global.select"), class: "selectize" %>
              </div>
              <div class = "mb-3 col-12">
                <%= label_tag "channel_partner_id", ChannelPartner.model_name.human, class: "control-label float-left" %>
                <%= select_tag "channel_partner_id", options_for_select(ChannelPartner.active.where(ChannelPartner.user_based_scope(current_user)).map{|cp| [cp.company_name, cp.id]}, cp_id), prompt: I18n.t("global.select"), class: "selectize" %>
              </div>
              <div class="mb-3 col-12">
                <%= label_tag "fltrs", I18n.t("global.link_to.active_walkins"), class: "control-label float-left" %>
                <%= select_tag "active_walkins", options_for_select([[t('global.boolean.true'), true], [t('global.boolean.false'), false]], (params[:active_walkins].present? ? params[:active_walkins] : "")), { prompt: I18n.t("global.select"), class: "selectize" } %>
              </div>
              <div class="mb-3 col-12">
                <%= label_tag "fltrs", I18n.t("global.link_to.active_bookings"), class: "control-label float-left" %>
                <%= select_tag "active_bookings", options_for_select([[t('global.boolean.true'), true], [t('global.boolean.false'), false]], (params[:active_bookings].present? ? params[:active_bookings] : "")), { prompt: I18n.t("global.select"), class: "selectize" } %>
              </div>
            </div>
          </div>
          <div class="filter-footer modal-footer text-end">
            <%= submit_tag I18n.t("global.apply"), class: "f-save-btn btn btn-primary fn-500 float-end" %>
            <button type="button" class="f-cancel-btn btn btn-secondary fn-500 float-end"><%= I18n.t("global.cancel") %></button>
          </div>
        <% end %>
      </div>
      <div class="row" id = "dashboard_channel_partner_performance_user_wise"></div>
    </div>
  </div>
</section>

<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#channel_partner_performance_user_wise_form"));
    $.ajax({
      url: "<%= channel_partner_performance_user_wise_path %>",
      type: "get",
    });
  });
<% end %>
