<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd">
  <div class="box-card relative table-responsive" id="dashboard_project_wise_summary">
    <table class="table my-customer-table responsive-tbl mb-0">
      <thead class="th-default">
        <tr class="bg-primary white">
          <th><%= IncentiveScheme.model_name.human %></th>
          <th><%= I18n.t("mongoid.attributes.channel_partner/incentive_plans_headers.current_ladder") %></th>
          <th><%= I18n.t("mongoid.attributes.channel_partner/incentive_plans_headers.incentives_generated").html_safe %></th>
          <th><%= I18n.t("mongoid.attributes.channel_partner/incentive_plans_headers.target_for_next_ladder") %></th>
        </tr>
      </thead>
      <tbody>
        <!-- Add lookup for booking detail and incentive scheme  -->
        <% Invoice.all.ne(incentive_scheme_id: nil).filter_by_project_ids(@project_ids).where(Invoice.user_based_scope(current_user)).group_by{|inv| inv.incentive_scheme}.each do |scheme, invoices| %>
          <tr>
            <td data-title='<%= IncentiveScheme.model_name.human %>'><%= scheme.name.titleize %></td>
            <td data-title='<%= I18n.t("global.link_to.current_ladder") %>'><%= stage = invoices.map(&:ladder_stage).max %></td>
            <% booking_detail_ids = BookingDetail.booking_stages.in(id: invoices.map(&:booking_detail_id).uniq).distinct(:id) %>
            <td data-title='<%= I18n.t("global.link_to.total_incentives_generated") %>'><%= number_to_indian_currency(invoices.select {|x| x.booking_detail_id.in?(booking_detail_ids) }.map(&:amount).sum) %></td>
            <td class='non-action-td' data-title='<%= I18n.t("mongoid.attributes.channel_partner/incentive_plans_headers.target_for_next_ladder") %>'>
              <% ladder = scheme.ladders.where(stage: stage + 1).first %>
              <% if ladder %>
                <% if scheme.ladder_strategy == 'number_of_items' %>
                  <%= "<strong>#{(ladder.start_value - booking_detail_ids.count)}</strong> #{BookingDetail.model_name.human(count:2)}".html_safe %>
                <% elsif scheme.ladder_strategy == 'sum_of_value' %>
                  <%= "<strong>#{number_to_indian_currency((ladder.start_value - BookingDetail.where(booking_portal_client_id: current_client.try(:id)).in(id: invoices.map(&:booking_detail_id).uniq).sum(&:calculate_agreement_price)), :indian)}</strong> #{t('global.agreement_value')}".html_safe %>
                <% end %>
              <% else %>
                <%= t('dashboard.channel_partner.incentive_plan_started.max_ladder_html') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
