<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd">
  <div class="box-card relative table-responsive" id="dashboard_project_wise_summary">
    <table class="table my-customer-table responsive-tbl mb-0">
      <thead class="th-default">
        <tr class="bg-primary white">
          <th><%= Project.model_name.human %></th>
          <th class='text-md-center'>No. of <%= Lead.model_name.human(count:2) %></th>
          <th class='text-md-center'>No. of <%= BookingDetail.model_name.human(count:2) %></th>
          <th class='text-md-center'>9.90% Payment Received</th>
          <th class='text-md-center'><%= I18n.t("controller.dashboard.registration_count") %></th>
          <th class='text-md-center'><%= I18n.t("global.total") + I18n.t('global.agreement_value') %></th>
        </tr>
      </thead>
      <tbody>
        <%  %>
        <%  %>
        <% Project.all.pluck(:id, :name).each do |project| %>
          <tr>
            <td data-title='<%= Project.model_name.human %>'><%= project[1] %></td>
            <td data-title='No. of <%= Lead.model_name.human(count:2) %>' class='text-md-center'><%= @projects_leads.dig('project_wise', project[0], 'count').presence || 0 %></td>
            <td data-title='No. of <%= BookingDetail.model_name.human(count:2) %>' class='text-md-center'><%= @projects_booking_data.dig('project_wise', project[0], 'count').presence || 0 %></td>
            <td data-title="9.90% Payment Received" class='text-md-center'><%= (confirmed = @projects_booking_data.dig('project_wise', project[0], 'confirmed').presence) ? confirmed : '-' %></td>
            <td data-title="<%= I18n.t("global.link_to.registration_count") %>" class='text-md-center'><%= (registration_done = @projects_booking_data.dig('project_wise', project[0], 'registration_done').presence) ? registration_done : '-' %></td>
            <td class='non-action-td text-md-center' data-title="<%= t('global.agreement_value') %>"><%= (av = @projects_booking_data.dig('project_wise', project[0], 'av').presence) ? number_to_indian_currency(av) : '-' %></td>
          </tr>
        <% end %>
        <tr>
          <td data-title='<%= I18n.t("global.total") %>'><strong><%= I18n.t("global.total") %></strong></td>
          <td data-title='No. of <%= Lead.model_name.human(count:2) %>' class='text-md-center'><%= @projects_leads['total_count'] || 0 %></td>
          <td data-title='No. of <%= BookingDetail.model_name.human(count:2) %>' class='text-md-center'><%= @projects_booking_data['total_count'] || 0 %></td>
          <td data-title="9.90% Payment Received" class='text-md-center'><%= (total_confirmed = @projects_booking_data['total_confirmed'].presence) ? total_confirmed : '-' %></td>
          <td data-title="<%= I18n.t("global.link_to.registration_count") %>" class='text-md-center'><%= (total_registration_done = @projects_booking_data['total_registration_done'].presence) ? total_registration_done : '-' %></td>
          <td class='non-action-td text-md-center' data-title="Total <%= t('global.agreement_value') %>"><%= (total_av = @projects_booking_data['total_av'].presence) ? number_to_indian_currency(total_av) : '-' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
