<div class = 'col-6'>
  <div class="form-group">
    <%= f.label :response_decryption_key %>
    <%= f.text_field :response_decryption_key, autofocus: true, class: "form-control", disabled: !policy([:admin, @api]).editable_field?("response_decryption_key") %>
  </div>
</div>
<div class = 'col-6'>
  <div class="form-group">
    <%= f.label :response_data_location %>
    <%= f.text_field :response_data_location, autofocus: true, class: "form-control", disabled: !policy([:admin, @api]).editable_field?("response_data_location") %>
  </div>
</div>
<div class = 'col-12' id = 'filter_hash'>
  <div class="form-group">
    <%= f.label :filter_hash %>
    <%= f.text_area :filter_hash, autofocus: true, class: "form-control", disabled: !policy([:admin, @api]).editable_field?("filter_hash") %>
  </div>
</div>