<table class='table my-customer-table table-responsive table-color'>
  <thead class="th-default">
    <thead>
      <tr class="bg-primary white">
        <th><%= t('mongoid.attributes.crm/api.resource_class') %></th>
        <th><%= t('mongoid.attributes.crm/api.request_type') %></th>
        <th><%= t('mongoid.attributes.crm/api.event') %></th>
        <th><%= t('mongoid.attributes.crm/api.path') %></th>
        <th><%= t('mongoid.attributes.crm/api.is_active') %></th>
        <th><%= t('mongoid.attributes.crm/api.request_payload') %></th>
        <th class="btn-action"><%= I18n.t("global.actions") %></th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% apis.each do |api| %>
      <tr>
        <td><%= api.resource_class %></td>
        <td><%= api.try(:http_method)&.titleize || api._type.demodulize %></td>
        <td><%= api.event %></td>
        <td><%= api.path %></td>
        <td><%= api.is_active? ? "Yes" : "No" %></td>
        <td><%= api.request_payload %></td>
        <td>
          <div class="dropdown show text-right">
            <a class="btn table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <%= link_to t('helpers.edit.link_name', model: Crm::Api.model_name.human), edit_admin_crm_base_api_path(api.base, api, type: api._type), class: 'modal-remote-form-link dropdown-item' %>
              <%= link_to t('controller.accounts.destroy.link_name'), admin_crm_base_api_path(api.base, api, type: api._type), class: 'dropdown-item', method: :delete, data: {confirm: I18n.t("controller.assets.confirm.sure") } %>
           </div>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 py-3 white mb-2 px-2">
  <div class="row">
    <div class="col-lg-6 pt-2">
      <p class="table-entry mb-0"><%= page_entries_info apis %></p>
    </div>
    <div class="col-lg-6 table-pagination">
      <%= will_paginate apis, list_classes: %w(pagination justify-content-end) %>
    </div>
  </div>
</div>
