<div class="col-lg-3 col-xs-12 col-sm-12 col-md-6">
  <div class="active step-result">
    <i class="icon icon-2"></i>
    <span><%= t('controller.searches.filter.header')%></span>
    <br/>
    <p><%= t('controller.searches.filter.hint')%></p>
    <% if @search.previous_step.present? && @search.crossed_step('filter') %>
      <%= form_for [:lead, @search], html: {class: 'validate-form'} do |f| %>
        <div class="mb-3">
          <%= f.hidden_field :step, value: "filter" %>
        </div>
        <div class="mb-3">
          <%= f.submit I18n.t("global.change"), class: "small position-absolute step-change-btn" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
