<div class="row border-top border-thick border-primary py-2 ml-0">
  <div class="col-md-2">
    <h4 class="mt-3">
      <%= icon "far", "check-circle", class: "text-primary" %>
    </h4>
  </div>
  <div class="col-md-10">
    <h6 class="d-inline">
      You are looking for
    </h6>
    <div class="text-muted small">
      <% if search.bedrooms.present? %>
        <%= "#{search.bedrooms} #{labels[:bedrooms]}" %>
      <% end %>
      <% if search.agreement_price.present? %>
        <%= search.agreement_price_to_s %>
      <% end %>
      <% if search.all_inclusive_price.present? %>
        <%= search.all_inclusive_price_to_s %>
      <% end %>
      <%= link_to "Change", edit_search_path, class: "modal-remote-form-link small position-absolute", style: "right:10px; top:0;" %>
    </div>
  </div>
</div>
