<div class="row border-top border-thick <%= search.crossed_step('project_unit') ? 'border-primary' : 'border-light' %> py-2 mr-0">
  <div class="col-md-2">
    <% if search.crossed_step('project_unit') %>
      <h4 class="mt-3">
        <%= icon "far", "check-circle", class: "text-primary" %>
      </h4>
    <% else %>
      <h1 class="text-muted mt-2">4</h1>
    <% end %>
  </div>
  <div class="col-md-10">
    <h6 class="d-inline">
      <%= global_labels[:user_kyc] %>
    </h6>
    <div class="text-muted small">
      <% if search.crossed_step('project_unit') %>
        <%= search.project_tower.name %><br/>
        Lorem ipsum Helo Lowad adf2
        <%= link_to "Change", "javascript:;", class: "modal-remote-form-link small position-absolute", style: "right:10px; top:0;" %>
      <% else %>
        Set up your <%= global_labels[:user_kyc] %> & hold your <%= global_labels[:project_unit] %>
      <% end %>
    </div>
  </div>
</div>
