<div class="col-lg-3 col-xs-12 col-sm-12 col-md-6">
  <div class="step-result <%= search.crossed_step('filter') ? 'active' : '' %>">
    <i class="icon icon-3"></i>
    <span><%= t('controller.searches.towers.header') %></span>
    <% if search.crossed_step('filter') %>
      <p class="p-0 m-0"><%= search.project_unit.try(:name) %></p>
      <p class="p-0 m-0"><%= t('controller.searches.towers.hint')%></p>
      <% if @search.previous_step.present? && @search.crossed_step('towers') %>
        <%= form_for [:lead, @search], html: {class: 'validate-form'} do |f| %>
          <div class="mb-3">
            <%= f.hidden_field :step, value: "towers" %>
          </div>
          <div class="mb-3">
            <%= f.submit "Change", class: "small position-absolute step-change-btn" %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p><%= t('controller.searches.towers.hint')%></p>
    <% end %>
  </div>
</div>
