<section class="cp-signup-sec">
	<div class="">
		<div class="">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-7 pe-0 br-rt-1">
						<h1 class="sec-title text-center pt-2 pb-1">Get Started</h1>
						<p class="sec-desc text-center pb-2">Now is the best time to turn your dream into reality</p>
						<div class="cp-signup-form-wrap pb-3 cp-form-wrap">
							<form>
								<div class="form-group">
									<label>First Name <span>*</span></label>
									<input type="texts" name="">
								</div>
								<div class="form-group">
									<label>Last Name <span>*</span></label>
									<input type="texts" name="">
								</div>
								<div class="form-group">
									<label>Email <span>*</span></label>
									<input type="texts" name="">
								</div>
								<div class="form-group">
									<label>Phone Number <span>*</span></label>
									<input type="texts" name="">
								</div>
								<div class="form-group">
									<label>RERA Registration Number <span>*</span></label>
									<input type="texts" name="">
								</div>
								<p class="agree-note text-center mt-2">I agree to Launchpad’s <a href="javascript:;">terms of services</a></p>
								<div class="form-group">
									<input type="submit" name="" class="cp-btn btn" value="Sign Up">
								</div>
							</form>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="cp-signup-features px-2">
							<h2 class="pt-2 pb-2">Why you would love launchpad</h2>
							<ul class="list-unstyled mt-4">
								<li>
									<div class="features-wrap">
										<span>
											<img src="<%= asset_path 'cp-ex-feat-01.svg' %>">
										</span>
										<p>Early access to <br>new launches</p>
									</div>
								</li>
								<li>
									<div class="features-wrap">
										<span>
											<img src="<%= asset_path 'cp-ex-feat-02.svg' %>">
										</span>
										<p>Marketing support<br> & assets</p>
									</div>
								</li>
								<li>
									<div class="features-wrap">
										<span>
											<img src="<%= asset_path 'cp-ex-feat-03.svg' %>">
										</span>
										<p>Online inventory <br>selection, KYC & bookings</p>
									</div>
								</li>
								<li>
									<div class="features-wrap">
										<span>
											<img src="<%= asset_path 'cp-ex-feat-04.svg' %>">
										</span>
										<p>Chance to work with <br>Pune’s biggest developers</p>
									</div>
								</li>
								<li>
									<div class="features-wrap">
										<span>
											<img src="<%= asset_path 'cp-ex-feat-05.svg' %>">
										</span>
										<p>Timely payments to <br>streamline cash flows</p>
									</div>
								</li>
								<li>
									<div class="features-wrap">
										<span>
											<img src="<%= asset_path 'cp-ex-feat-06.svg' %>">
										</span>
										<p>Unique online <br>broker profile</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="cp-signup-thank-popup pt-3 pb-3">
	<div class="cp-popup-inner">
		<h3 class="text-center">Thank You for signing up with us</h3>
		<p class="icon-check">
			<i class="fa fas fa-check"></i>
		</p>
		<h4 class="text-center">Verify your email</h4>
		<p class="popup-desc text-center">We have sent an account activation link to jane@abc.com</p>
		<button class="cp-btn btn">Okay</button>
	</div>
</div>

<section class="cp-email-verify">
	<div class="email-notify">
		<p>Email Verified <i class="fa fas fa-check-circle"></i></p>
	</div>
	<div class="cp-pwd-create">
		<h2 class="text-center pt-3">Create Password</h2>
		<p class="text-center pb-3">Please create a password for your account</p>
		<div class="cp-signup-form-wrap pt-2 pb-3 px-4 cp-form-wrap">
			<form>
				<div class="form-group">
					<label>Create Password</label>
					<input type="texts" name="">
				</div>
				<div class="form-group">
					<label>Confirm Password</label>
					<input type="texts" name="">
				</div>
				<div class="form-group pt-3">
					<input type="submit" class="cp-btn btn" name="" value="Create Password">
				</div>
			</form>
		</div>
	</div>
</section>

<section class="cp-login-otp-sec mt-5">
	<div class="cp-login-otp-wrap">
		<h2 class="px-3 pt-3 pb-3">Log In</h2>
		<p class="pt-4 pb-4 px-3">Sign in using OTP (One Time Password)</p>
		<div class="cp-signup-form-wrap px-3 cp-form-wrap">
			<form>
				<div class="form-group">
					<label>Phone Number</label>
					<input type="texts" name="">
				</div>
				<span class="or-note"><span>OR</span></span>
				<div class="form-group">
					<label>Email ID</label>
					<input type="texts" name="">
				</div>
				<div class="form-group pt-3 pb-3">
					<input type="submit" name="" class="cp-btn btn" value="Get OTP">
				</div>
			</form>
		</div>
		<div class="signin-footer text-center">
			<a href="javascript">Sign in using email and password</a>
		</div>
	</div>
</section>

<section class="login-with-otp mt-5">
	<div class="login-otp-wrap pb-3">
		<div class="otp-header">
			<a href="javascript:;"><i class="fa fa-chevron-left"></i></a>
			<h2 class="px-3 pt-3 pb-3">Log In</h2>
		</div>
		<div class="otp-body px-2 pt-1">
			<div class="inner-body cp-form-wrap mb-3">
				<h3>Mobile OTP</h3>
				<p>Enter the SMS OTP sent to <span>9820502233</span></p>
				<form>
					<div class="form-group">
						<input type="texts" name="">
					</div>
					<p class="mb-0">Didn’t receive SMS? <span class="otp-waiting">Wait for 22s</span><a href="javascript:;" class="resend-otp-btn">Resend OTP</a></p>
				</form>
			</div>
			<input type="submit" name="" class="cp-btn btn" value="Verify">
		</div>
	</div>
</section>

<section class="cp-login-email-sec mt-5">
	<div class="cp-login-email-wrap">
		<h2 class="px-4 pt-3 pb-3">Log In</h2>
		<p  class="px-4 pt-3 pb-1 font-weight-medium">Sign in using email and password</p>
		<div class="cp-signup-form-wrap cp-form-wrap px-4">
			<form>
				<div class="form-group">
					<label>Username</label>
					<input type="texts" name="">
				</div>
				<div class="form-group">
					<label>Password</label>
					<div class="position-relative">
						<input type="password" name="" class="pwd-field">
						<a href="javascript:;" class="pwd-btn show-pwd"><i class="fa fa-eye-slash fill-theme"></i></a>
					</div>
				</div>
				<a href="javascript:;" class="forgot-pwd">Forgot Password?</a>
				<div class="form-group">
					<input type="submit" name="" class="cp-btn btn" value="Sign In">
				</div>
			</form>
		</div>
		<div class="signin-footer text-center">
			<a href="javascript">Sign in using OTP</a>
		</div>
	</div>
</section>

<section class="cp-register-sec mt-5">
	<div class="col-lg-12">
		<div class="cp-reg-header pt-5 px-4 pb-5 col-lg-12">
			<h1 class="sec-title">Complete Registration</h1>
			<a href="javascript:;" class="skip-step-btn pe-3">Skip for now</a>
		</div>
		<div class="col-lg-12">
		<div class="cp-step-list px-4 pt-3 col-lg-12">
			<ul>
				<li>
					<a href="javascript:;" class="active" rel="step-1">
						<div class="step-inner">
							<span>1</span>
							<p>Personal Info</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="" rel="step-2">
						<div class="step-inner">
							<span>2</span>
							<p>Company Details</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="" rel="step-3">
						<div class="step-inner">
							<span>3</span>
							<p>Questionaire</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="" rel="step-4">
						<div class="step-inner">
							<span>4</span>
							<p>Upload Documents</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
		<div class="col-lg-12 px-4 pb-3">
			<div class="step-tab-content " id="step-1">
				<div class="step-tab-inner">
					<h2 class="px-4 py-3">Personal Info</h2>
					<div class="cp-form-wrap px-4 pt-2">
						<form class="row ">
							<div class="col-lg-6">
								<div class="form-group">
									<label>First Name <span>*</span></label>
									<input type="text" name="">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Last Name <span>*</span></label>
									<input type="text" name="">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Email <span>*</span></label>
									<input type="text" name="">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Phone Number <span>*</span></label>
									<input type="text" name="">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>RERA Registration Number <span>*</span></label>
									<input type="text" name="">
								</div>
							</div>
							<div class="col-lg-12 form-footer px-0 py-4 text-end">
								<input type="submit"  class="cp-btn btn float-end me-3" name="" value="Save">
							</div>
						</form>					
					</div>
				</div>	
			</div>
			<div class="step-tab-content " id="step-2">
				<div class="step-tab-inner">
					<h2 class="px-4 py-3">Company Details</h2>
					<div class="cp-form-wrap px-4 pt-2">
						<form class="row ">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Company name<span>*</span></label>
									<input type="text" name="">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Company Phone Number<span>*</span></label>
									<input type="text" name="">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Company CEO / MD<span>*</span></label>
									<input type="text" name="">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Company Size<span>*</span></label>
									<input type="text" name="">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Average quaterly business (Rs) (scale)<span>*</span></label>
									<input type="text" name="">
								</div>
							</div>
							<div class="col-lg-12 form-footer px-0 py-4 text-end">
								<input type="submit"  class="cp-btn btn float-end me-3" name="" value="Save">
							</div>
						</form>					
					</div>
				</div>	
			</div>
			<div class="step-tab-content " id="step-3">
				<div class="step-tab-inner">
					<h2 class="px-4 py-3">Company Details</h2>
					<div class="cp-form-wrap px-4 pt-2">
						<form class="row ">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Team Size<span>*</span></label>
									<input type="text" name="">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Expertise<span>*</span></label>
									<input type="text" name="">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Experience<span>*</span></label>
									<input type="text" name="">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Interested services<span>*</span></label>
									<input type="text" name="">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Developers worked for (drop down)<span>*</span></label>
									<input type="text" name="">
								</div>
							</div>
							<div class="col-lg-12 form-footer px-0 py-4 text-end">
								<input type="submit"  class="cp-btn btn float-end me-3" name="" value="Save">
							</div>
						</form>					
					</div>
				</div>	
			</div>
			<div class="step-tab-content " id="step-4">
				<div class="step-tab-inner">
					<h2 class="px-4 py-3">Upload Documents</h2>
					<div class="cp-form-wrap px-4 pt-2">
						<form class="row">
							<div class="col-lg-6">
							<div class="col-lg-12">
								<div class="form-group">
									<label>PAN Card<span>*</span></label>
									<input type="file" name="">
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group">
									<label>RERA Certificate<span>*</span></label>
									<input type="file" name="">
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group">
									<label>GST Certificate<span>*</span></label>
									<input type="file" name="">
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group">
									<label>Cheque Scanned Copy<span>*</span></label>
									<input type="file" name="">
								</div>
							</div>
						</div>
							<div class="col-lg-12 form-footer px-0 py-4 text-end">
								<p class="float-start mb-0 ms-3">1 of 8 documents uploaded</p>
								<input type="submit"  class="cp-btn btn float-end me-3" name="" value="Save">
							</div>
						</form>					
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>

<section class="after-register-sec mt-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="app-review float-start wd-100">
					<h1 class="notify-title float-start wd-100">Your application is under review</h1>
					<p class="notify-desc float-start mb-0">We will notify you via email on the status of your application</p>
					<p class="notify-desc float-end pe-3 mb-0"><i class="fa far fa-hourglass me-2"></i>10hrs : 48 mins left</p>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="app-review app-reject float-start wd-100">
					<h1 class="notify-title float-start mb-0">Uhhoh! Your application had been rejected by admin due to incorrect information</h1>
					<a href="javascript:;" class="notify-btn float-end pe-3 mb-0">Resubmit Application</a>
				</div>
			</div>
			<div class="col-lg-12 mt-4">
				<div class="app-features">
					<div class="row px-3 py-3">
						<div class="col-lg-12">
							<h2 class="pb-4">Why you would love launchpad</h2>
						</div>
						<div class="col-lg-3 app-features-list">
							<span>
								<img src="<%= asset_path 'cp-ex-feat-01.svg' %>">
							</span>
							<p>Early access to<br> new launches</p>
						</div>
						<div class="col-lg-3 app-features-list">
							<span>
								<img src="<%= asset_path 'cp-ex-feat-02.svg' %>">
							</span>
							<p>Chance to work with<br> Pune’s biggest developers</p>
						</div>
						<div class="col-lg-3 app-features-list">
							<span>
								<img src="<%= asset_path 'cp-ex-feat-03.svg' %>">
							</span>
							<p>Leads at discounted<br> prices</p>
						</div>
						<div class="col-lg-3 app-features-list">
							<span>
								<img src="<%= asset_path 'cp-ex-feat-04.svg' %>">
							</span>
							<p>CRM training<br> & support</p>
						</div>
						<div class="col-lg-3 app-features-list">
							<span>
								<img src="<%= asset_path 'cp-ex-feat-05.svg' %>">
							</span>
							<p>Marketing support<br> & assets</p>
						</div>
						<div class="col-lg-3 app-features-list">
							<span>
								<img src="<%= asset_path 'cp-ex-feat-06.svg' %>">
							</span>
							<p>Timely payments to<br> streamline cash flows</p>
						</div>
						<div class="col-lg-3 app-features-list">
							<span>
								<img src="<%= asset_path 'cp-ex-feat-07.svg' %>">
							</span>
							<p>Fully automated<br> EOI process</p>
						</div>
						<div class="col-lg-3 app-features-list">
							<span>
								<img src="<%= asset_path 'cp-ex-feat-09.svg' %>">
							</span>
							<p>Complete<br> transparency</p>
						</div>
						<div class="col-lg-3 app-features-list">
							<span>
								<img src="<%= asset_path 'cp-ex-feat-08.svg' %>">
							</span>
							<p>Online inventory<br> selection, KYC & bookings</p>
						</div>
						<div class="col-lg-3 app-features-list">
							<span>
								<img src="<%= asset_path 'cp-ex-feat-10.svg' %>">
							</span>
							<p>Unique online<br> broker profile</p>
						</div>
						<div class="col-lg-3 app-features-list">
							<span>
								<img src="<%= asset_path 'cp-ex-feat-11.svg' %>">
							</span>
							<p>Performance-based<br> broker ratings</p>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</section>