<section class="mt-3">
    <div class="px-4">
        <div class="row">
            <div class="col-lg-8">
                <div class="project-details">
                    <div class="prjt-inner-wrap card-shadow">
                        <div class="prjt-banner position-relative">
                            <img src="<%= asset_path 'testimonial-image.jpg' %>" class="img-fluid">
                            <div class="prjt-lauchbook">
                                <a href="javascript:;" class="text-center"><i class="fa fa-play fill-white me-3"></i>Launchbook</a>
                            </div>
                            <div class="prjt-banner-info">
                                <p class="img-tag bg-success"><i class="fa fa-chess-queen fill-white"></i>Pre Launch</p>
                                <h1 class="prjt-info-title">34 Park Estate</h1>
                                <p class="prjt-banner-title">Embassy Developers</p>
                                <p class="prjt-interest"><span><i class="fa fa-heart fill-danger"></i></span>You and 89 partners are interested</p>
                                <!-- <p class="prjt-interest"><i class="fa fa-heart fill-gray"></i>You and 89 partners are interested</p> -->
                                <p class="prjt-location"><span><i class="fa fa-map-marker-alt fill-theme"></i></span>Khar West, Mumbai
                                    <a href="javascript:;" class="prjt-share-location">Share location</a>
                                </p>
                                <div class="prjt-info-footer mt-3 text-center">
                                    <p>
                                        <span>99.3 L - 4.4 Cr</span>
                                        <span>Property Value</span>
                                    </p>
                                    <p>
                                        <span>23rd Jan,2020</span>
                                        <span>Possession Date</span>
                                    </p>
                                </div>
                            </div>
                            <div class="prjt-tab col-lg-12">
                                <nav id="prjt-menu">
                                    <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="nav-overview-tab" href="javascript:;" rel="nav-overview">Overview</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="nav-towers-tab" href="javascript:;" rel="nav-towers">Towers</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="nav-collaterals-tab" href="javascript:;" rel="nav-collaterals">Collaterals</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="nav-amenities-tab" href="javascript:;" rel="nav-amenities">Amenities</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="nav-specifications-tab" href="javascript:;" rel="nav-specifications">Specifications</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="nav-timeline-tab" href="javascript:;" rel="nav-timeline">Project Timeline</a>
                                        </li>
                                    </ul>
                                    </div>
                                </nav>
                                <div class="prjt-content-list col-lg-12" id="nav-tabContent">
                                  <div class="tab-pane" id="nav-overview">
                                      <div class="tab-inner px-3 py-3 active">
                                        <h3 class="tab-title">About Project</h3>
                                        <ul class="project-list list-unstyled row">
                                            <li class="col-lg-6">
                                                <label>Walk Ins</label>
                                                <p>42<span>/120</span></p>
                                            </li>
                                            <li class="col-lg-6">
                                                <label>Bookings</label>
                                                <p>24<span>/120</span></p>
                                            </li>
                                            <li class="col-lg-6">
                                                <label>Registrations</label>
                                                <p>12<span>/120</span></p>
                                            </li>
                                            <li class="col-lg-6">
                                                <label>Property Value</label>
                                                <p>99.3 L - 4.4 Cr</p>
                                            </li>
                                            <li class="col-lg-6">
                                                <label>Possession Date</label>
                                                <p>23rd Jan,2020</p>
                                            </li>
                                        </ul>
                                      </div>
                                  </div>
                                  <div class="tab-pane" id="nav-towers">
                                    <div class="towers-tab-wrap">
                                        <div class="left-tower-tab">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="javascript:;" class="tab-link active" rel="tower-1">
                                                        <span class="tower-icon"><i class="fa fa-building fill-theme"></i></span>
                                                        <span class="tower-title">
                                                            <span class="title-inner">Tower Casa Uno</span>
                                                            <span class="tower-floor">26 Floors</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="tab-link" rel="tower-2">
                                                        <span class="tower-icon"><i class="fa fa-building fill-theme"></i></span>
                                                        <span class="tower-title">
                                                            <span class="title-inner">Tower Casa Uno</span>
                                                            <span class="tower-floor">26 Floors</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="tab-link" rel="tower-3">
                                                        <span class="tower-icon"><i class="fa fa-building fill-theme"></i></span>
                                                        <span class="tower-title">
                                                            <span class="title-inner">Tower Casa Uno</span>
                                                            <span class="tower-floor">26 Floors</span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="right-tower-tab">
                                            <div class="tab-content">
                                                <div class="tab-inner active" id="tower-1">
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <h2>Select Type</h2>
                                                            <div class="tower-type">
                                                                <a href="javascript:;" class="active" rel="type-bhk-1">1 BHK (890 sq.ft)</a>
                                                                <a href="javascript:;" class="" rel="type-bhk-1">2 BHK (1190 sq.ft)</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <h3>EMI's starting at</h3>
                                                            <p class="emi-amount">₹ 25,000 <span>/month</span></p>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="tab-content br-1 br-rd-8 py-1">
                                                                <div class="tab-inner active" id="type-bhk-1">
                                                                    <img src="<%= asset_path 'apartment-plan.png' %>" class="plan-img">
                                                                </div>
                                                                <div class="tab-inner" id="type-bhk-1">
                                                                    <img src="<%= asset_path 'apartment-plan.png' %>" class="plan-img">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="tower-desc-wrap mt-3">
                                                            <table width="100%">
                                                                <tr>
                                                                    <td>
                                                                        <p class="td-title">Tower Casa Uno</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="interest-title text-end"><i class="fa fa-eye fill-theme-light "></i>20 Interests</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="pt-2 pb-2 tbl-br-1">
                                                                        <p class="value-title">1 BHK · 890 Sq Ft</p>
                                                                    </td>
                                                                    <td class="text-end pt-2 pb-2 tbl-br-1">
                                                                        <a href="javascript:;" class="view-cost-sheet">View Cost Sheet</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="pt-2">
                                                                        <p class="value-title">Agreement Value</p>
                                                                    </td>
                                                                    <td class="pt-2">
                                                                        <p class="amount">₹ 93,00,000</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <p class="value-title">Stamp Duty (5%)</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="amount">₹  4,65,000</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <p class="value-title">Registration</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="amount">₹ 40,000</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <p class="value-title">GST (5%)</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="amount">₹ 4,65,000</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <p class="value-title tbl-br-1 pb-1">Society Charges</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="amount tbl-br-1 pb-1">₹ 50,620</p>
                                                                    </td>
                                                                </tr>
                                                                <tr class="total tbl-br-1">
                                                                    <td>
                                                                        <p class="value-title">Total</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="amount">₹ 1,03,30,620</p>
                                                                    </td>
                                                                </tr>
                                                                <tr class="total">
                                                                    <td>
                                                                        <p class="value-title"><i class="fa fa-money me-2"></i>Brokerage Potential</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="amount">₹ 93,000</p>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="tab-pane" id="nav-collaterals">
                                      <div class="collaterals-tab-wrap tab-inner-wrap">
                                        <h2>Images <a href="javascript:;" class="ms-2"><i class="fa fa-share-alt fill-theme"></i></a></h2>
                                        <ul class="collaterals-list">
                                            <li>
                                                <img src="<%= asset_path 'search-home-img.png' %>">
                                            </li>
                                            <li>
                                                <img src="<%= asset_path 'search-home-img.png' %>">
                                            </li>
                                            <li>
                                                <img src="<%= asset_path 'search-home-img.png' %>">
                                            </li>
                                            <li>
                                                <img src="<%= asset_path 'search-home-img.png' %>">
                                            </li>
                                            <li>
                                                <img src="<%= asset_path 'search-home-img.png' %>">
                                            </li>
                                        </ul>
                                        <h2>Videos <a href="javascript:;" class="ms-2"><i class="fa fa-share-alt fill-theme"></i></a></h2>
                                        <ul class="collaterals-list">
                                            <li>
                                                <div class="prjt-video">
                                                    <img src="<%= asset_path 'search-home-img.png' %>">
                                                    <a href="javascript:;"><i class="fa fa-play-circle"></i></a>
                                                    <div class="video-info">
                                                        <span>Home overvi..</span>
                                                        <span class="video-download"><i class="fa fa-download"></i></span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="prjt-video">
                                                    <img src="<%= asset_path 'search-home-img.png' %>">
                                                    <a href="javascript:;"><i class="fa fa-play-circle"></i></a>
                                                    <div class="video-info">
                                                        <span>Floor Plan</span>
                                                        <span class="video-download"><i class="fa fa-download"></i></span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <h2>Documents <a href="javascript:;" class="ms-2"><i class="fa fa-share-alt fill-theme"></i></a></h2>
                                        <ul class="collaterals-list">
                                            <li>

                                            </li>
                                        </ul>
                                      </div>
                                  </div>
                                  <div class="tab-pane" id="nav-amenities">
                                      <div class="amenities-tab-wrap tab-inner-wrap">
                                        <h2>Customer Favorite</h2>
                                        <ul class="amenities-list">
                                            <li>
                                                <div class="inner-img">
                                                    <img src="<%= asset_path 'home-new-banner.jpg' %>">
                                                    <p>Table Tennis Court</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="inner-img">
                                                    <img src="<%= asset_path 'home-new-banner.jpg' %>">
                                                    <p>Movie Theatre</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="inner-img">
                                                    <img src="<%= asset_path 'home-new-banner.jpg' %>">
                                                    <p>Gym</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="inner-img">
                                                    <img src="<%= asset_path 'home-new-banner.jpg' %>">
                                                    <p>Swimming Pool</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <h2 class="mt-4">Other Amenities</h2>
                                        <ul class="other-amenities">
                                            <li>
                                                <p>Security</p>
                                            </li>
                                            <li>
                                                <p>Pre school</p>
                                            </li>
                                            <li>
                                                <p>Chemists</p>
                                            </li>
                                            <li>
                                                <p>Stadium</p>
                                            </li>
                                            <li>
                                                <p>Generator Backup</p>
                                            </li>
                                            <li>
                                                <p>24/7 Water Supply</p>
                                            </li>
                                            <li>
                                                <p>Lift</p>
                                            </li>
                                            <li>
                                                <p>General Stores</p>
                                            </li>
                                            <li>
                                                <p>Hotels</p>
                                            </li>
                                        </ul>
                                    </div>
                                  </div>
                                  <div class="tab-pane" id="nav-specifications">
                                      <div class="specifications-tab-wrap">
                                        <p>Your desire to stand apart, is closer than you think! Live in trendy homes that have been smartly designed; just for you! Smaller passages and larger rooms. Because we know you spend 98% more time in your rooms than in the passages.</p>
                                        <div class="row mt-4">
                                            <div class="col-lg-6 mb-3">
                                                <h3>STRUCTURE</h3>
                                                <p>Earthquake Resistant</p>
                                                <p>Internal Gypsum Finish Plaster, External Sand Finish Plaster</p>
                                            </div>
                                            <div class="col-lg-6 mb-3">
                                                <h3>PAINTING</h3>
                                                <p>Premium Quality Internal Paint</p>
                                                <p>Semi Acrylic External Paint</p>
                                            </div>
                                            <div class="col-lg-6 mb-3">
                                                <h3>FLOORING</h3>
                                                <p>2*2 Vitrified Tiles</p>
                                                <p>Antiskid Wooden Finish Tiles in Terrace</p>
                                                <p>Toilets-Designer Glazed Tiles, Anti-Tiles for Flooring</p>
                                                <p>Solar Water Heater</p>
                                                <p>2*2 Wooden Finish Vitrified Tiles in Bedrooms</p>
                                            </div>
                                            <div class="col-lg-6 mb-3">
                                                <h3>TOILETS</h3>
                                                <p>Designer Glazed Dado Tiles, Antiskid Tiles for Flooring</p>
                                                <p>Provision for Exhaust Fan in Toilets</p>
                                                <p>Provision For Solar and Geyser in Master Toilet</p>
                                                <p>Branded Sanitary Ware</p>
                                                <p>Good Quality CP Fittings</p>
                                            </div>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="tab-pane" id="nav-timeline">
                                    <div class="timeline-wrap">
                                        <div class="single-timeline">
                                            <h2>December 2020</h2>
                                            <ul>
                                                <li>
                                                    <span class="circle-icon"></span>
                                                    <div class="timeline-inner">
                                                        <p>RERA approval</p>
                                                        <span>RERA number: 140608383</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="circle-icon"></span>
                                                    <div class="timeline-inner">
                                                        <p>Application for RERA</p>
                                                        <span>RERA number: 140608383</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div> 
                                        <div class="single-timeline">
                                            <h2>April 2019</h2>
                                            <ul>
                                                <li>
                                                    <span class="circle-icon"></span>
                                                    <div class="timeline-inner">
                                                        <p>Excavation</p>
                                                        <span>Tower 1, Tower 2 Completed</span>
                                                        <a href="javascript:;">View</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div> 
                                        <div class="single-timeline">
                                            <h2>January 2019</h2>
                                            <ul>
                                                <li>
                                                    <span class="circle-icon"></span>
                                                    <div class="timeline-inner">
                                                        <p>Plaint completed</p>
                                                        <span>Tower 1, Tower 2 Completed</span>
                                                        <a href="javascript:;">View</a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="circle-icon"></span>
                                                    <div class="timeline-inner">
                                                        <p>Amenities are ready</p>
                                                        <span>Swimming Pool</span>
                                                        <a href="javascript:;">View</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div> 

                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Newly Launched ---------->

                <div class="row">
                    <div class="col-lg-12 mt-5 mb-3">
                        <h2 class="sec-title">Similar Projects to Embassy Developers</h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="project-wrap br-rd-8 card-shadow">
                            <div class="project-list row">
                                <div class="project-img">
                                    <img src="<%= asset_path 'project-item-image.jpg' %>" class="img-fluid">
                                    <p class="img-tag bg-danger"><i class="fa fa-fire fill-white"></i>Just Launch</p>
                                </div>
                                <div class="project-info">
                                    <div class="project-info-inner">
                                        <h2 class="prjt-title">34 Park Estate</h2>
                                        <p class="prjt-devlprs">Embassy Developers</p>
                                        <p class="prjt-location"><i class="fa fa-map-marker-alt fill-white"></i>Khar West, Mumbai</p>
                                    </div>
                                    <div class="project-info-outer px-3">
                                        <div class="row">
                                            <div class="col-lg-1 ps-0 pe-0">
                                                <i class="fa fa-fire fill-danger"></i>
                                            </div>
                                            <div class="col-lg-11 pe-2 ps-3">
                                                <p class="list-txt project-deal mb-2">Hot Deal</p>
                                                <p class="list-txt project-desc mb-0">2.5% Brokerage incentive on bookings made within the first week of the launch date</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="project-wrap br-rd-8 card-shadow">
                            <div class="project-list row">
                                <div class="project-img">
                                    <img src="<%= asset_path 'project-item-image.jpg' %>" class="img-fluid">
                                    <p class="img-tag bg-danger"><i class="fa fa-fire fill-white"></i>Just Launch</p>
                                </div>
                                <div class="project-info">
                                    <div class="project-info-inner">
                                        <h2 class="prjt-title">34 Park Estate</h2>
                                        <p class="prjt-devlprs">Embassy Developers</p>
                                        <p class="prjt-location"><i class="fa fa-map-marker-alt fill-white"></i>Khar West, Mumbai</p>
                                    </div>
                                    <div class="project-info-outer px-3">
                                        <div class="row">
                                            <div class="col-lg-1 ps-0 pe-0">
                                                <i class="fa fa-fire fill-danger"></i>
                                            </div>
                                            <div class="col-lg-11 pe-2 ps-3">
                                                <p class="list-txt project-deal mb-2">Hot Deal</p>
                                                <p class="list-txt project-desc mb-0">2.5% Brokerage incentive on bookings made within the first week of the launch date</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="row mb-5">
                    <div class="col-lg-12 mt-5 mb-3">
                        <h2 class="sec-title">Other projects by Embassy</h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="project-wrap br-rd-8 card-shadow">
                            <div class="project-list row">
                                <div class="project-img">
                                    <img src="<%= asset_path 'project-item-image.jpg' %>" class="img-fluid">
                                    <p class="img-tag bg-danger"><i class="fa fa-fire fill-white"></i>Just Launch</p>
                                </div>
                                <div class="project-info">
                                    <div class="project-info-inner">
                                        <h2 class="prjt-title">34 Park Estate</h2>
                                        <p class="prjt-devlprs">Embassy Developers</p>
                                        <p class="prjt-location"><i class="fa fa-map-marker-alt fill-white"></i>Khar West, Mumbai</p>
                                    </div>
                                    <div class="project-info-outer px-3">
                                        <div class="row">
                                            <div class="col-lg-1 ps-0 pe-0">
                                                <i class="fa fa-fire fill-danger"></i>
                                            </div>
                                            <div class="col-lg-11 pe-2 ps-3">
                                                <p class="list-txt project-deal mb-2">Hot Deal</p>
                                                <p class="list-txt project-desc mb-0">2.5% Brokerage incentive on bookings made within the first week of the launch date</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="project-wrap br-rd-8 card-shadow">
                            <div class="project-list row">
                                <div class="project-img">
                                    <img src="<%= asset_path 'project-item-image.jpg' %>" class="img-fluid">
                                    <p class="img-tag bg-danger"><i class="fa fa-fire fill-white"></i>Just Launch</p>
                                </div>
                                <div class="project-info">
                                    <div class="project-info-inner">
                                        <h2 class="prjt-title">34 Park Estate</h2>
                                        <p class="prjt-devlprs">Embassy Developers</p>
                                        <p class="prjt-location"><i class="fa fa-map-marker-alt fill-white"></i>Khar West, Mumbai</p>
                                    </div>
                                    <div class="project-info-outer px-3">
                                        <div class="row">
                                            <div class="col-lg-1 ps-0 pe-0">
                                                <i class="fa fa-fire fill-danger"></i>
                                            </div>
                                            <div class="col-lg-11 pe-2 ps-3">
                                                <p class="list-txt project-deal mb-2">Hot Deal</p>
                                                <p class="list-txt project-desc mb-0">2.5% Brokerage incentive on bookings made within the first week of the launch date</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 prjt-right-panel">
                <div class="card br-rd-8 card-shadow no-br">
                    <div class="row">
                        <div class="col-md-6 pt-3 px-4">
                            <ul class="project-list list-unstyled row mb-0 pb-1">
                                <li class="">
                                    <label>Total Walk Ins</label>
                                    <p class="mb-0">42<span>/120</span></p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 pt-4 px-3">
                            <a href="javascript:;" class="primary theme-btn">Create New Walk In</a>
                        </div>
                    </div>
                </div>
                <div class="card br-rd-8 card-shadow no-br mt-3">
                    <div class="row">
                        <div class="col-md-12 pt-3 px-4">
                            <ul class="project-list list-unstyled row mb-0 pb-1">
                                <li class="">
                                    <div class="float-start">
                                        <label>Matching requirements of customers</label>
                                    </div>
                                    <p class="mb-0 float-start col-lg-6">12</p>
                                    <a href="javascript:;" class="col-lg-6 text-end primary float-end">View All</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card br-rd-8 card-shadow no-br mt-3 opportunity-card">
                    <div class="row">
                        <div class="col-md-12 pt-3 px-4">
                            <h3 class="card-title">Opportunities</h3>
                            <ul class="project-list list-unstyled row mb-0 pb-1">
                                <li class="px-3">
                                    <div class="list-wrap row">
                                        <div class="col-lg-12">
                                            <p class="list-title mt-2">Hot Deals</p>
                                        </div>
                                        <div class="col-lg-1">
                                            <i class="fa fa-fire fill-danger fa-sm"></i>
                                        </div>
                                        <div class="col-lg-11">
                                            <p class="list-txt mb-0">Flat 3.5% off on properties booked between the Mar 28, 2021 to Apr 1, 2020</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="px-3">
                                    <div class="list-wrap row">
                                        <div class="col-lg-12">
                                            <p class="list-title mt-2">Deals</p>
                                        </div>
                                        <div class="col-lg-1">
                                            <i class="fa fa-fire fill-warning fa-sm"></i>
                                        </div>
                                        <div class="col-lg-11">
                                            <p class="list-txt mb-0">Flat 3.5% off on properties booked between the Mar 28, 2021 to Apr 1, 2020</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card br-rd-8 card-shadow no-br mt-3 opportunity-card">
                    <div class="row">
                        <div class="col-md-12 pt-3 px-4">
                            <h3 class="card-title">Customers offers</h3>
                            <ul class="project-list list-unstyled row mb-0 pb-1">
                                <li class="px-3">
                                    <div class="list-wrap row">
                                        <div class="col-lg-12">
                                            <p class="list-title mt-2">From Launchpad</p>
                                        </div>
                                        <div class="col-lg-1">
                                            <i class="fa fa-badge-percent fill-success fa-sm"></i>
                                        </div>
                                        <div class="col-lg-11">
                                            <p class="list-txt mb-0">Flat 3.5% off on properties booked between the Mar 28, 2021 to Apr 1, 2020</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="px-3">
                                    <div class="list-wrap row">
                                        <div class="col-lg-12">
                                            <p class="list-title mt-2">From Developers</p>
                                        </div>
                                        <div class="col-lg-1">
                                            <i class="fa fa-badge-percent fill-success fa-sm"></i>
                                        </div>
                                        <div class="col-lg-11">
                                            <p class="list-txt mb-0">Flat 3.5% off on properties booked between the Mar 28, 2021 to Apr 1, 2020</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>