<section class="prjt-details-sec">
    <div class="px-3">
        <div class="row">
            <div class="col-lg-8 px-3 prjt-dtls-wrap pt-4">
               <!-- <div class="project-details">
                    <div class="prjt-inner-wrap card-shadow">
                        <div class="prjt-banner position-relative">
                            <img src="<%= asset_path 'testimonial-image.jpg' %>" class="img-fluid">
                            <div class="prjt-lauchbook">
                                <a href="javascript:;" class="text-center"><i class="fa fa-play fill-white me-3"></i>Launchbook</a>
                            </div>
                            <div class="prjt-banner-info">
                                <p class="img-tag bg-success"><i class="fa fa-chess-queen fill-white"></i>Pre Launch</p>
                                <h1 class="prjt-info-title">34 Park Estate</h1>
                                <p class="prjt-banner-title">Embassy Developers</p>
                                <p class="prjt-interest"><span><i class="fa fa-heart fill-danger"></i></span>You and 89 partners are interested</p>
                                
                                <p class="prjt-location"><span><i class="fa fa-map-marker-alt fill-theme"></i></span>Khar West, Mumbai
                                    <a href="javascript:;" class="prjt-share-location">Share location</a>
                                </p>
                                <div class="prjt-info-footer mt-3 text-center">
                                    <p>
                                        <span>99.3 L - 4.4 Cr</span>
                                        <span>Property Value</span>
                                    </p>
                                    <p>
                                        <span>23rd Jan,2020</span>
                                        <span>Possession Date</span>
                                    </p>
                                </div>
                            </div>
                            <div class="prjt-tab col-lg-12">
                                <nav id="prjt-menu">
                                    <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="nav-overview-tab"  href="#nav-overview">Overview</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="nav-towers-tab" href="#nav-towers">Towers</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="nav-collaterals-tab"  href="#nav-collaterals">Collaterals</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="nav-amenities-tab"  href="#nav-amenities">Amenities</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="nav-specifications-tab"  href="#nav-specifications">Specifications</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="nav-timeline-tab"  href="#nav-timeline">Project Timeline</a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="prjt-content-list col-lg-12" id="nav-tabContent">
                                  <div class="tab-pane" id="nav-overview">
                                      <div class="tab-inner px-3 py-3 active">
                                        <h3 class="tab-title">About Project</h3>
                                        <ul class="project-list list-unstyled row">
                                            <li class="col-lg-6">
                                                <label>Walk Ins</label>
                                                <p>42<span>/120</span></p>
                                            </li>
                                            <li class="col-lg-6">
                                                <label>Bookings</label>
                                                <p>24<span>/120</span></p>
                                            </li>
                                            <li class="col-lg-6">
                                                <label>Registrations</label>
                                                <p>12<span>/120</span></p>
                                            </li>
                                            <li class="col-lg-6">
                                                <label>Property Value</label>
                                                <p>99.3 L - 4.4 Cr</p>
                                            </li>
                                            <li class="col-lg-6">
                                                <label>Possession Date</label>
                                                <p>23rd Jan,2020</p>
                                            </li>
                                        </ul>
                                      </div>
                                  </div>
                                  <div class="tab-pane" id="nav-towers">
                                    <div class="towers-tab-wrap">
                                        <div class="left-tower-tab">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="javascript:;" class="tab-link active" rel="tower-1">
                                                        <span class="tower-icon"><i class="fa fa-building fill-theme"></i></span>
                                                        <span class="tower-title">
                                                            <span class="title-inner">Tower Casa Uno</span>
                                                            <span class="tower-floor">26 Floors</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="tab-link" rel="tower-2">
                                                        <span class="tower-icon"><i class="fa fa-building fill-theme"></i></span>
                                                        <span class="tower-title">
                                                            <span class="title-inner">Tower Casa Uno</span>
                                                            <span class="tower-floor">26 Floors</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="tab-link" rel="tower-3">
                                                        <span class="tower-icon"><i class="fa fa-building fill-theme"></i></span>
                                                        <span class="tower-title">
                                                            <span class="title-inner">Tower Casa Uno</span>
                                                            <span class="tower-floor">26 Floors</span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="right-tower-tab">
                                            <div class="tab-content">
                                                <div class="tab-inner active" id="tower-1">
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <h2>Select Type</h2>
                                                            <div class="tower-type">
                                                                <a href="javascript:;" class="active" rel="type-bhk-1">1 BHK (890 sq.ft)</a>
                                                                <a href="javascript:;" class="" rel="type-bhk-1">2 BHK (1190 sq.ft)</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <h3>EMI's starting at</h3>
                                                            <p class="emi-amount">₹ 25,000 <span>/month</span></p>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="tab-content br-1 br-rd-8 py-1">
                                                                <div class="tab-inner active" id="type-bhk-1">
                                                                    <img src="<%= asset_path 'apartment-plan.png' %>" class="plan-img">
                                                                </div>
                                                                <div class="tab-inner" id="type-bhk-1">
                                                                    <img src="<%= asset_path 'apartment-plan.png' %>" class="plan-img">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="tower-desc-wrap mt-3">
                                                            <table width="100%">
                                                                <tr>
                                                                    <td>
                                                                        <p class="td-title">Tower Casa Uno</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="interest-title text-end"><i class="fa fa-eye fill-theme-light "></i>20 Interests</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="pt-2 pb-2 tbl-br-1">
                                                                        <p class="value-title">1 BHK · 890 Sq Ft</p>
                                                                    </td>
                                                                    <td class="text-end pt-2 pb-2 tbl-br-1">
                                                                        <a href="javascript:;" class="view-cost-sheet">View Cost Sheet</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="pt-2">
                                                                        <p class="value-title">Agreement Value</p>
                                                                    </td>
                                                                    <td class="pt-2">
                                                                        <p class="amount">₹ 93,00,000</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <p class="value-title">Stamp Duty (5%)</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="amount">₹  4,65,000</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <p class="value-title">Registration</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="amount">₹ 40,000</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <p class="value-title">GST (5%)</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="amount">₹ 4,65,000</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <p class="value-title tbl-br-1 pb-1">Society Charges</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="amount tbl-br-1 pb-1">₹ 50,620</p>
                                                                    </td>
                                                                </tr>
                                                                <tr class="total tbl-br-1">
                                                                    <td>
                                                                        <p class="value-title">Total</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="amount">₹ 1,03,30,620</p>
                                                                    </td>
                                                                </tr>
                                                                <tr class="total">
                                                                    <td>
                                                                        <p class="value-title"><i class="fa fa-money me-2"></i>Brokerage Potential</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="amount">₹ 93,000</p>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="tab-pane" id="nav-collaterals">
                                      <div class="collaterals-tab-wrap tab-inner-wrap">
                                        <h2>Images <a href="javascript:;" class="ms-2"><i class="fa fa-share-alt fill-theme"></i></a></h2>
                                        <ul class="collaterals-list">
                                            <li>
                                                <img src="<%= asset_path 'search-home-img.png' %>">
                                            </li>
                                            <li>
                                                <img src="<%= asset_path 'search-home-img.png' %>">
                                            </li>
                                            <li>
                                                <img src="<%= asset_path 'search-home-img.png' %>">
                                            </li>
                                            <li>
                                                <img src="<%= asset_path 'search-home-img.png' %>">
                                            </li>
                                            <li>
                                                <img src="<%= asset_path 'search-home-img.png' %>">
                                            </li>
                                        </ul>
                                        <h2>Videos <a href="javascript:;" class="ms-2"><i class="fa fa-share-alt fill-theme"></i></a></h2>
                                        <ul class="collaterals-list">
                                            <li>
                                                <div class="prjt-video">
                                                    <img src="<%= asset_path 'search-home-img.png' %>">
                                                    <a href="javascript:;"><i class="fa fa-play-circle"></i></a>
                                                    <div class="video-info">
                                                        <span>Home overvi..</span>
                                                        <span class="video-download"><i class="fa fa-download"></i></span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="prjt-video">
                                                    <img src="<%= asset_path 'search-home-img.png' %>">
                                                    <a href="javascript:;"><i class="fa fa-play-circle"></i></a>
                                                    <div class="video-info">
                                                        <span>Floor Plan</span>
                                                        <span class="video-download"><i class="fa fa-download"></i></span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <h2>Documents <a href="javascript:;" class="ms-2"><i class="fa fa-share-alt fill-theme"></i></a></h2>
                                        <ul class="collaterals-list">
                                            <li>

                                            </li>
                                        </ul>
                                      </div>
                                  </div>
                                  <div class="tab-pane" id="nav-amenities">
                                      <div class="amenities-tab-wrap tab-inner-wrap">
                                        <h2>Customer Favorite</h2>
                                        <ul class="amenities-list">
                                            <li>
                                                <div class="inner-img">
                                                    <img src="<%= asset_path 'home-new-banner.jpg' %>">
                                                    <p>Table Tennis Court</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="inner-img">
                                                    <img src="<%= asset_path 'home-new-banner.jpg' %>">
                                                    <p>Movie Theatre</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="inner-img">
                                                    <img src="<%= asset_path 'home-new-banner.jpg' %>">
                                                    <p>Gym</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="inner-img">
                                                    <img src="<%= asset_path 'home-new-banner.jpg' %>">
                                                    <p>Swimming Pool</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <h2 class="mt-4">Other Amenities</h2>
                                        <ul class="other-amenities">
                                            <li>
                                                <p>Security</p>
                                            </li>
                                            <li>
                                                <p>Pre school</p>
                                            </li>
                                            <li>
                                                <p>Chemists</p>
                                            </li>
                                            <li>
                                                <p>Stadium</p>
                                            </li>
                                            <li>
                                                <p>Generator Backup</p>
                                            </li>
                                            <li>
                                                <p>24/7 Water Supply</p>
                                            </li>
                                            <li>
                                                <p>Lift</p>
                                            </li>
                                            <li>
                                                <p>General Stores</p>
                                            </li>
                                            <li>
                                                <p>Hotels</p>
                                            </li>
                                        </ul>
                                    </div>
                                  </div>
                                  <div class="tab-pane" id="nav-specifications">
                                      <div class="specifications-tab-wrap">
                                        <p>Your desire to stand apart, is closer than you think! Live in trendy homes that have been smartly designed; just for you! Smaller passages and larger rooms. Because we know you spend 98% more time in your rooms than in the passages.</p>
                                        <div class="row mt-4">
                                            <div class="col-lg-6 mb-3">
                                                <h3>STRUCTURE</h3>
                                                <p>Earthquake Resistant</p>
                                                <p>Internal Gypsum Finish Plaster, External Sand Finish Plaster</p>
                                            </div>
                                            <div class="col-lg-6 mb-3">
                                                <h3>PAINTING</h3>
                                                <p>Premium Quality Internal Paint</p>
                                                <p>Semi Acrylic External Paint</p>
                                            </div>
                                            <div class="col-lg-6 mb-3">
                                                <h3>FLOORING</h3>
                                                <p>2*2 Vitrified Tiles</p>
                                                <p>Antiskid Wooden Finish Tiles in Terrace</p>
                                                <p>Toilets-Designer Glazed Tiles, Anti-Tiles for Flooring</p>
                                                <p>Solar Water Heater</p>
                                                <p>2*2 Wooden Finish Vitrified Tiles in Bedrooms</p>
                                            </div>
                                            <div class="col-lg-6 mb-3">
                                                <h3>TOILETS</h3>
                                                <p>Designer Glazed Dado Tiles, Antiskid Tiles for Flooring</p>
                                                <p>Provision for Exhaust Fan in Toilets</p>
                                                <p>Provision For Solar and Geyser in Master Toilet</p>
                                                <p>Branded Sanitary Ware</p>
                                                <p>Good Quality CP Fittings</p>
                                            </div>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="tab-pane" id="nav-timeline">
                                    <div class="timeline-wrap">
                                        <div class="single-timeline">
                                            <h2>December 2020</h2>
                                            <ul>
                                                <li>
                                                    <span class="circle-icon"></span>
                                                    <div class="timeline-inner">
                                                        <p>RERA approval</p>
                                                        <span>RERA number: 140608383</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="circle-icon"></span>
                                                    <div class="timeline-inner">
                                                        <p>Application for RERA</p>
                                                        <span>RERA number: 140608383</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div> 
                                        <div class="single-timeline">
                                            <h2>April 2019</h2>
                                            <ul>
                                                <li>
                                                    <span class="circle-icon"></span>
                                                    <div class="timeline-inner">
                                                        <p>Excavation</p>
                                                        <span>Tower 1, Tower 2 Completed</span>
                                                        <a href="javascript:;">View</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div> 
                                        <div class="single-timeline">
                                            <h2>January 2019</h2>
                                            <ul>
                                                <li>
                                                    <span class="circle-icon"></span>
                                                    <div class="timeline-inner">
                                                        <p>Plaint completed</p>
                                                        <span>Tower 1, Tower 2 Completed</span>
                                                        <a href="javascript:;">View</a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="circle-icon"></span>
                                                    <div class="timeline-inner">
                                                        <p>Amenities are ready</p>
                                                        <span>Swimming Pool</span>
                                                        <a href="javascript:;">View</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div> 

                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="prjt-inner-box">
                    <div class="prjt-details-header col-12 float-start bt-br mb-3">
                        <div class="col-6 float-start text-start">
                            <h1>Oberoi Sky City</h1>
                            <p class="prjt-devlprs mb-2">Embassy Developers</p>
                            <p class="prjt-location"><i class="fa fa-map-marker-alt me-2"></i>Goregoan West, Mumbai</p>
                        </div>
                        <div class="col-6 float-end text-end pt-3">
                            <a href="javascript:;" class="prjt-lauchbook"><i class="fa fa-lock fill-theme me-3"></i>Launchbook</a>
                            <div class="prjt-share-save pt-4">
                                <a href="javascript:;" class="share-location me-3"><i class="fa fa-share-alt fill-theme me-2"></i>Share location</a>
                                <a href="javascript:;" class="prjt-save"><i class="fa fa-heart fill-theme me-2"></i>Save</a>
                            </div>
                        </div>
                    </div>
                    <div class="prjt-gallery pb-3 col-12 float-start">
                        <div class="prjt-gallery-inner">
                            <ul>
                                <li>
                                    <img src="<%= asset_path 'Celestial-City.jpg' %>" class="img-fluid">
                                </li>
                                <li>
                                    <img src="<%= asset_path 'Celestial-City.jpg' %>" class="img-fluid">
                                </li>
                                <li>
                                    <img src="<%= asset_path 'Celestial-City.jpg' %>" class="img-fluid">
                                </li>
                                <li>
                                    <img src="<%= asset_path 'Celestial-City.jpg' %>" class="img-fluid">
                                </li>
                                <li>
                                    <img src="<%= asset_path 'Celestial-City.jpg' %>" class="img-fluid">
                                </li>
                                <li class="more-img">
                                    <img src="<%= asset_path 'Celestial-City.jpg' %>" class="img-fluid">
                                    <p>+ 12</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="prjt-desc-box col-12 float-start">
                        <div class="prjt-desc-tab  col-12 float-start">
                            <nav class="prjt-menu col-12 float-start">
                                <ul class="" id="nav-tab" role="tablist">
                                    <li class="">
                                        <a class="active" id="nav-overview-tab" href="javascript:;" rel="tab-overview">Overview</a>
                                    </li>
                                    <li class="">
                                        <a class="" id="nav-location-tab" href="javascript:;" rel="tab-location">Location</a>
                                    </li>
                                    <li class="">
                                        <a class="" id="nav-configure-tab" href="javascript:;" rel="tab-configure">Configurations</a>
                                    </li>
                                    <li class="">
                                        <a class="" id="nav-collaterals-tab" href="javascript:;" rel="tab-collaterals">Collaterals</a>
                                    </li>
                                    <li class="">
                                        <a class="" id="nav-amenities-tab" href="javascript:;" rel="tab-amenities">Amenities</a>
                                    </li>
                                    <li class="">
                                        <a class="" id="nav-specifications-tab" href="javascript:;" rel="tab-specifications">Specifications</a>
                                    </li>
                                    <li class="">
                                        <a class="" id="nav-timeline-tab" href="javascript:;" rel="tab-timeline">Project Timeline</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="prjt-desc-tab-wrap col-12 float-start">
                            <div class="prjt-desc-tab col-12 bt-br float-start" id="tab-overview">
                                <div class="tab-header">
                                    <h2 class="tab-title">Overview</h2>
                                </div>
                                <div class="tab-body pt-2">
                                    <div class="col-5 overview-left float-start">
                                        <p>
                                            <span>Configuration</span>
                                            1 & 2 BHK Flats | 1034 - 1427 sqft
                                        </p>
                                        <p>
                                            <span>Property Value</span>
                                            99.3 L - 4.4 Cr
                                        </p>
                                        <p>
                                            <span>Possession Date</span>
                                            23rd Jan, 2020
                                        </p>
                                    </div>
                                    <div class="col-7 ps-3 overview-desc float-end">
                                        <p>Oberoi Realty presents Sky City at Borivali, a design revelation offering masterfully crafted homes. Sky City offers thoughtfully chosen amenities, grand design aesthetics, beautifully carved out landscapes and acres of open spaces where residents can mingle with a discerning community and soak in the finest luxury.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="prjt-desc-tab bt-br col-12 pt-4 pb-4 float-start" id="tab-location">
                                <div class="tab-header col-12 float-start">
                                    <h2 class="tab-title float-start">Location</h2>
                                    <a href="javascript:;" class="location-share float-end"><i class="fa fa-share-alt fill-primary me-2"></i>Share location</a>
                                </div>
                                <div class="tab-body col-12 float-start pt-3">
                                    <div class="col-6 float-start">
                                        <div class="location-list">
                                            <p><i class="fa fa-map-marker-alt me-2"></i>Goregoan West, Mumbai</p>
                                            <ul>
                                                <li>
                                                    <p><span>0.2 km</span> Upcoming Mall And Theatre</p>
                                                </li>
                                                <li>
                                                    <p><span>0.2 km</span> Upcoming Mall And Theatre</p>
                                                </li>
                                                <li>
                                                    <p><span>0.2 km</span> Upcoming Mall And Theatre</p>
                                                </li>
                                                <li>
                                                    <p><span>0.2 km</span> Upcoming Mall And Theatre</p>
                                                </li>
                                                <li>
                                                    <p><span>0.2 km</span> Upcoming Mall And Theatre</p>
                                                </li>
                                                <li>
                                                    <p><span>0.2 km</span> Upcoming Mall And Theatre</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-6  float-end">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15069.598151176102!2d72.8612272!3d19.2214116!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb2ecac9beb577d5!2sSky%20City%20by%20Oberoi%20Realty!5e0!3m2!1sen!2sin!4v1625217784455!5m2!1sen!2sin" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" class="float-end"></iframe>
                                    </div>  
                                </div>
                            </div>

                            <div class="prjt-desc-tab col-12 pt-4 float-start" id="tab-configure">
                                <div class="tab-header col-12 float-start">
                                    <h2 class="tab-title float-start">Configurations</h2>
                                    <p class="float-end">EMI's starting at <strong>₹ 25,000</strong> /month</p>
                                </div>
                                <div class="tab-body col-12 float-start">
                                    <div class="col-12">
                                        <div class="prjt-configure-list">
                                            <h2>Select Type</h2>
                                            <div class="tower-type tab-link">
                                                <a href="javascript:;" class="active" rel="type-bhk-1">1 BHK | (1034 sq.ft)</a>
                                                <a href="javascript:;" class="" rel="type-bhk-11">1 BHK | (1427 sq.ft)</a>
                                                <a href="javascript:;" class="" rel="type-bhk-2">2 BHK | (1427 sq.ft)</a>
                                            </div>                                          
                                        </div>
                                    </div>
                                    <div class="col-12 float-start configration-tab">
                                        <div class="tab-content br-1 br-rd-8 py-1">
                                            <div class="tab-inner active" id="type-bhk-1">
                                                <div class="col-5 float-start">
                                                    <img src="<%= asset_path 'apartment-plan.png' %>" class="plan-img img-fluid">
                                                    <p class="ps-2"><i class="fa fa-eye me-2"></i>220 Interests</p>
                                                </div>
                                                <div class="col-7 float-end">
                                                    <div class="prjt-config-info mt-3 pe-3">
                                                        <div class="left-info col-12 float-start pb-2">
                                                            <span><i class="fa fa-building"></i></span>
                                                            <div class="prjt-info">
                                                                <p>Tower Casa Uno</p>
                                                                <span>26 Floors | 2 Apartments per floor</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 float-start">
                                                            <p class="prjt-short-info">1 BHK (1034 sq.ft) ₹ 93,00,000</p>
                                                        </div>
                                                        <div class="col-6 float-end">
                                                            <a href="javascript:;" class="cost-sheet-btn float-end">View Cost Sheet</a>
                                                        </div>
                                                        <div class="col-12 bt-bt mt-3 float-start pt-2">
                                                            <div class="col-6 float-start">
                                                                <p class="points-list-title">Uniques Selling Points</p>
                                                            </div>
                                                            <div class="col-6 float-end">
                                                                <a href="javascript:;" class="float-end view-all-btn">View All</a>
                                                            </div>
                                                            <ul class="points-list col-12 float-start">
                                                                <li>
                                                                    <p>26 Floors | 2 Apartments per floor</p>
                                                                </li>
                                                                <li>
                                                                    <p>26 Floors | 2 Apartments per floor</p>
                                                                </li>
                                                                <li>
                                                                    <p>26 Floors | 2 Apartments per floor</p>
                                                                </li>
                                                                <li>
                                                                    <p>26 Floors | 2 Apartments per floor</p>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>  
                                            </div>
                                            <div class="tab-inner" id="type-bhk-11">
                                                <div class="col-5 float-start">
                                                    <img src="<%= asset_path 'apartment-plan.png' %>" class="plan-img img-fluid">
                                                    <p class="ps-2"><i class="fa fa-eye me-2"></i>220 Interests</p>
                                                </div>
                                                <div class="col-7 float-end">
                                                    <div class="prjt-config-info mt-3 pe-3">
                                                        <div class="left-info col-12 float-start pb-2">
                                                            <span><i class="fa fa-building"></i></span>
                                                            <div class="prjt-info">
                                                                <p>Tower Casa Uno</p>
                                                                <span>26 Floors | 2 Apartments per floor</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 float-start">
                                                            <p class="prjt-short-info">1 BHK (1427 sq.ft) ₹ 1,03,00,000</p>
                                                        </div>
                                                        <div class="col-6 float-end">
                                                            <a href="javascript:;" class="cost-sheet-btn float-end">View Cost Sheet</a>
                                                        </div>
                                                        <div class="col-12 bt-bt mt-3 float-start pt-2">
                                                            <div class="col-6 float-start">
                                                                <p class="points-list-title">Uniques Selling Points</p>
                                                            </div>
                                                            <div class="col-6 float-end">
                                                                <a href="javascript:;" class="float-end view-all-btn">View All</a>
                                                            </div>
                                                            <ul class="points-list col-12 float-start">
                                                                <li>
                                                                    <p>26 Floors | 2 Apartments per floor</p>
                                                                </li>
                                                                <li>
                                                                    <p>26 Floors | 2 Apartments per floor</p>
                                                                </li>
                                                                <li>
                                                                    <p>26 Floors | 2 Apartments per floor</p>
                                                                </li>
                                                                <li>
                                                                    <p>26 Floors | 2 Apartments per floor</p>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>  
                                            </div>
                                            <div class="tab-inner" id="type-bhk-2">
                                                <div class="col-5 float-start">
                                                    <img src="<%= asset_path 'apartment-plan.png' %>" class="plan-img img-fluid">
                                                    <p class="ps-2"><i class="fa fa-eye me-2"></i>220 Interests</p>
                                                </div>
                                                <div class="col-7 float-end">
                                                    <div class="prjt-config-info mt-3 pe-3">
                                                        <div class="left-info col-12 float-start pb-2">
                                                            <span><i class="fa fa-building"></i></span>
                                                            <div class="prjt-info">
                                                                <p>Tower Casa Uno</p>
                                                                <span>26 Floors | 2 Apartments per floor</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 float-start">
                                                            <p class="prjt-short-info">2 BHK (1427 sq.ft) ₹ 1,20,00,000</p>
                                                        </div>
                                                        <div class="col-6 float-end">
                                                            <a href="javascript:;" class="cost-sheet-btn float-end">View Cost Sheet</a>
                                                        </div>
                                                        <div class="col-12 bt-bt mt-3 float-start pt-2">
                                                            <div class="col-6 float-start">
                                                                <p class="points-list-title">Uniques Selling Points</p>
                                                            </div>
                                                            <div class="col-6 float-end">
                                                                <a href="javascript:;" class="float-end view-all-btn">View All</a>
                                                            </div>
                                                            <ul class="points-list col-12 float-start">
                                                                <li>
                                                                    <p>26 Floors | 2 Apartments per floor</p>
                                                                </li>
                                                                <li>
                                                                    <p>26 Floors | 2 Apartments per floor</p>
                                                                </li>
                                                                <li>
                                                                    <p>26 Floors | 2 Apartments per floor</p>
                                                                </li>
                                                                <li>
                                                                    <p>26 Floors | 2 Apartments per floor</p>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>

                            <div class="prjt-desc-tab col-12 bt-bt float-start" id="tab-collaterals">
                                <div class="tab-header col-12 float-start">
                                    <h2 class="tab-title float-start">Collaterals</h2>
                                    <a href="javascript:;" class="location-share float-end mt-2"><i class="fa fa-share-alt fill-primary me-2"></i>Share collaterals</a>
                                </div>
                                <div class="tab-body">
                                    <div class="col-12 mb-3 float-start">
                                        <div class="prjt-gallery">
                                            <h2>Gallery</h2>
                                            <div class="prjt-gallery-inner">
                                                <ul>
                                                    <li>
                                                        <img src="<%= asset_path 'Celestial-City.jpg' %>" class="img-fluid">
                                                    </li>
                                                    <li>
                                                        <img src="<%= asset_path 'Celestial-City.jpg' %>" class="img-fluid">
                                                    </li>
                                                    <li>
                                                        <img src="<%= asset_path 'Celestial-City.jpg' %>" class="img-fluid">
                                                    </li>
                                                    <li>
                                                        <img src="<%= asset_path 'Celestial-City.jpg' %>" class="img-fluid">
                                                    </li>
                                                    <li>
                                                        <img src="<%= asset_path 'Celestial-City.jpg' %>" class="img-fluid">
                                                    </li>
                                                    <li class="more-img">
                                                        <img src="<%= asset_path 'Celestial-City.jpg' %>" class="img-fluid">
                                                        <p>+ 12</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-12 mb-3 float-start">
                                        <div class="prjt-gallery">
                                            <h2>Video</h2>
                                            <ul class="collaterals-list">
                                                <li>
                                                    <div class="prjt-video">
                                                        <img src="<%= asset_path 'search-home-img.png' %>" class="img-fluid">
                                                        <a href="javascript:;"><i class="fa fa-play-circle"></i></a>
                                                        <div class="video-info">
                                                            <span>Home overvi..</span>
                                                            <span class="video-download">
                                                                <i class="fa fa-download"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="prjt-video">
                                                        <img src="<%= asset_path 'search-home-img.png' %>" class="img-fluid">
                                                        <a href="javascript:;"><i class="fa fa-play-circle"></i></a>
                                                        <div class="video-info">
                                                            <span>Floor Plan</span>
                                                            <span class="video-download">
                                                                <i class="fa fa-download"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                     <div class="col-12 mb-3 float-start">
                                        <div class="prjt-gallery">
                                            <h2>Documents</h2>
                                            <ul class="documents-list">
                                                <li>
                                                    <div class="docs-wrap">
                                                        <div class="docs-icon">
                                                            <img src="<%= asset_path 'pdf-icon.png' %>" class="img-fluid"> 
                                                        </div>
                                                        <div class="docs-info">
                                                            <span>Home overvi..</span>
                                                            <span class="video-download">
                                                                <i class="fa fa-download"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="docs-wrap">
                                                        <div class="docs-icon">
                                                            <img src="<%= asset_path 'docs-icon.png' %>" class="img-fluid">
                                                        </div>
                                                        <div class="docs-info">
                                                            <span>Floor Plan</span>
                                                            <span class="video-download">
                                                                <i class="fa fa-download"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="docs-wrap">
                                                        <div class="docs-icon">
                                                            <img src="<%= asset_path 'excel-icon.png' %>" class="img-fluid">
                                                        </div>
                                                        <div class="docs-info">
                                                            <span>Booking Details</span>
                                                            <span class="video-download">
                                                                <i class="fa fa-download"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="docs-wrap">
                                                        <div class="docs-icon">
                                                            <img src="<%= asset_path 'ppt-icon.png' %>" class="img-fluid">
                                                            <div class="docs-info
                                                        </div>">
                                                            <span>Floor Plan</span>
                                                            <span class="video-download">
                                                                <i class="fa fa-download"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="prjt-desc-tab col-12 bt-bt float-start" id="tab-amenities">
                                <div class="tab-header col-12 float-start">
                                    <h2 class="tab-title float-start">Amenities</h2>
                                    <p class="drop-amenities float-end">
                                        <span>Now Showing:</span>
                                        <select>
                                            <option>All Amenities</option>
                                            <option>Amenities</option>
                                            <option>Amenities</option>
                                        </select>
                                    </p>
                                </div>
                                <div class="tab-body">
                                    <div class="col-12">
                                        <div class="amenities-list">
                                            <ul class="">
                                                <li>
                                                    <div class="amenities-wrap">
                                                        <span>
                                                            <img src="<%= asset_path 'cp-ex-feat-01.svg' %>">
                                                        </span>
                                                        <p>Security</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="amenities-wrap">
                                                        <span>
                                                            <img src="<%= asset_path 'cp-ex-feat-01.svg' %>">
                                                        </span>
                                                        <p>24/7 Water Supply</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="amenities-wrap">
                                                        <span>
                                                            <img src="<%= asset_path 'cp-ex-feat-01.svg' %>">
                                                        </span>
                                                        <p>Chemists</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="amenities-wrap">
                                                        <span>
                                                            <img src="<%= asset_path 'cp-ex-feat-01.svg' %>">
                                                        </span>
                                                        <p>Generator Backup</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="amenities-wrap">
                                                        <span>
                                                            <img src="<%= asset_path 'cp-ex-feat-01.svg' %>">
                                                        </span>
                                                        <p>General Stores</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="amenities-wrap">
                                                        <span>
                                                            <img src="<%= asset_path 'cp-ex-feat-01.svg' %>">
                                                        </span>
                                                        <p>Hotels</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="amenities-wrap">
                                                        <span>
                                                            <img src="<%= asset_path 'cp-ex-feat-01.svg' %>">
                                                        </span>
                                                        <p>Stadium</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="prjt-desc-tab col-12 bt-bt float-start" id="tab-specifications">
                                <div class="tab-header col-12 float-start">
                                    <h2 class="tab-title">Specifications</h2>
                                </div>
                                    <div class="tab-body">
                                        <div class="col-12">
                                            <div class="specifications-tab-wrap">
                                                <p>Your desire to stand apart, is closer than you think! Live in trendy homes that have been smartly designed; just for you! Smaller passages and larger rooms. Because we know you spend 98% more time in your rooms than in the passages.</p>
                                                <div class="row mt-4">
                                                    <div class="col-lg-6 mb-3">
                                                        <h3>STRUCTURE</h3>
                                                        <p>Earthquake Resistant</p>
                                                        <p>Internal Gypsum Finish Plaster, External Sand Finish Plaster</p>
                                                    </div>
                                                    <div class="col-lg-6 mb-3">
                                                        <h3>PAINTING</h3>
                                                        <p>Premium Quality Internal Paint</p>
                                                        <p>Semi Acrylic External Paint</p>
                                                    </div>
                                                    <div class="col-lg-6 mb-3">
                                                        <h3>FLOORING</h3>
                                                        <p>2*2 Vitrified Tiles</p>
                                                        <p>Antiskid Wooden Finish Tiles in Terrace</p>
                                                        <p>Toilets-Designer Glazed Tiles, Anti-Tiles for Flooring</p>
                                                        <p>Solar Water Heater</p>
                                                        <p>2*2 Wooden Finish Vitrified Tiles in Bedrooms</p>
                                                    </div>
                                                    <div class="col-lg-6 mb-3">
                                                        <h3>TOILETS</h3>
                                                        <p>Designer Glazed Dado Tiles, Antiskid Tiles for Flooring</p>
                                                        <p>Provision for Exhaust Fan in Toilets</p>
                                                        <p>Provision For Solar and Geyser in Master Toilet</p>
                                                        <p>Branded Sanitary Ware</p>
                                                        <p>Good Quality CP Fittings</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            <div class="prjt-desc-tab col-12 bt-bt float-start" id="tab-timeline">
                                <div class="tab-header col-12 float-start pb-3">
                                    <h2 class="tab-title">Project Timeline</h2>
                                </div>
                                <div class="tab-body pb-5">
                                    <div class="col-12 float-start pb-5">
                                        <div class="prjt-current-status position-relative pb-5">
                                            <div class="line">
                                                <span class="inner-line"></span>
                                            </div>
                                            <div class="current-status-tooltip">
                                                <p>Current Status: Ongoing</p>
                                            </div>
                                            <div class="prjt-start">
                                                <p>
                                                    <span>Feb 2019</span>
                                                    <span>Started</span>
                                                </p>
                                            </div>
                                            <div class="prjt-status">
                                                <p>
                                                    <span>Jan 2022</span>
                                                    <span>Under Construction</span>
                                                </p>
                                            </div>
                                            <div class="prjt-end">
                                                <p>
                                                    <span>Jun 2023</span>
                                                    <span>Possession</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-footer pt-5">
                                    <div class="prjt-progress col-12 float-start">
                                        <p class="float-start">Construction Progress</p>
                                        <select class="float-end">
                                            <option>Tower Casa Uno</option>
                                        </select>
                                    </div>
                                    <div class="prjt-progress-list col-12 float-start">
                                        <div class="col-xl-12 mt-1 mb-4">
                                            <p class="small mb-0">Internal Finishing <span class="float-end f-14 theme-light-color">0%</span></p>
                                            <div class="progress mb-0 height-05">
                                                <div class="progress-bar bg-purple progress-bar-animated" role="progressbar" style="width:73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 mt-1 mb-4">
                                            <p class="small mb-0">Internal Finishing <span class="float-end f-14 theme-light-color">0%</span></p>
                                            <div class="progress mb-0 height-05">
                                                <div class="progress-bar bg-purple progress-bar-animated" role="progressbar" style="width:73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 mt-1 mb-4">
                                            <p class="small mb-0">Internal Finishing <span class="float-end f-14 theme-light-color">0%</span></p>
                                            <div class="progress mb-0 height-05">
                                                <div class="progress-bar bg-purple progress-bar-animated" role="progressbar" style="width:73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 mt-1 mb-4">
                                            <p class="small mb-0">Internal Finishing <span class="float-end f-14 theme-light-color">0%</span></p>
                                            <div class="progress mb-0 height-05">
                                                <div class="progress-bar bg-purple progress-bar-animated" role="progressbar" style="width:73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- Newly Launched ---------->

                <div class="row">
                    <div class="col-lg-12 mt-5 mb-3">
                        <h2 class="sec-title">Similar Projects to Embassy Developers</h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="project-wrap br-rd-8 card-shadow">
                            <div class="project-list row">
                                <div class="project-img col-lg-4">
                                    <img src="<%= asset_path 'project-item-image.jpg' %>" class="img-fluid">
                                    <!-- <p class="img-tag bg-danger"><i class="fa fa-fire fill-white"></i>Just Launch</p> -->
                                </div>
                                <div class="project-info col-lg-8">
                                    <div class="project-info-inner">
                                        <h2 class="prjt-title">34 Park Estate</h2>
                                        <p class="prjt-devlprs">Embassy Developers</p>
                                        <p class="prjt-location"><i class="fa fa-map-marker-alt fill-white"></i>Khar West, Mumbai</p>
                                    </div>
                                    <div class="project-info-outer px-3">
                                        <div class="row">
                                            <div class="col-lg-1 ps-0 pe-0">
                                                <i class="fa fa-fire fill-danger"></i>
                                            </div>
                                            <div class="col-lg-11 pe-2 ps-3">
                                                <p class="list-txt project-deal mb-2">Hot Deal</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="project-wrap br-rd-8 card-shadow">
                            <div class="project-list row">
                                <div class="project-img col-lg-4">
                                    <img src="<%= asset_path 'project-item-image.jpg' %>" class="img-fluid">
                                    <!-- <p class="img-tag bg-danger"><i class="fa fa-fire fill-white"></i>Just Launch</p> -->
                                </div>
                                <div class="project-info col-lg-8">
                                    <div class="project-info-inner">
                                        <h2 class="prjt-title">34 Park Estate</h2>
                                        <p class="prjt-devlprs">Embassy Developers</p>
                                        <p class="prjt-location"><i class="fa fa-map-marker-alt fill-white"></i>Khar West, Mumbai</p>
                                    </div>
                                    <div class="project-info-outer px-3">
                                        <div class="row">
                                            <div class="col-lg-1 ps-0 pe-0">
                                                <i class="fa fa-fire fill-danger"></i>
                                            </div>
                                            <div class="col-lg-11 pe-2 ps-3">
                                                <p class="list-txt project-deal mb-2">Hot Deal</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="row mb-5">
                    <div class="col-lg-12 mt-5 mb-3">
                        <h2 class="sec-title">Other projects by Embassy</h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="project-wrap br-rd-8 card-shadow">
                            <div class="project-list row">
                                <div class="project-img">
                                    <img src="<%= asset_path 'project-item-image.jpg' %>" class="img-fluid">
                                    <p class="img-tag bg-danger"><i class="fa fa-fire fill-white"></i>Just Launch</p>
                                </div>
                                <div class="project-info">
                                    <div class="project-info-inner">
                                        <h2 class="prjt-title">34 Park Estate</h2>
                                        <p class="prjt-devlprs">Embassy Developers</p>
                                        <p class="prjt-location"><i class="fa fa-map-marker-alt fill-white"></i>Khar West, Mumbai</p>
                                    </div>
                                    <div class="project-info-outer px-3">
                                        <div class="row">
                                            <div class="col-lg-1 ps-0 pe-0">
                                                <i class="fa fa-fire fill-danger"></i>
                                            </div>
                                            <div class="col-lg-11 pe-2 ps-3">
                                                <p class="list-txt project-deal mb-2">Hot Deal</p>
                                                <p class="list-txt project-desc mb-0">2.5% Brokerage incentive on bookings made within the first week of the launch date</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="project-wrap br-rd-8 card-shadow">
                            <div class="project-list row">
                                <div class="project-img">
                                    <img src="<%= asset_path 'project-item-image.jpg' %>" class="img-fluid">
                                    <p class="img-tag bg-danger"><i class="fa fa-fire fill-white"></i>Just Launch</p>
                                </div>
                                <div class="project-info">
                                    <div class="project-info-inner">
                                        <h2 class="prjt-title">34 Park Estate</h2>
                                        <p class="prjt-devlprs">Embassy Developers</p>
                                        <p class="prjt-location"><i class="fa fa-map-marker-alt fill-white"></i>Khar West, Mumbai</p>
                                    </div>
                                    <div class="project-info-outer px-3">
                                        <div class="row">
                                            <div class="col-lg-1 ps-0 pe-0">
                                                <i class="fa fa-fire fill-danger"></i>
                                            </div>
                                            <div class="col-lg-11 pe-2 ps-3">
                                                <p class="list-txt project-deal mb-2">Hot Deal</p>
                                                <p class="list-txt project-desc mb-0">2.5% Brokerage incentive on bookings made within the first week of the launch date</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 prjt-right-panel px-3 mt-2">
                <!-- <div class="card br-rd-8 card-shadow no-br">
                    <div class="row">
                        <div class="col-md-6 pt-3 px-4">
                            <ul class="project-list list-unstyled row mb-0 pb-1">
                                <li class="">
                                    <label>Total Walk Ins</label>
                                    <p class="mb-0">42<span>/120</span></p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 pt-4 px-3">
                            <a href="javascript:;" class="primary theme-btn">Create New Walk In</a>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="card br-rd-8 card-shadow no-br mt-3">
                    <div class="row">
                        <div class="col-md-12 pt-3 px-4">
                            <ul class="project-list list-unstyled row mb-0 pb-1">
                                <li class="">
                                    <div class="float-start">
                                        <label>Matching requirements of customers</label>
                                    </div>
                                    <p class="mb-0 float-start col-lg-6">12</p>
                                    <a href="javascript:;" class="col-lg-6 text-end primary float-end">View All</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <div class="card br-rd-8 card-shadow no-br mt-3 opportunity-card">
                    <div class="row">
                        <div class="col-md-12 pt-3 px-4">
                            <h3 class="card-title">Channel Partner Opportunities</h3>
                            <ul class="project-list list-unstyled row mb-0 pb-1">
                                <li class="px-3">
                                    <div class="list-wrap row">
                                        <div class="col-lg-12">
                                            <p class="list-title mt-2">Hot Deals</p>
                                        </div>
                                        <div class="col-lg-1">
                                            <i class="fa fa-fire fill-danger fa-sm"></i>
                                        </div>
                                        <div class="col-lg-11">
                                            <p class="list-txt mb-0">Flat 3.5% off on properties booked between the Mar 28, 2021 to Apr 1, 2020</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="px-3">
                                    <div class="list-wrap row">
                                        <div class="col-lg-12">
                                            <p class="list-title mt-2">Deals</p>
                                        </div>
                                        <div class="col-lg-1">
                                            <i class="fa fa-fire fill-warning fa-sm"></i>
                                        </div>
                                        <div class="col-lg-11">
                                            <p class="list-txt mb-0">Flat 3.5% off on properties booked between the Mar 28, 2021 to Apr 1, 2020</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="right-box-footer py-3">
                                <p class="mt-2">24 partners are interested</p>
                                <a href="javascript:;" class="primary theme-btn float-end mb-3">I am interested!</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card br-rd-8 card-shadow no-br mt-3 opportunity-card">
                    <div class="row">
                        <div class="col-md-12 pt-3 px-4">
                            <h3 class="card-title">Customers offers</h3>
                            <ul class="project-list list-unstyled row mb-0 pb-1">
                                <li class="px-3">
                                    <div class="list-wrap row">
                                        <div class="col-lg-12">
                                            <p class="list-title mt-2">From Launchpad</p>
                                        </div>
                                        <div class="col-lg-1">
                                            <i class="fa fa-badge-percent fill-success fa-sm"></i>
                                        </div>
                                        <div class="col-lg-11">
                                            <p class="list-txt mb-0">Flat 3.5% off on properties booked between the Mar 28, 2021 to Apr 1, 2020</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="px-3">
                                    <div class="list-wrap row">
                                        <div class="col-lg-12">
                                            <p class="list-title mt-2">From Developers</p>
                                        </div>
                                        <div class="col-lg-1">
                                            <i class="fa fa-badge-percent fill-success fa-sm"></i>
                                        </div>
                                        <div class="col-lg-11">
                                            <p class="list-txt mb-0">Flat 3.5% off on properties booked between the Mar 28, 2021 to Apr 1, 2020</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>