<% labels = I18n.t("mongoid.attributes.upload_error").with_indifferent_access %>
<div class="table-responsive">
<table class='table my-customer-table responsive-tbl caption-top rounded mt-3 mb-0'>
    <thead class="th-default">
      <tr class="bg-gradient-cd white">
        <th><%= labels["row"] %></th>
        <th><%= labels["errors"] %></th>
      </tr>
    </thead>
    <tbody>
      <% upload_errors.each do |upload_error| %>
      <tr>
        <td data-title="<%= labels["row"] %>">
          <%= upload_error.row %>
        </td>
        <td data-title="<%= labels["errors"] %>">
          <%= upload_error.messages.try(:join, '<br/>').html_safe %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-lg-12 py-3 white mb-2 px-2">
  <div class="row">
    <div class="col-lg-6">
      <p class="table-entry">Showing 1 - 5 of <%= @bulk_upload_report.upload_errors.count %> items</p>
    </div>
    <div class="col-lg-6 table-pagination">
      <%= will_paginate upload_errors, list_classes: %w(pagination justify-content-center) %>
    </div>
  </div>
</div>
