<% labels = I18n.t("mongoid.attributes.banner_asset").with_indifferent_access %>
<div class="table-responsive">
  <table class='table my-customer-table table-responsive table-color'>
    <thead class="th-default">
      <tr class="bg-primary white">
        <th><%= labels["uploaded_by_id"] %></th>
        <th><%= labels["banner_image"] %></th>
        <th><%= labels["mobile_banner_image"] %></th>
        <th><%= labels["url"] %></th>
        <th class="btn-action"> </th>
      </tr>
    </thead>
    <tbody>
      <% banner_assets.each do |banner_asset| %>
      <tr>
        <td>
          <%= banner_asset.uploaded_by.name %>
          <div class="small">
            <%= "On: #{banner_asset.created_at.in_time_zone(current_user.time_zone).strftime("%d/%m/%y %I:%M %p")}"%></div>
        </td>
        <td>
          <% if banner_asset.file_name.present? %>
            <%= link_to banner_asset.try(:file_name), banner_asset.try(:banner_image).try(:url), target: "_blank", class: 'theme-txt-color' %>
          <% else %>
            <p>NA</p>
          <% end %>
        </td>
        <td>
          <% if banner_asset.mobile_file_name.present? %>
            <%= link_to banner_asset.try(:mobile_file_name), banner_asset.try(:mobile_banner_image).try(:url), target: "_blank", class: 'theme-txt-color' %>
          <% else %>
            <p>NA</p>
          <% end %>
        </td>
        <td>
          <% if banner_asset.url.present? %>
            <%= link_to banner_asset.try(:url), banner_asset.try(:url), target: "_blank", class: 'theme-txt-color' %>
          <% else %>
            <p>NA</p>
          <% end %>
        </td>
        <td>
          <div class="dropdown d-inline-block top-right-action">
            <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fa fa-ellipsis-v txt-light-blue" aria-hidden="true"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <% if policy([:admin, banner_asset]).edit? %>
                <%= link_to I18n.t("controller.banner_assets.links.edit"), edit_admin_banner_asset_path(banner_asset), class: 'modal-remote-form-link dropdown-item' %>
              <% end %>
              <% if policy([:admin, banner_asset]).destroy? %>
                <%= link_to I18n.t("controller.banner_assets.links.delete"), admin_banner_asset_path(banner_asset), class: 'modal-remote-form-link dropdown-item', method: :delete %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-lg-12 py-3 bg-white mb-2 px-2">
  <div class="row">
    <div class="col-lg-6">
      <p class="table-entry mb-0 ps-2 pt-2"><%= page_entries_info banner_assets %></p>
    </div>
    <div class="col-lg-6 table-pagination">
      <%= will_paginate banner_assets, list_classes: %w(pagination justify-content-end) %>
    </div>
  </div>
</div>
