<% labels = t('mongoid.attributes.sms').with_indifferent_access %>
<div class="filter-inner modal-content ps-2 pe-2 fixed-header-footer">
    <div class="modal-header filter-header">
  <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
  <a href="javascript:;" class="close-filter-btn btn-close"></a>
  </div>
  <%= form_tag url, method: "get", id: "sms_search_form" do %>
    <div class="filter-content modal-body ps-0 pe-0 theme-form">
      <div class="row">
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs[project_id]", t('mongoid.attributes.sms.project_id'), class: "control-label" %>
          <%= select_tag "fltrs[project_id]", options_from_collection_for_select(params[:fltrs].present? ? Project.where(booking_portal_client_id: current_client.try(:id), _id: params[:fltrs][:project_id]) : [], "id", "ds_name", params.dig(:fltrs, :project_id)), {prompt: I18n.t("global.select"), class: "selectize-remote", data: {url: admin_projects_path}} %>
        </div>
        <% unless true #current_user.buyer? %>
          <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
            <%= label_tag "fltrs[to]", labels[:to], class: "control-label" %>
            <%= select_tag "fltrs[to]", options_for_select(policy_scope([:admin, Sms]).pluck(:to).flatten.uniq.each {|x| x}, (params[:fltrs].present? ? params[:fltrs][:to] : "")), {prompt: "Select Contact Number", class: "selectize"} %>
          </div>
        <% end %>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs[status]", labels[:status], class: "control-label" %>
          <%= select_tag "fltrs[status]", options_for_select(Sms::STATUS.collect{|x| [ t("mongoid.attributes.sms/status.#{x}"), x]}, (params[:fltrs].present? ? params[:fltrs][:status] : "")), {prompt: "Select Status", class: "selectize"} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", labels[:sent_on], class: "control-label" %>
          <%= text_field_tag "fltrs[sent_on]", (params[:fltrs].present? ? params[:fltrs][:sent_on] : ""), class: "form-control daterangefilter", data: {locale: {format: "DD/MM/YYYY"}, opens: "left", drops: "up"}, placeholder: 'dd/mm/yyyy - dd/mm/yyyy' %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", labels[:body], class: "control-label" %>
          <%= text_field_tag "fltrs[body]", (params[:fltrs].present? ? params[:fltrs][:body] : ""), {prompt: "Enter Content", class: 'form-control' } %>
        </div>
      </div>
    </div>
    <div class="filter-footer modal-footer text-end">
      <%= submit_tag I18n.t("global.apply"), class: "f-save-btn btn btn-primary fn-500 float-end" %>
      <button type="button" class="f-cancel-btn btn btn-secondary fn-500 float-end"><%= I18n.t("global.cancel") %></button>
    </div>
  <% end %>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#sms_search_form"));
  });
<% end %>
