<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <% labels = t('mongoid.attributes.scheme').with_indifferent_access %>
      <thead>
        <tr class="bg-gradient-cd white">
        <% unless current_user.buyer? %>
          <th>To</th>
        <% end %>
        <td> Content </td>
        <th> Status</th>
        <th> Sent On</th>
        <th>Actions</th>
        </tr>
      </thead>
  </thead>
  <tbody>
    <% @smses.each do |sms| %>
        <tr>
          <% unless current_user.buyer? %>
            <td>
              <% sms.to.each do |s| %>
                <%= link_to s,"javascript:;", data: {toggle: "modal", target: "#sms_show_#{sms.id.to_s}"} %>
              <% end %>
            </td>
          <% end %>
          <td><%= truncate(sms.body, length: 30, separator: '') %></td>
          <td>
            <%= t("smses.status.#{sms.status}") %>
          </td>
          <td>
            <%= sms.sent_on.try(:strftime, '%b %e, %Y, %l:%M %p') || '-' %>
            <div class="modal fade right fixed-header-footer" role="dialog" id="sms_show_<%=sms.id.to_s %>">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="modal-title">SMS</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <% @sms = Sms.find(sms.id) %>
                    <%=render "admin/smses/show",{sms: @sms} %>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
          <div class="dropdown show text-center">
          <a class="btn dropdown-toggle table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Show', "javascript:;", data: {toggle: "modal", target: "#sms_show_#{sms.id.to_s}"}, class: 'dropdown-item' %>
           </div>
        </div>
        </td>
        </tr>
      <% end %>
      <tr>
      <td colspan="6">
        <div class="mt-5 pt-5"></div>
      </td>
    </tr>
  </tbody>
</table>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pt-2">
  <%= will_paginate @smses, list_classes: %w(pagination justify-content-center) %>
</div>
