<div class="container">
  <div class='row'>
    <div class="col-6">
      <span> To: </span>
      <spam><%= "#{sms.recipient.try(:name)}(#{sms.to.join(',')})" %></spam>
    </div>
    <div class="col-6">
      <span> Triggered By : </span>
      <span><%= sms.triggered_by.try(:name) %></span>
    </div>
    <div class="col-6">
      <span> Status :</span>
      <span><%= t("mongoid.attributes.sms/status.#{sms.status}") %></span>
    </div>
    <div class="col-6">
      <span> Sent On :</span>
      <span><%= sms.sent_on.present? ? I18n.l(sms.sent_on.in_time_zone(current_user.time_zone) :  '-'  %></span>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <%#= render 'breadcrumbs', {sms: @sms} %>
      <%= @sms.body.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe %>
    </div>
  </div>
</div>
