<div class="filter-inner modal-content ps-2 pe-2 fixed-header-footer">
    <div class="modal-header filter-header">
  <h5 class="modal-title title">Filter</h5>
  <a href="javascript:;" class="close-filter-btn btn-close"></a>
  </div>
  <%= form_tag admin_leads_path, method: "get", id: "lead_search_form" do %>
    <div class="filter-content modal-body ps-0 pe-0">
      <div class="row">
        <% if !current_user.role.in?(User::CHANNEL_PARTNER_USERS) && policy([current_user_role_group, User]).index? %>
          <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
            <%= label_tag "fltrs", t('mongoid.attributes.user.name_email_phone'), class: "control-label" %>
            <%= select_tag "fltrs[user_id]", options_for_select(filter_user_options), { class: "selectize-remote", data: { url: admin_users_path, params: { fltrs: { role: ::User::BUYER_ROLES }} }} %>
          </div>
        <% end %>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.lead.name_email_phone') %>
          <%= select_tag "fltrs[_id]", options_from_collection_for_select(params[:fltrs].present? ? Lead.where(_id: params[:fltrs][:_id]) : [], "id", "ds_name"), {class: "selectize-remote", data: { url: admin_leads_path } } %>
        </div>
        <% if Crm::Base.where(domain: ENV_CONFIG.dig(:selldo, :base_url)).present? %>
          <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
            <%= label_tag "fltrs", t('mongoid.attributes.lead.lead_id') %>
            <%= number_field_tag "fltrs[lead_id]", (params[:fltrs].present? ? params[:fltrs][:lead_id] : ""), class: "form-control" %>
          </div>
        <% end %>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.lead.stage') %>
          <%= select_tag "fltrs[lead_stage]", options_for_select(Lead.nin(lead_stage: [nil, '']).distinct(:lead_stage).collect{|x| [ t("mongoid.attributes.lead/stage.#{x}"), x.to_s]}, (params[:fltrs].present? ? params[:fltrs][:lead_stage] : "")), { prompt: 'Select', class: "selectize" } %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs[project_id]", t('mongoid.attributes.lead.project_id'), class: "control-label" %>
          <%= select_tag "fltrs[project_id]", options_from_collection_for_select(params[:fltrs].present? ? Project.where(_id: params[:fltrs][:project_id]) : [], "id", "ds_name", params.dig(:fltrs, :project_id)), {prompt: "Select", class: "selectize-remote", data: {url: admin_projects_path}} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.lead.blocking_amount_paid'), class: "control-label" %>
          <%= select_tag "fltrs[blocking_amount]", options_for_select([['Yes', 'yes'], ['No', 'no']], params.dig(:fltrs, :blocking_amount)), {prompt: "Select", class: "selectize"} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.lead.payment_done'), class: "control-label" %>
          <%= select_tag "fltrs[booking_price]", options_for_select([['Yes', 'yes'], ['No', 'no']], params.dig(:fltrs, :booking_price)), {prompt: "Select", class: "selectize"} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.lead.registration_done'), class: "control-label" %>
          <%= select_tag "fltrs[registration_done]", options_for_select([['Yes', 'yes'], ['No', 'no']], params.dig(:fltrs, :registration_done)), {prompt: "Select", class: "selectize"} %>
        </div>
        <% unless current_user.role?('channel_partner') %>
          <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
            <%= label_tag "fltrs", t('mongoid.attributes.lead.manager_id') %>
            <%= select_tag "fltrs[manager_id]", options_from_collection_for_select(params[:fltrs].present? ? User.where(_id: params[:fltrs][:manager_id]) : [], "id", "ds_name"), {class: "selectize-remote", data: {url: admin_users_path, params: {fltrs: { role: ['channel_partner', 'cp_owner'] }}}} %>
          </div>
        <% end %>
        <% unless current_user.role.in?(%w(cp_owner cp channel_partner)) %>
          <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
            <%= label_tag "fltrs", t('mongoid.attributes.user/role.cp') %>
            <%= select_tag "fltrs[cp_manager_id]", options_from_collection_for_select(params[:fltrs].present? ? User.where(_id: params[:fltrs][:cp_manager_id]) : [], "id", "ds_name"), {class: "selectize-remote", data: {url: admin_users_path, params: {fltrs: { role: 'cp' }}}} %>
          </div>
        <% end %>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.user.created_at') %>
          <%= text_field_tag "fltrs[created_at]", (params.dig(:fltrs, :created_at).present? ? params[:fltrs][:created_at] : ""), class: "form-control daterangefilter", data: {locale: {format: "DD/MM/YYYY"}, opens: "left", drops: "up"}, placeholder: 'dd/mm/yyyy - dd/mm/yyyy' %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", 'KYC Done?', class: "control-label" %>
          <%= select_tag "fltrs[kyc_done]", options_for_select([['Yes', 'yes'], ['No', 'no']], params.dig(:fltrs, :kyc_done)), {prompt: "Select", class: "selectize"} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", 'Queue No.', class: "control-label" %>
          <%= number_field_tag "fltrs[queue_number]", (params.dig(:fltrs, :queue_number).present? ? params[:fltrs][:queue_number] : ""), class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="filter-footer modal-footer text-end">
      <%= submit_tag :Apply, class: "btn btn-primary f-save-btn db-small-btn bg-light-blue fn-500 float-end" %>
      <button type="button" class="btn btn-secondary f-cancel-btn float-end">Cancel</button>
    </div>
  <% end %>
</div>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#lead_search_form"));
});
<% end %>
