<section class="mt-0">
  <div class="px-0">
    <div class="row g-0">
      <div class="col-lg-12 p-0 mt-3">
        <table class="table table-responsive table-color">
          <thead>
            <tr>
              <th><%= t('mongoid.attributes.lead.name') %></th>
              <th><%= t('mongoid.attributes.lead.email') %></th>
              <th><%= t('mongoid.attributes.lead.phone') %></th>
              <th><%= t('mongoid.attributes.lead.project_id') %></th>
              <% if policy([:admin, Lead.new]).show_channel_partner_column? %>
                <th><%= t('mongoid.attributes.lead.manager_id') %></th>
              <% end %>
              <% if is_marketplace? %>
                <th><%= t('mongoid.attributes.lead.crm_reference_id') %></th>
              <% end %>
              <% if current_client.real_estate? %>
                <th><%= t('mongoid.attributes.lead.stage') %></th>
                <% unless is_marketplace? %>
                  <th><%= t('mongoid.attributes.lead.blocking_amount_paid') %></th>
                  <th><%= t('mongoid.attributes.lead.payment_done') %></th>
                  <th><%= t('mongoid.attributes.lead.registration_done') %></th>
                <% end %>
              <% end %>
              <th class="btn-action"><%= t('global.action', count:1) %></th>
            </tr>
          </thead>
          <tbody>
            <% leads.each do |lead| %>
              <tr>
                <td>
                  <% if policy([ current_user_role_group, lead]).show? %>
                    <%= link_to lead.name, [current_user_role_group, lead ] %>
                  <% else %>
                    <%= lead.name %>
                  <% end %>
                  <% if lead.active_lead_managers.present? %>
                    <i class="fa fa-circle red" aria-hidden="true"></i>
                  <% end %>
                </td>
                <td>
                  <% if lead.email.present? %>
                    <p class="email-icon mb-0">
                      <%= lead.masked_email(current_user) || '' %>
                    </p>
                  <% end %>
                </td>
                <td>
                  <% if lead.phone.present? %>
                    <p class="phone-icon mb-0">
                      <%= lead.masked_phone(current_user) || '' %>
                    </p>
                  <% end %>
                </td>
                <td>
                  <p class="mb-0 theme-txt-color"><%= lead.project_name %></p>
                </td>
                <% if policy([:admin, lead]).show_channel_partner_column? %>
                  <td>
                    <p class="fn-14 mt-1 mb-0">
                    <%= link_to_if (policy([:admin, User]).index? && policy([current_user_role_group, lead]).show_channel_partner_user?), (policy([current_user_role_group, lead]).show_channel_partner_user? ? lead.manager_name : "-"), [current_user_role_group, lead.manager], class: 'theme-txt-color' %>
                    <br>
                    <% if lead.active_lead_managers.present? %>
                      <span class="d-flex justify-content-between pt-1">
                        <small class="txt-drk-b-lt mb-0"><%= t('mongoid.attributes.lead_manager.expiry_remaining_days') %></small>
                        <small class="mb-0"><%= lead.lead_validity_period %></small>
                      </span>
                      <span class="d-flex justify-content-between">
                        <small class="txt-drk-b-lt mb-0"><%= t('mongoid.attributes.lead_manager.expiry_date') %></small>
                        <small class="mb-0"><%= lead.active_lead_managers.first.expiry_date.try(:strftime, "%d/%m/%Y") %></small>
                      </ssmallan>
                    <% end %>
                    </p>
                  </td>
                <% end %>
                <% if is_marketplace? %>
                  <td><%= lead.crm_reference_id(ENV_CONFIG.dig(:kylas, :base_url)) rescue '' %></td>
                <% end %>

                <% if current_client.real_estate? %>
                  <td>
                    <p class="font-medium fn-12 mb-0 d-inline-block me-2">
                      <i class="fa fa-circle info me-2 fa-sm"></i><%= (I18n.t("mongoid.attributes.lead/stage.#{lead.lead_stage}") if lead.lead_stage != nil) || '-' %>
                    </p>
                  </td>
                  <% unless is_marketplace? %>
                    <td>
                      <p class="font-medium fn-14 mb-0 theme-txt-color ms-xs-0">
                        <i class='fa fn-16 fa-<%= t("global.boolean.#{lead.is_blocking_amount_paid? }") == "Yes" ? "check" : "times" %> fill-<%= t("global.boolean.#{lead.is_blocking_amount_paid? }") == "Yes" ? "success" : "danger" %> me-12 fa-lg'></i><%= t('mongoid.attributes.lead.blocking_amount_paid') %>
                      </p>
                    </td>
                    <td>
                      <p class="font-medium fn-14 mb-0 theme-txt-color ms-xs-0">
                        <i class='fa fn-16 fa-<%= t("global.boolean.#{lead.is_booking_price_paid? }") == "Yes" ? "check" : "times" %> fill-<%= t("global.boolean.#{lead.is_booking_price_paid? }") == "Yes" ? "success" : "danger" %> me-12 fa-lg'></i><%= t('mongoid.attributes.lead.payment_done') %>
                      </p>
                    </td>
                    <td>
                      <p class="font-medium fn-14 mb-0 theme-txt-color ms-xs-0">
                        <i class='fa fn-16 fa-<%= t("global.boolean.#{lead.is_registration_done? }") == "Yes" ? "check" : "times" %> fill-<%= t("global.boolean.#{lead.is_registration_done? }") == "Yes" ? "success" : "danger" %> me-12 fa-lg'></i><%= t('mongoid.attributes.lead.registration_done') %>
                      </p>
                    </td>
                  <% end %>
                <% end %>
                <td>
                  <div class="dropdown d-inline-block top-right-action">
                    <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-v txt-light-blue" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                      <%= render "#{current_user_role_group}/leads/links", lead: lead %>
                    </div>
                  </div>
                </td>
                <!-- <td>
                  <%# is_assigned_lead = current_user.role?(:sales) && Lead.where(id: lead.id, closing_manager_id: current_user.id).in(customer_status: %w(engaged)).first.present? %>
                  <%# if false #current_user.role?(:sales) && is_assigned_lead && lead.accepted_by_sales.nil? %>
                  <p class="small d-inline-block mt-1 ms-2 fn-16 mb-0">
                  <%#= link_to 'Accept', accept_lead_admin_lead_path(lead, accepted_by_sales: true, event: 'accepted', format: :json), method: 'patch', remote: true, class: "accept move-to-next-state btn btn-success text-white" %>
                  </p>
                  <p class="small d-inline-block mt-1 ms-2 fn-16 mb-0">
                  <%#= link_to 'Reject', accept_lead_admin_lead_path(lead, accepted_by_sales: false, event: 'rejected', format: :json), method: 'patch', remote: true, data: { confirm: I18n.t("controller.assets.confirm.sure"), disable_with: I18n.t("global.please_wait") }, class: "reject move-to-next-state btn apply-btn btn-primary border-primary" %>
                  </p>
                  <%# end %>
                </td> -->
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!----------- Pagination ---------->
      <% if leads.is_a? WillPaginate::Collection %>
        <div class="col-lg-12 p-3">
          <div class="row">
            <div class="col-lg-6 pt-2">
              <p class="table-entry mb-0"><%= page_entries_info leads %></p>
            </div>
            <div class="col-lg-6 table-pagination">
              <%= will_paginate leads, list_classes: %w(pagination justify-content-end) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<%= javascript_tag do %>
  $(document).ready(function(){
    $('a.accept, a.reject').on('ajax:success', function(event) {
      setTimeout(function() {
        window.location.reload();
      }, 1000);
    });
  });
<% end %>
