<%# if policy([:admin, Lead.new(project_id: lead.project_id)]).new? %>
  <%#= link_to t('controller.leads.add_to_another_project.link_name'), new_admin_lead_path(lead_id: lead._id, add_to_another_project: true), class: 'modal-remote-form-link dropdown-item' %>
<%# end %>

<% if policy([:admin, SiteVisit.new(lead: lead, project: lead.project)]).new? %>
  <%= link_to t('controller.site_visits.new.link_name'), new_admin_lead_site_visit_path(lead.id), class: "dropdown-item modal-remote-form-link" %>
<% end %>

<% if policy([:admin, BookingDetail.new(user: lead.user, lead: lead, project_unit: ProjectUnit.new(status: 'available', blocking_amount: current_client.blocking_amount))]).show_booking_link? %>
  <%= link_to t('controller.searches.new.link_name'), new_admin_lead_search_path(lead.id), class: "dropdown-item" %>
<% end %>

<% if policy([:admin, BookingDetail.new(user: lead.user, lead: lead)]).show_add_booking_link? && current_user.role?('account_manager')%>
  <%= link_to "Add Booking", new_booking_without_inventory_admin_booking_details_path(lead_id: lead.id), class: "dropdown-item modal-remote-form-link" %>
<% end %>

<% hold_booking = lead.booking_details.where(status: 'hold').first %>

<% if lead.project.is_active? && hold_booking.present? && !policy([:admin, BookingDetail.new(user: lead.user, lead: lead)]).show_add_booking_link? #&& policy([current_user_role_group, hold_booking]).block? %>
  <%= link_to t('controller.booking_details.continue_booking.link_name'), checkout_lead_search_path(lead.get_search(hold_booking.project_unit_id)), class: "dropdown-item" %>
<% end %>

<% if policy([:admin, Receipt.new(user: lead.user, lead: lead)]).new? %>
  <%= link_to t('controller.receipts.new.link_name'), new_admin_lead_receipt_path(lead), class: "dropdown-item modal-remote-form-link" %>
<% end %>

<% if policy([:admin, lead]).move_to_next_state? %>
  <% if lead.may_queued? %>
    <%= link_to 'Move to Sales Queue', move_to_next_state_admin_lead_path(lead, status: 'queued', format: :json), method: 'patch', remote: true, data: { disable_with: 'Queueing...' }, class: "dropdown-item queued move-to-next-state" %>
  <% elsif lead.may_dropoff? %>
    <%= link_to 'Drop Customer', move_to_next_state_admin_lead_path(lead, status: 'dropoff', format: :json), method: 'patch', remote: true, data: { confirm: 'Are you sure?', disable_with: 'Dropping...' }, class: 'dropdown-item dropoff move-to-next-state' %>
  <% end %>
<% end %>

<%# if policy([:admin, Crm::Base.new()]).choose_crm? && Crm::Api.where(resource_class: 'User').present? %>
  <%#= link_to t('controller.crms.choose_crm.link_name'), choose_crm_admin_crm_base_index_path(resource_id: user.id, resource_class: user.class), class: "dropdown-item " %>
<%# end %>

<%# if !current_user.buyer? && policy([:admin, Receipt.new(user: lead.user, lead: lead)]).lost_receipt? %>
  <%#= link_to t('controller.receipts.lost_receipt.link_name'), lost_receipt_admin_user_receipts_path(user), class: "dropdown-item modal-remote-form-link" %>
<%# end %>

<% if policy([:admin, lead]).show? && action_name != 'show' %>
  <%= link_to t('controller.leads.show.link_name'), admin_lead_path(lead), class: "dropdown-item" %>
<% end %>

<% if policy([:admin, lead]).edit? %>
  <%= link_to t('controller.leads.edit.link_name'), edit_admin_lead_path(lead.id), class: "dropdown-item modal-remote-form-link" %>
<% end %>

<% if policy([:admin, UserKyc.new]).index?(lead.user) %>
  <%= link_to t('controller.user_kycs.index.link_name'), admin_lead_user_kycs_path(lead_id: lead.id), class: "dropdown-item" %>
<% end %>

<% if policy([:admin, UserKyc.new(user: lead.user, lead: lead)]).new? %>
  <%= link_to t('helpers.new.link_name', model: UserKyc.model_name.human), new_admin_lead_user_kyc_path(lead), class: "dropdown-item modal-remote-form-link" %>
<% end %>

<% if policy([:admin, lead]).send_payment_link? %>
  <%= link_to 'Send Payment link', send_payment_link_admin_lead_path(lead), class: "dropdown-item" %>
<% end %>

<% if policy([:admin, Note.new(notable: lead)]).new? %>
  <%= link_to t('helpers.new.link_name', model: Note.model_name.human), new_notable_path(notable_type: lead.class.model_name.i18n_key.to_s, notable_id: lead.id), class: "dropdown-item modal-remote-form-link" %>
<% end %>

<%= render 'admin/invoices/invoiceable_links', resource: lead %>

<% if policy([:admin, lead]).asset_create? %>
  <%= link_to Asset.model_name.human(count: 2), admin_lead_path(lead,'remote-state': assetables_path(assetable_type: lead.class.model_name.i18n_key.to_s, assetable_id: lead.id) ), class: "dropdown-item" %>
<% end %>

<div class="dropdown-divider"></div>

<% if policy([:admin, lead]).show_selldo_links? %>
  <h6 class="dropdown-header"><%= t("selldo.links.header") %></h6>
  <% %w(add_note schedule_site_visit schedule_followup).each do |task| %>
    <%= link_to t("selldo.links.#{task}"), "#{ENV_CONFIG['selldo']['base_url']}/client/0/#{lead.project.selldo_default_search_list_id}/#{lead.lead_id}/f/#{task.camelcase}", target: '_blank', class: 'dropdown-item' %>
  <% end %>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function(){
    $('a.queued, a.dropoff').on('ajax:success', function(event) {
      setTimeout(function() {
        window.location.reload();
      }, 3000);
    });
  });
<% end %>
