<div class="row">
  <% if policy([:admin, lead]).editable_field?("push_to_crm") %>
    <div class="col-md-12">
      <div class="mb-3">
        <%= f.input :push_to_crm, item_wrapper_class: 'form-check form-check-inline', as: :radio_buttons, prompt: :translate, required: true, label_html: {class: 'form-check-label d-inline-block ms-2'}, input_html: {class: 'wd-22', disabled: !policy([:admin, lead]).editable_field?("push_to_crm"), name: 'push_to_crm' } %>
      </div>
    </div>
  <% end %>
  <div class="col-md-6">
    <%= f.input :first_name, required: true, autofocus: true, disabled: !policy([:admin, lead]).editable_field?("first_name"), input_html: { name: 'first_name' } %>
  </div>
  <div class="col-md-6">
    <%= f.input :last_name, required: true, autofocus: true, disabled: !policy([:admin, lead]).editable_field?("last_name"), input_html: { name: 'last_name' } %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= f.input :email, disabled: !policy([:admin, lead]).editable_field?("email"), input_html: { class: 'email', name: 'email' } %>
  </div>
  <div class="col-md-6">
    <%= f.input :phone, required: true, disabled: !policy([:admin, lead]).editable_field?("phone"), as: :tel, input_html: { class: 'phone', name: 'phone' } %>
  </div>
</div>
<!-- TODO project specific URL and domain specific URL -->
<% project_id = params[:project_id].presence || current_project.presence.try(:id) %>
<% if project_id.present? %>
  <%= f.input :project_id, as: :hidden, input_html: { name: 'project_id', value: project_id } %>
<% elsif Project.count == 1 && Project.first&.id.present? %>
  <%= f.input :project_id, as: :hidden, input_html: { name: 'project_id', value: Project.first.id } %>
<% else %>
  <div class='row'>
    <div class="col-md-12">
      <%= f.input :project_id, collection: [], required: true, disabled: !policy([:admin, lead]).editable_field?("project_id"), as: :select, prompt: :translate, input_html: { class: 'selectize-remote', name: 'project_id', data: {url: admin_projects_path} } %>
    </div>
  </div>
<% end %>
<% if f.object.site_visits.present? && f.object.site_visits.any?(&:new_record) %>
  <%= render 'admin/leads/site_visit_form', f: f %>
<% end %>
