<div class="row">
  <div class="col-md-6">
    <%= f.input :first_name, required: true, autofocus: true, disabled: !policy([:admin, lead]).editable_field?("first_name"), input_html: { name: 'first_name' } %>
  </div>
  <div class="col-md-6">
    <%= f.input :last_name, required: true, autofocus: true, disabled: !policy([:admin, lead]).editable_field?("last_name"), input_html: { name: 'last_name' } %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= f.input :email, required: true, disabled: !policy([:admin, lead]).editable_field?("email"), input_html: { class: 'email', name: 'email' } %>
  </div>
  <div class="col-md-6">
    <%= f.input :phone, required: true, disabled: !policy([:admin, lead]).editable_field?("phone"), as: :tel, input_html: { class: 'phone', name: 'phone' } %>
  </div>
</div>
<% if Project.count == 1 %>
  <%= f.input :project_id, value: Project.first.id, as: :hidden %>
<% else %>
  <div class='row'>
    <div class="col-md-12">
      <%= f.input :project_id, collection: Project.all.collect{|p| [p.name, p.id]}, disabled: !policy([:admin, lead]).editable_field?("project_id"), as: :select, prompt: :translate, input_html: { class: 'selectize', name: 'project_id' } %>
    </div>
  </div>
<% end %>
