<div class="box-content br-rd-bl-4 bg-white">
  <div class="row pd-box">
    <div class="col-md-4">
      <div class="form-group">
        <label class="small"><%= t('mongoid.attributes.lead.name') %></label>
        <div><%= lead.name || '-' %></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="small"><%= t('mongoid.attributes.lead.phone') %></label>
        <div><%= lead.phone|| '-' %></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="small"><%= t('mongoid.attributes.lead.project_id') %></label>
        <div><%= lead.project.try(:name) || '-' %></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="small"><%= t('mongoid.attributes.lead.email') %></label>
        <div><%= lead.email || '-' %></div>
      </div>
    </div>
    <% if ((current_user.role?(:channel_partner) && lead.active_cp_lead_activities.where(user_id: current_user.id).present?) || !current_user.role?(:channel_partner))  %>
      <div class="col-md-4">
        <div class="form-group">
          <label class="small"><%= t('mongoid.attributes.lead.selldo_lead_id') %></label>
          <div><%= lead.lead_id|| '-' %></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="small"><%= t('mongoid.attributes.lead.selldo_lead_registration_date') %></label>
          <div><%= I18n.l(Date.parse(lead.selldo_lead_registration_date)) rescue '-' %></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="small"><%= t('mongoid.attributes.lead.lead_validity_period') %></label>
          <div><%= lead.lead_validity_period %></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="small"><%= t('mongoid.attributes.lead.selldo_lead_stage') %></label>
          <div><%= lead.lead_stage.try(:titleize) || '-' %></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="small"><%= t('mongoid.attributes.lead.site_visit_date') %></label>
          <div><%= I18n.l(Date.parse(lead.sitevisit_date)) rescue '-' %></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="small"><%= t('mongoid.attributes.lead.site_visit_status') %></label>
          <div><%= lead.sitevisit_status.try(:titleize) || '-' %></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="small"><%= t('mongoid.attributes.lead.lead_status') %></label>
          <div><%= lead.cp_lead_activities.first.try(:lead_status).try(:titleize) || '-' %></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="small"><%= t('mongoid.attributes.lead.count_status') %></label>
          <div><%= lead.cp_lead_activities.first.try(:count_status).try(:titleize) || '-' %></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="small"><%= t('mongoid.attributes.lead.remarks') %></label>
          <div><%= lead.cp_lead_activities.first.try(:remarks).try(:titleize) || '-' %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
