<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gradient-cd white">
        <h3 class="title"> <%= t("controller.users.#{action_name}.header", role: User.human_attribute_name("role.#{params[:role] || 'user' }") ) %></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%
          if current_user.role?("channel_partner")
            form_id = current_client.selldo_channel_partner_form_id
          else
            form_id = current_client.selldo_gre_form_id
          end
        %>
        <% if Rails.env.production? %>
          <script src='//trkr.scdn1.secure.raxcdn.com/t/forms/<%= current_client.selldo_client_id %>/<%= form_id %>.js' data-form-id='<%= form_id %>'></script>
        <% else %>
          <script src='<%= ENV_CONFIG[:selldo][:base_url] %>/t/forms/<%= current_client.selldo_client_id %>/<%= form_id %>.js' data-form-id='<%= form_id %>'></script>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" data-tag="selldo">
  window.sell_do_form_rendered = function(){
    var default_srd = "<%= system_srd %>";
    var is_channel_partner = (typeof App !== "undefined" && App.current_user.role == 'channel_partner');
    if(default_srd){
      $('<input type="hidden" name="sell_do[campaign][srd]" value="' + default_srd + '"/>').appendTo(".sell_do_form_actual_container");
    }
    $('[name="sell_do[form][custom][portal_cp_id]"]').val("<%= (user_signed_in? && current_user.role?('channel_partner')) ? current_user.id : '' %>");
    $('[name="sell_do[form][custom][portal_cp_id]"]').closest('.selldof_row').hide();

    $('[name="sell_do[form][lead][first_name]"]').attr('pattern', '[A-Za-z ]{2,20}').attr('title', 'contain only alphabet and space').attr('maxlength', 20)
    $('[name="sell_do[form][lead][last_name]"]').attr('pattern', '[A-Za-z ]{1,20}').attr('title', 'contain only alphabet and space').attr('maxlength', 20)
    if(<%= @user.present? %>) {
      $('[name="sell_do[form][lead][first_name]"]').val('<%= @user.try(:first_name) %>');
      $('[name="sell_do[form][lead][last_name]"]').val('<%= @user.try(:last_name) %>');
      $('[name="sell_do[form][lead][email]"]').val('<%= @user.try(:email) %>');
      $('[name="sell_do[form][lead][phone]"]').val('<%= @user.try(:phone) %>');
    }

    $('select').addClass('selectize').removeClass('form-control');
    if(is_channel_partner) {
      $('[name="sell_do[form][lead][project_id]"]').attr('name', 'iris_project_id');
    }
    FormInitializer.init($(".sell_do_form_container form"));
  };
</script>
