<div class="row justify-content-center">
  <div class="col-md-11">
    <div class="h-100">
      <div class = 'fn-18 theme-txt-color mb-2'>
        <div class="card-body">
          <%= form_for(@lead, url: create_kylas_associated_lead_admin_leads_path, local: true, html: {class: 'validate-form mr-3 ml-3', id: 'kylas_lead_form'}) do |f| %>
            <% if @deal_associated_contacts.present? %>
              <%= render 'kylas_associated_lead_form', f: f %>
            <% else %>
              <%= render 'form_new_lead_info', f: f %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function(selector){
    FormInitializer.init($("#kylas_lead_form"));
    var contact_details = <%= raw @contact_details.to_json %>;
    $('#lead_kylas_contact_id').change(function(e){
          var contactId = $(e.currentTarget).val();
          var contact = contact_details.data.find(function(contact){
            return contact.id == contactId;
          });
          if(contact){
            $('#lead_first_name').val(contact.firstName);
            $('#lead_last_name').val(contact.lastName);
            
            email_options = _.map(contact.emails, function(d) { return { value: d.value, text: d.value } });
            phone_options = _.map(contact.phoneNumbers, function(d) { return { value: (d.dialCode+d.value), text: (d.dialCode+d.value) } });
            
            var emailSelectize = $('#lead_email')[0].selectize;
            $('.email-text').addClass('hidden');
            $('#new_lead_email').attr('disabled', 'disabled').attr('hidden', true);
            $('#lead_email_update').attr('disabled', 'disabled');
            $('.email-select').addClass('hidden');
            emailSelectize.disable();
            emailSelectize.setValue('');
            emailSelectize.clearOptions();
            
            if (!_.isEmpty(email_options)){
              $('.email-select').removeClass('hidden');
              emailSelectize.enable();
              emailSelectize.setValue('');
              emailSelectize.clearOptions();
              emailSelectize.addOption(email_options);
              emailSelectize.refreshOptions(false);
            }else{
              $('.email-text').removeClass('hidden');
              $('#new_lead_email').removeAttr('disabled').removeAttr('hidden');
              $('#lead_email_update').removeAttr('disabled');
            }

            var phoneSelectize = $('#lead_phone')[0].selectize;
            $('.phone-text').addClass('hidden');
            $('#new_lead_phone').attr('disabled', 'disabled').attr('hidden', true);
            $('#lead_phone_update').attr('disabled', 'disabled');
            $('.phone-select').addClass('hidden');
            phoneSelectize.disable();
            phoneSelectize.setValue('');
            phoneSelectize.clearOptions();

            if (!_.isEmpty(phone_options)){
              $('.phone-select').removeClass('hidden');
              phoneSelectize.enable();
              phoneSelectize.setValue('');
              phoneSelectize.clearOptions();
              phoneSelectize.addOption(phone_options);
              phoneSelectize.refreshOptions(false);
            }else{
              $('.phone-text').removeClass('hidden');
              $('#new_lead_phone').removeAttr('disabled').removeAttr('hidden');
              $('#lead_phone_update').removeAttr('disabled');
            }


            
            //emails.addOption(email_options);
            //emails.refreshOptions(false);
            //phones.addOption(phone_options);
            //phones.refreshOptions(false);

            //emails.setValue('');
            //emails.clearOptions();
            //phones.setValue('');
            //phones.clearOptions();
          }
    });

  });
<% end %>