<section class="mt-4">
  <div class="px-3 pb-5">
    <div class="row px-3">
      <div class="col-lg-12 px-3 bg-white py-4">
        <div class="col-12 mb-3">
          <div class="d-flex justify-content-between">
            <div>
              <h6 class="card-title d-inline fn-24 font-medium theme-txt-color me-1">
                <%= @lead.name || '-' %></h6>
              <a href="javascript:;" class="email-icon small d-inline-block mt-1 fn-16" data-bs-toggle="popover"
                title="Email Id" data-bs-trigger="focus" data-bs-placement="bottom"
                data-bs-content="<%= @lead.email || '-' %>">
                <i class="fa fa-envelope fill-theme me-2 ms-2 fn-18"></i>
              </a>
              <a href="javascript:;" class="phone-icon small d-inline-block mt-1 fn-16" data-bs-container="body"
                data-bs-placement="bottom" data-bs-trigger="focus" data-bs-toggle="popover" title="Phone No."
                data-bs-content="<%= @lead.phone || '-' %>">
                <i class="fa fa-phone-alt fill-theme me-2 fn-18"></i>
              </a>
            </div>
            <div class="dropdown d-inline-block">
              <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-ellipsis-v txt-light-blue" aria-hidden="true"></i></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <%= render "#{current_user_role_group}/leads/links", lead: @lead %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 float-start mt-3 pb-0">
          <div class="card">
            <div class="card-header theme-light-bg py-3">
              <p class="fn-12 theme-txt-color mb-0 ">Project</p>
              <h6 class="fn-20 theme-txt-color mb-0"><%= (@lead.project.try(:name) || '-') %></h6>
            </div>
            <div class="card-body p-0 rounded-0 border-0">
              <div class="accordion theme-accordation" id="accordionExample">
                <div class="accordion-item rounded-0 border-bottom border-top-0  border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingOverview">
                    <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOverview" aria-expanded="true" aria-controls="collapseOverview">
                      Overview
                    </button>
                  </h2>
                  <div id="collapseOverview" class="accordion-collapse collapse" aria-labelledby="headingOverview"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <%= render 'overview', lead: @lead, cp_lead_activity: nil %>
                    </div>
                  </div>
                </div>

                <div class="accordion-item border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingUsers">
                    <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseUsers" aria-expanded="false" aria-controls="headingUsers">
                      Site Visits
                    </button>
                  </h2>
                  <div id="collapseUsers" class="accordion-collapse collapse" aria-labelledby="headingUsers"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <div class="row ps-3">
                        <div class="col-12">
                          <%= render 'site_visits_section', site_visits: @lead.site_visits %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion-item border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingRemarks">
                    <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseRemarks" aria-expanded="false" aria-controls="headingRemarks">
                      Remarks From SellDo
                    </button>
                  </h2>
                  <div id="collapseRemarks" class="accordion-collapse collapse" aria-labelledby="headingRemarks"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <div class="row ps-3">
                        <div class="col-12">
                          <%= render 'notes', lead: @lead, notes: @notes %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion-item border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingLead">
                    <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseLead" aria-expanded="false" aria-controls="headingLead">
                      Lead Activities
                    </button>
                  </h2>
                  <div id="collapseLead" class="accordion-collapse collapse" aria-labelledby="headingLead"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <div class="row ps-3">
                        <div class="col-12">
                          <%= render 'cp_lead_activities', cp_lead_activities: @lead.cp_lead_activities.where(CpLeadActivity.user_based_scope(current_user, params)).paginate(page: 1) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <% if current_client.enable_actual_inventory?(current_user) %>
                <div class="accordion-item border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingBookings">
                    <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseBookings" aria-expanded="false" aria-controls="headingBookings">
                      Bookings
                    </button>
                  </h2>
                  <div id="collapseBookings" class="accordion-collapse collapse" aria-labelledby="headingBookings"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <div class="row ps-3">
                        <div class="col-12">
                          <%= render 'booking_details/section', booking_details: @booking_details %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingPayments">
                    <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapsePayments" aria-expanded="false" aria-controls="headingPayments">
                      Payments
                    </button>

                  </h2>
                  <div id="collapsePayments" class="accordion-collapse collapse" aria-labelledby="headingPayments"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <div class="row ps-3">
                        <div class="col-12">
                          <%= render 'payment_index', receipts: @receipts %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% if policy([:admin, TimeSlot]).index? %>
                <div class="accordion-item border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingTimeslot">
                    <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTimeslot" aria-expanded="false" aria-controls="headingTimeslot">
                      Time Slot
                    </button>

                  </h2>
                  <div id="collapseTimeslot" class="accordion-collapse collapse" aria-labelledby="headingTimeslot"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <div class="row ps-3">
                        <div class="col-12">
                          <%= render 'receipts/time_slot_section', lead: @lead %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
                <% end %>

                <div class="accordion-item border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingNotes">
                    <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseNotes" aria-expanded="false" aria-controls="headingNotes">
                      Note Summary
                    </button>
                    <%# if policy([current_user_role_group, Note.new(notable: notable)]).new? %>
                      <%#= link_to t('helpers.new.link_name', model: Note.model_name.human), new_notable_path(notable_type: notable.class.model_name.i18n_key.to_s, notable_id: notable.id), class: ' modal-remote-form-link fn-12 font-medium theme-txt-color w-25 text-end pe-3 py-3' %>
                    <%# end %>
                  </h2>
                  <div id="collapseNotes" class="accordion-collapse collapse" aria-labelledby="headingNotes"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <div class="row ps-3">
                        <div class="col-12">
                          <%= render 'notes/section', notable: @lead %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <% if policy([:admin, Crm::Base.new()]).choose_crm? && apis = Crm::Base.active_apis(@lead).presence %>
                <div class="accordion-item  border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingCRM">
                    <button class="accordion-button collapsed  shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseCRM" aria-expanded="false" aria-controls="collapseCRM">
                      CRM
                    </button>
                  </h2>
                  <div id="collapseCRM" class="accordion-collapse collapse" aria-labelledby="headingCRM"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <%= render 'admin/crm/base/crms', { apis: apis, resource: @lead } %>
                    </div>
                  </div>
                </div>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
