<div class="modal-header">
  <h3 class="title"><%= t('controller.booking_details.new.header', customer: "", project: project.name) %></h3>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<%= hidden_field_tag :project_id, project.id %>
<div class="modal-body">
  <div class="mb-3">
    <%= f.label I18n.t("mongoid.models.lead.one"), class: 'label-required control-label' %>
    <%= select_tag "lead_id", options_for_select(filter_lead_options(current_client)), { class: "selectize-remote", data: { url: admin_leads_path(fltrs: {project_id: project.id}) } } %>
  </div>
</div>
<div class="modal-footer text-end">
    <%= f.submit I18n.t("global.submit"), class: "btn btn-primary" %>
</div>
