<div class="modal-header">
  <h3 class="title"><%= t('controller.booking_details.new.header', customer: "", project: project.name) %></h3>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<%= hidden_field_tag :project_id, project.id %>
<div class="modal-body">
  <div class="mb-3">
    <%= f.label I18n.t("mongoid.models.lead.one"), class: 'label-required control-label' %>
    <%= select_tag "lead_id", options_for_select(filter_lead_options), { class: "selectize-remote", data: { url: admin_leads_path(fltrs: {project_id: project.id}) } } %>
  </div>
</div>
<div class="filter-footer modal-footer text-end pe-0">
  <%= f.submit I18n.t("global.submit"), class: "btn btn-primary f-save-btn db-small-btn bg-light-blue fn-500 float-end me-0" %>
  <button type="button" class="btn btn-secondary float-end" data-bs-dismiss="modal" aria-label="Close"><%= I18n.t("global.cancel") %></button>
</div>