<div class="filter-inner modal-content ps-2 pe-2 fixed-header-footer">
  <div class="modal-header filter-header">  
  <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
    <a href="javascript:;" class="close-filter-btn btn-close"></a>
  </div>

  <%= form_tag admin_booking_details_path, method: "get", id: "booking_detail_search_form" do %>
    <div class="filter-content modal-body ps-0 pe-0">
      <div class="row">
        <% if !current_user.role.in?(User::CHANNEL_PARTNER_USERS) && policy([current_user_role_group, User]).index? %>
          <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
            <%= label_tag "fltrs", t('mongoid.attributes.user.name_email_phone'), class: "control-label" %>
            <%= select_tag "fltrs[user_id]", options_for_select(filter_user_options), { class: "selectize-remote", data: { url: admin_users_path, params: { fltrs: { role: ::User::BUYER_ROLES }} }} %>
          </div>
        <% end %>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.lead.name_email_phone'), class: "control-label" %>
          <%= select_tag "fltrs[lead_id]", options_for_select(filter_lead_options), { class: "selectize-remote", data: { url: admin_leads_path }} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", BookingDetail.model_name.human, class: "control-label" %>
          <%= select_tag "fltrs[id]", options_for_select(filter_booking_detail_options), {class: "selectize-remote", data: {url: admin_booking_details_path }} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.booking_detail.status'), class: "control-label" %>
          <%= select_tag "fltrs[status]", options_for_select(BookingDetail.user_based_available_statuses(current_user).collect{|x| [ t("mongoid.attributes.booking_detail/status.#{x}"), x.to_s]}, (params.dig(:fltrs, :status) || "")), {prompt: I18n.t("global.select"), class: "selectize"} %>
        </div>

        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.booking_detail.approval_status'), class: "control-label" %>
          <%= select_tag "fltrs[approval_status]", options_for_select(BookingDetail.aasm(:approval_status).states.map(&:name).collect{|x| [ t("mongoid.attributes.booking_detail/approval_status.#{x}"), x.to_s]}, (params.dig(:fltrs, :status) || "")), {prompt: I18n.t("global.select"), class: "selectize"} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs[project_id]", t('mongoid.attributes.project_unit.project_id'), class: "control-label" %>
          <%= select_tag "fltrs[project_id]", options_from_collection_for_select(params[:fltrs].present? ? Project.where(_id: params[:fltrs][:project_id]) : [], "id", "ds_name", params.dig(:fltrs, :project_id)), {prompt: I18n.t("global.select"), class: "selectize-remote project_select", data: {url: admin_projects_path}} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", ProjectTower.model_name.human, class: "control-label" %>
          <%= select_tag "fltrs[project_tower_id]", options_for_select(filter_project_tower_options, params.dig(:fltrs, :project_tower_id).present? ? params[:fltrs][:project_tower_id] : ''), {prompt: (params.dig(:fltrs, :project_id).present? ? "Select" : 'Select Project first'), class: "selectize project_tower_select", data: { url: admin_project_towers_path }} %>
        </div>
        <% if current_client.enable_channel_partners? %>
          <% unless current_user.role?('channel_partner') %>
            <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
              <%= label_tag "fltrs", t('mongoid.attributes.user.manager_id'), class: "control-label" %>
              <%= select_tag "fltrs[manager_id]", options_for_select(filter_manager_options), { class: "selectize-remote", data: { url: admin_users_path, params: { fltrs: { role: ['channel_partner','cp_owner'] } } } } %>
            </div>
          <% end %>
          <% unless current_user.role.in?(%w(cp_owner cp channel_partner)) %>
            <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
              <%= label_tag "fltrs", t('mongoid.attributes.user/role.cp') %>
              <%= select_tag "fltrs[cp_manager_id]", options_from_collection_for_select(params[:fltrs].present? ? User.where(_id: params[:fltrs][:cp_manager_id]) : [], "id", "ds_name"), {class: "selectize-remote", data: {url: admin_users_path, params: {fltrs: { role: 'cp' }}}} %>
            </div>
          <% end %>
          <% unless current_user.role.in?(%w(cp_owner channel_partner)) %>
            <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
              <%= label_tag "fltrs", ChannelPartner.model_name.human %>
              <%= select_tag "fltrs[channel_partner_id]", options_from_collection_for_select(params[:fltrs].present? ? ChannelPartner.where(_id: params[:fltrs][:channel_partner_id]) : [], "id", "ds_name"), {class: "selectize-remote", data: {url: channel_partners_path, ds: true }} %>
            </div>
          <% end %>
        <% end %>  
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.booking_detail.booked_on'), class: "control-label" %>
          <%= text_field_tag "fltrs[booked_on]", (params[:fltrs].present? ? params[:fltrs][:booked_on] : ""), class: "form-control daterangefilter", data: {locale: {format: "DD/MM/YYYY"}, opens: "left", drops: "up"}, placeholder: 'dd/mm/yyyy - dd/mm/yyyy' %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.booking_detail.agreement_date'), class: "control-label" %>
          <%= text_field_tag "fltrs[agreement_date]", (params[:fltrs].present? ? params[:fltrs][:agreement_date] : ""), class: "form-control daterangefilter", data: {locale: {format: "DD/MM/YYYY"}, opens: "left", drops: "up"}, placeholder: 'dd/mm/yyyy - dd/mm/yyyy' %>
        </div>
        <!--
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%#= label_tag "fltrs", IncentiveScheme.model_name.human, class: "control-label" %>
          <%#= select_tag "fltrs[incentive_scheme_id]", options_for_select(filter_incentive_scheme_options), {class: "selectize-remote", data: { url: admin_incentive_schemes_path }} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%#= label_tag "fltrs", t('mongoid.attributes.booking_detail.ladder_stage'), class: "control-label" %>
          <%#= select_tag "fltrs[ladder_stage]", options_for_select(IncentiveScheme.distinct(:"ladders.stage"), params.dig(:fltrs, :ladder_stage).present? ? params[:fltrs][:ladder_stage] : ''), {class: "selectize", prompt: I18n.t("global.select")} %>
        </div>
        -->
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.booking_detail.tasks_pending'), class: "control-label" %>
          <%= select_tag "fltrs[tasks_pending]", options_for_select(current_client.checklists.collect{|x| [x.name, x.key]}, params.dig(:fltrs, :tasks_pending)), prompt: '', class: "selectize" %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.booking_detail.tasks_completed'), class: "control-label" %>
          <%= select_tag "fltrs[tasks_completed]", options_for_select(current_client.checklists.collect{|x| [x.name, x.key]}, params.dig(:fltrs, :tasks_completed)), prompt: '', class: "selectize" %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.booking_detail.tasks_completed_tracked_by'), class: "control-label" %>
          <%= select_tag "fltrs[tasks_completed_tracked_by]", options_for_select(Checklist::TRACKED_BY.collect{|x| [x.titleize, x]}, params.dig(:fltrs, :tasks_completed_tracked_by)), prompt: '', class: "selectize" %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.booking_detail.invoice_generated'), class: "control-label" %>
          <%= select_tag "fltrs[incentive_generated]", options_for_select([['Yes', 'yes'], ['No', 'no']], params.dig(:fltrs, :incentive_generated)), {prompt: I18n.t("global.select"), class: "selectize"} %>
        </div>
      </div>
    </div>
    <div class="filter-footer modal-footer text-end">
      <%= submit_tag I18n.t("global.apply"), class: "btn btn-primary f-save-btn db-small-btn bg-light-blue fn-500 float-end" %>
      <button type="button" class="btn btn-secondary f-cancel-btn float-end"><%= I18n.t("global.cancel") %></button>
    </div>
  <% end %>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#booking_detail_search_form"));
  });
<% end %>
