<div class="filter-inner">
  <div class="filter-header">
  <span class="title">Filter</span>
  <a href="javascript:;" class="close-filter-btn">&times;</a>
  </div>
  <% labels = t('mongoid.attributes.booking_detail').with_indifferent_access %>
  <%= form_tag admin_booking_details_path, method: "get", id: "scheme_search_form" do %>
    <div class="filter-content">
      <div class="row">
        <div class="form-group col-lg-6 col-xs-12 col-md-6 col-sm-12">
          <%= label_tag "fltrs", labels[:name], class: "control-label" %>
          <%= select_tag "fltrs[id]", options_for_select(filter_booking_detail_options), {class: "selectize-remote", data: {url: admin_booking_details_path }} %>
        </div>
        <div class="form-group col-lg-6 col-xs-12 col-md-6 col-sm-12">
          <%= label_tag "fltrs", labels[:status], class: "control-label" %>
          <%= select_tag "fltrs[status]", options_for_select(BookingDetail.aasm.states.collect(&:name).collect{|x| [ t("booking_details.status.#{x}"), x.to_s]}, (params.dig(:fltrs, :status) || "")), {prompt: "Select", class: "selectize"} %>
        </div>
        <div class="form-group col-lg-6 col-xs-12 col-md-6 col-sm-12">
          <%= label_tag "fltrs", labels[:project_tower], class: "control-label" %>
          <%= select_tag "fltrs[project_tower_id]", options_for_select(filter_project_tower_options), { class: "selectize-remote", data: { url: admin_project_towers_path }} %>
        </div>
        <div class="form-group col-lg-6 col-xs-12 col-md-6 col-sm-12">
          <%= label_tag "fltrs", labels[:user], class: "control-label" %>
          <%= select_tag "fltrs[user_id]", options_for_select(filter_user_options), { class: "selectize-remote", data: { url: admin_users_path, params: { fltrs: { role: ::User::BUYER_ROLES }} }} %>
        </div>
        <div class="form-group col-lg-6 col-xs-12 col-md-6 col-sm-12">
          <%= label_tag "fltrs", labels[:manager], class: "control-label" %>
          <%= select_tag "fltrs[manager_id]", options_for_select(filter_manager_options), { class: "selectize-remote", data: { url: admin_users_path, params: { fltrs: { role_nin: ::User::BUYER_ROLES }} }} %>
        </div>
      </div>
    </div>
    <div class="filter-footer">
      <%= submit_tag :Apply, class: "f-save-btn db-small-btn white bg-light-blue fn-500 float-right" %>
      <button type="button" class="f-cancel-btn db-small-btn light-blue bg-white fn-500 float-right">Cancel</button>
    </div>
  <% end %>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#scheme_search_form"));
  });
<% end %>
