<div class="modal-header">
  <h3 class="title"><%= t('controller.booking_details.new.header', customer: f.object.lead.name, project: f.object.lead.project_name) %></h3>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <!-- <div class="mb-3"> -->
    <%#= f.label :project_id, class: 'label-required control-label' %>
    <%#= f.select :project_id, Project.all.collect{|p| [p.name, p.id]}, {}, prompt: :translate, class: 'form-control selectize' %>
  <!-- </div> -->
  <%= f.hidden_field :project_id, value: f.object.lead.project_id %>
  <div class="mb-3 position-relative offline">
    <%= f.label :project_tower_name, class: 'label-required' %>
    <%= f.text_field :project_tower_name, class: 'form-control', required: 'required', disabled: !(policy([:admin, @booking_detail]).editable_field?("project_tower_name")) %>
  </div>
  <div class="mb-3 position-relative offline">
    <%= f.label :project_unit_name, class: 'label-required' %>
    <%= f.text_field :booking_project_unit_name, class: 'form-control', required: 'required', disabled: !(policy([:admin, @booking_detail]).editable_field?("booking_project_unit_name")) %>
  </div>
  <div class="mb-3 position-relative offline">
    <%= f.label :project_unit_configuration, class: 'label-required' %>
    <%= f.text_field :project_unit_configuration, class: 'form-control', required: 'required', disabled: !(policy([:admin, @booking_detail]).editable_field?("project_unit_configuration")) %>
  </div>
  <div class="mb-3 position-relative offline">
    <%= f.label :agreement_price, class: 'label-required' %>
    <%= f.number_field :agreement_price, class: 'form-control', required: 'required', disabled: !(policy([:admin, @booking_detail]).editable_field?("agreement_price")) %>
  </div>
  <div class="mb-3 position-relative offline">
    <%= f.label :other_costs, class: 'label-required' %>
    <%= f.number_field :other_costs, class: 'form-control', required: 'required', disabled: !(policy([:admin, @booking_detail]).editable_field?("other_costs")) %>
  </div>
  <div class="mb-3 position-relative offline">
    <%= f.label :booked_on, class: 'label-required' %>
    <%= f.text_field :booked_on, class: 'form-control datepicker', required: 'required', "data-default-date": f.object.booked_on.present? ? f.object.booked_on.strftime("%d/%m/%Y") : Date.today.strftime("%d/%m/%Y"), value: f.object.booked_on.present? ? f.object.booked_on.strftime("%d/%m/%Y") : Date.today.strftime("%d/%m/%Y"), disabled: !(policy([:admin, @booking_detail]).editable_field?("booked_on")) %>
  </div>
  <div class="mb-3 position-relative offline">
    <%= f.label :agreement_date, class: 'label-required' %>
    <% if current_user.role?('account_manager') %>
      <%= f.hidden_field :creator_id, value: current_user.id %>
      <%= f.hidden_field :account_manager_id, value: current_user.id %>
    <% end %>
    <%= f.text_field :agreement_date, class: 'form-control datepicker', required: 'required', "data-default-date": f.object.agreement_date.present? ? f.object.agreement_date.strftime("%d/%m/%Y") : '', value: f.object.agreement_date.present? ? f.object.agreement_date.strftime("%d/%m/%Y") : '', disabled: !(policy([:admin, @booking_detail]).editable_field?("agreement_date")) %>
  </div>
  <div class="mb-3">
    <%= f.label :source, class: 'label-required control-label' %>
    <% booking_sources = f.object.lead.project.booking_sources %>
    <%= f.select :source, booking_sources.collect{|s| [s, s]}, {}, prompt: :translate, class: 'selectize', disabled: !(policy([:admin, @booking_detail]).editable_field?("source")) %>
  </div>
  <div class="mb-3">
    <% if f.object.lead.manager && %w(channel_partner cp_owner).include?(f.object.lead.manager.role)
      channel_partners = User.where(id: f.object.lead.manager_id)
    else
      channel_partners = User.in(role: ['channel_partner', 'cp_owner'] )
    end %>
      <label class="'label-required control-label'">Channel Partner</label>
      <%= f.select :manager_id, channel_partners.collect{|cp| [(cp.name), cp.id]}, {prompt: true}, class: 'selectize', disabled: !(policy([:admin, @booking_detail]).editable_field?("manager_id"))  %>
      <%= link_to "Add Channel Partner", new_channel_partner_channel_partners_path(lead_id: f.object.try(:lead).try(:id).to_s), class: 'modal-remote-form-link' %>
  </div>
</div>
<div class="modal-footer text-end">
  <% if edit_access %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% else %>
    <%= f.submit "Submit", data: { :confirm => 'You won’t be able to edit it, Are you sure?'}, class: "btn btn-primary" %>
  <% end %>

</div>