<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <tr class="bg-gradient-cd white">
      <th><%= t('mongoid.attributes.booking_detail.name') %></th>
      <th><%= t('mongoid.attributes.booking_detail.bedrooms') %> / <%= t('mongoid.attributes.booking_detail.bathrooms') %></th>
      <th><%= t('mongoid.attributes.booking_detail.status') %></th>
      <th><%= t('mongoid.attributes.booking_detail.agreement_price') %></th>
      <th class="text-right"> <%= t('global.action', count: 3) %></th>
    </tr>
  </thead>
  <tbody>
    <% booking_details.each do |booking_detail| %>
      <tr>
        <td data-title= <%= t('mongoid.attributes.booking_detail.name') %> >
          <%= link_to booking_detail.name, [current_user_role_group, booking_detail] %>
          <div class="small">
            <%= Project.model_name.human %> :
            <%= booking_detail.project.name %>
          </div>
          <div class="small">
            <%= ProjectTower.model_name.human %> :
            <%= booking_detail.project_unit.project_tower_name %>
          </div>
          <% if %w[ hold swapped cancelled ].exclude?(booking_detail.status)  %>
            <div class="small">
              <%= ProjectUnit.human_attribute_name('blocked_on') %> :
              <%= booking_detail.project_unit.blocked_on.try(:strftime, '%d/%m/%Y') %>
            </div>
          <% end %>
        </td>

        <td data-title= <%= "#{t('mongoid.attributes.booking_detail.bedrooms')}/#{t('mongoid.attributes.booking_detail.bathrooms')}" %> ><%= booking_detail.bedrooms %> / <%= booking_detail.bathrooms %></td>

        <td data-title=<%= t('mongoid.attributes.booking_detail.status') %> ><%= BookingDetail.human_attribute_name("status.#{booking_detail.status}") %></td>

        <td data-title="<%= t('mongoid.attributes.booking_detail.agreement_price') %>" >
          <%= number_to_indian_currency(booking_detail.calculate_agreement_price.round) %>
          <div class="small">
            <%= t('mongoid.attributes.booking_detail.all_inclusive_price') %> :
            <%= number_to_indian_currency(booking_detail.calculate_all_inclusive_price.round) %>
          </div>

          <div class="small">
            <%= t('mongoid.attributes.booking_detail.paid_amount') %> :
            <%= number_to_indian_currency(booking_detail.total_amount_paid) %>
          </div>

          <div class="small">
            <%= t('mongoid.attributes.booking_detail.booking_pending_amount') %> :
            <%= number_to_indian_currency(booking_detail.pending_balance.to_i) %>
          </div>

        </td>

        <td>
          <div class="dropdown show text-right">
            <a class="btn dropdown-toggle table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <%= render "#{current_user_role_group}/booking_details/links", booking_detail: booking_detail, link_name: '' %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pt-1">
  <%= will_paginate booking_details, list_classes: %w(pagination justify-content-center) %>
</div>
