<% booking_details.each do |booking_detail| %>
<div class="col-lg-12 booking-listing">
  <div class="single-booking-prjt-list mb-4">
    <div class="booking-prjt-thumb">
      <div class="booking-prjt-thumb-inner position-relative">
        <h5 class="title"><%= link_to booking_detail.lead.name, admin_booking_detail_path(booking_detail) %></h5>
        <p class="devl-name"><%= booking_detail.project.name ? booking_detail.project.name : '-' %> | <%= booking_detail.project_tower_name ? booking_detail.project_tower_name : '-' %> | <%= booking_detail.name ? booking_detail.name : '-' %> </p>
      </div>
    </div>
    <div class="booking-inner-info">
      <div class="inner-info position-relative">
      </div>
      <div class="booking-prjt-date-info">
        <div class="inner-date">
          <span class="font-small fn-14 mb-0 theme-txt-color mb-0"><i
              class='fa fa-circle status_<%= BookingDetail.human_attribute_name("status.#{booking_detail.status}").downcase.gsub(' ', '_') %>  me-2 fa-sm'></i><%= BookingDetail.human_attribute_name("status.#{booking_detail.status}") %>
          </span>

          <br>
          <br>
          <%# if booking_detail.blocked? %>
            <!-- <span><strong><%#= BookingDetail.human_attribute_name('approval_status') %></strong></span><br>
            <span class="font-small fn-14 mb-0 theme-txt-color mb-0"><i
                class='fa fa-circle status_<%#= BookingDetail.human_attribute_name("status.#{booking_detail.approval_status}").downcase.gsub(' ', '_') %>  me-2 fa-sm'></i><%#= I18n.t("mongoid.attributes.booking_detail/approval_status.#{booking_detail.approval_status}") %>
            </span> -->
          <%# end %>
        </div>
      </div>
      <div class="booking-prjt-stats">
        <div class="prjt-inner-stats">
          <p>
            <%= booking_detail.booked_on ? I18n.l(booking_detail.booked_on) : '-' %>
            <span><%= t('mongoid.attributes.booking_detail.booked_on') %></span>
          </p>
          <p>
            <%= booking_detail.tentative_agreement_date ? I18n.l(booking_detail.tentative_agreement_date) : '-' %>
            <span><%= t('mongoid.attributes.booking_detail.tentative_agreement_date') %></span>
          </p>
          <p>
            <%= booking_detail.agreement_date ? I18n.l(booking_detail.agreement_date) : '-' %>
            <span><%= t('mongoid.attributes.booking_detail.agreement_date') %></span>
          </p>
        </div>
        <div class="booking-prjt-meets">
          <div class="prjt-menu-top float-md-right">
            <div class="dropdown">
              <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <% if booking_detail.project_unit.present? %>
                  <%= render "#{current_user_role_group}/booking_details/links", booking_detail: booking_detail, link_name: '' %>
                <% else %>
                  <%= render "#{current_user_role_group}/booking_details/booking_without_inventory_links", booking_detail: booking_detail, link_name: '' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
