<div class="table-responsive">
  <table class='striped-table table' width="100%" cellpadding="0" cellspacing="0">
    <thead class="th-default">
      <% labels = t('mongoid.attributes.project_unit').with_indifferent_access %>
      <tr>
        <th><%= labels[:name] %></th>
        <th><%= labels[:bedrooms] %> / <%= labels[:bathrooms] %></th>
        <th><%= labels[:status] %></th>
        <th><%= labels[:agreement_price] %></th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% booking_details.each do |booking_detail| %>
        <tr>
          <td>
            <%= booking_detail.name %>
            <div class="small">Project: <%= booking_detail.project_name %></div>
            <div class="small">Tower: <%= booking_detail.project_tower_name %></div>
          </td>
          <td><%= booking_detail.bedrooms %> / <%= booking_detail.bathrooms %></td>
          <td><%= t("booking_details.status.#{booking_detail.status}") %></td>
          <td>
            <%= number_to_indian_currency(booking_detail.calculate_agreement_price.round) %>
            <div class="small"><%= labels[:all_inclusive_price] %>: <%= number_to_indian_currency(booking_detail.calculate_all_inclusive_price.round) %></div>
            <div class="small">Paid Amt.: <%= number_to_indian_currency(booking_detail.total_amount_paid)  %></div>
            <div class="small">Booking Amt. Pending: <%= number_to_indian_currency(booking_detail.pending_balance.to_i) %></div>
          </td>
          <td class="text-right">
            <%= render "#{current_user_role_group}/booking_details/links", booking_detail: booking_detail, link_name: '' %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="5">
          <div class="mt-5 pt-5"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<%= will_paginate booking_details, list_classes: %w(pagination justify-content-center) %>
