<div class="table-responsive">
  <table class='striped-table table' width="100%" cellpadding="0" cellspacing="0">
    <thead class="th-default">
      <% labels = t('mongoid.attributes.project_unit').with_indifferent_access %>
      <tr>
        <th><%= labels[:name] %></th>
        <th><%= labels[:bedrooms] %> / <%= labels[:bathrooms] %></th>
        <th><%= labels[:status] %></th>
        <th><%= labels[:agreement_price] %></th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% booking_details.each do |booking_detail| %>
      <% project_unit = booking_detail.project_unit %>
      <tr>
        <td>
          <%= project_unit.name %>
          <div class="small">Project: <%= project_unit.project_name %></div>
          <div class="small">Tower: <%= project_unit.project_tower_name %></div>
        </td>
        <td><%= project_unit.bedrooms %> / <%= project_unit.bathrooms %></td>
        <td><%= BookingDetail.available_statuses.find{|x| x[:id] == booking_detail.status}[:text] rescue "-" %></td>
        <td>
          <%= number_to_indian_currency(project_unit.calculate_agreement_price.round) %>
          <div class="small"><%= labels[:all_inclusive_price] %>: <%= number_to_indian_currency(project_unit.calculate_all_inclusive_price.round) %></div>
          <div class="small">Paid Amt.: <%= number_to_indian_currency(project_unit.total_amount_paid)  %></div>
          <div class="small">Booking Amt. Pending: <%= number_to_indian_currency(project_unit.pending_balance.to_i) %></div>
        </td>
        <td class="text-right">
          <div class="dropdown">
            <a class="btn btn-light dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu dropdown-menu-right">
              <%= render "#{current_user_role_group}/booking_details/links", booking_detail: booking_detail %>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
      <tr>
        <td colspan="5">
          <div class="mt-5 pt-5"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%= will_paginate booking_details, list_classes: %w(pagination justify-content-center) %>
