<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Print Template </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_for(@booking_detail, url: print_template_admin_booking_detail_path, method: :get, html: {class: 'validate-form modal-remote-form', id: 'choose_template_form'}) do |f| %>
          <div class="mb-3">
            <%= f.label :template_docs %>
            <%= f.select :template_docs, available_booking_custom_templates(@booking_detail), {prompt: true}, class: 'selectize', required: true, autofocus: true %>
          </div>

          <div class="mb-3 text-end">
            <%= f.submit "Print", class: 'btn btn-primary', formtarget: "_blank" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($('#choose_template_form'));
  });
<% end %>
