<%= form_for([:admin, @booking_detail], local: true, remote: true, html: {class: 'modal-remote-form validate-form', "data-resource-type": global_labels['schemes'], "data-type": "json", id: 'booking_detail_form'}) do |f| %>
<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gradient-cd white">
        <h3 class="title"><%= t('controller.booking_details.new.header') %></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :user_id, class: 'control-label' %>
          <%= f.select :user_id, options_from_collection_for_select(User.where(_id: f.object.user_id), 'id', 'name'), {prompt: true }, class: 'selectize-remote', required: 'required', autofocus: true, data: { url: admin_users_path, params: { fltrs: { role: { '$in' => User::BUYER_ROLES }} } }%>
        </div>
        <div class="form-group">
          <%= f.label :primary_user_kyc_id, class: 'control-label' %>
          <%= f.select :primary_user_kyc_id, options_from_collection_for_select(UserKyc.where(_id: f.object.primary_user_kyc_id), 'id', 'name', f.object.primary_user_kyc_id), {prompt: true }, class: 'selectize-remote', required: 'required', autofocus: true, data: { url: admin_user_kycs_url, params: { fltrs: {user_id: User.find_by(user_kyc_id: f.object.primary_user_kyc_id).id } } } %>
        </div>
        <div class="form-group">
          <%= f.label :project_tower_id, class: 'control-label' %>
          <%= select_tag "project_tower_id", options_for_select(@project_towers), {prompt: "Select", class: "selectize", required: 'required'} %>
        </div>
        <div class="form-group unit">
          <%= f.label :project_unit_id, class: 'control-label' %>
          <%= f.select :project_unit_id, options_from_collection_for_select(ProjectUnit.where(_id: f.object.project_unit_id), 'id', 'first_name', f.object.project_unit_id), {prompt: true }, class: 'selectize-remote', required: 'required', autofocus: true, data: { url: admin_project_units_path, params: { status: 'available', fltrs: { project_tower_id: '-' } } }%>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  $('#booking_detail_user_id').change(function(){
    var $select = $("#booking_detail_primary_user_kyc_id").selectize();
    var selectize = $select[0].selectize;
    selectize.setValue('');
    selectize.clearOptions();
    var filter = $("#booking_detail_primary_user_kyc_id").data('params')
    filter.fltrs.user_id = $(this).val()
    $("#booking_detail_primary_user_kyc_id").data('params', filter)
    var $select = $("#project_tower_id").selectize();
    var selectize = $select[0].selectize;
    $.ajax({
      url: "/admin/booking_details/searching_for_towers.json",
      dataType: 'json',
      data: {user_id: $(this).val()},
      beforeSend: function() {
        $.blockUI();
      },
      complete: function() {
        $.unblockUI();
      },
      success: function(data, status, xhr){
        selectize.setValue('');
        selectize.clearOptions();
        var options = _.map(data, function(arr) { return {value: arr[1], text: arr[0]}});
        selectize.addOption(options)
        selectize.refreshOptions(false);
        },
      error: function(xhr, status, err) {
        Amura.global_error_handler( "Project towers not found for this user. ")
      }
    });
  });
  $('#project_tower_id').change(function(){
    var $select = $("#booking_detail_project_unit_id").selectize();
    var selectize = $select[0].selectize;
    selectize.setValue('');
    selectize.clearOptions();
    var filter = $("#booking_detail_project_unit_id").data('params')
    filter.fltrs.project_tower_id = $(this).val()
    $("#booking_detail_project_tower_id").data('params', filter)
  });

  FormInitializer.init($("#booking_detail_form"));
});
<% end %>
