<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <%= render 'dashboard/booking_detail_overview', {booking_detail: @booking_detail, with_actions: true } %>
    </div>

    <div class="col-md-12 mt-3">
      <%= render 'sync_logs/sync', { record: @booking_detail } if current_client.external_api_integration? && policy([current_user_role_group, SyncLog.new]).index? %>
    </div>

      <% if @scheme.present? %>
        <div class="col-md-12 mt-3">
          <div class="box-card">
            <div class="box-header br-rd-tr-4 row">
              <div class="col-12 p-0">
                <h2 class="text-dark icon-set icon-scheme-black"><%= BookingDetailScheme.model_name.human %></h2>
              </div>
            </div>
            <div class="box-content br-rd-bl-4 bg-white pt-1 row m-0">
              <div class="col-12">
                <ul class="booking-apart-info clear">
                  <li>
                    <span class="font-weight-bold">Derived from scheme </span>
                    <p><%= @scheme.derived_from_scheme.name %></p>
                  </li>
                </ul>

                <% if @scheme.payment_adjustments.present? %>
                  <ul class="booking-apart-info clear">
                    <li>
                      <span class="font-weight-bold">Payment Adjustments</span>
                    </li>
                  </ul>
                  <% @scheme.payment_adjustments.each do |adjustment| %>
                    <ul class="booking-apart-info clear">
                      <li>
                        <span>Name</span>
                        <p><%= adjustment.name %></p>
                      </li>
                      <li>
                        <span>Field</span>
                        <p><%= adjustment.field.titleize %></p>
                      </li>
                      <li>
                        <span>Value</span>
                        <p><%= adjustment.value(@booking_detail.project_unit) %></p>
                      </li>
                    </ul>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="col-md-12 mt-3">
        <div class="card pb_after">
          <div class="card-body">
            <div class="table-responsive">
              <%= @booking_detail.cost_sheet_template.parsed_content(@booking_detail) %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-3">
        <div class="card pb_after">
          <div class="card-body">
            <div class="table-responsive">
              <%= @booking_detail.payment_schedule_template.parsed_content(@booking_detail) %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
