<%= content_for :breadcrumbs do %>
  <% unless current_user.role?('user') %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= after_sign_in_path_for(current_user) %>">Dashboard</a></li>
      <% if project_unit.present? %>
        <li class="breadcrumb-item"><a href="<%= admin_project_units_path %>"><%= global_labels['project_units'] %></a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= global_labels['project_unit'] %></li>
      <% else %>
        <li class="breadcrumb-item active" aria-current="page"><%= global_labels['project_units'] %></li>
      <% end %>
    </ol>
  </nav>
  <% end %>
<% end %>
