<div class="filter-inner modal-content ps-2 pe-2 fixed-header-footer">
    <div class="modal-header filter-header">
  <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
  <a href="javascript:;" class="close-filter-btn btn-close"></a>
  </div>
  <%= form_tag admin_project_units_path, method: "get", id: "project_unit_search_form" do %>
    <div class="filter-content modal-body ps-0 pe-0">
      <div class="row">
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.project_unit.name'), class: "control-label" %>
          <%
            options = []
            selected_option = ''
            if params[:fltrs].present? && params[:fltrs][:_id].present?
              project_unit = ProjectUnit.find(params[:fltrs][:_id])
              options << [project_unit.ds_name, project_unit.id.to_s]
              selected_option = params[:fltrs][:_id]
            end
          %>
          <%= select_tag "fltrs[_id]", options_for_select(options, selected_option), {class: "selectize-remote", data: {url: admin_project_units_path }} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.project_unit.status'), class: "control-label" %>
          <%= select_tag "fltrs[status]", options_for_select(ProjectUnit::STATUS.collect{|ps| [ t("mongoid.attributes.project_unit/status.#{ps}"), ps ] }, (params[:fltrs].present? ? params[:fltrs][:status] : "")), {prompt: I18n.t("global.select"), class: "selectize"} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs[project_id]", t('mongoid.attributes.project_unit.project_id'), class: "control-label" %>
          <%= select_tag "fltrs[project_id]", options_from_collection_for_select(params[:fltrs].present? ? Project.where(booking_portal_client_id: current_client.try(:id), _id: params[:fltrs][:project_id]) : [], "id", "ds_name", params.dig(:fltrs, :project_id)), {prompt: I18n.t("global.select"), class: "selectize-remote project_select", data: {url: admin_projects_path}} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs[project_tower_id]", t('mongoid.attributes.project_unit.project_tower_id'), class: "control-label" %>
          <%= select_tag "fltrs[project_tower_id]", options_for_select(filter_project_tower_options, params.dig(:fltrs, :project_tower_id).present? ? params[:fltrs][:project_tower_id] : ''), {prompt: (params.dig(:fltrs, :project_id).present? ? "Select" : 'Select Project first'), class: "selectize project_tower_select", data: { url: admin_project_towers_path }} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.project_unit.bedrooms'), class: "control-label" %>
          <%= select_tag "fltrs[bedrooms]", options_for_select(ProjectUnit.distinct(:bedrooms).sort.collect{|x| [x, x]}, (params[:fltrs].present? ? params[:fltrs][:bedrooms] : "")), {prompt: I18n.t("global.select"), class: "selectize"} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.project_unit.floor'), class: "control-label" %>
          <%= select_tag "fltrs[floor]", options_for_select(ProjectUnit.distinct(:floor).sort.collect{|x| [x, x]}, (params[:fltrs].present? ? params[:fltrs][:floor] : "")), {prompt: I18n.t("global.select"), class: "selectize"} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.project_unit.floor_order'), class: "control-label" %>
          <%= select_tag "fltrs[floor_order]", options_for_select(ProjectUnit.distinct(:floor_order).sort, params[:fltrs].present? ? params[:fltrs][:floor_order] : ""), {prompt: I18n.t("global.select"), class: "selectize"} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.project_unit.unit_facing_direction'), class: "control-label" %>
          <%= select_tag "fltrs[unit_facing_direction]", options_for_select(ProjectUnit.distinct(:unit_facing_direction).sort.collect{|x| [x, x]}, (params[:fltrs].present? ? params[:fltrs][:unit_facing_direction] : "")), {prompt: I18n.t("global.select"), class: "selectize"} %>
        </div>
      </div>
    </div>
    <div class="filter-footer modal-footer text-end">
      <%= submit_tag I18n.t("global.apply"), class: "btn btn-primary f-save-btn db-small-btn bg-light-blue fn-500 float-end" %>
      <button type="button" class="btn btn-secondary f-cancel-btn float-end"><%= I18n.t("global.cancel") %></button>
    </div>
  <% end %>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#project_unit_search_form"));
  });
<% end %>
