<% if policy([current_user_role_group, @project_unit]).editable_field?("booking_price") %>
  <div class="mb-3">
    <div>
      <%= f.label :booking_price %>
    </div>
    <div>
      <span><%= f.object.get_booking_price %></span>
    </div>
  </div>
<% end %>
<% if policy([current_user_role_group, @project_unit]).editable_field?("blocking_amount") %>
  <div class="mb-3">
    <%= f.label :blocking_amount %>
    <%= f.text_field :blocking_amount, class: 'form-control', autofocus: true, required: 'required', disabled: (policy([current_user_role_group, @project_unit]).editable_field?("blocking_amount") ? false : true) %>
  </div>
<% end %>

<div class="mb-3">
  <% if policy([current_user_role_group, @project_unit]).editable_field?("auto_release_on") && @project_unit.auto_release_on.present? %>
  <div class="mb-3">
    <%= f.label :auto_release_on, class: 'label-required title' %>
    <%= f.text_field :auto_release_on, class: 'form-control datepicker', required: 'required', "data-default-date": f.object.auto_release_on.present? ? f.object.auto_release_on.strftime("%d/%m/%Y") : '', "data-min-date": Date.tomorrow.strftime("%d/%m/%Y"), disabled: (policy([current_user_role_group, @project_unit]).editable_field?("auto_release_on") ? false : true), value: f.object.auto_release_on.present? ? f.object.auto_release_on.strftime("%d/%m/%Y") : "" %>
  </div>
  <% end %>

  <% if policy([current_user_role_group, @project_unit]).editable_field?("status") %>
    <div class="mb-3">
      <%= f.label :status, class: 'title' %>
      <%= f.select :status, (ProjectUnit::STATUS - ['blocked', 'hold']).collect{|x| [ t("mongoid.attributes.project_unit/status.#{x}"), x] }, {}, {prompt: "Select", class: "selectize", disabled: (policy([current_user_role_group, @project_unit]).editable_field?("status") ? false : true)} %>
    </div>
  <% end %>
  <% if policy([current_user_role_group, @project_unit]).editable_field?("phase_id") %>
    <div class="mb-3">
      <%= f.label :phase, class: 'title' %>
      <%= f.select :phase_id, Phase.all.collect{|phase| [ phase.name, phase.id ]}, { prompt: true}, {class: "selectize", disabled: !policy([current_user_role_group, @project_unit]).editable_field?("phase_id") } %>
    </div>
  <% end %>
  <% if policy([current_user_role_group, @project_unit]).editable_field?("comments") %>
  <div class="mb-3">
    <%= f.label :comments %>
    <%= f.text_area :comments, class: 'form-control', autofocus: true %>
  </div>
<% end %>
</div>
