<div class="table-responsive">
  <table class='striped-table table' width="100%" cellpadding="0" cellspacing="0">
    <thead class="th-default">
      <% labels = t('mongoid.attributes.project_unit').with_indifferent_access %>
      <tr>
        <th><%= labels[:name] %></th>
        <th><%= labels[:bedrooms] %> / <%= labels[:bathrooms] %></th>
        <th><%= labels[:status] %></th>
        <th><%= labels[:agreement_price] %></th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% project_units.each do |project_unit| %>
      <tr>
        <td>
          <%= project_unit.name %>
          <div class="small">Project: <%= project_unit.project_name %></div>
          <div class="small">Tower: <%= project_unit.project_tower_name %></div>
        </td>
        <td><%= project_unit.bedrooms %> / <%= project_unit.bathrooms %></td>
        <td><%= ProjectUnit.available_statuses.find{|x| x[:id] == project_unit.status}[:text] rescue "-" %></td>
        <td>
          <%= number_to_indian_currency(project_unit.agreement_price) %>
          <div class="small"><%= labels[:all_inclusive_price] %>: <%= number_to_indian_currency(project_unit.all_inclusive_price) %></div>
          <div class="small">Paid Amt.: <%= number_to_indian_currency(project_unit.total_amount_paid)  %></div>
          <div class="small">Booking Amt. Pending: <%= number_to_indian_currency(project_unit.pending_balance.to_i) %></div>
        </td>
        <td class="text-right">
          <div class="dropdown">
            <a class="btn btn-light dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu dropdown-menu-right">
              <% if !current_user.buyer? && ReceiptPolicy.new(current_user, Receipt.new(user: @user, project_unit: project_unit)).new? %>
                <%= link_to "Add #{global_labels['receipt']}", new_admin_user_receipt_path(@user, project_unit_id: project_unit), class: 'dropdown-item modal-remote-form-link' %>
              <% end %>
              <% if ProjectUnitPolicy.new(current_user, project_unit).edit? %>
                <%= link_to "Edit", edit_admin_project_unit_path(project_unit), class: 'dropdown-item modal-remote-form-link' %>
              <% end %>
              <% if ['blocked', 'booked_tentative', 'booked_confirmed'].include?(project_unit.status) %>
                <% if ReceiptPolicy.new(current_user, Receipt).index? %>
                  <%= link_to "View #{global_labels[:receipts]}", admin_user_project_unit_receipts_path(project_unit.user, project_unit), class: 'dropdown-item' %>
                <% end %>
                <% if UserPolicy.new(current_user, User).index? %>
                  <%= link_to "View Customer", admin_user_path(project_unit.user), class: 'dropdown-item' %>
                <% end %>
              <% end %>
              <% [UserRequest::Cancellation, UserRequest::Swap] if Rails.env.development? %>
              <% UserRequest.descendants.each do |klass| %>
                <% if policy(klass.new(user_id: project_unit.user_id, project_unit_id: project_unit.id)).new? %>
                  <%
                    if current_user.buyer?
                      url = new_user_user_request_path(project_unit_id: project_unit.id, request_type: klass.model_name.element)
                    else
                      url = new_admin_user_user_request_path(user_id: project_unit.user_id, project_unit_id: project_unit.id, request_type: klass.model_name.element)
                    end
                  %>
                  <a href="<%= url %>" class="dropdown-item modal-remote-form-link">
                    <%= global_labels["user_request_#{klass.model_name.element}"] %>
                  </a>
                <% end %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate project_units, list_classes: %w(pagination justify-content-center) %>
