<h1 class="f22 bold">APARTMENT TYPE & COSTING</h1>
<div class="table-wrapper">
  <table width="100%" cellspacing="0" cellpadding="5" class="payment-breakup" border="0" outline="1">
    <tr>
      <th class="text-left">
        Particulars
      </th>
      <th>
        Land
      </th>
      <th>
        Construction
      </th>
      <th>
        Total
      </th>
    </tr>
    <tr>
      <td>
        SUPER BUILT UP AREA : SFT
      </td>
      <td class="text-center">
        <%= @project_unit.saleable.round(2) %>
      </td>
      <td class="text-center">
        <%= @project_unit.saleable.round(2) %>
      </td>
      <td>
        <%= @project_unit.saleable.round(2) %>
      </td>
    </tr>
    <tr>
      <td>
        USABLE AREA : SFT
      </td>
      <td class="text-center">
        <%= @project_unit.usable.round(2) %>
      </td>
      <td class="text-center">
        <%= @project_unit.usable.round(2) %>
      </td>
      <td>
        <%= @project_unit.usable.round(2) %>
      </td>
    </tr>
    <tr>
      <td>
        CARPET AREA : SFT
      </td>
      <td  class="text-center">
        <%= @project_unit.carpet.round(2) %>
      </td>
      <td  class="text-center">
        <%= @project_unit.carpet.round(2) %>
      </td>
      <td>
        <%= @project_unit.carpet.round(2) %>
      </td>
    </tr>
    <tr>
      <td>
        BASE PRICE PER SFT
      </td>
      <td  class="text-center">
        <%= number_to_indian_currency(@project_unit.land_rate.round(2)) %>
      </td>
      <td  class="text-center">
        <%= number_to_indian_currency((@project_unit.base_rate - @project_unit.land_rate).round(2)) %>
      </td>
      <td>
        <%= number_to_indian_currency(@project_unit.base_rate.round(2)) %>
      </td>
    </tr>
    <tr>
      <td>
        PLC
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(@project_unit.premium_location_charges.round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(@project_unit.premium_location_charges.round(2)) %>
      </td>
      <td>
        <%= number_to_indian_currency(@project_unit.premium_location_charges.round(2)) %>
      </td>
    </tr>
    <tr>
      <td>
        FLOOR RISE
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(@project_unit.floor_rise.round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(@project_unit.floor_rise.round(2)) %>
      </td>
      <td>
        <%= number_to_indian_currency(@project_unit.floor_rise.round(2)) %>
      </td>
    </tr>
    <% discount_rate = @project_unit.discount_rate(@project_unit.user_id.present? ? @project_unit.user : current_user) %>
    <% if discount_rate > 0 %>
    <tr>
      <td>
        DISCOUNT RATE
      </td>
      <td class="text-center">
        -
      </td>
      <td class="text-center">
        -
      </td>
      <td>
        <%= number_to_indian_currency(discount_rate.round(2)) %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td>
        EFFECTIVE PRICE PER SFT (BASIC PRICE + PLC + FLOOR RISE <%= ((discount_rate > 0) ? ' - DISCOUNT' : '') %>)
      </td>
      <td class="text-center">
        -
      </td>
      <td class="text-center">
        -
      </td>
      <td>
        <%= number_to_indian_currency((@project_unit.base_rate + @project_unit.premium_location_charges + @project_unit.floor_rise - discount_rate).round(2)) %>
      </td>
    </tr>
    <tr>
      <td>
        LAND COST
      </td>
      <td class="text-center">
        -
      </td>
      <td class="text-center">
        -
      </td>
      <td>
        <%= number_to_indian_currency(@project_unit.land_price.round(2)) %>
      </td>
    </tr>
    <tr>
      <td>
        BASE CONSTRUCTION COST
      </td>
      <td class="text-center">
        -
      </td>
      <td class="text-center">
        -
      </td>
      <td>
        <%= number_to_indian_currency(@project_unit.construction_price.round(2)) %>
      </td>
    </tr>
    <!--
    <% if discount_rate > 0 %>
    <tr>
      <td>
        DISCOUNT
      </td>
      <td class="text-center">
        -
      </td>
      <td class="text-center">
        -
      </td>
      <td>
        <%= number_to_indian_currency(@project_unit.discount(@project_unit.user_id.present? ? @project_unit.user : current_user).round(2)) %>
      </td>
    </tr>
    <% end %>
    -->
    <tr>
      <td>
        GST- 18% ON  CONSTRUCTION COST
      </td>
      <td class="text-center">
        -
      </td>
      <td class="text-center">
        -
      </td>
      <td>
        <%= number_to_indian_currency(@project_unit.gst_on_agreement_price.round(2)) %>
      </td>
    </tr>
    <tr>
      <td class="pink">
        COST OF THE APARTMENT (AGREEMENT VALUE)
      </td>
      <td class="pink">

      </td>
      <td class="pink">

      </td>
      <td class="pink">
        <% @project_unit.calculate_agreement_price %>
        <%= number_to_indian_currency(@project_unit.agreement_price.round(2)) %>
      </td>
    </tr>
  </table>
</div>
<h1 class="f22 bold">Additionals & Deposits</h1>
<div class="table-wrapper">
  <table width="100%" cellspacing="0" cellpadding="5" class="payment-breakup" border="0" outline="1">
    <tr>
      <th class="text-left">
        PARTICULARS
      </th>
      <th>
        PRICE PSFT
      </th>
      <th>
        BASIC COST
      </th>
      <th>
        TAXES - CGST - 9%
      </th>
      <th>
        TAXES - SGST - 9%
      </th>
      <th>
        TOTAL COST
      </th>
    </tr>
    <tr>
      <td>
        Water/Electricity/Power Backup
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(150.round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(project_unit.wep_price.round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(calculate_percent(project_unit.wep_price,9).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(calculate_percent(project_unit.wep_price,9).round(2)) %>
      </td>
      <td class="text-center">
        <% total_wep = (project_unit.wep_price + calculate_percent(project_unit.wep_price,9) + calculate_percent(project_unit.wep_price,9)) %>
        <%= number_to_indian_currency(total_wep.round(2)) %>
      </td>
    </tr>
    <tr>
      <td>
        City infrastructure charges
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(200.round(2)) %>
      </td>
      <% city_infra = 200*project_unit.saleable %>
      <td class="text-center">
        <%= number_to_indian_currency(city_infra.round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(calculate_percent(city_infra,9).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(calculate_percent(city_infra,9).round(2)) %>
      </td>
      <td class="text-center">
        <% total_city_infra = (city_infra + calculate_percent(city_infra,9) + calculate_percent(city_infra,9)) %>
        <%= number_to_indian_currency(total_city_infra.round(2)) %>
      </td>
    </tr>
    <tr>
      <td>
        Advance Maintenance charges @ Rs. 3 psft per year - for 1 years (Rs 3 x 12 months)
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(3.round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(project_unit.advance_maintenance_charges.round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(calculate_percent(project_unit.advance_maintenance_charges,9).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(calculate_percent(project_unit.advance_maintenance_charges,9).round(2)) %>
      </td>
      <td>
        <% total_advance = (project_unit.advance_maintenance_charges + calculate_percent(project_unit.advance_maintenance_charges,9) + calculate_percent(project_unit.advance_maintenance_charges,9)) %>
        <%= number_to_indian_currency(total_advance.round(2)) %>
      </td>
    </tr>
    <tr>
      <td>
        Club house & amenities Charges
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(125000.round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(125000.round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(calculate_percent(125000,9).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(calculate_percent(125000,9).round(2)) %>
      </td>
      <td class="text-center">
        <% total_club_house = (125000 + calculate_percent(125000,9) + calculate_percent(125000,9)) %>
        <%= number_to_indian_currency(total_club_house.round(2)) %>
      </td>
    </tr>

    <tr>
      <td>
        Corpus Fund
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(125.round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency(project_unit.corpus_fund.round(2)) %>
      </td>
      <td class="text-center">
        -
      </td>
      <td class="text-center">
        -
      </td>
      <td>
        <%= number_to_indian_currency(project_unit.corpus_fund.round(2)) %>
      </td>

    </tr>
    <tr>
      <td>
        TOTAL
      </td>
      <td>

      </td>
      <td>
        <%= number_to_indian_currency(((project_unit.corpus_fund) + city_infra + (project_unit.advance_maintenance_charges) + (project_unit.clubhouse_amenities_price) + (project_unit.wep_price)).round(2)) %>
      </td>
      <td>
        <% cgst_total = calculate_percent((city_infra + project_unit.advance_maintenance_charges + project_unit.clubhouse_amenities_price + project_unit.wep_price),9) %>
        <%= number_to_indian_currency(cgst_total.round(2)) %>
      </td>
      <td>
        <%= number_to_indian_currency(cgst_total.round(2)) %>
      </td>
      <td>
        <%= number_to_indian_currency((total_wep + total_city_infra + total_advance + total_club_house + project_unit.corpus_fund).round(2)) %>
      </td>
    </tr>
    <tr>
      <td class="pink">
        GRAND TOTAL OF THE APARTMENT
      </td>
      <td class="pink">

      </td>
      <td class="pink">

      </td>
      <td class="pink">

      </td>
      <td class="pink">

      </td>
      <td class="pink">
        <%= number_to_indian_currency(@project_unit.all_inclusive_price.round(2)) %>
      </td>
    </tr>
  </table>
</div>
<h1 class="f22 bold">Payment Schedule</h1>
<div class="table-wrapper">
  <table width="100%" cellspacing="0" cellpadding="5" class="payment-breakup" border="0" outline="1">
    <tr>
      <th class="text-left">
        PARTICULARS
      </th>
      <th>
        PERCENTAGE
      </th>
      <th>
        LAND COST
      </th>
      <th>
        CONSTRUCTION COST
      </th>
      <th>
        GST
      </th>
      <th>
        TOTAL
      </th>
    </tr>
    <tr>
      <td>
        ON BOOKING / AGREEMENT
      </td>
      <td class="text-center">
        10%
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.land_price,10)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.construction_price,10)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.gst_on_agreement_price,10)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.gst_on_agreement_price,10) + calculate_percent(project_unit.construction_price,10) + calculate_percent(project_unit.land_price,10)).round(2)) %>
      </td>
    </tr>
    <tr>
      <td>
        ON COMPLETION OF BASEMENT SLAB
      </td>
      <td class="text-center">
        25%
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.land_price,25)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.construction_price,25)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.gst_on_agreement_price,25)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.gst_on_agreement_price,25) + calculate_percent(project_unit.construction_price,25) + calculate_percent(project_unit.land_price,25)).round(2)) %>
      </td>
    </tr>
    <tr>
      <td>
        ON COMPLETION OF 5TH FLOOR SLAB
      </td>
      <td class="text-center">
        25%
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.land_price,25)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.construction_price,25)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.gst_on_agreement_price,25)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.gst_on_agreement_price,25) + calculate_percent(project_unit.construction_price,25) + calculate_percent(project_unit.land_price,25)).round(2)) %>
      </td>
    </tr>
    <tr>
      <td>
        ON COMPLETION OF 10TH FLOOR SLAB
      </td>
      <td class="text-center">
        25%
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.land_price,25)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.construction_price,25)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.gst_on_agreement_price,25)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.gst_on_agreement_price,25) + calculate_percent(project_unit.construction_price,25) + calculate_percent(project_unit.land_price,25)).round(2)) %>
      </td>
    </tr>
    <tr>
      <td>
        ON COMPLETION OF PAINTING & FINISHES AND DEPOSITS  (POWER + WATER)
      </td>
      <td class="text-center">
        10%
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.land_price,10)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.construction_price,10)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.gst_on_agreement_price,10)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.gst_on_agreement_price,10) + calculate_percent(project_unit.construction_price,10) + calculate_percent(project_unit.land_price,10)).round(2)) %>
      </td>
    </tr>
    <tr>
      <td>
        ON POSSESSION + REMAINING ADDITIONAL DEPOSITS
      </td>
      <td class="text-center">
        5%
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.land_price,5)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.construction_price,5)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.gst_on_agreement_price,5)).round(2)) %>
      </td>
      <td class="text-center">
        <%= number_to_indian_currency((calculate_percent(project_unit.gst_on_agreement_price,5) + calculate_percent(project_unit.construction_price,5) + calculate_percent(project_unit.land_price,5)).round(2)) %>
      </td>
    </tr>
    <tr>
      <td>
        ON  POSSESSION - ADDITIONAL DEPOSITS
      </td>
      <td class="text-center">

      </td>
      <td class="text-center">

      </td>
      <td class="text-center">

      </td>
      <td class="text-center">

      </td>
      <td class="text-center">
        <%= number_to_indian_currency((total_wep + total_city_infra + total_advance + total_club_house + project_unit.corpus_fund).round(2)) %>
      </td>
    </tr>
    <tr>
      <td class="pink">
        Total value including additionals
      </td>
      <td class="pink text-center">
        100%
      </td>
      <td class="pink text-center">
        <%= number_to_indian_currency(project_unit.land_price.round(2)) %>
      </td>
      <td class="pink text-center">
        <%= number_to_indian_currency(project_unit.construction_price.round(2)) %>
      </td>
      <td class="pink text-center">
        <%= number_to_indian_currency(project_unit.gst_on_agreement_price.round(2)) %>
      </td>
      <td class="pink text-center">
        <%= number_to_indian_currency(@project_unit.all_inclusive_price.round(2)) %>
      </td>
    </tr>
  </table>
</div>
<div class="clearfix"></div>
<%= render "dashboard/toc" %>
