<%= nested_form_for([:admin, @project_unit], remote: true, html: {"data-resource-type": global_labels['project_unit'], "data-type": "json", class: 'modal-remote-form validate-form', id: 'project_unit_form'}) do |f| %>
  <div class="form-group">
    <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
                Edit Booking
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <nav>
              <div class="nav nav-tabs" role="tablist">
                <a class="nav-item nav-link active" data-toggle="tab" href="#nav-project-unit-basic" role="tab">Basic Details</a>
                <% if policy([:admin, @project_unit]).editable_field?("data_attributes") %>
                  <a class="nav-item nav-link" data-toggle="tab" href="#nav-project-unit-data" role="tab">Data</a>
                <% end %>
                <% if policy([:admin, @project_unit]).editable_field?("costs_attributes") %>
                  <a class="nav-item nav-link" data-toggle="tab" href="#nav-project-unit-costs" role="tab">Costs</a>
                <% end %>
                <% if policy([ current_user_role_group, Asset.new(assetable: @project_unit)]).create? %>
                  <a class="nav-item nav-link" data-toggle="tab" href="#nav-project-unit-floor_plan" role="tab">Floor Plan</a>
                <% end %>
              </div>
            </nav>
            <div class="mt-3"></div>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="nav-project-unit-basic" role="tabpanel">
                <%= render "admin/project_units/form_fields", f: f %>
              </div>
              <% if policy([:admin, @project_unit]).editable_field?("data_attributes") %>
              <div class="tab-pane fade" id="nav-project-unit-data" role="tabpanel">
                <div id="data_container">
                  <%= f.fields_for :data do |data_form| %>
                  <%= render "admin/datum/form_fields", f: data_form %>
                  <% end %>
                </div>
                <%= f.link_to_add "Add", :data, :data => { :target => "#data_container" } %>
              </div>
              <% end %>
              <% if policy([:admin, @project_unit]).editable_field?("costs_attributes") %>
                <div class="tab-pane fade" id="nav-project-unit-costs" role="tabpanel">
                  <div id="costs_container">
                    <%= f.fields_for :costs do |costs_form| %>
                    <%= render "admin/cost/form_fields", f: costs_form %>
                    <% end %>
                  </div>
                  <%= f.link_to_add "Add", :costs, :data => { :target => "#costs_container" } %>
                </div>
              <% end %>
              <%  if policy([ current_user_role_group, Asset.new(assetable: @project_unit)]).create? %>
                <div class="tab-pane fade" id="nav-project-unit-floor_plan" role="tabpanel">
                  <div id="plan_container">
                    <% if policy([ current_user_role_group, Asset.new(assetable: @project_unit)]).update? %>
                      <%= f.fields_for :assets, floor_plan_asset(@project_unit) do |p| %>
                        <%= render "admin/assets/form_fields", p: p %>
                      <% end %>
                    <% end %>
                  <% else %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.submit "Submit", class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($('#project_unit_form'));
});
<% end %>
