<%= nested_form_for([:admin, @project_unit], remote: true, html: {"data-resource-type": global_labels['project_unit'], "data-type": "json", class: 'modal-remote-form validate-form', id: 'project_unit_form'}) do |f| %>
  <div class="mb-3">
    <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header bg-gradient-cd white">
            <h3 class="title">
                <%= t('controller.project_units.edit.header')%>
            </h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <nav>
              <div class="nav nav-tabs theme-tab" role="tablist">
                <a class="nav-item nav-link active" data-bs-toggle="tab" href="#nav-project-unit-basic" role="tab">Basic Details</a>
                <% if policy([:admin, @project_unit]).editable_field?("data_attributes") %>
                  <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-project-unit-data" role="tab">Data</a>
                <% end %>
                <% if policy([:admin, @project_unit]).editable_field?("costs_attributes") %>
                  <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-project-unit-costs" role="tab">Costs</a>
                <% end %>
                <% if policy([ current_user_role_group, Asset.new(assetable: @project_unit)]).create? %>
                  <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-project-unit-floor_plan" role="tab">Floor Plan</a>
                <% end %>
                <% if policy(ThirdPartyReference).editable_field?('reference_id') %>
                  <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-project-unit-crm-ids" role="tab">CRM IDs</a>
                <% end %>
              </div>
            </nav>
            <div class="mt-3"></div>
            <div class="tab-content theme-form">
              <div class="tab-pane fade show active" id="nav-project-unit-basic" role="tabpanel">
                <%= render "admin/project_units/form_fields", f: f %>
              </div>
              <% if policy([:admin, @project_unit]).editable_field?("data_attributes") %>
              <div class="tab-pane fade" id="nav-project-unit-data" role="tabpanel">
                <div id="data_container">
                  <%= f.fields_for :data do |data_form| %>
                  <%= render "admin/datum/form_fields", f: data_form %>
                  <% end %>
                </div>
                <%= f.link_to_add "Add", :data, :data => { :target => "#data_container" } %>
              </div>
              <% end %>
              <% if policy([:admin, @project_unit]).editable_field?("costs_attributes") %>
                <div class="tab-pane fade" id="nav-project-unit-costs" role="tabpanel">
                  <div id="costs_container">
                    <%= f.fields_for :costs do |costs_form| %>
                    <%= render "admin/cost/form_fields", f: costs_form %>
                    <% end %>
                  </div>
                  <%= f.link_to_add "Add", :costs, :data => { :target => "#costs_container" } %>
                </div>
              <% end %>
              <% if policy([ current_user_role_group, Asset.new(assetable: @project_unit)]).create? %>
                <div class="tab-pane fade" id="nav-project-unit-floor_plan" role="tabpanel">
                  <div id="plan_container">
                    <% if policy([ current_user_role_group, Asset.new(assetable: @project_unit)]).update? %>
                      <%= f.fields_for :assets, floor_plan_asset(@project_unit) do |p| %>
                        <%= render "admin/assets/form_fields", p: p %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% if policy(ThirdPartyReference).editable_field?('reference_id') %>
                <div class="tab-pane fade" id="nav-project-unit-crm-ids" role="tabpanel">
                  <%= render 'admin/crm/shared/third_party_references_form', f: f %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.submit "Submit", class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($('#project_unit_form'));
  $('#project_unit_comments').attr('disabled', 'disabled')
  $("#project_unit_status").selectize().on("change", function() {
    if($(this).val() == 'not_available'){
      $('#project_unit_comments').removeAttr('disabled')
    } else {
      $('#project_unit_comments').attr('disabled', 'disabled')
    }
  })
  $("#project_unit_status").trigger('change')
});
<% end %>
