<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    html, body{padding: 0;margin: 0;font-size: 16px;-webkit-font-smoothing: antialiased;
      font-weight: 400; color: #333;line-height: 1.2;letter-spacing: 0.7px;}
    a, img, button, input[type=submit]{text-decoration: none; outline: none; border: 0;transition: .2s ease;}
    input:focus{outline:none;}
    b, strong{font-weight: 700;}
    *, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;}
    p, ul, h1, h2, h3, h4, h5, h6{padding:0; margin:0;}
    .container{max-width: 1200px;margin: 0px auto;padding: 0 20px;}
    .clearfix{clear: both;}
    .pull-left{float: left !important;}
    .pull-right{float: right !important;}
    .text-left{text-align: left;}
    .text-center{text-align: center;}
    .text-right{text-align: right;}
    .text-justify{text-align: justify;}
    .text-uppercase{text-transform: uppercase;}
    .text-italic{font-style: italic;}
    .text-light{font-weight: 400;}
    .text-bold{font-weight: 600;}
    .row:before, .row:after{display: table;content: " ";}
    .row:after, .clearfix{clear: both;}
    .col-1{width: 8.333333333333333%;}
    .col-2{width: 16.66666666666667%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33333333333333%;}
    .col-5{width: 41.66666666666667%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33333333333333%;}
    .col-8{width: 66.66666666666667%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33333333333333%;}
    .col-11{width: 91.66666666666667%;}
    .col-12{width: 100%;}
    .col-12-5{width: 20%;}
    .w70{width: 70%;}
    .w30{width: 30%;}
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-12-5, .w30, .w70{float: left;}
    .application-letter-wrapper	{padding: 50px 0;}
    .mb30{margin-bottom: 30px;}
    table{width: 100%;margin-bottom: 30px;border-collapse: collapse;}
    table tr th, table tr td{border:1px solid #000;}
    table tr th{}
    table tr td{}
    ul{padding-left: 20px;}

  </style>
</head>
<body>
	<section class="application-letter-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-12 mb30">
					<p class="mb30"><strong>RERA REGISTRATION NO. PR/KN/180119/002674</strong></p>
					<p><strong>1. Details of Apartment:</strong></p><br/>
					<table cellpadding="10" cellspacing="0">
						<tr>
							<th>Apartment No.</th>
							<th>Block</th>
							<th>Carpet Area(sq. ft.)</th>
							<th>Super Built Up Area(sq. ft.)</th>
							<th>Exclusive Garden Area/Terrace Area</th>
							<th>No. of Car Parks</th>
						</tr>
						<tr>
							<td><%= @project_unit.name %></td>
							<td><%= @project_unit.project_tower_name %></td>
							<td><%= @project_unit.carpet %></td>
							<td><%= @project_unit.saleable %></td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
					</table>
					<p><strong>2. Total Sale Consideration:</strong>&nbsp;The total sale consideration for the Apartment is <%= number_to_indian_currency(@project_unit.all_inclusive_price) %>/- (Rupees <%= @project_unit.all_inclusive_price.humanize %> only), made up of the following:</p><br/>
					<table cellpadding="10" cellspacing="0">
						<tr>
							<th>Rate per square feet</th>
							<th>Floor rise charges</th>
							<th>Statutory payments/charges</th>
							<th>Deposits and other charges</th>
							<th>Total</th>
						</tr>
						<tr>
							<td><%= @project_unit.effective_rate %></td>
							<td><%= @project_unit.floor_rise %></td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
					</table>
					<p class="mb30"><strong>Documents to be furnished by the Applicant/s</strong></p>
					<ul class="mb30">
						<li>Business Card</li>
						<li>Passport Size Photograph</li>
						<li>Copy of Passport / Voter ID / Driving License</li>
						<li>Copy of PAN Card</li>
						<li>Copy of OCI/PIO card (in case of foreign nationals)</li>
						<li>AADHAR Card</li>
					</ul>
					<p class="mb30"><strong>Details of the Promoter:</strong></p>
					<p><strong>Name of the Promoter:</strong> NAM ESTATES PRIVATE LIMITED</p>
					<p class="mb30"><strong>Address of the Promoter:</strong> No.150, 1st Floor, Embassy Point, Infantry Road, Bangalore - 560001</p>
					<p class="mb30"><strong>Details of the Project:</strong></p>
					<p><strong>Land:</strong> Sy.No.67/287 measuring 4.24 Acres situated at Navarathna Agrahara Village, Jala Hobli, Bangalore North Taluk, Sy.No.72/2 measuring 2.20 Acres and Sy.No.72/3 measuring 1.33 Acres both situated at Hegganahalli Village, Kasaba Hobli, Devanahalli Taluk</p>
					<p><strong>Project:</strong> Phase I /II/III - II</p>
					<p><strong>Sanction of Plan by:</strong> BIAAPA</p>
					<p><strong>Plan Sanction / LP No. :</strong> BIAAPA/TP/01/CC/02/2017-18 dated 26.10.2017.</p>
					<p><strong>Plan Approval No.:</strong> BIAAPA/TP/01/CC/02/2017-18 dated 26.10.2017.</p>
					<p class="mb30"><strong>Web Site under Real Estate (Development and Regulation) Act, 2016:</strong></p>
					<p class="mb30"><strong>Details of the Applicant/s: </strong></p>
					<p class="mb30"><strong>First Applicant (As in the Passport)</strong></p>
          <% primary_user_kyc = @project_unit.primary_user_kyc %>
					<p>Name: <%= primary_user_kyc.name %> </p>
					<p>Son/Daughter/Wife of: <%= primary_user_kyc.son_daughter_of %> </p>
					<p>Date of birth: <%= primary_user_kyc.dob.strftime("%b %d, %Y") %> </p>
					<p>Phone no.: <%= primary_user_kyc.phone %> </p>
					<p>Email ID: <%= primary_user_kyc.email %> </p>
					<p>Income Tax/PAN/GIR No.: <%= primary_user_kyc.pan_number %> </p>
					<p>NRI:  <%= primary_user_kyc.nri? ? "Yes" : "No" %> </p>
					<p>PIO/OCI:  <%= primary_user_kyc.oci %> </p>
					<p>Educational qualification: <%= primary_user_kyc.education_qualification %> </p>
					<p>Name of the Company: <%= primary_user_kyc.customer_company_name %> </p>
					<p class="mb30">Designation: <%= primary_user_kyc.designation %> </p>

          <% @project_unit.user_kycs.each_with_index do |user_kyc| %>
            <p class="mb30"><strong>Applicant - <%= index + 2 %> (As in the Passport)</strong></p>
            <p>Name: <%= user_kyc.name %> </p>
  					<p>Son/Daughter/Wife of: <%= user_kyc.son_daughter_of %> </p>
  					<p>Date of birth: <%= user_kyc.dob.strftime("%b %d, %Y") %> </p>
  					<p>Phone no.: <%= user_kyc.phone %> </p>
  					<p>Email ID: <%= user_kyc.email %> </p>
  					<p>Income Tax/PAN/GIR No.: <%= user_kyc.pan_number %> </p>
  					<p>NRI:  <%= user_kyc.nri? ? "Yes" : "No" %> </p>
  					<p>PIO / OCI:  <%= primary_user_kyc.oci %> </p>
  					<p>Educational qualification: <%= user_kyc.education_qualification %> </p>
  					<p>Name of the Company: <%= user_kyc.customer_company_name %> </p>
  					<p class="mb30">Designation: <%= user_kyc.designation %> </p>
          <% end %>

					<p class="mb30"><strong>Agreement Address (Permanent Address)</strong></p>
					<p>Mr./Mrs./Miss./Dr./M/s. <%= primary_user_kyc.name %></p>
					<p>
            Address:<br/>
            <%= primary_user_kyc.house_number %>, <%= primary_user_kyc.street %><br/>
            <%= primary_user_kyc.city %><br/>
            <%= primary_user_kyc.state %>, <%= primary_user_kyc.country %><br/>
          </p>
					<p class="mb30">PIN: <%= primary_user_kyc.postal_code %></p>

					<p class="mb30"><strong>Correspondence Address</strong></p>
          <p>Mr./Mrs./Miss./Dr./M/s. <%= primary_user_kyc.name %></p>
          <p>
            Address:<br/>
            <%= primary_user_kyc.correspondence_house_number %>, <%= primary_user_kyc.correspondence_street %><br/>
            <%= primary_user_kyc.correspondence_city %><br/>
            <%= primary_user_kyc.correspondence_state %>, <%= primary_user_kyc.correspondence_country %><br/>
          </p>
					<p class="mb30">PIN: <%= primary_user_kyc.correspondence_postal_code %></p>

					<p class="mb30"><strong>Details of General Power of Attorney Holder (If any)</strong></p>
					<p>Mr./Mrs./Miss./Dr./M/s. ____________________</p>
          <p>
            Address:<br/>
            ____________________<br/>
            ____________________<br/>
            ____________________<br/>
          </p>
					<p class="mb30">PIN: ____________________</p>

					<p>Email ID: <%= primary_user_kyc.email %></p>
					<p>Mobile: <%= primary_user_kyc.phone %></p>
					<p>Phone (Off): ____________________</p>
					<p>Phone (Resi): ____________________</p>
					<p class="mb30">Relationship: ____________________</p>
					<p class="mb30"><strong>Additional Details</strong></p>
					<p>Source of enquiry: ____________________<br/>(Newspaper advertisement, Website, Hoarding, Site walk-in, Office walk-in, Road show, Exhibition)</p>
					<p>Referred by: ____________________</p>
					<p>Channel Partner / Agent: ____________________</p>
					<p>Channel Partner/Agent’s Contact No. and Email ID: ____________________</p>
					<p class="mb30">and RERA registration No.: ____________________</p>
					<p>Name : ____________________</p>
					<p>Address: ____________________</p>
					<p>Contact No.: ____________________</p>
					<p>Finance: <%= primary_user_kyc.loan_required %><br/>(Self, Bank)</p>
					<p>Bank name: <%= primary_user_kyc.bank_name %></p>
					<p class="mb30">This booking is for own use/Investment</p>
					<p class="mb30"><strong>Signatures of Applicant/s</strong></p>
					<p><strong>1st Applicant</strong></p>
					<p>Name: <%= primary_user_kyc.name %></p>
					<p>Signature: ____________________</p>
					<p>Date: ____________________</p>
					<p class="mb30">Place: ____________________</p>

          <% @project_unit.user_kycs.each_with_index do |user_kyc| %>
					<p class="mb30">Applicant <%= index + 2 %></p>
					<p>Name: <%= user_kyc.name %></p>
					<p>Signature: ____________________</p>
					<p>Date: ____________________</p>
					<p>Place: ____________________</p>
          <br/><br/><br/>
          <% end %>
					<br/><br/><hr/><br/><br/>
					<p class="mb30"><strong>Terms & Conditions </strong></p>
					<%= render "dashboard/toc" %>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
