<!DOCTYPE html>
<html>
  <head>
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
  <style type="text/css" media="all">
    html, body{padding: 0;margin: 0;font-size: 16px;-webkit-font-smoothing: antialiased;
      font-weight: 400; color: #333;line-height: 1.6;letter-spacing: 0.7px; font-family: 'Roboto', sans-serif;}
      a, img, button, input[type=submit]{text-decoration: none; outline: none; border: 0;transition: .2s ease;}
      input:focus{outline:none;}
      b, strong{font-weight: 700;}
      *, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;}
      p, ul, h1, h2, h3, h4, h5, h6{padding:0; margin:0;}
      .container{max-width: 1200px;margin: 0px auto;padding: 0 20px;}
      .pg-break{ page-break-after: always;}
      .clearfix{clear: both;}
      .pull-left{float: left !important;}
      .pull-right{float: right !important;}
      .text-left{text-align: left;}
      .text-center{text-align: center;}
      .text-right{text-align: right;}
      .text-justify{text-align: justify;}
      .text-uppercase{text-transform: uppercase;}
      .text-italic{font-style: italic;}
      .text-light{font-weight: 400;}
      .text-bold{font-weight: 600;}
      .row:before, .row:after{display: table;content: " ";}
      .row:after, .clearfix{clear: both;}
      .col-1{width: 8.333333333333333%;}
      .col-2{width: 16.66666666666667%;}
      .col-3{width: 25%;}
      .col-4{width: 33.33333333333333%;}
      .col-5{width: 41.66666666666667%;}
      .col-6{width: 50%;}
      .col-7{width: 58.33333333333333%;}
      .col-8{width: 66.66666666666667%;}
      .col-9{width: 75%;}
      .col-10{width: 83.33333333333333%;}
      .col-11{width: 91.66666666666667%;}
      .col-12{width: 100%;}
      .col-12-5{width: 20%;}
      .w70{width: 70%;}
      .w30{width: 30%;}
      .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-12-5, .w30, .w70{float: left;}
      .application-letter-wrapper {}
      .mb30{margin-bottom: 30px;}
      table{width: 100%;margin-bottom: 30px;border-collapse: collapse;}
      table thead{background-color: #6c7d35;color:#fff;font-weight: 500;-webkit-print-color-adjust: exact;}
      table th{font-size: 16px;font-weight: 400;}
      table th, table td{text-align: center;padding:5px;border:1px solid #ccc;}
      ul{padding-left: 20px;}
      .row:before, .row:after{display: table;content: " ";}
      .row:after, .clearfix{clear: both;}
      .text-white{color: #fff;}
      .text-green{color:#6c7d35;}
      .bg-green{background:#6c7d35;padding: 10px 0;-webkit-print-color-adjust: exact;}
    </style>
  </head>
  <body>
    <section class="application-letter-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12" style="border-bottom: 1px solid #efefef;padding: 10px 0; text-align:right;margin-bottom: 10px;">
            <a href="javascript:window.print();" style="color: #666;font-size: 12px;background: #666; padding: 5px 10px; color: #fff;">Print</a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="pull-left">
              <img src="<%= asset_path("logo2.png") %>">
            </div>
            <div class="pull-right">
              <img src="<%= asset_path("logo-edge.png") %>">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center mb30">
            <p style="font-size:20px;"><strong>NAM ESTATES PRIVATE LIMITED</strong></p>
            <p class="mb30"><strong>BOOKING APPLICATION FOR ALLOTMENT OF <br/>APARTMENTS IN “EMBASSY EDGE"</strong></p>
            <p class="text-center text-white bg-green pos-rel">RERA REGISTRATION NO. PR/KN/180119/002674</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb30">
            <table>
              <thead>
                <tr>
                  <th>Photo Applicant 1</th>
                  <th>Photo Applicant 2</th>
                  <th>Photo Applicant 3</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="height:150px;"></td>
                  <td style="height:150px;"></td>
                  <td style="height:150px;"></td>
                </tr>
                <tr>
                  <td style="padding:10px 0"></td>
                  <td style="padding:10px 0"></td>
                  <td style="padding:10px 0"></td>
                </tr>
              </tbody>
            </table>
            <p><strong>1. Details of Apartment:</strong></p>
            <table cellpadding="10" cellspacing="0">
              <thead>
                <tr>
                  <th>Apartment No.</th>
                  <th style="padding:0 50px;">Block</th>
                  <th>Carpet Area(sq. ft.)</th>
                  <th>Super Built Up Area(sq. ft.)</th>
                  <th>Exclusive Garden Area/Terrace Area</th>
                  <th>No. of Car Parks</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @project_unit.name %></td>
                  <td><%= @project_unit.project_tower_name %></td>
                  <td><%= @project_unit.carpet %></td>
                  <td><%= @project_unit.saleable %></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <p><strong>2. Total Sale Consideration:</strong>&nbsp;The total sale consideration for the Apartment is<br/><%= number_to_indian_currency(@project_unit.all_inclusive_price) %>/- (Rupees <%= @project_unit.all_inclusive_price.humanize %> only), made up of the following:</p>
            <table cellpadding="10" cellspacing="0">
              <thead>
                <tr>
                  <th>Rate per square feet</th>
                  <th>Floor rise charges</th>
                  <th>Statutory payments/charges</th>
                  <th>Deposits and other charges</th>
                  <th style="padding:0 50px;">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @project_unit.effective_rate %></td>
                  <td><%= @project_unit.floor_rise %></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <div class="pg-break"></div>
            <p class="mb30 bg-green text-white text-center"><strong>Documents to be furnished by the Applicant/s</strong></p>
            <ul class="mb30">
              <li>Business Card</li>
              <li>Passport Size Photograph</li>
              <li>Copy of Passport / Voter ID / Driving License</li>
              <li>Copy of PAN Card</li>
              <li>Copy of OCI/PIO card (in case of foreign nationals)</li>
              <li>AADHAR Card</li>
            </ul>
            <p class="mb30 bg-green text-white text-center"><strong>Details of the Promoter:</strong></p>
            <p><strong>Name of the Promoter:</strong> NAM ESTATES PRIVATE LIMITED</p>
            <p class="mb30"><strong>Address of the Promoter:</strong> No.150, 1st Floor, Embassy Point, Infantry Road, Bangalore - 560001</p>

            <p class="mb30 bg-green text-white text-center"><strong>Details of the Project:</strong></p>
            <table class="" cellpadding="10" cellspacing="0">
              <tr>
                <td style="width:30%;font-weight: 600" class="text-right">Land:</td>
                <td class="text-left">Sy.No.67/287 measuring 4.24 Acres situated at Navarathna Agrahara Village, Jala Hobli, Bangalore North Taluk, Sy.No.72/2 measuring 2.20 Acres and Sy.No.72/3 measuring 1.33 Acres both situated at Hegganahalli Village, Kasaba Hobli, Devanahalli Taluk</td>
              </tr>
              <tr>
                <td style="width:30%;font-weight: 600" class="text-right">Project:</td>
                <td class="text-left">Apartments</td>
              </tr>
              <tr>
                <td style="width:30%;font-weight: 600" class="text-right">Sanction of Plan by:</td>
                <td class="text-left">BIAAPA</td>
              </tr>
              <tr>
                <td style="width:30%;font-weight: 600" class="text-right">Plan Sanction / LP No. :</td>
                <td class="text-left">BIAAPA/TP/01/CC/02/2017-18 dated 26.10.2017</td>
              </tr>
              <tr>
                <td style="width:30%;font-weight: 600" class="text-right">Plan Approval No.:</td>
                <td class="text-left"> BIAAPA/TP/01/CC/02/2017-18 dated 26.10.2017</td>
              </tr>
              <tr>
                <td style="width:30%;font-weight: 600" class="text-right">Web Site under Real Estate (Development and Regulation) Act, 2016:</td>
                <td class="text-left">http://www.embassysprings.com/</td>
              </tr>
            </table>
            <div class="pg-break"></div>
            <p class="mb30 bg-green text-white text-center"><strong>Details of the Applicant/s: </strong></p>
            <p><strong>First Applicant (As in the Passport)</strong></p><br/>
            <% primary_user_kyc = @project_unit.primary_user_kyc %>
            <p style="border-bottom:1px solid #000;">Name: <%= primary_user_kyc.name %> <br/><br/><br/></p><br/>
            <p style="border-bottom:1px solid #000;">Son/Daughter/Wife of: <%= primary_user_kyc.son_daughter_of %> <br/><br/><br/></p><br/>
            <p style="border-bottom:1px solid #000;"><span style="width:50%;display: inline-block;">Date of birth: <%= primary_user_kyc.dob.strftime("%b %d, %Y") %> </span><span style="width:50%;display: inline-block;">Phone no.: <%= primary_user_kyc.phone %> </span></p><br/>
            <p style="border-bottom:1px solid #000;">Email ID:  <%= primary_user_kyc.email %> </p><br/>
            <p style="border-bottom:1px solid #000;"><span style="width:50%;display: inline-block;">Income Tax/PAN/GIR No.: <%= primary_user_kyc.pan_number %> </span><span style="width:50%;display: inline-block;">STATUS:</span></p><br/>
            <p style="border-bottom:1px solid #000;"><span style="width:50%;display: inline-block;">Resident Indian: <%= primary_user_kyc.nri? ? "Yes" : "No" %></span><span style="width:50%;display: inline-block;">NRI: <%= primary_user_kyc.nri? ? "Yes" : "No" %></span></p><br/>
            <p style="border-bottom:1px solid #000;"><span style="width:50%;display: inline-block;">PIO: <%= primary_user_kyc.oci %></span><span style="width:50%;display: inline-block;">Citizen of:</span></p><br/>
            <p style="border-bottom:1px solid #000;"><span style="width:50%;display: inline-block;">Educational qualification: <%= primary_user_kyc.education_qualification %></span><span style="width:50%;display: inline-block;">Profession: </span></p><br/>
            <p style="border-bottom:1px solid #000;">Name of the Company: <%= primary_user_kyc.customer_company_name %> </p><br/>
            <p class="mb30" style="border-bottom:1px solid #000;">Designation:<%= primary_user_kyc.designation %> </p><br/>

            <% @project_unit.user_kycs.each_with_index do |user_kyc| %>
            <p class="mb30"><strong>Applicant - <%= index + 2 %> (As in the Passport)</strong></p>
            <p style="border-bottom:1px solid #000;">Name:<%= user_kyc.name %><br/><br/><br/></p><br/>
            <p style="border-bottom:1px solid #000;">Son/Daughter/Wife of:<%= user_kyc.son_daughter_of %><br/><br/><br/></p><br/>
            <p style="border-bottom:1px solid #000;"><span style="width:50%;display: inline-block;">Date of birth:<%= user_kyc.dob.strftime("%b %d, %Y") %></span><span style="width:50%;display: inline-block;">Phone no.<%= user_kyc.phone %>:</span></p><br/>
            <p style="border-bottom:1px solid #000;">Email ID:%= user_kyc.email %> </p><br/>
            <p style="border-bottom:1px solid #000;"><span style="width:50%;display: inline-block;">Income Tax/PAN/GIR No.<%= user_kyc.pan_number %>:</span></p><br/>
            <p style="border-bottom:1px solid #000;"><span style="width:50%;display: inline-block;">Resident Indian:<%= user_kyc.nri? ? "Yes" : "No" %></span><span style="width:50%;display: inline-block;">NRI:<%= user_kyc.nri? ? "Yes" : "No" %></span></p><br/>
            <p style="border-bottom:1px solid #000;"><span style="width:50%;display: inline-block;">PIO: <%= primary_user_kyc.oci %></span><span style="width:50%;display: inline-block;">Citizen of:</span></p><br/>
            <p style="border-bottom:1px solid #000;"><span style="width:50%;display: inline-block;">Educational qualification: <%= user_kyc.education_qualification %></span><span style="width:50%;display: inline-block;">Profession:</span></p><br/>
            <p style="border-bottom:1px solid #000;">Name of the Company: <%= user_kyc.customer_company_name %> </p><br/>
            <p class="mb30" style="border-bottom:1px solid #000;">Designation: <%= user_kyc.designation %></p><br/>
            <% end %>
            <div class="pg-break"></div>
            <p class="mb30 bg-green text-white text-center"><strong>Agreement Address (Permanent Address)</strong></p>
            <p style="border-bottom:1px solid #000;">Mr./Mrs./Miss./Dr./M/s.  <%= primary_user_kyc.name %><br/><br/><br/></p><br/>
            <p style="border-bottom:1px solid #000;">Street/House No:<%= primary_user_kyc.house_number %></p><br/>
            <p style="border-bottom:1px solid #000;">Landmark:<%= primary_user_kyc.street %></p><br/>
            <p style="border-bottom:1px solid #000;">City:<%= primary_user_kyc.city %></p><br/>
            <p style="border-bottom:1px solid #000;">State:<%= primary_user_kyc.state %></p><br/>
            <p style="border-bottom:1px solid #000;">Country:<%= primary_user_kyc.country %></p><br/>
            <p class="mb30" style="border-bottom:1px solid #000;page-break-after: always;">PIN: <%= primary_user_kyc.postal_code %></p>
            <p class="mb30 bg-green text-white text-center"><strong>Correspondence Address</strong></p>
            <p style="border-bottom:1px solid #000;">Mr./Mrs./Miss./Dr./M/s. <%= primary_user_kyc.name %><br/><br/><br/></p><br/>
            <p style="border-bottom:1px solid #000;">Street/House No: <%= primary_user_kyc.correspondence_house_number %> </p><br/>
            <p style="border-bottom:1px solid #000;">Landmark:  <%= primary_user_kyc.correspondence_street %></p><br/>
            <p style="border-bottom:1px solid #000;">City:  <%= primary_user_kyc.correspondence_city %></p><br/>
            <p style="border-bottom:1px solid #000;">State:  <%= primary_user_kyc.correspondence_state %></p><br/>
            <p style="border-bottom:1px solid #000;">Country:  <%= primary_user_kyc.correspondence_country %></p><br/>
            <p class="mb30" style="border-bottom:1px solid #000;">PIN: <%= primary_user_kyc.correspondence_postal_code %></p>

            <div class="pg-break"></div>
            <p class="mb30 bg-green text-white text-center"><strong>Details of General Power of Attorney Holder (If any)</strong></p>
            <p style="border-bottom:1px solid #000;">Mr./Mrs./Miss./Dr./M/s.<br/><br/><br/></p><br/>
            <p style="border-bottom:1px solid #000;">Street/House No: </p>  <br/>
            <p style="border-bottom:1px solid #000;">Landmark: </p><br/>
            <p style="border-bottom:1px solid #000;">City: </p><br/>
            <p style="border-bottom:1px solid #000;">State: </p><br/>
            <p style="border-bottom:1px solid #000;">Country: </p><br/>
            <p style="border-bottom:1px solid #000;">PIN: </p><br/>
            <p style="border-bottom:1px solid #000;">Email ID:<%= primary_user_kyc.email %> </p><br/>
            <p style="border-bottom:1px solid #000;">Mobile: <%= primary_user_kyc.phone %></p><br/>
            <p style="border-bottom:1px solid #000;">Phone (Off): </p><br/>
            <p style="border-bottom:1px solid #000;">Phone (Resi): </p><br/>
            <p style="border-bottom:1px solid #000;" class="mb30">Relationship: </p>

            <div class="pg-break"></div>
            <p class="mb30 bg-green text-white text-center"><strong>Additional Details</strong></p>
            <p style="border-bottom:1px solid #000;">Source of enquiry: <br/>(Newspaper advertisement, Website, Hoarding, Site walk-in, Office walk-in, Road show, Exhibition)</p><br/>
            <p style="border-bottom:1px solid #000;">Referred by: </p><br/>
            <p style="border-bottom:1px solid #000;">Channel Partner / Agent: </p><br/>
            <p style="border-bottom:1px solid #000;">Channel Partner/Agent’s Contact No. and Email ID: </p><br/>
            <p style="border-bottom:1px solid #000;">and RERA registration No.: </p><br/>
            <p style="border-bottom:1px solid #000;">Name : </p><br/>
            <p style="border-bottom:1px solid #000;">Street/House No: </p><br/>
            <p style="border-bottom:1px solid #000;">Landmark: </p><br/>
            <p style="border-bottom:1px solid #000;">City: </p><br/>
            <p style="border-bottom:1px solid #000;">State: </p><br/>
            <p style="border-bottom:1px solid #000;">Country: </p><br/>
            <p style="border-bottom:1px solid #000;">PIN: </p><br/>
            <p style="border-bottom:1px solid #000;">Contact No.: </p><br/>
            <p style="border-bottom:1px solid #000;">Finance: <%= primary_user_kyc.loan_required %><br/>(Self, Bank)</p><br/>
            <p style="border-bottom:1px solid #000;">Bank name:<%= primary_user_kyc.bank_name %></p><br/>
            <p style="border-bottom:1px solid #000;" class="mb30">This booking is for own use/Investment</p>
            <div class="pg-break"></div>
            <p class="mb30 bg-green text-white text-center"><strong>Signatures of Applicant/s</strong></p>
            <p><strong>1st Applicant</strong></p>
            <p>Name: <%= primary_user_kyc.name %></p>
            <p>Signature: ____________________</p>
            <p>Date: ____________________</p>
            <p class="mb30">Place: ____________________</p>

            <% @project_unit.user_kycs.each_with_index do |user_kyc| %>
            <p><strong>Applicant <%= index + 2 %></strong></p>
            <p>Name: <%= user_kyc.name %></p>
            <p>Signature: ____________________</p>
            <p>Date: ____________________</p>
            <p  class="mb30">Place: ____________________</p>
            <% end %>
            <hr/><br/>
            <p class="mb30 bg-green text-white text-center"><strong>Terms & Conditions </strong></p>
            <%= render "dashboard/toc" %>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
