<div class="container">
  <div class="row justify-content-center">
    <div class="<%= @project_unit.blank? ? 'col-md-9' : 'col-md-12' %>">
      <%= render 'breadcrumbs', {project_unit: @project_unit} %>
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-7">
              <% if ProjectUnitPolicy.new(current_user, ProjectUnit).export? %>
                <%= link_to "Export all #{global_labels['units']}", export_admin_project_units_path, class: 'btn btn-primary float-left ml-2 margin-xs-left-0' %>
              <% end %>
              <% if ProjectUnitPolicy.new(current_user, ProjectUnit).mis_report? %>
                <%= link_to "MIS report #{global_labels['units']}", mis_report_admin_project_units_path, class: 'btn btn-primary float-left ml-2 margin-xs-left-0' %>
              <% end %>
            </div>
            <div class="col-md-5 text-md-right">
              <h6 class="mt-2">Total <%= global_labels[:project_units] %>: <%= @project_units.count %></h6>
            </div>
          </div>
          <%= render '/admin/project_units/index', project_units: @project_units %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-md-none mt-3"></div>
      <%= render "filters" %>
    </div>
  </div>
</div>
