<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <% if params[:controller] != "admin/users" && params[:action] != "show" %>
        <%= content_for :breadcrumbs do %>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%= home_path(current_user) %>">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Units</li>
          </ol>
        </nav>
        <% end %>
      <% end %>
      <div class="mt-3"></div>
      <div class="row">
        <div class="col-9">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <p>Total Project Units : <%= project_units.count %></p>
                </div>
              </div>
              <%= render '/admin/project_units/index', project_units: @project_units %>
              <% if ProjectUnitPolicy.new(current_user, ProjectUnit).export? %>
                <%= link_to "Export all #{global_labels['units']}", export_admin_project_units_path, class: 'btn btn-primary float-left ml-2 pink-btn margin-xs-left-0' %>
              <% end %>
              <% if ProjectUnitPolicy.new(current_user, ProjectUnit).mis_report? %>
                <%= link_to "MIS report #{global_labels['units']}", mis_report_admin_project_units_path, class: 'btn btn-primary float-left ml-2 pink-btn margin-xs-left-0' %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-3">
          <%= render "filters" %>
        </div>
      </div>
    </div>
  </div>
</div>
