<div class="container">
  <div class="row justify-content-center">
    <div class="<%= @project_unit.blank? ? 'col-md-9' : 'col-md-12' %>">
      <%= render 'breadcrumbs', {project_unit: @project_unit} %>
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-7">
              <% if ProjectUnitPolicy.new(current_user, ProjectUnit).mis_report? %>
                <%= link_to "MIS report #{global_labels['units']}", mis_report_admin_project_units_path, class: 'btn btn-primary float-left ml-md-2 mt-md-0 mt-2 margin-xs-left-0' %>
              <% end %>
              <% if ProjectUnitPolicy.new(current_user, ProjectUnit).export? %>
                <div class="dropdown float-left ml-2">
                  <a class="btn btn-light dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <%= link_to "All #{global_labels['units']}", export_admin_project_units_path, class: 'dropdown-item' %>
                    <%= link_to "Active filter #{global_labels['units']}", export_admin_project_units_path(fltrs: params["fltrs"].as_json), class: 'dropdown-item' %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-md-5 text-md-right">
              <h6 class="mt-2">Total <%= global_labels[:project_units] %>: <%= @project_units.total_entries %></h6>
            </div>
          </div>
          <%= render '/admin/project_units/index', project_units: @project_units %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-md-none mt-3"></div>
      <%= render "filters" %>
    </div>
  </div>
</div>
