
<div class="container">
  <div class = "row justify-content-right">
    <div class = "col-md-12">
      <% if params[:booking_detail_scheme] %>
        <%= link_to "PDF", quotation_admin_project_unit_path(@project_unit, booking_detail_scheme: params[:booking_detail_scheme].permit(:derived_from_scheme_id, payment_adjustments_attributes: {}), format: :pdf),class: "btn btn-primary float-right" %>
      <% else %>
        <%= link_to "PDF", quotation_admin_project_unit_path(@project_unit, format: :pdf),class: "btn btn-primary float-right" %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="card card-body h-100 text-center bg-primary text-white">
            To be fair to other user interested in this apartment, we have held this unit for some time. Please go through the costs & payment schedule before you make a payment of <%= number_to_indian_currency(current_client.blocking_amount) %>.<br/>
            <div class="font-weight-bold jquery-countdown-container" id="held-until-countdown"></div>
          </div>
        </div>
        <div class="col-md-8 mt-3 mt-md-0">
          <%= render 'dashboard/booking_detail_overview', {booking_detail: @booking_detail} %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= nested_form_for([ current_user_role_group, @booking_detail, @booking_detail_scheme], :url => quotation_admin_project_unit_path(@project_unit),  local: true, method: :get, html: {class: 'modal-remote-form validate-form', "data-resource-type": global_labels['schemes'], "data-type": "json", id: 'scheme_form'}) do |f| %>
        <div class="form-group">
          <% _params = {fltrs: { project_tower: @booking_detail.project_unit.project_tower_id, can_be_applied_by: current_user.role, status: 'approved' } } %>
          <%= f.label :derived_from_scheme_id, class: 'control-label' %>
          <%= f.select :derived_from_scheme_id, options_from_collection_for_select(Scheme.where(_id: f.object.derived_from_scheme_id), 'id', 'name', f.object.derived_from_scheme_id), {prompt: true }, class: 'selectize-remote', required: 'required', autofocus: true, data: { url: admin_schemes_path, params: _params }%>
        </div>
        <div class="non-editable-payment-adjustments">
          <% @booking_detail_scheme.non_editable_payment_adjustments.each do |payment_adjustment| %>
          <div class="row">
            <div class="col-md-4">
              <p>Name</p>
              <p><%= payment_adjustment.name %></p>
            </div>
            <div class="col-md-4">
              <p>Field</p>
              <p><%= payment_adjustment.field %></p>
            </div>
            <div class="col-md-4">
              <p>Value</p>
              <p><%= payment_adjustment.value(@booking_detail.project_unit) %></p>
            </div>
          </div>
          <% end %>
        </div>
        <% editable_payment_adjustment = policy([ current_user_role_group, @booking_detail_scheme]).editable_field?("payment_adjustments_attributes") %>
        <div class="payment-adjustments">
          <%= f.fields_for :payment_adjustments, @booking_detail_scheme.editable_payment_adjustments do |adj| %>
            <% if editable_payment_adjustment %>
              <%= adj.link_to_remove icon("far", "times-circle") %>
            <% end %>
            <%= adj.hidden_field :editable, value: true %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= adj.label :name, class: 'label-required' %>
                  <%= adj.text_field :name, class: "form-control", required: 'required', disabled: !editable_payment_adjustment %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= adj.label :field, class: 'label-required' %>
                  <%= adj.select :field, Scheme.available_fields.collect{|x| [x.titleize, x]}, {prompt: true}, class: 'selectize-tags', disabled: !editable_payment_adjustment %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= adj.label :absolute_value, class: 'label-required' %>
              <%= adj.number_field :absolute_value, class: "form-control", disabled: !editable_payment_adjustment %>
              <p class="small text-muted">Total Adjustment will be calculated as Rs. (saleable) * (scheme mentioned here)</p>
            </div>
          <% end %>
        </div>
        <% if editable_payment_adjustment %>
          <%= f.link_to_add "Add Adjustments", :payment_adjustments, :data => { :target => ".payment-adjustments" } %>
        <% end %>
        </br>
        <%= f.submit "Apply", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="mt-3"></div>
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <%= @booking_detail.cost_sheet_template.parsed_content(@booking_detail) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#scheme_form"));
  var payment_adjustment_html = function(record){
    return '<div class="row">\
      <div class="col-md-4">\
        <p>Name</p>\
        <p>' + record.name + '</p>\
      </div>\
      <div class="col-md-4">\
        <p>Field</p>\
        <p>' + record.field + '</p>\
      </div>\
      <div class="col-md-4">\
        <p>Value</p>\
        <p>' + record.value + '</p>\
      </div>\
    </div>'
  }
  $('[name="booking_detail_scheme[derived_from_scheme_id]"]').change(function(){
    $(".non-editable-payment-adjustments").html("");
    $(".payment-adjustments").html("");
    $.ajax({
      url: "/admin/schemes/" + $(this).val() + "/payment_adjustments_for_unit",
      type: "GET",
      dataType: 'json',
      data: {
        project_unit_id: "<%= @booking_detail.project_unit.id %>"
      },
      success: function(data, xhr, status){
        _.each(data, function(record){
          var html = payment_adjustment_html(record);
          $(".non-editable-payment-adjustments").append(html);
        })
      }, error: function(){

      }
    })
  });
});
<% end %>
