<section class="padding-side-22">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-left mtop10">
        <p class="pageTitle big pink">SWAP REQUEST</p>
      </div>
      <div class="col-md-12 border-left-0 border-top-0 border-bottom-0">
        <%= form_tag swap_request_initiate_admin_project_unit_path(@project_unit), class: 'validate-form', method: "get" do |f| %>
          <div> Current project unit: <%= @project_unit.name %></div>
          <div class="form-group">
            <%= label_tag :alternate_project_unit_id, nil, class: 'label-required' %>
            <%= select_tag :alternate_project_unit_id, options_for_select(ProjectUnit.where(status: "available").collect{|x| [x.name, x.id] }), class: 'selectize', required: "required" %>
          </div>
          <div class="form-group">
            <%= submit_tag "Send", class: 'btn btn-primary pink-btn' %>
          </div>
        <% end %>
        <br/><br/><br/>
        <%= javascript_tag do %>
        $(document).ready(function(){
          FormInitializer.init($('.validate-form'));
        });
        <% end %>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</section>
