<%= form_for [:admin, @erp_model], remote: true, local: true, html: {id: "erp_model_form", class: "modal-remote-form validate-form", "data-resource-type": global_labels['erp_model'], "data-type": "json"} do |f| %>
  <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
              Edit Erp Model
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :resource_class %>
                <%= f.select :resource_class, ErpModel::RESOURCE_CLASS.collect{|x| x}, {prompt: true}, class: 'selectize', disabled: !policy([:admin, @erp_model]).editable_field?("resource_class") %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :domain %>
                <%= f.select :domain, ErpModel::DOMAIN.collect{|x| x}, {prompt: true}, class: 'selectize', disabled: !policy([:admin, @erp_model]).editable_field?("domain") %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :action_name %>
                <%= f.select :action_name, ErpModel.allowed_action_names.collect{|x| x}, {prompt: true}, class: 'selectize', disabled: !policy([:admin, @erp_model]).editable_field?("action_name") %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :http_verb %>
                <%= f.select :http_verb, ErpModel::HTTP_VERB.collect{|x| x}, {prompt: true}, class: 'selectize', disabled: !policy([:admin, @erp_model]).editable_field?("http_verb") %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :url %>
                <%= f.text_field :url, class: 'form-control', disabled: !policy([:admin, @erp_model]).editable_field?("url") %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :reference_key_name %>
                <%= f.text_field :reference_key_name, class: 'form-control', disabled: !policy([:admin, @erp_model]).editable_field?("reference_key_name") %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :is_active %><br/>
                <div class="form-check form-check-inline">
                  <%= f.radio_button :is_active, true, class: "form-check-input" %>
                  <%= f.label :is_active, "Yes", class: "form-check-label" %>
                </div>
                <div class="form-check form-check-inline">
                  <%= f.radio_button :is_active, false, class: "form-check-input" %>
                  <%= f.label :is_active, "No", class: "form-check-label" %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :request_type %>
                <%= f.select :request_type, ErpModel::REQUEST_TYPE.collect{|x| x}, {prompt: true}, class: 'selectize', disabled: !policy([:admin, @erp_model]).editable_field?("request_type") %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :reference_key_location %><h6>(Comma separated value)</h6>
                <%= f.text_field :reference_key_location, class: 'form-control', disabled: !policy([:admin, @erp_model]).editable_field?("reference_key_location") %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :request_payload %>
                <%= f.text_area :request_payload, class: 'form-control', disabled: !policy([:admin, @erp_model]).editable_field?("request_payload"), rows: 15 %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Save", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#erp_model_form"));
  });
<% end %>
