<table class='table my-customer-table table-responsive table-color'>
  <thead>
    <thead>
      <tr>
        <th><%= t('mongoid.attributes.erp_model.resource_class') %></th>
        <th><%= t('mongoid.attributes.erp_model.domain') %></th>
        <th><%= t('mongoid.attributes.erp_model.action_name') %></th>
        <th><%= t('mongoid.attributes.erp_model.is_active') %></th>
        <th  class="btn-action">Action</th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% @erp_models.each do |erp_model| %>
    <tr>
      <td>
        <%= t("erp_models.resource_class.#{erp_model.resource_class}") %>
      </td>
      <td>
        <%= erp_model.domain || '-' %>
      </td>
      <td>
        <%= erp_model.action_name || '-' %>
      </td>
      <td>
        <%= t("mongoid.attributes.erp_model/is_active.#{erp_model.is_active || false}") %>
      </td>
      <td>
        <div class="dropdown d-inline-block">
          <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-ellipsis-v txt-light-blue" aria-hidden="true"></i></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <% if policy([:admin, ErpModel.new]).edit? %>
            <%= link_to t('helpers.edit.link_name', model: ErpModel.model_name.human), edit_admin_erp_model_path(erp_model), class: 'modal-remote-form-link dropdown-item' %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 py-3 bg-white mb-2 px-2">
  <div class="row">
    <div class="col-lg-6">
      <p class="table-entry mb-0 ps-2 pt-2"><%= page_entries_info erp_models %></p>
    </div>
    <div class="col-lg-6 table-pagination">
      <%= will_paginate @erp_models, list_classes: %w(pagination justify-content-end) %>
    </div>
  </div>
</div>