<div class="container">
  <div class="row justify-content-center">
    <div class="<%= @erp_model.blank? ? 'col-md-9' : 'col-md-12' %>">
      <%= render 'breadcrumbs', {erp_model: @erp_model} %>
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-7 text-md-left">
              <% if policy([:admin, ErpModel.new]).new? %>
                <%= link_to 'New', new_admin_erp_model_path, class: 'modal-remote-form-link btn btn-primary' %>
              <% end %>
            </div>
            <div class="col-md-5 text-md-right">
              <h6 class="mt-2">Total Erp Models : <%= @erp_models.total_entries %></h6>
            </div>
          </div>
          <%= render 'index', {erp_models: @erp_models} %>
        </div>
      </div>
    </div>
  </div>
</div>
