<table class='table my-customer-table table-responsive table-color'>
  <thead class="th-default">
    <thead>
      <tr class="bg-primary white">
        <th><%= t('mongoid.attributes.token_type.name') %></th>
        <th><%= t('mongoid.attributes.token_type.token_prefix') %></th>
        <th><%= t('mongoid.attributes.token_type.token_seed') %></th>
        <th><%= t('mongoid.attributes.token_type.token_amount') %></th>
        <th><%= t('mongoid.attributes.token_type.status') %></th>
        <th class="btn-action"></th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% token_types.each do |token_type| %>
    <tr>
      <td data-title=<%= t('mongoid.attributes.token_type.name') %>>
        <%= token_type.name %>
      </td>
      <td data-title=<%= t('mongoid.attributes.token_type.token_prefix') %>>
        <%= token_type.token_prefix %>
      </td>
      <td data-title=<%= t('mongoid.attributes.token_type.token_seed') %>>
        <%= token_type.token_seed %>
      </td>
      <td data-title=<%= t('mongoid.attributes.token_type.token_amount') %>>
        <%= number_to_indian_currency(token_type.token_amount) %>
      </td>
      <td data-title=<%= t('mongoid.attributes.token_type.status') %>>
        <%= token_type.incrementor_exists? ? I18n.t("mongoid.attributes.token_type/status.active") : I18n.t("mongoid.attributes.token_type/status.disabled") %>
      </td>
      <td>
        <div class="dropdown d-inline-block">
          <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-ellipsis-v txt-light-blue" aria-hidden="true"></i></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <% if policy([:admin, token_type]).edit? %>
            <%= link_to t('helpers.edit.link_name', model: TokenType.model_name.human), edit_admin_project_token_type_path(token_type.project, token_type), class: 'dropdown-item modal-remote-form-link' %>
            <% end %>
            <% if policy([:admin, token_type]).token_init? %>
            <%= link_to t("controller.token_types.token_init.link_name"), token_init_admin_project_token_type_path(token_type.project, token_type), class: 'dropdown-item' %>
            <% end %>
            <% if policy([:admin, token_type]).token_de_init? %>
            <%= link_to t("controller.token_types.token_de_init.link_name"), token_de_init_admin_project_token_type_path(token_type.project, token_type), class: 'dropdown-item' %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 py-3 bg-white mb-2 px-2">
  <div class="row">
    <div class="col-lg-6">
      <p class="table-entry mb-0 ps-2 pt-2"><%= page_entries_info token_types %></p>
    </div>
    <div class="col-lg-6 table-pagination">
      <%= will_paginate token_types, list_classes: %w(pagination justify-content-end) %>
    </div>
  </div>
</div>