<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <thead>
      <tr class="bg-gradient-cd white">
        <th><%= t('mongoid.attributes.token_type.name') %></th>
        <th><%= t('mongoid.attributes.token_type.token_prefix') %></th>
        <th><%= t('mongoid.attributes.token_type.token_seed') %></th>
        <th><%= t('mongoid.attributes.token_type.token_amount') %></th>
        <th><%= t('mongoid.attributes.token_type.status') %></th>
        <th class="text-right"> <%= t('global.action', count: 2) %></th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% token_types.each do |token_type| %>
      <tr>
        <td data-title=<%= t('mongoid.attributes.token_type.name') %> >
          <%= token_type.name %>
        </td>
        <td data-title=<%= t('mongoid.attributes.token_type.token_prefix') %> >
          <%= token_type.token_prefix %>
        </td>
        <td data-title=<%= t('mongoid.attributes.token_type.token_seed') %> >
          <%= token_type.token_seed %>
        </td>
        <td data-title=<%= t('mongoid.attributes.token_type.token_amount') %> >
          <%= number_to_indian_currency(token_type.token_amount) %>
        </td>
        <td data-title=<%= t('mongoid.attributes.token_type.status') %> >
          <%= token_type.incrementor_exists? ? 'Active' : 'Disabled' %>
        </td>
        <td>
          <div class="dropdown show text-right">
            <a class="btn dropdown-toggle table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <% if policy([:admin, token_type]).edit? %>
                <%= link_to t('helpers.edit.link_name', model: TokenType.model_name.human), edit_admin_project_token_type_path(token_type.project, token_type), class: 'dropdown-item modal-remote-form-link' %>
              <% end %>
              <% if policy([:admin, token_type]).token_init? %>
                <%= link_to t("controller.token_types.token_init.link_name"), token_init_admin_project_token_type_path(token_type.project, token_type), class: 'dropdown-item' %>
              <% end %>
              <% if policy([:admin, token_type]).token_de_init? %>
                <%= link_to t("controller.token_types.token_de_init.link_name"), token_de_init_admin_project_token_type_path(token_type.project, token_type), class: 'dropdown-item' %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pb-2">
  <%= will_paginate token_types, list_classes: %w(pagination justify-content-center) %>
</div>
