<div class="table-responsive">
  <table class='table striped-table payment-breakup' width="100%" cellpadding="10" cellspacing="0">
    <thead class="th-default">
      <tr>
        <th>Class</th>
        <th>Action</th>
        <th>Request</th>
        <th>Response</th>
        <th>Status</th>
        <th>Message</th>
        <% if policy([:admin, SyncLog.new]).resync? %>
          <th class="text-right">Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @sync_logs.each do |sync_log| %>
      <tr>
          <td>
            <%= sync_log.resource.present? ? sync_log.resource_type : '-' %>
          </td>
          <td>
            <%= sync_log.action.present? ? sync_log.action : '-' %>
          </td>
          <td>
            <%= sync_log.request.present? ? sync_log.request : '-' %>
          </td>
          <td>
            <%= sync_log.response.present? ? sync_log.response : '-' %>
          </td>
          <td>
            <%= sync_log.status.present? ? sync_log.status : '-' %>
          </td>
          <td>
            <%= sync_log.message.present? ? sync_log.message : '-' %>
          </td>
          <% if policy([:admin, SyncLog.new]).resync? %>
            <td class="text-right">
              <div class="dropdown">
                <a class="btn btn-light dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <% if sync_log.resource.present? %>
                      <% if sync_log.resource_type == "UserKyc" %>
                        <%= link_to 'Show', controller: "admin/user_kycs", action: "show", id: sync_log.resource, class: 'dropdown-item' %>
                      <% elsif sync_log.resource_type == "Receipt" %>
                        <%= link_to 'Show', controller: "admin/receipts", action: "show", id: sync_log.resource, class: 'dropdown-item' %>
                      <% elsif sync_log.resource_type == "User" %>
                        <%= link_to 'Show', controller: "admin/users", action: "show", id: sync_log.resource, class: 'dropdown-item' %>
                      <% elsif sync_log.resource_type == "ChannelPartner" %>
                        <%= link_to 'Show', controller: "/channel_partners", action: "show", id: sync_log.resource, class: 'dropdown-item' %>
                      <% elsif sync_log.resource_type == "BookingDetail" %>
                        <%= link_to 'Show', controller: "admin/project_units", action: "show", id: sync_log.resource.project_unit, class: 'dropdown-item' %>
                      <% end %>
                    <% else %>
                      <%= link_to 'Show', resync_admin_sync_log_path(sync_log), class: 'dropdown-item' %>
                    <% end %> 
                  </div>
              </div>
            </td>
          <% end %>
      </tr>
      <% end %>
      <tr>
        <td colspan="4">
          <div class="mt-5 pt-5"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%= will_paginate @sync_logs, list_classes: %w(pagination justify-content-center) %>
