<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <% labels = t('mongoid.attributes.scheme').with_indifferent_access %>
      <thead>
        <tr class="bg-primary white">
          <th>Class</th>
          <th>Request</th>
          <th>Response</th>
          <th>Status</th>
          <th>Message</th>
          <% if policy([:admin, SyncLog.new]).resync? %>
            <th class="text-right">Actions</th>
          <% end %>
        </tr>
      </thead>
  </thead>
  <tbody>
    <% @sync_logs.each do |sync_log| %>
      <tr>
        <td data-title="Class">
          <%= sync_log.resource_type || '-' %></br>
          (<%= sync_log.action || '-' %>)
        </td>
        <td data-title="Request">
          <%= sync_log.request || '-' %>
        </td>
        <td data-title="Response">
          <%= sync_log.response || '-' %>
        </td>
        <td data-title="Status">
          <%= sync_log.status || '-' %>
        </td>
        <td data-title="Message">
          <%= sync_log.message || '-' %>
        </td>
        <td>
          <div class="dropdown show text-right">
          <a class="btn dropdown-toggle table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <% if policy([:admin, SyncLog.new]).resync? %>
                <%= link_to t("controller.sync_logs.show.link_name"), redirect_link(sync_log), class: 'dropdown-item' %>
              <% end %>
           </div>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pt-2">
  <%= will_paginate @sync_logs, list_classes: %w(pagination justify-content-center) %>
</div>
