<%= form_for [:buyer, user], remote: true, local: true, html: { class: "modal-remote-form validate-form", data: { "resource-type" => t('global.user'), type: "json"} } do |f| %>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :first_name, class: 'label-required' %>
          <%= f.text_field :first_name, class: 'form-control', autofocus: true, required: 'required', disabled: !policy([:buyer, user]).editable_field?("first_name") %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :last_name, class: 'label-required' %>
          <%= f.text_field :last_name, class: 'form-control', autofocus: true, required: 'required', disabled: (policy([:buyer, user]).editable_field?("last_name") ? false : true) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', disabled: !policy([:buyer, user]).editable_field?("email") %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :phone %>
          <%= f.text_field :phone, class: 'form-control phone', disabled: !policy([:buyer, user]).editable_field?("phone") %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :role, class: 'label-required' %>
      <div class='form-control role'><%= User.human_attribute_name("role.#{user.role}") %></div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :time_zone, class: "control-label" %>
          <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all.sort, {}, class: 'selectize', disabled: !policy([:buyer, user]).editable_field?("time_zone") %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>
