<section class="bookings my-4 mb-4 d-print-none">
  <div class="container">
    <div class="box-card">
      <div class="box-header br-rd-tr-4 row p-0">
        <div class="col-12 p-0 cursor-pointer" data-toggle="collapse" href="#collapseUtmParams" role="button" aria-expanded="false" aria-controls="collapseUtmParams"">
          <h2 class="text-dark icon-set icon-tag-black"><%= t('mongoid.attributes.user.utm_params') %></h2>
        </div>
      </div>
      <div class="box-content br-rd-bl-4 bg-white row collapse" id="collapseUtmParams">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <ul class="booking-apart-info clear">
            <% if user.utm_params.blank? %>
              No Tracking Found
            <% else %>
              <% user.utm_params.each do |key, value| %>
                <li>
                  <span> <%= key %> </span>
                  <p><%= value %></p>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<%= javascript_tag do %>
  $(document).ready(function(){
    var count = <%= raw user.utm_params.count %>
    if(count != 0){
      $('#collapseUtmParams').collapse('show')
    }
  });
<% end %>