<section class="bookings my-4 mb-4 d-print-none">
  <div class="card">
    <div class="card-header bg-white row p-0">
      <div class="col-12 p-0 cursor-pointer">
        <h2 class="text-dark icon-set icon-tag-black"><%= t('mongoid.attributes.user.utm_params') %></h2>
      </div>
    </div>
    <div class="card-body box-content br-rd-bl-4 bg-white row">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <ul class="booking-apart-info clear">
          <% if user.utm_params.blank? %>
          <%= I18n.t('mongoid.attributes.user.utm.no_tracking') %>
          <% else %>
          <% user.utm_params.each do |key, value| %>
          <li>
            <span class="fn-12 txt-light-blue"> <%= key %> </span>
            <p class="fn-14 theme-txt-color mb-0"><%= value %></p>
          </li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
<%= javascript_tag do %>
$(document).ready(function(){
var count = <%= raw user.utm_params.count %>
if(count != 0){
$('#collapseUtmParams').collapse('show')
}
});
<% end %>