<%= form_for [current_user_role_group, @user], action: :update_password, remote: true, local: true, html: {id: "user_form", class: "modal-remote-form validate-form", "data-resource-type": global_labels['user'], "data-type": "json"} do |f| %>
  <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Update Password
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :password, class: 'label-required' %>
            <%= f.password_field :password, class: 'form-control', autofocus: true, required: 'required', disabled: !policy([current_user_role_group, @user]).editable_field?("password") %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, class: 'label-required' %>
            <%= f.password_field :password_confirmation, class: 'form-control', autofocus: true, required: 'required', disabled: !policy([current_user_role_group, @user]).editable_field?("password") %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Change Password", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#user_form"));
  });
<% end %>
