<div class="mt-5 pt-5"></div>
<section class="cp-email-verify mt-5">
	<div class="cp-pwd-create">
		<h2 class="pt-3 px-4"><%= I18n.t("devise.keys.change_your_password") %></h2>
		<p class="pb-3 px-4"><%= I18n.t("devise.help_text.enter_password") %></p>
		<div class="cp-signup-form-wrap pt-2 pb-3 px-4 cp-form-wrap">
			<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), method: :put, html: { novalidate: false, class: 'validate-form', id: 'password_form' }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
				<%= f.hidden_field :project_id, value: current_project.try(:id) %>
				<%= f.hidden_field :booking_portal_client_id, value: current_client.try(:id) %>
				<div class="mb-3">
          <%= f.input :password, input_html: {autofocus: true, autocomplete: false, class: 'form-control'} %>
				</div>
				<div class="mb-3">
          <%= f.input :password_confirmation, input_html: {autofocus: false, autocomplete: false, class: 'form-control'} %>
				</div>
				<div class="mb-3 pt-3">
					<%= f.submit "Change password", class: 'btn cp-btn sign-in-btn',  data:{event_category: 'Section', event_action: 'Click', event_name: 'Send me reset password instructions'}  %>
				</div>
			<% end %>
		</div>
    	<div class="signin-footer text-center">
        	<%= render "devise/shared/links" %>
      	</div>
	</div>
</section>
<%= javascript_tag do %>
  $(document).ready(function(){
    $('section.login-page').css('height', $( window ).height() - $('section.login-page').offset().top );
    FormInitializer.init($("#password_form"));
  });
<% end %>
