<section class="auth login-page">
  <div class="container no-pd">
    <div class="col-lg-5 col-xs-12 col-md-12 col-sm-12 no-pd">
      <div class="login-form-wrapper pt-5">
        <p> <strong>Reset Password</strong></p>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { id: "password_form", method: :post, class: 'validate-form pb-5' }) do |f| %>
          <%= devise_error_messages! %>
          <% if current_client.preferred_login == "phone" %>
            <div class="form-group">
              <%= f.label :phone %><br />
              <%= f.phone_field :login, autofocus: true, autocomplete: false, class: 'form-control', placeholder: 'Phone' %>
            </div>
          <% else %>
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :login, autofocus: true, autocomplete: false, class: 'form-control', placeholder: 'Email' %>
            </div>
          <% end %>
          <div class="signin-btn col-lg-12 pl-0 pr-0 pt-5 pb-5">
            <%= f.submit "Send reset password instructions", class: 'sign-in-btn',  data:{event_category: 'Section', event_action: 'Click', event_name: 'Send me reset password instructions'}  %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#password_form"));
});
<% end %>
