<table class='table my-customer-table table-responsive table-color'>
  <thead class="th-default">
    <thead>
      <tr>
        <th><%= t('mongoid.attributes.developer.name') %></th>
        <th>Action</th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% developers.each do |developer| %>
    <tr>
      <td data-title=<%= t('mongoid.attributes.developer.name') %>>
        <%= link_to developer.name, admin_developer_path(developer) %>
      </td>
      <td>
        <div class="dropdown d-inline-block">
          <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-ellipsis-v txt-light-blue" aria-hidden="true"></i></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <%= render "#{current_user_role_group}/developers/links", developer: developer %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 py-3 bg-white mb-2 px-2">
  <div class="row">
    <div class="col-lg-6">
      <p class="table-entry mb-0 ps-2 pt-2"><%= page_entries_info developers %></p>
    </div>
    <div class="col-lg-6 table-pagination">
      <%= will_paginate developers, list_classes: %w(pagination justify-content-end) %>
    </div>
  </div>
</div>