<div class="filter-inner modal-content ps-2 pe-2 fixed-header-footer">
  <div class="modal-header filter-header">
  <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
    <a href="javascript:;" class="close-filter-btn btn-close"></a>
  </div>
  <%= form_tag admin_invoices_path, method: "get", id: "invoice_search_form" do %>
     <div class="filter-content modal-body ps-0 pe-0">
      <div class="row">
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.invoice.number'), class: "control-label" %>
          <%= text_field_tag "fltrs[number]", (params[:fltrs].present? ? params[:fltrs][:number] : ""), class: "form-control" %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
        <%= label_tag "fltrs[project_id]", t('mongoid.attributes.project_unit.project_id'), class: "control-label" %>
        <%= select_tag "fltrs[project_id]", options_from_collection_for_select(params[:fltrs].present? ? Project.where(_id: params[:fltrs][:project_id]) : [], "id", "ds_name", params.dig(:fltrs, :project_id)), {prompt:  I18n.t("global.select"), class: "selectize-remote", data: {url: admin_projects_path}} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.invoice.category'), class: "control-label" %>
          <%= select_tag "fltrs[category]", options_for_select(filter_incentive_categories, params.dig(:fltrs, :category)), {prompt: I18n.t("global.select"), class: "selectize"} %>
        </div>
        <% unless current_user.role?('channel_partner') %>
          <% if current_client.enable_channel_partners? %>
            <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
              <%= label_tag "fltrs", t('mongoid.attributes.invoice.manager_id'), class: "control-label" %>
              <%= select_tag "fltrs[manager_id]", options_from_collection_for_select(params.dig(:fltrs, :manager_id).present? ? User.where(_id: params[:fltrs][:manager_id]) : [], "id", "ds_name", params.dig(:fltrs, :manager_id)), {prompt: 'Select', class: "selectize-remote", data: {url: admin_users_path, params: { fltrs: { role: %w(cp_owner channel_partner)} } }} %>
            </div>
            <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
              <%= label_tag "fltrs", ChannelPartner.model_name.human, class: "control-label" %>
              <%= select_tag "fltrs[channel_partner_id]", options_from_collection_for_select(params.dig(:fltrs, :channel_partner_id).present? ? ChannelPartner.where(_id: params[:fltrs][:channel_partner_id]) : [], "id", "ds_name", params.dig(:fltrs, :channel_partner_id)), {prompt: 'Select', class: "selectize-remote", data: {url: channel_partners_path, params: { fltrs: { status: 'active'}, ds: true } }} %>
            </div>
          <% end %>
        <% end %>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.invoice.status'), class: "control-label" %>
          <%= select_tag "fltrs[status]", options_for_select(Invoice.user_based_available_statuses(current_user).collect{|x| [x.to_s.titleize, x.to_s]}, (params[:fltrs].present? ? params[:fltrs][:status] : "")), {prompt:  I18n.t("global.select"), class: "selectize"} %>
        </div>
      </div>
    </div>
          <div class="filter-footer modal-footer text-end">
      <%= submit_tag :Apply, class: "btn btn-primary f-save-btn db-small-btn bg-light-blue fn-500 float-end" %>
      <button type="button" class="btn btn-secondary f-cancel-btn float-end">Cancel</button>
    </div>
  <% end %>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#invoice_search_form"));
  });
<% end %>
