<% @resource = @invoice.invoiceable unless @resource %>
<%= nested_form_for([:admin, @invoice], url: url, local: true, remote: true, html: {class: 'modal-remote-form validate-form', "data-resource-type": global_labels['invoices'], "data-type": "json", id: 'invoice_form'}) do |f| %>
<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="title"><%= t("controller.invoices.#{action_name}.link_name") %></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body theme-form">
        <%= render "admin/invoices/#{@resource.class.model_name.i18n_key.to_s}/details", resource: @invoice.invoiceable rescue nil %>
        <% if (incentive_deduction = @invoice.incentive_deduction.presence) %>
          <%= render 'admin/invoices/incentive_deduction', incentive_deduction: incentive_deduction %>
        <% end %>

        <% if policy([:admin, @invoice]).editable_field?("agreement_amount") %>
          <div class="mb-3">
            <%= f.label :agreement_amount, class: '' %>
            <%= f.number_field :agreement_amount, autofocus: true, class: "form-control", disabled: !policy([:admin, @invoice]).editable_field?("agreement_amount") %>
          </div>
        <% end %>
        <div class="mb-3">
          <%= f.label :amount, class: '' %>
          <% if policy([:admin, @invoice]).editable_field?("amount") %>
            <%= f.number_field :amount, autofocus: true, class: "form-control", disabled: !policy([:admin, @invoice]).editable_field?("amount") %>
          <% else %>
            <p class='amount'><%= f.object.amount %></p>
          <% end %>
        </div>
        <div class="mb-3">
          <div class="alert alert-warning" role="alert">
            Please change the GST Slab % as per the Slabs
          </div>
          <%= f.label :gst_slab %>
          <% gst_slabs = @resource.try(:project)&.incentive_gst_slabs || @resource.booking_portal_client.try(:gst_slabs) || [] %>
          <%= f.select :gst_slab, options_for_select(gst_slabs.collect{|gst| ["#{gst} %", gst]} || [], @invoice.gst_slab), {prompt: 'Select'}, class: "selectize", disabled: !policy([:admin, @invoice]).editable_field?("gst_slab") %>
        </div>
        <div class="mb-3">
          <%= f.label :gst_amount, class: '' %>
          <% if policy([:admin, @invoice]).editable_field?("gst_amount") %>
            <%= f.number_field :gst_amount, autofocus: true, class: "form-control", disabled: !policy([:admin, @invoice]).editable_field?("gst_amount") %>
          <% else %>
            <p class='gst-amount'><%= f.object.gst_amount %></p>
          <% end %>
        </div>
        <div class="mb-3">
          <%= f.label :net_amount, class: '' %>
          <% if policy([:admin, @invoice]).editable_field?("net_amount") %>
            <%= f.number_field :net_amount, autofocus: true, class: "form-control", disabled: !policy([:admin, @invoice]).editable_field?("net_amount") %>
          <% else %>
            <p class='net-amount'><%= f.object.net_amount %></p>
          <% end %>
        </div>
        <% if policy([:admin, @invoice]).editable_field?("payment_adjustment_attributes") %>
          <div class="payment-adjustment">
            <%= f.fields_for :payment_adjustment do |adj|%>
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-3">
                    <%= adj.label :absolute_value, 'Adjustment' %>
                    <%= adj.number_field :absolute_value, class: "form-control", disabled: !policy([:admin, @invoice]).editable_field?("payment_adjustment_attributes") %>
                    <p class="small text-muted">Make adjustments here for Kicker & Voucher Incentives. Supports negative amount for deductions from Net amount </p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="mb-3">
          <%= f.label :status, class: 'control-label label-required' %>
          <% events = available_events(@invoice) %>
          <%= f.select :event, options_for_select(events.collect{|event| [t("controller.invoices.events.#{event.to_s}"), event.to_s]}, @invoice.status), {prompt: t("mongoid.attributes.invoice/status.#{@invoice.status}")}, class: 'selectize', required: 'required', disabled: !policy([:admin, @invoice]).editable_field?("event") %>
        </div>
        <div class="mb-3">
          <% if policy([:admin, @invoice]).editable_field?("rejection_reason") %>
            <%= f.label :rejection_reason, class: '' %>
            <%= f.text_area :rejection_reason, autofocus: true, class: "form-control", disabled: !policy([:admin, @invoice]).editable_field?("rejection_reason") %>
          <% elsif f.object.rejection_reason.present?  %>
            <%= f.label :rejection_reason, class: '' %>
            <p><%= f.object.rejection_reason %></p>
          <% end%>
        </div>
        <% if @invoice.comments.present? %>
          <div class="mb-3">
            <%= f.label :comments, class: '' %>
            <% if policy([:admin, @invoice]).editable_field?("comments") %>
              <%= f.text_area :comments, autofocus: true, class: "form-control", disabled: !policy([:admin, @invoice]).editable_field?("comments") %>
            <% else %>
              <p><%= f.object.comments %></p>
            <% end%>
          </div>
        <% end %>

        <div class='mb-5'></div>
        <% editable_cheque_detail = policy([:admin, @invoice]).editable_field?('cheque_detail_attributes') %>
        <% if editable_cheque_detail %>
          <%= f.fields_for :cheque_detail, (@invoice.cheque_detail || @invoice.build_cheque_detail) do |cheque_detail_form| %>
            <%= render 'admin/invoices/cheque_detail', f: cheque_detail_form, editable_cheque_detail: editable_cheque_detail %>
          <% end %>
        <% end %>
      </div>

      <div class="modal-footer text-end">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>

    </div>
  </div>
</div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#invoice_form"));
  var invoiceType = '<%= @invoice.class.to_s.underscore.gsub('/', '_') %>';

  $('#' + invoiceType + '_event').on('change', function(e){
    var status = e.target.value
    if (status == 'reject') {
      $('#' + invoiceType + '_rejection_reason').attr('required', true);
    } else {
      $('#' + invoiceType + '_rejection_reason').attr('required', false);
    }
  });

  var netAmt = '<%= @invoice.net_amount %>';
  var gstApplicable = '<%= @invoice.try(:project)&.gst_slab_applicable? %>';

  $('#' + invoiceType + '_gst_slab, #' + invoiceType + '_amount').on('change', function(event) {
    var gstAmount = 0;
    var amount = parseFloat($('input[name="' + invoiceType + '[amount]"]').val() || $('#invoice_form').find('.amount').html() || 0);
    $('#invoice_form').find('.amount').html(Amura.formatMoney(amount));
    if (gstApplicable == 'true') {
      var gstPercVal = $('#' + invoiceType + '_gst_slab').val();
      debugger
      if(!_.isEmpty(gstPercVal)){
        var gstPercentage = parseFloat(gstPercVal);
        _gstAmount = amount * (gstPercentage/100);
        // Round gst amount to 2 decimal places
        gstAmount = Math.round((_gstAmount + Number.EPSILON) * 100) / 100
      }
      $('#invoice_form').find('.gst-amount').html(Amura.formatMoney(gstAmount));
    }
    netAmt = amount + gstAmount;
    $('#invoice_form').find('.net-amount').html(Amura.formatMoney(netAmt));
  }).trigger('change');
});
<% end %>
