<div class='row'>
  <div class='col-md-4'>
    <div class='form-group mb-0'>
      <%= label_tag 'incentive_deduction', 'Incentive Deduction', class: 'control-label' %>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="box-content br-rd-bl-4 bg-white px-3 pt-3">
    <div class='row'>
      <div class='col-md-4 col-sm-4 col-xs-12'>
        <div class='form-group'>
          <%= label_tag 'amount', 'Amount', class: 'control-label' %>
          <p id='deduction-amount' data-amount='<%= incentive_deduction.amount %>'><%= number_to_indian_currency(incentive_deduction.amount) %></p>
        </div>
      </div>
      <div class='offset-md-1 col-md-3 col-sm-4 col-xs-12'>
        <div class='form-group'>
          <%= label_tag 'assets', 'Proof of Approval', class: 'control-label' %>
          <%  if incentive_deduction.assets.count > 1 %>
            <%= link_to 'Open proofs in new tab', admin_invoice_path(incentive_deduction.invoice, 'remote-state': assetables_path(assetable_type: incentive_deduction.class.model_name.i18n_key.to_s, assetable_id: incentive_deduction.id)), target: '_blank' %>
          <% else %>
            <div class="files-container-single">
              <% incentive_deduction.assets.each do |asset| %>
                <% if asset.file.file && asset.file.file.exists? %>
                  <%= render "assets/file_icon", record: {id: asset.id, file_size: asset.file_size, url: asset.file.url, content_type: asset.file.content_type, name: asset.file_name }, links: {} %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class='col-md-4 col-sm-4 col-xs-12'>
        <div class='form-group text-md-right'>
          <%= label_tag 'status', 'Status', class: 'control-label' %>
          <p><%= t("mongoid.attributes.incentive_deduction/status.#{incentive_deduction.status}") %></p>
          <% if incentive_deduction.pending_approval? %>
            <%= link_to t('controller.incentive_deductions.events.approved'), change_state_admin_invoice_incentive_deduction_path(@invoice, incentive_deduction, { incentive_deduction: { event: 'approved' } }), method: :post, data: {disable_with: 'Approving..'}, class: 'btn btn-success mr-2' %>
            <%= link_to t('controller.incentive_deductions.events.rejected'), change_state_admin_invoice_incentive_deduction_path(@invoice, incentive_deduction, { incentive_deduction: { event: 'rejected' } }), method: :post, data: {disable_with: 'Rejecting..'}, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
