<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <thead>
      <tr class="bg-gradient-cd white">
        <th><%= t('mongoid.attributes.invoice.number') %></th>
        <th><%= Invoice.model_name.human %> Details</th>
        <!--<th><%#= IncentiveScheme.model_name.human %> Details</th> -->
        <th><%= t('mongoid.attributes.invoice.amount') %></th>
        <th><%= t('mongoid.attributes.invoice.status') %></th>
        <th class="text-right"> <%= t('global.action', count: 3) %></th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.try(:number) %></td>
        <td>
          <%= link_to invoice.booking_detail.name, [current_user_role_group, invoice.booking_detail] %>
          <div class='small'>
            <span><%= invoice.project_name %></span>
            <% unless current_user.role?('channel_partner') %>
              <br><span><%= link_to_if policy([current_user_role_group, invoice.manager]).index?, invoice.manager_name, [:admin, invoice.manager] %></span>
            <% end %>
          </div>
        </td>
        <!--
        <td>
          <%#= link_to_if policy([current_user_role_group, IncentiveScheme]).index?, invoice.incentive_scheme.name.try(:titleize), [:admin, :invoices, {'remote-state': edit_admin_incentive_scheme_path(invoice.incentive_scheme)}] %>
          <div class='small'>
            <span><%#= Ladder.model_name.human %> - Stage <%#= invoice.ladder_stage %></span><br>
            <%# if adj = invoice.incentive_scheme.ladders.where(stage: invoice.ladder_stage).first.try(:payment_adjustment).presence %>
              <%# if adj.absolute_value.blank? && adj.formula.present? %>
                <span><%#= formula_to_human(adj.formula) %><span>
              <%# else %>
                <span><strong><%#= number_to_indian_currency(adj.absolute_value) %></strong></span>
              <%# end %>
            <%# end %>
          </div>
        </td>
        -->
        <td>
          <%= number_to_indian_currency(invoice.amount) %><br>
          <% if invoice.status.in?(%w(approved paid)) && invoice.net_amount.present? %>
            <div class='small'>
              <span><%= t('mongoid.attributes.invoice.net_amount') %>: <strong><%= number_to_indian_currency(invoice.net_amount) %></strong></span>
            </div>
          <% end %>
        </td>
        <td>
          <%= t("mongoid.attributes.invoice/status.#{invoice.status}") %>
          <% if invoice.rejected? %>
            <div class='small'>
              <span class='break-word'>Reason: <%= invoice.rejection_reason %></span>
            </div>
          <% end %>
          <% if deduction = invoice.incentive_deduction.presence %>
            <div class='small'>
              <span><%= IncentiveDeduction.model_name.human %>: <strong><%= number_to_indian_currency(deduction.amount) %></strong> (<%= t("mongoid.attributes.incentive_deduction/status.#{deduction.status}") %>)</span>
            </div>
          <% end %>
        </td>
        <td>
          <div class="dropdown show text-right">
            <a class="btn dropdown-toggle table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <%= render 'admin/invoices/links', invoice: invoice %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
