<section class="mt-0">
  <div class="px-0">
    <div class="row g-0">
      <div class="col-lg-12 p-0 mt-3">
        <table class="table table-responsive table-color">
          <thead>
            <tr>
              <th>Name</th>
              <th>Manager</th>
              <th>Acount Manager</th>
              <th>Invoice No.</th>
              <th>Status</th>
              <th>Category</th>
              <th>Invoice</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
          <% invoices.each_with_index do |invoice, index| %>
            <tr>
                <td>
                  <% if policy([ current_user_role_group, invoice.invoiceable]).show? %>
                    <%= link_to invoice.invoiceable.name_in_invoice, [current_user_role_group, invoice.invoiceable], class: "theme-txt-color" %>
                  <% else %>
                    <%= invoice.invoiceable.name_in_invoice %>
                  <% end %>
                </td>
                <td>
                  <% if invoice.manager_id? && !current_user.role?('channel_partner') %>
                      <%= "#{t('mongoid.attributes.invoice.manager_id')} : #{link_to_if (policy([:admin, User]).index? && current_user.role.in?(User::ALL_PROJECT_ACCESS)), invoice.manager_name, [current_user_role_group, invoice.manager], class: 'theme-txt-color'}".html_safe %>
                  <% end %>
                </td>
                <td>
                  <% if invoice.account_manager.present? %>
                    <p class="fn-14 mt-2 mb-0 d-inline-block">
                      <%= "#{t('mongoid.attributes.invoice.account_manager_id')} : #{invoice.account_manager.name}" %>
                    </p>
                  <% end %>
                </td>
                <td>
                  <% if invoice.number.present? %>
                    <%= invoice.number %>
                  <% end %>
                </td>
                <td>
                  <i class="fa fa-circle info me-2 fa-sm"></i><%= t("mongoid.attributes.invoice/status.#{invoice.status}") || '-' %>
                </td>
                <td>
                  <%= t("mongoid.attributes.incentive_scheme/categories.#{invoice.category}") %>
                </td>
                <td>
                  <% if invoice.invoiceable_type != 'User' %>
                        <%= link_to_if policy([current_user_role_group, invoice.project]).show?, invoice.project_name, [current_user_role_group, invoice.project], class: 'theme-txt-color' %>
                  <% end %>
                </td>
                <td><%= number_to_indian_currency(invoice.net_amount) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <!----------- Pagination ---------->
      <% if invoices.is_a? WillPaginate::Collection %>
      <div class="col-lg-12 py-3 bg-white mb-2 px-3 mt-3 shadow-sm">
        <div class="row">
          <div class="col-lg-6 pt-2">
            <p class="table-entry mb-0"><%= page_entries_info invoices %></p>
          </div>
          <div class="col-lg-6 table-pagination">
            <%= will_paginate invoices, list_classes: %w(pagination justify-content-end) %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>