<section class="mb-5 mt-3">
  <div class="px-4">
    <div class="row">
      <div class="col-lg-8 col-12 filter-set d-xs-no-flex">
        <%= link_to t('controller.invoices.filters.all'), @resource.present? ? admin_invoiceable_index_path(invoiceable_type: @resource.class.model_name.i18n_key.to_s, invoiceable_id: @resource.id, fltrs: { invoiceable_id: @resource.id }) : admin_invoices_path, class: "filter-link #{params[:invoice_type].blank? ? 'active' : ''}" %>
        <%= link_to t('controller.invoices.filters.manual_invoices'), @resource.present? ? admin_invoiceable_index_path(invoiceable_type: @resource.class.model_name.i18n_key.to_s, invoiceable_id: @resource.id, invoice_type: "manual", fltrs: { invoiceable_id: @resource.id }) : admin_invoices_path({invoice_type: "manual"}), class: "filter-link #{params[:invoice_type] == 'manual' ? 'active' : ''}" %>
        <%= link_to t('controller.invoices.filters.calculated_invoices'), @resource.present? ? admin_invoiceable_index_path(invoiceable_type: @resource.class.model_name.i18n_key.to_s, invoiceable_id: @resource.id, invoice_type: "calculated", fltrs: { invoiceable_id: @resource.id }) : admin_invoices_path({invoice_type: "calculated"}), class: "filter-link #{params[:invoice_type] == 'calculated' ? 'active' : ''}" %>
      </div>
      <div class="col-lg-4 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-btn-set float-right pb-1 text-end mt-2">
          <!-- <div class="filter-search">
            <input type="text" name="" placeholder="Search projects">
          </div> -->
          <div class="filter-popup">
            <a class="db-filter-btn fn-500" href="javascript:;">
              <i class="fa fa-filter fill-theme"></i>
            </a>
          </div>
          <%if policy([:admin, Invoice.new]).export? %>
          <div class="export-menu display-initial d-inline text-end">
            <button class="select-btn fn-400 dropdown-toggle px-3 border rounded py-2 ms-2" href="javascript:;"
              role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t('controller.invoices.exports.link_name', name: nil) %> </button>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to I18n.t("global.link_to.all_exports"), export_admin_invoices_path, class: 'dropdown-item' %>
              <%= link_to I18n.t("global.link_to.active_filter_exports"), export_admin_invoices_path(fltrs: params["fltrs"].as_json), class: 'dropdown-item' %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <%= render 'admin/invoices/index', invoices: @invoices %>
          <div class="filter-box">
            <%= render "admin/invoices/filters" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
