<%= form_tag(send_invoice_to_poc_admin_invoices_path, id: 'send_invoice_poc') do %>
<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="title">Send Invoice To POC</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= hidden_field_tag 'id', @invoice.id  %>
      <div class="modal-body theme-form">
        <div class="mb-3">
          <%=label_tag 'Email' %>
          <%= text_field_tag :email, '', :required => true %>
        </div>
      </div>

      <div class="modal-footer text-end">
        <%= submit_tag "Send", class: "btn btn-primary", data: {disable_with: "Please wait...", confirm: 'Are you sure you want to send the email to developer?'  } %>
      </div>
    </div>
  </div>
</div>
<% end %>