<%= nested_form_for(@invoice, url: change_state_admin_booking_detail_invoice_path(@invoice), local: true, remote: true, html: {class: 'modal-remote-form validate-form', "data-resource-type": global_labels['invoices'], "data-type": "json", id: 'raise_invoice_form'}) do |f| %>
<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="title"><%= @invoice.rejected? ? t("controller.invoices.events.re_raise") : t('controller.invoices.events.raise') %></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body theme-form">
        <%= f.hidden_field :event, value: :raise %>
        <% if @booking_detail.project_unit.present? %>
          <!-- <div class="mb-3">
            <%#= f.label :amount, class: 'label-required' %>
            <%#= f.number_field :amount, autofocus: true, required: 'required', class: "form-control", disabled: !policy([:admin, @invoice]).editable_field?("amount") %>
          </div> -->
          <!-- <div class="mb-3">
            <%#= f.label :gst_amount, class: 'label-required' %>
            <%#= f.number_field :gst_amount, autofocus: true, required: 'required', class: "form-control", disabled: !policy([:admin, @invoice]).editable_field?("gst_amount") %>
          </div>
          <div class="mb-3">
            <div class="alert alert-warning" role="alert">
              Please change the GST % as per the GST Slabs
            </div>
            <%#= f.label :gst_slab, class: 'label-required' %>
            <% gst_slabs = @booking_detail.project.incentive_gst_slabs %>
            <%#= f.select :gst_slab, options_for_select(gst_slabs.collect{|gst| [ "#{gst} %", gst]}, @invoice.gst_slab), class: "selectize", required: 'required', disabled: !policy([:admin, @invoice]).editable_field?("gst_slab"), prompt: " " %>
          </div> -->
        <% else %>
          <%= f.hidden_field :creator_id, value: current_user.id %>
          <div class="mb-3">
            <%= f.label "Consideration value for brokerage", class: 'label-required' %>
            <%= f.number_field :agreement_amount, autofocus: true, required: 'required', class: "form-control", disabled: !policy([:admin, @invoice]).editable_field?("agreement_amount") %>
          </div>
          <div class="mb-3">
            <div class="alert alert-warning" role="alert">
              Please change the % as per the Slabs
            </div>
            <%= f.label "Percentage Slab", class: 'label-required' %>
            <% gst_slabs = @booking_detail.project.incentive_percentage_slabs %>
            <%= f.select :percentage_slab, options_for_select(gst_slabs.collect{|gst| [ "#{gst} %", gst]}, @invoice.gst_slab), class: "selectize", required: 'required', disabled: !policy([:admin, @invoice]).editable_field?("percentage_slab"), prompt: " " %>
          </div>
          <!-- <div class="mb-3">
            <%#= f.label "GST Amount", class: 'label-required' %>
            <%#= f.number_field :gst_amount, autofocus: true, required: 'required', class: "form-control", disabled: !policy([:admin, @invoice]).editable_field?("gst_amount") %>
          </div> -->
        <% end %>
        <div class="mb-3">
            <%= f.label :net_amount, 'Total Brokerage Amount' %>
            <% if policy([:admin, @invoice]).editable_field?("net_amount") %>
              <%= f.number_field :net_amount, autofocus: true, class: "form-control", disabled: !policy([:admin, @invoice]).editable_field?("net_amount") %>
            <% else %>
              <p class='net-amount'><%= f.object.net_amount %></p>
            <% end %>
          </div>
        <% if @invoice.rejected? %>
          <div class="mb-3">
            <%= f.label :rejection_reason, class: '' %>
            <% if policy([:admin, @invoice]).editable_field?("rejection_reason") %>
              <%= f.text_area :rejection_reason, autofocus: true, class: "form-control", disabled: !policy([:admin, @invoice]).editable_field?("rejection_reason") %>
            <% else %>
              <p><%= f.object.rejection_reason %></p>
            <% end%>
          </div>
          <div class="mb-3">
            <%= f.label :comments, class: '' %>
            <% if policy([:admin, @invoice]).editable_field?("comments") %>
              <%= f.text_area :comments, autofocus: true, class: "form-control", disabled: !policy([:admin, @invoice]).editable_field?("comments") %>
            <% else %>
              <p><%= f.object.comments %></p>
            <% end%>
          </div>
        <% end %>
      </div>

      <div class="modal-footer text-end">
        <%= f.submit "Raise", class: "btn btn-primary" %>
      </div>

    </div>
  </div>
</div>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#invoice_form"));
    var netAmt = '<%= @invoice.net_amount %>';
    var invoiceType = '<%= @invoice.class.to_s.underscore.gsub('/', '_') %>';
    $('#invoice_manual_percentage_slab').on('change', function(event) {
      debugger
      var slabPercentage = parseInt($(this).val());
      var slabAmount = parseFloat($('input[name="' + invoiceType + '[agreement_amount]"]').val() || 0) * (slabPercentage/100);
      $('#raise_invoice_form').find('.net-amount').html(Amura.formatMoney(slabAmount));
    }).trigger('change');
  });
<% end %>
