<%= nested_form_for([:admin, @invoice], local: true, remote: true, html: {class: 'modal-remote-form validate-form', "data-resource-type": global_labels['invoices'], "data-type": "json", id: 'edit_invoice_form'}) do |f| %>
<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header bg-gradient-cd white">
        <h3 class="title"><%= t("controller.invoices.update_gst.link_name") %></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <%= f.label :amount, class: '' %>
          <%= f.number_field :amount, autofocus: true, class: "form-control", disabled: !policy([:admin, @invoice]).editable_field?("amount") %>
        </div>
        <div class="form-group">
          <%= f.label :gst_amount, class: '' %>
          <%= f.number_field :gst_amount, autofocus: true, class: "form-control", disabled: !policy([:admin, @invoice]).editable_field?("gst_amount") %>
        </div>
        <div class="form-group">
          <%= f.label :net_amount, class: '' %>
          <p><%= number_to_indian_currency(@invoice.net_amount) %></p>
        </div>
      </div>

      <div class="modal-footer">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>

    </div>
  </div>
</div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#edit_invoice_form"));
});
<% end %>
