<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :branch %>
      <%= f.text_field :branch, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :account_type %>
      <%= f.select :account_type, BankDetail.available_account_types.collect{|x| [x[:text], x[:id]]}, {prompt: true}, class: 'selectize' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :ifsc_code %>
      <%= f.text_field :ifsc_code, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :account_holder_name %>
      <%= f.text_field :account_holder_name, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :account_number %>
      <%= f.text_field :account_number, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <% if f.object.bankable_type == "UserKyc" %>
      <div class="form-group">
        <%= f.label :loan_required %><br/>
        <div class="form-check form-check-inline">
          <%= f.radio_button :loan_required, true, class: "form-check-input" %>
          <%= f.label :loan_required, "Yes", class: "form-check-label" %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :loan_required, false, class: "form-check-input" %>
          <%= f.label :loan_required, "No", class: "form-check-label" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
