<div class="row">
  <div class="col-md-6">
    <%= f.input :name %>
  </div>
  <div class="col-md-6">
    <%= f.input :branch %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :account_type, collection: BankDetail.available_account_types.collect{|x| [x[:text], x[:id]]}, prompt: :translate, as: :select %>
  </div>

  <div class="col-md-6">
    <%= f.input :ifsc_code %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :account_holder_name %>
  </div>
  <div class="col-md-6">
    <%= f.input :account_number %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :zip %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <% if f.object.bankable_type == "UserKyc" %>
      <div class="mb-3">
        <%= f.label :loan_required %>
        <div class="form-check form-check-inline">
          <%= f.radio_button :loan_required, true, class: "form-check-input wd-22" %>
          <%= f.label :loan_required, I18n.t("global.boolean.true"), class: "form-check-label d-inline-block ms-2" %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :loan_required, false, class: "form-check-input wd-22" %>
          <%= f.label :loan_required, I18n.t("global.boolean.false"), class: "form-check-label d-inline-block ms-2" %>
        </div>
      </div>
    <% end %>
  </div>
  <% if f.object.bankable_type == "ChannelPartner" %>
    <div class='col-12'>
      <span class='help-text'>* These bank details will be used for online brokerage disbursement</span>
    </div>
  <% end %>
</div>
<div class="row loan-fields <%= f.object.loan_required ? '' : 'hidden' %>">
  <div class="col-md-6">
    <%= f.label :loan_amount, class: 'control-label' %>
    <%= f.text_field :loan_amount %>
  </div>
  <div class="col-md-6">
    <%= f.label :loan_sanction_days %>
    <%= f.number_field :loan_sanction_days %>
  </div>
</div>