<div class="row">
  <div class="col-md-6">
    <%= f.input :name %>
  </div>
  <div class="col-md-6">
    <%= f.input :branch %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :account_type, collection: BankDetail.available_account_types.collect{|x| [x[:text], x[:id]]}, prompt: :translate, as: :select %>
  </div>

  <div class="col-md-6">
    <%= f.input :ifsc_code %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :account_holder_name %>
  </div>
  <div class="col-md-6">
    <%= f.input :account_number %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <% if f.object.bankable_type == "UserKyc" %>
      <div class="form-group">
        <%= f.label :loan_required %><br/>
        <div class="form-check form-check-inline">
          <%= f.radio_button :loan_required, true, class: "form-check-input" %>
          <%= f.label :loan_required, "Yes", class: "form-check-label" %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :loan_required, false, class: "form-check-input" %>
          <%= f.label :loan_required, "No", class: "form-check-label" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class='col-12'>
    <span class='help-text'>* These bank details will be used for online brokerage disbursement</span>
  </div>
</div>
