<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% case @receipt.status %>
      <% when 'success' %>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-2 col-md-2 text-center">
              <%= icon "fas", "certificate", class: "fa-7x text-warning receipt-certificate" %>
            </div>
            <div class="col-10 col-md-10">
              <h3 class="card-title font-weight-bold text-uppercase"><%= I18n.t("global.configurations") %></h3>
              <p>
                <%= I18n.t("controller.receipts.process_payment.thanks_for_payment", name: number_to_indian_currency(@receipt.total_amount.round)) %>
                <br/>
                <strong><%= I18n.t("controller.receipts.process_payment.email_will_be_sent") %></strong>
                <br/>
              </p>
              <% if @receipt.blocking_payment? %>
              <p>
                <%= I18n.t("controller.receipts.process_payment.unit_in_blocked_state", name: @receipt.project_unit.blocking_days) %> <a href="/dashboard/receipts/new?project_unit_id=<%= @receipt.project_unit_id %>" class="modal-remote-form-link" data-event-category="section" data-event-action="click" data-event-name="make the remaining payment" target="_blank"><%= I18n.t("global.link_to.here") %></a>
              </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3"></div>
      <%= render '/receipts/show', receipt: @receipt %>
      <% when 'failed' %>
        <div class="card">
          <div class="card-header">
            <span class="card-title"><%= I18n.t("controller.receipts.process_payment.payment_failed") %></span>
          </div>
          <div class="card-body">
            <p>
              <%= I18n.t("controller.receipts.process_payment.payment_unsuccessful") %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- GENERICTODO: GA -->
