<% case @receipt.status %>
<% when 'success' %>
<section class="main-wrapper">
	<div class="container-fluid">
		<div class="col-12 success-card-wrapper">
			<div class="col-7 success-card">
				<h2 class="pageTitle pink">Congratulations</h2>
				<p>
					Thank you for your payment of <%= number_to_indian_currency(@receipt.total_amount.round(2)) %>.
          <br/>
          <strong>You will receive an email from us with detailed information on next steps.</strong>
        </p>
        <% if @receipt.payment_type == 'blocking' %>
          <p>
            This unit will remain blocked for you for the next 10 days. Please complete your payment of remaining amount within this duration to confirm your unit. To make additional payment please click <a href="<%= dashboard_path %>" target="_blank">here</a>
          </p>
        <% end %>
			</div>
			<div class="col-5 text-center">
				<img src="<%= asset_path 'congrats.png'%>" class="img-responsive">
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		<div class="col-12">
			<div class="receipt-wrapper">
        <div class="pull-left">
          <strong style="font-size:22px;">Receipt</strong>
        </div>
				<div class="pull-right">
					<%#= link_to dashboard_receipt_print_path(@receipt.id, :format => 'pdf'), target: :_blank do %>
						<!-- <i class="far fa-envelope" style="font-size:24px;color:#383838;display:inline-block;margin:0 10px;" data-event-action="click" data-event-name="convert receipt to pdf"></i> -->
					<%# end %>
					<%= link_to dashboard_receipt_mail_path(@receipt.id, :format => 'pdf'), target: "_blank" do %>
						<img src="<%= asset_path 'printer-outline.png'%>" class="img-responsive" data-event-action="click" data-event-name="send receipt on mail">
					<% end%>

				</div>
				<%= render '/receipts/show', receipt: @receipt %>
			</div>
		</div>
	</div>
</section>
<h4><%= @receipt.status %></h4>
<% when 'pending' %>
<!-- TODO -->
	Let the customer know that the payment processing had an issue or that they must have not made a payment.
	Retry option or to contact support - if the payment has already gone through
<% when 'failed' %>
	<section class="main-wrapper full-height grey">
		<div class="container-fluid">
			<div class="col-12">
				<div class="cancel-booking-wrapper text-center">
					<div class="section-title pink">PAYMENT FAILURE!</div>
					<p>
						Your payment of was unsuccessful. Please check the credentials and try again.
					</p>
				</div>
			</div>
		</div>
	</section>
	<h4><%= @receipt.status %></h4>
	<% if ProjectUnitPolicy.new(current_user, @receipt.project_unit).hold_project_unit? %>
	  <%= link_to 'Hold', 'javascript:;', class: 'bpjs-project-unit-hold', data: {'bpjs-id': @receipt.project_unit.id} %>
	<% end %>
<% end %>
<script type="text/javascript">
	ga('ecommerce:addTransaction', {
	  'id': '<%= @receipt.receipt_id %>',   // Transaction ID. Required.
	  'affiliation': 'Embassy Springs',   // Affiliation or store name.
	  'revenue': '<%= @receipt.total_amount %>',  // Grand Total.
	  'shipping': '0.0',   // Shipping.
	  'tax': '0.0'   // Tax.
	});
</script>
