<section class="bookings d-print-none mb-5">
  <div class="container">
    <div class="box-card">
      <div class="box-header br-rd-tr-4 row p-0">
        <div class="col-12 p-0 cursor-pointer" data-toggle="collapse" href="#collapseSyncLogs" role="button" aria-expanded="false" aria-controls="collapseSyncLogs">
          <h2 class="text-dark icon-set icon-sync-black"> <%= SyncLog.model_name.human %> </h2>
        </div>
      </div>
      <div class="box-content br-rd-bl-4 bg-white row collapse show" id='collapseSyncLogs'>
        <div class="col-md-12 col-lg-12 col-sm-12">
          <% record.erp_models.active.each do |erp_model| %>
            <ul class="booking-apart-info clear">
              <li>
                <span><%= t('mongoid.attributes.sync_log.last_sync_on')%></span>
                <p><%= erp_model.try(:domain) %> (<%= erp_model.action_name %>)</p>
              </li>
              <% sync_log = record.sync_logs.where(erp_model_id: erp_model.id).desc(:created_at)[0] %>
              <li>
                <span> <%= t('mongoid.attributes.sync_log.last_sync_at')%></span>
                <p><%= sync_log.try(:created_at).try(:strftime, "%d/%m/%Y %l:%M %p") %></p>
              </li>
              <li>
                <span> <%= t('mongoid.attributes.sync_log.last_sync_status')%></span>
                <p>
                  <%= sync_log.try(:status) %>
                  <% if (sync_log.try(:status) || 'failed') == 'failed' && policy([:admin, SyncLog.new]).create? && !record.third_party_references.where(domain: erp_model.domain).present? %>
                    <%= link_to t('controller.sync_logs.new.link_name'), admin_sync_logs_path(sync: { erp_model_id: erp_model.id, resource_id: record, resource_type: record.class.to_s}), method: :post %>
                  <% end %>
                </p>
              </li>
              <li>
                <span>&nbsp;</span>
                <p><%= link_to t('controller.sync_logs.index.link_name'), admin_sync_logs_path(fltrs: { resource_id: record.id, erp_model_id: erp_model.id }), target: :_blank %></p>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
