<section class="home-section home-banner slide relative" id="home">
  <div class="container-launchpad home-container">
    <div class="home-new-caption cwt text-center">
      <!-- <h1 class="new-line-1 text-left f600">DON’T BE A JOKER</h1> -->
      <h2 class="new-line-3 f600 text-left">BE A SUPERBROKER</h2>
      <%# <div class="new-line-2">With</div>
      <div class="new-line-3 f700">A REVOLUTIONARY</div>
      <div class="new-line-4 f700 cgreen">BROKER PLATFORM</div> %>
      <!--<a class="home-banner-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Join Now">Join Now</a>-->
    </div>
  </div>
  <div class="scroll-down-btn scroll-sec" rel="join-broker-network" data-event-category="Section"
    data-event-action="Click" data-event-name="Scroll Down">Scroll Down</div>
</section>
<section class="broker-sec">
  <div class="container">
    <div class="broker-wrapper">
      <div class="broker-left text-right">
        <h2>BROKER</h2>
        <ul class="broker-left-list">
          <li>Partial Brokerage</li>
          <li>No information about new launches </li>
          <li>No tie-ups with TOP developers </li>
          <li>Low Quality Leads</li>
          <li>No Promotion Material of projects</li>
        </ul>
      </div>
      <div class="broker-img">
        <img class="lazy" data-src="<%= asset_path 'broker-img.png' %>">
      </div>
      <div class="broker-right">
        <h2>SUPERBROKER</h2>
        <ul class="broker-right-list text-left">
          <li>FULL Brokerage on time</li>
          <li>Get ALL information about new launches</li>
          <li>Work with TOP Developers</li>
          <li>Best quality Leads at Lowest Prices</li>
          <li>ALL Promotion Materials for every project</li>
        </ul>
      </div>
    </div>
   
  </div>
</section>
<section class="existingnew-projects-section section-padding" id="existingnew-projects">
  <div class="container">
    <div class="col-12">
      <p class="text-center cgreen f500">Pune's residential market opportunity</p>
      <div class="join-broker-network-btn-wrapper text-center">
        <a href="<%= new_channel_partner_path %>" class="green-btn register-btn" data-event-category="Section"
          data-event-action="Click" data-event-name="Register on Launchpad">Register Now</a>
      </div>
    </div>
    <div class="col-12">
      <div class="stats-brokers">
        <ul>
          <li>
            <div class="stats-inner">
              <img class="lazy" data-src="<%= asset_path 'lined-up.svg' %>">
              <p>3000+<span>Lined Up Launches</span></p>
            </div>
          </li>
          <li>
            <div class="stats-inner">
              <img class="lazy" data-src="<%= asset_path 'paid-out.svg' %>">
              <p>Rs. 200 Cr.<span>Brokerage to be paid out <br>within the next 6 months</span></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <h2 class="section-heading text-center cgreen">Chance to work with Pune's hottest selling properties</h2>
    <div class="row relative">
      <div class="project-listing-slider">
        <% Project.where(hot: true).limit(15).each do |project| %>
        <div class="property-item col-app-4 col-app-sm-6">
          <div class="property-item-inner">
            <div class="property-item-image">
              <%#= image_tag(project.cover_photo&.url || (asset_path 'default-project.jpg'), class: 'img-full lazy') %>
              <div class="propery-thumb-img position-relative"
                style="background-image: url('<%= project.cover_photo&.url || (asset_path 'default-project.jpg') %>')">
                <% if project.hot?%>
                <span class="hot-sellig-tag"><i class="fa fa-fire fill-danger me-1"></i>Hot Selling</span>
                <% end %>
              </div>
            </div>
            <div class="property-item-details">
              <div class="property-name cgreen f600"><%= project.name %></div>
              <p class="property-location">
                <%= "#{project.micro_market.present? ? project.micro_market&.titleize + ', ': ''}#{project.city&.titleize}".presence || '-' %>
              </p>
              <div class="property-configuration">
                <%= project.configurations.first(2)&.to_sentence(two_words_connector: ' & ') %>
                <%= project.price_starting_from.present? ? "from #{number_to_inr(project.price_starting_from)}" : '' %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div id="prjt-list-prev" class=""></div>
      <div id="prjt-list-next" class=""></div>
    </div>
  </div>
</section>

<section class="incentive-sec section-padding position-relative">
  <div class="container">
    <h2 class="section-heading text-left cgreen">What’s in it for You!</h2>
    <!-- <div class="col-app-4 col-app-xs-12">
      <ul class="incentive-lists">
        <li class="active">
          <a href="javascript:;" class="" rel="tabs-1">Projects in <br>Pune West and East</a>
        </li>
        <li>
          <a href="javascript:;" rel="tabs-2">Inventory of ALL sizes</a>
        </li>
        <li>
          <a href="javascript:;" rel="tabs-3">Quarterly and Annual Rewards</a>
        </li>
        <li>
          <a href="javascript:;" rel="tabs-4">Special Incentives</a>
        </li>
      </ul>
    </div> -->
    </div>
    <div class="incentive-slider">
      <div class="incentive-slider-inner">
        <div class="tab-box">
          <img src="<%= asset_path 'incentive-tab-1.jpg' %>">
          <div class="inner-box">
            <h3>Projects in Pune</h3>
            <ul>
              <li>15 projects in Pune West and East (Mandates)</li>
              <li>5,000 units</li>
              <li>INR. 2,000 CR inventory</li>
              <li>2 Large Townships (Magarpatta)</li>
            </ul>
          </div>          
        </div>
      </div>
      <div class="incentive-slider-inner">
        <div class="tab-box ">
          <img class="lazy" data-src="<%= asset_path 'incentive-tab-2.jpg' %>">
          <div class="inner-box">
            <h3>Inventory of ALL sizes</h3>
            <ul>
              <li>Exclusive early access to inventory</li>
              <li>Exclusive lead lock-in</li>
              <li>Blocked for 45 days after visit</li>
            </ul>
          </div>         
        </div>
      </div>
      <div class="incentive-slider-inner">
        <div class="tab-box ">
          <img class="lazy" data-src="<%= asset_path 'incentive-tab-4.jpg' %>">
          <div class="inner-box">
            <h3>Quarterly & Annual Rewards</h3>
            <ul>
              <li>Total prizes worth Rs. 15L for Top performers (Dec’21 - Mar’22)</li>
              <li>Top 3 Brokers get a Bangkok trip for 3 team members​</li>
              <li>Next 5 Brokers get a Goa trip for 3 team members​</li>
              <li>Annual Bumper prize – SUV(Dec‘21 - Dec ‘22)​</li>
            </ul>
          </div>          
        </div>
      </div>
      <div class="incentive-slider-inner">
        <div class="tab-box ">
          <img class="lazy" data-src="<%= asset_path 'incentive-tab-3.jpg' %>">
          <div class="inner-box">
            <h3>Special Incentives​</h3>
            <ul>
              <li>Spot booking Incentive- INR 5,000</li>
              <li>Site visit Incentive- INR 500 on First visit</li>
              <li>Rs. 300 for visits to other projects</li>
              <li>Get 3 Bookings in a project – get 30% of your brokerage paid before registration</li>
            </ul>
          </div>          
        </div>
      </div>
    </div>
  </div>
  <div id="incentive-feat-prev" class=""></div>
  <div id="incentive-feat-next" class=""></div>
</section>
<section class="exclusive-features-section section-padding" id="exclusive-features">
  <div class="container-launchpad">
    <h2 class="section-heading text-center cgreen">Exclusive Features to Grow Your Business 5X</h2>
    <!-- <p class="text-center cbk f500">That will help you grow your business</p> -->
    <br />
    <div class="exclusive-features-wrapper relative">
      <div class="exclusive-features-slider">
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-01.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Early access to<br /> new Launches
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-06.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Timely payments to<br /> streamline cash flows
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-05.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Marketing support<br /> &amp; assets
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-11.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Performance-based<br /> broker ratings
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-02.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Extensive nurturing and<br> calling during launches
            </div>
          </div>
        </div>
        <!-- <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-03.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Leads at discounted<br /> prices
            </div>
          </div>
        </div> -->
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-04.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              CRM training<br /> &amp; support
            </div>
          </div>
        </div>
        
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-07.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Fully automated<br /> EOI process
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-08.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Online inventory selection,<br /> KYC &amp; bookings
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-09.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Complete<br /> transparency
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-10.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Unique online<br /> broker profile
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center hidden-xs last-slide-exclusive">
          <a href='<%= new_channel_partner_path %>' data-event-category="Section" data-event-action="Click"
            data-event-name="Register Now">
            <div class="exclusive-features-item-inner exclusive-features-last-item register-btn">
              Register Now<br /><br /><img src="<%= asset_path 'next-arrow.svg'%>" />
            </div>
          </a>
        </div>
      </div>
      <div id="exct-feat-prev" class="visible-xs"></div>
      <div id="exct-feat-next" class="visible-xs"></div>
    </div>
    <div class="visible-xs text-center mobile-exclusive-feature-btn-wrapper">
      <a href="<%= new_channel_partner_path %>" class="green-btn register-btn" data-event-category="Section"
        data-event-action="Click" data-event-name="Register Now">Register Now</a>
    </div>
  </div>
</section>
<section class="section-padding logo-sec">
  <div class="container">
    <h2 class="section-heading text-center cgreen">Why partner with BeyondWalls</h2>
    <div class="col-12">
      <ul class="website-stats">
        <li>
          <svg id="Group_106" data-name="Group 106" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="222.233" height="248.497" viewBox="0 0 222.233 248.497">
            <defs>
              <clipPath id="clip-path">
                <rect id="Rectangle_120" data-name="Rectangle 120" width="222.233" height="248.497" fill="none"/>
              </clipPath>
              <clipPath id="clip-path-3">
                <rect id="Rectangle_112" data-name="Rectangle 112" width="193.752" height="32.487" fill="none"/>
              </clipPath>
              <clipPath id="clip-path-4">
                <path id="Path_40" data-name="Path 40" d="M240.589,294.929a97.406,97.406,0,0,1-1.358,16.243H48.195a97.831,97.831,0,0,1,0-32.487H239.23a97.407,97.407,0,0,1,1.358,16.244" transform="translate(-46.837 -278.685)" fill="none"/>
              </clipPath>
              <radialGradient id="radial-gradient" cx="0.503" cy="0.497" r="2.973" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#231f20"/>
                <stop offset="0.9" stop-color="#231f20"/>
                <stop offset="0.902" stop-color="#2a2627"/>
                <stop offset="0.92" stop-color="#6a6768"/>
                <stop offset="0.937" stop-color="#9f9d9d"/>
                <stop offset="0.952" stop-color="#c8c7c7"/>
                <stop offset="0.966" stop-color="#e6e5e6"/>
                <stop offset="0.978" stop-color="#f8f8f8"/>
                <stop offset="0.987" stop-color="#fff"/>
                <stop offset="1" stop-color="#fff"/>
              </radialGradient>
              <clipPath id="clip-path-5">
                <rect id="Rectangle_113" data-name="Rectangle 113" width="165.393" height="165.393" fill="none"/>
              </clipPath>
              <clipPath id="clip-path-6">
                <path id="Path_44" data-name="Path 44" d="M132.323,169.865a70.883,70.883,0,1,0,70.883-70.883,70.883,70.883,0,0,0-70.883,70.883" transform="translate(-132.323 -98.982)" fill="none"/>
              </clipPath>
              <linearGradient id="linear-gradient" x1="-0.284" y1="1.541" x2="-0.282" y2="1.541" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#e6e6e6"/>
                <stop offset="1" stop-color="#fff"/>
              </linearGradient>
              <clipPath id="clip-path-7">
                <path id="Path_45" data-name="Path 45" d="M139.471,174.84a68.71,68.71,0,1,0,68.71-68.71,68.71,68.71,0,0,0-68.71,68.71" transform="translate(-139.471 -106.13)" fill="none"/>
              </clipPath>
              <linearGradient id="linear-gradient-2" x1="-0.309" y1="1.573" x2="-0.306" y2="1.573" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#fff"/>
                <stop offset="1" stop-color="#e6e6e6"/>
              </linearGradient>
              <radialGradient id="radial-gradient-2" cx="0.5" cy="0.5" r="0.5" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#747474" stop-opacity="0.4"/>
                <stop offset="1" stop-color="#3b3939" stop-opacity="0"/>
              </radialGradient>
            </defs>
            <g id="Group_105" data-name="Group 105" clip-path="url(#clip-path)">
              <path id="Path_39" data-name="Path 39" d="M0,278.688,7.177,294.93,0,311.173H222.233L215,294.93l7.236-16.242Z" transform="translate(0 -193.951)" fill="#07b6b6"/>
              <g id="Group_93" data-name="Group 93">
                <g id="Group_92" data-name="Group 92" clip-path="url(#clip-path)">
                  <g id="Group_88" data-name="Group 88" transform="translate(14.241 84.736)" opacity="0.49" style="mix-blend-mode: multiply;isolation: isolate">
                    <g id="Group_87" data-name="Group 87">
                      <g id="Group_86" data-name="Group 86" clip-path="url(#clip-path-3)">
                        <g id="Group_85" data-name="Group 85" transform="translate(0)">
                          <g id="Group_84" data-name="Group 84" clip-path="url(#clip-path-4)">
                            <rect id="Rectangle_111" data-name="Rectangle 111" width="193.752" height="32.487" transform="translate(0)" fill="url(#radial-gradient)"/>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                  <path id="Path_41" data-name="Path 41" d="M250.247,127.524a89.382,89.382,0,1,1-89.382-89.382,89.382,89.382,0,0,1,89.382,89.382" transform="translate(-49.748 -26.545)" fill="#07b6b6"/>
                  <path id="Path_42" data-name="Path 42" d="M140.819,3.427a97.726,97.726,0,0,1,94.589,73.647h3.551a101.033,101.033,0,0,0-191.184-15.4,100.066,100.066,0,0,0-5.1,15.4H46.23A97.727,97.727,0,0,1,140.819,3.427m0,195.105A97.727,97.727,0,0,1,46.23,124.885H42.679a101.033,101.033,0,0,0,191.184,15.4,100.055,100.055,0,0,0,5.1-15.4h-3.551a97.727,97.727,0,0,1-94.589,73.648" transform="translate(-29.702 0)" fill="#07b6b6"/>
                  <g id="Group_91" data-name="Group 91" transform="translate(28.167 18.858)" opacity="0.49" style="mix-blend-mode: multiply;isolation: isolate">
                    <g id="Group_90" data-name="Group 90" transform="translate(0)">
                      <g id="Group_89" data-name="Group 89" clip-path="url(#clip-path-5)">
                        <path id="Path_43" data-name="Path 43" d="M249.029,153.719a82.7,82.7,0,1,1-82.7-82.7,82.7,82.7,0,0,1,82.7,82.7" transform="translate(-83.636 -71.023)" fill="#07b6b6"/>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
              <g id="Group_95" data-name="Group 95" transform="translate(40.234 30.096)">
                <g id="Group_94" data-name="Group 94" clip-path="url(#clip-path-6)">
                  <rect id="Rectangle_115" data-name="Rectangle 115" width="141.767" height="141.766" transform="translate(0 0)" fill="url(#linear-gradient)"/>
                </g>
              </g>
              <g id="Group_97" data-name="Group 97" transform="translate(42.407 32.269)">
                <g id="Group_96" data-name="Group 96" clip-path="url(#clip-path-7)">
                  <rect id="Rectangle_116" data-name="Rectangle 116" width="137.42" height="137.42" transform="translate(0 0)" fill="url(#linear-gradient-2)"/>
                </g>
              </g>
              <g id="Group_104" data-name="Group 104">
                <g id="Group_103" data-name="Group 103" clip-path="url(#clip-path)">
                  <ellipse id="Ellipse_6" data-name="Ellipse 6" cx="97.5" cy="6" rx="97.5" ry="6" transform="translate(14 231.527)" fill="url(#radial-gradient-2)"/>
                </g>
              </g>
              <text id="_" data-name=" " transform="translate(92.364 84.394)" font-size="12" font-family="Manrope-Bold, Manrope" font-weight="700"><tspan x="0" y="0"> </tspan></text>
              <text id="_13_YEARS" data-name="13 YEARS" transform="translate(111 95.527)" font-size="24" font-family="'Poppins', sans-serif" font-weight="700"><tspan x="-44" y="0" letter-spacing="-0.007em">13 Y</tspan><tspan y="0">E</tspan><tspan y="0" letter-spacing="-0.008em">A</tspan><tspan y="0" letter-spacing="-0.004em">R</tspan><tspan y="0">S</tspan></text>
              <text id="OF_PROPTECH_EXPERIENCE_" data-name="OF  PROPTECH
          EXPERIENCE " transform="translate(111 117.527)" font-size="14" font-family="'Manrope', sans-serif"><tspan x="-46" y="0" xml:space="preserve">OF  PROPT</tspan><tspan y="0" letter-spacing="-0.025em">E</tspan><tspan y="0">CH</tspan><tspan x="-41" y="18">EXPERIENCE </tspan></text>
            </g>
          </svg>
          

        </li>
        <li>
          <svg id="Group_129" data-name="Group 129" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="221.217" height="248.497" viewBox="0 0 221.217 248.497">
            <defs>
              <clipPath id="clip-path">
                <rect id="Rectangle_130" data-name="Rectangle 130" width="221.217" height="248.497" fill="none"/>
              </clipPath>
              <clipPath id="clip-path-3">
                <rect id="Rectangle_122" data-name="Rectangle 122" width="192.866" height="32.338" fill="none"/>
              </clipPath>
              <clipPath id="clip-path-4">
                <path id="Path_48" data-name="Path 48" d="M239.7,294.854a96.958,96.958,0,0,1-1.352,16.169H48.189a97.384,97.384,0,0,1,0-32.338H238.35a96.959,96.959,0,0,1,1.352,16.169" transform="translate(-46.837 -278.685)" fill="none"/>
              </clipPath>
              <radialGradient id="radial-gradient" cx="0.503" cy="0.497" r="2.973" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#231f20"/>
                <stop offset="0.9" stop-color="#231f20"/>
                <stop offset="0.902" stop-color="#2a2627"/>
                <stop offset="0.92" stop-color="#6a6768"/>
                <stop offset="0.937" stop-color="#9f9d9d"/>
                <stop offset="0.952" stop-color="#c8c7c7"/>
                <stop offset="0.966" stop-color="#e6e5e6"/>
                <stop offset="0.978" stop-color="#f8f8f8"/>
                <stop offset="0.987" stop-color="#fff"/>
                <stop offset="1" stop-color="#fff"/>
              </radialGradient>
              <clipPath id="clip-path-5">
                <rect id="Rectangle_123" data-name="Rectangle 123" width="164.636" height="164.636" fill="none"/>
              </clipPath>
              <clipPath id="clip-path-6">
                <path id="Path_52" data-name="Path 52" d="M132.323,169.541a70.559,70.559,0,1,0,70.559-70.559,70.559,70.559,0,0,0-70.559,70.559" transform="translate(-132.323 -98.982)" fill="none"/>
              </clipPath>
              <linearGradient id="linear-gradient" x1="-0.284" y1="1.549" x2="-0.282" y2="1.549" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#e6e6e6"/>
                <stop offset="1" stop-color="#fff"/>
              </linearGradient>
              <clipPath id="clip-path-7">
                <path id="Path_53" data-name="Path 53" d="M139.471,174.525a68.4,68.4,0,1,0,68.4-68.4,68.4,68.4,0,0,0-68.4,68.4" transform="translate(-139.471 -106.13)" fill="none"/>
              </clipPath>
              <linearGradient id="linear-gradient-2" x1="-0.309" y1="1.582" x2="-0.306" y2="1.582" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#fff"/>
                <stop offset="1" stop-color="#e6e6e6"/>
              </linearGradient>
              <radialGradient id="radial-gradient-2" cx="0.5" cy="0.5" r="0.5" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#747474" stop-opacity="0.4"/>
                <stop offset="1" stop-color="#3b3939" stop-opacity="0"/>
              </radialGradient>
            </defs>
            <g id="Group_128" data-name="Group 128" clip-path="url(#clip-path)">
              <path id="Path_47" data-name="Path 47" d="M0,278.687l7.144,16.168L0,311.024H221.217l-7.2-16.169,7.2-16.168Z" transform="translate(0 -194.338)" fill="#07b6b6"/>
              <g id="Group_116" data-name="Group 116">
                <g id="Group_115" data-name="Group 115" clip-path="url(#clip-path)">
                  <g id="Group_111" data-name="Group 111" transform="translate(14.176 84.348)" opacity="0.49" style="mix-blend-mode: multiply;isolation: isolate">
                    <g id="Group_110" data-name="Group 110">
                      <g id="Group_109" data-name="Group 109" clip-path="url(#clip-path-3)">
                        <g id="Group_108" data-name="Group 108" transform="translate(0)">
                          <g id="Group_107" data-name="Group 107" clip-path="url(#clip-path-4)">
                            <rect id="Rectangle_121" data-name="Rectangle 121" width="192.865" height="32.338" transform="translate(0)" fill="url(#radial-gradient)"/>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                  <path id="Path_49" data-name="Path 49" d="M249.43,127.115a88.973,88.973,0,1,1-88.973-88.973,88.973,88.973,0,0,1,88.973,88.973" transform="translate(-49.848 -26.598)" fill="#07b6b6"/>
                  <path id="Path_50" data-name="Path 50" d="M140.37,3.411a97.28,97.28,0,0,1,94.156,73.31h3.535a100.571,100.571,0,0,0-190.31-15.33,99.608,99.608,0,0,0-5.073,15.33h3.535A97.28,97.28,0,0,1,140.37,3.411m0,194.213a97.28,97.28,0,0,1-94.156-73.31H42.679a100.571,100.571,0,0,0,190.31,15.329,99.592,99.592,0,0,0,5.073-15.329h-3.535a97.28,97.28,0,0,1-94.156,73.31" transform="translate(-29.762 0)" fill="#07b6b6"/>
                  <g id="Group_114" data-name="Group 114" transform="translate(28.038 19.983)" opacity="0.49" style="mix-blend-mode: multiply;isolation: isolate">
                    <g id="Group_113" data-name="Group 113">
                      <g id="Group_112" data-name="Group 112" clip-path="url(#clip-path-5)">
                        <path id="Path_51" data-name="Path 51" d="M257.272,148.341a82.318,82.318,0,1,1-82.318-82.318,82.318,82.318,0,0,1,82.318,82.318" transform="translate(-92.636 -66.023)" fill="#07b6b6"/>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
              <g id="Group_118" data-name="Group 118" transform="translate(40.05 29.958)">
                <g id="Group_117" data-name="Group 117" clip-path="url(#clip-path-6)">
                  <rect id="Rectangle_125" data-name="Rectangle 125" width="141.118" height="141.118" transform="translate(0 0)" fill="url(#linear-gradient)"/>
                </g>
              </g>
              <g id="Group_120" data-name="Group 120" transform="translate(42.213 32.122)">
                <g id="Group_119" data-name="Group 119" clip-path="url(#clip-path-7)">
                  <rect id="Rectangle_126" data-name="Rectangle 126" width="136.791" height="136.791" transform="translate(0 0)" fill="url(#linear-gradient-2)"/>
                </g>
              </g>
              <g id="Group_127" data-name="Group 127">
                <g id="Group_126" data-name="Group 126" clip-path="url(#clip-path)">
                  <ellipse id="Ellipse_7" data-name="Ellipse 7" cx="97.5" cy="6" rx="97.5" ry="6" transform="translate(12.758 231.527)" fill="url(#radial-gradient-2)"/>
                </g>
              </g>
              <text id="SOLD_IN" data-name="SOLD IN" transform="translate(89.109 113.518)" font-size="12" font-family="'Manrope', sans-serif"><tspan x="0" y="0">SOLD IN</tspan></text>
              <text id="_12_PROJECTS" data-name="12 PROJECTS" transform="translate(69.109 132.518)" font-size="14" font-family="'Manrope', sans-serif"><tspan x="0" y="0">12 PROJ</tspan><tspan y="0" letter-spacing="-0.024em">E</tspan><tspan y="0">CTS</tspan></text>
              <text id="_2000_UNITS" data-name="2000+ UNITS" transform="translate(50.109 93.517)" font-size="20" font-family="'Poppins', sans-serif" font-weight="700"><tspan x="0" y="0">2000+ UNITS</tspan></text>
            </g>
          </svg>
          

        </li>
        <li>
          <svg id="Group_152" data-name="Group 152" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="220.848" height="248.497" viewBox="0 0 220.848 248.497">
            <defs>
              <linearGradient id="linear-gradient" x1="-0.309" y1="1.585" x2="-0.306" y2="1.585" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#fff"/>
                <stop offset="1" stop-color="#e6e6e6"/>
              </linearGradient>
              <clipPath id="clip-path">
                <rect id="Rectangle_140" data-name="Rectangle 140" width="220.848" height="248.497" fill="none"/>
              </clipPath>
              <clipPath id="clip-path-3">
                <rect id="Rectangle_132" data-name="Rectangle 132" width="192.544" height="32.284" fill="none"/>
              </clipPath>
              <clipPath id="clip-path-4">
                <path id="Path_56" data-name="Path 56" d="M239.381,294.827a96.8,96.8,0,0,1-1.35,16.142H48.186a97.222,97.222,0,0,1,0-32.284H238.031a96.8,96.8,0,0,1,1.35,16.142" transform="translate(-46.837 -278.685)" fill="none"/>
              </clipPath>
              <radialGradient id="radial-gradient" cx="0.503" cy="0.497" r="2.973" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#231f20"/>
                <stop offset="0.9" stop-color="#231f20"/>
                <stop offset="0.902" stop-color="#2a2627"/>
                <stop offset="0.92" stop-color="#6a6768"/>
                <stop offset="0.937" stop-color="#9f9d9d"/>
                <stop offset="0.952" stop-color="#c8c7c7"/>
                <stop offset="0.966" stop-color="#e6e5e6"/>
                <stop offset="0.978" stop-color="#f8f8f8"/>
                <stop offset="0.987" stop-color="#fff"/>
                <stop offset="1" stop-color="#fff"/>
              </radialGradient>
              <clipPath id="clip-path-5">
                <rect id="Rectangle_133" data-name="Rectangle 133" width="164.362" height="164.362" fill="none"/>
              </clipPath>
              <clipPath id="clip-path-6">
                <path id="Path_60" data-name="Path 60" d="M132.323,169.424a70.441,70.441,0,1,0,70.441-70.442,70.441,70.441,0,0,0-70.441,70.442" transform="translate(-132.323 -98.982)" fill="none"/>
              </clipPath>
              <linearGradient id="linear-gradient-2" x1="-0.284" y1="1.552" x2="-0.282" y2="1.552" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#c9c9c9"/>
                <stop offset="1" stop-color="#fff"/>
              </linearGradient>
              <clipPath id="clip-path-7">
                <path id="Path_61" data-name="Path 61" d="M139.471,174.411a68.282,68.282,0,1,0,68.282-68.282,68.281,68.281,0,0,0-68.282,68.282" transform="translate(-139.471 -106.129)" fill="url(#linear-gradient)"/>
              </clipPath>
              <radialGradient id="radial-gradient-2" cx="0.5" cy="0.5" r="0.5" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#747474" stop-opacity="0.4"/>
                <stop offset="1" stop-color="#3b3939" stop-opacity="0"/>
              </radialGradient>
              <clipPath id="clip-path-9">
                <rect id="Rectangle_183" data-name="Rectangle 183" width="66.219" height="14.926" fill="none"/>
              </clipPath>
            </defs>
            <g id="Group_151" data-name="Group 151" clip-path="url(#clip-path)">
              <path id="Path_55" data-name="Path 55" d="M0,278.687l7.132,16.141L0,310.97H220.848l-7.191-16.141,7.191-16.141Z" transform="translate(0 -194.479)" fill="#07b6b6"/>
              <g id="Group_139" data-name="Group 139">
                <g id="Group_138" data-name="Group 138" clip-path="url(#clip-path)">
                  <g id="Group_134" data-name="Group 134" transform="translate(14.152 84.208)" opacity="0.49" style="mix-blend-mode: multiply;isolation: isolate">
                    <g id="Group_133" data-name="Group 133">
                      <g id="Group_132" data-name="Group 132" clip-path="url(#clip-path-3)">
                        <g id="Group_131" data-name="Group 131" transform="translate(0)">
                          <g id="Group_130" data-name="Group 130" clip-path="url(#clip-path-4)">
                            <rect id="Rectangle_131" data-name="Rectangle 131" width="192.544" height="32.284" transform="translate(0)" fill="url(#radial-gradient)"/>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                  <path id="Path_57" data-name="Path 57" d="M249.133,126.967a88.825,88.825,0,1,1-88.825-88.825,88.825,88.825,0,0,1,88.825,88.825" transform="translate(-49.884 -26.617)" fill="#07b6b6"/>
                  <path id="Path_58" data-name="Path 58" d="M140.207,3.405a97.117,97.117,0,0,1,94,73.188h3.529a100.4,100.4,0,0,0-189.993-15.3,99.442,99.442,0,0,0-5.064,15.3h3.529a97.117,97.117,0,0,1,94-73.188m0,193.889a97.118,97.118,0,0,1-94-73.188H42.679a100.4,100.4,0,0,0,189.993,15.3,99.417,99.417,0,0,0,5.064-15.3h-3.529a97.118,97.118,0,0,1-94,73.188" transform="translate(-29.783)" fill="#07b6b6"/>
                  <g id="Group_137" data-name="Group 137" transform="translate(28.595 18.741)" opacity="0.49" style="mix-blend-mode: multiply;isolation: isolate">
                    <g id="Group_136" data-name="Group 136">
                      <g id="Group_135" data-name="Group 135" clip-path="url(#clip-path-5)">
                        <path id="Path_59" data-name="Path 59" d="M259,144.2a82.181,82.181,0,1,1-82.181-82.181A82.181,82.181,0,0,1,259,144.2" transform="translate(-94.636 -62.023)" fill="#07b6b6"/>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
              <g id="Group_141" data-name="Group 141" transform="translate(39.983 29.908)">
                <g id="Group_140" data-name="Group 140" clip-path="url(#clip-path-6)">
                  <rect id="Rectangle_135" data-name="Rectangle 135" width="140.883" height="140.883" transform="translate(0 0)" fill="url(#linear-gradient-2)"/>
                </g>
              </g>
              <g id="Group_143" data-name="Group 143" transform="translate(42.143 32.068)">
                <g id="Group_142" data-name="Group 142" clip-path="url(#clip-path-7)">
                  <rect id="Rectangle_136" data-name="Rectangle 136" width="136.563" height="136.563" transform="translate(0 0)" fill="url(#linear-gradient-2)"/>
                </g>
              </g>
              <g id="Group_150" data-name="Group 150">
                <g id="Group_149" data-name="Group 149" clip-path="url(#clip-path)">
                  <ellipse id="Ellipse_8" data-name="Ellipse 8" cx="97.5" cy="6" rx="97.5" ry="6" transform="translate(12.951 231.527)" fill="url(#radial-gradient-2)"/>
                </g>
              </g>
              <text id="BROKERAGE" transform="translate(110.424 106.85)" font-size="14" font-family="Manrope', sans-serif"><tspan x="-39" y="0">BROKER</tspan><tspan y="0" letter-spacing="-0.019em">A</tspan><tspan y="0">GE</tspan></text>
              <text id="DISTRIBUTED" transform="translate(110.424 123.85)" font-size="12" font-family="Manrope', sans-serif"><tspan x="-36" y="0">DISTRIBUTED</tspan></text>
              <text id="_30_CR." data-name="₹30 CR." transform="translate(110.424 84.85)" font-size="24" font-family="'Poppins', sans-serif" font-weight="700"><tspan x="-39" y="0">₹30 C</tspan><tspan y="0" letter-spacing="-0.004em">R</tspan><tspan y="0">.</tspan></text>
              <g id="Group_169" data-name="Group 169" transform="matrix(1, 0.017, -0.017, 1, 77.45, 146.992)">
                <path id="Path_62" data-name="Path 62" d="M1.4,0l.2,1.536-.01.017L.413.646.07,1.237l1.384.582-.01.017L0,2.418l.314.6,1.278-.9.017.01L1.424,3.653l.73,0L1.925,2.129l.01-.018,1.223.919L3.5,2.439,2.087,1.85l.01-.018,1.458-.608L3.2.626l-1.238.91-.017-.01L2.112,0Z" transform="translate(0)"/>
                <g id="Group_168" data-name="Group 168" transform="translate(0 0)">
                  <g id="Group_167" data-name="Group 167" clip-path="url(#clip-path-9)">
                    <path id="Path_63" data-name="Path 63" d="M11.475,29.3c.267-.564.464-1.027.644-1.454l.719.34-.321.772.018.009a1.915,1.915,0,0,1,1.969-.115,2.206,2.206,0,0,1,.805,3.119c-.749,1.582-2.083,1.908-3.12,1.418a1.707,1.707,0,0,1-1.028-1.333l-.018-.009-1.132,2.392-.791-.374Zm.236,1.548a2,2,0,0,0-.119.345,1.366,1.366,0,0,0,.757,1.5c.846.4,1.664-.058,2.142-1.068a1.586,1.586,0,0,0-.535-2.257,1.413,1.413,0,0,0-1.679.419,1.442,1.442,0,0,0-.209.3Z" transform="translate(-8.089 -24.427)"/>
                    <path id="Path_64" data-name="Path 64" d="M64.031,54.33l.146-.6-.028-.01a1.813,1.813,0,0,1-1.647.166,1.387,1.387,0,0,1-.915-1.826c.406-1.1,1.61-1.348,3.372-.69l.035-.094a1,1,0,0,0-.65-1.439,2.426,2.426,0,0,0-1.315-.1l.012-.617a3.023,3.023,0,0,1,1.651.146,1.728,1.728,0,0,1,1.05,2.508l-.628,1.709a6.863,6.863,0,0,0-.327,1.123Zm.734-2.377c-.9-.352-1.988-.57-2.314.318a.783.783,0,0,0,.492,1.081,1.211,1.211,0,0,0,1.386-.359.925.925,0,0,0,.144-.247Z" transform="translate(-53.951 -43.046)"/>
                    <path id="Path_65" data-name="Path 65" d="M99.545,65.4a2.318,2.318,0,0,0,1.026.658c.619.176,1-.051,1.108-.438.115-.406-.063-.7-.626-1.109-.757-.539-1.021-1.117-.862-1.678a1.5,1.5,0,0,1,2.007-.915,2.433,2.433,0,0,1,1.069.618l-.389.559a1.9,1.9,0,0,0-.881-.544.711.711,0,0,0-.966.416c-.11.387.121.641.665,1.047.725.541,1.025,1.065.827,1.762-.234.823-1.038,1.222-2.15.905a2.775,2.775,0,0,1-1.225-.693Z" transform="translate(-86.984 -54.247)"/>
                    <path id="Path_66" data-name="Path 66" d="M139.671,59.2l-.3,1.366,1.238.27-.144.659-1.238-.27-.56,2.565c-.129.59-.035.961.447,1.066a1.97,1.97,0,0,0,.514.051l-.1.657a2.163,2.163,0,0,1-.793-.049,1.228,1.228,0,0,1-.854-.568,1.8,1.8,0,0,1-.064-1.311l.567-2.595-.737-.161.144-.659.737.161.249-1.14Z" transform="translate(-120.758 -51.939)"/>
                    <path id="Path_67" data-name="Path 67" d="M191.1,65.555l-.02,0-1.2.488-.1-.689,1.5-.606.75.081-.7,6.5-.85-.092Z" transform="translate(-166.504 -56.802)"/>
                    <path id="Path_68" data-name="Path 68" d="M224.4,71.512a1.868,1.868,0,0,1,1.336-1.721l-.009-.03a1.619,1.619,0,0,1-1-1.491,1.832,1.832,0,0,1,2.06-1.7,1.689,1.689,0,0,1,1.865,1.652,1.661,1.661,0,0,1-1.11,1.5v.03a1.813,1.813,0,0,1,1.28,1.719,2.014,2.014,0,0,1-2.265,1.852c-1.368-.031-2.175-.863-2.153-1.819m3.521.038c.018-.795-.527-1.189-1.406-1.46a1.421,1.421,0,0,0-1.207,1.321,1.209,1.209,0,0,0,1.28,1.276,1.183,1.183,0,0,0,1.333-1.138m-2.361-3.323c-.014.654.47,1.017,1.22,1.234a1.288,1.288,0,0,0,1.022-1.165,1.016,1.016,0,0,0-1.082-1.091,1.04,1.04,0,0,0-1.16,1.021" transform="translate(-196.872 -58.406)"/>
                    <path id="Path_69" data-name="Path 69" d="M286.625,76.473c-.064-.5-.126-.907-.207-1.3l.768-.1.14.773.03,0a1.678,1.678,0,0,1,1.4-1.083,1.439,1.439,0,0,1,1.491.793l.02,0a2.005,2.005,0,0,1,.458-.7,1.662,1.662,0,0,1,1.024-.476c.639-.082,1.64.216,1.855,1.892l.365,2.844-.858.11-.351-2.734c-.119-.928-.53-1.444-1.238-1.353a1.146,1.146,0,0,0-.936.931,1.458,1.458,0,0,0-.014.448l.382,2.984-.858.11-.371-2.894c-.1-.768-.509-1.284-1.178-1.2a1.32,1.32,0,0,0-.99,1.456l.373,2.914-.858.11Z" transform="translate(-251.278 -65.24)"/>
                    <path id="Path_70" data-name="Path 70" d="M359.8,67.267a2.38,2.38,0,0,1-1.723,3.1A2.315,2.315,0,0,1,355.2,68.5a2.378,2.378,0,0,1,1.714-3.095,2.306,2.306,0,0,1,2.883,1.86m-3.735.988c.259,1.035,1.05,1.666,1.889,1.456a1.673,1.673,0,0,0,.975-2.194c-.2-.8-.855-1.715-1.87-1.46a1.653,1.653,0,0,0-.994,2.2" transform="translate(-311.531 -57.312)"/>
                    <path id="Path_71" data-name="Path 71" d="M397.117,53.573c-.168-.474-.315-.86-.478-1.229l.74-.262.316.742.019-.007a1.791,1.791,0,0,1,1.212-1.4c.636-.225,1.756-.194,2.313,1.38l.97,2.741-.835.3-.936-2.646c-.262-.74-.755-1.259-1.542-.98a1.258,1.258,0,0,0-.817,1.25,1.273,1.273,0,0,0,.081.409l.976,2.76-.835.3Z" transform="translate(-347.976 -45.021)"/>
                    <path id="Path_72" data-name="Path 72" d="M435.724,29.981l.563,1.28,1.16-.511.272.617-1.16.511,1.058,2.4c.243.552.538.8.989.6a1.97,1.97,0,0,0,.445-.262l.3.592a2.171,2.171,0,0,1-.669.427,1.226,1.226,0,0,1-1.025.045,1.8,1.8,0,0,1-.824-1.022l-1.071-2.43-.69.3-.272-.617.691-.3-.47-1.068Z" transform="translate(-381.459 -26.303)"/>
                    <path id="Path_73" data-name="Path 73" d="M454.685,13.7l.781-.417,1.43,2.68.018-.01a1.643,1.643,0,0,1,.266-.849,1.823,1.823,0,0,1,.68-.648c.577-.308,1.69-.445,2.48,1.037l1.364,2.556-.781.417L459.607,16c-.369-.692-.939-1.141-1.676-.748a1.273,1.273,0,0,0-.631,1.34,1.073,1.073,0,0,0,.146.4l1.383,2.592-.781.417Z" transform="translate(-398.9 -11.658)"/>
                    <path id="Path_74" data-name="Path 74" d="M507.245,5.348a2.319,2.319,0,0,0,1.172-.334c.542-.348.622-.782.4-1.121-.228-.355-.565-.414-1.246-.264-.9.211-1.513.027-1.828-.464a1.5,1.5,0,0,1,.642-2.11,2.428,2.428,0,0,1,1.17-.393l.162.661a1.894,1.894,0,0,0-.99.3.711.711,0,0,0-.327,1c.217.339.561.333,1.225.194.885-.186,1.477-.064,1.869.545.462.719.229,1.586-.744,2.211a2.776,2.776,0,0,1-1.331.46Z" transform="translate(-443.507 -0.581)"/>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          
          

        </li>
      </ul>
    </div>
    <h2 class="section-heading text-center cgreen">Top Real Estate brands trust us</h2>
    <div class="col-12">
      <div class="logo-wrapper relative">
        <ul class="logos-slider">
          <li><img src="<%= asset_path 'clientlogo-1.png' %>" class="img-responsive lazy" alt="Casagrand Logo"></li>
          <li><img data-src="<%= asset_path 'clientlogo-2.png' %>" class="img-responsive lazy" alt="Ansal Housing Logo">
          </li>
          <li><img data-src="<%= asset_path 'clientlogo-3.png' %>" class="img-responsive lazy" alt="Hiranandani Logo">
          </li>
          <li><img data-src="<%= asset_path 'clientlogo-4.png' %>" class="img-responsive lazy" alt="Amanora Logo"></li>
          <li><img data-src="<%= asset_path 'clientlogo-5.png' %>" class="img-responsive lazy" alt="Runwal Logo"></li>
          <li><img data-src="<%= asset_path 'clientlogo-6.png' %>" class="img-responsive lazy" alt="Puraniks Logo"></li>
          <li><img data-src="<%= asset_path 'clientlogo-7.png' %>" class="img-responsive lazy" alt="Embassy Logo"></li>
          <li><img data-src="<%= asset_path 'clientlogo-8.png' %>" class="img-responsive lazy" alt="VTP Logo"></li>
          <li><img data-src="<%= asset_path 'clientlogo-9.png' %>" class="img-responsive lazy" alt="Mahindra Logo"></li>
          <li><img data-src="<%= asset_path 'clientlogo-10.png' %>" class="img-responsive lazy" alt="Emaar Logo"></li>
        </ul>
        <div id="logo-list-prev" class=""></div>
        <div id="logo-list-next" class=""></div>
      </div>
    </div>

  </div>
</section>


<!--
<section class="presented-by-amura-section section-padding" id="about-us">
  <div class="container-launchpad">
    <h2 class="section-heading text-center cgreen">Presented by K2V2 Technologies Pvt. Ltd.</h2>
    <p class="text-center f500">India’s leading PropTech Company</p>
    <br /><br />
    <p class="text-center">Being the industry leader when it comes to Real Estate Digital Marketing in India, K2V2 is
      the<br class="hidden-xs hidden-portrait"> pioneer of Growth Marketing in the country. Over 13 years, K2V2 has been
      applying the<br class="hidden-xs hidden-portrait"> combination of Marketing &amp; Tech solutions to deliver lean
      growth for top brands.</p>

    <div class="presented-by-amura-items-wrapper">
      <div class="presented-by-amura-line-image">
        <img src="<%= asset_path 'presented-by-amura-points-header.svg' %>" class="img-full" />
      </div>

      <div class="presented-by-amura-items col-app-4 col-app-xs-12">
        <div class="presented-by-amura-items-inner">
          <div class="presented-by-amura-items-image">
            <img data-src="<%= asset_path 'presented-by-amura-icon-01.svg'%>" class="lazy">
          </div>
          <div class="presented-by-amura-items-desc cbk f500">
            Over 13 years of<br /> Proptech experience
          </div>
        </div>
      </div>
      <div class="presented-by-amura-items col-app-4 col-app-xs-12">
        <div class="presented-by-amura-items-inner">
          <div class="presented-by-amura-items-image">
            <img data-src="<%= asset_path 'presented-by-amura-icon-02.svg'%>" class="lazy">
          </div>
          <div class="presented-by-amura-items-desc cbk f500">
            Associations with 600+ reputed<br /> Real Estate brands
          </div>
        </div>
      </div>
      <div class="presented-by-amura-items col-app-4 col-app-xs-12">
        <div class="presented-by-amura-items-inner">
          <div class="presented-by-amura-items-image">
            <img data-src="<%= asset_path 'presented-by-amura-icon-03.svg'%>" class="lazy">
          </div>
          <div class="presented-by-amura-items-desc cbk f500">
            Winner of multiple<br /> Proptech awards
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>-->