<section class="home-section home-banner slide relative" id="home">
  <div class="container-launchpad home-container">
    <div class="home-new-caption cwt text-center">
      <h1 class="new-line-1 f600">Grow Your Business 5X</h1>
      <div class="new-line-2">With</div>
      <div class="new-line-3 f700">A REVOLUTIONARY</div>
      <div class="new-line-4 f700 cgreen">BROKER PLATFORM</div>
      <!--<a class="home-banner-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Join Now">Join Now</a>-->
    </div>
  </div>
  <div class="scroll-down-btn scroll-sec" rel="join-broker-network" data-event-category="Section"
    data-event-action="Click" data-event-name="Scroll Down">Scroll Down</div>
</section>
<section class="join-broker-presenting-common-section slide lazy"
  data-src="<%= asset_path 'join-broker-presenting-common-image.png' %>">

  <section class="join-broker-network-section section-padding" id="join-broker-network">
    <div class="container">
      <h2 class="section-heading text-center cgreen">Get ahead in the online Real Estate market</h2>
      <p class="text-center">K2V2 India’s largest real estate marketing and technology company brings to you a
        revolutionary platform to grow your business faster. Launchpad is a unique platform where K2V2 ties up with
        developers for project launches and deploys a complete transparent platform for real estate consultants to
        efficiently participate in a launch. Not only that, we work with the real estate consultant to solve some of the
        biggest hindrances in business growth. We will get the best digital marketing resources to get you leads at a
        discounted price we will also help you with Lead management , CRM, sales training and how to leverage technology
        to get more closures. Additionally we also ensure that as a platform we are able to track your lead visits,
        booking and payments transparently with the developers. This ensures timely payments and higher payout in a
        short time. So do not miss this opportunity where you get the best of resources and a team which is dedicated to
        your success and growth.</p>
      <br />
      <p class="text-center cbk f500">Pune's residential market opportunity</p>
      <div class="join-broker-network-btn-wrapper text-center">
        <a href="<%= new_channel_partner_path %>" class="green-btn register-btn" data-event-category="Section"
          data-event-action="Click" data-event-name="Register on Launchpad">Register on</a>
      </div>
      <div class="clearfix"></div>
      <div class="col-app-12 join-broker-network-statics text-center">
        <div class="join-statics-item">
          <div class="join-statics-item-inner text-center">
            <div class="join-item-number cgreen f700">
              3000+
            </div>
            <div class="join-statics-item-desc cbk">
              Lined Up <br /> Launches
            </div>
          </div>
        </div>
        <div class="join-statics-item">
          <div class="join-statics-item-inner text-center">
            <div class="join-item-number cgreen f700">
              Rs. 200 Cr.
            </div>
            <div class="join-statics-item-desc cbk">
              Brokerage to be paid out <br />within the next 6 months
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="col-app-12 presenting-launchpad-section section-padding" id="presenting-launchpad">
    <div class="container">
      <div class="col-app-7 presenting-launchpad-left-section col-app-xs-12">
        <h2 class="section-heading cgreen">Presenting Launchpad</h2>
        <p class="f500">An easy-to-use online Broker platform</p>
        <div class="presenting-launchpad-right-image visible-xs">
          <img data-src="<%= asset_path 'presenting-launchpad-icon.png' %>" class="lazy img-full">
        </div>
        <br />
        <p>Launchpad is a revolutionary platform that gives you the<br class="hidden-xs hidden-portrait" /> opportunity
          to grow your existing business by up to 5X. Sell<br class="hidden-xs hidden-portrait" /> efficiently in the
          digital world with end-to-end support. Close deals<br class="hidden-xs hidden-portrait" /> faster with access
          to the latest digital tools, ready-to-use branding<br class="hidden-xs hidden-portrait" /> collaterals and
          much more.</p>
        <br />
        <p class="f500">Know how Launchpad can boost your business.</p>
        <a href="<%= new_channel_partner_path %>" class="green-btn register-btn" data-event-category="Section"
          data-event-action="Click" data-event-name="See Features & Advantages">See Features & Advantages</a>
      </div>
      <div class="col-app-5 presenting-launchpad-right-section hidden-xs">
        <div class="presenting-launchpad-right-image">
          <img data-src="<%= asset_path 'presenting-launchpad-icon.png' %>" class="lazy img-full">
        </div>
      </div>
    </div>
  </section>
</section>
<section class="exclusive-features-section section-padding" id="exclusive-features">
  <div class="container-launchpad">
    <h2 class="section-heading text-center cbk">Exclusive Features to Grow Your Business 5X</h2>
    <!-- <p class="text-center cbk f500">That will help you grow your business</p> -->
    <br />
    <div class="exclusive-features-wrapper relative">
      <div class="exclusive-features-slider">
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-01.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Early access to<br /> new Launches
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-02.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Extensive nurturing and<br> calling during launches
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-03.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Leads at discounted<br /> prices
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-04.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              CRM training<br /> &amp; support
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-05.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Marketing support<br /> &amp; assets
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-06.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Timely payments to<br /> streamline cash flows
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-07.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Fully automated<br /> EOI process
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-08.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Online inventory selection,<br /> KYC &amp; bookings
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-09.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Complete<br /> transparency
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-10.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Unique online<br /> broker profile
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center">
          <div class="exclusive-features-item-inner">
            <div class="exclusive-features-image">
              <img data-src="<%= asset_path 'ex-feat-11.svg'%>" class="lazy" />
            </div>
            <div class="exclusive-features-desc">
              Performance-based<br /> broker ratings
            </div>
          </div>
        </div>
        <div class="exclusive-features-item col-app-3 text-center hidden-xs last-slide-exclusive">
          <a href='<%= new_channel_partner_path %>' data-event-category="Section" data-event-action="Click"
            data-event-name="Register Now">
            <div class="exclusive-features-item-inner exclusive-features-last-item register-btn">
              Register Now<br /><br /><img src="<%= asset_path 'next-arrow.svg'%>" />
            </div>
          </a>
        </div>
      </div>
      <div id="exct-feat-prev" class="visible-xs"></div>
      <div id="exct-feat-next" class="visible-xs"></div>
    </div>
    <div class="visible-xs text-center mobile-exclusive-feature-btn-wrapper">
      <a class="green-btn register-btn" data-event-category="Section" data-event-action="Click"
        data-event-name="Register Now">Register Now</a>
    </div>
  </div>
</section>

<section class="existingnew-projects-section section-padding" id="existingnew-projects">
  <div class="container">
    <h2 class="section-heading text-center cgreen">Chance to work with Pune's hottest selling properties</h2>
    <div class="row relative">
      <div class="project-listing-slider">
        <% Project.where(hot: true).limit(15).each do |project| %>
          <div class="property-item col-app-4 col-app-sm-6">
            <div class="property-item-inner">
              <div class="property-item-image">
                <%#= image_tag(project.cover_photo&.url || (asset_path 'default-project.jpg'), class: 'img-full lazy') %>
                <div class="propery-thumb-img position-relative" style="background-image: url('<%= project.cover_photo&.url || (asset_path 'default-project.jpg') %>')">
                <% if project.hot?%>
                  <span class="hot-sellig-tag"><i class="fa fa-fire fill-danger me-1"></i>Hot Selling</span>
                  <% end %>
                </div>
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f600"><%= project.name %></div>
                <p class="property-location"><%= "#{project.micro_market.present? ? project.micro_market&.titleize + ', ': ''}#{project.city&.titleize}".presence || '-' %></p>
                <div class="property-configuration"><%= project.configurations.first(2)&.to_sentence(two_words_connector: ' & ') %> <%= project.price_starting_from.present? ? "from #{number_to_inr(project.price_starting_from)}" : '' %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div id="prjt-list-prev" class=""></div>
      <div id="prjt-list-next" class=""></div>
    </div>
  </div>
</section>

<section class="presented-by-amura-section section-padding" id="about-us">
  <div class="container-launchpad">
    <h2 class="section-heading text-center cgreen">Presented by K2V2 Technologies Pvt. Ltd.</h2>
    <p class="text-center f500">India’s leading PropTech Company</p>
    <br /><br />
    <p class="text-center">Being the industry leader when it comes to Real Estate Digital Marketing in India, K2V2 is
      the<br class="hidden-xs hidden-portrait"> pioneer of Growth Marketing in the country. Over 13 years, K2V2 has been
      applying the<br class="hidden-xs hidden-portrait"> combination of Marketing &amp; Tech solutions to deliver lean
      growth for top brands.</p>

    <div class="presented-by-amura-items-wrapper">
      <div class="presented-by-amura-line-image">
        <img src="<%= asset_path 'presented-by-amura-points-header.svg' %>" class="img-full" />
      </div>

      <div class="presented-by-amura-items col-app-4 col-app-xs-12">
        <div class="presented-by-amura-items-inner">
          <div class="presented-by-amura-items-image">
            <img data-src="<%= asset_path 'presented-by-amura-icon-01.svg'%>" class="lazy">
          </div>
          <div class="presented-by-amura-items-desc cbk f500">
            Over 13 years of<br /> Proptech experience
          </div>
        </div>
      </div>
      <div class="presented-by-amura-items col-app-4 col-app-xs-12">
        <div class="presented-by-amura-items-inner">
          <div class="presented-by-amura-items-image">
            <img data-src="<%= asset_path 'presented-by-amura-icon-02.svg'%>" class="lazy">
          </div>
          <div class="presented-by-amura-items-desc cbk f500">
            Associations with 600+ reputed<br /> Real Estate brands
          </div>
        </div>
      </div>
      <div class="presented-by-amura-items col-app-4 col-app-xs-12">
        <div class="presented-by-amura-items-inner">
          <div class="presented-by-amura-items-image">
            <img data-src="<%= asset_path 'presented-by-amura-icon-03.svg'%>" class="lazy">
          </div>
          <div class="presented-by-amura-items-desc cbk f500">
            Winner of multiple<br /> Proptech awards
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
