<style type="text/css">
@media all and (max-width: 700px){
  .login-card .subTitle{
    margin-top: 30px;
    margin-bottom: 15px !important;
  }
  .prompts-message{
    position: absolute;
    top: 85px;
  }
}
 
</style>
<section class="dashboard-bg full-height white-bg-xs">
  <div class="container">
    <div class="col-7 login-card-wrapper">
      <div class="login-card">
        <a href="javascript:void(0);" class="logo-wrapper pull-left">
          <img src="<%= asset_path "embassy_springs_logo.png" %>" class="img-responsive" />
        </a>
        <img src="<%= asset_path "logo-edge.png" %>" class="img-responsive pull-right" />
        <div class="clearfix"></div>
        <br/><br/><br/>
        <!-- <div class="pageTitle purple text-center">The time is here!</div>
        <div class="subTitle purple text-center" style="margin-bottom:25px;">Bookings open for channel partners</div> -->
        <div class="subTitle purple text-center" style="margin-bottom:25px;">Register now to book your </div>
        <div class="pageTitle purple text-center">Embassy Home</div>
        <div class="sign-up form-wrapper">
          <script src='//trkr.scdn1.secure.raxcdn.com/t/<%= ENV_CONFIG['selldo']['client_id'] %>.js'></script>
          <script src='//trkr.scdn1.secure.raxcdn.com/t/forms/<%= ENV_CONFIG['selldo']['client_id'] %>/<%= ENV_CONFIG['selldo']['form_id'] %>.js' data-form-id='<%= ENV_CONFIG['selldo']['form_id'] %>'></script>
        </div>
        <div class="col-12 separator relative text-center">
          <div class="col-6">
            <div class="">
              Already Registered?
            </div>
            <div>
              <a class="green btn" href="/users/sign_in" data-event-category="section" data-event-action="click" data-event-name="Sign In">Sign In</a>
            </div>
          </div>
          <div class="col-6 padding-right-30 border-left">
            <div class="">
              Channel Partner?
            </div>
            <div>
              <a class="green btn" href="/channel_partners/new" data-event-category="section" data-event-action="click" data-event-name="Register">Register</a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-12 gradient-bg text-center" style="border-radius: 0px 0px 6px 6px;background-color: #3981b8;color:#fff;font-size: 18px;">
        <p>Book online by paying <%= number_to_indian_currency(ProjectUnit.blocking_amount) %></p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
<script type="text/javascript" data-tag="selldo">
window.sell_do_form_rendered = function(){
  $('[name="sell_do[form][custom][portal_cp_id]"]').closest('.selldof_row').hide();
  $(".selldof .btn").attr("data-event-category","section").attr("data-event-action","click").attr("data-event-name","submit")
};
</script>
