<section class="auth login-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="login-form-wrapper pt-5">
          <% template = ::Template::UITemplate.where(name: 'home/register').first %>
          <% if template.present? %>
            <%= get_view_erb(template) %>
          <% end %>
          <% if current_client.selldo_client_id.present? && current_client.selldo_form_id.present? %>
            <% if Rails.env.production? %>
              <script src='//trkr.scdn1.secure.raxcdn.com/t/forms/<%= current_client.selldo_client_id %>/<%= current_client.selldo_form_id %>.js' data-form-id='<%= current_client.selldo_form_id %>'></script>
            <% else %>
              <script src='https://v3.sell.do/t/forms/<%= current_client.selldo_client_id %>/<%= current_client.selldo_form_id %>.js' data-form-id='<%= current_client.selldo_form_id %>'></script>
            <% end %>
          <% else %>
            <%=render "devise/registrations/new", resource: @resource %>
          <% end %>
          <%=render "devise/shared/links" %>
        </div>
      </div>
      <div class="col-md-6 auth-image" style="<%= login_image %>">
      </div>
    </div>
  </div>
</section>
<%
  default_system_srd = ""
  if user_signed_in?
    if current_user.role?('channel_partner')
      default_system_srd = current_client.selldo_cp_srd
    else
      default_system_srd = current_client.selldo_default_srd
    end
  end
%>
<script type="text/javascript" data-tag="selldo">
  window.sell_do_form_rendered = function(){
    var default_srd = Amura.readCookie("sell_do[campaign][srd]") ? Amura.readCookie("sell_do[campaign][srd]") : "<%= default_system_srd %>";
    if(default_srd){
      $('<input type="hidden" name="sell_do[campaign][srd]" value="' + default_srd + '"/>').appendTo(".sell_do_form_actual_container");
    }

    $('[name="sell_do[form][lead][first_name]"]').attr('pattern', '[A-Za-z ]{2,20}').attr('title', 'contain only alphabet and space').attr('maxlength', 20)
    $('[name="sell_do[form][lead][last_name]"]').attr('pattern', '[A-Za-z ]{2, 20}').attr('title', 'contain only alphabet and space').attr('maxlength', 20)
  };
</script>
