<div class="col-md-12 mx-auto">
  <h2 class="font-weight-bold text-success"><%= global_labels[:register_h1] %></h2>
  <% if global_labels[:register_h2] %><p class="text-muted"><%= global_labels[:register_h2] %></p><% end %>
  <div class="sign-up" style="margin-left:-15px;">
    <script src='//trkr.scdn1.secure.raxcdn.com/t/forms/<%= current_client.selldo_client_id %>/<%= current_client.selldo_form_id %>.js' data-form-id='<%= current_client.selldo_form_id %>'></script>
  </div>
  <%= render "devise/shared/links" %>
</div>
<%
  default_system_srd = ""
  if user_signed_in?
    if current_user.role?('channel_partner')
      default_system_srd = current_client.selldo_cp_srd
    else
      default_system_srd = current_client.selldo_default_srd
    end
  end
%>
<script type="text/javascript" data-tag="selldo">
window.sell_do_form_rendered = function(){
  var default_srd = Amura.readCookie("sell_do[campaign][srd]") ? Amura.readCookie("sell_do[campaign][srd]") : "<%= default_system_srd %>";
  $('<input type="hidden" name="sell_do[campaign][srd]" value="' + default_srd + '"/>').appendTo(".sell_do_form_actual_container");
  $('[name="sell_do[form][custom][portal_cp_id]"]').closest('.selldof_row').hide();
  $(".selldof .btn").attr("data-event-category","section").attr("data-event-action","click").attr("data-event-name","submit")
};
</script>
