<div class="mt-5 pt-5"></div>
<section class="cp-login-otp-sec mt-5 col-lg-4" id="otp_user_section">
  <div class="cp-login-otp-wrap">
    <h2 class="px-4 pt-3 pb-3"><%= I18n.t("devise.keys.register") %></h2>
    <%# <p  class="px-4 pt-3 pb-1 font-weight-medium"></p> %>
    <div class="cp-signup-form-wrap px-4 cp-form-wrap py-3">
          <% template = ::Template::UITemplate.where(name: 'home/register').first %>
          <% if template.present? %>
            <%= get_view_erb(template, check_active: true) %>
          <% end %>
          <%= simple_form_for @lead, url: check_and_register_path, remote: true, local: true, html: { class: "modal-remote-form validate-form theme-form", "data-resource-type": global_labels['lead'], "data-type": "json" } do |f| %>
            <%= render 'admin/leads/non_selldo_form_fields', f: f, lead: @lead %>
            <%= submit_tag "Submit", class: 'btn btn-primary' %>
          <% end %>
          <%=render "devise/shared/links" %>
        </div>
      </div>
      <div class="col-md-6 auth-image" style="<%= login_image %>">
      </div>
    </div>
  </div>
</section>
<%
  default_system_srd = ""
  if user_signed_in?
    if current_user.role?('channel_partner')
      default_system_srd = current_client.selldo_cp_srd
    else
      default_system_srd = current_client.selldo_default_srd
    end
  end
%>
<script type="text/javascript" data-tag="selldo">
  window.sell_do_form_rendered = function(){
    var default_srd = Amura.readCookie("sell_do[campaign][srd]") ? Amura.readCookie("sell_do[campaign][srd]") : "<%= default_system_srd %>";
    if(default_srd){
      $('<input type="hidden" name="sell_do[campaign][srd]" value="' + default_srd + '"/>').appendTo(".sell_do_form_actual_container");
    }

    $('[name="sell_do[form][lead][first_name]"]').attr('pattern', '[A-Za-z ]{2,20}').attr('title', 'contain only alphabet and space').attr('maxlength', 20)
    $('[name="sell_do[form][lead][last_name]"]').attr('pattern', '[A-Za-z ]{2, 20}').attr('title', 'contain only alphabet and space').attr('maxlength', 20)
  };

  $('document').ready(function() {
    FormInitializer.init($("#new_lead"));

    $('#new_lead').on('ajax:success', function(event) {
      var message = 'Thank you for registering with us. Please wait while we generate login details & send you confirmation email / SMS.'
      Amura.global_success_handler(message);
      setTimeout(function(){
        var phone = $('#new_lead').find("input[name='phone']").val();
        if(App.client.preferred_login == "phone" && phone != null){
          window.location = encodeURI('<%= new_user_session_path %>&force=true&user[login]=' + encodeURIComponent(phone));
        }else{
          window.location = '<%= new_user_session_path %>';
        }
      }, 3000);
    });
    $('#new_lead').on('ajax:error', function(event) {
      if(typeof event.detail[0] == 'object' && event.detail[0].errors != undefined) {
        Amura.global_error_handler(event.detail[0].errors);
      }
    });
  });
</script>
