<div class="row">
    <div class="col-md-12">
        <% if result[:success] == "true" %>
            <h3 class='text-center'>Thank You!</h3>
            <div class="alert alert-success">
                <h4><%= result.dig(:message) || t('app.embedded_frame.success.default_message') %></h4>
            </div>
        <% else %>
            <div class="alert alert-danger">
              <% if result.dig(:response, :code).present? %>

                <h4><%= result.dig(:response, :code) %> - <%= result.dig(:response, :message) %></h4>

              <% elsif (result.dig(:response, :message) || result.dig(:message)).present? %>

                <h4><%= result.dig(:response, :message) || result.dig(:message) %></h4>

              <% elsif result[:errors].present? %>

                <%  if result[:errors].is_a?(Array) %>
                  <ul class='theme-txt-color ps-3' style='text-align:left;'>
                    <% result[:errors].each do |err| %>
                      <li><%= err %></li>
                    <% end %>
                  </ul>
                <% elsif result[:errors].is_a?(Hash) && result.dig(:errors, :body).present? %>

                  <p><%= result.dig(:errors, :header) || t('app.embedded_frame.errors.default_header') %></p>
                  <% result.dig(:errors, :body).each do |err_hash| %>
                    <div><strong><%= err_hash[:title] %></strong></div>
                    <ul class='theme-txt-color ps-3' style='text-align:left;'>
                      <% err_hash[:messages].each do |err| %>
                        <li><%= err %></li>
                      <% end %>
                    </ul>
                  <% end %>

                <% end %>
              <% end %>
            </div>
        <% end %>
    </div>
</div>
