<section class="first-sec welcome-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-gradient">
        <div class="box-content">
          <h1 class="wc-title white text-center"> <%= t("dashboard.user.welcome.heading", name: current_user.name) %> </h1>
          <p class="white text-center fn-300 fn-18">Welcome to the Online Booking Portal, Please follow the steps below to complete the project walkthrough with your Customer.</p>
          <ul class="step-booking">
            <li>
              <%= link_to current_client.assets.where(asset_type: 'digital_presenter').first.try(:file).try(:url), target: "_blank" do %>
                <span><%= image_tag 'file-invoice.svg', alt: 'Invoice' %></span>
                Digital Presenter
              <% end %>

            </li>
            <li>
              <%= link_to current_client.assets.where(asset_type: 'digital_presenter').first.try(:file).try(:url), target: "_blank" do %>
                <span><%= image_tag 'file-invoice.svg', alt: 'Rupee' %></span>
                Floor plans
              <% end %>
            </li>
            <li>
              <%= link_to "https://d1b2b4oevn2eyz.cloudfront.net/embassy/index.html", target: "_blank" do %>
                <span><%= image_tag 'file-invoice.svg', alt: 'Building', style: 'width:40px;' %></span>
                Project Walkthrough
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'dashboard/index/crm' %>
