<% date = (Date.today - 6.months).strftime("%d/%m/%Y") + " - " + Date.today.strftime("%d/%m/%Y") %>
<% start_date, end_date = date.split(' - ') %>
<%= render 'dashboard/index/partials/project_wise_tentative_revenue_data' %>
<%= render 'dashboard/index/partials/project_wise_actual_revenue_data' %>
<!-- <section class="user-db-sec-5 device-pd">
  <div class="px-4">
    <div class='box-card'>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="table-title pt-3">
            <h1 class="title  fn-18 theme-txt-color">Project Wise Invoice Summary</h1>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-end">
          <div class="table-btn-set float-right pt-1">
            <div class="filter-popup">
              <a class="db-filter-btn fn-500" href="javascript:;">
                <i class="fa fa-filter fill-theme"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="filter-box">
            <div class="filter-inner modal-content ps-2 pe-2 fixed-header-footer">
              <div class="modal-header filter-header">
                <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
                <a href="javascript:;" class="close-filter-btn btn-close"></a>
              </div>
              <%#= form_tag billing_team_dashboard_path, method: "get", remote: true, id: "billing_team_dashboard_filter" do %>
              <div class="filter-content modal-body ps-0 pe-0">
                <div class="row">
                  <div class="mb-3 col-12">
                    <%#= label_tag "dates", "Dates", class: "control-label float-left" %>
                    <%#= text_field_tag :dates, "", class: 'form-control daterangefilter', "data-start-date": start_date || '', "data-end-date": end_date || '', "data-opens": 'right', placeholder: 'dd/mm/yyyy - dd/mm/yyyy', id: "dates", auto: false, autocomplete: 'disabled' %>
                  </div>
                </div>
              </div>
              <div class="filter-footer modal-footer text-end">
                <%#= submit_tag I18n.t("global.apply"), class: "f-save-btn btn btn-primary fn-500 float-end" %>
                <button type="button"
                  class="f-cancel-btn btn btn-secondary fn-500 float-end"><%= I18n.t("global.cancel") %></button>
              </div>
              <%# end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="project_wise_invoice_summary"></div>
    </div>
  </div>
</section> -->
<section class="user-db-sec-5 device-pd">
  <div class="px-4">
    <div class='box-card'>
      <div class="row" id="project_wise_incentive_deduction_summary">
      </div>
    </div>
  </div>
</section>
<br>

<section class="user-db-sec-5 device-pd">
  <div class="px-4">
    <div class='box-card mb-5'>
      <div class="row" id="invoice_ageing_report">
      </div>
    </div>
    <div class="row">
      <div class='box-card'>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="table-title pt-3">
              <h1 class="title fn-18 theme-txt-color"><%= I18n.t("global.link_to.city_wise.booking_reports") %></h1>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-end">
            <div class="table-btn-set float-right pt-1">
              <div class="filter-popup">
                <a class="db-filter-btn fn-500" href="javascript:;">
                  <i class="fa fa-filter fill-theme"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="filter-box">
              <div class="filter-inner modal-content ps-2 pe-2 fixed-header-footer">
                <div class="modal-header filter-header">
                  <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
                  <a href="javascript:;" class="close-filter-btn btn-close"></a>
                </div>
                <%= form_tag city_wise_booking_report_path, method: "get", remote: true, id: "city_wise_booking_report_filter" do %>
                <div class="filter-content modal-body ps-0 pe-0">
                  <div class="row">
                    <div class="mb-3 col-12">
                      <%= label_tag "dates", I18n.t("global.dates"), class: "control-label float-left" %>
                      <%= text_field_tag :dates, "", class: 'form-control daterangefilter', "data-start-date": start_date || '', "data-end-date": end_date || '', "data-opens": 'right', placeholder: 'dd/mm/yyyy - dd/mm/yyyy', id: "dates", auto: false, autocomplete: 'disabled' %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col-12">
                      <%= label_tag "project_ids", I18n.t("global.project"), class: "control-label" %>
                      <%= select_tag :project_ids, options_for_select(Project.all.map { |p| [p.ds_name, p.id] }, (params[:project_ids].present? ? params[:project_ids] : "")), {prompt: I18n.t("global.select"), class: "selectize", multiple: true} %>
                    </div>
                  </div>
                </div>
                <div class="filter-footer modal-footer text-end">
                  <%= submit_tag I18n.t("global.apply"), class: "f-save-btn btn btn-primary fn-500 float-end" %>
                  <button type="button"
                    class="f-cancel-btn btn btn-secondary fn-500 float-end"><%= I18n.t("global.cancel") %></button>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="city_wise_booking_report">
    </div>
  </div>
</section>
<%= render 'dashboard/index/partials/booking_detail_data' %>
<% if current_client.enable_vis? %>
  <%= render 'variable_incentive_details' %>
<% end %>
<!-- Keeping margin at bottom, so that data can be scrolled up into viewable screen -->
<div class='mb-5 pb-5'>
</div>
<%= javascript_tag do %>
$(document).ready(function(){
FormInitializer.init($("#billing_team_dashboard_filter"));
FormInitializer.init($("#city_wise_booking_report_filter"));
// $.ajax({
// url: "/dashboard/project_wise_invoice_summary",
// type: "get"
// });
$.ajax({
url: "/dashboard/project_wise_incentive_deduction_summary",
type: "get"
});
$.ajax({
url: "/dashboard/invoice_ageing_report",
type: "get"
});
$.ajax({
url: "/dashboard/city_wise_booking_report",
type: "get"
});
});
<% end %>