<% date = (Date.today - 6.months).strftime("%d/%m/%Y") + " - " + Date.today.strftime("%d/%m/%Y") %>
<% start_date, end_date = date.split(' - ') %>
<% channel_partner = current_user.associated_channel_partner %>
<% @channel_partner = channel_partner%>

<% if current_user.active_channel_partner? %>
<section class="mt-3" id="channel-partner-dashboard">
  <div class="px-4">
    <div class="row">
      <div class="col-lg-9">
        <div class="row mb-3">
          <div class="col-lg-6">
            <h2 class="sec-title">Welcome Jamison,</h2>
          </div>
          <div class="col-lg-6 text-end">
            <select class="h3 mb-0 font-weight-medium f-20 form-control d-sm-inline-block">
              <option>Quater</option>
              <option>Monthly</option>
              <option>Year</option>
            </select>
            <div class="quater-list d-sm-inline-block ms-2">
              <input type="text"
                class="d-sm-inline-block btn btn-sm pull-right bg-white mr-1 font-medium br-gray-1 br-rd-4 txt-light-blue daterangefilter" value="<%= "#{Date.today.strftime('%d/%m/%y')} - #{Date.today.advance(days:1).strftime('%d/%m/%y')}" %>">
            </div>
            <div class="quater-year d-sm-inline-block ms-2">
              <a href="#"
                class="d-sm-inline-block btn btn-sm pull-right bg-white mr-1 font-medium br-gray-1 br-rd-4 txt-light-blue">2020</a>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="py-2 bg-white rounded-3">
              <div class="border-bottom px-4 py-2">
              <h3 class="font-medium fn-20 theme-txt-color">Project wise Overview</h3>
              <p class="fn-14 text-light-blue mb-0"><%= Project.count %> Projects Available</p>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="p-4">
                  <select class="h3 mb-0 font-weight-medium f-20 form-control d-sm-inline-block">
                    <option>All Projects (<%= Project.count %>)</option>
                  </select>
                  </div>
                </div>
                <div class="col-lg-8">
                  <canvas id="myChart" width="650" height="300"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div class="row">

              <!-- Charts ---------->
              <div class="col-lg-8">
                <div class="card mb-4 br-rd-8 card-shadow no-br">
                  <div id="total_brokerage">
                    <canvas id="total_brokerage_Chart" width="650" height="300"></canvas>
                  </div>
                </div>
              </div>

              <!-- Payments ---------->
              <div class="col-lg-4">
                <div class="payment-detls fix-ht">
                  <div class="card br-rd-8 card-shadow  no-br">
                    <div class="px-3 row">
                      <div class="col-md-6 pt-3">
                        <h2 class="sec-title mb-0">Payments</h2>
                      </div>
                      <div class="col-md-6 pt-3 text-end">
                        <a href="javascript:;" class="btn-link font-medium">View All</a>
                      </div>
                    </div>
                    <hr>
                    <div class="mt-2 payment-list px-3">
                      <h4>October, 2020</h4>
                      <ul class="list-unstyled">
                        <li>
                          <div class="payment-wrap">
                            <p class="date mb-0">Dec 23rd, 2020</p>
                            <p class="payment-user-name mb-0">Niharika Aswani</p>
                            <p class="devloper-name mb-0">Vedanta Developers</p>
                            <p class="payment-amount mb-0 d-sm-inline-block">₹ 34000</p>
                            <p class="payment-status success-status mb-0 d-sm-inline-block mt-1 float-end">Paid</p>
                          </div>
                        </li>
                        <li>
                          <div class="payment-wrap">
                            <p class="date mb-0">Dec 23rd, 2020</p>
                            <p class="payment-user-name mb-0">Niharika Aswani</p>
                            <p class="devloper-name mb-0">Vedanta Developers</p>
                            <p class="payment-amount mb-0 d-sm-inline-block">₹ 34000</p>
                            <p class="payment-status pending-status mb-0 d-sm-inline-block mt-1 float-end">Pending</p>
                          </div>
                        </li>
                      </ul>
                      <h4>November, 2020</h4>
                      <ul>
                        <li>
                          <div class="payment-wrap">
                            <p class="date mb-0">Dec 23rd, 2020</p>
                            <p class="payment-user-name mb-0">Niharika Aswani</p>
                            <p class="devloper-name mb-0">Vedanta Developers</p>
                            <p class="payment-amount mb-0 d-sm-inline-block">₹ 34000</p>
                            <p class="payment-status cancel-status mb-0 d-sm-inline-block mt-1 float-end">Cancel</p>
                          </div>
                        </li>
                        <li>
                          <div class="payment-wrap">
                            <p class="date mb-0">Dec 23rd, 2020</p>
                            <p class="payment-user-name mb-0">Niharika Aswani</p>
                            <p class="devloper-name mb-0">Vedanta Developers</p>
                            <p class="payment-amount mb-0 d-sm-inline-block">₹ 34000</p>
                            <p class="payment-status pending-status mb-0 d-sm-inline-block mt-1 float-end">Pending</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Newly Launched ---------->
        <%= render 'dashboard/index/partials/collaterals' %>


      </div>
      <div class="col-lg-3">
        <!-- Events ---------->
        <div class="card br-rd-8 card-shadow no-br">
          <div class="">
            <div class="col-md-12 pt-3 px-3">
              <h2 class="sec-title mb-0">Upcoming Events</h2>
            </div>
            <hr>
            <ul class="upcoming-events-list list-unstyled cmn-list">
              <li class="px-3">
                <div class="list-wrap row">
                  <div class="col-lg-2">
                    <i class="fa fa-calendar-alt fill-primary"></i>
                  </div>
                  <div class="col-lg-10">
                    <p class="list-txt event-title mb-0">Pre Launch Event</p>
                    <p class="list-txt event-time mb-0">5th May 2020, 12.30 pm IST</p>
                  </div>
                </div>
              </li>
              <li class="px-3">
                <div class="list-wrap row">
                  <div class="col-lg-2">
                    <i class="fa fa-calendar-alt fill-primary"></i>
                  </div>
                  <div class="col-lg-10">
                    <p class="list-txt event-title mb-0">Launch Event</p>
                    <p class="list-txt event-time mb-0">31st Dec 2020, 12.30 pm IST</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>


        <!----Announcements------------>
        <div class="card br-rd-8 card-shadow no-br mt-3">
          <div class="">
            <div class="col-md-12 pt-3 px-3">
              <h2 class="sec-title mb-0">Announcements</h2>
            </div>
            <hr>
            <ul class="announcement-list list-unstyled cmn-list">
              <li class="px-3">
                <div class="list-wrap row">
                  <div class="col-lg-2">
                    <i class="fa fa-rocket fill-warning fa-sm"></i>
                  </div>
                  <div class="col-lg-10">
                    <p class="list-txt event-title mb-0">New Launch</p>
                    <p class="list-txt event-info mb-0">Embassy Developers has just launched a new project, Brahma
                      Towers in Lavassa.</p>
                    <p class="list-txt event-time mb-0">On May 23rd, 2020</p>
                  </div>
                </div>
              </li>
              <li class="px-3">
                <div class="list-wrap row">
                  <div class="col-lg-2">
                    <i class="fa fa-calendar-week fill-primary fa-sm"></i>
                  </div>
                  <div class="col-lg-10">
                    <p class="list-txt event-title mb-0">Events</p>
                    <p class="list-txt event-info mb-0">New plans for projects from Lodha builders in Pune on 24th Dec
                      2020</p>
                    <p class="list-txt event-time mb-0">On May 23rd, 2020</p>
                  </div>
                </div>
              </li>
              <li class="px-3">
                <div class="list-wrap row">
                  <div class="col-lg-2">
                    <i class="fa fa-exclamation-triangle fill-danger fa-sm"></i>
                  </div>
                  <div class="col-lg-10">
                    <p class="list-txt event-title mb-0">Brokerage Alert</p>
                    <p class="list-txt event-info mb-0">2.5% Brokerage incentive on bookings made within the first week
                      of the launch date</p>
                    <p class="list-txt event-time mb-0">Till May 23rd, 2020</p>
                  </div>
                </div>
              </li>
              <li class="px-3">
                <div class="list-wrap row">
                  <div class="col-lg-2">
                    <i class="fa fa-calendar-week fill-primary fa-sm"></i>
                  </div>
                  <div class="col-lg-10">
                    <p class="list-txt event-title mb-0">Events</p>
                    <p class="list-txt event-info mb-0">New plans for projects from Lodha builders in Pune on 24th Dec
                      2020</p>
                    <p class="list-txt event-time mb-0">On May 23rd, 2020</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
</section>

<%= javascript_tag do %>

  $(document).ready(function(){
    var barOptions_stacked = {
      indexAxis: 'y',
      scales: {
        x: {
          stacked: true
        },
        y: {
          ticks: {
            mirror: true,
            labelOffset: -20,
            padding: 10
          },
          stacked: true,
          grid: {
            display: false
          }
        }
      },
      pointLabelFontFamily: "Quadon Extra Bold",
      scaleFontFamily: "Quadon Extra Bold",
      maintainAspectRatio: false
    };

    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Brahma Suncity 100 Customers", "Bhankti Elegance 66 Customers", "Padma Shree Housing Society 56 Customers","Ellite Homes 80 Customers"],
        datasets: [{
          label: 'Open',
          categoryPercentage: 0.32,
          data: [15, 85, 45, 3, 14],
          backgroundColor: Amura.chart_colors.light_blue,
          fill: false
        }, {
          label: 'Walk Ins',
          categoryPercentage: 0.32,
          data: [23, 55, 74, 4, 90],
          backgroundColor: Amura.chart_colors.light_purple,
          fill: false
        }, {
          label: 'Bookings',
          categoryPercentage: 0.32,
          data: [38, 53, 46, 84, 93],
          backgroundColor: Amura.chart_colors.light_red,
          fill: false
        }, {
          label: '9.9% Paid',
          categoryPercentage: 0.32,
          data: [38, 53, 46, 84, 93],
          backgroundColor: Amura.chart_colors.light_yellow,
          fill: false
        }, {
          label: 'Registrations',
          categoryPercentage: 0.32,
          data: [38, 53, 46, 84, 93],
          backgroundColor: Amura.chart_colors.light_cyan,
          fill: false
        }]
      },

      options: barOptions_stacked,
    });
    var ctx1 = document.getElementById("total_brokerage_Chart");
    var total_brokerage_Chart = new Chart(ctx1, {
      type: 'bar',
      data: {
        labels: ["Oct 2020", "Nov 2020", "Dec 2020"],
        datasets: [{
          label: 'Paid',
          categoryPercentage: 0.2,
          data: [15, 85, 40],
          backgroundColor: Amura.chart_colors.green
        }, {
          label: 'Pending',
          categoryPercentage: 0.2,
          data: [23, 55, 90],
          backgroundColor: Amura.chart_colors.light_green
        }]
      },

      options: {
        indexAxis: 'x',
      scales: {
        x: {
          stacked: true,
          grid: {
            display: false
          }
        },
        y: {
          ticks: {
            mirror: true,
            labelOffset: -20,
            padding: 10
          },
          stacked: true,
          
        }
      },
      pointLabelFontFamily: "Quadon Extra Bold",
      scaleFontFamily: "Quadon Extra Bold",
      maintainAspectRatio: false
      }
    });
  });
<% end %>
<% else %>

<section class="cp-register-sec mt-5">
  <div class="col-lg-12">
    <div class="cp-reg-header pt-5 px-4 pb-5 col-lg-12">
      <h1 class="sec-title">Complete Registration</h1>
      <%# <a href="javascript:;" class="skip-step-btn pe-3">Skip for now</a> %>
    </div>
    <div class="col-lg-12">
      <div class="cp-step-list px-4 pt-3 col-lg-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a href="javascript:;" class="step-done nav-link active border-0" data-bs-toggle="tab"
              data-bs-target="#step-1" type="button" role="tab">
              <div class="step-inner">
                <span>1</span>
                <p>Personal Info</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="step-done nav-link border-0" data-bs-toggle="tab" data-bs-target="#step-2"
              type="button" role="tab">
              <div class="step-inner">
                <span>2</span>
                <p>Company Details</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="step-done nav-link border-0" data-bs-toggle="tab" data-bs-target="#step-3" type="button"
              role="tab">
              <div class="step-inner">
                <span>3</span>
                <p>Questionaire</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="step-done nav-link border-0" data-bs-toggle="tab" data-bs-target="#step-4" type="button"
              role="tab">
              <div class="step-inner">
                <span>4</span>
                <p>Upload Documents</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-12 px-4 pb-3">
      <%= simple_form_for(channel_partner, local: true, remote: true, html: {id: 'new_channel_partner_form', class: 'validate-form theme-form tab-content', "data-resource-type": global_labels['channel_partner'], "data-type": "json"}) do |form| %>
      <div class="step-tab-content tab-pane fade show active shadow-sm border rounded-top" role="tabpanel" id="step-1">
        <div class="step-tab-inner">
          <h2 class="px-4 py-4 mb-3 border-bottom text-theme-color fn-24 font-light">Personal Info</h2>
          <div class="cp-form-wrap px-4 pt-2 mb-5">
            <%= render "channel_partners/personal_fields", {form: form} %>
          </div>
        </div>
      </div>

      <div class="step-tab-content tab-pane fade shadow-sm border rounded-top" role="tabpanel" id="step-2">
        <div class="step-tab-inner">
          <h2 class="px-4 py-4 mb-3 border-bottom text-theme-color fn-24 font-light">Company Details</h2>
          <div class="cp-form-wrap px-4 pt-2 mb-5">
            <%= render "channel_partners/company_fields", {form: form} %>
          </div>
        </div>
      </div>
      <div class="step-tab-content tab-pane fade shadow-sm border rounded-top" role="tabpanel" id="step-3">
        <div class="step-tab-inner">
          <h2 class="px-4 py-4 mb-3 border-bottom text-theme-color fn-24 font-light">Questionaire</h2>
          <div class="cp-form-wrap px-4 pt-2 mb-5">
            <%= render "channel_partners/questionaire_fields", {form: form} %>
          </div>
        </div>
      </div>
      <div class="step-tab-content tab-pane fade shadow-sm border rounded-top" role="tabpanel" id="step-4">
        <div class="step-tab-inner">
          <h2 class="px-4 py-4 mb-3 border-bottom text-theme-color fn-24 font-light">Upload Documents</h2>
          <div class="cp-form-wrap px-4 pt-2 mb-5">
            <%= render 'channel_partners/asset_form', assetable: channel_partner %>
          </div>
        </div>
      </div>
      <div class="cp-form-wrap shadow-sm border rounded-bottom px-4 py-4 shadow-top-none">
        <div class='form-footer px-0 text-start d-inline-block'>
          <%= form.submit "Save", class: "btn bg-primary white me-3 d-inline-block px-4 font-medium w-auto" %>
        </div>
        <div class="form-footer px-0 float-end d-inline-block">
          <% if policy([current_user_role_group, channel_partner]).change_state? %>
            <% if policy([current_user_role_group, channel_partner]).editable_field?('event') %>
              <%= link_to "<span class='btn bg-primary white px-4 d-inline-block font-medium w-auto fn-14'>#{channel_partner.rejected? ? 'Re-' : ''}Submit for Approval</span>".html_safe, change_state_channel_partner_path(channel_partner, {channel_partner: {event: 'submit_for_approval'}}), method: :post, class: 'modal-remote-form-link' %>
            <% end %>
          <% elsif channel_partner.pending? %>
            <div style='padding: 8px 10px;'>Sent for Approval</div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#new_channel_partner_form"));
    $('#new_channel_partner_form').on('ajax:error', function(event) {
      if(typeof event.detail[0] == 'object' && event.detail[0].errors != undefined) {
        Amura.global_error_handler(event.detail[0].errors);
      }
    });
    $('#new_channel_partner_form').on("ajax:success", function(event, two, three){
      Amura.global_success_handler("Details updated successfully");
      window.location = window.location;
    });
  });
<% end %>
