<% date = (Date.today - 6.months).strftime("%d/%m/%Y") + " - " + Date.today.strftime("%d/%m/%Y") %>
<% start_date, end_date = date.split(' - ') %>
<% channel_partner = current_user.channel_partner %>
<% @channel_partner = channel_partner%>
<% if current_user.fund_accounts.count.zero? && !current_client.is_marketplace? %>
  <section class="mt-3" id="">
    <div class="px-4">
      <div class="row">
        <div class="col-lg-12">
          <div class="alert alert-danger" role="alert">
             <%= I18n.t("mongoid.attributes.user.upi.add_address") %> <%= link_to I18n.t("mongoid.attributes.user.upi.update"), [:edit, current_user_role_group, current_user], class: "alert-link modal-remote-form-link" %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
<section class="mt-3" id="">
  <div class="px-4">
    <div class="row">
      <div class="col-lg-12">
        <div class="row mb-3">
          <div class="col-lg-12">
            <div id="cpBenefitsCarousel" class="cpBenefitsCarousel carousel slide position-relative">
              <div class="carousel-inner">
                <% @offer_assets.each_with_index do |value, index| %>
                  <div class="carousel-item <%= index==0 ? 'active' : '' %>">
                    <% if value.url.present? %>
                      <%= link_to '', href: value.url, target: :_blank do %>
                        <div class="banner-image" style="background-image: url('<%= device_type == 'desktop' ? value.banner_image : value.mobile_banner_image %>');">
                        </div>
                      <% end %>
                    <% else %>
                      <div class="banner-image" style="background-image: url('<%= device_type == 'desktop' ? value.banner_image : value.mobile_banner_image %>');"></div>
                    <%end%>
                  </div>
                <% end %>
              </div>
              <div class="carousel-indicators">
                <% @offer_assets.each_with_index do |value, index| %>
                  <button type="button" data-bs-target="#cpBenefitsCarousel" data-bs-slide-to="<%= index %>" class="<%= index==0 ? 'active' : '' %>" aria-current="true"></button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% if current_user.active_channel_partner? %>
  <%= render 'dashboard/index/partials/active_channel_partner_dashboard', channel_partner: @channel_partner %>
<% else %>
  <%= render 'dashboard/index/partials/inactive_channel_partner_dashboard', channel_partner: @channel_partner %>
<% end %>
