<% date = (Date.today - 6.months).strftime("%d/%m/%Y") + " - " + Date.today.strftime("%d/%m/%Y") %>
<% start_date, end_date = date.split(' - ') %>

<section class="user-db-sec-5 device-pd">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd">
        <div class="filter-inner">
          <%= form_tag dashboard_counts_path, method: "get", remote: true, id: "dashboard_count_filter" do %>
            <div class="filter-content">
              <div class="row">
                <div class="form-group col-12">
                  <%= label_tag "dates", "Dates", class: "control-label float-left" %>
                  <%= text_field_tag :dates, "", class: 'form-control daterangefilter', required: 'required',"data-start-date": start_date || '', "data-end-date": end_date || '', "data-opens": 'right', placeholder: 'dd/mm/yyyy - dd/mm/yyyy', id: "dates", auto: false, autocomplete: 'disabled' %>
                </div>
                <div class="form-group col-12">
                  <%= label_tag :project_ids, "Projects", class: "control-label float-left" %>
                  <%= select_tag :project_ids, options_for_select(Project.all.collect{|x| [x.name, x.id]}.sort{|x, y| x[0] <=> y[0]}), {prompt: "Select", class: "selectize", multiple: true} %>
                </div>
              </div>
            </div>
            <div class="filter-footer">
              <%= submit_tag :Apply, class: "f-save-btn db-small-btn white bg-light-blue fn-500 float-right" %>
              <button type="button" class="f-cancel-btn status_chart_filter_cancel db-small-btn light-blue bg-white fn-500 float-right">Cancel</button>
            </div>
        <% end %>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pd" id = "dashboard_counts">
      </div>
    </div>
  </div>
</section>
<section class="user-db-sec-6 device-pd">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd">
        <div class="table-title pt-4">
          <h1 class="title"><%= t('dashboard.cp_admin.incentive_scheme_performance.heading') %></h1>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd">
        <div class="filter-inner">
          <%= form_tag invoice_summary_path, method: "get", remote: true, id: "invoice_summary_filter" do %>
            <div class="filter-content">
              <div class="row">
                <div class="form-group col-12">
                  <%= label_tag :project_ids, "Projects", class: "control-label float-left" %>
                  <%= select_tag :project_ids, options_for_select(Project.all.collect{|x| [x.name, x.id]}.sort{|x, y| x[0] <=> y[0]}), {prompt: "Select", class: "selectize", multiple: true} %>
                </div>
              </div>
            </div>
            <div class="filter-footer">
              <%= submit_tag :Apply, class: "f-save-btn db-small-btn white bg-light-blue fn-500 float-right" %>
              <button type="button" class="f-cancel-btn status_chart_filter_cancel db-small-btn light-blue bg-white fn-500 float-right">Cancel</button>
            </div>
        <% end %>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd" id = "invoice_summary">
      </div>
    </div>
  </div>
<%#= render 'dashboard/index/partials/invoice_summary', start_date: start_date, end_date: end_date %>
</section>

<section class="user-db-sec-6 device-pd <%= current_user.role?('cp') ? 'mb-5 pb-5' : '' %>">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd">
        <div class="table-title pt-4">
          <h1 class="title"><%= t('dashboard.cp_admin.channel_partner_performace.heading') %></h1>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd">
        <div class="filter-inner">
          <%= form_tag channel_partner_performance_admin_users_path, method: "get", remote: true, id: "channel_partner_performance_form" do %>
            <div class="filter-content">
              <div class="row">
                <div class="form-group col-12">
                  <%= label_tag "dates", "Dates", class: "control-label float-left" %>
                  <%= text_field_tag :dates, "", class: 'form-control daterangefilter', required: 'required',"data-start-date": start_date || '', "data-end-date": end_date || '', "data-opens": 'right', placeholder: 'dd/mm/yyyy - dd/mm/yyyy', id: "dates", auto: false, autocomplete: 'disabled' %>
                </div>
                <div class = "form-group col-12">
                  <%= label_tag "channel_partner_id", "Channel Partner", class: "control-label float-left" %>
                  <%= select_tag "channel_partner_id", options_for_select(User.where(User.role_based_channel_partners_scope(current_user)).map{|u| [u.email, u.id]}), class: "selectize" %>
                </div>
              </div>
            </div>
            <div class="filter-footer">
              <%= submit_tag :Apply, class: "f-save-btn db-small-btn white bg-light-blue fn-500 float-right" %>
              <button type="button" class="f-cancel-btn status_chart_filter_cancel db-small-btn light-blue bg-white fn-500 float-right">Cancel</button>
            </div>
        <% end %>
        </div>
      </div>
    </div>
    <div class="row" id = "dashboard_channel_partner_performance">
    </div>
  </div>
</section>

<% if current_user.role? ('cp_admin') %>
  <div class='mb-5 pb-5'>
    <section class="user-db-sec-6 device-pd">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd">
            <div class="table-title pt-4">
              <h1 class="title"><%= t('dashboard.cp_admin.cp_performance.heading') %></h1>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd">
            <div class="filter-inner">
              <%= form_tag cp_performance_path, method: "get", remote: true, id: "cp_performance_form" do %>
                <div class="filter-content">
                  <div class="row">
                    <div class="form-group col-12">
                      <%= label_tag "dates", "Dates", class: "control-label float-left" %>
                      <%= text_field_tag :dates, "", class: 'form-control daterangefilter', required: 'required',"data-start-date": start_date || '', "data-end-date": end_date || '', "data-opens": 'right', placeholder: 'dd/mm/yyyy - dd/mm/yyyy', id: "dates", auto: false, autocomplete: 'disabled' %>
                    </div>
                    <div class="form-group col-12">
                      <%= label_tag :project_ids, "Projects", class: "control-label float-left" %>
                      <%= select_tag :project_ids, options_for_select(Project.all.collect{|x| [x.name, x.id]}.sort{|x, y| x[0] <=> y[0]}), {prompt: "Select", class: "selectize", multiple: true} %>
                    </div>
                  </div>
                </div>
                <div class="filter-footer">
                  <%= submit_tag :Apply, class: "f-save-btn db-small-btn white bg-light-blue fn-500 float-right" %>
                  <button type="button" class="f-cancel-btn status_chart_filter_cancel db-small-btn light-blue bg-white fn-500 float-right">Cancel</button>
                </div>
            <% end %>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd" id = "cp_performance">
          </div>
        </div>
      </div>
    </section>
  </div>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#channel_partner_performance_form"));
    FormInitializer.init($("#dashboard_count_filter"));
    FormInitializer.init($("#invoice_summary_filter"));
    FormInitializer.init($("#cp_performance_form"));

    let date = "<%= @dates %>";
    $.ajax({
      url: "<%= channel_partner_performance_admin_users_path %>",
      type: "get",
    });
    $.ajax({
      url: "/dashboard/dashboard_counts",
      type: "get"
    });
    $.ajax({
      url: "/dashboard/invoice_summary",
      type: "get"
    });
    $.ajax({
      url: "/dashboard/cp_performance",
      type: "get"
    });
  });
<% end %>
