<% channel_partner = current_user.channel_partner %>
<% @channel_partner = channel_partner %>

<% if current_user.active_channel_partner? %>
  <% date = (Date.today - 6.months).strftime("%d/%m/%Y") + " - " + Date.today.strftime("%d/%m/%Y") %>
  <% start_date, end_date = date.split(' - ') %>
  <section class="user-db-sec-5 device-pd my-3">
    <div class="px-4">
      <div class='box-card'>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
            <div class="table-btn-set float-end">
              <button class="db-filter-btn fn-500 filter-popup border-0" type="button">
                <i class="fa fa-filter fill-theme"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="filter-box modal-content px-3 fixed-header-footer">
                <div class="filter-header modal-header">
                  <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
                  <a href="javascript:;" class="close-filter-btn btn-close"></a>
                </div>
                <%= form_tag dashboard_counts_path, method: "get", remote: true, id: "dashboard_count_filter", class: 'filter-form-modal' do %>
                  <div class="filter-content modal-body ps-0 pe-0 theme-form">
                    <div class="row">
                      <div class="mb-3 col-12">
                        <%= label_tag "dates", I18n.t("global.dates"), class: "control-label float-left" %>
                        <%= text_field_tag :dates, "", class: 'form-control daterangefilter', "data-start-date": start_date || '', "data-end-date": end_date || '', "data-opens": 'right', placeholder: 'dd/mm/yyyy - dd/mm/yyyy', id: "dates", auto: false, autocomplete: 'disabled' %>
                      </div>
                      <div class="mb-3 col-12">
                        <%= label_tag :project_ids, I18n.t("mongoid.models.project.other"), class: "control-label float-left" %>
                        <%= select_tag :project_ids, options_for_select(Project.where(Project.user_based_scope(current_user)).collect{|x| [x.name, x.id]}.sort{|x, y| x[0] <=> y[0]}), {prompt:  I18n.t("global.select"), class: "selectize", multiple: true} %>
                      </div>
                    </div>
                  </div>
                  <div class="filter-footer modal-footer text-end">
                    <%= submit_tag :Apply, class: "f-save-btn btn btn-primary fn-500 float-end" %>
                    <button type="button" class="f-cancel-btn btn btn-secondary fn-500 float-end">Cancel</button>
                  </div>
                <% end %>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id = "dashboard_counts">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--
  <section class="user-db-sec-6 device-pd">
    <div class="container">
      <div class='box-card'>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3 no-pd">
            <div class="table-title pt-4">
              <h1 class="title"><%#= t('dashboard.cp_admin.incentive_scheme_performance.heading') %></h1>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3 no-pd">
            <div class="table-btn-set float-right pt-3">
              <button class="db-filter-btn white fn-500" type="button">
                <i class="icon-set icon-filter-light-blue"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pd">
            <div class="filter-box">
              <div class="filter-inner">
                <div class="filter-header">
                  <span class="title"><%= I18n.t("global.filter") %></span>
                  <a href="javascript:;" class="close-filter-btn">&times;</a>
                </div>
                <%#= form_tag invoice_summary_path, method: "get", remote: true, id: "invoice_summary_filter", class: 'filter-form-modal' do %>
                  <div class="filter-content">
                    <div class="row">
                      <div class="mb-3 col-12">
                        <%#= label_tag :project_ids, "Projects", class: "control-label float-left" %>
                        <%#= select_tag :project_ids, options_for_select(Project.all.collect{|x| [x.name, x.id]}.sort{|x, y| x[0] <=> y[0]}), {prompt:  I18n.t("global.select"), class: "selectize", multiple: true} %>
                      </div>
                    </div>
                  </div>
                  <div class="filter-footer">
                    <%#= submit_tag :Apply, class: "f-save-btn db-small-btn white bg-light-blue fn-500 float-right close-filter-btn" %>
                    <button type="button" class="f-cancel-btn status_chart_filter_cancel db-small-btn light-blue bg-white fn-500 float-right">Cancel</button>
                  </div>
                <%# end %>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd" id = "invoice_summary">
          </div>
        </div>
      </div>
    </div>
  </section>
  -->

  <% cp_id = ChannelPartner.active.where(ChannelPartner.user_based_scope(current_user)).first&.id %>
  <section class="user-db-sec-6 device-pd <%= current_user.role?('cp') ? 'mb-5 pb-5' : '' %>">
    <div class="px-4">
      <div class='box-card'>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
            <div class="table-title pt-4">
              <h1 class="title fn-18"><%= t('dashboard.cp_admin.partner_wise_performace.heading') %></h1>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
            <div class="table-btn-set float-end pt-3">
              <button class="db-filter-btn fn-500 filter-popup border-0" type="button">
                <i class="fa fa-filter fill-theme"></i>
              </button>
            </div>
            <div class="table-btn-set float-end pt-3">
              <button class="select-btn fn-400 dropdown-toggle  px-3 border rounded py-2" href="javascript:;" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= link_to t("dashboard.exports.link_name", type: nil) %>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to link_to t("dashboard.exports.link_name", type: t('global.all')), partner_wise_performance_admin_users_path(format: "xls"), class: 'dropdown-item' %>
                <%= link_to t('dashboard.exports.link_name', type: t('global.active_filter')), partner_wise_performance_admin_users_path(format: "xls", channel_partner_id: params["channel_partner_id"], project_id: params["project_id"], dates: params["dates"], active_walkins: params["active_walkins"], active_bookings: params["active_bookings"]), class: 'dropdown-item', id: 'partner-wise-performance-af-export' %>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <div class="filter-box modal-content px-3 fixed-header-footer">
              <div class="filter-header modal-header">
                <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
                <a href="javascript:;" class="close-filter-btn btn-close"></a>  
              </div>
              <%= form_tag partner_wise_performance_admin_users_path, method: "get", remote: true, id: "partner_wise_performance_form", class: 'filter-form-modal' do %>
                <div class="filter-content  modal-body ps-0 pe-0 theme-form">
                  <div class="row">
                    <div class="mb-3 col-12">
                      <div class="alert alert-primary">
                        <span class="small"><i class="fa fa-info-circle me-2"></i><%= I18n.t("controller.dashboard.link_to.project_wise.applying_filters.step1") %> <strong><%= I18n.t("global.total") %></strong> <%= I18n.t("controller.dashboard.link_to.project_wise.applying_filters.step2") %> </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col-12">
                      <%= label_tag "dates", I18n.t("global.dates"), class: "control-label float-left" %>
                      <%= text_field_tag :dates, "", class: 'form-control daterangefilter', "data-start-date": start_date || '', "data-end-date": end_date || '', "data-opens": 'right', placeholder: 'dd/mm/yyyy - dd/mm/yyyy', id: "dates", auto: false, autocomplete: 'disabled' %>
                    </div>
                    <div class = "mb-3 col-12">
                      <%= label_tag "project_id", I18n.t("mongoid.models.project.one"), class: "control-label float-left" %>
                      <%= select_tag "project_id", options_for_select(Project.where(Project.user_based_scope(current_user)).map{|pr| [pr.name, pr.id]}), prompt: 'Select', class: "selectize" %>
                    </div>
                    <div class = "mb-3 col-12">
                      <%= label_tag "channel_partner_id", ChannelPartner.model_name.human, class: "control-label float-left" %>
                      <%= select_tag "channel_partner_id", options_for_select(ChannelPartner.active.where(ChannelPartner.user_based_scope(current_user)).map{|cp| [cp.company_name, cp.id]}, cp_id), prompt: 'Select', class: "selectize" %>
                    </div>
                    <div class="mb-3 col-12">
                      <%= label_tag "fltrs", I18n.t("global.link_to.active_walk_ins"), class: "control-label float-left" %>
                      <%= select_tag "active_walkins", options_for_select([[t('global.boolean.true'), true], [t('global.boolean.false'), false]], (params[:active_walkins].present? ? params[:active_walkins] : "")), { prompt: 'Select', class: "selectize" } %>
                    </div>
                    <div class="mb-3 col-12">
                      <%= label_tag "fltrs", I18n.t("global.link_to.active_bookings"), class: "control-label float-left" %>
                      <%= select_tag "active_bookings", options_for_select([[t('global.boolean.true'), true], [t('global.boolean.false'), false]], (params[:active_bookings].present? ? params[:active_bookings] : "")), { prompt: 'Select', class: "selectize" } %>
                    </div>
                  </div>
                </div>
                <div class="filter-footer  modal-footer text-end">
                  <%= submit_tag :Apply, class: "f-save-btn btn btn-primary fn-500 float-end" %>
                  <button type="button" class="f-cancel-btn btn btn-secondary fn-500 float-end"><%= I18n.t("global.link_to.cancel") %></button>
                </div>
              <% end %>
          </div>
        </div>
        <div class="row" id = "dashboard_partner_wise_performance"></div>
      </div>
    </div>
  </section>

  <section class="user-db-sec-6 device-pd <%= current_user.role?('cp') ? 'mb-5 pb-5' : '' %>">
    <div class="px-4">
      <div class='box-card'>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
            <div class="table-title pt-4">
              <h1 class="title fn-18"><%= t('dashboard.cp_admin.channel_partner_performace.heading') %></h1>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
            <div class="table-btn-set float-end pt-3">
              <button class="db-filter-btn fn-500 filter-popup border-0" type="button">
                <i class="fa fa-filter fill-theme"></i>
              </button>
            </div>
            <div class="table-btn-set float-end pt-3">
              <button class="select-btn fn-400 dropdown-toggle  px-3 border rounded py-2" href="javascript:;" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= link_to t("dashboard.exports.link_name", type: nil) %>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to link_to t("dashboard.exports.link_name", type: t('global.all')), channel_partner_performance_admin_users_path(format: "xls"), class: 'dropdown-item' %>
                <%= link_to t('dashboard.exports.link_name', type: t('global.active_filter')), channel_partner_performance_admin_users_path(format: "xls", channel_partner_id: params["channel_partner_id"], dates: params["dates"], project_ids: params["project_ids"], manager_id: params["manager_id"]), class: 'dropdown-item', id: 'channel-partner-performance-af-export' %>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <div class="filter-box modal-content px-3 fixed-header-footer">
                <div class="filter-header modal-header">
                  <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
                  <a href="javascript:;" class="close-filter-btn btn-close"></a>
                </div>
                <%= form_tag channel_partner_performance_admin_users_path, method: "get", remote: true, id: "channel_partner_performance_form", class: 'filter-form-modal' do %>
                  <div class="filter-content  modal-body ps-0 pe-0 theme-form">
                    <div class="row">
                      <div class="mb-3 col-12">
                        <%= label_tag "dates", I18n.t("global.dates"), class: "control-label float-left" %>
                        <%= text_field_tag :dates, "", class: 'form-control daterangefilter', "data-start-date": start_date || '', "data-end-date": end_date || '', "data-opens": 'right', placeholder: 'dd/mm/yyyy - dd/mm/yyyy', id: "dates", auto: false, autocomplete: 'disabled' %>
                      </div>
                      <div class = "mb-3 col-12">
                        <%= label_tag "channel_partner_id", ChannelPartner.model_name.human, required: true, class: "control-label float-left" %>
                        <%= select_tag "channel_partner_id", options_for_select(ChannelPartner.active.where(ChannelPartner.user_based_scope(current_user)).map{|cp| [cp.company_name, cp.id]}), prompt: 'Select', class: "selectize" %>
                      </div>
                      <div class = "mb-3 col-12">
                        <%= label_tag "manager_id", I18n.t("mongoid.attributes.user.manager_id"), class: "control-label float-left" %>
                        <%= select_tag "manager_id", options_for_select(User.where(User.role_based_channel_partners_scope(current_user)).map{|u| [u.email, u.id]}), prompt: 'Select', class: "selectize" %>
                      </div>
                      <div class="mb-3 col-12">
                        <%= label_tag :project_ids, I18n.t("mongoid.models.project.other"), class: "control-label float-left" %>
                        <%= select_tag :project_ids, options_for_select(Project.filter_by_is_active(true).where(Project.user_based_scope(current_user)).collect{|x| [x.name, x.id]}.sort{|x, y| x[0] <=> y[0]}), {prompt:  I18n.t("global.select"), class: "selectize", multiple: true} %>
                      </div>
                    </div>
                  </div>
                  <div class="filter-footer  modal-footer text-end">
                    <%= submit_tag :Apply, class: "f-save-btn btn btn-primary fn-500 float-end" %>
                    <button type="button" class="f-cancel-btn btn btn-secondary fn-500 float-end"><%= I18n.t("global.link_to.cancel") %></button>
                  </div>
                <% end %>
              </div>
          </div>
        </div>
        <div class="row" id = "dashboard_channel_partner_performance"></div>
      </div>
    </div>
  </section>

  <section class="user-db-sec-6 device-pd <%= current_user.role?('cp') ? 'mb-5 pb-5' : '' %>">
    <div class="px-4">
      <div class='box-card'>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
            <div class="table-title pt-4">
              <h1 class="title fn-18"><%= I18n.t("global.link_to.vis_report") %></h1>
            </div>
          </div>
        </div>
        <div class="row" id = "variable_incentive_scheme_performance"></div>
      </div>
    </div>
  </section>

  <% if (["cp_admin","admin","superadmin"].include?current_user.role) %>
    <div class='mb-5 pb-5'>
      <section class="user-db-sec-6 device-pd">
        <div class="px-4">
          <div class='box-card'>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
                <div class="table-title pt-4">
                  <h1 class="title fn-18"><%= t('dashboard.cp_admin.cp_performance.heading') %></h1>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
                <div class="table-btn-set float-end pt-3">
                  <button class="db-filter-btn fn-500 filter-popup border-0" type="button">
                    <i class="fa fa-filter fill-theme"></i>
                  </button>
                </div>
                <div class="table-btn-set float-end pt-3">
                  <button class="select-btn fn-400 dropdown-toggle  px-3 border rounded py-2" href="javascript:;" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= link_to t("dashboard.exports.link_name", type: nil) %>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <%= link_to link_to t("dashboard.exports.link_name", type: t('global.all')), cp_performance_path(format: "xls"), class: 'dropdown-item' %>
                    <%= link_to t('dashboard.exports.link_name', type: t('global.active_filter')), cp_performance_path(format: "xls", dates: params["dates"], project_ids: params["project_ids"]), class: 'dropdown-item', id: 'cp-performance-af-export' %>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="filter-box modal-content px-3 fixed-header-footer">
                    <div class="filter-header modal-header">
                  <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
                      <a href="javascript:;" class="close-filter-btn btn-close"></a>
                    </div>
                    <%= form_tag cp_performance_path, method: "get", remote: true, id: "cp_performance_form", class: 'filter-form-modal' do %>
                      <div class="filter-content  modal-body ps-0 pe-0 theme-form">
                        <div class="row">
                          <div class="mb-3 col-12">
                            <%= label_tag "dates", I18n.t("global.dates"), class: "control-label float-left" %>
                            <%= text_field_tag :dates, "", class: 'form-control daterangefilter', "data-start-date": start_date || '', "data-end-date": end_date || '', "data-opens": 'right', placeholder: 'dd/mm/yyyy - dd/mm/yyyy', id: "dates", auto: false, autocomplete: 'disabled' %>
                          </div>
                          <div class="mb-3 col-12">
                            <%= label_tag :project_ids, I18n.t("mongoid.models.project.other"), class: "control-label float-left" %>
                            <%= select_tag :project_ids, options_for_select(Project.where(Project.user_based_scope(current_user)).collect{|x| [x.name, x.id]}.sort{|x, y| x[0] <=> y[0]}), {prompt:  I18n.t("global.select"), class: "selectize", multiple: true} %>
                          </div>
                        </div>
                      </div>
                      <div class="filter-footer  modal-footer text-end">
                        <%= submit_tag :Apply, class: "f-save-btn btn btn-primary fn-500 float-end" %>
                        <button type="button" class="f-cancel-btn btn btn-secondary fn-500 float-end">Cancel</button>
                      </div>
                    <% end %>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3" id = "cp_performance">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  <% end %>

  <% if (["cp_admin","admin","superadmin"].include?current_user.role) %>
    <div class='mb-5 pb-5'>
      <section class="user-db-sec-6 device-pd">
        <div class="px-4">
          <div class='box-card'>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3 no-pd">
                <div class="table-title pt-4">
                  <h1 class="title fn-18"><%= t('dashboard.cp_admin.cp_status.heading') %></h1>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3 no-pd">
                <div class="table-btn-set float-end pt-3">
                  <button class="db-filter-btn fn-500 filter-popup border-0" type="button">
                    <i class="fa fa-filter fill-theme"></i>
                  </button>
                </div>
                <div class="table-btn-set float-end pt-3">
                  <button class="select-btn fn-400 dropdown-toggle  px-3 border rounded py-2" href="javascript:;" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= t("dashboard.exports.link_name", type: nil) %>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <%= link_to t("dashboard.exports.link_name", type: t('global.all')), cp_status_path(format: "xls"), class: 'dropdown-item' %>
                    <%= link_to t('dashboard.exports.link_name', type: t('global.active_filter')), cp_status_path(format: "xls", dates: params["dates"]), class: 'dropdown-item', id: 'cp-status-af-export' %>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pd">
                <div class="filter-box modal-content px-3 fixed-header-footer">
                    <div class="filter-header modal-header">
                  <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
                      <a href="javascript:;" class="close-filter-btn btn-close"></a>
                    </div>
                    <%= form_tag cp_status_path, method: "get", remote: true, id: "cp_status_form", class: 'filter-form-modal' do %>
                      <div class="filter-content  modal-body ps-0 pe-0 theme-form">
                        <div class="row">
                          <div class="mb-3 col-12">
                            <%= label_tag "dates", I18n.t("global.dates"), class: "control-label float-left" %>
                            <%= text_field_tag :dates, "", class: 'form-control daterangefilter', "data-start-date": start_date || '', "data-end-date": end_date || '', "data-opens": 'right', placeholder: 'dd/mm/yyyy - dd/mm/yyyy', id: "dates", auto: false, autocomplete: 'disabled' %>
                          </div>
                          <div class="mb-3 col-12">
                            <%#= label_tag :project_ids, "Projects", class: "control-label float-left" %>
                            <%#= select_tag :project_ids, options_for_select(Project.where(Project.user_based_scope(current_user)).collect{|x| [x.name, x.id]}.sort{|x, y| x[0] <=> y[0]}), {prompt:  I18n.t("global.select"), class: "selectize", multiple: true} %>
                          </div>
                        </div>
                      </div>
                      <div class="filter-footer  modal-footer text-end">
                        <%= submit_tag :Apply, class: "f-save-btn btn btn-primary fn-500 float-end" %>
                        <button type="button" class="f-cancel-btn btn btn-secondary fn-500 float-end"><%= I18n.t("global.link_to.cancel") %></button>
                      </div>
                    <% end %>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 no-pd" id = "cp_status">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  <% end %>

<section class="user-db-sec-6 device-pd <%= current_user.role?('cp') ? 'mb-5 pb-5' : '' %>">
  <div class="px-4">
    <div class='box-card'>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
          <div class="table-title pt-4">
            <h1 class="title fn-18"><%= t('dashboard.cp_admin.site_visit_partner_wise.heading') %></h1>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
          <div class="table-btn-set float-end pt-3">
            <button class="db-filter-btn fn-500 filter-popup border-0" type="button">
              <i class="fa fa-filter fill-theme"></i>
            </button>
          </div>
          <div class="table-btn-set float-end pt-3">
            <button class="select-btn fn-400 dropdown-toggle  px-3 border rounded py-2" href="javascript:;" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= link_to t("dashboard.exports.link_name", type: nil) %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to link_to t("dashboard.exports.link_name", type: t('global.all')), site_visit_partner_wise_admin_users_path(format: "xls"), class: 'dropdown-item' %>
              <%= link_to t('dashboard.exports.link_name', type: t('global.active_filter')), site_visit_partner_wise_admin_users_path(format: "xls", channel_partner_id: params["channel_partner_id"], project_id: params["project_id"], dates: params["dates"], active_walkins: params["active_walkins"], active_bookings: params["active_bookings"]), class: 'dropdown-item', id: 'site-visit-partner-wise-af-export' %>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="filter-box modal-content px-3 fixed-header-footer">
              <div class="filter-header modal-header">
                <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
                <a href="javascript:;" class="close-filter-btn btn-close"></a>  
              </div>
              <%= form_tag site_visit_partner_wise_admin_users_path, method: "get", remote: true, id: "site_visit_partner_wise_form", class: 'filter-form-modal' do %>
                <div class="filter-content  modal-body ps-0 pe-0 theme-form">
                  <div class="row">
                    <div class="mb-3 col-12">
                      <div class="alert alert-primary">
                        <span class="small"><i class="fa fa-info-circle me-2"></i><%= I18n.t("controller.dashboard.link_to.project_wise.applying_filters.step1") %> <strong><%= I18n.t("global.total") %></strong> <%= I18n.t("controller.dashboard.link_to.project_wise.applying_filters.step2") %></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col-12">
                      <%= label_tag "dates", I18n.t("global.dates"), class: "control-label float-left" %>
                      <%= text_field_tag :dates, "", class: 'form-control daterangefilter', "data-start-date": start_date || '', "data-end-date": end_date || '', "data-opens": 'right', placeholder: 'dd/mm/yyyy - dd/mm/yyyy', id: "dates", auto: false, autocomplete: 'disabled' %>
                    </div>
                    <div class = "mb-3 col-12">
                      <%= label_tag "project_id", I18n.t("mongoid.models.project.one"), class: "control-label float-left" %>
                      <%= select_tag "project_id", options_for_select(Project.where(Project.user_based_scope(current_user)).map{|pr| [pr.name, pr.id]}), prompt: 'Select', class: "selectize" %>
                    </div>
                    <div class = "mb-3 col-12">
                      <%= label_tag "channel_partner_id", ChannelPartner.model_name.human, class: "control-label float-left" %>
                      <%= select_tag "channel_partner_id", options_for_select(ChannelPartner.active.where(ChannelPartner.user_based_scope(current_user)).map{|cp| [cp.company_name, cp.id]}, cp_id), prompt: 'Select', class: "selectize" %>
                    </div>
                    <div class="mb-3 col-12">
                      <%= label_tag "fltrs", I18n.t("global.link_to.active_walkins"), class: "control-label float-left" %>
                      <%= select_tag "active_walkins", options_for_select([[t('global.boolean.true'), true], [t('global.boolean.false'), false]], (params[:active_walkins].present? ? params[:active_walkins] : "")), { prompt: 'Select', class: "selectize" } %>
                    </div>
                    <div class="mb-3 col-12">
                      <%= label_tag "fltrs", I18n.t("global.link_to.active_bookings"), class: "control-label float-left" %>
                      <%= select_tag "active_bookings", options_for_select([[t('global.boolean.true'), true], [t('global.boolean.false'), false]], (params[:active_bookings].present? ? params[:active_bookings] : "")), { prompt: 'Select', class: "selectize" } %>
                    </div>
                  </div>
                </div>
                <div class="filter-footer  modal-footer text-end">
                  <%= submit_tag :Apply, class: "f-save-btn btn btn-primary fn-500 float-end" %>
                  <button type="button" class="f-cancel-btn btn btn-secondary fn-500 float-end">Cancel</button>
                </div>
              <% end %>
            </div>
        </div>
      </div>
      <div class="row" id = "site_visit_partner_wise_report"></div>
    </div>
  </div>
</section>

<section class="user-db-sec-6 device-pd <%= current_user.role?('cp') ? 'mb-5 pb-5' : '' %>">
  <div class="px-4">
    <div class='box-card'>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
          <div class="table-title pt-4">
            <h1 class="title fn-18"><%= t('dashboard.cp_admin.site_visit_project_wise.heading') %></h1>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
          <div class="table-btn-set float-end pt-3">
            <button class="db-filter-btn fn-500 filter-popup border-0" type="button">
              <i class="fa fa-filter fill-theme"></i>
            </button>
          </div>
          <div class="table-btn-set float-end pt-3">
            <button class="select-btn fn-400 dropdown-toggle  px-3 border rounded py-2" href="javascript:;" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= link_to t("dashboard.exports.link_name", type: nil) %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to link_to t("dashboard.exports.link_name", type: t('global.all')), site_visit_project_wise_admin_users_path(format: "xls"), class: 'dropdown-item' %>
              <%= link_to t('dashboard.exports.link_name', type: t('global.active_filter')), site_visit_project_wise_admin_users_path(format: "xls", channel_partner_id: params["channel_partner_id"], dates: params["dates"], project_ids: params["project_ids"], manager_id: params["manager_id"]), class: 'dropdown-item', id: 'site-visit-project_wise-af-export' %>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="filter-box modal-content px-3 fixed-header-footer">
              <div class="filter-header modal-header">
                <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
                <a href="javascript:;" class="close-filter-btn btn-close"></a>
              </div>
              <%= form_tag site_visit_project_wise_admin_users_path, method: "get", remote: true, id: "site_visit_project_wise_form", class: 'filter-form-modal' do %>
                <div class="filter-content  modal-body ps-0 pe-0 theme-form">
                  <div class="row">
                    <div class="mb-3 col-12">
                      <%= label_tag "dates", I18n.t("global.dates"), class: "control-label float-left" %>
                      <%= text_field_tag :dates, "", class: 'form-control daterangefilter', "data-start-date": start_date || '', "data-end-date": end_date || '', "data-opens": 'right', placeholder: 'dd/mm/yyyy - dd/mm/yyyy', id: "dates", auto: false, autocomplete: 'disabled' %>
                    </div>
                    <div class = "mb-3 col-12">
                      <%= label_tag "channel_partner_id", ChannelPartner.model_name.human, required: true, class: "control-label float-left" %>
                      <%= select_tag "channel_partner_id", options_for_select(ChannelPartner.active.where(ChannelPartner.user_based_scope(current_user)).map{|cp| [cp.company_name, cp.id]}), prompt: 'Select', class: "selectize" %>
                    </div>
                    <div class = "mb-3 col-12">
                      <%= label_tag "manager_id", I18n.t("mongoid.attributes.user.manager_id"), class: "control-label float-left" %>
                      <%= select_tag "manager_id", options_for_select(User.where(User.role_based_channel_partners_scope(current_user)).map{|u| [u.email, u.id]}), prompt: 'Select', class: "selectize" %>
                    </div>
                    <div class="mb-3 col-12">
                      <%= label_tag :project_ids, I18n.t("mongoid.models.project.other"), class: "control-label float-left" %>
                      <%= select_tag :project_ids, options_for_select(Project.filter_by_is_active(true).where(Project.user_based_scope(current_user)).collect{|x| [x.name, x.id]}.sort{|x, y| x[0] <=> y[0]}), {prompt:  I18n.t("global.select"), class: "selectize", multiple: true} %>
                    </div>
                  </div>
                </div>
                <div class="filter-footer  modal-footer text-end">
                  <%= submit_tag :Apply, class: "f-save-btn btn btn-primary fn-500 float-end" %>
                  <button type="button" class="f-cancel-btn btn btn-secondary fn-500 float-end">Cancel</button>
                </div>
              <% end %>
            </div>
        </div>
      </div>
      <div class="row" id = "site_visit_project_wise"></div>
    </div>
  </div>
</section>


  <%= javascript_tag do %>
    $(document).ready(function(){
      FormInitializer.init($("#partner_wise_performance_form"));
      FormInitializer.init($("#channel_partner_performance_form"));
      FormInitializer.init($("#dashboard_count_filter"));
      FormInitializer.init($("#invoice_summary_filter"));
      FormInitializer.init($("#cp_performance_form"));
      FormInitializer.init($("#cp_status_form"));
      FormInitializer.init($("#site_visit_project_wise_form"));
      FormInitializer.init($("#site_visit_partner_wise_form"));

      let date = "<%= @dates %>";
      $.ajax({
        url: "<%= partner_wise_performance_admin_users_path %>",
        data: { channel_partner_id: "<%= cp_id.to_s %>" },
        type: "get",
      });
      $.ajax({
        url: "<%= channel_partner_performance_admin_users_path %>",
        type: "get",
      });
      $.ajax({
        url: "<%= site_visit_project_wise_admin_users_path %>",
        type: "get",
      });
      $.ajax({
        url: "<%= cp_variable_incentive_scheme_report_path %>",
        type: "get",
      });
      $.ajax({
        url: "/dashboard/dashboard_counts",
        type: "get"
      });
      //$.ajax({
      //  url: "/dashboard/invoice_summary",
      //  type: "get"
      //});
      <% if (["cp_admin","admin","superadmin"].include?current_user.role) %>
        $.ajax({
          url: "/dashboard/cp_status",
          type: "get"
        });
        $.ajax({
          url: "/dashboard/cp_performance",
          type: "get"
        });
      <% end %>
      $.ajax({
        url: "<%= site_visit_partner_wise_admin_users_path %>",
        data: { channel_partner_id: "<%= cp_id.to_s %>" },
        type: "get",
      });
      $(document).on("ajax:success", '.filter-form-modal', function(event, two, three){
        if($(event.currentTarget).data('remote')) {
          $(event.currentTarget).parents('.box-card').find('.filter-box').toggle('slide', {direction: "right" }, 'slow');
        }
      });
    });
  <% end %>
<% end %>
