<% project_ids = (params[:current_project_id].present? ? [params[:current_project_id]] : user.project_ids) %>
<div class="px-4 mb-4 admin-dashboard">
  <div class="row">
    <div class="col-lg-<%= current_user.role.in?(%w(admin superadmin)) ? '2' : '4' %> col-xs-6 col-md-4 col-sm-4 mb-3">
      <div class="box-card shadow rounded">
        <div class="box-header bg-theme br-rd-tr-4 rounded-top px-2  position-relative">
          <h4 class="white pre text-center fn-18 mb-0  position-absolute top-50 start-50 translate-middle wd-100"><%= SiteVisit.model_name.human(count: 3) %></h4>
        </div>
        <div class="box-content br-rd-bl-4 bg-white py-3 text-center rounded-bottom">
          <span class = 'fn-18 font-medium'><%= DashboardData::AdminDataProvider.site_visits_count(current_user) %></span>
        </div>
      </div>
    </div>
    <div class="col-lg-<%= current_user.role.in?(%w(admin superadmin)) ? '2' : '4' %> col-xs-6 col-md-4 col-sm-4 mb-3">
      <div class="box-card shadow rounded">
        <div class="box-header bg-theme br-rd-tr-4 rounded-top position-relative">
          <h4 class="white pre text-center fn-18 mb-0 position-absolute top-50 start-50 translate-middle"><%= BookingDetail.model_name.human(count: 3) %></h4>
        </div>
        <div class="box-content br-rd-bl-4 bg-white py-3 text-center rounded-bottom">
          <span class="fn-18 font-medium"> <%= DashboardData::AdminDataProvider.bookings_count(current_user) %> </span>
        </div>
      </div>
    </div>
    <% if current_client.enable_channel_partners? %>
      <div class="col-lg-<%= current_user.role.in?(%w(admin superadmin)) ? '2' : '4' %> col-xs-6 col-md-4 col-sm-4 mb-3">
        <div class="box-card shadow rounded">
          <div class="box-header bg-theme br-rd-tr-4 rounded-top  position-relative">
            <h4 class="white pre text-center fn-18 mb-0 position-absolute top-50 start-50 translate-middle wd-100"><%= t('mongoid.attributes.user/role.channel_partner').try(:pluralize) %></h4>
          </div>
          <div class="box-content br-rd-bl-4 bg-white py-3 text-center rounded-bottom">
            <span class = 'fn-18 font-medium'><%= DashboardData::AdminDataProvider.channel_partner_count(current_user, project_ids) %></span>
          </div>
        </div>
      </div>
    <% end %>
    <% if current_user.role.in?(%w(admin superadmin)) %>
      <div class="col-lg-<%= current_user.role.in?(%w(admin superadmin)) ? '2' : '4' %> col-xs-6 col-md-4 col-sm-4 mb-3">
        <div class="box-card shadow rounded">
          <div class="box-header bg-theme br-rd-tr-4 rounded-top position-relative">
            <h4 class="white pre text-center fn-18 mb-0 position-absolute top-50 start-50 translate-middle"><%= ProjectUnit.model_name.human(count: 3) %></h4>
          </div>
          <div class="box-content br-rd-bl-4 bg-white py-3 text-center rounded-bottom">
            <span class = 'fn-18 font-medium'><%= DashboardData::AdminDataProvider.sold_project_units_count(current_user) %> / <%= DashboardData::AdminDataProvider.all_project_units_count(current_user) %></span>
          </div>
        </div>
      </div>
      <div class="col-lg-<%= current_user.role.in?(%w(admin superadmin)) ? '2' : '4' %> col-xs-6 col-md-4 col-sm-4 mb-3">
        <div class="box-card shadow rounded">
          <div class="box-header bg-theme br-rd-tr-4 rounded-top position-relative">
            <h4 class="white pre text-center fn-18 mb-0 position-absolute top-50 start-50 translate-middle wd-100"><%= UserRequest.model_name.human(count: 3) %></h4>
          </div>
          <div class="box-content br-rd-bl-4 bg-white py-3 text-center rounded-bottom">
            <span class = 'fn-18 font-medium'><%= DashboardData::AdminDataProvider.open_user_requests(current_user) %></span>
          </div>
        </div>
      </div>
      <div class="col-lg-<%= current_user.role.in?(%w(admin superadmin)) ? '2' : '4' %> col-xs-6 col-md-4 col-sm-4 mb-3">
        <div class="box-card shadow rounded">
          <div class="box-header bg-theme br-rd-tr-4 rounded-top position-relative">
            <h4 class="white pre text-center fn-18 mb-0 position-absolute top-50 start-50 translate-middle"><%= Scheme.model_name.human(count: 3) %></h4>
          </div>
          <div class="box-content br-rd-bl-4 bg-white py-3 text-center rounded-bottom">
            <span class = 'fn-18 font-medium'><%= DashboardData::AdminDataProvider.active_schemes(current_user) %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'dashboard/index/partials/booking_detail_data' %>
<!-- <div class="container mb-5 pb-5 admin-dashboard-charts">
  <div class="row mb-3">
    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 mb-3">
      <div class="box-card">
        <div class="box-header bg-primary br-rd-tr-4">
          <div class = "row">
            <div class = "col-6">
              <h4 class="white pre text-center float-left lh-2"><%#= Receipt.model_name.human(count: 3) %></h4>
            </div>
            <div class = "col-lg-6 col-xs-12 col-md-6 col-sm-12">
              <div class="table-btn-set float-right">
                <button class="db-filter-btn white fn-500 float-right payment_mode_chart_filter" type="button">
                  <i class="icon-set icon-filter-light-blue"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="box-content br-rd-bl-4 bg-white py-3 text-center relative">
          <div id = "receipt_barchart" class = "charts">
            <p> Loading .. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12">
      <div class="box-card">
        <div class="box-header bg-primary br-rd-tr-4">
          <div class = "row">
            <div class = "col-6">
              <h4 class="white pre text-center float-left lh-2"><%#= t('controller.dashboard.receipt_frequency') %></h4>
            </div>
            <div class = "col-lg-6 col-xs-12 col-md-6 col-sm-12 pb-3">
              <div class="table-btn-set float-right pb-3">
                <button class="db-filter-btn white fn-500 float-right frequency_chart_filter" type="button">
                  <i class="icon-set icon-filter-light-blue"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="box-content br-rd-bl-4 bg-white py-3 text-center relative">
          <div id = "receipt_linechart" class = "charts">
            <p> Loading .. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 mb-3">
      <div class="box-card">
        <div class="box-header bg-primary br-rd-tr-4">
          <div class = "row">
            <div class = "col-6">
              <h4 class="white pre text-center float-left lh-2"><%#= ProjectUnit.model_name.human(count: 3) %></h4>
            </div>
          </div>
        </div>
        <div class="box-content br-rd-bl-4 bg-white py-3 text-center">
          <div id="project_unit_barchart" >
            <p> Loading .. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12">
      <div class="box-card">
        <div class="box-header bg-primary br-rd-tr-4">
          <div class = "row">
            <div class = "col-6">
              <h4 class="white pre text-center float-left lh-2"><%#= BookingDetail.model_name.human(count: 3) %></h4>
            </div>
            <div class = "col-lg-6 col-xs-12 col-md-6 col-sm-12">
              <div class="table-btn-set float-right">
                <button class="db-filter-btn white fn-500 float-right status_chart_filter" type="button">
                  <i class="icon-set icon-filter-light-blue"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="box-content br-rd-bl-4 bg-white py-3 text-center relative">
          <div id="booking_detail_barchart" class = "charts">
            <p> Loading .. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 mb-3">
      <div class="box-card">
        <div class="box-header bg-primary br-rd-tr-4">
          <div class = "row">
            <div class = "col-6">
              <h4 class="white pre text-center float-left lh-2"><%#= Receipt.model_name.human(count: 3) %></h4>
            </div>
            <div class = "col-lg-6 col-xs-12 col-md-6 col-sm-12">
              <div class="table-btn-set float-right">
                <button class="db-filter-btn white fn-500 float-right" type="button">
                  <i class="icon-set icon-filter-light-blue"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="box-content br-rd-bl-4 bg-white py-3 text-center relative">
          <div id = "receipt_piechart">
            <p> Loading .. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12">
      <div class="box-card">
        <div class="box-header bg-primary br-rd-tr-4">
          <div class = "row">
            <div class = "col-6">
              <h4 class="white pre text-center float-left lh-2"><%= User.human_attribute_name("role.user") %></h4>
            </div>
          </div>
        </div>
        <div class="box-content br-rd-bl-4 bg-white py-3 text-center">
          <div id = "user_dashboard_barchart">
            <p> Loading .. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 pb-2">
      <div class="table-title pt-1">
        <h1 class="title icon-set icon-building-black">
           Inventory Snapshot
        </h1>
      </div>
    </div>
    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
      <div class="box-card relative table-responsive" id = "dashboard_inventory_snapshot">
        <p class="text-center"> Loading .. </p>
      </div>
    </div>
  </div>
</div> -->

<%#= javascript_tag do %>
  <!-- $(document).ready(function(){
    $.ajax({
      url: "<%= inventory_snapshot_admin_project_units_path %>",
      type: "get",
    });
    $.ajax({
      url: "<%= payment_mode_chart_admin_receipts_path %>",
      type: "get",
    });
    $.ajax({
      url: "<%= status_chart_admin_receipts_path %>",
      type: "get",
    });
    $.ajax({
      url: "<%= frequency_chart_admin_receipts_path %>",
      type: "get",
    });
    $.ajax({
      url: "<%= unit_configuration_chart_admin_project_units_path %>",
      type: "get",
    });
    $.ajax({
      url: "<%= status_chart_admin_booking_details_path %>",
      type: "get",
    });
    $.ajax({
      url: "<%= portal_stage_chart_admin_users_path %>",
      type: "get",
    });
    $('.db-filter-btn').click(function(e){
      e.preventDefault();
    });
  }); -->
<% #end %>
