<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <% if current_user.project_units.size < 1 %>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center font-weight-bold text-uppercase">
            Launching <%= current_project.name %>
          </h3>
          <h6 class="card-subtitle text-muted text-center">
            Apartments Starting from <%= number_to_indian_currency(0) %>
          </h6>
          <div class="mt-3"></div>
          <hr/>
          <div class="text-center">
            Placeholder content
            Skip the rush and get priority access by paying just <%= number_to_indian_currency(current_client.blocking_amount) %>.
          </div>
          <hr/>
          <div class="mt-3"></div>
          <div class="form-group text-center">
            <% if current_user.buyer? && policy(Receipt.new(user: current_user)).direct? %>
              <%= link_to "Pay Now & Generate Token", direct_user_receipts_path, class: 'btn btn-primary modal-remote-form-link' %>
            <% elsif !current_user.kyc_ready? && UserKycPolicy.new(current_user, UserKyc.new(user: current_user)).new? && current_user.buyer? %>
              <%= link_to "Add #{global_labels['user_kyc']} & Make Payment", new_user_kyc_path, class: 'btn btn-primary modal-remote-form-link' %>
            <% elsif current_user.buyer? && ProjectUnitPolicy.new(current_user, ProjectUnit.new(user: current_user, status: "available")).hold? %>
              <%= active_link_to "Search & Book your Apartment Now", new_search_path, active: :inclusive, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
      <% else %>
        <% if ProjectUnitPolicy.new(current_user, ProjectUnit.new(user: current_user, status: "available")).hold? %>
          <div class="card">
            <div class="card-body text-center">
            <a class="btn btn-primary" href="<%= new_search_path %>">Apartment Selector</a>
            </div>
          </div>
        <% end %>
        <% if current_user.kyc_ready? && current_user.buyer? %>
          <% hold_unit = current_user.project_units.where(status: 'hold').first %>
          <% if hold_unit.present? %>
            <div class="card">
              <div class="card-body text-center">
                We have kept a unit on hold for you; to proceed with booking it, click <a href="<%= checkout_user_search_path(current_user.get_search(hold_unit.id)) %>">
                  here
                </a>
              </div>
            </div>
          <% end %>
        <% end %>
        <% if current_user.kyc_ready? && current_user.project_units.in(status: ['blocked', 'booked_tentative', 'booked_confirmed']).count >= current_user.allowed_bookings %>
          <div class="card">
            <div class="card-body text-center">
              You cannot book any more apartments as you have reached the maximum bookings allowed per customer.
            </div>
          </div>
        <% end %>
        <div class="mt-3"></div>
        <% current_user.project_units.where(status: 'hold').each do |project_unit| %>
          <%= render 'dashboard/project_unit_overview', {project_unit: project_unit, with_actions: true} %>
          <div class="mt-3"></div>
        <% end %>
        <% current_user.project_units.ne(status: 'hold').each do |project_unit| %>
          <%= render 'dashboard/project_unit_overview', {project_unit: project_unit, with_actions: true} %>
          <div class="mt-3"></div>
        <% end %>
        <% if ProjectUnitPolicy.new(current_user, ProjectUnit.new(user: current_user, status: "available")).hold? %>
          <a class="btn btn-primary" href="<%= new_search_path %>">Book Another Home</a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
