<%= render 'users/welcome' %>
<!-- Projects -->
<%= render 'project_units/section' %>
<!-- My Projects -->
<div class="separate-line container"></div>
<%= render 'users/my_projects' %>
<!-- Receipts -->
<div class="separate-line container"></div>
<div class="pl-2">
  <%= render 'receipts/section', receipts: @receipts %>
</div>
<div class="separate-line container"></div>
<% if true #policy([:buyer, TimeSlot]).index? %>
  <%= render 'users/time_slots' %>
<% end %>
<div class="separate-line container"></div>
<section class="user-db-sec-5 device-pd pb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pd">
        <div class="row">
		  <%= render 'dashboard/index/partials/collaterals' %>
		</div>
	  </div>
    </div>
  </div>
</section>
<div class="separate-line container mb-5"></div>
