<%= render 'users/welcome' %>
<!-- Projects -->
<%= render 'project_units/section' %>
<!-- My Projects -->
<div class="separate-line container"></div>
<%= render 'users/my_projects' %>
<!-- Receipts -->
<div class="separate-line container"></div>
<div class="pl-2">
  <%= render 'receipts/section', receipts: @receipts %>
</div>
<div class="separate-line container"></div>
<% if true #policy([:buyer, TimeSlot]).index? %>
  <%= render 'users/time_slots' %>
<% end %>
<div class="separate-line container mb-5"></div>
