<%= render 'users/welcome' %>
<!-- Projects -->
<%= render 'project_units/section' %>
<!-- My Projects -->
<%= render 'users/my_projects' %>
<!-- Receipts -->
<%= render 'receipts/section', receipts: @receipts %>

<% if policy([:buyer, TimeSlot]).index? %>
  <%= render 'users/time_slots' %>
<% end %>
<section class="projects-list device-pd mb-5">
  <div class="container">
    <div class="row">
      <div class="separate-line"></div>
    </div>
  </div>
</section>