<div class="mb-5 mt-3">
  <div class="px-4">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <section class="bookings my-4 mb-4">
        <div class="container p-0">
          <div class="box-card">
            <div class="box-header bg-gradient br-rd-tr-4">
              <h2 class="icon-set icon-users-white"><%= t('controller.leads.show.header') %></h2>
              <div class="dropdown text-center float-right">
                <a class="btn dropdown-toggle table-dropdown-btn white-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <%= render "#{current_user_role_group}/lead_managers/links", lead_manager: @lead_manager %>
                </div>
              </div>
            </div>
            <%= render 'admin/leads/overview', lead: @lead_manager.lead, lead_manager: @lead_manager %>
          </div>
        </div>
      </section>

      <!-- notes -->
      <div class="separate-line container"></div>
      <div class='lead_notes_section'>
        <%= render 'admin/leads/notes', lead: @lead_manager.lead, notes: @notes %>
      </div>

      <!-- Note Summary -->
      <div class="separate-line container"></div>
      <%= render 'notes/section', notable: @lead_manager.lead %>

      <div class="separate-line container"></div>
      <%
        matcher = {}
        matcher = { user_id: current_user.id } if current_user.role?(:channel_partner)
      %>
      <%= render 'admin/leads/lead_managers', lead_managers: @lead_manager.lead.lead_managers.where(matcher).paginate(page: 1) %>
    </div>
  </div>
</div>
</div>
