<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-title pt-1">
          <h1 class="title">
            <i class=""></i>
            <%= @referrals.total_entries%>
            <%= User.model_name.human(count: @referrals.total_entries ) %>
          </h1>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="row">
          <div class="offset-4 col-5 row">
            <h6 class="float-left col-6"><%= t('mongoid.attributes.user.referral_code') %></h6>
            <%= get_referral_code %>
          </div>
          <div class="col-3">
            <span class="invite-friend-link"><%= invite_friend_link %></span>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <%= render 'admin/users/index', users: @referrals %>
        </div>
      </div>
    </div>
  </div>
</section>