<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <span class="invite-friend-link"><%= invite_friend_link %></span>
            </div>
            <div class="col-4 text-right">
              <%= "#{t('global.total')} #{t('referrals.name')}" %>: <%= @referrals.total_entries %>
            </div>
          </div>
          <div class="mb-3 mt-3">
            <label><%= t('referrals.code') %></label>
            <br/>
            <%= get_referral_code %>
          </div>
          <div class="row mt-2">
            <%= render "buyer/users/index", users: @referrals %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>