<div class="filter-inner modal-content ps-2 pe-2 fixed-header-footer">
  <div class="modal-header filter-header">
    <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
    <a href="javascript:;" class="close-filter-btn btn-close"></a>
  </div>
  <%= form_tag custom_inventory_path, method: "get", id: "custom_inventory_form", class: "form-inline" do %>
  <div class="filter-content modal-body ps-0 pe-0">
    <div class="row">
      <div class="mb-3 col-lg-6 col-xs-12 col-md-6 col-sm-12">
        <%= label_tag "project_tower_id", "Project Tower", class: "control-label sr-only" %>
        <%= select_tag "project_tower_id", options_for_select(@project_towers.all.collect{|x| ["#{x.project.name} - #{x.name}", x.id]}.sort{|x, y| x[0] <=> y[0]}, params[:project_tower_id]), {prompt:  I18n.t("controller.searches.filter.header"), class: "selectize"} %>
      </div>
    </div>
  </div>
  <div class="filter-footer modal-footer text-end">
    <%= submit_tag I18n.t("global.apply"), class: "btn btn-primary f-save-btn db-small-btn bg-light-blue fn-500 float-end" %>
    <button type="button" class="btn btn-secondary f-cancel-btn float-end"><%= I18n.t("global.cancel") %></button>
  </div>
  <% end %>
</div>
<%= javascript_tag do %>
$(document).ready(function(){
FormInitializer.init($("#custom_inventory_form"));
});
<% end %>