<section class="mb-5 mt-3">
  <div class="px-4">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="table-btn-set float-end pb-3 text-end">
          <div class="filter-popup">
            <a class="db-filter-btn fn-500" href="javascript:;">
              <i class="fa fa-filter fill-theme"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative bg-white rounded">
          <div id="project-tower-carousel" class="carousel slide w-100" data-ride="carousel" data-bs-interval="false" data-bs-touch="true">
            <div class="carousel-indicators">
            <% @project_towers.each_with_index do |project_tower, index| %>
              <button type="button" data-bs-target="#project-tower-carousel" data-bs-slide-to="<%= index %>" class="<%= index==0 ? 'active': '' %>" aria-current="true" aria-label="Slide <%= index %>"></button>
              <% end %>
            </div>
            <div class="carousel-inner pb-5 mb-3">
              <% @project_towers.each_with_index do |project_tower, index| %>
              <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                <% project_units = project_tower.project_units %>
                <% units = project_units.sort_by{|x| [x.floor, x.floor_order]}.to_a %>
                <div class="col-md-6" id="unit-selection-<%= project_tower.id.to_s%>" style="margin: auto;">
                  <div class="left-info pl-5 pr-5 pt-0 pb-4 book-apartment">
                    <% if units.present? %>
                    <% max_floor = project_units.max(:floor) %>
                    <% max_per_floor = project_units.max(:floor_order) %>
                    <% width = ((100.to_f - (4 * max_per_floor)) / max_per_floor).round(2) %>
                    <%
                  height = (280.to_f / max_floor).round(2)
                  height = 16 if height < 16
                  %>
                    <div class="form-sec-title p-1 text-center">
                      <%= "#{project_tower.project.name} - #{project_tower.name}" %></div>
                    <ul class="book-box-info mb-2">
                      <li><span class="book-box available-aprt"></span><span>Available</span></li>
                      <li><span class="book-box booked-aprt"></span><span>Hold</span></li>
                      <li><span class="book-box soldout-aprt"></span><span>Sold Out</span></li>
                      <li><span class="book-box bg-danger"></span><span>Not Available</span></li>
                      <li><span>R</span><span>Refugee Area</span></li>
                    </ul>
                    <div class="booking-list">
                      <div class="apartments-no">
                        <ul class="aprt-no-list">
                          <% max_per_floor.times do |index| %>
                          <li><span class="book-box"><%= index + 1 %></span></li>
                          <% end %>
                        </ul>
                        <div class="separate-box"></div>
                        <div class="floor-listing">
                          <div class="floor-inner">
                            <% (1..max_floor).to_a.reverse.each do |floor_data| %>
                            <div class="floor">
                              <div class="floor-number"><%= floor_data %></div>
                              <% max_per_floor.times do |index| %>
                              <%
                                  klass = 'bg-white'
                                  data_selector = ''
                                  unit = units.find{|unit| unit.floor == floor_data && unit.floor_order == (index + 1) }
                                  if unit
                                    if unit.status == 'available'
                                      klass = 'available-aprt'
                                      data_selector = 'unit-card'
                                    elsif unit.status == 'hold'
                                      klass = 'booked-aprt'
                                    elsif ['blocked', 'booked_tentative', 'booked_confirmed','not_available'].include?(unit.status)
                                      klass = 'soldout-aprt'
                                    else
                                      klass = 'bg-danger'
                                    end
                                  end
                                %>
                              <% if unit.present? %>
                              <span data-jquery-selector="<%= data_selector %>" data-toggle="popover"
                                data-content="<%= unit_tooltip(unit) %>" data-title="Details for <%= unit.name %>"
                                data-unit-id="<%= unit.present? ? unit.id : '' %>" class="book-box <%= klass %>"></span>
                              <% else %>
                              <span data-jquery-selector="<%= data_selector %>" class="book-box <%= klass %>">R</span>
                              <% end %>
                              <% end %>
                            </div>
                            <% end %>
                          </div>
                        </div>
                        <div class="separate-box"></div>
                      </div>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#project-tower-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#project-tower-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="filter-box">
            <%= render "filters" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= javascript_tag do %>
$(document).ready(function(){
setTimeout(function(){ location.reload(); }, 60000);
});
<% end %>