<table class='table my-customer-table table-responsive table-color'>
  <thead class="th-default">
    <thead>
      <tr class="bg-primary white">
        <th><%= t('mongoid.attributes.interested_project.project_id') %></th>
        <th><%= t('mongoid.attributes.interested_project.status') %></th>
        <th class="btn-action">Action</th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% interested_projects.each do |ip| %>
    <tr>
      <td data-title="<%= t('mongoid.attributes.interested_project.project_id') %>">
        <span><%= ip.project.name %></span>
      </td>
      <td data-title="<%= t('mongoid.attributes.interested_project.status') %>">
        <span><%= t("mongoid.attributes.interested_project/status.#{ip.status}") %></span></td>
      <td>
        <div class="dropdown d-inline-block">
          <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-ellipsis-v txt-light-blue" aria-hidden="true"></i></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <% if policy([:admin, ip]).edit? %>
            <%= link_to t('controller.interested_projects.edit.link_name'), edit_admin_user_interested_project_path(ip.user, ip), class: "dropdown-item modal-remote-form-link" %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if interested_projects.is_a?(WillPaginate::Collection) %>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pt-2">
  <%= will_paginate interested_projects, list_classes: %w(pagination justify-content-center) %>
</div>
<% end %>