<%= simple_form_for([:admin, @user, @interested_project], local: true, remote: true, html: { novalidate: false, class: 'modal-remote-form validate-form', data: { 'resource-type': InterestedProject.model_name.human, type: :json }, id: 'interested_project_form' } ) do |f| %>
  <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="title">
            <%= t("helpers.#{action_name}.link_name", model: InterestedProject.model_name.human) %>
            </h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body theme-form">
          <div class="mb-3">
            <%= f.label :status, class: 'control-label' %>
            <% statuses = available_statuses(@interested_project) %>
            <%= f.select :event, options_for_select(statuses.collect{|rec| [rec.to_s.titleize, rec.to_s]}, @interested_project.status), {prompt: t("mongoid.attributes.interested_project/status.#{@interested_project.status}")}, class: 'selectize', required: 'required', disabled: !policy([current_user_role_group, @interested_project]).editable_field?("event") %>
          </div>
        </div>
        <div class="modal-footer text-end">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#interested_project_form"));
});
<% end %>
