<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :name, class: 'label-required' %>
      <%= f.text_field :name, class: 'form-control', autofocus: true, required: 'required', disabled: !policy([:admin, @project]).editable_field?("name") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :registration_name, class: '' %>
      <%= f.text_field :registration_name, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("registration_name") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :rera_registration_no, class: 'label-required' %>
      <%= f.text_field :rera_registration_no, class: 'form-control', required: 'required', disabled: !policy([:admin, @project]).editable_field?("rera_registration_no") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :cin_number, class: '' %>
      <%= f.text_field :cin_number, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("cin_number") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :email_domains, class: '' %>
      <%= f.select :email_domains, @project.email_domains, {}, class: 'selectize-tags domain', multiple: true, disabled: !policy([:admin, @project]).editable_field?("email_domains") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :website_link, class: '' %>
      <%= f.url_field :website_link, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("website_link") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :disclaimer %>
      <%= f.text_area :disclaimer, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("disclaimer") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :cp_disclaimer %>
      <%= f.text_area :cp_disclaimer, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("cp_disclaimer") %>
    </div>
  </div>
</div>
