<div class="row">
  <div class="col-md-12">
    <div class="form-group text-end">
      <div class="form-check form-check-inline">
        <%= f.label :hot, class: "form-check-label d-inline-block ms-2" %>
        <%= f.check_box :hot, {:class => "form-check-input wd-22", :disabled => !policy([:admin, @project]).editable_field?("hot") }, "Yes", "No" %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :name, class: 'label-required' %>
      <%= f.text_field :name, class: 'form-control', autofocus: true, required: 'required', disabled: !policy([:admin, project]).editable_field?("name") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :developer_name, class: 'label-required' %>
      <%= f.text_field :developer_name, class: 'form-control', autofocus: true, required: 'required', disabled: !policy([:admin, project]).editable_field?("developer_name") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :project_type, class: 'label-required' %>
      <%= f.select :project_type, Project::PROJECT_TYPES.collect{|x| [x.titleize, x]}.sort{|x, y| x[0] <=> y[0]}, {prompt: 'Select'}, class: "selectize", multiple: true, required: true, disabled: (policy([current_user_role_group, project]).editable_field?("project_type") ? false : true) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :category, class: 'label-required' %>
      <%= f.select :category, Project::CATEGORIES.collect{|x| [x.titleize, x]}.sort{|x, y| x[0] <=> y[0]}, {prompt: 'Select'}, class: "selectize", multiple: true, required: true, disabled: (policy([current_user_role_group, project]).editable_field?("category") ? false : true) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :project_segment, class: 'label-required' %>
      <%= f.select :project_segment, Project::SEGMENTS.collect{|x| [x.titleize, x]}.sort{|x, y| x[0] <=> y[0]}, {prompt: 'Select'}, class: "selectize", multiple: true, required: true, disabled: (policy([current_user_role_group, project]).editable_field?("project_segment") ? false : true) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :micro_market, class: 'label-required' %>
      <%= f.text_field :micro_market, class: 'form-control', required: true, disabled: !policy([:admin, project]).editable_field?("micro_market") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :city, class: 'label-required' %>
      <%= f.text_field :city, class: 'form-control', required: true, disabled: !policy([:admin, project]).editable_field?("city") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :possession, class: 'label-required' %>
      <%= f.text_field :possession, class: 'form-control datepicker', required: true, disabled: !policy([:admin, project]).editable_field?("possession"), value: f.object.possession.present? ? f.object.possession.strftime("%d/%m/%Y") : nil %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :launched_on, class: '' %>
      <%= f.text_field :launched_on, class: 'form-control datepicker', disabled: !policy([:admin, project]).editable_field?("launched_on"), value: f.object.launched_on.present? ? f.object.launched_on.strftime("%d/%m/%Y") : nil %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :registration_name, class: 'label-required' %>
      <%= f.text_field :registration_name, class: 'form-control', required: true, disabled: !policy([:admin, project]).editable_field?("registration_name") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :rera_registration_no, class: 'label-required' %>
      <%= f.text_field :rera_registration_no, class: 'form-control', required: 'required', disabled: !policy([:admin, project]).editable_field?("rera_registration_no") %>
    </div>
  </div>
  <div class="col-md-6">
    <% if policy([:admin, project]).editable_field?("is_active") %>
    <div class="mb-3">
      <%= f.label :is_active, class: 'mb-2' %>
      <div class="form-check form-check-inline">
        <%= f.radio_button :is_active, true, class: "form-check-input wd-22" %>
        <%= f.label :is_active, "Yes", class: "form-check-label d-inline-block ms-2" %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :is_active, false, class: "form-check-input wd-22" %>
        <%= f.label :is_active, "No", class: "form-check-label d-inline-block ms-2" %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :website_link, class: 'label-required' %>
      <%= f.url_field :website_link, required: true, class: 'form-control', disabled: !policy([:admin, project]).editable_field?("website_link") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :configurations, class: 'label-required' %>
      <%= f.select :configurations, Project::DEFAULT_CONFIGURATIONS.collect{|x| [x, x]}.sort{|x, y| x[0] <=> y[0]}, {}, class: 'selectize-tags', multiple: true, disabled: !policy([:admin, project]).editable_field?("configurations"), required: true %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :project_size, class: 'label-required' %>
      <%= f.number_field :project_size, class: 'form-control', required: true, disabled: !policy([:admin, project]).editable_field?("project_size") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :total_buildings, class: 'label-required' %>
      <%= f.number_field :total_buildings, required: true, class: 'form-control', disabled: !policy([:admin, project]).editable_field?("total_buildings"), min: 1 %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :total_units, class: 'label-required' %>
      <%= f.number_field :total_units, class: 'form-control', required: true, disabled: !policy([:admin, project]).editable_field?("total_units"), min: 1 %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :amenities, class: 'label-required' %>
      <%= f.select :amenities, Project::DEFAULT_AMENITIES.collect{|x| [x.titleize, x]}.sort{|x, y| x[0] <=> y[0]}, {}, required: true, class: 'selectize-tags', multiple: true, disabled: !policy([:admin, project]).editable_field?("amenities") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :approved_banks, class: 'label-required' %>
      <%= f.select :approved_banks, Project::ALLOWED_BANKS.collect{|x| [t("mongoid.attributes.project.approved_banks/list.#{x}"), x]}.sort{|x, y| x[0] <=> y[0]}, {prompt: 'Select'}, class: "selectize", multiple: true, required: true, disabled: (policy([current_user_role_group, project]).editable_field?("approved_banks") ? false : true) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :email_domains, class: '' %>
      <%= f.select :email_domains, project.email_domains, {}, class: 'selectize-tags domain', multiple: true, disabled: !policy([:admin, project]).editable_field?("email_domains") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :gst_number, class: '' %>
      <%= f.text_field :gst_number, class: 'form-control', disabled: !policy([:admin, project]).editable_field?("gst_number") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :cin_number, class: '' %>
      <%= f.text_field :cin_number, class: 'form-control', disabled: !policy([:admin, project]).editable_field?("cin_number") %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="mb-3">
      <%= f.label :usp %>
      <%= f.select :usp, project.usp.presence || [], {}, class: 'selectize-tags', multiple: true, disabled: !policy([:admin, project]).editable_field?("usp") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :price_starting_from %>
      <%= f.number_field :price_starting_from, class: 'form-control', disabled: !policy([:admin, project]).editable_field?("price_starting_from") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :price_upto %>
      <%= f.number_field :price_upto, class: 'form-control', disabled: !policy([:admin, project]).editable_field?("price_upto") %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="mb-3">
      <% usp = f.object.broker_usp %>
      <%= f.label :broker_usp %>
      <%= f.text_field :broker_usp, value: usp[0], class: 'form-control mb-2', name: 'project[broker_usp][]', disabled: !policy([:admin, project]).editable_field?("broker_usp"), maxlength: 200 %>
      <%= f.text_field :broker_usp, value: usp[1], class: 'form-control mb-2', name: 'project[broker_usp][]', disabled: !policy([:admin, project]).editable_field?("broker_usp"), maxlength: 200 %>
      <%= f.text_field :broker_usp, value: usp[2], class: 'form-control', name: 'project[broker_usp][]', disabled: !policy([:admin, project]).editable_field?("broker_usp"), maxlength: 200 %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="mb-3">
      <%= f.label :project_region %>
      <%= f.select :project_region, current_client.partner_regions, {}, class: 'selectize', required: true,  disabled: !policy([:admin, @project]).editable_field?("project_region") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :sv_incentive %>
      <%= f.number_field :sv_incentive, class: 'form-control', disabled: !policy([:admin, project]).editable_field?("sv_incentive") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :spot_booking_incentive %>
      <%= f.number_field :spot_booking_incentive, class: 'form-control', disabled: !policy([:admin, project]).editable_field?("spot_booking_incentive") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :pre_reg_incentive_percentage, class: '' %>
      <%= f.number_field :pre_reg_incentive_percentage, class: 'form-control', disabled: !policy([:admin, project]).editable_field?("pre_reg_incentive_percentage") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :pre_reg_min_bookings, class: '' %>
      <%= f.number_field :pre_reg_min_bookings, class: 'form-control', disabled: !policy([:admin, project]).editable_field?("pre_reg_min_bookings") %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="mb-3">
      <%= f.label :iris_url, class: '' %>
      <%= f.text_field :iris_url, class: 'form-control', disabled: !policy([:admin, project]).editable_field?("iris_url") %>
    </div>
  </div>
</div>
<div class="card mt-3">
  <div class="card-header">
    Address
  </div>
  <div class="card-body">
    <%
      address = f.object.address
      if (address.blank? || (address.present? && (address.as_json(only: [:address1, :city, :state, :country, :zip]).values.all?(&:blank?))))
        f.object.build_address
      end
    %>
    <%= f.fields_for :address do |address_form| %>
      <%= render "addresses/form_fields", f: address_form %>
    <% end %>
  </div>
</div>
