<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :name, class: 'label-required' %>
      <%= f.text_field :name, class: 'form-control', autofocus: true, required: 'required', disabled: !policy([:admin, project]).editable_field?("name") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :developer_name, class: 'label-required' %>
      <%= f.text_field :developer_name, class: 'form-control', autofocus: true, required: 'required', disabled: !policy([:admin, project]).editable_field?("developer_name") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :project_type, class: 'label-required' %>
      <%= f.select :project_type, Project::PROJECT_TYPES.collect{|x| [x.titleize, x]}.sort{|x, y| x[0] <=> y[0]}, {prompt: 'Select'}, class: "selectize", multiple: true, required: true, disabled: (policy([current_user_role_group, project]).editable_field?("project_type") ? false : true) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :category, class: 'label-required' %>
      <%= f.select :category, Project::CATEGORIES.collect{|x| [x.titleize, x]}.sort{|x, y| x[0] <=> y[0]}, {prompt: 'Select'}, class: "selectize", multiple: true, required: true, disabled: (policy([current_user_role_group, project]).editable_field?("category") ? false : true) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :project_segment, class: 'label-required' %>
      <%= f.select :project_segment, Project::SEGMENTS.collect{|x| [x.titleize, x]}.sort{|x, y| x[0] <=> y[0]}, {prompt: 'Select'}, class: "selectize", multiple: true, required: true, disabled: (policy([current_user_role_group, project]).editable_field?("project_segment") ? false : true) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :micro_market, class: 'label-required' %>
      <%= f.text_field :micro_market, class: 'form-control', required: true, disabled: !policy([:admin, project]).editable_field?("micro_market") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :possession, class: 'label-required' %>
      <%= f.text_field :possession, class: 'form-control datepicker', required: true, disabled: !policy([:admin, project]).editable_field?("possession"), value: f.object.possession.present? ? f.object.possession.strftime("%d/%m/%Y") : nil %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :registration_name, class: 'label-required' %>
      <%= f.text_field :registration_name, class: 'form-control', required: true, disabled: !policy([:admin, project]).editable_field?("registration_name") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :rera_registration_no, class: 'label-required' %>
      <%= f.text_field :rera_registration_no, class: 'form-control', required: 'required', disabled: !policy([:admin, project]).editable_field?("rera_registration_no") %>
    </div>
  </div>
  <% if policy([:admin, project]).editable_field?("is_active") %>
    <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :is_active, class: 'mb-2' %>
      <div class="form-check form-check-inline">
        <%= f.radio_button :is_active, true, class: "form-check-input wd-22" %>
        <%= f.label :is_active, "Yes", class: "form-check-label d-inline-block ms-2" %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :is_active, false, class: "form-check-input wd-22" %>
        <%= f.label :is_active, "No", class: "form-check-label d-inline-block ms-2" %>
      </div>
    </div>
    </div>
  <% end %>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :gst_number, class: '' %>
      <%= f.text_field :gst_number, class: 'form-control', disabled: !policy([:admin, project]).editable_field?("gst_number") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :cin_number, class: '' %>
      <%= f.text_field :cin_number, class: 'form-control', disabled: !policy([:admin, project]).editable_field?("cin_number") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :price_starting_from %>
      <%= f.number_field :price_starting_from, class: 'form-control', disabled: !policy([:admin, project]).editable_field?("price_starting_from") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= f.label :price_upto %>
      <%= f.number_field :price_upto, class: 'form-control', disabled: !policy([:admin, project]).editable_field?("price_upto") %>
    </div>
  </div>
  <% if policy([current_user_role_group, project]).editable_field?("kylas_product_id") %>
    <div class="row">
      <div class="col-md-12">
        <div class="mb-3">
          <%= f.label :kylas_product_id %>
          <% kylas_products = @kylas_products.presence || [] %>
          <% if kylas_products.blank? %>
          <%= link_to Project.human_attribute_name(:new_product_kylas_crm), SUPPORT_NEW_PRODUCT_CRM_LINK, target: '_blank' %>
          <% end %>
          <%= f.select :kylas_product_id, options_for_select(kylas_products, kylas_products.select{ |kylas_product| kylas_product[1].to_s == project.kylas_product_id }.first), { include_blank: 'Select Kylas Product', autocomplete: 'off', class: 'form-control', required: true }, disabled: !(policy([current_user_role_group, project]).editable_field?("kylas_product_id")) %>
        </div>
      </div>
    </div>
  <% end %>
</div>