<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :helpdesk_email, class: '' %>
      <%= f.text_field :helpdesk_email, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("helpdesk_email") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :helpdesk_number, class: '' %>
      <%= f.phone_field :helpdesk_number, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("helpdesk_number") %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :support_email, class: '' %>
      <%= f.email_field :support_email, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("support_email") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :support_number, class: '' %>
      <%= f.phone_field :support_number, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("support_number") %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :channel_partner_support_email, class: '' %>
      <%= f.phone_field :channel_partner_support_email, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("channel_partner_support_email") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :channel_partner_support_number, class: '' %>
      <%= f.phone_field :channel_partner_support_number, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("channel_partner_support_number") %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :notification_email, class: '' %>
      <%= f.text_field :notification_email, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("notification_email") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :notification_numbers, class: '' %>
      <%= f.text_field :notification_numbers, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("notification_numbers") %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :sender_email, class: '' %>
      <%= f.email_field :sender_email, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("sender_email") %>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Address
  </div>
  <div class="card-body">
    <%
      if f.object.address.blank?
        client_address = current_client.address
        f.object.build_address(address1: client_address.address1, address2: client_address.address2, country: client_address.country, state: client_address.state, city: client_address.city, zip: client_address.zip)
      end
    %>
    <%= f.fields_for :address do |address_form| %>
      <%= render "addresses/form_fields", f: address_form %>
    <% end %>
  </div>
</div>
