<div class="row">
  <% if policy([:admin, project]).editable_field?("helpdesk_email")%>
    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :helpdesk_email, class: '' %>
        <%= f.text_field :helpdesk_email, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("helpdesk_email") %>
        <%= f.label :helpdesk_email_sort, class: 'txt-light-blue font-normal' %>
      </div>
    </div>
  <% end %>
  <% if policy([:admin, project]).editable_field?("helpdesk_number")%>
    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :helpdesk_number, class: '' %>
        <%= f.phone_field :helpdesk_number, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("helpdesk_number") %>
        <%= f.label :helpdesk_number_sort, class: 'txt-light-blue font-normal' %>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <% if policy([:admin, project]).editable_field?("support_email")%>
    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :support_email, class: '' %>
        <%= f.email_field :support_email, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("support_email") %>
      </div>
    </div>
  <% end %>
  <% if policy([:admin, project]).editable_field?("support_number")%>
    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :support_number, class: '' %>
        <%= f.phone_field :support_number, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("support_number") %>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <% if policy([:admin, project]).editable_field?("channel_partner_support_email")%>
    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :channel_partner_support_email, class: '' %>
        <%= f.phone_field :channel_partner_support_email, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("channel_partner_support_email") %>
        <%= f.label :channel_partner_support_email_sort, class: 'txt-light-blue font-normal' %>
      </div>
    </div>
  <% end %>
  <% if policy([:admin, project]).editable_field?("channel_partner_support_number")%>
    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :channel_partner_support_number, class: '' %>      
        <%= f.phone_field :channel_partner_support_number, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("channel_partner_support_number") %>
        <%= f.label :channel_partner_support_number_sort, class: 'txt-light-blue font-normal' %>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <% if policy([:admin, project]).editable_field?("notification_email")%>
    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :notification_email, class: '' %>
        <%= f.text_field :notification_email, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("notification_email") %>
        <%= f.label :notification_email_sort, class: 'txt-light-blue font-normal' %>
      </div>
    </div>
  <% end %>
  <% if policy([:admin, project]).editable_field?("notification_numbers")%>
    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :notification_numbers, class: '' %>
        <%= f.text_field :notification_numbers, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("notification_numbers") %>
        <%= f.label :notification_numbers_sort, class: 'txt-light-blue font-normal' %>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <% if policy([:admin, project]).editable_field?("sender_email")%>
    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :sender_email, class: '' %>
        <%= f.email_field :sender_email, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("sender_email") %>
      </div>
    </div>
  <% end %>
</div>