<%
  if project.persisted?
    _url = admin_project_path(project)
  else
    _url = admin_projects_path
  end
%>
<%= nested_form_for project, url: _url, remote: true, local: true, html: { novalidate: false, id: "project_form", class: "modal-remote-form validate-form", data: { 'resource-type': Project.model_name.human, type: :json } } do |f| %>
  <div class="modal fade right fixed-header-footer" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="title">
            <%= t("helpers.#{action_name}.link_name", model: Project.model_name.human)%>
          </h3>
          <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <nav>
            <div class="nav nav-tabs theme-tab" role="tablist">
              <a class="nav-item nav-link active" data-bs-toggle="tab" href="javascript:;" data-bs-target="#nav-project-basic" role="tab">Basic Details</a>
              <a class="nav-item nav-link" data-bs-toggle="tab" href="javascript:;" data-bs-target="#nav-project-logos" role="tab">Images & Docs</a>
              <% if current_user.role?(:admin) %>
                <a class="nav-item nav-link" data-bs-toggle="tab" href="javascript:;" data-bs-target="#nav-project-bookings" role="tab">Bookings</a>
                <% if policy(ThirdPartyReference).editable_field?('reference_id') %>
                  <a class="nav-item nav-link" data-bs-toggle="tab" href="javascript:;" data-bs-target="#nav-project-crm-ids" role="tab">CRM</a>
                <% end %>
              <% end %>
            </div>
          </nav>
        <div class="mt-3"></div>
          <div class="tab-content theme-form">
            <div class="tab-pane fade show active" id="nav-project-basic" role="tabpanel">
              <%= render 'admin/projects/basic', f: f, project: project %>
            </div>
            <div class="tab-pane fade" id="nav-project-logos" role="tabpanel">
              <%= render 'admin/projects/logos', f: f, project: project %>
            </div>
            <% if current_user.role?(:admin) %>
              <div class="tab-pane fade" id="nav-project-bookings" role="tabpanel">
                <%= render 'admin/projects/bookings', f: f, project: project %>
              </div>
              <% if policy(ThirdPartyReference).editable_field?('reference_id') %>
                <div class="tab-pane fade" id="nav-project-crm-ids" role="tabpanel">
                  <%= render 'admin/projects/crm_ids', f: f, project: project %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="modal-footer text-end">
          <%= f.submit "Save", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#project_form"));
  });
<% end %>
