<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <thead>
      <tr class="bg-gradient-cd white">
        <th><%= t('mongoid.attributes.project.name') %></th>
        <th><%= t('mongoid.attributes.project.rera_registration_no') %></th>
        <th><%= t('mongoid.attributes.project.gst_number') %></th>
        <th><%= t('mongoid.attributes.project.address') %></th>
        <th class="text-right"> <%= t('global.action', count: 2) %></th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% projects.each do |project| %>
      <tr>
        <td data-title=<%= t('mongoid.attributes.project.name') %> >
          <%= link_to project.name, admin_project_path(project) %>
        </td>
        <td data-title=<%= t('mongoid.attributes.project.rera_registration_no') %> >
          <%= project.rera_registration_no %>
        </td>
        <td>
          <%= project.gst_number || '-' %>
        </td>
        <td>
          <%= project.address.try(:to_sentence) %>
        </td>
        <td>
          <div class="dropdown show text-right">
            <a class="btn dropdown-toggle table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <%= render "#{current_user_role_group}/projects/links", project: project %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pb-2">
  <%= will_paginate projects, list_classes: %w(pagination justify-content-center) %>
</div>
