<% projects.each_with_index do |project, index| %>
<% meetings = Meeting.where(Meeting.user_based_scope(current_user, {project_id: project.id})) %>
<% scheduled_meetings = meetings.where(status: 'scheduled') %>
<% meeting = scheduled_meetings.first %>
<% meeting = meetings.where(status: 'completed').first unless meeting %>
<div class="single-prjt-list mb-4">
  <div class="prjt-thumb">
    <div class="prjt-thumb-inner position-relative"
      style="background-image: url('<%= project.cover_photo&.url || (asset_path 'default-project.jpg') %>')">
      <% if project.hot?%>
      <span class="hot-sellig-tag"><i class="fa fa-fire fill-danger me-1"></i><%= I18n.t("mongoid.attributes.project.hot_selling") %></span>
      <% end %>
    </div>
  </div>
  <div class="project-inner-info">
    <div class="inner-info position-relative">
      <% if is_marketplace? %>
        <h2 class="title"><%= project.name %></h2>
      <% else %>
        <h2 class="title"><%= link_to project.name, admin_project_path(project) %></h2>
      <% end %>
      <p class="devl-name"><%= project.developer_name %></p>
      <% if project.micro_market.present? && project.city.present? %>
      <p class="location"><i class="fa fa-map-marker-alt fill-primary me-2"></i><%= project.micro_market %>,
        <%= project.city %></p>
      <% end %>
      <% meeting_str = "#{meeting.present? ? '1' : 'No'} #{meeting.present? && meeting.completed? ? 'Past' : 'New'} event "
        meeting_str = I18n.t("mongoid.attributes.meeting/new_event.#{meeting_str.parameterize.underscore}")
        meeting_str += "<span>#{meeting&.scheduled_on&.strftime('%b %e %Y')}#{meeting&.scheduled_on&.to_time&.in_time_zone(current_user.time_zone)&.strftime(', %I:%M%p %Z')}</span>"
        meeting_str = meeting_str.html_safe %>
      <p class="prjt-event">
        <%= link_to_if (meeting.present? && Admin::MeetingPolicy.new(current_user, meeting).show?), meeting_str, (meeting.present? ? admin_meeting_path(meeting) : admin_meetings_path), class: 'modal-remote-form-link', data:{event_category: 'Section', event_action: 'Click', event_name: 'Event details'} %>
      </p>
      <% if policy([current_user_role_group, InterestedProject.new(project_id: project.id)]).create? %>
      <% heart_class = project.id.in?(interested_project_ids) ? 'fill-danger' : 'fill-theme' %>
      <%= link_to_if !project.id.in?(interested_project_ids), "<i class='fa fa-heart #{heart_class} me-3 position-absolute end-0 top-0 mt-1 d-block d-sm-none'></i>".html_safe, admin_user_interested_projects_path(current_user, interested_project: {project_id: project.id, event: 'subscribe'}), method: :post, class: 'add-wishlist position-absolute end-0 top-0 mt-1 d-block d-sm-none' %>
      <% end %>
      <% if policy([current_user_role_group, InterestedProject]).report? %>
        <% ip_count = User.where(User.user_based_scope(current_user, params)).filter_by_interested_project(project.id).count %>
        <%= link_to "<i class='fa fa-heart fill-danger me-3 position-absolute end-0 top-0 mt-1 d-block d-sm-none'></i>#{ip_count}".html_safe, admin_users_path(fltrs: {interested_project: project.id}), class: 'add-wishlist position-absolute end-0 top-0 mt-1 d-block d-sm-none' %>
      <% end %>
    </div>
    <div class="prjt-date-info">
      <div class="inner-date">
        <p><%= I18n.l(project.launched_on.strftime('%d %b, %Y')) rescue "-" %></p>
        <span><%= I18n.t("mongoid.attributes.project.launched_on") %></span>
      </div>
    </div>
    <div class="prjt-stats">
      <div class="prjt-inner-stats">
        <%= render 'lead_stats', project: project %>
      </div>

      <div class="prjt-meets">
        <% if false #meeting %>
        <a href="javascript:;" class="meets-devlpr-link me-3" data-bs-toggle="modal"
          data-bs-target="#meeting_<%= meeting.id.to_s %>"><i class="fa fa-calendar-alt fill-primary me-2"></i>Meet
          Developers</a>

        <div class="modal fade googleMeet-modal" id="meeting_<%= meeting.id.to_s %>" data-bs-backdrop="static"
          data-bs-keyboard="false" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row">
                  <div class="col-lg-8">
                    <h3><%= meeting.topic %></h3>
                    <p><%= meeting.project&.name %> by <%= meeting.project&.developer_name %></p>
                  </div>
                  <% if meeting.meeting_type == 'webinar' %>
                  <div class="col-lg-4">
                    <img src="<%= asset_path "#{meeting.provider}.png" %>" class="<%= meeting.provider %>-logo">
                  </div>
                  <% end %>
                  <div class="col-lg-12">
                    <% meeting_time = meeting.scheduled_on&.to_time&.in_time_zone(current_user.time_zone).presence %>
                    <h3>
                      <%= "#{meeting.scheduled_on&.strftime('%e %b %Y')}#{meeting.scheduled_on&.to_time&.in_time_zone(current_user.time_zone)&.strftime(', %I.%M %p %Z')}" %>
                      <h3><%= %></h3>
                      <p><%= meeting.agenda %>, This
                        <%= "#{meeting.scheduled_on&.strftime('%A %b %e, %Y')}#{meeting_time&.strftime('at %I:%M%p')}#{meeting_time&.advance(minutes: meeting.duration)&.strftime(' - %I:%M%p %Z')}" %>
                      </p>
                  </div>
                </div>
              </div>
              <%= render 'meetings/toggle_interest_form', meeting: meeting %>
            </div>
          </div>
        </div>
        <% end %>

        <% if policy([current_user_role_group, InterestedProject.new(project_id: project.id)]).create? %>
          <% heart_class = project.id.in?(interested_project_ids) ? 'fill-danger' : 'fill-theme' %>
          <%= link_to_if !project.id.in?(interested_project_ids), "<i class='fa fa-heart #{heart_class} d-none d-sm-inline-block me-1'></i>".html_safe, admin_user_interested_projects_path(current_user, interested_project: {project_id: project.id, event: 'subscribe'}), method: :post, class: 'add-wishlist d-none d-sm-inline-block me-2' %>
        <% end %>
        <% if policy([current_user_role_group, InterestedProject]).report? %>
          <% ip_count = User.where(User.user_based_scope(current_user, params)).filter_by_interested_project(project.id).count %>
          <%= link_to "<i class='fa fa-heart fill-danger d-none d-sm-inline-block me-1'></i>#{ip_count}".html_safe, admin_users_path(fltrs: {interested_project: project.id}), class: 'add-wishlist d-none d-sm-inline-block me-2' %>
        <% end %>

        <div class="prjt-menu-top float-md-right">
          <div class="dropdown">
            <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <%= render "#{current_user_role_group}/projects/links", project: project %>
            </div>
          </div>
        </div>
      </div>

      <div class='prjt-inner-stats fn-14 text-primary' style='top: 75%'>
          <% if !policy([:admin, Lead.new(project_id: project.id)]).new?(current_project.try(:id).try(:to_s)) && policy([current_user_role_group, InterestedProject.new(project_id: project.id)]).create? %>
            <% if !project.id.in?(interested_project_ids) %>
              <%= link_to t('controller.projects.show.show_interest_text'), admin_user_interested_projects_path(current_user, interested_project: {project_id: project.id, event: 'subscribe'}), method: :post, class: 'add-wishlist d-none d-sm-block' %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="row col-lg-12 ms-0"></div>
  <div class="position-relative pt-4 rounded-bottom rounded-3" style="background:#dee8f5">
    <div class="row">
      <span class="benefits-tag top-0 font-medium ps-3 fn-14 pt-2"><i class="fa fa-hand-holding-usd fill-primary me-1"></i><%= I18n.t("controller.projects.benefits_for_you.link_name") %></span>
      <div class="col-lg-6 px-4 mt-2">
        <div class="row">
          <div class="col-lg-4 col-4">
            <p class="fn-12 small text-secondary mb-0"><%= I18n.t("controller.projects.incentives.site_visit") %></p>
            <h2 class="fn-18"><%= project.sv_incentive.present? ? number_to_indian_currency(project.sv_incentive) : I18n.t("global.coming_soon")  %> </h2>
          </div>
          <div class="col-lg-4 col-4">
            <p class="fn-12 small text-secondary mb-0"><%= I18n.t("controller.projects.incentives.spot_booking") %></p>
            <h2 class="fn-18"><%= project.spot_booking_incentive.present? ? number_to_indian_currency(project.spot_booking_incentive) : I18n.t("global.coming_soon")  %> </h2>
          </div>
          <div class="col-lg-4 col-4">
            <p class="fn-12 small text-secondary mb-0"><%= I18n.t("controller.projects.incentives.pre_registration_incentive") %></p>
            <% if project.pre_reg_incentive_percentage.present? and project.pre_reg_min_bookings.present? %>
              <h2 class="fn-18 lh-1"><%= number_to_percentage(project.pre_reg_incentive_percentage, precision: 0) %> <span class="fn-12">for min. <%= project.pre_reg_min_bookings %> <%= I18n.t("mongoid.models.booking_detail.other") %></span></h2>
            <% else %>
              <h2 class="fn-18 lh-1"><%= I18n.t("global.coming_soon") %></h2>
            <% end %>
          </div>
        </div>
      </div>
      <% if project.broker_usp.present? %>
        <div class="col-lg-6">
          <div class="col-lg-12 mt-2 pe-3">
            <div id="projectDescCarousel_<%= index %>" class="projectDescCarousel benefits-string-slider carousel slide position-relative" data-bs-interval="false">
              <div class="carousel-inner">
                <% project.broker_usp.each_with_index do |broker_usp, index| %>
                  <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
                    <%# <h2 class="fn-14 font-medium theme-txt-color">Deal for you </h2> %>
                    <div class="list-txt project-desc mb-0 fn-12 px-5 ps-xs-3 pb-xs-1" title="">
                      <%= broker_usp %>
                    </div>
                  </div>
                <% end %>
              </div>
              <button class="carousel-control-prev position-absolute top-0" type="button"
                data-bs-target="#projectDescCarousel_<%= index %>" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"><%= I18n.t("global.previous") %></span>
              </button>
              <button class="carousel-control-next position-absolute top-0 end-0" type="button"
                data-bs-target="#projectDescCarousel_<%= index %>" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"><%= I18n.t("global.next") %></span>
              </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
