<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :booking_portal_domains, class: '' %>
      <%= f.select :booking_portal_domains, @project.booking_portal_domains, {}, class: 'selectize-tags domain', multiple: true, disabled: !policy([:admin, @project]).editable_field?("booking_portal_domains") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :selldo_client_id %>
      <%= f.text_field :selldo_client_id, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("selldo_client_id") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :selldo_form_id %>
      <%= f.text_field :selldo_form_id, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("selldo_form_id") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :selldo_gre_form_id %>
      <%= f.text_field :selldo_gre_form_id, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("selldo_gre_form_id") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :selldo_channel_partner_form_id %>
      <%= f.text_field :selldo_channel_partner_form_id, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("selldo_channel_partner_form_id") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :selldo_api_key %>
      <%= f.text_field :selldo_api_key, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("selldo_api_key") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :selldo_default_srd %>
      <%= f.text_field :selldo_default_srd, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("selldo_default_srd") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :selldo_cp_srd %>
      <%= f.text_field :selldo_cp_srd, class: 'form-control', disabled: !policy([:admin, @project]).editable_field?("selldo_cp_srd") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :ga_code, class: '' %>
      <%= f.text_field :ga_code, class: 'form-control', disabled: (policy([:admin, @project]).editable_field?("ga_code") ? false : true) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :gtm_tag, class: '' %>
      <%= f.text_area :gtm_tag, class: 'form-control', disabled: (policy([:admin, @project]).editable_field?("gtm_tag") ? false : true) %>
    </div>
  </div>
</div>
