<div class="form-group">
  <%= f.label :logo, class: '' %><br/>
  <%= f.file_field :logo, class: 'btn pl-0', disabled: !policy([:admin, @project]).editable_field?("logo") %>
  <br/>
  <% if @project.logo.present? %>
    <div style="width:100px;height:100px;overflow:hidden;" class="ml-3">
      <img src="<%= @project.logo.url %>" style="max-height: 100%; max-width:100%;" />
    </div>
  <% end %>
  <hr/>
</div>
<div class="form-group">
  <%= f.label :mobile_logo, class: '' %><br/>
  <%= f.file_field :mobile_logo, class: 'btn pl-0', disabled: !policy([:admin, @project]).editable_field?("mobile_logo") %>
  <br/>
  <% if @project.mobile_logo.present? %>
    <div style="width:100px;height:100px;overflow:hidden;" class="ml-3">
      <img src="<%= @project.mobile_logo.url %>" style="max-height: 100%; max-width:100%;" />
    </div>
  <% end %>
  <hr/>
</div>
<div class="form-group">
  <%= f.label :brochure, class: '' %><br/>
  <%= f.file_field :brochure, class: 'btn pl-0', disabled: !policy([:admin, @project]).editable_field?("brochure") %>
  <br/>
  <% if @project.brochure.present? %>
    <div class="ml-3 image_small_class">
      <% if @project.brochure.url.split('.')[-1] == 'pdf' %>
        <embed src="<%= @project.brochure.url %>" class = 'image_small_object'  type="application/pdf">
      <% else %>
        <img src="<%= @project.brochure.url %>" class = 'image_small_object' />
      <% end %>
    </div>
  <% end %>
  <hr/>
</div>
