<div class="specifications">
  <% editable_specifications = policy([:admin, project]).editable_field?("specifications_attributes")%>
  <% if editable_specifications %>
    <div class='text-right'>
      <%= f.link_to_add I18n.t("controller.projects.add_specification.link_name"), :specifications, :data => { :target => ".specifications" }, class: 'btn btn-secondary' %>
    </div>
  <% end %>
  <%= f.fields_for :specifications do |sf|%>
    <% if editable_specifications %>
      <div class='pl-2 text-right'>
        <%= sf.link_to_remove icon("far", "times-circle") %>
      </div>
    <% end %>
    <div class="mb-3">
      <%= sf.label :category, class: 'label-required' %>
      <%= sf.select :category, Specification::CATEGORIES.collect{|x| [x.titleize, x]}.sort{|x, y| x[0] <=> y[0]}, {prompt: 'Select'}, class: "selectize", required: true, disabled: !editable_specifications %>
    </div>
    <div class="mb-3">
      <%= sf.label :description, class: 'label-required' %>
      <%= sf.text_area :description, class:'form-control summernote', required: 'required', disabled: !editable_specifications %>
    </div>
  <% end %>
  <hr>
</div>