<div class="timeline_updates">
  <% editable_timeline_updates = policy([:admin, project]).editable_field?("timeline_updates_attributes")%>
  <% if editable_timeline_updates %>
    <div class='text-right'>
      <%= f.link_to_add I18n.t("controller.projects.add_timeline_update.link_name"), :timeline_updates, :data => { :target => ".timeline_updates" }, class: 'btn btn-secondary' %>
    </div>
  <% end %>
  <%= f.fields_for :timeline_updates do |sf|%>
    <% if editable_timeline_updates %>
      <div class='pl-2 text-right'>
        <%= sf.link_to_remove icon("far", "times-circle") %>
      </div>
    <% end %>
    <div class="mb-3">
      <%= sf.label :name, class: 'label-required' %>
      <%= sf.text_field :name, class:'form-control', required: 'required', disabled: !editable_timeline_updates %>
    </div>
    <div class="mb-3">
      <%= sf.label :description, class: 'label-required' %>
      <%= sf.text_field :description, class:'form-control', required: 'required', disabled: !editable_timeline_updates %>
    </div>
    <div class="mb-3">
      <%= sf.label :date, class: 'label-required' %>
      <%= sf.text_field :date, class: 'form-control datepicker', required: true, disabled: !editable_timeline_updates, value: sf.object.date.present? ? sf.object.date.strftime("%d/%m/%Y") : Date.today.strftime("%d/%m/%Y") %>
    </div>
  <% end %>
  <hr>
</div>
