<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="title"><%= @project.try(:name) || "All #{t('mongoid.attributes.project.assets')}" %></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body theme-form">
        <nav>
          <div class="nav nav-tabs" role="tablist">
            <% Project::DOCUMENT_TYPES.reject {|x| x == 'unit_selection_filter_image'}.each_with_index do |doc_type, idx| %>
              <a class="nav-item nav-link <%= idx.zero? ? 'active' : '' %>" data-toggle="tab" href="#nav-project-<%= doc_type %>" role="tab"><%= t("mongoid.attributes.project/file_types.#{doc_type}").pluralize %></a>
            <% end %>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-project-videos" role="tab"><%= I18n.t("controller.projects.link_to.videos") %></a>
          </div>
        </nav>
        <div class="mt-3"></div>
        <div class="tab-content">
          <% Project::DOCUMENT_TYPES.reject {|x| x == 'unit_selection_filter_image'}.each_with_index do |doc_type, idx| %>
            <div class="tab-pane fade <%= idx.zero? ? 'show active' : '' %>" id="nav-project-<%= doc_type %>" role="tabpanel">
              <div class="files-container-single">
                <% Asset.in(assetable_id: (@project.present? ? [@project.id] : current_user.interested_projects.approved.pluck(:project_id))).where(document_type: doc_type).each do |asset| %>
                  <%=
                    links = {}
                    if asset.file.file && asset.file.file.exists?
                      render "assets/file_icon", record: {id: asset.id, file_size: asset.file_size, url: asset.file.url, content_type: asset.file.content_type, name: asset.file_name }, links: links
                    end
                  %>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="tab-pane fade" id="nav-project-videos" role="tabpanel">
            <% template = ::Template::UITemplate.where(name: 'assets/_videos', project_id: @project.try(:id)).first %>
            <% if template.present? %>
              <%= get_view_erb(template, check_active: true) %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
