<section class="mt-3 mb-5">
  <div class="px-4">
    <% interested_project_ids = current_user.interested_projects.in(status: %w(subscribed approved)).distinct(:project_id) %>
    <div class="row">
      <div class="col-lg-12 row mb-2">
        <div class="col-lg-9 filter-set d-xs-no-flex">
          <% if current_user.role.in?(%w(cp_owner channel_partner)) %>
            <%= link_to I18n.t("controller.projects.region_projects.link_name"), admin_projects_path(fltrs: {city: current_user.channel_partner&.city, regions: current_user.channel_partner&.regions}), class: "filter-link #{params.dig(:fltrs, :regions) == current_user.channel_partner&.regions ? 'active' : ''}" %>
          <% end %>
          <% all_projects = I18n.t("controller.projects.view.all")+" (#{Project.where(Project.user_based_scope(current_user, params)).count})" %>
          <%= link_to all_projects.html_safe, admin_projects_path, class: "filter-link #{params.dig(:fltrs).blank? ? 'active' : ''}" %>

          <% newly_launched = I18n.t("controller.projects.view.newly_launched") + " (#{newly_launched_count = Project.where(Project.user_based_scope(current_user, params)).where(category: 'launch').count})" %> <%# + "#{newly_launched_count > 0 ? "<span class='notify'></span>".html_safe : ''}" %>
          <%= link_to newly_launched.html_safe, admin_projects_path(fltrs: {category: 'launch'}), class: "filter-link #{params.dig(:fltrs, :category) == 'launch' ? 'active' : ''}" %>

          <% pre_launch = I18n.t("controller.projects.view.pre_launch") + " (#{pre_launch_count = Project.where(Project.user_based_scope(current_user, params)).where(category: 'pre_launch').count})" %> <%# + "#{pre_launch_count > 0 ? "<span class='notify'></span>".html_safe : ''}" %>
          <%= link_to pre_launch.html_safe, admin_projects_path(fltrs: {category: 'pre_launch'}), class: "filter-link #{params.dig(:fltrs, :category) == 'pre_launch' ? 'active' : ''}" %>

          <% hot_prop = I18n.t("controller.projects.view.pre_launch") + " (#{hot_count = Project.where(Project.user_based_scope(current_user, params)).where(hot: true).count})" %> <%# + "#{hot_count > 0 ? "<span class='notify'></span>".html_safe : ''}" %>
          <%= link_to hot_prop.html_safe, admin_projects_path(fltrs: {hot: true}), class: "filter-link #{params.dig(:fltrs, :hot) == 'true' ? 'active' : ''}" %>
        </div>
        <div class="col-lg-3 text-end px-0 float-right">
          <div class="filter-popup">
            <a class="db-filter-btn fn-500" href="javascript:;">
              <i class="fa fa-filter fill-theme"></i>
            </a>
          </div>
          <% if policy([:admin, Project]).new? %>
            <%= link_to t('helpers.new.link_name', model: Project.model_name.human), new_admin_project_path, class: 'modal-remote-form-link p-2 px-3 btn bg-primary border-primary white d-inline-block ms-2 me-2 border rounded' %>
          <% end %>
        </div>
        <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
          <div class="box-card relative">
            <div class="filter-box">
              <%= render "admin/projects/filters" %>
            </div>
          </div>
        </div>
        <!--
        <div class="col-lg-4 text-end px-0">
          <div class="filter-search">
            <input type="text" name="" placeholder="Search projects">
          </div>
          <div class="filter-popup">
            <a href="javascript:;"><i class="fa fa-filter fill-theme"></i></a>
          </div>
          <div class="filter-sort">
            <a href="javascript:;"><i class="fa fa-sort-amount-up fill-theme"></i></a>
          </div>
        </div>
        -->
      </div>
      <div class="row pe-0">
        <div class="col-lg-12 project-listing">
          <div class='launchpad_inventory'>
            <%= render 'index', {projects: @projects, interested_project_ids: interested_project_ids} %>
          </div>
        </div>
        <!----------- Pagination ---------->
        <div class="col-lg-12 launchpad_inventory_pagination">
          <div class="row py-3 bg-white mb-2 shadow-sm ms-0">
            <div class="col-lg-6 pt-2">
              <p class="table-entry mb-0"><%= page_entries_info @projects %></p>
            </div>
            <div class="col-lg-6 table-pagination">
              <%= will_paginate @projects, list_classes: %w(pagination justify-content-end) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
