<% inventory_avl = @project.enable_inventory %>
<% project_labels = t('mongoid.attributes.project') %>
<% interest = current_user.interested_projects.in(status: %w(subscribed approved)).where(project_id: @project.id).presence %>
<section class="prjt-details-sec">
    <div class="px-3">
        <div class="row">
            <div class="col-lg-8 px-3 prjt-dtls-wrap pt-3">
                <div class="prjt-inner-box">
                    <div class="prjt-details-header col-12 float-start bt-br">
                        <div class="col-lg-6 col-12 float-start text-start">
                            <h1><%= @project.name || '-' %></h1>
                            <p class="prjt-devlprs mb-2"><%= @project.developer_name || '-' %></p>
                            <p class="prjt-location"><i class="fa fa-map-marker-alt me-2"></i><%= @project.micro_market || '-' %></p>
                        </div>
                        <div class="col-lg-6 col-12 float-end text-end  px-0 pt-2">
                          <div class="d-block">
                            <%= link_to_if (launchbook_url = @project.assets.where(document_type: 'sales_presentation').first&.file&.url&.presence), '<i class="fa fa-lock fill-theme me-3"></i>Launchbook'.html_safe, launchbook_url, class: 'prjt-lauchbook', target:'_blank' do |name|
                              ''
                            end%>
                            <% if allow_interest_subscription?(@project) %>
                              <div class="prjt-share-save pt-3 pb-2 d-inline ms-3">
                                <!--<a href="javascript:;" class="share-location me-3"><i class="fa fa-share-alt fill-theme me-2"></i>Share location</a>-->
                                <a href="javascript:;" class="prjt-save"></a>
                                <%= link_to_unless interest.present?, '<i class="fa fa-heart fill-theme me-2"></i>Show Interest'.html_safe, admin_user_interested_projects_path(current_user, interested_project: {project_id: @project.id, event: 'subscribe'}), method: :post, class: 'prjt-save' do |name|
                                  '<i class="fa fa-heart fill-danger"></i>'.html_safe
                                end
                              %>
                              </div>
                            <% end %>
                            <% if policy([current_user_role_group, InterestedProject]).report? %>
                              <% ip_count = User.where(User.user_based_scope(current_user, params)).filter_by_interested_project(@project.id).count %>
                              <%= link_to "<i class='fa fa-heart fill-danger me-2'></i>#{ip_count}".html_safe, admin_users_path(fltrs: {interested_project: @project.id}), class: 'prjt-save' %>
                            <% end %>
                            <% if current_user.role.in?(%w(superadmin admin)) %>
                              <div class="dropdown show d-inline">
                                <a class="btn table-dropdown-btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                  <%= render "#{current_user_role_group}/projects/links", project: @project %>
                                </div>
                              </div>
                            <% end %>
                          </div>
                        </div>
                    </div>
                    <div class="prjt-gallery pb-3 col-12 float-start">
                        <div class="prjt-gallery-inner">
                            <ul>
                            <% @assets = @project.assets.where(document_type: "images") %>
                            <% @assets[0..5].each_with_index do |asset, index|%>
                                <li class="<%= (@assets.size > 6 && index == 5) ? "more-img" : "" %>">
                                    <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#galleryModal">
                                     <div class="wd-100 ht-77 rounded" style="background-image: url(<%= asset.file.url %>);background-size:cover;background-position:center"></div>
                                     <% if (@assets.size > 6 && index == 5) %>
                                     <p>+ <%= @assets.size - 6 %></p>
                                     <% end %> 
                                     </a>
                                </li>
                            <% end %>
                            </ul>
                        </div>
                    </div>
                    <div class="prjt-desc-box col-12 float-start">
                        <div class="prjt-desc-tab  col-12 float-start">
                            <nav class="prjt-menu col-12 float-start">
                                <ul class="" id="nav-tab">
                                    <li class="">
                                        <a class="active" id="nav-overview-tab" rel="tab-overview" href="javascript:;">Overview</a>
                                    </li>
                                    <li class="">
                                        <a class="" id="nav-location-tab" rel="tab-location" href="javascript:;">Location</a>
                                    </li>
                                    <% if inventory_avl %>
                                      <li class="">
                                          <a class="" id="nav-configure-tab" href="javascript:;" rel="tab-configure">Configurations</a>
                                      </li>
                                    <% end %>
                                      <li class="">
                                          <a class="" id="nav-collaterals-tab" href="javascript:;" rel="tab-collaterals">Collaterals</a>
                                      </li>
                                    <% if @project.amenities.present? %>
                                      <li class="">
                                          <a class="" id="nav-amenities-tab" href="javascript:;" rel="tab-amenities">Amenities</a>
                                      </li>
                                    <% end %>
                                    <% if @project.specifications.present? %>
                                      <li class="">
                                          <a class="" id="nav-specifications-tab" href="javascript:;" rel="tab-specifications">Specifications</a>
                                      </li>
                                    <% end %>
                                    <% if @project.timeline_updates.present? %>
                                      <li class="">
                                          <a class="" id="nav-timeline-tab" href="javascript:;" rel="tab-timeline">Project Timeline</a>
                                      </li>
                                    <% end %>
                                </ul>
                            </nav>
                        </div>
                        <div class="prjt-desc-tab-wrap col-12 float-start">
                            <div class="prjt-desc-tab col-12 bt-br float-start" id="tab-overview">
                                <div class="tab-header">
                                    <h2 class="tab-title">Overview</h2>
                                </div>
                                <div class="tab-body pt-2">
                                    <div class="col-lg-5 col-12 overview-left float-start">
                                        <p>
                                            <span>Configuration</span>
                                            <% flats_text = @project.project_type.include?("residential") ? " Flats" : "" %>
                                            <%= inventory_avl ? DashboardDataProvider.configurations(@project).to_sentence + flats_text : @project.configurations&.to_sentence + flats_text %> <%= inventory_avl ? "| #{@project.project_units.min(:saleable)&.round} - #{@project.project_units.max(:saleable)&.round} #{@project.area_unit}" : '' %>
                                        </p>
                                        <p>
                                            <span>Property Value</span>
                                            <%= number_to_inr(@project.price_starting_from) %> - <%= number_to_inr(@project.price_upto) %>
                                        </p>
                                        <p>
                                            <span>Possession Date</span>
                                            <%= @project.possession.present? ? @project.possession.strftime('%d %b, %Y') :  '-' %>
                                        </p>
                                    </div>
                                    <div class="col-lg-7 col-12 ps-3 overview-desc float-end">
                                        <div class="project-overview-desc"><%= @project.description&.html_safe %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="prjt-desc-tab bt-br col-12 pt-4 pb-4 float-start" id="tab-location">
                                <div class="tab-header col-12 float-start">
                                    <h2 class="tab-title float-start">Location</h2>
                                    <!--<a href="javascript:;" class="location-share float-end"><i class="fa fa-share-alt fill-primary me-2"></i>Share location</a>-->
                                </div>
                                <div class="tab-body col-12 float-start pt-3">
                                    <div class="col-lg-6 col-12 float-start">
                                        <div class="location-list">
                                          <p><i class="fa fa-map-marker-alt me-2"></i><%= "#{@project.micro_market}, #{@project.city}" %></p>
                                          <% if @project.nearby_locations.present? %>
                                            <ul>
                                              <% @project.nearby_locations.each do |nb_loc| %>
                                                <li>
                                                  <p><span><%= nb_loc.distance %> <%= nb_loc.unit.pluralize(nb_loc.distance.to_i)&.titleize %></span> <%= nb_loc.destination&.titleize %></p>
                                                </li>
                                              <% end %>
                                            </ul>
                                          <% end %>
                                        </div>
                                    </div>
                                    <% if @project.embed_map_tag.present? %>
                                      <div class="col-lg-6 col-12 float-end embed-map">
                                        <%= @project.embed_map_tag.html_safe %>
                                      </div>
                                    <% end %>
                                </div>
                            </div>
                            <% if inventory_avl %>
                            <div class="prjt-desc-tab col-12 pt-4 float-start" id="tab-configure">
                                <div class="tab-header col-12 float-start position-relative">
                                    <h2 class="tab-title float-start">Configurations</h2>
                                    <a href="javascript:;" class="emi-calc-btn"><p class="float-end">EMI's starting at <strong>₹ 25,000</strong> /month</p>                                   
                                    </a>
                                     <div class="card emi-wrapper position-absolute top-50 end-0">
                                        <div class="card-header bg-primary py-4  d-flex justify-content-between">
                                            <h2 class="fn-20 white mb-0">EMI</h2>
                                            <p class="fn-20 font-medium white mb-0">₹ <span class="emiValue"></span></p>
                                            <a href="javascript:;" class="close-emi position-absolute top-0 end-0 me-2 mt-1"><i class="fa far fa-times fill-white"></i></a>
                                        </div>
                                        <div class="card-body">
                                            <div id="widget">
                                                <div class="wid_left">
                                                    <div class="form-group">
                                                        <div class="range_indicator">
                                                            <label for="loan-amount">Home Loan Amount <span>In Lakhs</span> </label>
                                                            <div class="indi_rgt">₹  <span id="selected-amount"></span> Lakhs </div>
                                                        </div>
                                                        <div id="loan-amount"></div>
                                                        <span class="scalerange">
                                                            <span>0</span>
                                                            <span>25</span>
                                                            <span>50</span>
                                                            <span>75</span>
                                                            <span>100</span>
                                                            <span>125</span>
                                                            <span>150</span>
                                                            <span>175</span>
                                                            <span>200</span>
                                                        </span>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="range_indicator">
                                                            <label for="loan-duration">Rate of Interest</label>
                                                            <div class="indi_rgt"><span id="selected-interest"></span> % </div>
                                                        </div>
                                                        <div id="interest-rate"></div>
                                                        <span class="scalerange">
                                                            <span>5</span>
                                                            <span>7.5</span>
                                                            <span>10</span>
                                                            <span>12.5</span>
                                                            <span>15</span>
                                                            <span>17.5</span>
                                                            <span>20</span>
                                                            <span>22.5</span>
                                                        </span>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="range_indicator">
                                                            <label for="loan-duration">Loan Tenure</label>
                                                            <div class="indi_rgt"><span id="selected-duration"></span> Years </div>
                                                        </div>
                                                        <div id="loan-duration"></div>
                                                        <span class="scalerange">
                                                            <span>1</span>
                                                            <span>5</span>
                                                            <span>10</span>
                                                            <span>15</span>
                                                            <span>20</span>
                                                            <span>25</span>
                                                            <span>30</span>
                                                            <span>35</span>
                                                        </span>
                                                    </div>

                                                    <div class="wid_right list-unstyled d-flex justify-content-between">
                                                        <div class="fn-14">Total Interest Payable <p class=" fn-20 font-medium">₹ <span class="interestValue"></span></p>
                                                        </div>
                                                        <div class="fn-14">Total Amount Payable 
                                                            <!-- <p class="fn-14 mb-0">Principal + Interest</p> -->
                                                            <p class="fn-20 font-medium">₹ <span class="TotalValue "></span></p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-body col-12 float-start">
                                    <div class="col-12">
                                        <div class="prjt-configure-list">
                                            <h2>Select Type</h2>
                                            <div class="tower-type tab-link nav nav-tabs border-bottom-0" role="tablist">
                                              <% @project.unit_configurations.each_with_index do | uc, index | %>
                                                <a href="javascript:;" class="nav-item nav-link mb-1 <%= (index == 0) ? "active" : "" %>" data-bs-toggle="tab" data-bs-target="#floor_<%= uc.name.gsub(/[()\s]*/, '').underscore + uc.saleable.to_i.to_s %>" role="tab"><%= uc.name %> | (<%= uc.saleable %> sq.ft)</a>
                                            <% end %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 float-start configration-tab">
                                        <div class="tab-content br-1 br-rd-8 py-1 wd-100">
                                        <% @project.unit_configurations.each_with_index do | uc, index | %>
                                          <% units = uc.project_units %>
                                          <% if units.present? %>
                                            <% unit = units&.first %>
                                            <div class="tab-pane fade show <%= (index == 0) ? "active" : "" %>" id="floor_<%= uc.name&.gsub(/[()\s]*/, '').underscore + uc.saleable.to_i.to_s %>" role="tabpanel">
                                                <div class="col-5 float-start">
                                                  <% if url = uc.assets.first&.file&.url&.presence %>
                                                    <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#configurationModal">
                                                        <img src="<%= url %>" class="plan-img img-fluid">
                                                    </a>
                                                  <% end %>
                                                    <!--<p class="ps-2"><i class="fa fa-eye me-2"></i>220 Interests</p>-->
                                                </div>
                                                <div class="col-7 float-end">
                                                    <div class="prjt-config-info mt-3 pe-3">
                                                        <div class="left-info col-12 float-start pb-2">
                                                            <span><i class="fa fa-building"></i></span>
                                                            <div class="prjt-info">
                                                                <p><%= unit.project_tower_name %></p>
                                                                <span><%= units.collect(&:floor).max %> Floors | <%= units.map(&:floor_order).uniq.count %> Apartments per floor</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 float-start">
                                                            <p class="prjt-short-info"><%= uc.name %> (<%= uc.saleable %> sq.ft) <%= number_to_inr(unit.all_inclusive_price) %></p>
                                                        </div>
                                                        <% avl_unit = units.where(status: 'available').first.presence %>
                                                        <% if avl_unit %>
                                                          <div class="col-6 float-end">
                                                              <%= link_to 'View Cost Sheet', quotation_admin_project_unit_path(avl_unit, layout: false), class: 'cost-sheet-btn float-end modal-remote-form-link', style: 'height: auto' %>
                                                          </div>
                                                        <% end %>
                                                        <% if @project.usp.present? %>
                                                          <div class="col-12 bt-bt mt-3 float-start pt-2">
                                                              <div class="col-6 float-start">
                                                                  <p class="points-list-title">Uniques Selling Points</p>
                                                              </div>
                                                              <div class="col-6 float-end">
                                                                  <a href="javascript:;" class="float-end view-all-btn">View All</a>
                                                              </div>
                                                              <ul class="points-list col-12 float-start">
                                                                <% @project.usp.first(3).each do |usp| %>
                                                                  <li>
                                                                    <p><%= usp %></p>
                                                                  </li>
                                                                <% end %>
                                                              </ul>
                                                          </div>
                                                        <% end %>
                                                    </div>
                                                </div>
                                            </div>
                                          <% end %>
                                        <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                            <div class="prjt-desc-tab col-12 bt-bt float-start" id="tab-collaterals">
                                <div class="tab-header col-12 float-start">
                                    <h2 class="tab-title float-start">Collaterals</h2>
                                    <!-- <a href="javascript:;" class="location-share float-end mt-2"><i class="fa fa-share-alt fill-primary me-2"></i>Share collaterals</a>-->
                                </div>
                                <div class="tab-body">
                                    <div class="col-12 mb-3 float-start">
                                        <div class="prjt-gallery">
                                            <h2>Gallery</h2>
                                            <div class="prjt-gallery-inner">
                                                <ul>
                                                    <% @assets = @project.assets.where(document_type: "images") %>
                                                    <% @assets[0..5].each_with_index do |asset, index|%>
                                                        <li class="<%= (@assets.size > 5 && index == 5) ? "more-img" : "" %>">
                                                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#galleryModal">
                                                                <div class="wd-100 ht-77 rounded" style="background-image: url(<%= asset.file.url %>);background-size:cover;background-position:center"></div>
                                                                <% if (@assets.size > 5 && index == 5) %>
                                                                <p>+ <%= @assets.size - 6 %></p>
                                                                <% end %> 
                                                            </a>
                                                        </li>
                                                    <% end %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12 mb-3 float-start">
                                        <div class="prjt-gallery">
                                            <h2>Video</h2>
                                            <ul class="collaterals-list">
                                              <% @project.videos.each do |video| %>
                                                <li>
                                                    <div class="prjt-video">
                                                      <%= image_tag video.thumbnail&.url, class: 'img-fluid' %>
                                                      <%= link_to '<i class="fa fa-play-circle"></i>'.html_safe, videoable_path(videoable_type: @project.class.model_name.i18n_key.to_s, videoable_id: @project.id, id: video.id), class: 'modal-remote-form-link' %>
                                                      <div class="video-info">
                                                        <span class='text-truncate'><%= video.description %></span>
                                                      </div>
                                                    </div>
                                                </li>
                                              <% end %>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3 float-start">
                                        <div class="prjt-gallery">
                                            <h2>Documents</h2>
                                            <ul class="documents-list">
                                                <% @assets = @project.assets.where(document_type: "document") %>
                                                    <% @assets.each_with_index do |asset, index|%>
                                                    <%
                                                    mime_type = asset.file.content_type 
                                                    case mime_type
                                                    when "application/pdf"
                                                    filetype = "pdf"
                                                    when "application/doc"
                                                    filetype = "docs"
                                                    when /^excel/
                                                    filetype = "excel"
                                                    when /^ppt/
                                                    filetype = "ppt"
                                                    else
                                                    filetype = "pdf"
                                                    end
                                                    %>
                                                        <li>
                                                            <div class="docs-wrap">
                                                                <div class="docs-icon">
                                                                   <a href="<%= asset.file.url %>" target="_blank"> <img src='<%= asset_path "#{filetype}-icon.png" %>' class="img-fluid"></a>
                                                                </div>
                                                                <div class="docs-info">
                                                                    <span><%= asset.file_name %></span>
                                                                    <span class="video-download">
                                                                    <a href="<%= asset.file.url %>" target="_blank">
                                                                        <i class="fa fa-download"></i>
                                                                        </a>
                                                                    </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    <% end %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% if @project.amenities.present? %>
                            <div class="prjt-desc-tab col-12 bt-bt float-start" id="tab-amenities">
                                <div class="tab-header col-12 float-start">
                                    <h2 class="tab-title float-start">Amenities</h2>
                                    <!--<p class="drop-amenities float-end">
                                        <span>Now Showing:</span>
                                        <select class="form-control d-inline me-1">
                                            <option>All Amenities</option>
                                            <option>Amenities</option>
                                            <option>Amenities</option>
                                        </select>
                                    </p>-->
                                </div>
                                <div class="tab-body">
                                    <div class="col-12">
                                        <div class="amenities-list">
                                            <ul class="">
                                                <% @project.amenities.each do |type| %>
                                                    <li class="amenity_<%= type %>">
                                                    <div class="amenities-wrap">
                                                        <span class="text-center d-block">
                                                          <i class="fad <%= t("amenity_icons.#{type}") %> fn-20 mx-auto"></i>
                                                        </span>
                                                    <p><%= type.titleize %></p>
                                                    </div>
                                                    </li>
                                                <% end %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                            <% if @project.specifications.present? %>
                            <div class="prjt-desc-tab col-12 bt-bt float-start" id="tab-specifications">
                                <div class="tab-header col-12 float-start">
                                    <h2 class="tab-title">Specifications</h2>
                                </div>
                                <div class="tab-body">
                                    <div class="col-12">
                                        <div class="specifications-tab-wrap">
                                            <div class="row mt-4 specification-list col-12">
                                            <% @project.specifications.each do |spec| %>
                                                <div class="col-lg-6 mb-3">
                                                <h3><%= spec.category.titleize %></h3>
                                                <div><%= spec.description&.html_safe %></div>
                                                </div>
                                              <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                            <% if @project.timeline_updates.present? %>
                            <div class="prjt-desc-tab col-12 bt-bt float-start" id="tab-timeline">
                                <div class="tab-header col-12 float-start pb-3">
                                    <h2 class="tab-title">Project Timeline</h2>
                                </div>
                                <div class="tab-body pb-5">
                                  <% if @project.timeline_updates.present? %>
                                    <div class="col-12 float-start pb-2">
                                        <div class="prjt-current-status position-relative pb-5 pb-xs-0">
                                            <div class="line">
                                                <span class="inner-line"></span>
                                            </div>
                                            <div class="current-status-tooltip">
                                              <p>Current Status: <%= @project.category&.first %></p>
                                            </div>
                                            <% tu_count = @project.timeline_updates.count %>
                                            <% @project.timeline_updates.asc(:date).each_with_index do |tu, index| %>
                                              <div class="prjt-<%= index.zero? ? 'start' : (index == tu_count-1 ? 'end' : 'status')%>">
                                                <p>
                                                <span><%= tu.date.strftime('%b %Y') %></span>
                                                <span><%= tu.name %></span>
                                                </p>
                                              </div>
                                            <% end %>
                                        </div>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                              <!--
                              <div class="prjt-desc-tab col-12 bt-bt float-start" id="">
                                <div class="tab-footer pt-2 col-10 mx-auto">
                                    <div class="prjt-progress col-12 float-start">
                                        <p class="float-start">Construction Progress</p>
                                        <select class="float-end form-control d-inline me-1">
                                            <option>Tower Casa Uno</option>
                                        </select>
                                        <i class="fa fa-building theme-fill float-end me-2 mt-1"></i>
                                    </div>
                                    <div class="prjt-progress-list col-12 float-start">
                                        <div class="col-xl-12 mt-1 mb-4">
                                            <p class="small mb-0">Internal Finishing <span class="float-end f-14 theme-light-color">0%</span></p>
                                            <div class="progress mb-0 height-05">
                                                <div class="progress-bar bg-success progress-bar-animated" role="progressbar" style="width:73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 mt-1 mb-4">
                                            <p class="small mb-0">Internal Finishing <span class="float-end f-14 theme-light-color">0%</span></p>
                                            <div class="progress mb-0 height-05">
                                                <div class="progress-bar bg-success progress-bar-animated" role="progressbar" style="width:73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 mt-1 mb-4">
                                            <p class="small mb-0">Internal Finishing <span class="float-end f-14 theme-light-color">0%</span></p>
                                            <div class="progress mb-0 height-05">
                                                <div class="progress-bar bg-success progress-bar-animated" role="progressbar" style="width:73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 mt-1 mb-4">
                                            <p class="small mb-0">Internal Finishing <span class="float-end f-14 theme-light-color">0%</span></p>
                                            <div class="progress mb-0 height-05">
                                                <div class="progress-bar bg-success progress-bar-animated" role="progressbar" style="width:73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>-->
                            <% end %>
                        </div>
                    </div>
                </div>
                <!-- Newly Launched ---------->
                <!--
                <div class="row">
                    <div class="col-lg-12 mt-5 mb-3">
                        <h2 class="sec-title">Similar Projects to Embassy Developers</h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="project-wrap br-rd-8 card-shadow">
                            <div class="project-list row">
                                <div class="project-img col-lg-4">
                                    <img src="<%#= asset_path 'project-item-image.jpg' %>" class="img-fluid">
                                    <%# <p class="img-tag bg-danger"><i class="fa fa-fire fill-white"></i>Just Launch</p> %>
                                </div>
                                <div class="project-info col-lg-8">
                                    <div class="project-info-inner">
                                        <h2 class="prjt-title">34 Park Estate</h2>
                                        <p class="prjt-devlprs">Embassy Developers</p>
                                        <p class="prjt-location"><i class="fa fa-map-marker-alt fill-white"></i>Khar West, Mumbai</p>
                                    </div>
                                    <div class="project-info-outer px-3">
                                        <div class="row">
                                            <div class="col-lg-1 ps-0 pe-0">
                                                <i class="fa fa-fire fill-danger"></i>
                                            </div>
                                            <div class="col-lg-11 pe-2 ps-3">
                                                <p class="list-txt project-deal mb-2">Hot Deal</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="project-wrap br-rd-8 card-shadow">
                            <div class="project-list row">
                                <div class="project-img col-lg-4">
                                    <img src="<%#= asset_path 'project-item-image.jpg' %>" class="img-fluid">
                                    <%# <p class="img-tag bg-danger"><i class="fa fa-fire fill-white"></i>Just Launch</p> %>
                                </div>
                                <div class="project-info col-lg-8">
                                    <div class="project-info-inner">
                                        <h2 class="prjt-title">34 Park Estate</h2>
                                        <p class="prjt-devlprs">Embassy Developers</p>
                                        <p class="prjt-location"><i class="fa fa-map-marker-alt fill-white"></i>Khar West, Mumbai</p>
                                    </div>
                                    <div class="project-info-outer px-3">
                                        <div class="row">
                                            <div class="col-lg-1 ps-0 pe-0">
                                                <i class="fa fa-fire fill-danger"></i>
                                            </div>
                                            <div class="col-lg-11 pe-2 ps-3">
                                                <p class="list-txt project-deal mb-2">Hot Deal</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <% if Project.ne(id: @project.id).where(developer_name: @project.developer_name).present? %>
                <div class="mb-5 pb-5 col-12 other-projects">
                <div class="row gy-4">
                    <div class="col-lg-12 mt-5 mb-3">
                      <h2 class="sec-title">Other projects by <%= @project.developer_name %></h2>
                    </div>
                    <% Project.ne(id: @project.id).where(developer_name: @project.developer_name).sample(2).each_with_index do |project, index| %>
                    <div class="col-lg-6">
                        <div class="project-wrap br-rd-8 card-shadow">
                            <div class="project-list row">
                                <div class="project-img">
                                    <div class="project-img-thumb position-relative" style="background-image:url(<%= project.cover_photo&.url || (asset_path 'project-item-image.jpg') %>)">
                                    
                                    <% interest = current_user.interested_projects.in(status: %w(subscribed approved)).where(project_id: project.id).presence %>
                                    <%= link_to_unless interest.present?, '<i class="fa fa-heart fill-theme"></i>'.html_safe, admin_user_interested_projects_path(current_user, interested_project: {project_id: project.id, event: 'subscribe'}), method: :post, class: 'like-prjt-btn border' do |name|
                                        '<span class="like-prjt-btn border"><i class="fa fa-heart fill-danger"></i></span>'.html_safe
                                      end
                                    %>
                                    </div>
                                    <p class="img-tag bg-danger"><i class="fa fa-fire fill-white"></i><%= project.category&.first&.titleize || 'Just Launch' %></p>
                                        <% if project.hot?%>
                                        <p class="img-tag bg-danger" style="top:65px"><i class="fa fa-fire fill-white"></i>Hot Selling</p>
                                        <% end %>
                                </div>
                                <div class="project-info">
                                    <div class="project-info-inner">
                                      <h2 class="prjt-title"><%= link_to_if current_user.active_channel_partner?, project.name, admin_project_path(project), class: 'text-white' %></h2>
                                      <p class="prjt-devlprs"><%= project.developer_name %></p>
                                      <p class="prjt-location"><i class="fa fa-map-marker-alt fill-white"></i><%= "#{project.micro_market}, #{project.city}" %></p>
                                    </div>
                                    <div class="project-info-outer px-3">
                                        <div class="row">
                                            <div class="col-lg-12 pe-2 ps-2">
                                              <div class="list-txt project-desc mb-0"><%= project.description&.html_safe %></div>
                                              <!--
                                              <div id="projectDescCarousel_<%= index %>" class="projectDescCarousel carousel slide position-relative" data-bs-ride="carousel">
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <h2 class="fn-14 font-medium theme-txt-color">Deal for you </h2>
                                                        <div class="list-txt project-desc mb-0" title="<%= project.description&.html_safe rescue '' %>">
                                                            <%= project.description&.html_safe %>
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <h2 class="fn-14 font-medium theme-txt-color">Deal for Customers</h2>
                                                        <div class="list-txt project-desc mb-0" title="<%= project.description&.html_safe rescue '' %>">
                                                            <%= project.description&.html_safe %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="carousel-control-prev position-absolute top-0" type="button" data-bs-target="#projectDescCarousel_<%= index %>" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next position-absolute top-0 end-0" type="button" data-bs-target="#projectDescCarousel_<%= index %>" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                              </div>
                                              -->
                                              <!-- <p class="list-txt project-desc mb-0">2.5% Brokerage incentive on bookings made within the first week of the launch date</p> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
                </div>
                <% else%>
                <div class="col-12 py-4 mt-2 float-start"></div>
                <% end %>
            </div>
            <div class="col-lg-4 prjt-right-panel px-3 mt-1 mb-5">
            <div class="row">
                <div class="col-12">
                    <div class="card br-rd-8 card-shadow no-br mt-3 opportunity-card prjt-details-header-stats pb-2">
                        <div class="prjt-inner-stats row right-stats mt-3 px-2">
                          <%= render 'lead_stats', project: @project %>
                        </div>
                    </div>
                </div>
            </div>
                <div class="card br-rd-8 card-shadow no-br mt-3 opportunity-card">
                    <div class="row">
                        <div class="col-md-12 pt-3 px-4">
                            <h3 class="card-title">Benefits for You</h3>
                            <ul class="project-list list-unstyled row mb-0 pb-1">
                                <li class="px-3 mb-2">
                                    <div class="list-wrap row">
                                        <div class="col-lg-6 col-8 pe-0">
                                            <p class="list-txt mb-0">Site Visit Incentive</p>
                                        </div>
                                        <div class="col-lg-6 col-4 ps-0">
                                          <%= @project.sv_incentive.present? ? "<h2 class='fn-18 mb-0 text-end'>#{number_to_indian_currency(@project.sv_incentive)}</h2>".html_safe : "<h2 class='fn-14 mb-0 text-end'>Coming Soon</h2>".html_safe %></h2>
                                        </div>
                                    </div>
                                </li>
                                <li class="px-3 mb-2">
                                    <div class="list-wrap row">
                                        <div class="col-lg-6 col-8 pe-0">
                                           <p class="list-txt mb-0">Spot Booking Incentive</p>
                                        </div>
                                        <div class="col-lg-6 col-4 ps-0">
                                          <h2 class="fn-18 mb-0 text-end"><%= @project.spot_booking_incentive.present? ? "<h2 class='fn-18 mb-0 text-end'>#{number_to_indian_currency(@project.spot_booking_incentive)}</h2>".html_safe : "<h2 class='fn-14 mb-0 text-end'>Coming Soon</h2>".html_safe %></h2>
                                        </div>
                                    </div>
                                </li>
                                <% if @project.pre_reg_incentive_percentage.present? and @project.pre_reg_min_bookings.present? %>
                                  <li class="px-3 mb-3">
                                      <div class="list-wrap row">
                                          <div class="col-lg-9 col-8 pe-0">
                                             <p class="list-txt mb-0">Pre-Registration Incentive<br><span class="fn-12 theme-txt-color">for min. <%= @project.pre_reg_min_bookings %> bookings</span></p>
                                          </div>
                                          <div class="col-lg-3 col-4 ps-0">
                                              <h2 class="fn-18 mb-0 text-end"><%= number_to_percentage(@project.pre_reg_incentive_percentage, precision: 0) %></h2>
                                          </div>
                                      </div>
                                  </li>
                                <% else %>
                                  <li class="px-3 mb-3">
                                      <div class="list-wrap row">
                                          <div class="col-lg-7 col-8 pe-0">
                                             <p class="list-txt mb-0">Pre-Registration Incentive</p>
                                          </div>
                                          <div class="col-lg-5 col-4 ps-0">
                                              <h2 class="fn-14 mb-0 text-end">Coming Soon</h2>
                                          </div>
                                      </div>
                                  </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
                <% if @incentive_scheme.present? %>
                  <div class="card br-rd-8 card-shadow no-br mt-3 opportunity-card">
                      <div class="row">
                          <div class="col-md-12 pt-3 px-4">
                              <h3 class="card-title">Brokerage Slabs</h3>
                              <table class="table">
                                <tr>
                                  <td colspan="2" class="text-left">Offer valid till : <b><%= @incentive_scheme.ends_on.strftime("%d/%m/%Y") %></b></td>
                                </tr>
                                <tr>
                                  <th>Booking Count</th>
                                  <th>Brokerage Percentage</th>
                                </tr>

                                <% @incentive_scheme.ladders.each do |ladder| %>
                                  <tr>
                                    <td><%= ladder.start_value %> - <%= ladder.end_value || 'plus' %></td>
                                    <td><%= ladder.payment_adjustment.formula.present? ? formula_to_human(ladder.payment_adjustment.formula) : ladder.payment_adjustment.absolute_value %></td>
                                  </tr>
                                <% end %>
                              </table>
                          </div>
                      </div>
                  </div>
                <% end %>
            <div class="card br-rd-8 card-shadow no-br mt-3 opportunity-card mb-5">
                    <div class="row">
                        <div class="col-md-12 pt-3 px-4">
                            <h3 class="card-title">Support Contact Details</h3>
                            <ul class="project-list list-unstyled row mb-0 pb-1">
                                <li class="px-3 mb-2">
                                    <div class="list-wrap row">
                                        <div class="col-lg-6 col-8 pe-0">
                                            <p class="list-txt mb-0"><%= t('mongoid.attributes.project.support_name')%></p>
                                        </div>
                                        <div class="col-lg-6 col-4 ps-0">
                                          <h2 class='fn-14 mb-0 text-end'><%= @project.support_name.present? ? @project.support_name : 'NA' %></h2>
                                        </div>
                                    </div>
                                </li>
                                <li class="px-3 mb-2">
                                    <div class="list-wrap row">
                                        <div class="col-lg-6 col-8 pe-0">
                                           <p class="list-txt mb-0"><%= t('mongoid.attributes.project.support_phone')%></p>
                                        </div>
                                        <div class="col-lg-6 col-4 ps-0">
                                          <h2 class="fn-14 mb-0 text-end"><%= @project.support_phone.present? ? @project.support_phone : 'NA' %></h2>
                                        </div>
                                    </div>
                                </li>
                                <li class="px-3 mb-2">
                                    <div class="list-wrap row">
                                        <div class="col-lg-6 col-8 pe-0">
                                           <p class="list-txt mb-0"><%= t('mongoid.attributes.project.support_mail')%></p>
                                        </div>
                                        <div class="col-lg-6 col-4 ps-0">
                                          <h2 class="fn-14 mb-0 text-end"><%= @project.support_mail.present? ? @project.support_mail : 'NA' %></h2>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--
                <div class="card br-rd-8 card-shadow no-br mt-3 opportunity-card">
                    <div class="row">
                        <div class="col-md-12 pt-3 px-4">
                            <h3 class="card-title">Channel Partner Opportunities(3)</h3>
                            <ul class="project-list list-unstyled row mb-0 pb-1">
                                <li class="px-3 mb-3">
                                    <div class="list-wrap row">
                                        <div class="col-lg-1">
                                            <i class="fa fa-fire fill-danger fa-sm"></i>
                                        </div>
                                        <div class="col-lg-11">
                                            <p class="list-txt mb-0">Flat 3.5% off on properties booked between the Mar 28, 2021 to Apr 1, 2020</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="px-3 mb-3">
                                    <div class="list-wrap row">
                                        <div class="col-lg-1">
                                            <i class="fa fa-fire fill-warning fa-sm"></i>
                                        </div>
                                        <div class="col-lg-11">
                                            <p class="list-txt mb-0">Flat 3.5% off on properties booked between the Mar 28, 2021 to Apr 1, 2020</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="right-box-footer py-2 text-center">
                                <a href="javascript:;" class="fn-12 text-primary">View More</a>
                            </div>
                           <div class="right-box-footer py-3">
                              <p class="mt-2"><%= InterestedProject.in(status: %w(subscribed approved)).where(project_id: @project.id).count %> partners are interested</p>

                                <% if !interest && allow_interest_subscription?(@project) %>
                                  <%= link_to "I am interested!", admin_user_interested_projects_path(current_user, interested_project: {project_id: @project.id, event: 'subscribe'}), method: :post, class: 'btn-primary theme-btn float-end mb-3' %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                -->
              
                <% if @project.offers.present? %>
                <div class="card br-rd-8 card-shadow no-br mt-3 opportunity-card">
                    <div class="row">
                        <div class="col-md-12 pt-3 px-4">
                            <h3 class="card-title">Customers offers</h3>
                            <ul class="project-list list-unstyled row mb-0 pb-1">
                              <% @project.offers.each do |offer| %>
                                <li class="px-3">
                                    <div class="list-wrap row">
                                        <div class="col-lg-12">
                                          <p class="list-title mt-2">From <%= offer.provided_by&.titleize %></p>
                                        </div>
                                        <div class="col-lg-1">
                                            <i class="fa fa-badge-percent fill-success fa-sm align-text-top"></i>
                                        </div>
                                        <div class="col-lg-11">
                                          <p class="list-txt mb-0"><%= offer.short_description %></p>
                                        </div>
                                    </div>
                                </li>
                              <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" id="galleryModal" aria-labelledby="galleryModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="gallerySlider" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                        <% @assets = @project.assets.where(document_type: "images") %>
                        <% @assets.each_with_index do |asset, index|%>
                            <div class="carousel-item <%= (index == 0) ? "active" : "" %>">
                                <img src="<%= asset.file.url %>" class="d-block w-100 img-fluid" alt="">
                            </div>
                        <% end %>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#gallerySlider" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#gallerySlider" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="configurationModal" aria-labelledby="galleryModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="gallerySlider" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                        <% @assets = @project.assets.where(document_type: "images") %>
                        <% @assets.each_with_index do |asset, index|%>
                            <div class="carousel-item <%= (index == 0) ? "active" : "" %>">
                                <img src="<%= asset.file.url %>" class="d-block w-100 img-fluid" alt="">
                            </div>
                        <% end %>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#gallerySlider" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#gallerySlider" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= javascript_tag do %>
 var header = $("body");
  $(window).scroll(function () {
    var windowScroll = $(window).scrollTop();
    var menuScroll = $('.prjt-menu').offset().top - 80;
    if (windowScroll >= menuScroll) {
      header.addClass("fixed-subheader");
    }
    if (windowScroll <= 225) {
      header.removeClass("fixed-subheader");
    }
  });
<% end %>
