<div class="table-responsive">
  <table class='table striped-table'>
    <thead class="th-default">
      <tr>
        <th><%= User.human_attribute_name('name') %></th>
        <th><%= User.human_attribute_name('role') %></th>
        <th><%= User.human_attribute_name('confirmed_at') %></th>
        <th><%= User.human_attribute_name('created_at') %></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td>
            <%= user.name %>
            <div class="small">
              <%= user.email || "" %> <br/>
              <%= user.phone || "" %> <br/>
            </div>
          </td>
          <td><%= User.human_attribute_namet("role.#{user.role}") %></td>
          <td><%= User.human_attribute_name("confirmed.#{user.confirmed_at.present?}") %> </td>
          <td><%= user.created_at.strftime(t('date.formats.default'))%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate users, list_classes: %w(pagination justify-content-center) %>
