<div class="dropdown text-center float-right">
  <a class="btn table-dropdown-btn <%= color %>-clr" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    <% if policy([:admin, variable_incentive_scheme]).edit? %>
      <%= link_to t('helpers.edit.link_name', model: VariableIncentiveScheme.model_name.human), edit_admin_variable_incentive_scheme_path(variable_incentive_scheme), class: 'dropdown-item modal-remote-form-link' %>
    <% end %>
    <%= link_to t('helpers.show.link_name', model: VariableIncentiveScheme.model_name.human), admin_variable_incentive_scheme_path(variable_incentive_scheme), class: 'dropdown-item' %>
    <% if policy([:admin, variable_incentive_scheme]).end_scheme? %>
      <%= link_to t('controller.variable_incentive_schemes.end_scheme.link_name'), end_scheme_admin_variable_incentive_scheme_path(variable_incentive_scheme), class: 'dropdown-item modal-remote-form-link' %>
    <% end %>
    <% if policy([:admin, variable_incentive_scheme]).choose_template_for_print? %>
      <%= link_to t('controller.templates.choose_template_for_print.link_name'), choose_template_for_print_admin_custom_templates_path(subject_class: variable_incentive_scheme.class.model_name.i18n_key.to_s, subject_class_id: variable_incentive_scheme.id.to_s), class: 'dropdown-item modal-remote-form-link' %>
    <% end %>
  </div>
</div>
