<div class="modal fade right fixed-header-footer" role="dialog" id="floor_plan_modal_<%= project_unit.id %>">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gradient-cd white">
        <div class="title ">Images</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="project_unit_gallery_<%= project_unit.id %>" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">'
            <% project_unit.assets.each_with_index do |asset, index| %>
              <li data-target="#project_unit_gallery_<%= project_unit.id %>" data-slide-to="<%= index %>" class="<%= index.zero? ? "active" : "" %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% project_unit.assets.each_with_index do |asset, index| %>
              <div class="carousel-item <%= index.zero? ? "active" : "" %>">
                <%= image_tag asset.file.url || '', class: 'd-block w-100' %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#project_unit_gallery_<%= project_unit.id %>" role="button" data-slide="prev">
            <span class="fas fa-chevron-left text-dark" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#project_unit_gallery_<%= project_unit.id %>" role="button" data-slide="next">
            <span class="fas fa-chevron-right text-dark" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>