<section class="mt-0">
  <div class="px-0">
    <div class="row g-0">
        <div class="col-lg-12 p-0">
          <% project_units.each do |project_unit| %>
          <div class="bg-white rounded-3 float-start wd-100 mt-4 shadow-sm position-relative">
            <div class="float-start wd-100">
              <div class="">
                <div>
                  <div class="inner-info d-flex justify-content-between">
                    <div class="ps-3 py-3">
                      <p class="fn-16 font-medium theme-txt-color mb-0 pt-2"><%= project_unit.project_tower_name %> | <%= project_unit.project_name %> <span class="mx-2">-</span><span class="font-normal">Beds/Baths: <%= project_unit.bedrooms %> / <%= project_unit.bathrooms %></span></p>
                     
                    </div>
                    <div class="pe-3 py-3">
                      <div class="dropdown d-inline-block">
                        <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-v theme-txt-color" aria-hidden="true"></i></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <%= render "#{current_user_role_group}/project_units/links", project_unit: project_unit %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="border-bottom col-12"></div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="ps-3 py-3">
                    <p class="mb-0 theme-txt-color mb-0 font-medium"><%= link_to project_unit.name, [current_user_role_group, project_unit], class: "theme-txt-color" %></p>
                  </div>
                  <div class="inner-info">
                    <div class="pe-3 py-3  d-flex justify-content-end">
                      <p class="fn-16 secondary mb-0 font-medium"><span class="txt-light-blue">Agreement Value:</span> <span class="theme-txt-color"><%= number_to_indian_currency(project_unit.calculate_agreement_price.round) %></span></p>
                      <span class="txt-light-blue mx-3">| </span>
                      <p class="font-medium fn-14 mb-0 theme-txt-color mb-0"><i class='fa fa-circle status_<%= t("mongoid.attributes.project_unit/status.#{project_unit.status}").downcase.gsub(' ', '_') %>  me-2 fa-sm'></i><%= t("mongoid.attributes.project_unit/status.#{project_unit.status}") %></p>
                      
                    </div>
                  </div>
                </div>
            </div>
            </div>
          </div>
            
            <% end %>
          </div>

        <!----------- Pagination ---------->
        <div class="col-lg-12 py-3 bg-white mb-2 px-3 mt-3 shadow-sm">
          <div class="row">
            <div class="col-lg-6 pt-2">
              <p class="table-entry mb-0">Showing 1 - 5 of <%= @project_units.total_entries %> items</p>
            </div>
            <div class="col-lg-6 table-pagination">
              <%= will_paginate project_units, list_classes: %w(pagination justify-content-end) %>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!--
<section class="mt-0">
  <div class="px-0">
    <div class="row g-0">
      <div class="col-lg-12 p-0">
        <% project_units.each do |project_unit| %>
        <div class="bg-white rounded-3 float-start wd-100 mt-4 shadow-sm position-relative">
          <div class="float-start wd-100">
            <div class="d-flex justify-content-between">
              <div>
                <div class="inner-info">
                  <div class="text-center float-start letter-sort-nm bg-primary-light">
                    <span class="position-absolute top-50 start-50 translate-middle primary fn-24 font-medium">SM</span>
                  </div>
                  <div class="ps-3 py-3 float-start">
                    <h2 class="fn-18 font-normal">
                      <%= link_to project_unit.name, [current_user_role_group, project_unit], class: "primary" %>
                    </h2>
                    <p class="fn-14 mt-1 mb-1">
                      <span class="title text-muted"><%= Project.model_name.human %> :</span>
                      <%= project_unit.project_name %>
                    </p>
                    <p class="fn-14 mt-1 mb-0">
                      <span class="title text-muted"><%= ProjectTower.model_name.human %> :</span>
                      <%= project_unit.project_tower_name %>
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <div class="row ht-inner-col-150">
                  <div class="col border-start py-3 px-3 wd-150 position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle w-75">
                      <p class="font-medium fn-14 mb-0"><%= project_unit.bedrooms %> / <%= project_unit.bathrooms %></p>
                      <p class="fn-12 mb-0"><%= t('mongoid.attributes.project_unit.bedrooms') %> /
                        <%= t('mongoid.attributes.project_unit.bathrooms') %></p>
                    </div>
                  </div>

                  <div class="col border-start py-3 px-3 wd-150 position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle w-75">
                      <p class="font-medium fn-14 mb-0">
                        <%= t("mongoid.attributes.project_unit/status.#{project_unit.status}") %>
                        <% if project_unit.not_available? && project_unit.comments.present? %>
                        <span class="status" data-content="<%= comment(project_unit) %>"><i class="fa fa-comments"
                            aria-hidden="true"></i></span>
                        <% end %>
                      </p>
                      <p class="fn-12 mb-0"><%= t('mongoid.attributes.project_unit.status') %></p>
                    </div>
                  </div>
                  <div class="col border-start py-3 px-3 pe-5 col-lg-wd ht-100 position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle px-3 w-100">
                      <p class="font-medium fn-14 mb-0">
                        <% if project_unit.blocked? %>
                        <span class="col-title">
                          <%= number_to_indian_currency(project_unit.calculate_agreement_price.round) %>
                        </span>
                        <div class="small row">
                          <span class="col-8">
                            <%= t('mongoid.attributes.project_unit.all_inclusive_price') %> :</span>
                          <span class="col-4">
                            <%=  number_to_indian_currency(project_unit.calculate_all_inclusive_price.round) %>
                          </span>
                        </div>
                        <div class="small row">
                          <span class="col-8">
                            <%= t('mongoid.attributes.project_unit.paid_amount') %> :
                          </span>
                          <span class="col-4">
                            <%= project_unit.booking_detail.present? ? number_to_indian_currency(project_unit.booking_detail.total_amount_paid) : number_to_indian_currency(0) %>
                          </span>
                        </div>
                        <div class="small row">
                          <span class="col-8">
                            <%= t('mongoid.attributes.project_unit.booking_pending_amount') %>:
                          </span>
                          <span class="col-4">
                            <%= project_unit.booking_detail.present? ? number_to_indian_currency(project_unit.booking_detail.pending_balance.to_i) : number_to_indian_currency(project_unit.booking_price) %>
                          </span>
                        </div>
                        <% else %>
                        --
                        <% end %>
                      </p>
                      <p class="fn-12 mb-0"><%= t('mongoid.attributes.project_unit.agreement_price') %></p>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="position-absolute custom-top-10 custom-end-20">
            <div class="dropdown">
              <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-ellipsis-v primary" aria-hidden="true"></i></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <%= render "#{current_user_role_group}/project_units/links", project_unit: project_unit %>
              </div>
            </div>
          </div>
        </div>

        <% end %>
      </div>

      <div class="col-lg-12 py-3 bg-white mb-2 px-3 mt-3 shadow-sm">
        <div class="row">
          <div class="col-lg-6 pt-2">
            <p class="table-entry mb-0">Showing 1 - 5 of <%= @project_units.total_entries %> items</p>
          </div>
          <div class="col-lg-6 table-pagination">
            <%= will_paginate project_units, list_classes: %w(pagination justify-content-end) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->