<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <thead>
      <tr class="bg-gradient-cd white">
        <th><%= t('mongoid.attributes.project_unit.name') %></th>
        <th><%= t('mongoid.attributes.project_unit.bedrooms') %> / <%= t('mongoid.attributes.project_unit.bathrooms') %></th>
        <th><%= t('mongoid.attributes.project_unit.status') %></th>
        <th><%= t('mongoid.attributes.project_unit.aggrement_price') %></th>
        <th class="text-right"> <%= t('global.action', count: 2) %></th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% project_units.each do |project_unit| %>
      <tr>
        <td>
          <%= link_to project_unit.name, [current_user_role_group, project_unit] %>
          <div class="small">
            <%= Project.model_name.human %> : <%= project_unit.project_name %>
          </div>
          <div class="small">
            <%= ProjectTower.model_name.human %> : <%= project_unit.project_tower_name %>
          </div>
        </td>
        <td><%= project_unit.bedrooms %> / <%= project_unit.bathrooms %></td>
        <td  value='<%= project_unit.status %>'>
          <%= t("mongoid.attributes.project_unit/status.#{project_unit.status}") %>
          <% if project_unit.not_available? && project_unit.comments.present? %>
            <span class="status" data-content="<%= comment(project_unit) %>"><i class="fa fa-comments" aria-hidden="true"></i></span>
          <% end %>
        </td>
        <td>
          <% if project_unit.blocked? %>
            <%= number_to_indian_currency(project_unit.calculate_agreement_price.round) %>
            <div class="small">
              <%= t('mongoid.attributes.project_unit.all_inclusive_price') %> :
              <%=  number_to_indian_currency(project_unit.calculate_all_inclusive_price.round) %>
            </div>
            <div class="small">
              <%= t('mongoid.attributes.project_unit.paid_amount') %> :
              <%= project_unit.booking_detail.present? ? number_to_indian_currency(project_unit.booking_detail.total_amount_paid) : number_to_indian_currency(0) %>
            </div>
            <div class="small">
              <%= t('mongoid.attributes.project_unit.booking_pending_amount') %>:
              <%= project_unit.booking_detail.present? ? number_to_indian_currency(project_unit.booking_detail.pending_balance.to_i) : number_to_indian_currency(project_unit.booking_price) %>
            </div>
          <% else %>
            --
          <% end %>
        </td>
        <td>
          <div class="dropdown show text-right">
            <a class="btn dropdown-toggle table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <%= render "#{current_user_role_group}/project_units/links", project_unit: project_unit %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pb-2">
  <%= will_paginate project_units, list_classes: %w(pagination justify-content-center) %>
</div>
