<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <%= render 'breadcrumbs', {sms: @sms} %>
      <div class="card">
        <div class="card-header">Sms</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>To</label>
                <div>
                  <%= current_user.phone %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Status</label>
                <div>
                  <%= @sms.status.present? ? @sms.status : '-' %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Sent On</label>
                <div>
                  <%= @sms.sent_on.present? ? @sms.sent_on.strftime("%d/%m/%Y") : '-' %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div>
                  <%= @sms.body %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
