<% labels = t('mongoid.attributes.checklist').with_indifferent_access %>
<section class="mt-0">
  <div class="px-0">
    <div class="row g-0">
      <div class="col-lg-12 p-0">
        <% checklists.each do |checklist| %>
        <div class="white rounded-3 float-start wd-100 mt-4 shadow-sm position-relative">
          <div class="float-start wd-100">
            <div class="d-flex justify-content-between">
              <div>
                <div class="inner-info">
                  <div class="text-center float-start letter-sort-nm bg-primary-light">
                    <span class="position-absolute top-50 start-50 translate-middle primary fn-24 font-medium">SM</span>
                  </div>
                  <div class="ps-3 py-3 float-start">
                    <p class="font-medium fn-14 mb-0">
                      <%= checklist.name %>
                    </p>
                    <p class="fn-12 mb-0"><%= labels['name'] %></p>
                  </div>
                </div>
              </div>
              <div>
                <div class="row ht-inner-col-150">

                  <div class="col border-start py-3 px-3 wd-150 position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle w-75">
                      <p class="font-medium fn-14 mb-0"> <%= checklist.key %></p>
                      <p class="fn-12 mb-0"><%= labels['key'] %></p>
                    </div>
                  </div>

                  <div class="col border-start py-3 px-3 wd-150 position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle w-75">
                      <p class="font-medium fn-14 mb-0"><%= checklist.tracked_by.try(:titleize) %></p>
                      <p class="fn-12 mb-0"><%= labels['tracked_by'] %></p>
                    </div>
                  </div>

                  <div class="col border-start py-3 px-3 wd-150 position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle w-75">
                      <p class="font-medium fn-14 mb-0"><%= checklist.order %></p>
                      <p class="fn-12 mb-0"><%= labels['order'] %></p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="position-absolute custom-top-10 custom-end-20">
            <div class="dropdown">
              <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-ellipsis-v primary" aria-hidden="true"></i></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <% if policy([:admin, checklist]).edit? %>
                <%= link_to I18n.t("global.edit"), edit_admin_checklist_path(checklist), class: 'dropdown-item modal-remote-form-link' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-lg-12 py-3 bg-white mb-2 px-2">
        <div class="row">
          <div class="col-lg-6">
            <p class="table-entry mb-0 ps-2 pt-2"><%= page_entries_info checklists %></p>
          </div>
          <div class="col-lg-6 table-pagination">
            <%= will_paginate checklists, list_classes: %w(pagination justify-content-end) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>