<div class="card h-100">
  <div class="card-body">
    <%= form_tag admin_schemes_path, method: "get", id: "scheme_search_form" do %>
      <div class="form-group">
        <%= label_tag "", 'Filters', class: "control-label d-block d-lg-inline" %>
        <%= submit_tag :Apply, class: "btn btn-primary btn-sm float-lg-right" %>
      </div>
      <div class="clearfix"></div>
      <hr/>
      <div class="form-group">
        <%= label_tag "fltrs", "Name", class: "control-label" %>
        <%= select_tag "fltrs[name]", options_for_select(Scheme.all.collect(&:name).collect{|x| [x.to_s.titleize, x.to_s]}, (params[:fltrs].present? ? params[:fltrs][:name] : "")), {prompt: "Select", class: "selectize"} %>
      </div>
      <div class="form-group">
        <%= label_tag "fltrs", "status", class: "control-label" %>
        <%= select_tag "fltrs[status]", options_for_select(Scheme.aasm.states.collect(&:name).collect{|x| [x.to_s.titleize, x.to_s]}, (params[:fltrs].present? ? params[:fltrs][:status] : "")), {prompt: "Select", class: "selectize"} %>
      </div>
      <div class="form-group">
        <%= label_tag "fltrs", "can be applied by", class: "control-label" %>
        <%= select_tag "fltrs[can_be_applied_by]", options_for_select(Scheme.all.distinct(:can_be_applied_by).collect{|x| [x.to_s.titleize, x.to_s]}, (params[:fltrs].present? ? params[:fltrs][:can_be_applied_by] : "")), {prompt: "Select", class: "selectize"} %>
      </div>
      <div class="form-group">
        <%= label_tag "fltrs", "Customer Role", class: "control-label" %>
        <%= select_tag "fltrs[user_role]", options_for_select(Scheme.all.distinct(:user_role).flatten.collect{|x| [x.to_s.titleize, x.to_s]}, (params[:fltrs].present? ? params[:fltrs][:user_role] : "")), {prompt: "Select", class: "selectize"} %>
      </div>
      <div class="form-group">
        <%= label_tag "fltrs", "project tower", class: "control-label" %>
        <%= select_tag "fltrs[project_tower]", options_for_select(ProjectTower.all.map{|f| [f.name, f.id]}, (params[:fltrs].present? ? params[:fltrs][:project_tower] : "")), {prompt: "Select", class: "selectize"} %>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#scheme_search_form"));
  });
<% end %>
