<%= nested_form_for([:admin, @scheme], local: true, remote: true, html: {class: 'modal-remote-form validate-form', "data-resource-type": global_labels['schemes'], "data-type": "json", id: 'scheme_form'}) do |f| %>
<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gradient-cd white">
        <h3 class="title"><%= t("controller.schemes.#{action_name}.link_name") %></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :name, class: 'label-required' %>
          <%= f.text_field :name, autofocus: true, class: "form-control", required: 'required', disabled: !policy([:admin, @scheme]).editable_field?("name") %>
        </div>
        <div class="form-group">
          <%= f.label :project_id, class: 'label-required' %>
          <%= f.select :project_id, options_for_select(Project.all.collect{|p| [p.name, p.id ]}, (f.object.new_record? ? Project.first.id : f.object.project_id)) , {prompt: true}, class: 'selectize project_select', required: 'required', disabled: !policy([:admin, @scheme]).editable_field?("project_id") %>
        </div>
        <div class="form-group">
          <%= f.label :project_tower_id, class: 'label-required' %>
          <%= f.select :project_tower_id, ProjectTower.all.collect{|pt| [pt.name, pt.id ]} , {prompt: true}, class: 'selectize project_tower_select', required: 'required', disabled: !policy([:admin, @scheme]).editable_field?("project_tower_id"), data: { url: admin_project_towers_path } %>
        </div>
        <div class="form-group">
          <%= f.label :user_role, class: 'control-label' %>
          <%= f.select :user_role, User.available_roles(current_client).select{|role| User.buyer_roles(current_client).include?(role)}.collect{|x| [ t("mongois.attributes.user/role.#{x}"), x] }, {prompt: true}, class: 'selectize', disabled: !policy([:admin, @scheme]).editable_field?("user_role") %>
        </div>
        <div class="form-group">
          <%= f.label :user, class: 'control-label' %>
          <%= f.select :user_ids, options_from_collection_for_select(User.where(role: 'user'), "id", "ds_name", f.object.user_ids), {prompt: true}, multiple: "multiple", class: "selectize-remote", data: { url: admin_users_path, params: {fltrs: {role: {"$eq": 'user' } } } } %>
        </div>

        <div class="form-group">
          <%= f.label :can_be_applied_by, class: '' %>
          <%= f.select :can_be_applied_by, filter_user_role_options, {prompt: true}, class: 'selectize', multiple: "multiple", disabled: !policy([:admin, @scheme]).editable_field?("can_be_applied_by") %>
        </div>
        <div class="form-group">
          <%= f.label :default_for_users, class: 'control-label' %>
          <%= f.select :default_for_user_ids, options_from_collection_for_select(User.where(role: 'channel_partner'), "id", "ds_name", f.object.default_for_user_ids), {prompt: true}, multiple: "multiple", class: "selectize-remote", data: { url: admin_users_path, params: {fltrs: {role: {"$eq": 'channel_partner' } } } } %>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :payment_schedule_template_id, class: 'label-required' %>
              <%= f.select :payment_schedule_template_id, ::Template::PaymentScheduleTemplate.where(booking_portal_client_id: current_client.id).collect{|x| [x.name, x.id]}, {}, class: "selectize", disabled: !policy([:admin, @scheme]).editable_field?("payment_schedule_template_id") %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :cost_sheet_template_id, class: 'label-required' %>
              <%= f.select :cost_sheet_template_id, ::Template::CostSheetTemplate.where(booking_portal_client_id: current_client.id).collect{|x| [x.name, x.id]}, {}, class: "selectize", disabled: !policy([:admin, @scheme]).editable_field?("cost_sheet_template_id") %>
            </div>
          </div>
        </div>
        <div class="payment-adjustments">
          <% editable_payment_adjustment = policy([:admin, @scheme]).editable_field?("payment_adjustments_attributes")%>
          <% if editable_payment_adjustment %>
            <%= f.link_to_add "Add", :payment_adjustments, :data => { :target => ".payment-adjustments" } %>
          <% end %>
          <%= f.fields_for :payment_adjustments do |adj|%>
            <% if editable_payment_adjustment %>
              <%= adj.link_to_remove icon("far", "times-circle") %>
            <% end %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= adj.label :name, class: 'label-required' %>
                  <%= adj.text_field :name, class: "form-control", required: 'required', disabled: !editable_payment_adjustment %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= adj.label :field, class: 'label-required' %>
                  <%= adj.select :field, Scheme::FIELDS.collect{|sf| [t("mongoid.attributes.payment_adjustment/field.#{sf}"), sf]}, {prompt: true}, class: 'selectize-tags', disabled: !editable_payment_adjustment %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= adj.label :absolute_value, class: 'label-required' %>
              <%= adj.number_field :absolute_value, class: "form-control", disabled: !editable_payment_adjustment %>
              <p class="small text-muted">Total Adjustment will be calculated as Rs. (saleable) * (scheme mentioned here)</p>
            </div>
            <div class="form-group">
              <%= adj.label :formula, class: 'label-required' %>
              <%= adj.text_field :formula, class: "form-control", disabled: !editable_payment_adjustment %>
              <p class="small text-muted">Total Adjustment will be calculated as Rs. (saleable) * (scheme mentioned here)</p>
            </div>
          <% end %>
        </div>
        <% if policy([:admin, @scheme]).editable_field?("event") %>
          <div class="form-group">
            <%= f.label :status, class: 'label-required' %>
            <%
              events = @scheme.aasm.events(permitted: true).collect{|x| x.name.to_s}
              events = events.collect{|x| [x.to_s.titleize, x.to_s] }
            %>
            <%= f.select :event, options_for_select(events, @scheme.status), {prompt: true}, class: 'selectize', required: "required" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  $('#scheme_user_role').change(function(){
    var $select = $("#scheme_user_ids").selectize();
    var selectize = $select[0].selectize;
    selectize.setValue('');
    selectize.clearOptions();
    var filter = $("#scheme_user_ids").data('params')
    filter.fltrs.role.$eq = $(this).val()
    $("#scheme_user_ids").data('params', filter)
  });
  FormInitializer.init($("#scheme_form"));
});
<% end %>
