<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <% labels = t('mongoid.attributes.scheme').with_indifferent_access %>
      <thead>
        <tr class="bg-gradient-cd white">
          <th><%= labels['name'] %></th>
          <th><%= labels['status'] %></th>
          <th>Actions</th>
        </tr>
      </thead>
  </thead>
  <tbody>
    <% schemes.each do |scheme| %>
      <tr>
        <td>
          <%= scheme.name %>
          <div class="small">
            Created:
            <%= scheme.created_by.present? ? scheme.created_by.name : '-' %>
          </div>
          <div class="small">
            Approval:
            <%= scheme.approved_by.present? ? "#{scheme.approved_by.name} at #{scheme.approved_at.present? ? l(scheme.approved_at.in_time_zone(current_user.time_zone)) : '-'}".html_safe : '-' %>
          </div>
        </td>
        <td><%= scheme.status.titleize %></td>
        <td>
          <div class="dropdown show text-right">
          <a class="btn dropdown-toggle table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <% if Admin::SchemePolicy.new(current_user, scheme).edit? %>
                <%= link_to 'Edit', edit_admin_scheme_path(scheme), class: 'dropdown-item modal-remote-form-link' %>
              <% end %>
           </div>
        </div>
        </td>
      </tr>
      <% end %>
      <tr>
      <td colspan="6">
        <div class="mt-5 pt-5"></div>
      </td>
    </tr>
  </tbody>
</table>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pt-2">
  <%= will_paginate schemes, list_classes: %w(pagination justify-content-center) %>
</div>
