<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-title pt-1">
          <i class="fa fa-percent"></i><h1 class="title"><%= @schemes.total_entries %> <%= Scheme.model_name.human(count: @schemes.total_entries ) %></h1>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-btn-set float-right pb-3">
          <% if policy([:admin, Scheme]).new? %>
            <%= link_to "Add #{global_labels['scheme']}", new_admin_scheme_path, class: 'db-small-btn light-blue bg-white fn-400 modal-remote-form-link btn unset-width' %>
          <% end %>
          <button class="db-filter-btn white fn-500" type="button"><img src="<%= asset_path 'filter-light-blue.svg' %>" alt="filter icon"></button>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <%= render 'index', { schemes: @schemes } %>
          <div class="filter-box">
            <%= render "filters" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
