<% content_for :secondary_nav do %>
<nav aria-label="breadcrumb" class="pl-0 pr-0" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= user_home_path(current_user) %>">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Settings Management</li>
  </ol>
</nav>
<% end %>
<% content_for :selldo_tour do %>
  <button class="float-right border btn btn-secondary btn-sm selldo-tour" data-tour-id="SettingsDashboard">Take a tour</button>
<% end %>
<div class="row">
  <div class="col-lg-9 page-container">
    <div class="row continuous-row">
      <% if can? :manage, User%>
        <div class="col-lg-3">
          <a href="<%= users_client_dashboard_path %>">
            <div class="card text-center h-100">
              <div class="card-body">
                <h1><i class="ion-person-stalker text-secondary"></i></h1>
                <span class="text-capitalize">user management</span>
                <p class="small pt-1 help-block">Add users, manage their teams and hierarchy.</p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
      <% if can? :read, Invoice %>
        <div class="col-lg-3">
          <a href="<%= billing_client_dashboard_path %>">
            <div class="card text-center h-100">
              <div class="card-body">
                <h1><i class="ion-card text-secondary"></i></h1>
                <span class="text-capitalize">billing</span>
                <p class="small pt-1 help-block">Download your Invoices & check your dues.</p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
      <% if can? :manage, SearchCriterium %>
        <div class="col-lg-3">
          <a href="<%= client_search_criteria_path %>">
            <div class="card text-center h-100">
              <div class="card-body">
                <h1><i class="ion-ios-list text-secondary"></i></h1>
                <span class="text-capitalize">search lists</span>
                <p class="small pt-1 help-block">Use Smart Lists to segment your leads.</p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
      <% if can? :read, ClientConfiguration %>
        <div class="col-lg-3">
          <a href="<%= lead_settings_client_dashboard_path %>">
            <div class="card text-center h-100">
              <div class="card-body">
                <h1><i class="ion-ios-people text-secondary"></i></h1>
                <span class="text-capitalize">lead settings</span>
                <p class="small pt-1 help-block">Customise Lead forms, pipeline stages, manage lead access & more.</p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
      <% if can? :manage, BulkUpload %>
        <div class="col-lg-3">
          <a href="<%= client_bulk_uploads_path %>">
            <div class="card text-center h-100">
              <div class="card-body">
                <h1><i class="ion-share text-secondary ion-flip-horizontal"></i></h1>
                <span class="text-capitalize">import</span>
                <p class="small pt-1 help-block">Import your data in bulk.</p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
      <% if can? :export, Client%>
        <div class="col-lg-3">
          <a href="<%= export_client_dashboard_path %>">
            <div class="card text-center h-100">
              <div class="card-body">
                <h1><i class="ion-share text-secondary"></i></h1>
                <span class="text-capitalize">export</span>
                <p class="small pt-1 help-block">Download your leads, calls, activities & more.</p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
      <% if (can? :manage, Ivr)|| (can? :manage, IvrSetting) || (can? :manage, BulkAutoDialerJob) || (can? :manage, ClientConfiguration) %>
        <div class="col-lg-3">
            <a href="<%= telephony_settings_client_dashboard_path %>">
              <div class="card text-center h-100">
                <div class="card-body">
                  <h1><i class="ion-android-call text-secondary"></i></h1>
                  <span class="text-capitalize">telephony</span>
                  <p class="small pt-1 help-block">Setup & manage your telephony & IVR.</p>
                </div>
              </div>
            </a>
        </div>
      <% end %>
      <% if can? :manage, ChannelPartner %>
        <div class="col-lg-3">
          <a href="<%= client_channel_partners_path %>">
            <div class="card text-center h-100">
              <div class="card-body">
                <h1><i class="ion-android-walk text-secondary"></i></h1>
                <span class="text-capitalize">partners</span>
                <p class="small pt-1 help-block">Manage your Channel Partners.</p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
      <% if can? :manage, CommunicationConfiguration%>
        <div class="col-lg-3">
          <a href="<%= notifications_client_dashboard_path %>">
            <div class="card text-center h-100">
              <div class="card-body">
                <h1><i class="ion-android-notifications text-secondary"></i></h1>
                <span class="text-capitalize">notification settings</span>
                <p class="small pt-1 help-block">.</p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    <!-- v2_TODO need to check access -->
      <div class="col-lg-3">
        <a href="<%= third_party_accounts_client_dashboard_path %>">
          <div class="card text-center h-100">
            <div class="card-body">
              <h1><i class="ion-social-rss text-secondary"></i></h1>
              <span class="text-capitalize">3rd party accounts</span>
              <p class="small pt-1 help-block">Manage your social, email, analytics accounts.</p>
            </div>
          </div>
        </a>
      </div>
      <!-- end -->
      <% if can? :read, ClientConfiguration%>
        <div class="col-lg-3">
          <a class="modal-remote-form-link" href="<%= client_configuration_path(type: 'other') %>">
            <div class="card text-center h-100">
              <div class="card-body">
                <h1><i class="ion-gear-b text-secondary"></i></h1>
                <span class="text-capitalize">others</span>
                <p class="small pt-1 help-block">Common Configurations.</p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
      <% if can? :read, CustomField %>
        <div class="col-lg-3">
          <a href="<%= custom_fields_client_dashboard_path %>">
            <div class="card text-center h-100">
              <div class="card-body">
                <h1><i class="ion-android-checkbox-outline text-secondary"></i></h1>
                <span class="text-capitalize">custom fields</span>
                <p class="small pt-1 help-block">Customise your account with custom fields.</p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
      <% if can? :manage, IncentivePlan %>
        <div class="col-lg-3">
          <a href="<%= client_configuration_incentive_plans_path %>">
            <div class="card text-center h-100">
              <div class="card-body">
                <h1><i class="ion-social-usd text-secondary"></i></h1>
                <span class="text-capitalize">incentives</span>
                <p class="small pt-1 help-block">Manage Incentives for your users.</p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
      <% if can? :edit, Client %>
        <div class="col-lg-3">
          <a href="<%= edit_client_path %>">
            <div class="card text-center h-100">
              <div class="card-body">
                <h1><i class="ion-briefcase text-secondary"></i></h1>
                <span class="text-capitalize">company details</span>
                <p class="small pt-1 help-block">Manage your common company details.</p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
      <%if (can? :read, PreSalesConfiguration) || (can? :read, PostSalesConfiguration)%>
        <div class="col-lg-3">
          <a href="<%= pre_post_sales_client_dashboard_path %>">
            <div class="card text-center h-100">
              <div class="card-body">
                <h1><i class="ion-ios-flower text-secondary"></i></h1>
                <span class="text-capitalize">pre &amp; post sales</span>
                <p class="small pt-1 help-block">Manage pre-sales & post-sales configuration.</p>
              </div>
            </div>
          </a>
        </div>
      <%end%>
      <%if can? :manage, CustomReportingConfiguration %>
        <div class="col-lg-3">
          <a class="modal-remote-form-link" href="<%= custom_reporting_configurations_client_configuration_path %>">
            <div class="card text-center h-100">
              <div class="card-body">
                <h1><i class="ion-ios-flower text-secondary"></i></h1>
                <span class="text-capitalize">Configure your Custom Reports</span>
                <p class="small pt-1 help-block">Manage your custom reports.</p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
      <%if can? :manage, BookingsSearchCriterium %>
        <div class="col-lg-3">
          <a href="<%= client_bookings_search_criteria_path %>">
            <div class="card text-center h-100">
              <div class="card-body">
                <h1><i class="ion-ios-list text-secondary"></i></h1>
                <span class="text-capitalize"><%= tt[:lead][:booking] %> lists</span>
                <p class="small pt-1 help-block">Smart Lists for your customers.</p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
      <% if can?(:manage, CampaignTarget) || can?(:manage, UserTarget) %>
        <div class="col-lg-3">
          <a href="<%= targets_client_dashboard_path %>">
            <div class="card text-center h-100">
              <div class="card-body">
                <h1><i class="ion-pinpoint text-secondary"></i></h1>
                <span class="text-capitalize">targets</span>
                <p class="small pt-1 help-block">Add targets on user and campaigns</p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-lg-3 full-height bg-white vertical-nav-container" data-offeset-top="104">
    <div class="row pt-3">
      <div id="activity-label" class="col-lg-12">
        <label class="control-label">activity in the last 7 days</label>
        <div class="clearfix"></div>
        <span class="text-capitalize"><%= @active_users_count %> active users</span>
        <div class="clearfix"></div>
        <span class="text-capitalize"><%= @last_7_days_leads %> leads added</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div id="invoice-label" class="col-lg-12">
        <label class="control-label">Last invoice</label>
        <div class="clearfix"></div>
        <span class="text-capitalize">
          <% if @last_invoice.present? %>
            your last invoice for RS. <%= @last_invoice.total_cost %> was raised on <%= @last_invoice.created_at.in_time_zone(@client.time_zone) %>.
          <% else %>
            there is no invoice generated yet.
          <% end %>
        </span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div id="sales-apps-label" class="col-lg-12">
        <label class="control-label">out sales apps</label>
        <div class="clearfix"></div>
        <span class="text-capitalize">get our apps from play store and IOS devices.</span>
        <div class="row mt-2">
          <div class="col-lg-6">
            <a href="https://itunes.apple.com/us/app/sell-do/id1225486345?ls=1&mt=8" target="_blank">
              <%= image_tag "download-app-store.png", style: "width: 100%" %>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="https://play.google.com/store/apps/details?id=com.amura.selldo&hl=en" target="_blank">
              <%= image_tag "download-google-play.png", style: "width: 100%" %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
