<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <thead>
      <tr class="bg-gradient-cd white">
        <th><%= t('mongoid.attributes.api_log.request') %></th>
        <th><%= t('mongoid.attributes.api_log.request_url') %></th>
        <th><%= t('mongoid.attributes.api_log.response') %></th>
        <th><%= t('mongoid.attributes.api_log.status') %></th>
        <th><%= t('mongoid.attributes.api_log.message') %></th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% api_logs.each do |api_log| %>
      <tr>
        <td><%= api_log.request %></td>
        <td><%= api_log.request_url %></td>
        <td>
          <% if api_log.response_type.present? %>
            <small><strong>Response Type:</strong> <%= api_log.response_type %></small><br>
          <% end %>
          <%= api_log.response %>
        </td>
        <td><%= api_log.status %></td>
        <td><%= api_log.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pb-2">
  <%= will_paginate api_logs, list_classes: %w(pagination justify-content-center) %>
</div>
