<%= render 'breadcrumbs', {user: @user} %>
<section class="main-wrapper">
  <div class="container-fluid">
      <!-- <div class="col-12 text-left mtop10">  
        <p class="pageTitle big pink">USER KYCs</p>
      </div> -->
      <div class="clearfix"></div>
      <div class="table-wrapper">
      <table class='striped-table table payment-breakup' width="100%" cellspacing="0" cellpadding="20" border="0" outline="0">
        <thead class='thead-default'>
          <% labels = t('mongoid.attributes.user_kyc').with_indifferent_access %>
          <tr>
            <th><%= labels['name'] %></th>
            <th>Details</th>
            <!-- <th><%= labels['email'] %></th>
            <th><%= labels['phone'] %></th>-->
            <th><%= labels['dob'] %></th> 
            <th><%= labels['pan_number'] %></th>
            <!-- <th class="text-center">Actions</th> -->
          </tr>
        </thead>
        <tbody>
          <% @user_kycs.each do |user_kyc| %>
            <tr>
              <td>
                <%= user_kyc.name %>
                <br/>
                <% if UserKycPolicy.new(current_user, user_kyc).edit? %>
                  <% if current_user.role?('user') %>
                    <%= link_to 'Edit'.html_safe, edit_user_kyc_path(user_kyc), class: 'btn blue-link', data:{event_category: 'Section', event_action: 'Click', event_name: 'Edit User KYC'} %>
                  <% else %>
                  <%= link_to 'Edit'.html_safe, edit_admin_user_user_kyc_path(@user, user_kyc), class: 'btn blue-link', data:{event_category: 'Section', event_action: 'Click', event_name: 'Edit User KYC'} %>
                  <% end %>
                <% end %>
              </td>
              <td><i class="far fa-envelope"></i> <%= user_kyc.email %><br/> <i class="fas fa-mobile-alt"></i> <%= user_kyc.phone %></td>
              <!-- <td></td> -->
              <td><%= user_kyc.dob.strftime("%d %b %Y") rescue "" %></td>
              <td><%= user_kyc.pan_number %></td>
              <!-- <td class="text-right">
                
              </td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    <%= will_paginate @user_kycs %>
    <div style="margin-top:30px;">
    <% if UserKycPolicy.new(current_user, UserKyc.new(user: @user)).new? %>
      <% if current_user.role?('user') %>
        <%= link_to "Add #{global_labels['user_kyc']}", new_user_kyc_path, class: 'btn nav-btn pink-btn', data:{event_category: 'Section', event_action: 'Click', event_name: 'Add User KYC Co Applicant'} %>
      <% else %>
        <%= link_to "Add #{global_labels['user_kyc']}", new_admin_user_user_kyc_path(@user), class: 'btn nav-btn pink-btn', data:{event_category: 'Section', event_action: 'Click', event_name: 'Add User KYC Co Applicant'} %>
      <% end %>
    <% end %>
    </div>
  </div>
</section>
  

