<%= render 'breadcrumbs', {user: @user} %>
<table class='table'>
  <thead class='thead-default'>
    <% labels = t('mongoid.attributes.user_kyc').with_indifferent_access %>
    <tr>
      <th><%= labels['name'] %></th>
      <th><%= labels['email'] %></th>
      <th><%= labels['phone'] %></th>
      <th><%= labels['dob'] %></th>
      <th><%= labels['pan_number'] %></th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @user_kycs.each do |user_kyc| %>
      <tr>
        <td><%= user_kyc.name %></td>
        <td><%= user_kyc.email %></td>
        <td><%= user_kyc.phone %></td>
        <td><%= user_kyc.dob %></td>
        <td><%= user_kyc.pan_number %></td>
        <td class="text-right">
          <div class="dropdown">
            <a class="btn btn-light dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu dropdown-menu-right">
              <% if UserKycPolicy.new(current_user, user_kyc).edit? %>
                <% if current_user.role?('user') %>
                  <%= link_to 'Edit', edit_user_kyc_path(user_kyc), class: 'dropdown-item' %>
                <% else %>
                  <%= link_to 'Edit', edit_admin_user_user_kyc_path(@user, user_kyc), class: 'dropdown-item' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @user_kycs %>

<% if UserKycPolicy.new(current_user, UserKyc.new(user: @user)).new? %>
  <% if current_user.role?('user') %>
    <%= link_to "Add #{global_labels['user_kyc']}", new_user_kyc_path, class: 'btn btn-primary' %>
  <% else %>
    <%= link_to "Add #{global_labels['user_kyc']}", new_admin_user_user_kyc_path(@user), class: 'btn btn-primary' %>
  <% end %>
<% end %>
