<div class="alert alert-primary">
  <p><%#= t('controller.booking_details.receipts.show.disclaimer')%></p>
  <div class="row">
    <div class="col-md-4">
      <div class="mb-3">
        <label class="small"><%= t('mongoid.models.user.name') %></label>
        <div><%= resource.name_in_invoice %></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-3">
        <label class="small">
          <%= Lead.human_attribute_name('project') %>
        </label>
        <div><%= resource.project.try(:name) || '-' %></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-3">
        <label class="small">
          <%= Lead.human_attribute_name('created_at') %>
        </label>
        <div><%= resource.invoiceable_date.try(:strftime,'%b %e %Y') || '-' %></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="mb-3">
        <label class="small">
          <%= ChannelPartner.human_attribute_name('company_name') %>
        </label>
        <div><%= resource.manager.try(:name) || '-' %></div>
      </div>
    </div>
  </div>
</div>
