<section class="mt-0">
  <div class="px-0">
    <div class="row g-0">
      <div class="col-lg-12 p-0 mt-3">
        <table class='table table-responsive table-color'>
          <thead>
            <tr>
              <th><%= t('mongoid.attributes.workflow.stage') %></th>
              <th><%= t('mongoid.attributes.workflow.entity_type') %></th>
              <th><%= t('mongoid.attributes.workflow/pipeline.name') %></th>
              <th><%= t('mongoid.attributes.workflow/pipeline.stage') %></th>
              <th><%= t('mongoid.attributes.workflow/pipeline.reason') %></th>
              <th class="btn-action"><%= t('mongoid.attributes.workflow.actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% workflows.each do |workflow| %>
              <tr>
                <td rowspan="<%= workflow.pipelines.present? ? workflow.pipelines.count : 1 %>" data-title=<%= t('mongoid.attributes.workflow.stage') %>>
                  <%= t("mongoid.attributes.booking_detail/status.#{workflow.stage}") %>
                </td>
                <% wf_pipeline = workflow.pipelines.first %>
                <td><%= wf_pipeline.try(:entity_type).try(:titleize).try(:singularize) %></td>

                <% pipeline_hash = @pipelines.select { |p| p[:pipeline_id] == wf_pipeline.try(:pipeline_id) }.first %>
                <% if pipeline_hash.present? %>
                  <td><%= pipeline_hash[:pipeline_name] %></td>
                <% else %>
                  <td><%= wf_pipeline.try(:pipeline_id) %></td>
                <% end %>

                <% stages_details = wf_pipeline.try(:get_pipeline_stage_details, current_user) %>
                <% if stages_details.present? %>
                  <% stage_data = stages_details.select { |s| s[:pipeline_stage_id]==wf_pipeline.pipeline_stage_id }.first %>
                  <td><%= stage_data[:pipeline_stage_name] %></td>
                <% else %>
                  <td><%= wf_pipeline.try(:pipeline_stage_id) %></td>
                <% end %>

                <td><%= wf_pipeline.try(:lead_closed_reason).presence || '-' %></td>
                <td>
                  <div class="dropdown">
                    <a  href="javascript:;" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                      <%= render "#{current_user_role_group}/workflows/links", workflow: workflow %>
                    </div>
                  </div>
                </td>
              </tr>
              <% if workflow.pipelines.length > 1 %>
                <% workflow&.pipelines&.slice(1, workflow.pipelines.length)&.to_a&.each do |pipeline| %>
                  <tr>
                    <td><%= pipeline&.entity_type.titleize.singularize %></td>

                    <% pipeline_hash = @pipelines.select { |p| p[:pipeline_id] == pipeline.pipeline_id }.first %>
                    <% if pipeline_hash.present? %>
                      <td><%= pipeline_hash[:pipeline_name] %></td>
                    <% else %>
                      <td><%= pipeline.pipeline_id %></td>
                    <% end %>

                    <% stages_details = pipeline.get_pipeline_stage_details(current_user) %>
                    <% if stages_details.present? %>
                      <% stage_data = stages_details.select { |s| s[:pipeline_stage_id]==pipeline.pipeline_stage_id }.first %>
                      <td><%= stage_data[:pipeline_stage_name] %></td>
                    <% else %>
                      <td><%= pipeline.pipeline_stage_id %></td>
                    <% end %>

                    <td><%= pipeline&.lead_closed_reason.presence || '-' %></td>
                    <td></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-lg-12 p-3">
        <div class="row">
          <div class="col-lg-6 pt-2">
            <p class="table-entry mb-0"><%= page_entries_info workflows %></p>
          </div>
          <div class="col-lg-6 table-pagination">
            <%= will_paginate workflows, list_classes: %w(pagination justify-content-end) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
