<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
  <div class="card">
    <div class="card-header bg-primary rounded">
      <h2 class="icon-set icon-home-white"><%= booking_detail.name %></h2>
      <% if defined?(with_actions) && with_actions == true %>
        <div class="dropdown show text-center float-right">
          <a class="btn dropdown-toggle table-dropdown-btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <%= render "#{current_user_role_group}/booking_details/links", booking_detail: booking_detail, link_name: 'Update Booking' %>
            </div>
        </div>
      <% end %>
    </div>
    <div class="card-body box-content br-rd-bl-4 bg-white br-1 pt-0 clearfix">
      <div class="row pd-box">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 no-pd">
          <ul class="booking-apart-info">
            <% project_unit = booking_detail.project_unit %>
            <li>
              <span><%= t('mongoid.attributes.booking_detail.name') %></span>
              <p><%= booking_detail.name %></p>
            </li>
            <li>
              <span><%= User.human_attribute_name('role.user') %></span>
              <p><%= link_to_if booking_detail.user, booking_detail.user_name, [current_user_role_group, booking_detail.user] %></p>
            </li>
            <li>
              <span><%= ProjectTower.model_name.human %></span>
              <p><%= project_unit.project_tower.name %></p>
            </li>
            <% unless action_name == 'quotation' %>
              <li>
                <span><%= BookingDetail.human_attribute_name('status') %></span>
                <p><%= BookingDetail.human_attribute_name("status.#{booking_detail.status}") %></p>
              </li>
            <% end %>
            <li>
              <span><%= BookingDetail.human_attribute_name('bedrooms')%>/<%= BookingDetail.human_attribute_name('bathrooms')%></span>
              <p><%= project_unit.bedrooms %> / <%= project_unit.bathrooms %></p>
            </li>
            <li>
              <span><%= BookingDetail.human_attribute_name('carpet')%></span>
              <p><%= project_unit.carpet %> <%= current_client.area_unit %></p>
            </li>
            <% if current_user.role?('superadmin') %>
              <li>
                <span><%= BookingDetail.human_attribute_name('effective_rate') %></span>
                <p><%= number_to_indian_currency(booking_detail.effective_rate) %></p>
              </li>
              <li>
                <span><%= BookingDetail.human_attribute_name('saleable') %></span>
                <p><%= booking_detail.saleable %> <%= current_client.area_unit %></p>
              </li>
              <li>
                <span><%= BookingDetail.human_attribute_name('base_rate') %>/ <%= BookingDetail.human_attribute_name('floor_rise') %></span>
                <p><%= number_to_indian_currency(booking_detail.base_rate)%> / <%= number_to_indian_currency(booking_detail.floor_rise) %></p>
              </li>
            <% end %>

            <li>
              <span><%= BookingDetail.human_attribute_name('agreement_price') %></span>
              <p><%= number_to_indian_currency(booking_detail.calculate_agreement_price.round) %></p>
            </li>
            <li>
              <span><%= BookingDetail.human_attribute_name('all_inclusive_price') %></span>
              <p><%= number_to_indian_currency(booking_detail.calculate_all_inclusive_price.round) %></p>
            </li>
            <li>
              <span><%= BookingDetail.human_attribute_name('phase') %></span>
              <p><%= project_unit.phase.try(:name) || '-' %></p>
            </li>
          </ul>
        </div>
        <% if %w[ hold swapped canceled ].exclude?(booking_detail.status)  %>
          <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 no-pd">
            <ul class="booking-apart-info clear">
              <li>
                <span><%= BookingDetail.human_attribute_name('total_amount_paid')%></span>
                <p><%= number_to_indian_currency(booking_detail.total_amount_paid) %></p><div class="small">* Considers processed <%= Receipt.model_name.human %> only</div>
              </li>
              <li>
                <span><%= BookingDetail.human_attribute_name('pending_balance')%></span>
                <p><%= number_to_indian_currency(booking_detail.pending_balance({strict: true})) %></p>
              </li>
            </ul>
          </div>
          <div class="alert alert-primary col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <ul>
              <li>You need to pay <%= number_to_indian_currency(booking_detail.project_unit.booking_price) %> to confirm the booking</li>
              <% unless current_client.cancellation_amount.zero? %>
                <li>Cancellation charges are <%= number_to_indian_currency(current_client.cancellation_amount) %></li>
              <% end %>
              <% if booking_detail.project_unit.auto_release_on %>
                <li>You have <%= (booking_detail.project_unit.auto_release_on - Date.today).to_i %> days (before <%= I18n.l(booking_detail.project_unit.auto_release_on) %>) remaining to confirm this booking. Please make a remaining payment of <%= number_to_indian_currency(booking_detail.pending_balance.round) %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
