<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 p-0">
  <div class="box-card">
    <div class="box-header bg-gradient br-rd-tr-4">
      <h2 class="icon-set icon-home-white"><%= booking_detail.name %></h2>
      <% if defined?(with_actions) && with_actions == true %>
        <div class="dropdown show text-center float-right">
          <a class="btn dropdown-toggle table-dropdown-btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <%= render "#{current_user_role_group}/booking_details/links", booking_detail: booking_detail, link_name: 'Update Booking' %>
            </div>
        </div>
      <% end %>
    </div>
    <div class="box-content br-rd-bl-4 bg-white br-1 py-0">
      <div class="row pd-box">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 no-pd">
          <ul class="booking-apart-info">
            <% project_unit = booking_detail.project_unit %>
            <li>
              <span><%= t('mongoid.attributes.booking_detail.name') %></span>
              <p><%= booking_detail.name %></p>
            </li>
            <li>
              <span><%= Lead.model_name.human %></span>
              <p><%= link_to_if booking_detail.lead, booking_detail.lead.name, [current_user_role_group, booking_detail.lead] %></p>
            </li>
            <li>
              <span><%= ProjectTower.model_name.human %></span>
              <p><%= project_unit.project_tower.name %></p>
            </li>
            <% unless action_name == 'quotation' %>
              <li>
                <span><%= BookingDetail.human_attribute_name('status') %></span>
                <p><%= BookingDetail.human_attribute_name("status.#{booking_detail.status}") %></p>
              </li>
            <% end %>
            <li>
              <span><%= ProjectUnit.human_attribute_name('unit_configuration_name')%></span>
              <p><%= project_unit.unit_configuration_name %></p>
            </li>
            <li>
              <span><%= BookingDetail.human_attribute_name('carpet')%></span>
              <p><%= project_unit.carpet %> <%= current_client.area_unit %></p>
            </li>
            <% if current_user.role?('superadmin') %>
              <li>
                <span><%= BookingDetail.human_attribute_name('effective_rate') %></span>
                <p><%= number_to_indian_currency(booking_detail.effective_rate) %></p>
              </li>
              <li>
                <span><%= BookingDetail.human_attribute_name('saleable') %></span>
                <p><%= booking_detail.saleable %> <%= current_client.area_unit %></p>
              </li>
              <li>
                <span><%= BookingDetail.human_attribute_name('base_rate') %>/ <%= BookingDetail.human_attribute_name('floor_rise') %></span>
                <p><%= number_to_indian_currency(booking_detail.base_rate)%> / <%= number_to_indian_currency(booking_detail.floor_rise) %></p>
              </li>
            <% end %>

            <li>
              <span><%= BookingDetail.human_attribute_name('agreement_price') %></span>
              <p><%= number_to_indian_currency(booking_detail.calculate_agreement_price.round) %></p>
            </li>
            <li>
              <span><%= BookingDetail.human_attribute_name('all_inclusive_price') %></span>
              <p><%= number_to_indian_currency(booking_detail.calculate_all_inclusive_price.round) %></p>
            </li>
            <li>
              <span><%= BookingDetail.human_attribute_name('phase') %></span>
              <p><%= project_unit.phase.try(:name) || '-' %></p>
            </li>
          </ul>
        </div>
        <% if %w[ hold swapped cancelled ].exclude?(booking_detail.status)  %>
          <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 no-pd">
            <ul class="booking-apart-info clear">
              <li>
                <span><%= ProjectUnit.human_attribute_name('blocked_on') %></span>
                <p><%= project_unit.blocked_on.try(:strftime, '%d/%m/%Y') %></p>
              </li>
              <li>
                <span><%= BookingDetail.human_attribute_name('total_amount_paid')%></span>
                <p><%= number_to_indian_currency(booking_detail.total_amount_paid) %></p><div class="small">* Considers processed <%= Receipt.model_name.human %> only</div>
              </li>
              <!-- <li>
                <span><%#= BookingDetail.human_attribute_name('pending_balance')%></span>
                <p><%#= number_to_indian_currency(booking_detail.pending_balance({strict: true})) %></p>
              </li> -->
            </ul>
          </div>
          <% template = ::Template::UITemplate.where(name: 'booking_details/_details').first %>
          <% if template.present? && template.is_active? %>
            <div class="alert alert-primary col-md-12 col-lg-12 col-xs-12 col-sm-12">
              <% @bd = booking_detail %>
              <%= get_view_erb(template) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
