<%= content_for :breadcrumbs do %>
  <% unless current_user.buyer? %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= after_sign_in_path_for(current_user) %>">Dashboard</a></li>
      <% if discount.present? %>
        <% if DiscountPolicy.new(current_user, Discount).index? %>
          <li class="breadcrumb-item"><a href="<%= admin_discounts_path %>">Discounts</a></li>
        <% end %>
        <% if DiscountPolicy.new(current_user, discount).show? %>
          <li class="breadcrumb-item"><a href="<%= admin_discount_path(discount) %>"><%= discount.name %></a></li>
        <% end %>
      <% end %>
    </ol>
  </nav>
  <% end %>
<% end %>
