<div class='authentication-layout'>
  <div class='kylas-background'></div>
  <div class='content-wrapper'>
    <div class='main-content'>
      <div class='authentication-form-wrapper'>
        <h1>Sign up for free</h1>
        <div class='mb-4'>
          <strong>
            <span>Having an existing account.</span>
            <%= link_to 'Sign in here', new_user_session_path(namespace: 'mp'), class: 'link-primary' %>
          </strong>
          <%= form_for(@user, url: register_mp_users_path(namespace: 'mp'), html: {class: 'validate-form', id: 'mp_user_from'}) do |f| %>

            <div class='form-group'>
              <%= f.label :first_name, class: 'label-required' %>
              <%= f.text_field :first_name, class: 'form-control', autofocus: true, required: 'required' %>
            </div>

            <div class='form-group'>
              <%= f.label :last_name, class: 'label-required' %>
              <%= f.text_field :last_name, class: 'form-control', autofocus: true, required: 'required' %>
            </div>

            <div class="form-group">
              <%= f.label :email, class: 'label-required' %>
              <%= f.email_field :email, class: 'form-control', autofocus: true, required: 'required' %>
            </div>

            <div class="form-group">
              <%= f.label :phone, class: 'form-label' %>
              <%= f.text_field :phone, class: 'form-control phone', required: 'required' %>
            </div>

            <div class='form-group'>
              <%= f.label :company_name, class: 'label-required' %>
              <%= f.text_field :name, class: 'form-control', autofocus: true, required: 'required' %>
            </div>

            <div class='form-group w-100 mb-0'>
              <%= f.submit 'Sign Up For Free', class: 'btn btn-md w-100 mb-3 mt-auto btn-primary' %>
            </div>
            
            <p class='f-13 m-0 acknowledgement text-justify'>
              By clicking on "Sign up for free" you agree to
              our <a class='link-primary' href='https://www.kylas.io/terms-of-service' target='_blank'> terms</a>
              and you acknowledge having read our
              <a class='link-primary' href='https://www.kylas.io/privacy' target='_blank'> privacy policy</a>.
            </p>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#mp_user_from"));
  });
<% end %>
