<div class="filter-inner modal-content ps-2 pe-2 fixed-header-footer">
    <div class="modal-header filter-header">
  <h5 class="modal-title title">Filter</h5>
  <a href="javascript:;" class="close-filter-btn btn-close"></a>
  </div>
  <%= form_tag admin_site_visits_path, method: "get", id: "site_visit_search_form" do %>
    <div class="filter-content modal-body ps-0 pe-0">
      <div class="row">
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.lead.name_email_phone') %>
          <% lead = Lead.where(_id: params[:fltrs][:lead_id]).first if params.dig(:fltrs, :lead_id).present? %>
          <%= select_tag "fltrs[lead_id]", options_for_select(lead.present? ? [lead.ds_name(current_user), lead.id] : []), {class: "selectize-remote", data: { url: admin_leads_path } } %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs[project_id]", t('mongoid.attributes.site_visit.project_id'), class: "control-label" %>
          <%= select_tag "fltrs[project_id]", options_from_collection_for_select(params[:fltrs].present? ? Project.where(_id: params[:fltrs][:project_id]) : [], "id", "ds_name", params.dig(:fltrs, :project_id)), {prompt: "Select", class: "selectize-remote", data: {url: admin_projects_path}} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.site_visit.status') %>
          <%= select_tag "fltrs[status]", options_for_select(SiteVisit.aasm(:status).states.collect(&:name).map {|x| [x.to_s.titleize, x.to_s]}, (params[:fltrs].present? ? params[:fltrs][:status] : "")), { prompt: 'Select', class: "selectize" } %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.site_visit.approval_status') %>
          <%= select_tag "fltrs[approval_status]", options_for_select(SiteVisit.aasm(:approval_status).states.collect(&:name).map{|x| [x.to_s.titleize, x.to_s]}, (params[:fltrs].present? ? params[:fltrs][:approval_status] : "")), { prompt: 'Select', class: "selectize" } %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.site_visit.site_visit_type'), class: "control-label" %>
          <%= select_tag "fltrs[site_visit_type]", options_for_select(SiteVisit.nin(site_visit_type: [nil, '']).distinct(:site_visit_type).map(&:titleize), params.dig(:fltrs, :site_visit_type)), {prompt: "Select", class: "selectize"} %>
        </div>
        <% if current_client.enable_channel_partners? %>
          <% unless current_user.role?('channel_partner') %>
            <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
              <%= label_tag "fltrs", t('mongoid.attributes.site_visit.manager_id') %>
              <%= select_tag "fltrs[manager_id]", options_from_collection_for_select(params[:fltrs].present? ? User.where(_id: params[:fltrs][:manager_id]) : [], "id", "ds_name"), {class: "selectize-remote", data: {url: admin_users_path, params: {fltrs: { role: ['channel_partner', 'cp_owner'] }}}} %>
            </div>
          <% end %>
          <% unless current_user.role.in?(%w(cp_owner channel_partner)) %>
            <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
              <%= label_tag "fltrs", t('mongoid.attributes.user/role.cp') %>
              <%= select_tag "fltrs[cp_manager_id]", options_from_collection_for_select(params[:fltrs].present? ? User.where(_id: params[:fltrs][:cp_manager_id]) : [], "id", "ds_name"), {class: "selectize-remote", data: {url: admin_users_path, params: {fltrs: { role: 'cp' }}}} %>
            </div>
            <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
              <%= label_tag "fltrs", ChannelPartner.model_name.human %>
              <%= select_tag "fltrs[channel_partner_id]", options_from_collection_for_select(params[:fltrs].present? ? ChannelPartner.where(_id: params[:fltrs][:channel_partner_id]) : [], "id", "ds_name"), {class: "selectize-remote", data: {url: channel_partners_path, ds: true }} %>
            </div>
          <% end %>
        <% end %>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.site_visit.created_at') %>
          <%= text_field_tag "fltrs[created_at]", (params.dig(:fltrs, :created_at).present? ? params[:fltrs][:created_at] : ""), class: "form-control daterangefilter", data: {locale: {format: "DD/MM/YYYY"}, opens: "left", drops: "up"}, placeholder: 'dd/mm/yyyy - dd/mm/yyyy' %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.site_visit.scheduled_on') %>
          <%= text_field_tag "fltrs[scheduled_on]", (params.dig(:fltrs, :scheduled_on).present? ? params[:fltrs][:scheduled_on] : ""), class: "form-control daterangefilter", data: {locale: {format: "DD/MM/YYYY"}, opens: "left", drops: "up"}, placeholder: 'dd/mm/yyyy - dd/mm/yyyy' %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.site_visit.conducted_on') %>
          <%= text_field_tag "fltrs[conducted_on]", (params.dig(:fltrs, :conducted_on).present? ? params[:fltrs][:conducted_on] : ""), class: "form-control daterangefilter", data: {locale: {format: "DD/MM/YYYY"}, opens: "left", drops: "up"}, placeholder: 'dd/mm/yyyy - dd/mm/yyyy' %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.site_visit.is_revisit') %>
          <%= select_tag "fltrs[is_revisit]", options_for_select([[t('global.boolean.true'), true], [t('global.boolean.false'), false]], (params[:fltrs].present? ? params[:fltrs][:is_revisit] : "")), { prompt: 'Select', class: "selectize" } %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.booking_detail.invoice_generated'), class: "control-label" %>
          <%= select_tag "fltrs[incentive_generated]", options_for_select([['Yes', 'yes'], ['No', 'no']], params.dig(:fltrs, :incentive_generated)), {prompt: "Select", class: "selectize"} %>
        </div>
      </div>
    </div>
    <div class="filter-footer modal-footer text-end">
      <%= submit_tag :Apply, class: "btn btn-primary f-save-btn db-small-btn bg-light-blue fn-500 float-end" %>
      <button type="button" class="btn btn-secondary f-cancel-btn float-end">Cancel</button>
    </div>
  <% end %>
</div>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#site_visit_search_form"));
});
<% end %>
