<%= form_for [:admin, @lead, @site_visit], remote: true, local: true, html: { class: "modal-remote-form validate-form", data: { "resource-type" => t('global.site_visit'), type: "json"}, id: 'site_visit_form' } do |f| %>
<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="title">
                <% action_name = @site_visit.new_record? ? 'new' : 'edit' %>
                <%= t("helpers.#{action_name}.link_name", model: SiteVisit.model_name.human) %>
            </h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 position-relative">
                <div class="row">
                    <div class="col-md-4">
                    <div class="mb-3">
                        <label class="small text-muted"><%= I18n.t("global.lead") %></label>
                        <div><%= @lead.name %></div>
                    </div>
                    </div>
                    <div class="col-md-4">
                    <div class="mb-3">
                        <label class="small text-muted">Project</label>
                        <div><%= project.name %></div>
                    </div>
                    </div>
                </div>
                <hr/>
                <div class='row'>
                  <div class='col-md-12'>
                    <%= f.label :scheduled_on %>
                    <% date = (f.object.scheduled_on.present? ? f.object.scheduled_on : Date.today) %>
                    <%
                        site_visit_scheduled_on = f.object.scheduled_on
                        current_date = DateTime.current
                    %>
                    <% if site_visit_scheduled_on.present? %>
                        <% if site_visit_scheduled_on >= current_date %>
                            <% min_date = current_date %>
                        <% elsif site_visit_scheduled_on < current_date %>
                            <% min_date = [site_visit_scheduled_on, (DateTime.current - 4.days) ].max %>
                        <% end %>
                    <% end %>
                    <div class="datetimepicker" id="site_visit_scheduled_on_calendar" data-default-date="<%= min_date.strftime("%d/%m/%Y") %>" data-inline=true data-side-by-side=true data-use-current=true data-min-date="<%= min_date.strftime("%d/%m/%Y") %>" data-max-date="<%= (Date.today + 20.days).strftime("%d/%m/%Y") %>" data-stepping='30' data-format='DD/MM/YYYY LT'></div>

                    <%= f.hidden_field :scheduled_on, class: 'form-control', value: date %>
                    <% if f.object.reject %>
                        <%= f.hidden_field :approval_event, value: 'pending' %>
                        <%= f.hidden_field :status, value: 'scheduled' %>
                    <% end %>
                  </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-end">
            <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
    </div>
</div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
    var $form = $("#site_visit_form");
    FormInitializer.init($form);
    $('#site_visit_scheduled_on_calendar').on('dp.change', function(e){
        $('#site_visit_scheduled_on').val(e.date.format())
    });
});
<% end %>
