<%= form_for [:change_state, :admin, @site_visit], remote: true, local: true, html: { class: "modal-remote-form validate-form", data: { "resource-type" => t('global.site_visit'), type: "json"}, id: 'site_visit_reject_form' } do |f| %>
<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="title">
                <%= t("controller.site_visits.reject.link_name") %>
            </h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <%= f.label :rejection_reason, class: 'label-required' %>
            <%= f.select :rejection_reason, SiteVisit::REJECTION_REASONS.collect{ |r| [ t("mongoid.attributes.site_visit/rejection_reason.#{r}"), r] }, {prompt: I18n.t("global.select")}, class: "selectize", required: true, disabled: !policy([current_user_role_group, @site_visit]).editable_field?("rejection_reason")%>
          </div>
          <%= f.fields_for :notes, @note do |notes_form| %>
            <div class="mb-3">
              <%= notes_form.label :note, class: 'label-required' %>
              <%= notes_form.text_area :note, autofocus: true, class: "form-control", rows: 5, required: 'required', disabled: !policy([current_user_role_group, @note]).editable_field?("note") %>
            </div>
            <%= notes_form.hidden_field :creator_id, value: current_user.id %>
          <% end %>
          <%= f.hidden_field :approval_event, value: 'reject' %>
        </div>
        <div class="modal-footer text-end">
            <%= f.submit "Reject", class: "btn btn-primary" %>
        </div>
    </div>
</div>
<% end %>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#site_visit_reject_form"));
});
<% end %>
