<section class="mt-4">
  <div class="px-3 pb-5">
    <div class="row px-3">
      <div class="col-lg-12 px-3 bg-white py-4">
        <div class="col-12 mb-3">
          <div class="d-flex justify-content-between">
            <div>
              <h6 class="card-title d-inline fn-24 font-medium theme-txt-color me-1">
                <%= @lead.name || '-' %></h6>
              <a href="javascript:;" class="email-icon small d-inline-block mt-1 fn-16" data-bs-toggle="popover"
                title="Email Id" data-bs-trigger="focus" data-bs-placement="bottom"
                data-bs-content="<%= @lead.masked_email(current_user) || '-' %>">
                <i class="fa fa-envelope fill-theme me-2 ms-2 fn-18"></i>
              </a>
              <a href="javascript:;" class="phone-icon small d-inline-block mt-1 fn-16" data-bs-container="body"
                data-bs-placement="bottom" data-bs-trigger="focus" data-bs-toggle="popover" title="Phone No."
                data-bs-content="<%= @lead.masked_phone(current_user) || '-' %>">
                <i class="fa fa-phone-alt fill-theme me-2 fn-18"></i>
              </a>
            </div>
            <div class="dropdown d-inline-block">
              <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-ellipsis-v txt-light-blue" aria-hidden="true"></i></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <%= render "#{current_user_role_group}/site_visits/links", site_visit: @site_visit %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 float-start mt-3 pb-0">
          <div class="card">
            <div class="card-header theme-light-bg py-3">
              <p class="fn-12 theme-txt-color mb-0 ">Project</p>
              <h6 class="fn-20 theme-txt-color mb-0"><%= (@lead.project.try(:name) || '-') %></h6>
            </div>
            <div class="card-body p-0 rounded-0 border-0">
              <div class="accordion theme-accordation" id="accordionExample">
                <div class="accordion-item rounded-0 border-bottom border-top-0  border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingOverview">
                    <button class="accordion-button shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOverview" aria-expanded="true" aria-controls="collapseOverview">
                      <%= I18n.t("global.link_to.overview") %>
                    </button>
                  </h2>
                  <div id="collapseOverview" class="accordion-collapse collapse show" aria-labelledby="headingOverview"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <%= render 'overview', site_visit: @site_visit %>
                    </div>
                  </div>
                </div>

                <div class="accordion-item border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingNotes">
                    <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseNotes" aria-expanded="false" aria-controls="headingNotes">
                       <%= I18n.t("global.link_to.note_summary") %>
                    </button>
                    <%# if policy([current_user_role_group, Note.new(notable: notable)]).new? %>
                      <%#= link_to t('helpers.new.link_name', model: Note.model_name.human), new_notable_path(notable_type: notable.class.model_name.i18n_key.to_s, notable_id: notable.id), class: ' modal-remote-form-link fn-12 font-medium theme-txt-color w-25 text-end pe-3 py-3' %>
                    <%# end %>
                  </h2>
                  <div id="collapseNotes" class="accordion-collapse collapse" aria-labelledby="headingNotes"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <div class="row ps-3">
                        <div class="col-12">
                          <%= render 'notes/section', notable: @site_visit %>
                        </div>
                        <% if @site_visit.approval_status == "rejected" %>
                          <div class="mb-3">
                            <label class="txt-light-blue fn-12"><%= t('mongoid.attributes.site_visit.rejection_reason') %></label>
                            <p class="fn-14 theme-txt-color mb-0"><%= t("mongoid.attributes.site_visit/rejection_reason.#{@site_visit.rejection_reason}") || '-' %></p>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <% if @booking_details.present? and current_client.enable_actual_inventory?(current_user) %>
                  <div class="accordion-item border-end-0 border-start-0">
                    <h2 class="accordion-header d-flex justify-content-between" id="headingBookings">
                      <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseBookings" aria-expanded="false" aria-controls="headingBookings">
                        <%= I18n.t("global.link_to.bookings") %>
                      </button>
                    </h2>
                    <div id="collapseBookings" class="accordion-collapse collapse" aria-labelledby="headingBookings"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body pt-0 ps-4">
                        <div class="row ps-3">
                          <div class="col-12">
                            <%= render 'booking_details/section', booking_details: @booking_details %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <% if policy([:admin, Crm::Base.new()]).choose_crm? && apis = Crm::Base.active_apis(@site_visit).presence %>
                <div class="accordion-item  border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingCRM">
                    <button class="accordion-button collapsed  shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseCRM" aria-expanded="false" aria-controls="collapseCRM">
                      CRM
                    </button>
                  </h2>
                  <div id="collapseCRM" class="accordion-collapse collapse" aria-labelledby="headingCRM"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <%= render 'admin/crm/base/crms', { apis: apis, resource: @site_visit } %>
                    </div>
                  </div>
                </div>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
