<section class="dashboard-bg">
  <div class="row justify-content-center">
    <div class="col-7">
      <div class="card">
        <div class="card-body">
          <a href="javascript:void(0);" class="logo-wrapper text-center">
            <img src="<%= asset_path current_client.logo.url %>" class="img-responsive" />
          </a>
          <h3 class="text-center">Sign in</h3>
          <% if current_client.preferred_login == "phone" %>
            <%= form_for(resource, as: resource_name, url: users_otp_path, authenticity_token: true, remote: true, html: {:'data-type' => 'json', class: 'validate-form', id: "otp_user_form"}) do |f| %>
            <div class="form-group">
              <%= f.label :phone %><br/>
              <%= f.phone_field :login, autofocus: true, autocomplete: "phone", class: 'form-control', placeholder: 'Phone' %>
            </div>
            <div class="form-group" hidden>
              <%= f.label :login_otp %><br/>
              <%= f.number_field :login_otp, class: 'form-control', placeholder: 'OTP', maxlength: resource_class.otp_length, minlength: resource_class.otp_length %>
            </div>
            <div class="actions">
              <%= f.submit "Get OTP", class: 'btn btn-primary',  data:{event_category: 'Section', event_action: 'Click', event_name: 'Get OTP'} %>
            </div>
            <% end %>
          <% else %>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'validate-form'}) do |f| %>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :login, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
              </div>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
              </div>
              <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <div class="form-check">
                  <%= f.check_box :remember_me, class: "form-check-input" %>
                  <%= f.label :remember_me, class: "form-check-label" %>
                </div>
              </div>
              <% end -%>
              <div class="actions">
                <%= f.submit "Log in", class: 'btn btn-primary',  data:{event_category: 'Section', event_action: 'Click', event_name: 'Log In'} %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="mt-3"></div>
      <div class="card">
        <div class="card-header">
          <%= booked_homes_count %> people have booked a home since you last signed in
        </div>
        <div class="card-body">
          <a href="/register" class="green" data-event-category="section" data-event-action="click" data-event-name="Sign Up">Sign Up</a><br/>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#new_user"));
  FormInitializer.init($("#otp_user_form"));
});
<% end %>
