<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-title pt-1">
          <h1 class="title icon-set icon-key-black"><%= "#{@resource.class} - #{@resource.resource_name}" %></h1>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <table class='table my-customer-table responsive-tbl'>
            <thead class="th-default">
              <thead>
                <tr class="bg-gradient-cd white">
                  <th><%= t('mongoid.attributes.crm.base.name') %></th>
                  <th><%= t('mongoid.attributes.crm.base.domain') %></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
            </thead>
            <tbody>
              <% @crms.each do |crm| %>
                <tr>
                  <td><%= crm.name %></td>
                  <td><%= crm.domain %></td>
                  <% @apis.where(base_id: crm.id).each do |api| %>
                    <td><%= link_to t("mongoid.attributes.crm.api.request_types.#{api.request_type}"), admin_crm_base_api_show_response_path(api.base, api, resource_id: @resource.id), class: 'db-small-btn light-blue bg-white fn-400 btn unset-width' %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

