<%
  i_agree_required = current_client.disclaimer.present? && @receipt.new_record?
%>
<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gradient-cd white">
        <h3 class="title"> <%= t('controller.booking_details.receipts.new.link_name') %></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <%= render 'admin/booking_details/receipts/details', receipt: @receipt, booking_detail: @booking_detail %>
        <%= form_for [:buyer, @booking_detail, @receipt], local: true, remote: true, html: { class: 'modal-remote-form validate-form', data: { 'resource-type': t('global.receipt'), type: :json }, id: "receipt_form" } do |f| %>
          <div class="form-group">
            <%= f.label :total_amount, class: 'label-required' %>
            <% total_amount = @receipt.total_amount.present? ? @receipt.total_amount : current_client.blocking_amount %>

            <% if !policy([:buyer, @receipt]).editable_field?("total_amount") %>
              <h5><%= number_to_indian_currency(total_amount) %></h5>
              <%= f.hidden_field :total_amount, value: total_amount %>
            <% else %>
              <%= f.number_field :total_amount, class: "form-field form-control green", required: 'required' %>
            <% end %>
          </div>

          <% if i_agree_required %>
            <div class="form-group">
              <div class="card p-1 small" style="height: 100px; overflow: auto;">
                <div class="font-weight-bold mb-2">Disclaimer:</div>
                <%= current_client.disclaimer %>
              </div>
              <div class="form-check mt-1">
                <%= check_box_tag :agree, true, false, class: "form-check-input" %>
                <%= label_tag :agree, (current_user == @receipt.user ? "I Agree" : "I Agree on behalf of #{@receipt.user.name}"), class: "form-check-label" %>
              </div>
            </div>
          <% end %>
          <%= f.submit "Proceed", class: 'btn btn-primary nav-btn', disabled: i_agree_required %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    $('#receipt_form [name="agree"]').change(function(){
      if($(this).is(":checked")){
        $('#receipt_form [type="submit"]').removeAttr("disabled");
      }else{
        $('#receipt_form [type="submit"]').attr("disabled", "disabled");
      }
    });
    FormInitializer.init($('#receipt_form'));
  });
<% end %>
