<% random_id = "crs_#{11**11}" %>
<div class="row">
  <div class="col-md-6">
    <%= f.input :address1 %>
  </div>
  <div class="col-md-6">
    <%= f.input :address2 %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :country, collection: [], prompt: :translate, input_html: { class: 'crs-country', data: { 'region-id' => random_id, 'default-value' => f.object.present? ? f.object.country : ""} } %>
  </div>

  <div class="col-md-6">
    <%= f.input :state, collection: [], prompt: :translate, input_html: { id: random_id, data: { 'default-value': f.object.present? ? f.object.state : "" } }, as: :select %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.label :city %>
    <%= f.select :city, [], {}, class: :selectize, data: {create: true} %>
  </div>

  <div class="col-md-6">
    <%= f.input :zip %>
  </div>
</div>


<%= javascript_tag do %>
  $(document).ready(function(){
    $("#channel_partner_address_attributes_country").on("change", function(){
        var $select = $("#channel_partner_address_attributes_city").selectize();
        var selectize = $select[0].selectize;
        selectize.setValue('');
        selectize.clearOptions();
        if($(this).val() == "India"){
            var cities = <%= raw Address::CITY.to_json %>
            var options = _.map(cities, function(d) { return { value: d, text: d } });
            selectize.addOption(options)
            selectize.refreshOptions();
        }
      })
  });
<% end %>

