<% random_id = "crs_#{11**11}" %>
<div class="row">
  <div class="col-md-6">
    <%= f.input :address1 %>
  </div>
  <div class="col-md-6">
    <%= f.input :address2 %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :country, collection: [], prompt: :translate, input_html: { class: 'crs-country', data: { 'region-id' => random_id, 'default-value' => f.object.present? ? f.object.country : ""} } %>
  </div>

  <div class="col-md-6">
    <%= f.input :state, collection: [], prompt: :translate, input_html: { id: random_id, data: { 'default-value': f.object.present? ? f.object.state : "" } }, as: :select %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :city %>
  </div>

  <div class="col-md-6">
    <%= f.input :zip %>
  </div>
</div>
