<div class="card">
  <div class="card-body">
    <%
      if current_user.buyer?
        if @search.persisted?
          url = user_search_path(@search)
        else
          url = user_searches_path
        end
      else
        if @search.persisted?
          url = admin_user_search_path(@user, @search)
        else
          url = admin_user_searches_path(@user)
        end
      end
    %>
    <%= form_for @search, url: url, html: {class: 'validate-form', id: "search_form"} do |f| %>
    <%= f.hidden_field :user_id %>
    <div class="form-group">
      <%= f.label :bedrooms %>
      <%= f.select :bedrooms, data.collect{|x| ["#{x["_id"]["bedrooms"]} BHK starting at #{number_to_indian_currency(x["min_agreement_price"])}".html_safe, x["_id"]["bedrooms"]]}, {prompt: true}, class: 'selectize', disabled: (policy(@search).editable_field?("bedrooms") ? false : true) %>
    </div>
    <div class="form-group">
      <%= f.label :agreement_price %>
      <%
        min = data.first["min_agreement_price"]
        max = data.last["max_agreement_price"]
        slab = (max - min)/4
        agreement_price_slabs = ["#{number_to_indian_currency(min)} - #{number_to_indian_currency(min+slab)}".html_safe]
        agreement_price_slabs << "#{number_to_indian_currency(min+slab)} - #{number_to_indian_currency(min+2*slab)}".html_safe
        agreement_price_slabs << "#{number_to_indian_currency(min+2*slab)} - #{number_to_indian_currency(min+3*slab)}".html_safe
      %>
      <%= f.select :agreement_price, agreement_price_slabs.collect{|x| [x, x.gsub(" ", "")]}, {prompt: true}, class: 'selectize', disabled: (policy(@search).editable_field?("bedrooms") ? false : true) %>
    </div>
    <div class="form-group">
      <%= f.submit "Search", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#search_form"));
});
<% end %>
