<%= render 'dashboard/project_unit_overview', {project_unit: @unit} %>
<div class="mt-3"></div>
<div class="box-card table-responsive-md">
    <%= render 'user_kycs_index', {user_kycs: @user_kycs} %>
</div>

<div class="position-relative table-layout-box box-card mt-3 mb-5">
  <h2 class="table-title fn-16 mb-0 p-3"><%= I18n.t("mongoid.attributes.user_kyc.kyc_info") %></h2>
  <div class="table-layout-inner float-start w-100">
    <div class="position-relative float-start w-100 pt-3 px-4">
    <%= form_for(:booking_detail, url: hold_lead_search_path(@search), html: {method: "post", class: 'validate-form theme-form row', id: 'hold_booking_detail_form'}) do |f| %>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div class="mb-3">
          <%= f.hidden_field :lead_id, value: @lead.id %>
          <%= f.label :primary_user_kyc_id, I18n.t("mongoid.attributes.booking_detail.primary_user_kyc_id") %>
          <%= f.select :primary_user_kyc_id, options_for_select(@lead.user_kycs.collect{|x| [x.name, x.id]}, @lead.user_kycs.try(:last).try(:id)), {prompt: I18n.t("global.select")}, class: 'selectize primary_kyc_select', required: @unit.project.enable_booking_with_kyc? , autofocus: true %>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div class="mb-3">
          <%= f.label :user_kyc_ids, I18n.t("mongoid.attributes.booking_detail.user_kyc_ids") %>
          <%= f.select :user_kyc_ids, @lead.user_kycs.collect{|x| [x.name, x.id]}, {prompt: I18n.t("global.select")}, class: 'selectize', multiple: true %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
  <div class="booking-flow-footer position-fixed w-100 bottom-0 start-0 p-2 py-3 bg-white border-top text-end">
    <%# <a href="" class="btn btn-primary no-fill font-medium ms-2">Cancel</a> %>
    <% if @search.previous_step.present? %>
      <%= form_for [:lead, @search], html: {class: 'validate-form d-inline-block'} do |ff| %>
        <%= ff.hidden_field :step, value: @search.previous_step %>
        <%= ff.submit I18n.t("global.previous"), class: "btn btn-primary no-fill font-medium ms-2" %>
      <% end %>
    <% end %>
      <%= submit_tag I18n.t("global.next"), class: 'btn btn-primary font-medium border-primary ms-2', form: 'hold_booking_detail_form' %>
  </div>
<!-- GENERICTODO: Fire aparment selected (CART) event in GA -->
<%= javascript_tag do %>
  $(document).on("ajax:success", '#user_kyc_form', function(evt, data, status, xhr){
    var $this = $(this);
    window.location = window.location;
  });
  $(document).on("ajax:error", '#otp_user_form', function(evt, data, status, xhr){
    if(xhr.status == 201){
      // GENERICTODO: Handle error
    }
  });
  $(document).ready(function(){
    FormInitializer.init($('#hold_booking_detail_form'));
  });
<% end %>
