<div class="row vh-100">
  <div class="col-lg-3 booking-flow-step px-0 mh-100">
    <p class="fn-16 mb-0">
      <i class="fa fa-check-circle me-2 fill-success"></i>
      <%# <span class="">1</span> %>
      <%= t('controller.searches.select_project.link_name') %>
    </p>
    <p class="fn-16 mb-0">
      <i class="fa fa-check-circle me-2 fill-success"></i>
      <!-- <span>2</span> -->
      <%= link_to I18n.t("controller.projects.filter_project"), edit_search_path, class: "modal-remote-form-link theme-txt-color step-change-btn" %>
    </p>
    <p class="fn-16 mb-0 active">
      <!-- <i class="fa fa-check-circle me-2 fill-theme"></i> -->
      <span><%= t('controller.searches.towers.step') %></span>
      <%= I18n.t("controller.searches.towers.link_name") %>
    </p>
    <p class="fn-16 mb-0">
      <!-- <i class="fa fa-check-circle me-2 fill-theme"></i> -->
      <span><%= t('controller.searches.apartments.step') %></span>
      <%= I18n.t("controller.searches.apartments.link_name") %>
    </p>
  </div>
  <div class="col-lg-9 px-3 mh-100">
    <div class="row">
      <div class="col-lg-6">
        <div class="card-body bg-white p-0">
          <div class="card text-dark bg-light border border-white mb-3">
            <div class="card-body bg-white">
              <% if @towers.present? %>
              <% @towers.sort{|a,b| a[:project_tower_name] <=> b[:project_tower_name]}.each do |tower| %>
              <div class="card text-dark bg-white border mb-3 result-list cursor-pointer tower-description"
                id=<%= tower[:project_tower_id] %>>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <h5 class="fn-20 font-normal theme-txt-color"><%= tower[:project_tower_name] %></h5>
                      <p class="fn-14 theme-txt-color"><%= tower[:floors] %>
                        <%= I18n.t("mongoid.attributes.project_unit.floors") %></p>
                      <div class="fn-14 row">
                        <div class="col-lg-6 tower-info">
                          Total Apartments<br>
                          <span><%= (tower[:total_units]) %></span>
                        </div>
                        <div class="col-lg-6 tower-info">
                          Available Apartments<br>
                          <span><%= tower[:total_units_available] %></span>
                        </div>
                      </div>
                    </div>
                  <!--
                      <div class="col">
                      <img style="width: 160px; height: 87px;" src="<%#= asset_path 'Booking.png' %>">
                      </div>
                    -->
                  </div>
                </div>
                <div class="card-footer bg-white">
                  <i class="fas fa-bell fill-warning"></i>
                  <div class="fn-12 d-inline-block ms-2 theme-txt-color" data-placeholder='gamification'></div>
                </div>
            </div>
            <% end %>

            <% else %>
            <div class="alert alert-primary">
              <%= t('controller.searches.filter.error') %>
              <br />
              <%= link_to t('controller.searches.filter.again'), edit_search_path, class: "modal-remote-form-link icon-set icon-sad-tear" %>
            </div>
            <% end %>
          </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-end">
        <a data-bs-toggle="modal" data-bs-target="#towerImage" href="javascript:;" class="tower_image_container"
          style="display:none;">
          <img class="img-fluid wd-100" data-placeholder="tower_image" />
          <br />
          <span class='me-2 fn-14 theme-txt-color'><%= I18n.t("global.link_to.details_on_click") %></span>
        </a><br />
      </div>
      <div class="col-lg-12">
        
      </div>
    </div>
    </div>
  </div>
  <div class="booking-flow-footer position-fixed w-100 bottom-0 start-0 p-2 py-3 bg-white border-top text-end">
    <p class="fn-16 theme-txt-color mt-1 position-absolute"><%= t('controller.searches.new.booking_hint', name: @lead.name) %></p>
    <div class="d-inline-block">
      <%= link_to I18n.t("global.previous"), current_user.buyer? ? (current_lead.present? ? step_lead_search_path(@search, step: 'filter') : current_lead.present? ? step_lead_search_path(@search, step: 'project') ): new_admin_lead_search_path(@search.lead.id), class: "previous-btn btn btn-primary no-fill font-medium ms-2" %>
    </div>
    <div class="d-inline-block">
    <% if @search.next_step.present? %>
      <%= form_for [:lead, @search], html: {class: "validate-form edit_search_form"} do |f| %>
      <div class="">
        <%= f.hidden_field :step, value: @search.next_step %>
        <%= f.hidden_field :project_tower_id, id: 'project_tower_id', require: true %>
      </div>
      <div class="">
        <%= f.submit I18n.t("global.next"), disabled: true, class: "btn btn-primary font-medium border-primary ms-2" %>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" id="towerImage">
  <div class="modal-dialog modal-fullscreen" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-placeholder="gallery_tower_images">
      </div>
    </div>
  </div>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    var towers = <%= raw @towers.to_json(include: [:assets]) %>;
    _.each(towers, function(tower) {
      Gamification.gamifyTowerSelection(tower, $('#' + tower.project_tower_id + ' [data-placeholder="gamification"]'));
    });
    $('.result-list').click(function(e) {
      $('.result-list').removeClass('active')
      $(this).addClass('active')
      $("#project_tower_id").val($(this).attr('id'));
      var $form = $(".edit_search_form");
      var tower_id = $(this).attr('id')
      $form.find('[name="search[project_tower_id]"]').val(tower_id);
      $form.find('input[type="submit"]').removeAttr("disabled");
      var tower = _.find(towers, function(u){ return u.project_tower_id == tower_id });
      showTowerData(tower);
    });
    $('.extra-pad').css('padding-top', $('.result-list').outerHeight()/2);
    $('.result-list').eq(0).click();
  });
<% end %>
