<% if @towers.present? %>
  <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 no-pd mt-4 mb-5">
    <div class="bg-white search-result br-rd-4">
      <h2 class="title"> <%= t('controller.searches.towers.header') %></h2>
      <div class="row mb-5">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 scroll-bar">
          <% @towers.sort{|a,b| a[:project_tower_name] <=> b[:project_tower_name]}.each do |tower| %>
            <div class="result-list cursor-pointer tower-description" id=<%= tower[:project_tower_id] %>>
              <div class="title"><%= tower[:project_tower_name] %></div>
              <ul>
                <li><span class="no"><%= tower[:floors] %></span><span>Floors</span></li>
                <li><span class="no"><%= tower[:total_units] %></span><span>Total Apartments</span></li>
                <li><span class="no"><%= tower[:total_units_available] %></span><span>Available Apartments</span></li>
              </ul>
              <div class="info" data-placeholder='gamification'></div>
            </div>
          <% end %>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 d-none" id="tower-description" data-jquery-selector="tower-card">
          <div class="card h-md-100">
            <div class="p-3">
              <a data-toggle="modal" data-target="#towerImage" href="javascript:;" class="tower_image_container" style="display:none;">
                <img class="img-fluid" style="width: 100%; display: block;" data-placeholder="tower_image" />
                <br/>
                Click to view details
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
          <% if @search.next_step.present? %>
            <%= form_for [:user, @search], html: {class: "validate-form edit_search_form"} do |f| %>
              <div class="form-group">
                <%= f.hidden_field :step, value: @search.next_step %>
                <%= f.hidden_field :project_tower_id, id: 'project_tower_id', require: true %>
              </div>
              <div class="form-group">
                <%= f.submit "Next", disabled: true, class: "small-btn blue-bg display-block fn-400 float-right" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="alert alert-primary">
    <%= t('controller.searches.filter.error') %>
    <br/>
    <%= link_to t('controller.searches.filter.again'), edit_search_path, class: "modal-remote-form-link icon-set icon-sad-tear" %>
  </div>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function(){
    var towers = <%= raw @towers.to_json(include: [:assets]) %>;
    _.each(towers, function(tower) {
      Gamification.gamifyTowerSelection(tower, $('#' + tower.project_tower_id + ' [data-placeholder="gamification"]'));
    });
    $('.result-list').click(function(e) {
      if ($(this).hasClass('active')){
        $(this).removeClass('active')
      }
      else{
        $('.result-list').removeClass('active')
        $(this).addClass('active')
        $("#project_tower_id").val($(this).attr('id'));
        var $form = $(".edit_search_form");
        var tower_id = $(this).attr('id')
        $form.find('[name="search[project_tower_id]"]').val(tower_id);
        $form.find('input[type="submit"]').removeAttr("disabled");

        var tower = _.find(towers, function(u){ return u.project_tower_id == tower_id });
        console.log(tower)
        showTowerData(tower);
      }
    });
    $('.result-list').eq(0).click();
  });
<% end %>
