<div class="text-right">
  <% if @search.next_step.present? %>
    <%= form_for [:user, @search], html: {class: 'validate-form', id: "edit_search_form"} do |f| %>
      <div class="form-group">
        <%= f.hidden_field :step, value: @search.next_step %>
        <%= f.hidden_field :project_unit_id %>
      </div>
      <div class="form-group">
        <%= f.submit "Next", class: "btn btn-primary float-right ml-2", disabled: 'disabled' %>
      </div>
    <% end %>
  <% end %>
  <% if @search.previous_step.present? %>
    <%= form_for [:user, @search], html: {class: 'validate-form'} do |f| %>
      <div class="form-group">
        <%= f.hidden_field :step, value: @search.previous_step %>
      </div>
      <div class="form-group">
        <%= f.submit "Previous", class: "btn btn-secondary float-right" %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="clearfix"></div>
<div class="row justify-content-center mt-3">
  <div class="col-sm-5" id="unit-selection">
    <div class="tower-container">
      <div class="tower-wrapper">
        <% max_floor = @all_units.collect{|x| x[:_id]}.max %>
        <% max_per_floor = @all_units.collect{|x| x[:floor_order].max}.max %>
        <% width = ((100.to_f - (4 * max_per_floor)) / max_per_floor).round(2) %>
        <%
          height = (280.to_f / max_floor).round(2)
          height = 16 if height < 16
        %>
        <% @all_units.each do |floor_data| %>
          <div class="floor">
            <div class="floor-number"><%= floor_data[:_id] %></div>
            <% max_per_floor.times do |index| %>
              <%
                klass = 'bg-secondary'
                data_selector = ''
                unit = @units.find{|unit| unit.floor == floor_data[:_id] && unit.floor_order == (index + 1) }
                if unit
                  if unit.user_based_status(@user) == 'available'
                    klass = 'bg-white'
                    data_selector = 'unit-card'
                  else
                    klass = 'bg-danger'
                  end
                end
              %>
              <span data-jquery-selector="<%= data_selector %>" data-unit-id="<%= unit.present? ? unit.id : '' %>" class="apartment <%= klass %>" style="width: <%= width %>%;height: <%= height %>px;"></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-7 d-none" id="unit-description">
    <div class="card h-100">
      <div class="bg-primary text-white">
        <%= icon "fas", "home", class: "fa-2x position-absolute", style: "right:10px; top:10px;" %>
        <div class="p-3">
          <h3 class="font-weight-bold mb-3" data-placeholder='name'></h3>
          <h6 data-placeholder="gamification"></h6>
        </div>
        <figure class="w-100 wave">
          <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="20 -20 300 100" style="margin-bottom: -38px;margin-top: -54px;" xml:space="preserve">
            <path class="fill-white" opacity=".4" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
            c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"></path>
            <path class="fill-white" opacity=".4" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
            c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"></path>
            <path class="fill-white" opacity="0" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
            H42.401L43.415,98.342z"></path>
            <path class="fill-white" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
            c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"></path>
          </svg>
        </figure>
      </div>
      <div class="row p-3">
        <div class="col-md-4">
          <label>Floor</label>
          <h6 class="text-black font-weight" data-placeholder='floor'></h6>
        </div>
        <div class="col-md-4">
          <label>Beds</label>
          <h6 class="text-black font-weight" data-placeholder='bedrooms'></h6>
        </div>
        <div class="col-md-4">
          <label>Baths</label>
          <h6 class="text-black font-weight" data-placeholder='bathrooms'></h6>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-md-4">
          <label>Saleable</label>
          <h6 class="text-black font-weight">
            <span data-placeholder='saleable'></span>
            <span class="small"> <%= current_client.area_unit %></span>
          </h6>
        </div>
        <div class="col-md-4">
          <label>Carpet</label>
          <h6 class="text-black font-weight">
            <span data-placeholder='carpet'></span>
            <span class="small"> <%= current_client.area_unit %></span>
          </h6>
        </div>
        <div class="col-md-4">
          <label>Effective Rate</label>
          <h6 class="text-black font-weight">
            <span data-placeholder='effective_rate'></span>
            <span class="small"> <%= current_client.area_unit %></span>
          </h6>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-md-4">
          <label>Agreement Price</label>
          <h6 class="text-black font-weight" data-placeholder='agreement_price'></h6>
        </div>
        <div class="col-md-4">
          <label>All Inclusive Price</label>
          <h6 class="text-black font-weight" data-placeholder='all_inclusive_price'></h6>
        </div>
        <div class="col-md-4">
          <label>Facing</label>
          <h6 class="text-black font-weight" data-placeholder='unit_facing_direction'></h6>
        </div>
      </div>
      <div class="p-3">
        <a data-toggle="modal" data-target="#floorPlanImage" href="javascript:;">
          <img class="img-fluid" style="width: 100%; display: block;" data-placeholder="unit_image" />
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade right fixed-header-footer" role="dialog" id="floorPlanImage">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img data-placeholder="unit_image" style="width: 100%" />
      </div>
    </div>
  </div>
</div>
<%= javascript_tag do %>
  var units = <%= raw @units.to_json(include: [:assets]) %>;
  $(document).on('click', '[data-jquery-selector="unit-card"]', function(){
    var unit_id = $(this).data("unit-id");
    $('[data-jquery-selector="unit-card"]').removeClass("active");
    $(this).addClass("active");
    var $form = $("#edit_search_form");
    $form.find('[name="search[project_unit_id]"]').val(unit_id);
    $form.find('input[type="submit"]').removeAttr("disabled");
    showUnitData(unit_id);
  });

  var showUnitData = function(unit_id){
    var unit = _.find(units, function(u){ return u._id == unit_id });
    $("#unit-description").find('[data-placeholder="name"]').html(unit.name);
    $("#unit-description").find('[data-placeholder="floor"]').html(unit.floor);
    $("#unit-description").find('[data-placeholder="bedrooms"]').html(unit.bedrooms);
    $("#unit-description").find('[data-placeholder="bathrooms"]').html(unit.bathrooms);
    $("#unit-description").find('[data-placeholder="saleable"]').html(unit.saleable);
    $("#unit-description").find('[data-placeholder="carpet"]').html(unit.carpet);
    $("#unit-description").find('[data-placeholder="effective_rate"]').html(Amura.formatMoney(unit.effective_rate));
    $("#unit-description").find('[data-placeholder="agreement_price"]').html(Amura.formatMoney(unit.agreement_price));
    $("#unit-description").find('[data-placeholder="all_inclusive_price"]').html(Amura.formatMoney(unit.all_inclusive_price));
    if(unit.assets.length > 0){
      $('[data-placeholder="unit_image"]').attr("src", _.first(unit.assets).file.url);
      $('[data-placeholder="unit_image"]').show();
    }else{
      $('[data-placeholder="unit_image"]').hide();
    }
    $("#unit-description").find('[data-placeholder="facing"]').html(unit.facing);
    if($("#unit-description").hasClass('d-none')){
      $("#unit-selection").addClass('animated fadeInRight faster');
      $("#unit-description").addClass('animated fadeIn slow').removeClass('d-none');
    }
  }
<% end %>
