<section class="choose-apartment-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 bg-white br-rd-4 br-1 mb-5">
        <div class="row">
          <div class="col-lg-6 col-xs-12 col-sm-12 col-md-12 pt-3 pb-3">
              <% max_floor = @all_units.collect{|x| x[:_id]}.max %>
              <% max_per_floor = @all_units.collect{|x| x[:floor_order].max}.max %>
              <% width = ((100.to_f - (4 * max_per_floor)) / max_per_floor).round(2) %>
              <%
                height = (280.to_f / max_floor).round(2)
                height = 16 if height < 16
              %>
              <div class="left-info pl-5 pr-5 pt-0 pb-0 book-apartment">
                <div class="form-sec-title text-center">Choose Apartment</div>
                <ul class="book-box-info">
                  <li><span class="book-box available-aprt"></span><span>Available</span></li>
                  <li><span class="book-box booked-aprt"></span><span>Booked</span></li>
                  <li><span class="book-box soldout-aprt"></span><span>Sold Out</span></li>
                  <li><span class="book-box selected-aprt"></span><span>Selected</span></li>
                </ul>
                 <div class="booking-list">
                  <div class="apartments-no">
                    <ul class="aprt-no-list">
                      <% max_floor = @all_units.collect{|x| x[:_id]}.max %>
                            <% max_per_floor = @all_units.collect{|x| x[:floor_order].max}.max %>
                            <% width = ((100.to_f - (4 * max_per_floor)) / max_per_floor).round(2) %>
                            <%
                              height = (280.to_f / max_floor).round(2)
                              height = 16 if height < 16
                            %>
                      <% max_per_floor.times do |index| %>
                        <li><span class="book-box"><%= index + 1 %></span></li>
                      <% end %>
                    </ul>
                    <div class="separate-box"></div>
                    <div class="floor-listing">
                      <div class="floor-inner">
                        <% @all_units.each do |floor_data| %>
                        <div class="floor">
                          <div class="floor-number"><%= floor_data[:_id] %></div>
                          <% max_per_floor.times do |index| %>
                            <%
                              klass = 'soldout-aprt'
                              data_selector = ''
                              unit = @units.find{|unit| unit.floor == floor_data[:_id] && unit.floor_order == (index + 1) }
                              if unit
                                if unit.user_based_status(@user) == 'available'
                                  klass = 'available-aprt'
                                  data_selector = 'unit-card'
                                elsif unit.user_based_status(@user) == 'booked'
                                  klass = 'booked-aprt'
                                elsif unit.user_based_status(@user) == 'hold'
                                  klass = 'bg-secondary'
                                else
                                  klass = 'soldout-aprt'
                                end
                              end
                            %>
                            <% if unit.present? %>
                              <span data-jquery-selector="<%= data_selector %>" data-toggle="popover" data-content="<%= unit_tooltip(unit, @user) %>" data-title="Details for <%= unit.name %>" data-unit-id="<%= unit.present? ? unit.id : '' %>" class="book-box <%= klass %>" ></span>
                            <% else %>
                              <span data-jquery-selector="<%= data_selector %>" class="book-box <%= klass %>"></span>
                            <% end %>
                          <% end %>
                        </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="separate-box"></div>
                  </div>
                 </div>
              </div>

            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mt-5">
              <% if @search.previous_step.present? %>
                <%= form_for [:user, @search] do |f| %>
                    <%= f.hidden_field :step, value: @search.previous_step %>
                    <%= f.submit "Previous", class: "previous-btn fn-12 fn-300" %>
                <% end %>
              <% end %>
              <% if @search.next_step.present? %>
                <%= form_for [:user, @search] do |f| %>
                    <%= f.hidden_field :step, value: @search.next_step %>
                    <%= f.hidden_field :project_unit_id, id: 'project_unit_id' %>
                    <%= f.submit "Next", class: "next-btn fn-12 fn-300", disabled: 'disabled' %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="col-lg-6 col-xs-12 col-sm-12 col-md-12 br-l-1 no-pd after-show d-none" id="unit-description" >
            <div class="right-info pl-5 pr-5 pt-4 pb-4">
              <div class="title float-left" data-placeholder="name" ></div>
              <div class="alert-box float-right">
                <!-- whenever give animation on bell only add class (bell-anime) -->
                <div class="info bell-anime" data-placeholder="gamification"></div>
              </div>
              <ul class="apartments-info-list">
                <li class="wd-25"><span class="icon"><img src="<%= asset_path 'building-black.svg' %>" alt="floor"></span><span class="title" data-placeholder="floor"></span><span class="desc">Floor</span></li>
                <li class="wd-25"><span class="icon"><img src="<%= asset_path 'door-black.svg' %>" alt="Apartment"></span><span class="title" data-placeholder="floor_order"></span><span class="desc">Apartment</span></li>
                <li class="wd-25"><span class="icon"><img src="<%= asset_path 'loveseat-black.svg' %>" alt="Carpet Area"></span><span class="title" data-placeholder="carpet"></span><span class="desc">Carpet Area Sq.Ft</span></li>
                <li class="wd-25 no-rt-br"><span class="icon"><img src="<%= asset_path 'compass-black.svg' %>" alt="floor"></span><span class="title" data-placeholder="facing"></span><span class="desc">Facing</span></li>
                <li class="wd-50 no-bm-br"><span class="icon"><img src="<%= asset_path 'file-contract-black.svg' %>" alt="floor"></span><span class="title" data-placeholder="agreement_price"></span><span class="desc">Agreement Value</span></li>
                <li class="wd-50 no-bm-br"><span class="icon"><img src="<%= asset_path 'rupee-black.svg' %>" alt="floor"></span><span class="title" data-placeholder="all_inclusive_price"></span><span class="desc">All Inclusive Price</span></li>
              </ul>
              </div>
              <div class="right-info pl-5 pr-5 pt-4 pb-4">
                <div class="float-left">
                  <a data-toggle="modal" data-target="#floorPlanImage" href="javascript:;" class="unit_image_container" style="display:none;">
                    <img class="img-fluid" style="width: 100%; display: block;" data-placeholder="unit_image" />
                    <br/>
                    Click to view details
                  </a>
                </div>
              </div>
              <div class="right-info pl-5 pr-5 pt-4 pb-4">
                <div class=" float-left">
                  <a href="javascript:;">View Cost Sheet & Payment Schedule </a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= javascript_tag do %>
  var units = <%= raw @units.to_json(methods: [:all_inclusive_price, :calculated_costs, :calculated_data, :calculated_costs]) %>;
  var assets = <%= raw Asset.in(assetable_id: @units.pluck(:id)).to_json %>

  $(document).on('click', '[data-jquery-selector="unit-card"]', function(){
    var unit_id = $(this).data("unit-id");
    $('[data-jquery-selector="unit-card"]').removeClass("selected-aprt");
    $(this).addClass("selected-aprt");
    $("#project_unit_id").val(unit_id);
    $('.next-btn').removeAttr('disabled')
    var unit = _.find(units, function(u){ return u._id == unit_id });
    var unit_assets = _.filter(assets, function(a){return a.assetable_id == unit_id});
    showUnitData(unit, unit_assets);
    $(".print_cs_ps").attr("href", "/<%= current_user_role_group %>/project_units/" + unit_id + "/quotation?layout=false");
  });
<% end %>
