<div class="card shadow-sm rounded px-0 bg-white mb-5">
  <div class="row">
    <div class="col-lg-6">
      <div class="card-header bg-white pb-0">
        <div class="p-2 py-3">
          <h2 class="fn-24 theme-txt-color font-normal mb-4">Create Booking</h2>
          <div class="d-flex justify-content-start">
            <p class="fn-16 theme-txt-color mb-0"><i class="fa fa-check-circle me-2 fill-success"></i>
            <%= link_to t('global.filter_project'), edit_search_path, class: "modal-remote-form-link theme-txt-color step-change-btn" %>  
            </p>
            <p class="wd-22 border-top border-2 mt-2 mx-3 mb-0"></p>
            <p class="fn-16 txt-light-blue mb-0"><i class="fa fa-check-circle me-2 fill-success"></i>Choose Tower</p>
            <p class="wd-22 border-top border-2 mt-2 mx-3 mb-0"></p>
            <p class="fn-16 txt-light-blue mb-0"><i class="fa fa-check-circle me-2 fill-theme"></i>Choose Apartment</p>
          </div>
        </div>
      </div>
      <div class="card-body bg-white p-0">
        <div class="card text-dark bg-light border border-white mb-3">
          <div class="card-body bg-white">
            <% if @towers.present? %>
            <% @towers.sort{|a,b| a[:project_tower_name] <=> b[:project_tower_name]}.each do |tower| %>
            <div class="card text-dark bg-white border mb-3 result-list cursor-pointer tower-description"
              id=<%= tower[:project_tower_id] %>>
              <div class="card-body">
                <div class="row">
                  <div class="col-8">
                    <h5 class="fn-20 font-normal theme-txt-color"><%= tower[:project_tower_name] %></h5>
                    <p class="fn-14 theme-txt-color"><%= tower[:floors] %> Floors</p>
                    <p class="fn-14"><%= tower[:total_units] %> Apartments / <span
                        class="text-success font-medium"><%= tower[:total_units_available] %>
                        Available</span></p>
                  </div>
                  <div class="col">
                    <img style="width: 160px; height: 87px;" src="<%= asset_path 'Booking.png' %>">
                  </div>
                </div>
              </div>
              <div class="card-footer bg-white">
                <i class="fas fa-bell fill-warning"></i>
                <div class="fn-12 d-inline-block ms-2 theme-txt-color" data-placeholder='gamification'></div>
              </div>
            </div>
            <% end %>

            <% else %>
            <div class="alert alert-primary">
              <%= t('controller.searches.filter.error') %>
              <br />
              <%= link_to t('controller.searches.filter.again'), edit_search_path, class: "modal-remote-form-link icon-set icon-sad-tear" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 text-end">
      <img src="<%= asset_path 'booking-floor.png' %>" class="img-fluid wd-100">
    </div>
    <div class="col-lg-12">
      <div class="border-top px-3 mt-3">
        <% if @search.next_step.present? %>
        <%= form_for [:lead, @search], html: {class: "validate-form edit_search_form"} do |f| %>
        <div class="mb-3">
          <%= f.hidden_field :step, value: @search.next_step %>
          <%= f.hidden_field :project_tower_id, id: 'project_tower_id', require: true %>
        </div>
        <div class="mb-3">
          <%= f.submit "Next", disabled: true, class: "bg-primary px-3 rounded white border-0 py-1" %>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_tag do %>
$(document).ready(function(){
var towers = <%= raw @towers.to_json(include: [:assets]) %>;
_.each(towers, function(tower) {
Gamification.gamifyTowerSelection(tower, $('#' + tower.project_tower_id + ' [data-placeholder="gamification"]'));
});
$('.result-list').click(function(e) {
$('.result-list').removeClass('active')
$(this).addClass('active')
$("#project_tower_id").val($(this).attr('id'));
var $form = $(".edit_search_form");
var tower_id = $(this).attr('id')
$form.find('[name="search[project_tower_id]"]').val(tower_id);
$form.find('input[type="submit"]').removeAttr("disabled");
var tower = _.find(towers, function(u){ return u.project_tower_id == tower_id });
showTowerData(tower);
});
$('.extra-pad').css('padding-top', $('.result-list').outerHeight()/2);
$('.result-list').eq(0).click();
});
<% end %>