<% if @towers.present? %>
  <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 no-pd mt-4 mb-3">
    <div class="bg-white search-result br-rd-4">
      <div class="title">Search Result</div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 scroll-bar min-ht-3tower">
        <% @towers.sort{|a,b| a[:project_tower_name] <=> b[:project_tower_name]}.each do |tower| %>
          <div class="result-list" id=<%= tower[:project_tower_id] %>>
            <div class="title"><%= tower[:project_tower_name] %></div>
            <ul>
              <li><span class="no"><%= tower[:floors] %></span><span>Floors</span></li>
              <li><span class="no"><%= tower[:total_units] %></span><span>Total  Apartments</span></li>
              <li><span class="no"><%= tower[:total_units_available] %></span><span>Available  Apartments</span></li>
            </ul>
            <div class="info">33 other people like you are looking  for a home in this tower</div>
          </div>
        <% end %>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 d-none" id="tower-description" data-jquery-selector="tower-card">
        <img data-placeholder="tower_image" class="img-fluid">
      </div>
      <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
        <% if @search.next_step.present? %>
          <%= form_for [:user, @search], html: {class: "validate-form edit_search_form"} do |f| %>
            <div class="form-group">
              <%= f.hidden_field :step, value: @search.next_step %>
              <%= f.hidden_field :project_tower_id, id: 'project_tower_id' %>
            </div>
            <div class="form-group">
              <%= f.submit "Next", class: "small-btn blue-bg display-block fn-400 float-right" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="alert alert-primary">
    We couldn't find any towers for your selection, would you like to change your search?
    <br/>
    <%= link_to "Search Again", edit_search_path, class: "modal-remote-form-link" %>
  </div>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function(){
    var towers = <%= raw @towers.to_json(include: [:assets]) %>;
    $('.result-list').click(function(e) {
      if ($(this).hasClass('active')){
        $(this).removeClass('active')
      }
      else{
        $('.result-list').removeClass('active')
        $(this).addClass('active')
        $("#project_tower_id").val($(this).attr('id'));
        var $form = $(".edit_search_form");
        var tower_id = $(this).attr('id')
        $('[data-jquery-selector="tower-card"] svg').addClass('d-none');
        $(this).find('svg').removeClass('d-none');
        $form.find('[name="search[project_tower_id]"]').val(tower_id);
        $form.find('input[type="submit"]').removeAttr("disabled");

        var tower = _.find(towers, function(u){ return u.project_tower_id == tower_id });
        showTowerData(tower);
      }
    });
  });
  $(document).on('click', '[data-jquery-selector="tower-card"]', function(){
  });
<% end %>
