  <div class="row justify-content-center">
    <div class="col-md-7">
      <% if @project_unit.present? %>
        <%= render 'dashboard/project_unit_overview', {project_unit: @project_unit} %>
      <% end %>
      <div class="mt-3"></div>
      <div class="card">
        <div class="card-body payment-gateway-message">
          <div class="title">You'll be redirected to <%= t("client.payment_gateways.#{current_client.payment_gateway}") %>, where you can pay using Net Banking, UPI, Credit/Debit Card or Wallet</div>
          <div class="mt-3"></div>
          <% if @project_unit.present? && @project_unit.status == "hold" %>
            <%= form_for @project_unit, url: make_available_user_search_path(@search), method: 'post', html: {class: 'validate-form'} do |f| %>
              <%= f.hidden_field :status, value: 'available' %>
              <%= f.submit 'Cancel', class: 'btn btn-danger float-left ml-md-2 mt-md-0 mt-2' , data:{event_category: 'Section', event_action: 'Click', event_name: 'Cancel'}%>
            <% end %>
          <% end %>
          <form method="post" name="redirect" action="<%= @receipt.payment_gateway_service.ccavenue_url %>">
            <input type="hidden" name="encRequest" value="<%= @receipt.payment_gateway_service.build_parameters(@search.id) %>" />
            <input type="hidden" name="access_code" value="<%= @receipt.payment_gateway_service.payment_profile[:access_code] %>" />
          </form>
      </div>
    </div>
  </div>
  <%= javascript_tag do %>
    document.redirect.submit();
  <% end %>
