<section class="my-customer my-4 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-title">
          <h1 class="title icon-set icon-search-black icon-bs-15">
            <%= t('controller.searches.new.header')%>
          </h1>
            <% unless current_user.buyer? %>
              </br><small class="help-text fn-14 fn-500"> <%= t('controller.searches.new.booking_hint', name: @lead.name) %> </small>
            <% end %>
        </div>
      </div>

      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-btn-set float-right pb-3">

        </div>
      </div>

      <div class="separate-line"></div>

      <div class="mt-5 mb-2 col-lg-12 col-xs-12 col-sm-12 col-md-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 no-pd text-center">
            <% if SearchPolicy.new(current_user, Search.new(lead_id: @lead.id)).three_d? %>
                <div class="card h-100">
                  <div class="card-body text-center">
                    <h5 class="mb-3">Book in 3D View</h5>
                    <%
                      if current_user.buyer?
                        url = three_d_user_searches_path
                      else
                        url = three_d_admin_lead_searches_path(@lead)
                      end
                    %>
                    <%= link_to (image_tag("3d-building.jpg", class: "img-fluid")).html_safe, url %>
                  </div>
                </div>
            <% else %>
              <%= image_tag project_asset_image_url(@lead.project, 'unit_selection_filter_image') || 'search-home-img.png', class: 'rounded img-fluid', width: 400, height: 400 %>
            <% end %>
          </div>

          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 no-pd mb-5">
            <div class="search-home-form">
              <%= form_for @search, url: search_next_step_url, html: {class: 'validate-form', id: "search_form"} do |f| %>
                <%= render "form_fields", {f: f, data: @data} %>
                <div class="form-group">
                  <%= f.submit "Search", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#search_form"));
});
<% end %>
