<%= form_for @search, url: search_next_step_url, html: {class: 'validate-form row theme-form', id: "search_form"} do |f| %>
  <div class="row vh-100">
    <div class="col-lg-3 booking-flow-step px-0 mh-100">
      <p class="fn-16 mb-0 active">
        <!-- <i class="fa fa-check-circle me-2 fill-success"></i> -->
        <span><%= t('controller.searches.select_project.step') %></span>
        <%= I18n.t("controller.searches.select_project.link_name") %>
      </p>
      <p class="fn-16 mb-0">
        <!-- <i class="fa fa-check-circle me-2 fill-success"></i> -->
        <span><%= t('controller.searches.filter.step') %></span>
        <%= I18n.t("controller.searches.filter.link_name") %>
      </p>
      <p class="fn-16 mb-0">
        <!-- <i class="fa fa-check-circle me-2 fill-theme"></i> -->
        <span><%= t('controller.searches.towers.step') %></span>
        <%= I18n.t("controller.searches.towers.link_name") %>
      </p>
      <p class="fn-16 mb-0">
        <!-- <i class="fa fa-check-circle me-2 fill-theme"></i> -->
        <span><%= t('controller.searches.apartments.step') %></span>
        <%= I18n.t("controller.searches.apartments.link_name") %>
      </p>
    </div>
    <div class="col-lg-9 px-5 mh-100">
      <div class="row">
        <div class="col-lg-12 mt-3 px-0">
          <hr class="mb-4"/>
            <div class="mb-3">
              <%= f.hidden_field :step, value: 'project' %>
              <%= f.label :project_id %>
              <%= f.select :project_id, options_from_collection_for_select(@projects, "id", "ds_name", f.object.project_id), {prompt: 'Select Project'}, required: true, class: 'selectize' %>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="booking-flow-footer position-fixed bottom-0 start-0 p-2 py-3 bg-white border-top text-end">
    <%= link_to t('global.cancel'), dashboard_path, class: "btn btn-primary no-fill font-medium ms-2" %>
    <%= f.submit I18n.t("global.next"), class: "btn btn-primary w-auto d-inline-block font-medium border-primary ms-2 text-white fs-6", form: 'search_form' %>
  </div>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#search_form"));
  });
<% end %>
