<div class="container">
  <% unless current_user.buyer? %>
    <div class="alert alert-danger">
      You are taking a booking for <%= @user.name %>
    </div>
    <div class="mt-3"></div>
  <% end %>
  <iframe id="external_inventory_iframe" name="external_inventory_iframe" width="100%" height="550px" frameborder="0" src="<%=  current_client.external_inventory_view_config.url %>" scrolling="no" style="border:0"></iframe>
</div>
<script type="text/javascript">
  $(document).ready(function($){
    <%
      data = ProjectUnit.only(:erp_id, :status, :all_inclusive_price).collect do |x|
        {
          apartment_ID: x.erp_id,
          status: (x.user_based_status(current_user) == "available" ? "open" : "booked"),
          price: x.all_inclusive_price,
          id: x.id.to_s
        }
      end
    %>
    <%
      user = {
        id: @user.id,
        name: @user.name,
        buyer: current_user.buyer?,
        role: @user.role
      }
    %>
    var provider = new <%= current_client.external_inventory_view_config.provider %>(<%= raw user.to_json %>, "<%= current_client.external_inventory_view_config.url %>", "external_inventory_iframe", {hotspots: <%= raw data.to_json %>});
    document.getElementById('external_inventory_iframe').onload = function() {
      provider.init();
    };
  });
</script>
