// TODO: handle case if sell.do throws error, the form is hidden and nothing will happen
<% url = Rails.application.routes.url_helpers %>
// TODO: Keep this or the successfully submitted method. Both cannot be calling the registration method
function sell_do_form_successfully_verified(e){
  // register_user_with_portal(e);
}
$(document).on("ajax:success", '#otp_user_form', function(evt){
  var detail = evt.detail;
  var data = detail[0], status = detail[1], xhr = detail[2];
  var $this = $(this);
  $(this).find('[name="user[login]"]').closest(".form-group").attr("hidden", "hidden");
  $(this).find('[name="user[login_otp]"]').closest(".form-group").removeAttr("hidden");
  $(this).find('[name="user[login_otp]"]').focus();
  $(this).removeAttr("data-type").removeAttr("data-remote");
  setTimeout(function(){
    if(data.confirmed){
      $this.find('input[type="submit"]').val("Log In").attr("data-disable-with", "Logging in");
    }else{
      $this.find('input[type="submit"]').val("Verfiy your Account").attr("data-disable-with", "Verifying & Logging you in");
    }
  }, 200);
  $(this).attr("action", "<%= url.user_session_path %>");
});

$(document).on("ajax:error", '#otp_user_form', function(evt){
  var detail = evt.detail;
  var data = detail[0], status = detail[1], xhr = detail[2];
  if(xhr.status == 201){
    new Noty({
      text: "Invalid Phone Number",
      timeout: 5000,
      type: 'error'
    }).show();
  }
});
document.addEventListener("sell_do_form_submitted_with_error", function(){
  setTimeout(function(){
    $('[name="sell_do[form][custom][portal_stage]"]').closest(".selldof_row").hide();
    $(".sell_do_form_actual_container .form_error_message").remove();
    new Noty({
      text: "A user with this email or phone has already registered",
      timeout: 5000,
      type: 'error'
    }).show();
  }, 100);
}, false);

document.addEventListener("sell_do_form_rendered", function(){
  var variables = decodeURIComponent(window.location.search.substring(1)).split('&');
  var params = {};
  _.each(variables, function(v){
    if(v.split("=").length == 2){
      params[v.split("=")[0]] = v.split("=")[1];
    }
  });
  setTimeout(function(){
    $('[name="sell_do[form][custom][portal_stage]"]').closest(".selldof_row").hide();
  }, 100);
  if(params.first_name && params.last_name && params.phone && params.email && params.lead_id){
    $('[name="sell_do[form][lead][first_name]"]').val(params.first_name);
    $('[name="sell_do[form][lead][last_name]"]').val(params.last_name);
    $('[name="sell_do[form][lead][email]"]').val(params.email);
    $('[name="sell_do[form][lead][phone]"]').val(params.phone);
  }
}, false);

function sell_do_form_successfully_submitted(e){
  if(typeof App !== "undefined" && App.current_user){
    $(".sell_do_form_container").html('<div class="alert alert-success">Please wait, we have registered the user; generating login details & sending confirmation email / SMS to the user.</div>');
  }else{
    var message = 'Thank you for registering with us.'
    if(App.client.preferred_login == "phone"){
      message += ' Please wait while we redirect you to verify your phone number.'
    }
    $(".sell_do_form_container").html('<div class="alert alert-success">' + message + '</div>');
  }
  register_user_with_portal(e);
}

function sell_do_form_submission_failed(e){
  $(".sell_do_form_container").html('<div class="alert alert-success">This customer has already registered with us. We cannot register the same customer again.</div>');
}

function register_user_with_portal(e){
  var data = {
    lead_id: e.lead_id,
    first_name: unescape(e['sell_do[form][lead][first_name]'].replace("+", " ")),
    last_name: unescape(e['sell_do[form][lead][last_name]'].replace("+", " ")),
    email: unescape(e['sell_do[form][lead][email]']),
    phone: unescape(e['sell_do[form][lead][phone]']),
    mixpanel_id: unescape(e['sell_do[campaign][mixpanel_id]'])
  }
  $.ajax({
    url: '<%= url.check_and_register_path %>',
    data: data,
    dataType: 'json',
    type: 'POST',
    success: function(one, two, three){
      // show success message and redirect to after sign in path
      new Noty({
        text: one.success || 'Request completed successfully',
        timeout: 5000,
        type: 'success'
      }).show();
      setTimeout(function(){
        if(typeof App !== "undefined" && App.current_user){
          window.location = '<%= url.admin_users_path %>';
        }else{
          if(App.client.preferred_login == "phone" && data.phone){
            window.location = encodeURI('<%= url.new_user_session_path %>?force=true&user[login]=' + encodeURIComponent(data.phone));
          }else{
            // Do Nothing as the user has been created
          }
        }
      }, 3000);
    },
    error: function(one, two, three){
      var str = ''
      if(one.responseJSON.errors){
        if(typeof one.responseJSON.errors == 'array'){
          str += '<ul>';
          _.each(one.responseJSON.errors, function(error){
            str += '<li>' + error + '</li>';
          });
          str += '</ul>';
        }
        if(typeof one.responseJSON.errors == 'string'){
          str = one.responseJSON.errors
        }
        if(str){
          new Noty({
            text: str,
            timeout: 5000,
            type: 'error'
          }).show();
        }
      }
      setTimeout(function(){
        if(_.isEmpty(one.responseJSON.url)){
          if(typeof App !== "undefined" && App.current_user){
            window.location = '<%= url.new_admin_user_path %>?email=' + data.email + '&phone=' + data.phone + '&first_name=' + data.first_name + '&last_name=' + data.last_name + '&lead_id=' + data.lead_id;
          }else{
            window.location = window.location.protocol + "//" + window.location.host + window.location.pathname + '?email=' + data.email + '&phone=' + data.phone + '&first_name=' + data.first_name + '&last_name=' + data.last_name + '&lead_id=' + data.lead_id;
          }
        }else{
          window.location = one.responseJSON.url;
        }
      }, 3000);
    }
  });
}
