<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <table>
   	<tr>
   		<td> <%= I18n.t("mongoid.attributes.user.name") %>: </td>
   		<td> <%= @channel_partner.name %> </td>
   	</tr>
   	<tr>
   		<td> <%= I18n.t("mongoid.attributes.user.email") %>: </td>
   		<td> <%= @channel_partner.email %></td>
   	</tr>
   </table>

   <p><%= I18n.t("controller.channel_partners.text.adding_existing_lead") %> </p>
   <table>
   	<tr>
   		<td> <%= I18n.t("mongoid.attributes.user.name") %>: </td>
   		<td> <%= @user.name %> </td>
   	</tr>
   	<tr>
   		<td> <%= I18n.t("mongoid.attributes.user.email") %>: </td>
   		<td> <%= @user.email %></td>
   	</tr>
   	<tr>
   		<td><%= I18n.t("mongoid.attributes.channel_partner.created_on") %> </td>
   		<td> <%= @user.created_at.utc.to_date.strftime("%_m/%d") %></td>
   	</tr>
   </table>
  </body>
</html>

