<% if policy(@project_unit).editable_field?("booking_price") %>
  <div class="form-group">
    <%= f.label :booking_price %>
    <%= f.text_field :booking_price, class: 'form-control', autofocus: true, required: 'required', disabled: (policy(@project_unit).editable_field?("booking_price") ? false : true) %>
  </div>
<% end %>
<% if policy(@project_unit).editable_field?("blocking_amount") %>
  <div class="form-group">
    <%= f.label :blocking_amount %>
    <%= f.text_field :blocking_amount, class: 'form-control', autofocus: true, required: 'required', disabled: (policy(@project_unit).editable_field?("blocking_amount") ? false : true) %>
  </div>
<% end %>
<% if policy(@project_unit).editable_field?("primary_user_kyc_id") %>
<div class="form-group">
  <%= f.label :primary_user_kyc_id %>
  <%= f.select :primary_user_kyc_id, @project_unit.user.user_kycs.collect{|x| [x.name, x.id]}, {prompt: true}, class: 'selectize', required: 'required' %>
</div>
<% end %>
<% if policy(@project_unit).editable_field?("user_kyc_ids") %>
<div class="form-group">
  <%= f.label :user_kyc_ids %>
  <%= f.select :user_kyc_ids, (@project_unit.user.present? && @project_unit.user.user_kycs.present?) ? @project_unit.user.user_kycs.collect{|x| [x.name, x.id]} : [], {prompt: true}, class: 'selectize', multiple: true %>
</div>
<% end %>
<div class="form-group">
  <% if policy(@project_unit).editable_field?("auto_release_on") && @project_unit.auto_release_on.present? %>
  <div class="form-group">
    <%= f.label :auto_release_on, class: 'label-required title' %>
    <%= f.text_field :auto_release_on, class: 'form-control datepicker', required: 'required', "data-default-date": f.object.auto_release_on.present? ? f.object.auto_release_on.strftime("%d/%m/%Y") : '', "data-min-date": Date.tomorrow.strftime("%d/%m/%Y"), disabled: (policy(@project_unit).editable_field?("auto_release_on") ? false : true), value: f.object.auto_release_on.present? ? f.object.auto_release_on.strftime("%d/%m/%Y") : "" %>
  </div>
  <% end %>
  <%
    statuses = []
    if ["available", "not_available", "employee", "management", "error", "negotiation_failed"].include?(@project_unit.status)
      statuses = ["available", "not_available", "employee", "management"]
    elsif ["blocked", "booked_tentative"].include?(@project_unit.status) && @project_unit.pending_balance <= 0
      statuses = ["booked_confirmed"]
    end
  %>
  <% if policy(@project_unit).editable_field?("status") && statuses.present? %>
    <div class="form-group">
      <%= f.label :status, class: 'title' %>
      <%= f.select :status, ProjectUnit.available_statuses.select{|x| statuses.include?(x[:id]) || x[:id] == @project_unit.status }.collect{|x| [x[:text], x[:id]]}, {}, {prompt: "Select", class: "selectize", disabled: (policy(@project_unit).editable_field?("status") ? false : true)} %>
    </div>
  <% end %>
</div>
