
        <% unless @lead = @customer_search.customer.presence %>
          <% @lead = Lead.new(project_id: current_user.selected_project_id) %>
          <% @customer_search.customer = @lead %>
          <% url = check_and_register_path %>
        <% else %>
          <% url = admin_customer_search_path(@customer_search) %>
        <% end %>
        <%= simple_form_for @lead, url: url, remote: true, local: true, html: { class: "validate-form new_lead theme-form", "data-resource-type": global_labels['lead'], "data-type": "json" } do |f| %>
          <%= hidden_field_tag :customer_search_id, @customer_search.id.to_s %>
          <%= render 'admin/leads/non_selldo_form_fields', f: f, lead: @lead %>

          <% if current_client.enable_channel_partners? %>
            <div class='row'>
              <div class="col-md-12">
                <%= f.input :manager_id, collection: User.in(role: ['channel_partner', 'cp_owner']).where(booking_portal_client_id: current_user.booking_portal_client_id).collect{|user| [user.ds_name, user.id]}, selected: @lead.manager_id, disabled: !policy([:admin, @lead]).editable_field?("manager_id"), prompt: :translate, input_html: { class: 'selectize', name: 'manager_id' } %>
              </div>
            </div>
          <% end %>
          <div class = 'row'>
            <div class = 'col-md-12 border-top pt-3'>
              <%= submit_tag "Save", class: 'btn btn-primary float-end w-auto border-primary' %>
            </div>
          </div>
        <% end %>
<%= javascript_tag do %>
  $(document).ready(function(){
    $(document).on("ajax:success", '.new_lead', function(evt, data, status, xhr){
      window.location = window.location;
      Amura.global_success_handler(evt.detail[0]["success"])
    });
    $(document).on("ajax:error", '.new_lead', function(evt, data, status, xhr){
      Amura.global_error_handler(evt.detail[0].errors)
    });
    FormInitializer.init(".new_lead");
  });
<% end %>
