<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <thead>
      <tr class="bg-gradient-cd white">
        <% unless current_user.buyer? %>
          <th><%= t('mongoid.attributes.email.to') %></th>
        <% end %>
        <th><%= t('mongoid.attributes.email.subject') %></th>
        <th><%= t('mongoid.attributes.email.status') %></th>
        <th><%= t('mongoid.attributes.email.sent_on') %></th>
        <th class="text-right"><%= t('global.action', count: 3) %></th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <% unless current_user.buyer? %>
          <td>
            <% email.to.each do |e| %>
            <%= mail_to e %>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= link_to truncate(email.subject, length: 30, separator: ''), [ current_user_role_group, email], target: :_blank, title: email.subject %>
        </td>
        <td>
          <%= t("emails.status.#{email.status}") %>
        </td>
        <td>
          <%= email.sent_on.try(:strftime, '%b %e %Y, %l:%M %p') || '-' %>
        </td>
        <td>
          <div class="dropdown show text-right">
          <a class="btn dropdown-toggle table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to t("controller.emails.show.link_name", model: Email.model_name.human), [ current_user_role_group, email], class: 'dropdown-item', target: :_blank %>
           </div>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pt-2">
  <%= will_paginate @emails, list_classes: %w(pagination justify-content-center) %>
</div>
