<table class='table table-responsive table-color'>
  <thead>
    <thead>
      <tr>
        <% unless current_user.buyer? %>
        <th><%= t('mongoid.attributes.email.to') %></th>
        <% end %>
        <th><%= t('mongoid.attributes.email.subject') %></th>
        <th><%= t('mongoid.attributes.email.status') %></th>
        <th><%= t('mongoid.attributes.email.sent_on') %></th>
        <th class="btn-action">Action</th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% @emails.each do |email| %>
    <tr>
      <% unless current_user.buyer? %>
      <td data-title=<%= t('mongoid.attributes.email.to') %>>
        <% email.to.each do |e| %>
        <%= mail_to e, e, class: "theme-txt-color" %>
        <% end %>
      </td>
      <% end %>
      <td data-title=<%= t('mongoid.attributes.email.subject') %>>
        <%= link_to truncate(email.subject, length: 30, separator: ''), [ current_user_role_group, email], target: :_blank, title: email.subject, class: 'theme-txt-color' %>
      </td>
      <td data-title=<%= t('mongoid.attributes.email.status') %>>
        <%= t("emails.status.#{email.status}") %>
      </td>
      <td data-title=<%= t('mongoid.attributes.email.sent_on') %>>
        <%= email.sent_on.present? ? email.sent_on.strftime('%b %e %Y, %l:%M %p') : '-' %>
      </td>
      <td>
        <div class="dropdown">
          <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-ellipsis-v fill-theme" aria-hidden="true"></i></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <%= link_to t("controller.emails.show.link_name", model: Email.model_name.human), [ current_user_role_group, email], class: 'dropdown-item', target: :_blank %>
            <% if policy([current_user_role_group, email]).resend_email? %>
              <%= link_to t("controller.emails.resend_email.link_name"), resend_email_admin_email_path(id: email.id), class: "dropdown-item" %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 py-3 bg-white mb-2 px-3 mt-0 shadow-sm">
  <div class="row">
    <div class="col-lg-6 pt-2">
      <p class="table-entry mb-0"><%= page_entries_info emails %></p>
    </div>
    <div class="col-lg-6 table-pagination">
      <%= will_paginate @emails, list_classes: %w(pagination justify-content-end) %>
    </div>
  </div>
</div>