<section class="mt-0">
  <div class="px-0">
    <div class="row g-0">
      <div class="col-lg-12 p-0">
        <% @emails.each do |email| %>
        <div class="white rounded-3 float-start wd-100 mt-4 shadow-sm position-relative">
          <div class="float-start wd-100">
            <div class="d-flex justify-content-between">
              <div>
                <div class="inner-info">
                <% unless current_user.buyer? %>
                  <div class="ps-3 py-3 float-start">
                    <p class="font-medium fn-14 mb-0">
                      <% email.to.each do |e| %>
                        <%= mail_to e, e, class: "primary" %><br>
                      <% end %>
                    </p>
                    <p class="fn-12 mb-0"><%= t('mongoid.attributes.email.to') %></p>
                  </div>
                  <% end %>
                </div>
              </div>
              <div>
                <div class="row ht-inner-col-150">

                  <div class="col border-start py-3 px-3 wd-150 position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle w-75">
                      <p class="font-medium fn-14 mb-0"> <%= link_to truncate(email.subject, length: 30, separator: ''), [ current_user_role_group, email], target: :_blank, title: email.subject, class: "primary" %></p>
                      <p class="fn-12 mb-0"><%= t('mongoid.attributes.email.subject') %></p>
                    </div>
                  </div>

                  <div class="col border-start py-3 px-3 wd-150 position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle w-75">
                      <p class="font-medium fn-14 mb-0"><%= t("emails.status.#{email.status}") %></p>
                      <p class="fn-12 mb-0"><%= t('mongoid.attributes.email.status') %></p>
                    </div>
                  </div>

                  <div class="col border-start py-3 px-3 wd-150 position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle w-75">
                      <p class="font-medium fn-14 mb-0"><%= email.sent_on.try(:in_time_zone, current_user.time_zone).try(:strftime, '%b %e %Y, %l:%M %p') || '-' %></p>
                      <p class="fn-12 mb-0"><%= t('mongoid.attributes.email.sent_on') %></p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="position-absolute custom-top-10 custom-end-20">
            <div class="dropdown">
              <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-ellipsis-v primary" aria-hidden="true"></i></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <%= link_to t("controller.emails.show.link_name", model: Email.model_name.human), [ current_user_role_group, email], class: 'dropdown-item', target: :_blank %>
              </div>
            </div>
          </div>
        </div>
            <% end %>
          </div>

          <!----------- Pagination ---------->
          <div class="col-lg-12 py-3 white mb-2 px-3 mt-3 shadow-sm">
            <div class="row">
              <div class="col-lg-6 pt-2">
                <p class="table-entry mb-0">Showing 1 - 5 of <%= @emails.total_entries %> items</p>
              </div>
              <div class="col-lg-6 table-pagination">
                <%= will_paginate @emails, list_classes: %w(pagination justify-content-end) %>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>