<div class="card">
  <div class="card-header">Email</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="mb-3">
          <label>To</label>
          <div>
            <% if current_user.buyer? %>
              <%= current_user.email %>
            <% else %>
              <% @email.to.each do |e| %>
                <%= e %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <label>Status</label>
          <div>
            <%= t("emails.status.#{email.status}") %>
          </div>
        </div>
      </div>
      <% if current_user.role == 'superadmin' %>
        <div class="col-md-4">
          <div class="mb-3">
            <label>Response</label>
            <div>
             <%= email.try(:response).presence || '-' %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-md-4">
        <div class="mb-3">
        <label>Sent On</label>
          <div>
            <%= @email.sent_on.present? ? @email.sent_on.strftime("%d/%m/%Y") : '-' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="mb-3">
        <label>Subject</label>
          <div>
            <%= @email.subject.present? ? @email.subject : '-' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="mb-3">
          <div>
            <%= @email.body.html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
