<div class="filter-inner">
  <div class="filter-header">
  <span class="title">Filter</span>
  <a href="javascript:;" class="close-filter-btn">&times;</a>
  </div>
  <%= form_tag buyer_booking_details_path, method: "get", id: "scheme_search_form" do %>
    <div class="filter-content row">
      <div class="form-group col-lg-6 col-xs-12 col-md-6 col-sm-12">
        <%= label_tag "fltrs", "Name", class: "control-label" %>
        <%= select_tag "fltrs[name]", options_for_select(BookingDetail.where(user_id: current_user.id).collect(&:name).collect{|x| [x.to_s.titleize, x.to_s]}, (params[:fltrs].present? ? params[:fltrs][:name] : "")), {prompt: "Select", class: "selectize"} %>
      </div>
      <div class="form-group col-lg-6 col-xs-12 col-md-6 col-sm-12">
        <%= label_tag "fltrs", "status", class: "control-label" %>
        <%= select_tag "fltrs[status]", options_for_select(BookingDetail.aasm.states.collect(&:name).collect{|x| [x.to_s.titleize, x.to_s]}, (params[:fltrs].present? ? params[:fltrs][:status] : "")), {prompt: "Select", class: "selectize"} %>
      </div>
      <div class="form-group col-lg-6 col-xs-12 col-md-6 col-sm-12">
        <%= label_tag "fltrs", "project tower", class: "control-label" %>
        <%= select_tag "fltrs[project_tower_id]", options_for_select(ProjectTower.all.map{|f| [f.name, f.id]}, (params[:fltrs].present? ? params[:fltrs][:project_tower] : "")), {prompt: "Select", class: "selectize"} %>
      </div>
    </div>
    <div class="filter-footer">
      <%= submit_tag :Apply, class: "f-save-btn db-small-btn white bg-light-blue fn-500 float-right" %>
      <button type="button" class="f-cancel-btn db-small-btn light-blue bg-white fn-500 float-right">Cancel</button>
    </div>
  <% end %>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#scheme_search_form"));
  });
<% end %>
