<div class="dropdown float-right">
  <a class="btn btn-light dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= link_name %></a>
  <div class="dropdown-menu dropdown-menu-right">
    <% if booking_detail.hold? && policy([:buyer, booking_detail]).block? %>
      <%= link_to "Checkout using unit already held", checkout_user_search_path(booking_detail.search), class: 'dropdown-item' %>
    <% end %>

    <% if policy([:buyer, BookingDetail ]).show? %>
      <%= link_to "View details", buyer_booking_detail_path( booking_detail), class: 'dropdown-item' %>
    <% end %>

    <% if policy([:buyer, Receipt.new(user: current_user, booking_detail: booking_detail)]).new? %>
      <%= link_to "Add #{t('global.receipts')}", new_buyer_booking_detail_receipt_path(booking_detail_id: booking_detail.id), class: 'dropdown-item modal-remote-form-link' %>
    <% end %>

    <% if policy([:buyer, booking_detail.project_unit]).edit? %>
      <%= link_to "Update #{global_labels['user_kycs']}", edit_buyer_project_unit_path(booking_detail.project_unit), class: "modal-remote-form-link dropdown-item" %>
    <% end %>


    <% if booking_detail.project_unit.assets.present? %>
      <%= link_to "Images", "javascript:;", data: {toggle: "modal", target: "#floor_plan_modal_#{booking_detail.project_unit_id}"}, class: "dropdown-item" %>
    <% end %>

    <%= link_to "Cost Sheet", "javascript:;", data: {toggle: "modal", target: "#cost_sheet_modal_#{booking_detail.id}"}, class: "dropdown-item" %>

    <%= link_to "Payment Schedule", "javascript:;", data: {toggle: "modal", target: "#payment_schedule_modal_#{booking_detail.project_unit_id}"}, class: "dropdown-item" %>

    <% if policy([:buyer, Receipt]).index? %>
      <%= link_to "View #{global_labels[:receipts]}", buyer_booking_detail_receipts_path(booking_detail), class: 'dropdown-item' %>
    <% end %>

    <% [UserRequest::Cancellation, UserRequest::Swap] if Rails.env.development? %>
    <% UserRequest.descendants.each do |klass| %>
      <% if policy([:buyer, klass.new(user_id: booking_detail.user_id, requestable_id: booking_detail.id, requestable_type: 'BookingDetail')]).new? %>
        <%= link_to global_labels["user_request_#{klass.model_name.element}"], new_buyer_user_request_path(requestable_id: booking_detail.id, request_type: klass.model_name.element, requestable_type: 'BookingDetail'), class: "dropdown-item modal-remote-form-link" %>
      <% end %>
    <% end %>
  </div>
</div>
<% if booking_detail.project_unit.assets.present? %>
  <%= render 'project_units/assets_in_modal', project_unit: booking_detail.project_unit %>
<% end %>

<%= render 'project_units/cost_sheet_in_modal', booking_detail: booking_detail %>

<%= render 'project_units/payment_schedule_in_modal', project_unit: booking_detail.project_unit %>
