<div class="card w-100">
  <div class="card-body">
    <p>
      Dear <%= @resource.name %>,
    </p>
    <div class="mb-3"></div>
    <p>
      <% if @resource.role?("channel_partner") %>
        <%= I18n.t("devise.text_msg.thank_channel_partner", name: "#{current_project.name}") %>
      <% elsif @resource.buyer? %>
        <% if @resource.manager_role?("channel_partner") %>
          <%= I18n.t("devise.text_msg.registered.confirm_account", name1: current_project.name, name2: @resource.manager_name) %><br/>
        <% else %>
          <%= I18n.t("devise.text_msg.interested.confirm_account", name: current_project.name) %>
        <% end %>
      <% else %>
        <%= I18n.t("devise.text_msg.click_to_confirm") %>
      <% end %>
    </p>
    <div class="mb-3"></div>
    <%= link_to 'Confirm account', confirmation_url(@resource, confirmation_token: @token, manager_id: @resource.manager_id) %>
  </div>
</div>
