<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <%= render 'breadcrumbs', {email: @email} %>
      <div class="card">
        <div class="card-header">
          Email
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>To</label>
                <div>
                  <%= current_user.email %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Status</label>
                <div>
                  <%= @email.status.present? ? @email.status : '-' %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
              <label>Sent On</label>
                <div>
                  <%= @email.sent_on.present? ? @email.sent_on.strftime("%d/%m/%Y") : '-' %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
              <label>Subject</label>
                <div>
                  <%= @email.subject.present? ? @email.subject : '-' %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div>
                  <%= @email.body.html_safe %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
