<div class="card h-100">
  <div class="card-body">
    <% url = admin_users_path %>
    <%= form_tag url, method: "get", id: "user_search_form" do %>
      <div class="form-group">
        <%= label_tag "", 'Filters', class: "control-label d-block d-lg-inline" %>
        <%= submit_tag :Apply, class: "btn btn-primary btn-sm float-lg-right" %>
      </div>
      <div class="clearfix"></div>
      <hr/>
      <div class="form-group">
        <%= label_tag "fltrs", "Name / Email / Phone", class: "control-label" %>
        <%= select_tag "fltrs[_id]", (params[:fltrs].present? ? params[:fltrs][:_id] : []), {class: "selectize-remote", data: {url: admin_users_path }} %>
      </div>
      <div class="form-group">
        <%= label_tag "fltrs", "role", class: "control-label" %>
        <%= select_tag "fltrs[role]", options_for_select(User.available_roles.collect{|x| [x[:text], x[:id]]}, (params[:fltrs].present? ? params[:fltrs][:role] : "")), {prompt: "Select", class: "selectize"} %>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#user_search_form"));
});
<% end %>
