<div class="filter-inner modal-content ps-2 pe-2 fixed-header-footer">
    <div class="modal-header filter-header">
  <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
  <a href="javascript:;" class="close-filter-btn btn-close"></a>
  </div>
  <%= form_tag admin_users_path, method: "get", id: "user_search_form" do %>
    <div class="filter-content modal-body ps-0 pe-0">
      <div class="row">
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.user.name_email_phone') %>
          <%= select_tag "fltrs[_id]", (params[:fltrs].present? ? params[:fltrs][:_id] : []), {class: "selectize-remote", data: {url: admin_users_path }} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.user.role') %>
          <%= select_tag "fltrs[role][]", options_for_select( user_filter_role_options(current_client), params.dig(:fltrs, :role)), {prompt: I18n.t("global.select"), class: "selectize", multiple: 'multiple'} %>
        </div>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.user.confirmation') %>
          <%= select_tag "fltrs[confirmation]", options_for_select(I18n.t("mongoid.attributes.user/confirmed").collect{|k,v| [v, k.to_s]}, (params[:fltrs].present? ? params[:fltrs][:confirmation] : "")), {prompt: I18n.t("global.select"), class: "selectize"} %>
        </div>
        <% unless (current_user.role.in?(%w(cp_owner channel_partner))) %>
          <% if current_client.enable_channel_partners? %>
            <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
              <%= label_tag "fltrs", ChannelPartner.model_name.human %>
              <%= select_tag "fltrs[channel_partner_id]", options_from_collection_for_select(params[:fltrs].present? ? ChannelPartner.where(booking_portal_client_id: current_client.try(:id), _id: params[:fltrs][:channel_partner_id]) : [], "id", "ds_name"), {class: "selectize-remote", data: {url: channel_partners_path, ds: true }} %>
            </div>
            <% if current_client.launchpad_portal %>
              <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
                <%= label_tag "fltrs", I18n.t('mongoid.attributes.user.category'), class: "control-label" %>
                <%= select_tag "fltrs[category]", options_for_select( ChannelPartner::INTERNAL_CATEGORY.collect{|x| [ t("mongoid.attributes.channel_partner/internal_categories.#{x}"), x]}, params.dig(:fltrs,:category)), {prompt: I18n.t("global.select"), class: "selectize"} %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <% if policy([current_user_role_group, InterestedProject]).report? && current_client.enable_channel_partners? %>
          <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
            <%= label_tag "fltrs", InterestedProject.model_name.human %>
            <%= select_tag "fltrs[interested_project]", options_from_collection_for_select(params[:fltrs].present? ? Project.where(booking_portal_client_id: current_client.try(:id), _id: params[:fltrs][:interested_project]) : [], "id", "ds_name"), {class: "selectize-remote", data: {url: admin_projects_path, ds: true }} %>
          </div>
        <% end %>
        <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <%= label_tag "fltrs", t('mongoid.attributes.user.created_at') %>
          <%= text_field_tag "fltrs[created_at]", (params.dig(:fltrs, :created_at).present? ? params[:fltrs][:created_at] : ""), class: "form-control daterangefilter", data: {locale: {format: "DD/MM/YYYY"}, opens: "left", drops: "up"}, placeholder: 'dd/mm/yyyy - dd/mm/yyyy' %>
        </div>
      </div>
    </div>
    <div class="filter-footer modal-footer text-end pe-0">
      <%= submit_tag I18n.t("global.apply"), class: "f-save-btn btn btn-primary fn-500 float-end me-0" %>
      <button type="button" class="f-cancel-btn btn btn-secondary fn-500 float-end"><%= I18n.t("global.cancel") %></button>
    </div>
  <% end %>
</div>
<%= javascript_tag do %>
$(document).ready(function(){
  FormInitializer.init($("#user_search_form"));
});
<% end %>
