<style type="text/css">
  .white-wrapper{
    margin-bottom: 20px;
  }
</style>
<section class="kyc-form-wrapper full-height grey">
	<!-- <div class="container-fluid"> -->
		<div class="clearfix"></div>
    <!-- <div class="container-fluid"> -->
      <% if @user.errors.present? %>
      <div class="alert alert-danger">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="white-wrapper">
        <%= form_for [:admin, @user], html: {id: "edit_user_form", class: "validate-form"} do |f| %>
        <div class="form-group form-field-wrapper">
          <%= f.label :first_name, class: 'control-label label-required' %>
          <%= f.text_field :first_name, class: 'form-control form-field', autofocus: true, required: 'required', disabled: (policy(@user).editable_field?("first_name") ? false : true) %>
        </div>
        <div class="form-group form-field-wrapper">
          <%= f.label :last_name, class: 'control-label label-required' %>
          <%= f.text_field :last_name, class: 'form-control form-field', autofocus: true, required: 'required', disabled: (policy(@user).editable_field?("last_name") ? false : true) %>
        </div>
        <div class="form-group form-field-wrapper">
          <%= f.label :email, class: 'control-label label-required' %>
          <%= f.email_field :email, class: 'form-control form-field', required: 'required', disabled: (policy(@user).editable_field?("email") ? false : true) %>
        </div>
        <div class="form-group form-field-wrapper">
          <%= f.label :phone, class: 'control-label label-required' %>
          <%= f.text_field :phone, class: 'form-control form-field phone', required: 'required', disabled: (policy(@user).editable_field?("phone") ? false : true) %>
        </div>
        <% if @user.role.blank? %>
        <div class="form-group form-field-wrapper">
          <%= f.label :role, class: 'control-label label-required' %>
          <%= f.select :role, User.available_roles.reject{|r| r[:id] == 'user'}.collect{|r| [r[:text], r[:id]] }, {prompt: true}, class: 'selectize form-field', required: 'required', disabled: (policy(@user).editable_field?("role") ? false : true) %>
        </div>
        <% else %>
        <%= f.hidden_field :role %>
        <% end %>
        <% if @user.role?('channel_partner') %>
        <div class="form-group form-field-wrapper">
          <%= f.label :rera_id, class: "control-label #{@user.role?('channel_partner') ? 'label-required' : ''}" %>
          <%= f.text_field :rera_id, class: 'form-control form-field', required: @user.role?('channel_partner') ? true : false, disabled: (policy(@user).editable_field?("rera_id") ? false : true) %>
        </div>
        <div class="form-group form-field-wrapper">
          <%= f.label :location, class: "control-label #{@user.role?('channel_partner') ? 'label-required' : ''}" %>
          <%= f.text_field :location, class: 'form-control form-field', required: @user.role?('channel_partner') ? true : false, disabled: (policy(@user).editable_field?("location") ? false : true) %>
        </div>
        <% end %>
        <% if @user.role?('user') && ["crm", "sales", "admin"].include?(current_user.role) %>
        <div class="form-group">
          <%= f.label :channel_partner_id, class: "control-label" %>
          <%= f.select :channel_partner_id, f.object.channel_partner_id.present? ? [[f.object.channel_partner.name, f.object.channel_partner.id]] : [], {prompt: true}, class: 'selectize-remote', autofocus: true, disabled: (policy(@user).editable_field?("channel_partner_id") ? false : true), "data-url": admin_users_path, "data-params": {fltrs: {role: 'channel_partner'}}.to_json, 'data-ds': 'ds' %>
        </div>
        <% end %>
        <%= f.submit "Save", class: 'btn btn-primary nav-btn' %>
        <% end %>
        <br/>
      </div>
      <div class="white-wrapper">
        <%= form_for [:admin, @user], html: {id: "edit_user_form", class: "validate-form"} do |f| %>
        <div class="form-group form-field-wrapper">
          <%= f.label :password, class: 'control-label label-required' %>
          <%= f.text_field :password, class: 'form-control form-field', autofocus: true, required: 'required', disabled: (policy(@user).editable_field?("password") ? false : true) %>
        </div>
        <div class="form-group form-field-wrapper">
          <%= f.label :password_confirmation, class: 'control-label label-required' %>
          <%= f.text_field :password_confirmation, class: 'form-control form-field', autofocus: true, required: 'required', disabled: (policy(@user).editable_field?("password_confirmation") ? false : true) %>
        </div>
        <%= f.submit "Save", class: 'btn btn-primary nav-btn' %>
        <% end %>
        <br/>
      </div>


      <%= javascript_tag do %>
      $(document).ready(function(){
        FormInitializer.init($("#new_user"));
        FormInitializer.init($("#edit_user_form"));
      });
      <% end %>
    <!-- </div> -->
  <!-- </div> -->
</section>
