<%= form_for [:admin, @user], remote: true, local: true, html: {id: "user_form", class: "modal-remote-form validate-form", "data-resource-type": global_labels['user'], "data-type": "json"} do |f| %>
  <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <% if current_user == @user %>
              Edit Profile
            <% else %>
              <%= @user.new_record? ? "New" : "Edit" %> <%= "#{global_labels['user']}" %>
            <% end %>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :first_name, class: 'label-required' %>
                <%= f.text_field :first_name, class: 'form-control', autofocus: true, required: 'required', disabled: (policy(@user).editable_field?("first_name") ? false : true) %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :last_name, class: 'label-required' %>
                <%= f.text_field :last_name, class: 'form-control', autofocus: true, required: 'required', disabled: (policy(@user).editable_field?("last_name") ? false : true) %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :email, class: 'label-required' %>
                <%= f.email_field :email, class: 'form-control', required: 'required', disabled: (policy(@user).editable_field?("email") ? false : true) %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :phone, class: 'label-required' %>
                <%= f.text_field :phone, class: 'form-control phone', required: 'required', disabled: (policy(@user).editable_field?("phone") ? false : true) %>
              </div>
            </div>
          </div>
          <% if @user.role.blank? %>
          <div class="form-group">
            <%= f.label :role, class: 'label-required' %>
            <%= f.select :role, User.available_roles.reject{|r| User.buyer_roles.include?(r[:id])}.collect{|r| [r[:text], r[:id]] }, {prompt: true}, class: 'selectize', required: 'required', disabled: (policy(@user).editable_field?("role") ? false : true) %>
          </div>
          <% elsif policy(@user).editable_field?("role") && User.buyer_roles.include?(@user.role) %>
          <div class="form-group">
            <%= f.label :role, class: 'label-required' %>
            <%= f.select :role, User.available_roles.select{|r| User.buyer_roles.include?(r[:id])}.collect{|r| [r[:text], r[:id]] }, {prompt: true}, class: 'selectize', required: 'required', disabled: (policy(@user).editable_field?("role") ? false : true) %>
          </div>
          <% else %>
          <%= f.hidden_field :role %>
          <% end %>
          <% if policy(@user).editable_field?("allowed_bookings") && @user.buyer? %>
            <div class="form-group">
              <%= f.label :allowed_bookings, class: 'label-required' %>
              <%= f.select :allowed_bookings, [1,2,3,4,5,6,100], {prompt: true}, class: 'selectize', required: 'required' %>
            </div>
          <% end %>
          <% if @user.role?('channel_partner') %>
            <div class="form-group">
              <%= f.label :rera_id, class: "#{@user.role?('channel_partner') ? 'label-required' : ''}" %>
              <%= f.text_field :rera_id, class: 'form-control', required: @user.role?('channel_partner') ? true : false, disabled: (policy(@user).editable_field?("rera_id") ? false : true) %>
            </div>
          <% end %>
          <% if @user.buyer? && ["crm", "sales", "cp", "admin", "superadmin"].include?(current_user.role) %>
            <div class="form-group">
              <%= f.label :channel_partner_id, class: "control-label" %>
              <%= f.select :channel_partner_id, f.object.channel_partner_id.present? ? [[f.object.channel_partner.name, f.object.channel_partner.id]] : [], {prompt: true}, class: 'selectize-remote', autofocus: true, disabled: (policy(@user).editable_field?("channel_partner_id") ? false : true), "data-url": admin_users_path, "data-params": {fltrs: {role: 'channel_partner'}}.to_json, 'data-ds': 'ds' %>
            </div>
            <div class="form-group">
              <%= f.label :channel_partner_change_reason, class: "control-label" %>
              <%= f.text_area :channel_partner_change_reason, class: 'form-control', disabled: (policy(@user).editable_field?("channel_partner_change_reason") ? false : true) %>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :time_zone, class: "control-label" %>
            <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all.sort, {}, class: 'selectize', disabled: (policy(@user).editable_field?("time_zone") ? false : true) %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Save", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#user_form"));
  });
<% end %>
