<%= form_for [:admin, @user], remote: true, local: true, html: {id: "user_form", class: "modal-remote-form validate-form", "data-resource-type": global_labels['user'], "data-type": "json"} do |f| %>
  <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="title">
            <%= t("controller.users.#{action_name}.header", role: User.human_attribute_name("role.#{@user.role}") ) %>
          </h3>
          <button type="button" class="btn-close close-profile" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body theme-form">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <%= f.label :first_name, class: 'label-required' %>
                <%= f.text_field :first_name, class: 'form-control', autofocus: true, required: 'required', disabled: (policy([current_user_role_group, @user]).editable_field?("first_name") ? false : true) %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, class: 'form-control', autofocus: true, disabled: (policy([current_user_role_group, @user]).editable_field?("last_name") ? false : true) %>
              </div>
            </div>
          </div>
          <% unless @user.buyer? && current_user.in_masked_details_user_group? %>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: 'form-control', disabled: (policy([current_user_role_group, @user]).editable_field?("email") ? false : true) %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <%= f.label :phone %>
                  <%= f.text_field :phone, class: 'form-control phone', disabled: (policy([current_user_role_group, @user]).editable_field?("phone") ? false : true) %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <%= f.label :kylas_user_id %>
                <% kylas_users = @kylas_users.presence || [] %>
                <%= f.select :kylas_user_id, options_for_select(kylas_users, kylas_users.select{ |kylas_user| kylas_user[1].to_s == @user.kylas_user_id }.first), { include_blank: 'Select Kylas User', autocomplete: 'off', class: 'form-control', required: true }, disabled: !(policy([current_user_role_group, @user]).editable_field?("kylas_user_id")) %>
                <% if kylas_users.blank? %>
                  <%= link_to t('mongoid.attributes.user.new_user_kylas_crm'), SUPPORT_NEW_USER_CRM_LINK, target: '_blank' %>
                <% end %>
              </div>
            </div>
          </div>
          <%= f.hidden_field :role, value: @user.role %>
          <% if policy([current_user_role_group, @user]).editable_field?("project_ids") %>
            <div class="row mt-">
              <div class="col-md-12">
                <div class="mb-3">
                  <%= f.label :project_ids, class: "control-label" %>
                  <%= f.select :project_ids, options_from_collection_for_select(@user.project_ids.present? ? Project.in(id: @user.project_ids) : [], "id", "ds_name", @user.project_ids), {}, class: 'selectize-remote', multiple: true, data: {url: admin_projects_path}, disabled: !(policy([current_user_role_group, f.object]).editable_field?("project_ids")) %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="row">
            <% if policy([current_user_role_group, @user]).editable_field?("is_active") %>
              <div class="col-md-6">
                <div class="mb-3">
                  <%= f.label :is_active %>
                  <div class="form-check form-check-inline">
                    <%= f.radio_button :is_active, true, class: "form-check-input wd-22" %>
                    <%= f.label :is_active, "Yes", class: "form-check-label d-inline-block ms-2" %>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= f.radio_button :is_active, false, class: "form-check-input wd-22" %>
                    <%= f.label :is_active, "No", class: "form-check-label d-inline-block ms-2" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="modal-footer theme-end">
          <%= f.submit "Save", class: 'btn btn-primary float-end' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function(){
    var $select = $('.select').selectize({
      maxItems: 1,
      persist: false,
      create: false
    });
    FormInitializer.init($("#user_form"));

    // reload the dashboard page when profile modal is closed
    $('.close-profile').click(function(){
      location.reload();
    })
  });
<% end %>
