<section class="mt-0">
  <div class="px-0">
    <div class="row g-0">
      <div class="col-lg-12 p-0 mt-3">

      <table class="table table-responsive table-color">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Role</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
        <tbody>
          <% users.each do |user| %>
          <tr>
            <td>
              <!-- <h2 class="fn-16 font-medium d-block d-sm-inline-block mb-0 theme-txt-color me-2"> -->
                <% if policy([ current_user_role_group, user]).show? %>
                <%= link_to user.name, [current_user_role_group, user ], class: "theme-txt-color fn-14" %>
                <% else %>
                <%= user.name %>
                <% end %>
                <% if user.temporarily_blocked? %>
                <i class="fa fa-circle red" aria-hidden="true"></i>
                <% end %>
              <!-- </h2> -->
            </td>
            <td>
              <% if user.email.present? %>
                <p class="mb-0">
                  <%= (user.buyer? ? user.masked_email(current_user) : user.email) || '' %>
                </p>
              <% end %>
            </td>
            <td>
              <% if user.phone.present? %>
                <p class="mb-0">
                  <%= (user.buyer? ? user.masked_phone(current_user) : user.phone) || '' %>
                </p>
              <% end %>
            </td>
            <td><p class="mb-0 theme-txt-color"><%= User.human_attribute_name("role.#{user.role}") %></p></td>
            <td>
              <% if policy([:admin, user]).editable_field?('is_active') %>
              <p class="mb-0"><i
                  class='fa fn-16 fa-<%= user.is_active? ? "check" : "times" %> fill-<%= user.is_active? ? "success" : "danger" %> me-12 fa-lg'></i><%= t("mongoid.attributes.user/is_active.#{user.is_active?}") %>
              </p>
            <% end %>
            <% if user.buyer? %>
              <p class="mb-0"><i
                  class='fa fn-16 fa-<%= t("global.boolean.#{user.is_payment_done? }") == "Yes" ? "check" : "times" %> fill-<%= t("global.boolean.#{user.is_payment_done? }") == "Yes" ? "success" : "danger" %> me-12 fa-lg'></i><%= user.is_payment_done? ? 'Payment Done' : 'Payment Pending' %>
              </p>
              <% if user.portal_stage.present? %>
                <p class="mb-0"><i
                   class='fa fa-circle status_<%= user.portal_stage.stage %> me-2 fa-xs ms-5'></i><%= t("mongoid.attributes.channel_partner/status.#{user.portal_stage.stage}") %>
                </p>
              <% else %>
                <p class=""><i
                   class='fa fn-16 fa-<%= user.confirmed_at.present? ? "check" : "times" %> fill-<%= user.confirmed_at.present? ? "success" : "danger" %> me-12 fa-lg'></i><%= t("mongoid.attributes.user/confirmed.#{user.confirmed_at.present?}") %>
                </p>
              <% end %>
            <% end %>
            <% if user.role.in?(%w(channel_partner cp_owner)) %>
              <% if user.confirmed? %>
                <% if user.channel_partner.blank? || user.channel_partner&.inactive? %>
                  <p class="mb-0"><i
                     class='fa fn-16 fa-check fill-success me-12 fa-lg'></i><%= t("mongoid.attributes.user/confirmed.#{user.confirmed_at.present?}") %>
                  </p>
                <% else %>
                  <p class="mb-0"><i
                     class='fa fa-circle status_<%= user.channel_partner&.status %> me-2 fa-xs ms-5'></i><%= t("mongoid.attributes.channel_partner/status.#{user.channel_partner&.status}") %>
                  </p>
                <% end %>
              <% else %>
                  <p class="mb-0"><i
                     class='fa fa-circle status_inactive me-2 fa-xs ms-5'></i><%= t("mongoid.attributes.channel_partner/status.inactive") %>
                  </p>
              <% end %>
            <% end %>
            </td>
            <td>
              <div class="dropdown d-inline-block">
                <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fa fa-ellipsis-v txt-light-blue" aria-hidden="true"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                  <%= render "#{current_user_role_group}/users/links", user: user %>
                </div>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>

      <!----------- Pagination ---------->
      <div class="col-lg-12 py-3 bg-white mb-2 px-3 mt-3 shadow-sm">
        <div class="row">
          <div class="col-lg-6 pt-2">
            <p class="table-entry mb-0"><%= page_entries_info users %></p>
          </div>
          <div class="col-lg-6 table-pagination">
            <%= will_paginate users, list_classes: %w(pagination justify-content-end) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
