<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <thead>
      <tr class="bg-gradient-cd white">
        <th><%= t('mongoid.attributes.user.name') %></th>
        <th> <%= t('mongoid.attributes.user.phone') %> / <%= t('mongoid.attributes.user.email') %></th>
        <% if current_client.selldo_client_id.present? && current_client.selldo_gre_form_id.present? && current_client.selldo_channel_partner_form_id.present? %>
          <th><%= t('mongoid.attributes.user.lead_id') %></th>
        <% end %>
        <th><%= Receipt.model_name.human %></th>
        <th><%= t('mongoid.attributes.user.role') %></th>
        <th><%= t('mongoid.attributes.user.status') %></th>
        <th class="text-right"><%= t('global.action', count: 3) %></th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td data-title="Name">
          <span>
            <% if policy([ current_user_role_group, user]).show? %>
              <%= link_to user.name, [current_user_role_group, user ] %>
            <% else %>
              <%= user.name %>
            <% end %>
          </span>
        </td>

        <td data-title="Phone & Email">
          <% if user.email.present? %>
            <span class="email-icon">
              <%= user.email || "" %>
            </span>
          <% end %>
          <% if user.phone.present? %>
            <span class="phone-icon">
              <%= user.phone || "" %>
            </span>
          <% end %>
        </td>

        <% if current_client.selldo_client_id.present? && current_client.selldo_gre_form_id.present? && current_client.selldo_channel_partner_form_id.present? %>
          <td data-title="Sell.Do Lead Id"><span><%= user.lead_id %></span></td>
        <% end %>

        <td data-title="Payments">
          <span>
            <%= user.receipts.where('$or' => [{ status: { '$in': %w(success clearance_pending) } }, { payment_mode: {'$ne': 'online'}, status: {'$in': %w(pending clearance_pending success)} }]).present? ? "Yes" : "No" %>
          </span>
        </td>

        <td data-title="Role">
          <span><%= t("mongoid.attributes.user/role.#{user.role}") %></span>
        </td>

        <td data-title="Status">
          <span><%= t("mongoid.attributes.user/confirmed.#{user.confirmed_at.present?}") %></span>
        </td>

        <td>
          <div class="dropdown show text-right">
            <a class="btn dropdown-toggle table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= render "#{current_user_role_group}/users/links", user: user %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pt-2">
  <%= will_paginate users, list_classes: %w(pagination justify-content-center) %>
</div>
