<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <thead>
      <tr class="bg-gradient-cd white">
        <th><%= User.human_attribute_name('name_email_phone') %></th>
        <% if current_client.selldo_client_id.present? && current_client.selldo_gre_form_id.present? && current_client.selldo_channel_partner_form_id.present? %>
          <th><%= User.human_attribute_name('lead_id') %></th>
        <% end %>
        <th><%= Receipt.model_name.human %></th>
        <th><%= User.human_attribute_name('role') %></th>
        <th><%= User.human_attribute_name('status') %></th>
        <% if policy([current_user_role_group, User.new]).show_lead_tagging? %>
          <th><%= t('mongoid.attributes.user.iris_confirmation') %></th>
        <% end %>
        <th class="text-right"><%= t('global.action', count: 3) %></th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td data-title="Name">
          <span>
            <% if policy([ current_user_role_group, user]).show? %>
              <%= link_to user.name, [current_user_role_group, user ] %>
            <% else %>
              <%= user.name %>
            <% end %>
            <% if user.temporarily_blocked? %>
              <i class="fa fa-circle red" aria-hidden="true"></i>
            <% end %>
          </span>
          <% if user.email.present? %>
            <span class="email-icon">
              <%= user.email || "" %>
            </span>
          <% end %>
          <% if user.phone.present? %>
            <span class="phone-icon">
              <%= user.phone || "" %>
            </span>
          <% end %>
        </td>

        <% if current_client.selldo_client_id.present? && current_client.selldo_gre_form_id.present? && current_client.selldo_channel_partner_form_id.present? %>
          <td data-title="Sell.Do Lead Id"><span><%= user.lead_id %></span></td>
        <% end %>

        <td data-title="payments">
          <span><%= t("global.boolean.#{user.is_payment_done? }") %></span>
        </td>

        <td data-title="Role">
          <span><%= User.human_attribute_name("role.#{user.role}") %></span>
          <% if user.role?('channel_partner') && user.tier_id.present? %>
            <br/>
            <span> Tier: <%= user.tier.try(:name) || "" %> </span>
          <% end %>
        </td>

        <td data-title="Status">
          <span><%= t("mongoid.attributes.user/confirmed.#{user.confirmed_at.present?}") %></span>
        </td>

        <% if policy([current_user_role_group, user]).show_lead_tagging? %>
          <td data-title="<%= t('mongoid.attributes.user.iris_confirmation') %>">
            <% if user.buyer? %>
              <span><%= t("mongoid.attributes.user/iris_confirmation.#{user.iris_confirmation?}.temporarily_blocked.#{user.temporarily_blocked?}") %></span>
            <% else %>
              -
            <% end %>
          </td>
        <% end %>
        <td>
          <div class="dropdown show text-right">
            <a class="btn dropdown-toggle table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <%= render "#{current_user_role_group}/users/links", user: user %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pt-2">
  <%= will_paginate users, list_classes: %w(pagination justify-content-center) %>
</div>
