<section class="mt-0">
  <div class="px-0">
    <div class="row g-0">
      <div class="col-lg-12 p-0 mt-3">
      <table class="table table-responsive table-color">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role</th>
            <th>Active</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% users.each do |user| %>
          <tr>
            <td>
              <!-- <h2 class="fn-16 font-medium d-block d-sm-inline-block mb-0 theme-txt-color me-2"> -->
              <% if policy([ current_user_role_group, user]).show? %>
                <%= link_to user.name, [current_user_role_group, user ], class: "theme-txt-color fn-14" %>
              <% else %>
                <%= user.name %>
              <% end %>
              <% if user.temporarily_blocked? %>
                <i class="fa fa-circle red" aria-hidden="true"></i>
              <% end %>
              <!-- </h2> -->
            </td>
            <td>
              <% if user.email.present? %>
                <p class="mb-0">
                  <%= (user.buyer? ? user.masked_email(current_user) : user.email) || '' %>
                </p>
              <% end %>
            </td>
            <td>
              <% if user.phone.present? %>
                <p class="mb-0">
                  <%= (user.buyer? ? user.masked_phone(current_user) : user.phone) || '' %>
                </p>
              <% end %>
            </td>
            <td><p class="mb-0 theme-txt-color"><%= User.human_attribute_name("role.#{user.role}") %></p></td>
            <td>
              <p class="mb-0"><i class='fa fn-16 fa-<%= (user.active_for_authentication?) ? "check" : "times" %> fill-<%= (user.active_for_authentication?) ? "success" : "danger" %> me-12 fa-lg'></i><%= t("mongoid.attributes.user/is_active.#{user.active_for_authentication?}") %> </p>
              <% if is_marketplace? && !user.role.in?(User::CLIENT_SCOPED_ROLES) %>
                <p class="mb-0"><i class='fa fn-16 fa-<%= (user.is_active_in_kylas?) ? "check" : "times" %> fill-<%= (user.is_active_in_kylas?) ? "success" : "danger" %> me-12 fa-lg'></i><%= t("mongoid.attributes.user/is_active_in_kylas.#{user.is_active_in_kylas?}") %> </p>
              <% end %>
            </td>
            <td>
              <% if user.buyer? %>
                <p class="mb-0"><i class='fa fn-16 fa-<%= t("global.boolean.#{user.is_payment_done? }") == "Yes" ? "check" : "times" %> fill-<%= t("global.boolean.#{user.is_payment_done? }") == "Yes" ? "success" : "danger" %> me-12 fa-lg'></i><%= user.is_payment_done? ? 'Payment Done' : 'Payment Pending' %> </p>
                <% if user.portal_stage.present? %>
                  <p class="mb-0"><i class='fa fa-circle status_<%= user.portal_stage.stage %> me-2 fa-xs'></i><%= t("mongoid.attributes.channel_partner/status.#{user.portal_stage.stage}") %> </p>
                <% else %>
                  <p class=""><i class='fa fn-16 fa-<%= user.confirmed_at.present? ? "check" : "times" %> fill-<%= user.confirmed_at.present? ? "success" : "danger" %> me-12 fa-lg'></i><%= t("mongoid.attributes.user/confirmed.#{user.confirmed_at.present?}") %> </p>
                <% end %>
              <% end %>
              <% if user.role.in?(%w(channel_partner cp_owner)) %>
                <% if user.confirmed? %>
                  <p class="mb-0"><i class='fa fa-circle status_<%= user.status %> me-2 fa-xs'></i><%= t("mongoid.attributes.user/user_status_in_company.#{user.status}") %> </p>
                <% else %>
                  <p class="mb-0"><i class='fa fa-circle status_inactive me-2 fa-xs'></i><%= t("mongoid.attributes.channel_partner/status.inactive") %> </p>
                <% end %>
              <% end %>
            </td>
            <td>
              <div class="dropdown d-inline-block">
                <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fa fa-ellipsis-v txt-light-blue" aria-hidden="true"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                  <%= render "#{current_user_role_group}/users/links", user: user %>
                </div>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>

      <!----------- Pagination ---------->
      <div class="col-lg-12 p-3">
        <div class="row">
          <div class="col-lg-6 pt-2">
            <p class="table-entry mb-0"><%= page_entries_info users %></p>
          </div>
          <div class="col-lg-6 table-pagination">
            <%= will_paginate users, list_classes: %w(pagination justify-content-end) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
