<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <% labels = t('mongoid.attributes.user').with_indifferent_access %>
      <thead>
        <tr class="bg-gradient-cd white">
            <th>Name</th>
        <th>Phone & Email</th>
        <% if current_client.selldo_client_id.present? && current_client.selldo_gre_form_id.present? && current_client.selldo_channel_partner_form_id.present? %>
          <th><%= labels[:lead_id] %></th>
        <% end %>
        <th><%= global_labels[:receipts] %></th>
        <th>Role</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td data-title="Name">
          <span>
            <% if policy([ current_user_role_group, user]).show? %>
              <%= link_to user.name, [current_user_role_group, user ] %>
            <% else %>
              <%= user.name %>
            <% end %>
          </span>
        </td>
        <td data-title="Phone & Email">
          <span class="email-icon">
            <%= user.email || "" %>
          </span>
          <span class="phone-icon">
            <%= user.phone || "" %>
          </span>
        </td>
        <% if current_client.selldo_client_id.present? && current_client.selldo_gre_form_id.present? && current_client.selldo_channel_partner_form_id.present? %>
          <td data-title="Sell.Do Lead Id"><span><%= user.lead_id %></span></td>
        <% end %>
        <td data-title="Payments"><span><%= user.receipts.where('$or' => [{ status: { '$in': %w(success clearance_pending) } }, { payment_mode: {'$ne': 'online'}, status: {'$in': %w(pending clearance_pending success)} }]).present? ? "Yes" : "No" %></span></td>
        <td data-title="Role"><span><%= t("users.role.#{user.role}") %></span></td>
        <td data-title="Status"><span><%= user.confirmed_at.present? ? "Confirmed" : "Not confirmed" %></span></td>
        <td>
          <div class="dropdown show text-center">
          <a class="btn dropdown-toggle table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= render "admin/users/links", user: user %>
           </div>
        </div>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="6">
        <div class="mt-5 pt-5"></div>
      </td>
    </tr>
  </tbody>
</table>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pt-4 pb-5">
  <%= will_paginate users, list_classes: %w(pagination justify-content-center) %>
</div>
