<%= form_for @user, remote: true, local: true, url: confirm_via_otp_admin_user_path, html: {id: "user_otp_form", class: "modal-remote-form validate-form", "data-resource-type": global_labels['user'], "data-type": "json"} do |f| %>
  <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-gradient-cd white">
          <h3 class="title">
            Confirm Account Via <%= I18n.t("global.otp") %>
          </h3>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% if @otp_sent_status[:status] %>
            <div class="alert alert-primary">
              You are confirming account on behalf of <%= @user.name %>. We have sent an <%= I18n.t("global.otp") %> to the user, you will need to ask for the latest one. <%= I18n.t("global.otp") %>s are not valid for more than 15 mins.
            </div>
            <div class="mb-3">
              <%= f.label :login_otp, class: 'label-required' %>
              <%= f.text_field :login_otp, class: 'form-control', autofocus: true, required: 'required', disabled: (policy([current_user_role_group, @user]).editable_field?("login_otp") ? false : true) %>
            </div>
          <% else %>
            <div class="alert alert-danger">
              We couldn't send an <%= I18n.t("global.otp") %> to <%= @user.name %>. <br/> <%= @otp_sent_status[:error] %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Save", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#user_otp_form"));
  });
<% end %>
