<section class="my-customer">
  <div class="container">
    <div class="row">
    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
      <div class="table-title pt-1">
        <img src="<%= asset_path 'user-alt-black.svg' %>" alt="user icon"> <h1 class="title"><%= global_labels['users'] %></h1>
      </div>
    </div>
    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
      <div class="table-btn-set float-right pb-3">
        <div class="new-menu display-initial" >
          <button class="db-small-btn white bg-light-blue fn-500 dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add new</button>
          <div class="dropdown-menu">
            <% User.available_roles(current_client).each do |role| %>
              <% if policy([:admin, User.new(role: role[:id])]).new? %>
                <%= link_to "New #{role[:text]}", new_admin_user_path(role: role[:id]), class: 'modal-remote-form-link dropdown-item' %>
                <% end %>
            <% end %>
          </div>
        </div>
        <% if policy([:admin, User.new]).export? %>
          <div class="export-menu display-initial">
            <button class="db-small-btn light-blue bg-white fn-400 dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</button>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to "All #{global_labels['users']}", export_admin_users_path, class: 'dropdown-item' %>
              <%= link_to "Active filter #{global_labels['users']}", export_admin_users_path(fltrs: params["fltrs"].as_json), class: 'dropdown-item' %>
            </div>
          </div>
        <% end %>
      <button class="db-filter-btn white fn-500" type="button"><img src="<%= asset_path 'filter-light-blue.svg' %>" alt="filter icon"></button>
      </div>
    </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <%= render "admin/users/index", users: @users %>
          <div class="filter-box">
            <%= render "filters" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
