<div class="container">
  <div class="row justify-content-center">
    <div class="<%= @user.blank? ? 'col-md-9' : 'col-md-12' %>">
      <%= render 'breadcrumbs' %>
      <div class="card h-100">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-7">
              <div class="dropdown float-left">
                <a class="btn btn-primary dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add new</a>
                <div class="dropdown-menu">
                  <% User.available_roles(current_client).each do |role| %>
                    <% if UserPolicy.new(current_user, User.new(role: role[:id])).new? %>
                      <%= link_to "New #{role[:text]}", new_admin_user_path(role: role[:id]), class: 'modal-remote-form-link dropdown-item' %>
                      <% end %>
                  <% end %>
                </div>
              </div>
              <% if UserPolicy.new(current_user, User).export? %>
                <div class="dropdown float-left ml-2">
                  <a class="btn btn-light dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <%= link_to "All #{global_labels['users']}", export_admin_users_path, class: 'dropdown-item' %>
                    <%= link_to "Active filter #{global_labels['users']}", export_admin_users_path(fltrs: params["fltrs"].as_json), class: 'dropdown-item' %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-md-5 text-md-right">
              <h6 class="mt-2">Total <%= global_labels[:users] %>: <%= @users.total_entries %></h6>
            </div>
          </div>
          <%= render "admin/users/index", users: @users %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-md-none mt-3"></div>
      <%= render "filters" %>
    </div>
  </div>
</div>
