<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-title pt-1">
          <h1 class="title icon-set icon-users-black icon-bs-15 t-2">
            <%= User.model_name.human(count: @users.total_entries) %>
          </h1>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-btn-set float-right pb-3">
          <button disabled="disabled" class="db-small-btn light-blue bg-white fn-400"><%= t('global.total')%> : <%= @users.total_entries %></button>
          <div class="new-menu display-initial" >
            <% if Admin::UserPolicy.new(current_user, current_user).new? %>
              <button class="db-small-btn white light-blue bg-white fn-400 dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('controller.users.new.link_name', role: 'User') %></button>
            <% end %>
            <div class="dropdown-menu">
              <% User.current_user_available_roles(current_client, current_user).each do |role| %>
                <% if policy([:admin, User.new(role: role)]).new? %>
                  <%= link_to t('controller.users.new.link_name', role: User.human_attribute_name("role.#{role}")), new_admin_user_path(role: role), class: 'modal-remote-form-link dropdown-item' %>
                <% end %>
              <% end %>
            </div>
          </div>

          <% if policy([:admin, User.new]).export? %>
            <div class="export-menu display-initial">
              <button class="db-small-btn light-blue bg-white fn-400 dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= t('controller.users.exports.link_name', name: nil) %> </button>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to t('controller.users.exports.link_name', name: t('global.all')), export_admin_users_path, class: 'dropdown-item' %>
                <%= link_to t('controller.users.exports.link_name', name: t('global.active_filter')), export_admin_users_path(fltrs: params["fltrs"].as_json), class: 'dropdown-item' %>
              </div>
            </div>
          <% end %>
          <button class="db-filter-btn white fn-500" type="button">
            <i class="icon-set icon-filter-light-blue"></i>
          </button>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <%= render "admin/users/index", users: @users %>
          <div class="filter-box">
            <%= render "filters" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
