<div class="container text-right">
  <button onclick="window.print();" class="db-small-btn light-blue bg-white fn-400 btn d-print-none">
    <%= t('controller.users.print.link_name')%>
  </button>
</div>
<div class="container">
  <div class="pt-3"></div>
  <div class="box-card">
    <div class="box-content br-rd-bl-4 bg-white">
      <div class="row pd-box">
        <div class="col-md-6">
          <div class="logo-wrapper">
            <%= image_tag current_client.logo.url if current_client.logo.present? %>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="mt-2 mb-1 small text-muted">
            <%= User.human_attribute_name('lead_id') %>
          </div>
          <h5><%= @user.lead_id %></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3"></div>
  <div class="box-card">
    <div class="box-header bg-gradient br-rd-tr-4">
      <h2><%= t('helpers.show.link_name', model: User.human_attribute_name(@user.role)) %></h2>
    </div>
    <div class="box-content br-rd-bl-4 bg-white">
      <div class="mb-3 pd-box">
        <h5><%= @user.name %></h5>
      </div>
      <div class="row pd-box">
        <div class="col-md-4">
          <div class="mb-3">
            <label class="small text-muted"><%= User.human_attribute_name('eamil') %></label>
            <div><%= @user.email %></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label class="small text-muted"><%= User.human_attribute_name('phone') %></label>
            <div><%= @user.phone %></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label class="small text-muted"><%= t("mongoid.attributes.user.confirmed_at") %></label>
            <div><%= @user.confirmed? ? "Yes (at #{l(@user.confirmed_at)})" : "No" %></div>
          </div>
        </div>
      </div>
      <div class="row pd-box">
        <div class="col-md-4">
          <div class="mb-3">
            <label class="small text-muted"><%= t("mongoid.attributes.user.manager_role") %></label>
            <div><%= User.human_attribute_name("role.#{@user.manager_role || 'direct'}") %></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label class="small text-muted"><%= User.human_attribute_name('manager_id') %></label>
            <div><%= @user.manager_name || '' %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3"></div>
  <% user_kycs = @user.user_kycs.all %>
  <% if user_kycs.present? %>
    <div class="box-card h-100">
      <div class="box-header bg-gradient br-rd-tr-4">
        <h2><%= UserKyc.model_name.human(count: user_kycs.count ) %></h2>
      </div>
      <div class="box-content br-rd-bl-4 bg-white">
        <div class="pd-box">
          <% user_kycs.each do |user_kyc| %>
            <%= render 'admin/user_kycs/show', user_kyc: user_kyc %>
          <hr/>
          <% end %>
        </div>
      </div>
    </div>
    <div class="mt-3"></div>
  <% end %>
  <div class="mt-3"></div>
  <div class="box-card">
    <div class="box-header bg-gradient br-rd-tr-4">
      <h2><%= Note.model_name.human(count: @user.notes.count) %></h2>
    </div>
    <div class="box-content br-rd-bl-4 bg-white">
      <div class="pd-box">
        <% @user.notes.limit(3).each do |note| %>
          <%= render 'notes/show', note: note %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mt-3"></div>
  <div class="box-card">
    <div class="box-header bg-gradient br-rd-tr-4">
      <h2><%= t("mongoid.attributes.client.disclaimer") %></h2>
    </div>
    <div class="box-content br-rd-bl-4 bg-white">
      <div class="pd-box">
        <%= current_client.disclaimer.html_safe %>
        <hr/>
      </div>
      <div class="row pd-box">
        <div class="col-md-6">
          <div class="mb-5 mt-5"></div>
          Customer Signature
        </div>
        <div class="col-md-6 text-right">
          <div class="mb-5 mt-5"></div>
          Authorized Signatory
        </div>
      </div>
    </div>
  </div>
  <div class="text-center text-muted small mt-3">This is an electronically generated customer form.</div>
  <div class="pt-3"></div>
</div>
<%= javascript_tag do %>
  window.print();
<% end %>
