<div class="container form-group mt-3 text-right pr-0">
  <button onclick="window.print();" class="btn btn-primary d-print-none">Print</button>
</div>
<% labels = t("mongoid.attributes.user").with_indifferent_access %>
<% client_labels = t("mongoid.attributes.client").with_indifferent_access %>
<div class="container bg-light">
  <div class="pt-3"></div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="logo-wrapper">
            <%= image_tag current_client.logo.url || '' %>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="mt-2 mb-1 small text-muted"><%= labels[:lead_id] %></div>
          <h5><%= @user.lead_id %></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3"></div>
  <div class="card">
    <div class="card-header">
      Customer Details
    </div>
    <div class="card-body">
      <div class="form-group">
        <h5><%= @user.name %></h5>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="small text-muted"><%= labels[:email] %></label>
            <div><%= @user.email %></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="small text-muted"><%= labels[:phone] %></label>
            <div><%= @user.phone %></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="small text-muted"><%= labels[:confirmed] %></label>
            <div><%= @user.confirmed? ? "Yes (at #{l(@user.confirmed_at)})" : "No" %></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="small text-muted"><%= labels[:manager_role] %></label>
            <div><%= @user.manager_id.present? ? User.available_roles(current_client).find{|x| x[:id] == @user.manager.role}[:text] : "Direct" %></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="small text-muted"><%= labels[:manager_id] %></label>
            <div><%= @user.manager_id.present? ? @user.manager.name : "" %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3"></div>
  <% user_kycs = @user.user_kycs.all %>
  <% if user_kycs.present? %>
    <div class="card h-100">
      <div class="card-header">
        <%= global_labels[:user_kyc] %>
      </div>
      <div class="card-body">
        <% user_kycs.each do |user_kyc| %>
        <%= render 'admin/user_kycs/show', user_kyc: user_kyc %>
        <hr/>
        <% end %>
      </div>
    </div>
    <div class="mt-3"></div>
  <% end %>
  <div class="mt-3"></div>
  <div class="card">
    <div class="card-header">
      <%= global_labels[:notes] %>
    </div>
    <div class="card-body">
      <% @user.notes.limit(3).each do |note| %>
        <%= render 'notes/show', note: note %>
      <% end %>
    </div>
  </div>
  <div class="mt-3"></div>
  <div class="card">
    <div class="card-header">
      <%= client_labels[:disclaimer] %>
    </div>
    <div class="card-body">
      <%= current_client.disclaimer.html_safe %>
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-5 mt-5"></div>
          Customer Signature
        </div>
        <div class="col-md-6 text-right">
          <div class="mb-5 mt-5"></div>
          Authorized Signatory
        </div>
      </div>
    </div>
  </div>
  <div class="text-center text-muted small mt-3">This is an electronically generated customer form.</div>
  <div class="pt-3"></div>
</div>
<%= javascript_tag do %>
  window.print();
<% end %>
