<div class="container text-right">
  <button onclick="window.print();" class="db-small-btn light-blue bg-white fn-400 btn d-print-none">Print</button>
</div>
<% labels = t("mongoid.attributes.user").with_indifferent_access %>
<% client_labels = t("mongoid.attributes.client").with_indifferent_access %>
<div class="container">
  <div class="pt-3"></div>
  <div class="box-card">
    <div class="box-content br-rd-bl-4 bg-white">
      <div class="row pd-box">
        <div class="col-md-6">
          <div class="logo-wrapper">
            <%= image_tag current_client.logo.url || '' %>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="mt-2 mb-1 small text-muted"><%= labels[:lead_id] %></div>
          <h5><%= @user.lead_id %></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3"></div>
  <div class="box-card">
    <div class="box-header bg-gradient br-rd-tr-4">
      <h2>Customer Details</h2>
    </div>
    <div class="box-content br-rd-bl-4 bg-white">
      <div class="form-group pd-box">
        <h5><%= @user.name %></h5>
      </div>
      <div class="row pd-box">
        <div class="col-md-4">
          <div class="form-group">
            <label class="small text-muted"><%= labels[:email] %></label>
            <div><%= @user.email %></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="small text-muted"><%= labels[:phone] %></label>
            <div><%= @user.phone %></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="small text-muted"><%= labels[:confirmed] %></label>
            <div><%= @user.confirmed? ? "Yes (at #{l(@user.confirmed_at)})" : "No" %></div>
          </div>
        </div>
      </div>
      <div class="row pd-box">
        <div class="col-md-4">
          <div class="form-group">
            <label class="small text-muted"><%= labels[:manager_role] %></label>
            <div><%= @user.manager_id.present? ? t("users.role.#{@user.manager_role}") : "Direct" %></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="small text-muted"><%= labels[:manager_id] %></label>
            <div><%= @user.manager_name || '' %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3"></div>
  <% user_kycs = @user.user_kycs.all %>
  <% if user_kycs.present? %>
    <div class="box-card h-100">
      <div class="box-header bg-gradient br-rd-tr-4">
        <h2><%= global_labels[:user_kyc] %></h2>
      </div>
      <div class="box-content br-rd-bl-4 bg-white">
        <div class="pd-box">
          <% user_kycs.each do |user_kyc| %>
            <%= render 'admin/user_kycs/show', user_kyc: user_kyc %>
          <hr/>
          <% end %>
        </div>
      </div>
    </div>
    <div class="mt-3"></div>
  <% end %>
  <div class="mt-3"></div>
  <div class="box-card">
    <div class="box-header bg-gradient br-rd-tr-4">
      <h2><%= global_labels[:notes] %></h2>
    </div>
    <div class="box-content br-rd-bl-4 bg-white">
      <div class="pd-box">
        <% @user.notes.limit(3).each do |note| %>
          <%= render 'notes/show', note: note %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mt-3"></div>
  <div class="box-card">
    <div class="box-header bg-gradient br-rd-tr-4">
      <h2><%= client_labels[:disclaimer] %></h2>
    </div>
    <div class="box-content br-rd-bl-4 bg-white">
      <div class="pd-box">
        <%= current_client.disclaimer.html_safe %>
        <hr/>
      </div>
      <div class="row pd-box">
        <div class="col-md-6">
          <div class="mb-5 mt-5"></div>
          Customer Signature
        </div>
        <div class="col-md-6 text-right">
          <div class="mb-5 mt-5"></div>
          Authorized Signatory
        </div>
      </div>
    </div>
  </div>
  <div class="text-center text-muted small mt-3">This is an electronically generated customer form.</div>
  <div class="pt-3"></div>
</div>
<%= javascript_tag do %>
  window.print();
<% end %>
