<%= content_for :breadcrumbs do %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= after_sign_in_path_for(current_user) %>">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="<%= admin_users_path %>">Users</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @user.name %></li>
  </ol>
</nav>
<% end %>
<% labels = t('mongoid.attributes.user').with_indifferent_access %>
<div class="padding-side-30 mt50 padding-bottom30" style="clear:both">
  <div class="card">
    <div class="card-header light-blue-header">
      Overview
      <div class="float-right">
        <% if ReceiptPolicy.new(current_user, Receipt).index?(@user) %>
        <%= link_to "View #{global_labels['receipts']}", admin_user_receipts_path(user_id: @user.id), class: 'btn pink-btn white' %>
        <% end %>
        <% if UserKycPolicy.new(current_user, UserKyc).index?(@user) %>
        <%= link_to "View #{global_labels['user_kycs']}", admin_user_user_kycs_path(user_id: @user.id), class: 'btn pink-btn white' %>
        <% end %>
        <%= link_to dashboard_eoi_receipt_path(@user.id, :format => 'pdf'), class: 'btn pink-btn',target: :_blank do %>
          Show EOI Form
      <% end%>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"><%= labels[:name] %></label>
            <div class="control-data">
              <%= @user.name.present? ? @user.name : '-' %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"><%= labels[:email] %></label>
            <div class="control-data">
              <%= @user.email.present? ? @user.email : '-' %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"><%= labels[:phone] %></label>
            <div class="control-data">
              <%= @user.phone.present? ? @user.phone : '-' %>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row mt-3">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"><%= labels[:role] %></label>
            <div class="control-data">
              <%= @user.role.present? ? User.available_roles.find{|x| x[:id] == @user.role}[:text] : '-' %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Last Signed In At</label>
            <div class="control-data">
              <%= @user.last_sign_in_at.present? ? @user.last_sign_in_at : "Hasn't logged-in yet" %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"><%= labels[:kyc_ready] %></label>
            <div class="control-data">
              <%= @user.kyc_ready? ? 'Yes' : "No" %>
            </div>
          </div>
        </div>
      </div> -->
      <% if @user.buyer? %>
      <div class="row mt-3">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"><%= labels[:total_amount_paid] %></label>
            <div class="control-data">
              <%= @user.total_amount_paid.present? ? number_to_indian_currency(@user.total_amount_paid.round) : '-' %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"><%= labels[:total_balance_pending] %></label>
            <div class="control-data">
              <%= @user.total_balance_pending.present? ? number_to_indian_currency(@user.total_balance_pending.round) : '-' %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"><%= labels[:total_unattached_balance] %></label>
            <div class="control-data">
              <%= @user.total_unattached_balance.present? ? number_to_indian_currency(@user.total_unattached_balance.round) : '-' %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% if (current_user.role?('admin') || current_user.role?('crm') || current_user.role?('sales')) && @user.buyer? %>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Test <%= labels[:channel_partner_id] %></label>
            <div class="control-data">
              <% channel_partner_user = @user.channel_partner_id.present? ? User.find(@user.channel_partner_id) : nil %>
              <%= channel_partner_user.present? ? link_to(channel_partner_user.name, admin_user_path(channel_partner_user)) : '-' %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% if @user.role?('channel_partner') %>
      <div class="row mt-3">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"><%= labels[:rera_id] %></label>
            <div class="control-data">
              <%= @user.rera_id.present? ? @user.rera_id : '-' %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"><%= labels[:location] %></label>
            <div class="control-data">
              <%= @user.location.present? ? @user.location : '-' %>
            </div>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>
<hr/>
<%= render file: 'admin/project_units/index', locals: {project_units: @project_units} %>
