<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <%#= render 'breadcrumbs', {user: @user} %>
      <%= render 'users/overview', user: @user%>

      <% if current_user.role?('admin') %>
        <div class="mt-3"></div>
        <%= render 'users/utm_params', user: @user %>
      <% end %>

      <% if current_client.external_api_integration? && policy([current_user_role_group, SyncLog.new]).index? %>
        <div class="mt-3"></div>
        <%= render 'sync_logs/sync', { record: @user } %>
      <% end %>

      <% if policy([:admin, TimeSlot]).index? %>
        <div class="mt-3"></div>
        <div class="box-card mb-3">
          <div class="box-header bg-gradient br-rd-tr-4"><h2> <%= t('mongoid.attributes.receipt.time_slot') %></h2></div>
          <div class="box-content br-rd-bl-4 bg-white">
            <%= render "receipts/time_slot", receipts: @user.receipts, with_actions: true %>
          </div>
        </div>
      <% end %>

      <!-- Note Summary -->
      <div class="mt-3"></div>
      <div class="box-card">
        <div class="box-header bg-gradient br-rd-tr-4">
          <h2><%= @user.notes.count %><%= Note.model_name.human(count: @user.notes.count ) %></h2>
        </div>
        <div class="box-content br-rd-bl-4 bg-white">
          <div class="pd-box">
            <%= render "notes/index", notable: @user %>
          </div>
        </div>
      </div>

      <% if @user.role?("channel_partner") || @user.role?("cp") %>
        <!-- User List -->
        <div class="mt-3"></div>
        <div class="box-card">
          <div class="box-header bg-gradient br-rd-tr-4">
            <h2>
              <%= User.model_name.human %>
            </h2>
          </div>
          <div class="box-content br-rd-bl-4 bg-white">
            <div class="pd-box">
              <%= render "admin/users/index", users: User.where(manager_id: @user.id).paginate(page: 1, per_page: 5) %>
            </div>
          </div>
        </div>
      <% end %>

      <% if @user.buyer? && current_client.enable_actual_inventory?(current_user) %>
        <div class="mt-3"></div>
        <div class="box-card">
          <div class="box-header bg-gradient br-rd-tr-4"><h2><%= @booking_details.total_entries %><%= BookingDetail.model_name.human(count: @booking_details.count)%> </h2></div>
          <div class="box-content br-rd-bl-4 bg-white">
            <div class="pd-box">
              <%= render 'admin/booking_details/index', { booking_details: @booking_details } %>
            </div>
          </div>
        </div>
      <% end %>
      <!-- receipts -->
      <div class="mt-3"></div>
      <div class="box-card">
        <div class="box-header bg-gradient br-rd-tr-4"><h2><%= t('mongoid.models.receipt', count: @receipts.count )%></h2></div>
        <div class="box-content br-rd-bl-4 bg-white">
          <div class="pd-box">
            <%= render 'receipts/index', {receipts: @receipts } %>
          </div>
        </div>
      </div>

      <!-- My Referrals -->
      <div class="mt-3"></div>
      <div class="box-card">
        <div class="box-header bg-gradient br-rd-tr-4">
          <h2> <%= t('mongoid.models.referral', count: @user.referrals.count ) %> </h2>
        </div>
        <div class="box-content br-rd-bl-4 bg-white">
          <div class="pd-box">
            <%= render "admin/users/index", { users: @user.referrals.paginate(page: params[:page], per_page: 1000) } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
