<% labels = t('mongoid.attributes.user').with_indifferent_access %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <%#= render 'breadcrumbs', {user: @user} %>
      <%= render 'users/overview', user: @user, labels: labels %>
      <div class="mt-3"></div>
      <!-- Note Summary -->
      <div class="card">
        <div class="card-header">
          <%= global_labels[:notes] %>
        </div>
        <div class="card-body">
          <%= render "notes/index", notable: @user %>
        </div>
      </div>

      <% if @user.role?("channel_partner") || @user.role?("cp") %>
        <!-- User List -->
        <div class="mt-3"></div>
        <div class="card">
          <div class="card-header"><%= global_labels[:users] %> registered under <%= @user.name %></div>
          <div class="card-body">
            <%= render "admin/users/index", users: User.where(manager_id: @user.id).paginate(page: 1, per_page: 15) %>
          </div>
        </div>
      <% end %>

      <% if @user.buyer? && current_client.enable_actual_inventory?(current_user) %>
        <div class="mt-3"></div>
        <div class="card">
          <div class="card-header"> Bookings </div>
          <div class="card-body">
            <%= render 'admin/booking_details/index', { booking_details: @booking_details } %>
          </div>
        </div>
      <% end %>
      <!-- receipts -->
      <div class="mt-3"></div>
      <div class="card">
        <div class="card-header">Payments</div>
        <div class="card-body">
          <%= render 'receipts/index', {receipts: @receipts } %>
        </div>
      </div>

      <!-- My Referrals -->
      <div class="mt-3"></div>
      <div class="card">
        <div class="card-header">
          <h5>My Referrals</h5>
        </div>
        <div class="card-body">
          <%= render "admin/users/index", { users: @user.referrals.paginate(page: params[:page], per_page: 1000) } %>
        </div>
      </div>
    </div>
  </div>
</div>
