<section class="mt-4">
  <div class="px-3 pb-5">
    <div class="row px-3">
      <div class="col-lg-12 px-3 bg-white py-4">
        <div class="col-12 float-start mt-3 pb-0">
          <div class="card">
            <div class="card-header theme-light-bg py-3">
              <div class="d-flex justify-content-between">
            <div>
              <h6 class="card-title d-inline fn-24 font-medium theme-txt-color me-1"><% if @user.temporarily_blocked? %>
                <i class="fa fa-circle red" aria-hidden="true"></i>
                <% end %><%= @user.name || '-' %></h6>
              <a href="javascript:;" class="email-icon small d-inline-block mt-1 fn-16" data-bs-toggle="popover"
                title="Email Id" data-bs-placement="bottom"
                data-bs-content="<%= @user.email || '-' %>">
                <i class="fa fa-envelope fill-theme me-2 ms-2 fn-18"></i>
              </a>
              <a href="javascript:;" class="phone-icon small d-inline-block mt-1 fn-16" data-bs-container="body"
                data-bs-placement="bottom" data-bs-toggle="popover" title="Phone No."
                data-bs-content="<%= @user.phone || '-' %>">
                <i class="fa fa-phone-alt fill-theme me-2 fn-18"></i>
              </a>
            </div>
            <div class="dropdown d-inline-block">
              <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-ellipsis-v txt-light-blue" aria-hidden="true"></i></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <%= render "#{current_user_role_group}/users/links", user: @user %>
              </div>
            </div>
          </div>
            </div>
            <div class="card-body p-0 rounded-0 border-0">
              <div class="accordion theme-accordation" id="accordionExample">
                <div class="accordion-item rounded-0 border-bottom border-top-0  border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingOverview">
                    <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOverview" aria-expanded="true" aria-controls="collapseOverview">
                      Overview
                    </button>

                  </h2>
                  <div id="collapseOverview" class="accordion-collapse collapse" aria-labelledby="headingOverview"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <%= render 'users/overview', user: @user%>
                    </div>
                  </div>
                </div>
                <% if policy([:admin, Crm::Base.new()]).choose_crm? && apis = Crm::Base.active_apis(@user).presence %>
                <div class="accordion-item  border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingCRM">
                    <button class="accordion-button collapsed  shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseCRM" aria-expanded="false" aria-controls="collapseCRM">
                      CRM
                    </button>
                  </h2>
                  <div id="collapseCRM" class="accordion-collapse collapse" aria-labelledby="headingCRM"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <%= render 'admin/crm/base/crms', { apis: apis, resource: @user } %>
                    </div>
                  </div>
                </div>
                <% end %>
                <% if @user.leads.present? %>
                <div class="accordion-item  border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingLead">
                    <button class="accordion-button collapsed  shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseLead" aria-expanded="false" aria-controls="collapseLead">
                      Lead
                    </button>
                    <% if policy([:admin, Lead]).new? %>
                    <%= link_to t('helpers.new.link_name', model: Lead.model_name.human), new_admin_lead_path(user_id: @user.id), class: 'fn-12 font-medium theme-txt-color w-25 text-end pe-3 py-3 modal-remote-form-link' %>
                    <% end %>
                  </h2>
                  <div id="collapseLead" class="accordion-collapse collapse" aria-labelledby="headingLead"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <% leads = @user.leads %>
                      <%= render "admin/leads/section", leads: leads , name: Lead.model_name.human(count: leads.count) %>
                    </div>
                  </div>
                </div>
                <% end %>
                <% if @user.role?("cp_admin") || @user.role?("cp") %>
                <!-- User List -->
                <% users = User.where(manager_id: @user.id).paginate(page: 1) %>
                <div class="accordion-item border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingUsers">
                    <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseUsers" aria-expanded="false" aria-controls="headingUsers">
                      Users
                    </button>

                  </h2>
                  <div id="collapseUsers" class="accordion-collapse collapse" aria-labelledby="headingUsers"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <div class="row ps-3">
                        <div class="col-12">
                          <%= render 'users/section', users: users, name: User.model_name.human(count: users.total_entries ) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>

                <% if @user.role?('channel_partner') %>

                <div class="accordion-item border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingInterestedPrjt">
                    <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseInterestedPrjt" aria-expanded="false"
                      aria-controls="headingInterestedPrjt">
                      Interested Projects
                    </button>

                  </h2>
                  <div id="collapseInterestedPrjt" class="accordion-collapse collapse"
                    aria-labelledby="headingInterestedPrjt" data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <div class="row ps-3">
                        <div class="col-12">
                          <%= render 'users/interested_projects' %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>


                <div class="accordion-item border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingNotes">
                    <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseNotes" aria-expanded="false" aria-controls="headingNotes">
                      Notes
                    </button>
                    
                  </h2>
                  <div id="collapseNotes" class="accordion-collapse collapse" aria-labelledby="headingNotes"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <div class="row ps-3">
                        <div class="col-12">
                          <%= render 'notes/section', notable: @user %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion-item border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingThree">
                    <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseThree" aria-expanded="false" aria-controls="headingThree">
                      My Referrals
                    </button>

                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <div class="row ps-3">
                        <div class="col-12">
                          <%= render 'users/section', users: @referrals, name: Referral.model_name.human(count: @referrals.count) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% if current_user.role?('admin') %>
                <div class="accordion-item border-end-0 border-start-0">
                  <h2 class="accordion-header d-flex justify-content-between" id="headingThree">
                    <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseThree" aria-expanded="false" aria-controls="headingThree">
                      UTM Params
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 ps-4">
                      <div class="row ps-3">
                        <div class="col-12">
                          <%= render 'users/utm_params', user: @user %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>