<%
  i_agree_required = current_client.disclaimer.present? && @receipt.new_record?
%>

<div class="alert alert-primary">
  <%= t('controller.booking_details.receipts.form.disclaimer', field: t('mongoid.attributes.receipt.receipt_id') )%>
</div>
<div class="form-group">
  <%= f.label :payment_mode, class: 'label-required' %>
  <%= f.select :payment_mode, payment_mode_options, {prompt: true, selected: @receipt.payment_mode}, class: 'selectize', required: 'required', autofocus: true, disabled: !policy([:admin, @receipt]).editable_field?("payment_mode") %>
</div>

<div class="row offline">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :issuing_bank, class: 'label-required' %>
      <%= f.text_field :issuing_bank, class: 'form-control', required: 'required', disabled: !policy([:admin, @receipt]).editable_field?("issuing_bank") %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :issuing_bank_branch, class: 'label-required' %>
      <%= f.text_field :issuing_bank_branch, class: 'form-control', required: 'required', disabled: !policy([:admin, @receipt]).editable_field?("issuing_bank_branch") %>
    </div>
  </div>
</div>

<div class="row offline">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :payment_identifier, class: 'label-required' %>
      <%= f.text_field :payment_identifier, class: 'form-control', required: 'required', disabled: !policy([:admin, @receipt]).editable_field?("payment_identifier") %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group position-relative offline">
      <%= f.label :issued_date, class: 'label-required' %>
      <%= f.text_field :issued_date, class: 'form-control datepicker', required: 'required', "data-default-date": f.object.issued_date.present? ? f.object.issued_date.strftime("%d/%m/%Y") : Date.today.strftime("%d/%m/%Y"), disabled: !policy([:admin, @receipt]).editable_field?("issued_date"), value: f.object.issued_date.present? ? f.object.issued_date.strftime("%d/%m/%Y") : Date.today.strftime("%d/%m/%Y") %>
    </div>
  </div>
</div>

<div class="form-group">
  <% if f.object.new_record? %>
    <%= f.hidden_field :event, value: 'pending' %>
  <% else %>
    <%= f.label :status, class: 'control-label' %>
    <%
      statuses = available_statuses(@receipt)
    %>
    <%= f.select :event, options_for_select(statuses.collect{|rec| [rec.to_s.titleize, rec.to_s]}, @receipt.status), {prompt: true}, class: 'selectize', required: 'required', disabled: !policy([:admin, @receipt]).editable_field?("event") %>
  </div>
<% end %>

<% if current_client.enable_actual_inventory?(current_user) %>
  <div class="form-group">
    <% unless( (defined? direct_payment) && direct_payment ) %>
      <%= f.label :project_unit_id, class: 'control-label' %>
        <% if @receipt.booking_detail_id.present? %>
          <% lead_booking_details = [f.object.booking_detail] %>
        <% elsif policy([:admin, @receipt]).editable_field?("booking_detail_id") %>
          <% lead_booking_details = @receipt.lead.booking_details.ne(status: 'hold') %>
        <% end %>
        <% if lead_booking_details.present? %>
          <%= f.select :booking_detail_id, lead_booking_details.collect{|x| [x.name, x.id]}, {prompt: true}, class: 'selectize' %>
        <% end %>
    <% end %>
  </div>
<% end %>

<% if policy([:admin, @receipt]).editable_field?("payment_type") %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :payment_type, class: 'label-required' %>
        <%= f.select :payment_type, Receipt::PAYMENT_TYPES.collect{ |x| [t("receipts.payment_types.#{x}"), x]}, {prompt: true}, class: 'selectize', required: 'required', autofocus: true %>
      </div>
    </div>
  </div>
<% end %>

<% if policy([:admin, @receipt]).editable_field?("tracking_id") && policy([:admin, @receipt]).editable_field?("processed_on") %>
  <div class="row offline">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :tracking_id, class: 'control-label' %>
        <%= f.text_field :tracking_id, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6 offline">
      <div class="form-group">
        <% tomorrow = Date.today+1%>
        <%= f.label :processed_on, class: 'control-label' %>
        <%= f.text_field :processed_on, class: 'form-control datepicker', "data-default-date": f.object.processed_on.present? ? f.object.processed_on.strftime("%d/%m/%Y") : '', "data-max-date": tomorrow.strftime("%d/%m/%Y"), value: f.object.processed_on.present? ? f.object.processed_on.strftime("%d/%m/%Y") : "" %>
      </div>
    </div>
  </div>
<% end %>

<% if policy([:admin, @receipt]).editable_field?("comments") %>
  <div class="form-group">
    <%= f.label :comments, class: 'control-label' %>
    <%= f.text_area :comments, class: 'form-control' %>
  </div>
<% end %>
<div class="form-group">
  <%= f.label :total_amount, class: 'label-required' %>
  <% if !policy([:admin, @receipt]).editable_field?("total_amount") %>
    <% total_amount = @receipt.total_amount.present? ? @receipt.total_amount : current_client.blocking_amount %>
    <h5><%= number_to_indian_currency(total_amount) %></h5>
    <%= f.hidden_field :total_amount, value: total_amount %>
  <% else %>
    <%= f.number_field :total_amount, min: 0, class: "form-field form-control green", required: 'required' %>
  <% end %>
</div>

<% if i_agree_required %>
  <div class="form-group">
    <div class="card p-1 small" style="height: 100px; overflow: auto;">
      <div class="font-weight-bold mb-2"> <%= t('global.disclaimer')%>:</div>
      <%= current_client.disclaimer %>
    </div>
    <div class="form-check mt-1">
      <%= check_box_tag :agree, true, false, class: "form-check-input" %>
      <%= label_tag :agree, t("mongoid.models.booking_detail.i_agree_label.#{current_user_role_group}", name: f.object.lead.name), class: "form-check-label" %>
    </div>
  </div>
<% end %>

<div class="form-group">
  <%= f.submit class: 'btn btn-primary', disabled: i_agree_required %>
</div>
