<div class="modal fade right modal-fullscreen fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <div class="modal-dialog modal-fullscreen" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="title"> <%= t('controller.receipts.lost_receipt.header') %> </h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= form_for [:admin, @booking_detail, @receipt], local: true, remote: true, html: {id: 'receipt_form', class: 'modal-remote-form validate-form', data: { "resource-type": t('global.receipt'), type: :json} } do |f| %>
            <div class="mb-3">
              <%= f.label :payment_mode, class: 'label-required' %>
                <%= f.select :payment_mode, ['online'], {prompt: I18n.t("global.select"), selected: @receipt.payment_mode}, class: 'selectize', required: 'required', autofocus: true, disabled: !policy([:admin, @receipt]).editable_field?("payment_mode") %>
            </div>
            <div class="mb-3">
              <%= f.label :payment_identifier, class: 'label-required' %>
              <%= f.text_field :payment_identifier, class: 'form-control', required: 'required', disabled: !policy([:admin, @receipt]).editable_field?("payment_identifier") %>
            </div>
            <div class="mb-3">
              <%= f.label :account, class: 'label-required' %>

                <%= f.select :account_number ,Account.all.collect{|x| [ x.account_number, x.id]} , {prompt: I18n.t("global.select")}, class: 'selectize', required: 'required', autofocus: true %>
            </div>
            <div class="mb-3">
              <%= f.label :total_amount, class: 'label-required' %>
              <% if !policy([:admin, @receipt]).editable_field?("total_amount") %>
                <% total_amount = @receipt.total_amount if @receipt.total_amount.present? %>
                <h5><%= number_to_indian_currency(total_amount) %></h5>
                <%= f.hidden_field :total_amount, value: total_amount %>
              <% else %>
                <%= f.number_field :total_amount, min: 0, class: "form-field form-control green", required: 'required' %>
              <% end %>
            </div>
            <div class="mb-3">
              <%= f.label :status, class: 'control-label' %>
              <%= f.select :event, options_for_select([[ Receipt.human_attribute_name('status.pending'), 'pending' ]], @receipt.status), {prompt: I18n.t("global.select")}, class: 'selectize', required: 'required', disabled: !policy([:admin, @receipt]).editable_field?("event") %>
            </div>
            <div class="mb-3">
              <%= f.submit class: 'btn btn-primary' %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    $('#receipt_form [name="agree"]').change(function(){
      if($(this).is(":checked")){
        $('#receipt_form [type="submit"]').removeAttr("disabled");
      }else{
        $('#receipt_form [type="submit"]').attr("disabled", "disabled");
      }
    });
    FormInitializer.init($('#receipt_form'));
  });
<% end %>
