<%= content_for :breadcrumbs do %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= after_sign_in_path_for(current_user) %>">Dashboard</a></li>
      <% if @channel_partner.present? %>
        <li class="breadcrumb-item"><a href="<%= channel_partners_path %>"><%= global_labels[:channel_partners] %></a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @channel_partner.name %></li>
      <% else %>
        <li class="breadcrumb-item active" aria-current="page"><%= global_labels[:channel_partners] %></li>
      <% end %>
    </ol>
  </nav>
<% end %>
