<div class="row">
  <div class="col-md-6">
    <%= form.input :company_name, required1: true, disabled: !policy([:admin, @channel_partner]).editable_field?("company_name") %>
  </div>
  <div class="col-md-6">
    <%= form.input :company_owner_name, disabled: !policy([:admin, @channel_partner]).editable_field?("company_owner_name") %>
  </div>
  <div class="col-md-6">
    <%= form.input :company_owner_phone, disabled: !policy([:admin, @channel_partner]).editable_field?("company_owner_phone"), as: :tel, input_html: { class: 'phone' } %>
  </div>
  <div class="col-md-6">
    <%= form.input :team_size, collection: (1..200).to_a.collect{|x| [x, x]}, disabled: !policy([:admin, @channel_partner]).editable_field?("team_size"), as: :select, prompt: :translate, input_html: { class: 'selectize' } %>
  </div>
  <div class="col-md-6">
    <%= form.input :pan_number, required: true, disabled: !policy([:admin, @channel_partner]).editable_field?("pan_number") %>
  </div>
  <div class="col-md-6">
    <%= form.input :nri, item_wrapper_class: 'form-check form-check-inline me-3 align-middle', as: :radio_buttons, prompt: :translate, required: true, input_html: {class: 'wd-22', disabled: !policy([:admin, @channel_partner]).editable_field?("nri") } %>
  </div>
  <div class="col-md-6">
    <%= form.input :average_quarterly_business, required: false, disabled: !policy([:admin, @channel_partner]).editable_field?("average_quarterly_business"), as: :float %>
  </div>
  <div class="col-md-6">
    <%= form.input :manager_id, collection: User.where(is_active: true, confirmed_at: {'$ne': nil}, role: "cp").collect{|x| [x.ds_name, x.id]}, disabled: !policy([:admin, @channel_partner]).editable_field?("manager_id"), required: true, as: :select, prompt: :translate, input_html: { class: 'selectize' } %>
  </div>
  <div class="col-md-6">
    <%= form.input :regions, collection: current_client.partner_regions.collect{|region| [region,region]}, disabled: !policy([:admin, @channel_partner]).editable_field?("regions"), as: :select, prompt: :translate, input_html: { class: 'selectize', multiple: true } %>
  </div>
</div>
