<div class="row">
  <div class="col-2">
    <div class="form-group">
      <%= form.label :title, class: 'label-required' %>
      <%= form.select :title, UserKyc.available_salutations.collect{|x| [x[:text], x[:id]]}, {}, class: 'required form-control' %>
    </div>
  </div>
  <div class="col-5">
    <div class="form-group">
      <%= form.label :first_name, class: 'label-required' %>
      <%= form.text_field :first_name, class: 'form-control', required: 'required', autofocus: true, disabled: (policy(@channel_partner).editable_field?("first_name") ? false : true), placeholder:'First Name' %>
    </div>
  </div>
  <div class="col-5">
    <div class="form-group">
      <%= form.label :last_name, class: 'label-required' %>
      <%= form.text_field :last_name, class: 'form-control', required: 'required', autofocus: true, disabled: (policy(@channel_partner).editable_field?("last_name") ? false : true), placeholder:'Last Name' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="form-group">
      <%= form.label :phone, class: 'label-required' %>
      <%= form.text_field :phone, class: 'form-control phone', required: 'required', autofocus: true, disabled: (policy(@channel_partner).editable_field?("phone") ? false : true), placeholder:'Mobile Phone' %>
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <%= form.label :email, class: 'label-required' %>
      <%= form.email_field :email, class: 'form-control email', required: 'required', disabled: (policy(@channel_partner).editable_field?("email") ? false : true), placeholder:'Email'%>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="form-group">
      <%= form.label :company_name, class: 'label-required' %>
      <%= form.text_field :company_name, class: 'form-control', disabled: (policy(@channel_partner).editable_field?("company_name") ? false : true), placeholder:'Company Name' %>
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <%= form.label :gstin_number, class: 'label-required' %>
      <%= form.text_field :gstin_number, class: 'form-control', required: 'required', disabled: (policy(@channel_partner).editable_field?("gstin_number") ? false : true), placeholder:'GSTIN Number' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="form-group">
      <%= form.label :aadhaar, class: 'label-required' %>
      <%= form.text_field :aadhaar, class: 'form-control', required: 'required', disabled: (policy(@channel_partner).editable_field?("aadhaar") ? false : true), placeholder:'Aadhaar Number' %>
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <%= form.label :pan_number, class: 'label-required' %>
      <%= form.text_field :pan_number, class: 'form-control', required: 'required', disabled: (policy(@channel_partner).editable_field?("pan_number") ? false : true), placeholder:'PAN Number' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="form-group">
      <%= form.label :rera_id, class: 'label-required' %>
      <%= form.text_field :rera_id, class: 'form-control', required: 'required', disabled: (policy(@channel_partner).editable_field?("rera_id") ? false : true), placeholder:'RERA Registration Number' %>
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <% if policy(@channel_partner).editable_field?("status") %>
        <%= form.label :status, class: 'label-required' %>
        <div class="form-group">
          <%= f.label :status, class: 'title' %>
          <%= f.select :status, ChannelPartner.available_statuses.select{|x| statuses.include?(x[:id])}.collect{|x| [x[:text], x[:id]]}, {prompt: "Select", class: "selectize", disabled: (policy(@channel_partner).editable_field?("status") ? false : true)} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
