<div class="row">
  <div class="col-md-2">
    <%= form.input :title, collection: UserKyc.available_salutations.collect{|x| [x[:text], x[:id]]}, as: :select, prompt: :translate %>
  </div>

  <div class="col-md-5">
    <%= form.input :first_name, required: true, autofocus: true, disabled: !policy([:admin, @channel_partner]).editable_field?("first_name") %>
  </div>

  <div class="col-md-5">
    <%= form.input :last_name, required: true, autofocus: true, disabled: !policy([:admin, @channel_partner]).editable_field?("last_name") %>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <%= form.input :phone, required: true, disabled: !policy([:admin, @channel_partner]).editable_field?("phone"), as: :tel, input_html: { class: 'phone' } %>
  </div>
  <div class="col-md-6">
    <%= form.input :email, required: true, disabled: !policy([:admin, @channel_partner]).editable_field?("email"), input_html: { class: 'email'} %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form.input :pan_number, required: true, disabled: !policy([:admin, @channel_partner]).editable_field?("pan_number") %>
  </div>
  <div class="col-md-6">
    <%= form.input :company_name, required: true, disabled: !policy([:admin, @channel_partner]).editable_field?("company_name") %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form.input :company_owner_name, disabled: !policy([:admin, @channel_partner]).editable_field?("company_owner_name") %>
  </div>
  <div class="col-md-6">
    <%= form.input :company_owner_phone, disabled: !policy([:admin, @channel_partner]).editable_field?("company_owner_phone"), as: :tel, input_html: { class: 'phone' } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form.input :nri, item_wrapper_class: 'form-check form-check-inline', as: :radio_buttons, prompt: :translate, required: true, input_html: {class: 'wd-22', disabled: !policy([:admin, @channel_partner]).editable_field?("nri") } %>
  </div>
  <div class="col-md-6">
    <%= form.input :team_size, collection: (1..200).to_a.collect{|x| [x, x]}, disabled: !policy([:admin, @channel_partner]).editable_field?("team_size"), as: :select, prompt: :translate %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form.input :rera_applicable, item_wrapper_class: 'form-check form-check-inline', as: :radio_buttons, prompt: :translate, required: true, input_html: {class: 'wd-22', disabled: !policy([:admin, @channel_partner]).editable_field?("rera_applicable") } %>
  </div>
  <div class="col-md-6">
    <%= form.input :rera_id, disabled: !policy([:admin, @channel_partner]).editable_field?("rera_id") %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form.input :gst_applicable, item_wrapper_class: 'form-check form-check-inline', as: :radio_buttons, prompt: :translate, required: true, input_html: {class: 'wd-22', disabled: !policy([:admin, @channel_partner]).editable_field?("gst_applicable") } %>
  </div>
  <div class="col-md-6">
    <%= form.input :gstin_number, disabled: !policy([:admin, @channel_partner]).editable_field?("gstin_number") %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
  <!-- Remove form-control class in select field and selectize  -->
    <%= form.input :expertise, collection: ChannelPartner::EXPERTISE.collect{|x| [x.titleize, x]}, disabled: !policy([:admin, @channel_partner]).editable_field?("expertise"), as: :select, prompt: :translate, input_html: {multiple: true, class: 'selectize'} %>
  </div>
  <div class="col-md-6">
    <%= form.input :experience, collection: ChannelPartner::EXPERIENCE.collect{|x| [x, x]}, disabled: !policy([:admin, @channel_partner]).editable_field?("experience"), as: :select, prompt: :translate %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form.input :average_quarterly_business, required: false, disabled: !policy([:admin, @channel_partner]).editable_field?("average_quarterly_business"), as: :float %>
  </div>
  <div class="col-md-6">
    <% if current_user.present? && current_user.role?(:cp_admin) %>
      <%= form.hidden_field :manager_id, value: current_user.id %>
    <% else %>
      <%= form.input :manager_id, collection: User.in(role: "cp_admin").collect{|x| [x.name, x.id]}, disabled: !policy([:admin, @channel_partner]).editable_field?("manager_id"), as: :select, prompt: :translate %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  <!-- Remove form-control class in select field and selectize  -->
    <%= form.input :developers_worked_for, collection: ChannelPartner::DEVELOPERS.collect{|x| [x, x]}, disabled: !policy([:admin, @channel_partner]).editable_field?("developers_worked_for"), prompt: :translate, input_html: {multiple: true, class: 'selectize'} %>
  </div>
  <div class="col-md-12">
  <!-- Remove form-control class in select field and selectize  -->
    <%= form.input :interested_services, collection: ChannelPartner::SERVICES.collect{|x| [x, x]}, disabled: !policy([:admin, @channel_partner]).editable_field?("interested_services"), prompt: :translate, input_html: {multiple: true, class: 'selectize'} %>
  </div>
</div>

<% if policy([:admin, @channel_partner]).editable_field?("event") %>
  <% statuses = available_chanel_partner_statuses(@channel_partner) %>
  <% if statuses.present? %>
    <div class="row">
      <div class="col-md-6">
        <%= form.input :event, collection: statuses.collect{|rec| [rec.to_s.titleize, rec.to_s]}, as: :select, prompt: :translate, input_html: { class: 'selectize', disabled: !policy([:admin, @channel_partner]).editable_field?("event") } %>
      </div>
      <div class="col-md-6 status_change_field">
        <%= form.input :status_change_reason, disabled: !policy([:admin, @channel_partner]).editable_field?("status_change_reason") %>
      </div>
    </div>
  <% end %>
<% end %>

<% if policy([:admin, @channel_partner]).editable_field?("bank_detail_attributes") %>
  <div class="box-card mt-3">
    <div class="box-header bg-gradient br-rd-tr-4">
      <h2><strong>Bank Details</strong></h2>
    </div>
    <div class="box-content br-rd-bl-4 bg-white p-0 pt-1">
      <div class="mb-3">
        <% form.object.build_bank_detail if form.object.bank_detail.blank? %>
        <%= form.fields_for :bank_detail do |bank_detail_form| %>
          <%= render "bank_details/form_fields", f: bank_detail_form %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if policy([:admin, @channel_partner]).editable_field?("address_attributes") %>
  <div class="card mt-2">
    <div class="card-header bg-white">
      <h5 class="mb-0 py-2 fn-18 theme-txt-color">Address</h5>
    </div>
    <div class="card-body box-content rounded-bottom bg-white p-0 pt-3">
      <div class="mb-1 px-3">
        <% form.object.build_address if form.object.address.blank? %>
        <%= form.fields_for :address do |address_form| %>
          <%= render "addresses/form_fields", f: address_form %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if action_name == 'edit' && policy(ThirdPartyReference).editable_field?('reference_id') %>
  <br>
  <h5>CRM IDs</h5>
  <hr/>
  <%= render 'admin/crm/shared/third_party_references_form', f: form %>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function(){
    $('#channel_partner_event').change(function(){
      if($(this).val() == 'reject'){
        $('.status_change_field').removeClass('hidden');
        $('#channel_partner_status_change_reason').addClass('required').attr('required', 'required');
      }else{
        $('.status_change_field').addClass('hidden');
        $('#channel_partner_status_change_reason').removeClass('required').removeAttr('required');
      }
    }).trigger('change');
  });
<% end %>
