<div class="table-responsive">
  <table class='table striped-table'>
    <thead class="th-default">
      <% labels = t('mongoid.attributes.channel_partner').with_indifferent_access %>
      <tr>
        <th><%= labels[:name] %></th>
        <th>Details</th>
        <th><%= labels[:status] %></th>
        <th><%= labels[:associated_user_id] %></th>
        <th class='text-right'>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% channel_partners.each do |channel_partner| %>
        <tr>
          <td><%= channel_partner.name %></td>
          <td><i class="far fa-envelope"></i> <%= channel_partner.email %><br/><i class="fas fa-mobile-alt"></i> <%= channel_partner.phone %></td>
          <td><%= ChannelPartner.available_statuses.find{|x| x[:id] == channel_partner.status}[:text] %></td>
          <td><%= channel_partner.associated_user_id.present? ? link_to(channel_partner.associated_user.name, admin_user_path(channel_partner.associated_user_id)) : '-' %></td>
          <td class="text-right">
            <div class="dropdown">
              <a class="btn btn-light dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
              <div class="dropdown-menu dropdown-menu-right">
                <% if Admin::ChannelPartnerPolicy.new(current_user, channel_partner).edit? %>
                  <%= link_to 'Edit', edit_channel_partner_path(channel_partner), class: 'dropdown-item modal-remote-form-link' %>
                <% end %>

                <%= link_to 'Show', channel_partner, class: 'dropdown-item' %>
                <% if policy([ current_user_role_group, Asset.new(assetable: channel_partner)]).index? %>
                  <%= link_to 'Documents', assetables_path(assetable_type: channel_partner.class.model_name.i18n_key.to_s, assetable_id: channel_partner.id), class: 'dropdown-item modal-remote-form-link' %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="6">
          <div class="mt-5 pt-5"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%= will_paginate channel_partners, list_classes: %w(pagination justify-content-center) %>
