<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <thead>
      <tr class="bg-gradient-cd white">
        <th><%= t('mongoid.attributes.channel_partner.name') %></th>
        <th><%= t('mongoid.attributes.channel_partner.details')%></th>
        <th><%= t('mongoid.attributes.channel_partner.rera_id') %></th>
        <th><%= t('mongoid.attributes.channel_partner.status') %></th>
        <th><%= t('mongoid.attributes.channel_partner.associated_user_id') %></th>
        <th>Actions</th>
      </tr>
    </thead>
  </thead>
  <tbody>
      <% channel_partners.each do |channel_partner| %>
        <tr>
          <td data-title=<%= t('mongoid.attributes.channel_partner.name') %> ><%= channel_partner.name %></td>
          <td data-title= <%= t('mongoid.attributes.channel_partner.details') %> ><i class="far fa-envelope"></i> <%= channel_partner.email %><br/><i class="fas fa-mobile-alt"></i> <%= channel_partner.phone %></td>
          <td data-title=<%= t('mongoid.attributes.channel_partner.rera_id') %> ><%= channel_partner.rera_id %></td>
          <td data-title=<%= t('mongoid.attributes.channel_partner.status') %> ><%= ChannelPartner.human_attribute_name("status.#{channel_partner.status}") %></td>
          <td data-title=<%= t('mongoid.attributes.channel_partner.associated_user_id') %> ><%= channel_partner.associated_user_id.present? ? link_to(channel_partner.associated_user.name, admin_user_path(channel_partner.associated_user_id)) : '-' %></td>
          <td>
            <div class="dropdown show text-center">
            <a class="btn dropdown-toggle table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <% if Admin::ChannelPartnerPolicy.new(current_user, channel_partner).edit? %>
                  <%= link_to t('helpers.edit.link_name', model: ChannelPartner.model_name.human), edit_channel_partner_path(channel_partner), class: 'dropdown-item modal-remote-form-link' %>
                <% end %>
                <% if policy([:admin, Crm::Base.new()]).choose_crm? && Crm::Api.where(resource_class: 'ChannelPartner').present? %>
                  <%= link_to t('controller.crms.choose_crm.link_name'), choose_crm_admin_crm_base_index_path(resource_id: channel_partner.id, resource_class: channel_partner.class), class: "dropdown-item " %>
                <% end %>

                <%= link_to t('helpers.show.link_name', model: ChannelPartner.model_name.human), channel_partner, class: 'dropdown-item' %>
                <% if policy([ current_user_role_group, Asset.new(assetable: channel_partner)]).index? %>
                  <%= link_to t('controller.assets.index.link_name'), assetables_path(assetable_type: channel_partner.class.model_name.i18n_key.to_s, assetable_id: channel_partner.id), class: 'dropdown-item modal-remote-form-link' %>
                <% end %>
             </div>
          </div>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pt-2">
  <%= will_paginate channel_partners, list_classes: %w(pagination justify-content-center) %>
</div>
