<section class="mt-0">
  <div class="px-0">
    <div class="row g-0">
      <div class="col-lg-12 p-0 mt-3">
        <table class="table table-responsive table-color">
          <thead>
            <tr>
              <th>CP Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>User</th>
              <th>User Count</th>
              <th>RERA No</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% channel_partners.each do |channel_partner| %>
              <tr>
                <td><%= channel_partner.name %></td>
                <td>
                  <% if channel_partner.primary_user&.email.present? %>
                    <%= channel_partner.primary_user&.email || '' %>
                  <% end %>
                </td>
                <td>
                  <% if channel_partner.primary_user&.phone.present? %>
                    <%= channel_partner.primary_user&.phone || '' %>
                  <% end %>
                </td>
                <td><%= channel_partner.primary_user_id.present? ? link_to(channel_partner.primary_user.name, admin_user_path(channel_partner.primary_user_id), class: "theme-txt-color col-title") : '-' %></td>
                <td>
                  <% if channel_partner.manager_id.present? %>
                    <p class="fn-14 mb-0 theme-txt-color">
                      <%= t('mongoid.attributes.channel_partner.manager_id') %> : <span class="font-medium theme-txt-color"><%= link_to(channel_partner.manager_name, admin_user_path(channel_partner.manager), class: "theme-txt-color col-title") %></span>
                    </p>
                  <% end %>
                  <% if channel_partner.users.present? %>
                    <p class="fn-14 mb-0 theme-txt-color">
                    <%= link_to "<i class='fa fa-users fill-theme me-2 fa-sm'></i>#{channel_partner.users.count || ''}".html_safe, admin_users_path(fltrs: {channel_partner_id: channel_partner.id}) %>
                    </p>
                  <% end %>
                </td>
                <td><%= channel_partner.rera_id.present? ? channel_partner.rera_id : '-'  %></td>
                <td><i class='fa fa-circle status_<%= channel_partner.status %> me-2 fa-xs'></i><%= ChannelPartner.human_attribute_name("status.#{channel_partner.status}") %></td>
                <td>
                    <div class="dropdown d-inline-block">
                      <a href="javascript:void(0);" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-ellipsis-v txt-light-blue" aria-hidden="true"></i></a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <% if Admin::ChannelPartnerPolicy.new(current_user, channel_partner).edit? %>
                        <%= link_to t('helpers.edit.link_name', model: ChannelPartner.model_name.human), edit_channel_partner_path(channel_partner), class: 'dropdown-item modal-remote-form-link' %>
                        <% end %>
                        <%# if policy([:admin, Crm::Base.new()]).choose_crm? && Crm::Api.where(resource_class: 'ChannelPartner').present? %>
                        <%#= link_to t('controller.crms.choose_crm.link_name'), choose_crm_admin_crm_base_index_path(resource_id: channel_partner.id, resource_class: channel_partner.class), class: "dropdown-item " %>
                        <%# end %>

                        <% if Admin::ChannelPartnerPolicy.new(current_user, channel_partner).show? %>
                        <%= link_to t('helpers.show.link_name', model: ChannelPartner.model_name.human), channel_partner, class: 'dropdown-item' %>
                        <% end %>
                        <% if policy([ current_user_role_group, Asset.new(assetable: channel_partner)]).index? %>
                        <%= link_to t('controller.assets.index.link_name'), assetables_path(assetable_type: channel_partner.class.model_name.i18n_key.to_s, assetable_id: channel_partner.id), class: 'dropdown-item modal-remote-form-link' %>
                        <% end %>
                        <% if policy([current_user_role_group, channel_partner]).choose_template_for_print? %>
                          <%= link_to t('controller.templates.choose_template_for_print.link_name'), choose_template_for_print_admin_custom_templates_path(subject_class: channel_partner.class.model_name.i18n_key.to_s, subject_class_id: channel_partner.id.to_s), class: 'dropdown-item modal-remote-form-link' %>
                        <% end %>
                      </div>
                    </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-lg-12 py-3 bg-white mb-2 px-2 mt-3 shadow-sm">
        <div class="row">
          <div class="col-lg-6">
            <p class="table-entry mb-0 ps-2 pt-2"><%= page_entries_info channel_partners %></p>
          </div>
          <div class="col-lg-6 table-pagination">
            <%= will_paginate channel_partners, list_classes: %w(pagination justify-content-end) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-0">
  <div class="px-0">
    <div class="row g-0">
      <div class="col-lg-12 p-0">
        <% channel_partners.each do |channel_partner| %>
        <div class="bg-white rounded-3 float-start wd-100 mt-4 shadow-sm position-relative">
          <div class="float-start wd-100">
            <div class="">
              <div class="d-flex justify-content-between d-xs-no-flex">
                <div class="ps-3 py-3 pb-xs-0 d-flex justify-content-start d-xs-no-flex">
                  <p class="fn-14 mb-0 theme-txt-color">
                    
                  </p>
                  
                </div>
                <div class="inner-info">
                  <div class="pe-3 py-3 d-flex justify-content-end d-xs-no-flex ps-xs-3">
                    <p class="fn-16 secondary mb-0"><%= t('mongoid.attributes.channel_partner.rera_id') %> : <span
                        class="font-medium theme-txt-color"></span>
                    </p>
                    <span class="secondary mx-3 d-sm-inline-block d-none">| </span>
                    <p class="font-medium fn-14 mb-0 theme-txt-color mt-xs-2">
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-lg-12 py-3 bg-white mb-2 px-2 mt-3 shadow-sm">
        <div class="row">
          <div class="col-lg-6">
            <p class="table-entry mb-0 ps-2 pt-2"><%= page_entries_info channel_partners %></p>
          </div>
          <div class="col-lg-6 table-pagination">
            <%= will_paginate channel_partners, list_classes: %w(pagination justify-content-end) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
