<table class='table my-customer-table responsive-tbl caption-top rounded mt-3 mb-0'>
  <thead class="th-default">
    <thead>
      <tr class="bg-gradient-cd white">
        <th><%= t('mongoid.attributes.channel_partner.name') %></th>
        <th><%= t('mongoid.attributes.channel_partner.details')%></th>
        <th><%= t('mongoid.attributes.channel_partner.rera_id') %></th>
        <th><%= t('mongoid.attributes.channel_partner.status') %></th>
        <th><%= t('mongoid.attributes.channel_partner.associated_user_id') %></th>
        <th>Actions</th>
      </tr>
    </thead>
  </thead>
  <tbody>
      <% channel_partners.each do |channel_partner| %>
        <tr>
          <td data-title=<%= t('mongoid.attributes.channel_partner.name') %> >
            <span class="col-title"><%= channel_partner.name %></span>
            <% if channel_partner.cp_code.present? %>
              <div class='small'>
                <span class="title"><%= t('mongoid.attributes.channel_partner.cp_code') %>:</span> <%= channel_partner.cp_code %>
              </div>
            <% end %>
          </td>
          <td data-title= <%= t('mongoid.attributes.channel_partner.details') %> >
            <span class="d-block"><i class="far fa-envelope fill-theme"></i> <%= channel_partner.email %></span>
            <span class="d-block mt-2"><i class="fas fa-mobile-alt fill-theme"></i> <%= channel_partner.phone %></span></td>
          <td data-title=<%= t('mongoid.attributes.channel_partner.rera_id') %> >
            <span class="col-title"><%= channel_partner.rera_id %></span>
            </td>
          <td data-title=<%= t('mongoid.attributes.channel_partner.status') %> ><span class="col-title"><%= ChannelPartner.human_attribute_name("status.#{channel_partner.status}") %></span></td>
          <td data-title=<%= t('mongoid.attributes.channel_partner.associated_user_id') %> ><%= channel_partner.associated_user_id.present? ? link_to(channel_partner.associated_user.name, admin_user_path(channel_partner.associated_user_id), class: "primary col-title") : '-' %></td>
          <td>
            <div class="dropdown show text-center">
            <a class="btn table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <% if Admin::ChannelPartnerPolicy.new(current_user, channel_partner).edit? %>
                  <%= link_to t('helpers.edit.link_name', model: ChannelPartner.model_name.human), edit_channel_partner_path(channel_partner), class: 'dropdown-item modal-remote-form-link' %>
                <% end %>
                <%# if policy([:admin, Crm::Base.new()]).choose_crm? && Crm::Api.where(resource_class: 'ChannelPartner').present? %>
                  <%#= link_to t('controller.crms.choose_crm.link_name'), choose_crm_admin_crm_base_index_path(resource_id: channel_partner.id, resource_class: channel_partner.class), class: "dropdown-item " %>
                <%# end %>

                <% if Admin::ChannelPartnerPolicy.new(current_user, channel_partner).show? %>
                  <%= link_to t('helpers.show.link_name', model: ChannelPartner.model_name.human), channel_partner, class: 'dropdown-item' %>
                <% end %>
                <% if policy([ current_user_role_group, Asset.new(assetable: channel_partner)]).index? %>
                  <%= link_to t('controller.assets.index.link_name'), assetables_path(assetable_type: channel_partner.class.model_name.i18n_key.to_s, assetable_id: channel_partner.id), class: 'dropdown-item modal-remote-form-link' %>
                <% end %>
             </div>
          </div>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
<div class="col-lg-12 py-3 white mb-2 px-2">
  <div class="row">
    <div class="col-lg-6">
      <p class="table-entry">Showing 1 - 5 of <%= @channel_partners.total_entries %> items</p>
    </div>
    <div class="col-lg-6 table-pagination">
       <%= will_paginate channel_partners, list_classes: %w(pagination justify-content-end) %>
    </div>
  </div>
</div>
