<% if params[:from_cp_admin].present? %>
  <%= simple_form_for(@channel_partner, local: true, remote: true, html: {"data-resource-type": global_labels['channel_partner'], "data-type": "json", id: 'channel_partner_form', class: 'modal-remote-form validate-form'}) do |form| %>
    <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="title"><%= t("controller.channel_partners.#{action_name}.link_name") %></h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body theme-form">
            <%= render "short_form_fields", {form: form} %>
          </div>
          <div class="modal-footer text-end">
            <%= form.submit I18n.t("global.save"), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <section class="auth login-page">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="login-form-wrapper pt-5">
            <% template = ::Template::UITemplate.where(name: 'channel_partner/new').first %>
            <% if template.present? %>
              <%= get_view_erb(template) %>
            <% end %>
            <div class="box-card">
              <div class="box-header bg-gradient br-rd-tr-4">
                <h2><strong><%= I18n.t("global.link_to.basic_details") %></strong></h2>
              </div>
              <div class="box-content br-rd-bl-4 bg-white px-3 pt-3">
                <%= simple_form_for(@channel_partner, local: true, html: { id: 'channel_partner_form', class: 'validate-form', multipart: true, novalidate: false }) do |form| %>

                  <%= render "short_form_fields", {form: form} %>
                  <div class="signin-btn col-lg-12 pl-0 pr-0 pb-4">
                    <%= form.submit I18n.t("devise.keys.register"), class: "sign-in-btn", data: { disable_with: I18n.t("global.please_wait") } %>
                  </div>
                  <%= render "devise/shared/links" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 auth-image" style="<%= login_image %>">
        </div>
      </div>
    </div>
  </section>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#channel_partner_form"));
  });
<% end %>