<% if current_user.manager_id.present? %>
  <%= form.hidden_field :manager_id, value: current_user.manager_id %>
<% end %>
<%= form.hidden_field :primary_user_id, value: current_user.id.to_s %>

<div class="row">
  <div class="col-md-6">
    <%= form.input :company_name, required: true, disabled: !policy([:admin, form.object]).editable_field?("company_name") %>
  </div>
  <% if policy([:admin, form.object]).editable_field?("pan_number") %>
    <div class="col-md-6">
      <%= form.input :pan_number, disabled: !policy([:admin, form.object]).editable_field?("pan_number") %>
    </div>
  <% end %>
  <% if policy([:admin, form.object]).editable_field?("rera_id") %>
    <div class="col-md-12">
      <%= form.input :rera_id, disabled: !policy([:admin, form.object]).editable_field?("rera_id") %>
    </div>
  <% end %>
</div>
<!-- <div class='row'>
  <div class="col-md-6">
    <%#= form.input :interested_services, collection: ChannelPartner::SERVICES.collect{|x| [x, x]}, disabled: !policy([:admin, form.object]).editable_field?("interested_services"), prompt: :translate, input_html: {multiple: true, class: 'selectize'} %>
  </div>
  <div class="col-md-6">
    <%#= form.input :regions, collection: current_client.partner_regions.collect{|region| [region,region]}, disabled: !policy([:admin, form.object]).editable_field?("regions"), as: :select, prompt: :translate, input_html: { class: 'selectize', multiple: true } %>
  </div>
</div> -->
