<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= current_client.name %></title>    
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="images/favicon.png" rel="icon" type="image/png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="dns-prefetch" href="//trkr.scdn1.secure.raxcdn.com">
    <link rel="preconnect" href="//trkr.scdn1.secure.raxcdn.com">
    <link rel="dns-prefetch" href="https://www.google.com">
    <link rel="preconnect" href="https://www.google.com">
    <link rel="dns-prefetch" href="https://www.gstatic.com">
    <link rel="preconnect" href="https://www.gstatic.com">
    <link rel="canonical" href="<%= request.protocol + request.host %><%= request.path%>">
    
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'launchpad' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <%= javascript_tag do %>
      if(typeof App === "undefined"){
        App = {};
      }
      App.client = <%= raw current_client.to_json(only: [:name, :_id, :preferred_login, :enable_referral_bonus]) %>;
      App.client.enable_actual_inventory = <%= current_client.enable_actual_inventory?(current_user) %>
      App.project = <%= raw current_project.to_json(only: [:name, :_id]) %>;
      <% if user_signed_in? %>
        App.current_user = <%= raw current_user.to_json %>;
        App.current_user.name = App.current_user.first_name + " " + App.current_user.last_name;
      <% end %>
      <% if Rails.env.development? || Rails.env.staging? %>
        Pusher.logToConsole = true;
      <% end %>
    <% end %>
    <% if current_client.selldo_client_id.present? %>
      <% if Rails.env.production? %>
        <script src='//trkr.scdn1.secure.raxcdn.com/t/<%= current_client.selldo_client_id %>.js'></script>
      <% else %>
        <script src='<%= ENV_CONFIG[:selldo][:base_url] %>/t/<%= current_client.selldo_client_id %>.js'></script>
      <% end %>
    <% end %>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-198536912-1', 'auto');
      ga('require', 'displayfeatures');
      ga('require', 'ecommerce', 'ecommerce.js');
      ga('send', 'pageview'); 
    </script>
  </head>
<body>
<header class="col-app-12 fixed left top">
    <div class="container">
        <div class="pull-left left-header nav-links">
            <a rel="home" class="brand-logo"><img src="<%= asset_path 'launchpad-logo.png' %>" data-event-category="Header" data-event-action="Click" data-event-name="Logo" /></a>
        </div>
        <div class="pull-right right-header">
            <div class="pull-right upper-right-header hidden-xs hidden-portrait">
              <div class="pull-right ml-2">
                <%= link_to 'Sign in', new_user_session_path, class: 'green-btn sign-in-button' %>
              </div>
              <div class="enquire-now-wrapper pull-right">
                <a data-event-category="Header" data-event-action="Click" data-event-name="Register on Launchpad" class="enquire-now-btn green-btn register-btn">Register on Launchpad</a>
              </div>
              
              <div class="pull-right callnumber ">
                <span>Call:&nbsp;&nbsp;</span><span>020 6708 2786</span>
              </div>
              
            </div>
            <div class="clearfix"></div>               
        </div>
        <div class="clearfix"></div>
    </div>      
</header>
<section class="home-section home-banner slide relative" id="home">
  <div class="container-launchpad home-container">
      <div class="home-new-caption cwt text-center">
      <h1 class="new-line-1 f600">Grow Your Business 5X</h1>
      <div class="new-line-2">With</div>
      <div class="new-line-3 f700">A REVOLUTIONARY</div>
      <div class="new-line-4 f700 cgreen">BROKER PLATFORM</div>
      <div class="banner-logo">
        <img src="<%= asset_path 'launchpad-banner-logo.svg' %>" class="img-full"/>
      </div>
      <a class="home-banner-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Join Now">Join Now</a>
    </div>
  </div>
  <div class="scroll-down-btn" data-event-category="Section" data-event-action="Click" data-event-name="Scroll Down">Scroll Down</div>
</section>
<section class="join-broker-presenting-common-section slide lazy" data-src="<%= asset_path 'join-broker-presenting-common-image.png' %>">

    <section class="join-broker-network-section section-padding" id="join-broker-network">
      <div class="container">
        <h2 class="section-heading text-center cgreen">Get ahead in the online Real Estate market</h2>
        <p class="text-center">Property selling has gone digital. Buyers are searching for homes online and builders have<br class="hidden-xs hidden-portrait" /> shifted to Martech & Proptech solutions to sell Real Estate. With tremendous opportunities<br class="hidden-xs hidden-portrait" /> currently available in the Pune Real Estate market, it’s time to go digital and enjoy numerous<br class="hidden-xs hidden-portrait" /> benefits - from expanding your sales territory to networking with leading developers.</p>        
        <br/>
        <p class="text-center cbk f500">Pune Residential Market Opportunity</p>
        <div class="join-broker-network-btn-wrapper text-center">
          <a href="javascript:;" class="green-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Register on Launchpad">Register on Launchpad</a>
        </div>
        <div class="clearfix"></div>
        <div class="col-app-12 join-broker-network-statics text-center">
          <div class="join-statics-item">
            <div class="join-statics-item-inner text-center">
              <div class="join-item-number cgreen f700">
                1,31,868
              </div>
              <div class="join-statics-item-desc cbk">
                Unsold Inventory Units <br/>Per Year
              </div>
            </div>
          </div>
          <div class="join-statics-item">
            <div class="join-statics-item-inner text-center">
              <div class="join-item-number cgreen f700">
                Rs. 1054.94 Cr.
              </div>
              <div class="join-statics-item-desc cbk">
                Worth Brokerage Opportunities<br/> on Unsold Inventory
              </div>
            </div>
          </div>
          <div class="join-statics-item">
            <div class="join-statics-item-inner text-center">
              <div class="join-item-number cgreen f700">
                25,343
              </div>
              <div class="join-statics-item-desc cbk">
                New Supply<br/> Units
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="col-app-12 presenting-launchpad-section section-padding" id="presenting-launchpad">
      <div class="container">
        <div class="col-app-7 presenting-launchpad-left-section col-app-xs-12">
          <h2 class="section-heading cgreen">Presenting Launchpad</h2>
          <p class="f500">An easy-to-use online Broker platform</p>
          <div class="presenting-launchpad-right-image visible-xs">
            <img data-src="<%= asset_path 'presenting-launchpad-icon.png' %>" class="lazy img-full">
          </div>
          <br/>
          <p>Launchpad is a revolutionary platform that gives you the<br class="hidden-xs hidden-portrait" /> opportunity to grow your existing business by up to 5X. Sell<br class="hidden-xs hidden-portrait" /> efficiently in the digital world with end-to-end support. Close deals<br class="hidden-xs hidden-portrait" /> faster with access to the latest digital tools, ready-to-use branding<br class="hidden-xs hidden-portrait" /> collaterals and much more.</p>
          <br/>
          <p class="f500">Know how Launchpad can boost your business.</p>
          <a href="javascript:;" class="green-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="See Features & Advantages">See Features & Advantages</a>
        </div>
        <div class="col-app-5 presenting-launchpad-right-section hidden-xs">
          <div class="presenting-launchpad-right-image">
            <img data-src="<%= asset_path 'presenting-launchpad-icon.png' %>" class="lazy img-full">
          </div>
        </div>
      </div>
    </section>
</section>
<section class="exclusive-features-section section-padding" id="exclusive-features">
  <div class="container-launchpad">
    <h2 class="section-heading text-center cbk">Exclusive Features to Grow Your Business 5X</h2>
    <!-- <p class="text-center cbk f500">That will help you grow your business</p> -->
    <br/>
    <div class="exclusive-features-wrapper relative">
      <div class="exclusive-features-slider">
      <div class="exclusive-features-item col-app-3 text-center">
        <div class="exclusive-features-item-inner">
          <div class="exclusive-features-image">
            <img data-src="<%= asset_path 'ex-feat-01.svg'%>" class="lazy" />
          </div>
          <div class="exclusive-features-desc">
            Early access to<br/> new launches
          </div>
        </div>
      </div>
      <div class="exclusive-features-item col-app-3 text-center">
        <div class="exclusive-features-item-inner">
          <div class="exclusive-features-image">
            <img data-src="<%= asset_path 'ex-feat-02.svg'%>" class="lazy" />
          </div>
          <div class="exclusive-features-desc">
            Extensive nurturing and<br> calling during launches
          </div>
        </div>
      </div>
      <div class="exclusive-features-item col-app-3 text-center">
        <div class="exclusive-features-item-inner">
          <div class="exclusive-features-image">
            <img data-src="<%= asset_path 'ex-feat-03.svg'%>" class="lazy"/>
          </div>
          <div class="exclusive-features-desc">
            Leads at discounted<br/> prices
          </div>
        </div>
      </div>
      <div class="exclusive-features-item col-app-3 text-center">
        <div class="exclusive-features-item-inner">
          <div class="exclusive-features-image">
            <img data-src="<%= asset_path 'ex-feat-04.svg'%>" class="lazy"/>
          </div>
          <div class="exclusive-features-desc">
            CRM training<br/> &amp; support
          </div>
        </div>
      </div>
      <div class="exclusive-features-item col-app-3 text-center">
        <div class="exclusive-features-item-inner">
          <div class="exclusive-features-image">
            <img data-src="<%= asset_path 'ex-feat-05.svg'%>" class="lazy" />
          </div>
          <div class="exclusive-features-desc">
            Marketing support<br/> &amp; assets
          </div>
        </div>
      </div>
      <div class="exclusive-features-item col-app-3 text-center">
        <div class="exclusive-features-item-inner">
          <div class="exclusive-features-image">
            <img data-src="<%= asset_path 'ex-feat-06.svg'%>" class="lazy"/>
          </div>
          <div class="exclusive-features-desc">
            Timely payments to<br/> streamline cash flows
          </div>
        </div>
      </div>
      <div class="exclusive-features-item col-app-3 text-center">
        <div class="exclusive-features-item-inner">
          <div class="exclusive-features-image">
            <img data-src="<%= asset_path 'ex-feat-07.svg'%>" class="lazy"/>
          </div>
          <div class="exclusive-features-desc">
            Fully automated<br/> EOI process
          </div>
        </div>
      </div>
      <div class="exclusive-features-item col-app-3 text-center">
        <div class="exclusive-features-item-inner">
          <div class="exclusive-features-image">
            <img data-src="<%= asset_path 'ex-feat-08.svg'%>" class="lazy"/>
          </div>
          <div class="exclusive-features-desc">
            Online inventory selection,<br/> KYC &amp; bookings
          </div>
        </div>
      </div>
      <div class="exclusive-features-item col-app-3 text-center">
        <div class="exclusive-features-item-inner">
          <div class="exclusive-features-image">
            <img data-src="<%= asset_path 'ex-feat-09.svg'%>" class="lazy" />
          </div>
          <div class="exclusive-features-desc">
            Complete<br/> transparency
          </div>
        </div>
      </div>
      <div class="exclusive-features-item col-app-3 text-center">
        <div class="exclusive-features-item-inner">
          <div class="exclusive-features-image">
            <img data-src="<%= asset_path 'ex-feat-10.svg'%>" class="lazy"/>
          </div>
          <div class="exclusive-features-desc">
            Unique online<br/> broker profile
          </div>
        </div>
      </div>
      <div class="exclusive-features-item col-app-3 text-center">
        <div class="exclusive-features-item-inner">
          <div class="exclusive-features-image">
            <img data-src="<%= asset_path 'ex-feat-11.svg'%>" class="lazy" />
          </div>
          <div class="exclusive-features-desc">
            Performance-based<br/> broker ratings
          </div>
        </div>
      </div>
      <div class="exclusive-features-item col-app-3 text-center hidden-xs last-slide-exclusive">
        <div class="exclusive-features-item-inner exclusive-features-last-item register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Register Now">          
            Register Now<br/><br/><img src="<%= asset_path 'next-arrow.svg'%>" />          
        </div>
      </div>
    </div>
    <div id="exct-feat-prev" class="visible-xs"></div>
    <div id="exct-feat-next" class="visible-xs"></div>
    </div>
    <div class="visible-xs text-center mobile-exclusive-feature-btn-wrapper">
        <a class="green-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Register Now">Register Now</a>
    </div>
  </div>
</section>

<section class="existingnew-projects-section section-padding" id="existingnew-projects">
    <div class="container">
      <h2 class="section-heading text-center cgreen">Chance to work with Pune's hottest selling properties</h2>
      <br/>
      <div class="existingnew-projects-items-wrapper">
        <div class="existingnew-projects-item col-app-6 col-app-xs-12">
          <div class="existingnew-projects-item-inner">
            <h2 class="sub-heading text-center cgreen">Existing Projects</h2>
            <br/>
            <h4 class="text-center projects-number">10</h4>  
          </div>
        </div>
        <div class="existingnew-projects-item col-app-6 col-app-xs-12">
          <div class="existingnew-projects-item-inner">
            <h2 class="sub-heading text-center cgreen">Upcoming Projects</h2>
            <br/>
            <h4 class="text-center projects-number">7+</h4>  
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="text-center">
        <a href="javascript:;" class="green-btn register-btn existingnew-btn" data-event-category="Section" data-event-action="Click" data-event-name="Register Now For Details">Register Now For Details</a>
      </div>
    </div>
</section>
<section class="projects-section">
  <section class="existing-projects-section section-padding" id="existing-projects">
    <div class="container">
      <h2 class="section-heading cgreen ps-2">Projects</h2>
      <div class="existing-projects-content col-12">
        <div class="existing-projects-head-wrapper col-12 row">
          <div class="existing-projects-head-left col-6 col-app-xs-12 ps-4">
            <h3>Existing Projects (10)</h3>
          </div>
          <div class="existing-projects-head-right col-6 filter-wrapper col-app-xs-12 row">
            <div class="col-6 col-app-xs-12">
              <div class="filter-category">Location</div>
              <select class="city">
                <option value="all">Select..</option>
                <option value="chinchwad">Chinchwad</option>
                <option value="wakad">Wakad</option>
                <option value="ravet">Ravet</option>
                <option value="Manaslake">manaslake</option>
                <option value="akurdi">Akurdi</option>
                <option value="spine-road">Spine road</option>
                <option value="nibm">NIBM</option>
                <option value="wagholi">Wagholi</option>
                <option value="chakan">Chakan</option>
              </select>
            </div>
            <div class="col-6 col-app-xs-12">
              <div class="filter-category">Configuration</div>
              <select class="type">
                <option value="all">Select..</option>
                <option value="1bhk">1 BHK</option>
                <option value="2bhk">2 BHK</option>
                <option value="3bhk">3 BHK</option>
              </select>
            </div>
          </div>
        </div>
        <div class="property-load-section property-hide row">
          <div class="property-item col-4" data-city="chinchwad" data-type="2bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'empire-square.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">Empire Square</div>
                <div class="property-configuration">2 bhk from 99 lakhs (All incl.)</div>
                <div class="property-location">Location: Chinchwad</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                </div>
              </div>              
            </div>
          </div>
          <div class="property-item col-4" data-city="chinchwad" data-type="3bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'empire-square.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">Empire Square</div>
                <div class="property-configuration">3 bhk from 1.5 cr (All incl.)</div>
                <div class="property-location">Location: Chinchwad</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                </div>
              </div>              
            </div>
          </div>
          <div class="property-item col-4" data-city="wakad" data-type="2bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'Sukhwani-skylines.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">Sukhwani Skylines</div>
                <div class="property-configuration">2 bhk from 65 lakhs (All incl.)</div>
                <div class="property-location">Location: Wakad</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                </div>
              </div>              
            </div>
          </div>
          <div class="property-item col-4" data-city="ravet" data-type="2bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'Celestial-City.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">Celestial City</div>
                <div class="property-configuration">2 bhk from 65 lakhs (All incl.)</div>
                <div class="property-location">Location: Ravet</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                </div>
              </div>              
            </div>
          </div>
          <div class="property-item col-4" data-city="ravet" data-type="3bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'Celestial-City.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">Celestial City</div>
                <div class="property-configuration">3 from bhk 85 lakhs (All incl.)</div>
                <div class="property-location">Location: Ravet</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                </div>
              </div>              
            </div>
          </div>
          <div class="property-item col-4" data-city="ravet" data-type="2bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'Sukhwani-artize.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">Sukhwani Artize</div>
                <div class="property-configuration">2 bhk from 54.9 lakhs (All incl.)</div>
                <div class="property-location">Location: Ravet</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                </div>
              </div>              
            </div>
          </div>
          <div class="property-item col-4" data-city="manaslake" data-type="2bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'Sommet.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">Sommet</div>
                <div class="property-configuration">2 bhk from 50.99 lakhs (All incl.)</div>
                <div class="property-location">Location: Manaslake</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                </div>
              </div>              
            </div>
          </div>
          <div class="property-item col-4" data-city="manaslake" data-type="3bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'Sommet.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">Sommet</div>
                <div class="property-configuration">3 bhk from 70.99 lakhs (All incl.)</div>
                <div class="property-location">Location: Manaslake</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                </div>
              </div>              
            </div>
          </div>
          <div class="property-item col-4" data-city="akurdi" data-type="2bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'Aishwaryam.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">Aishwaryam Comfort Gold</div>
                <div class="property-configuration">2 bhk from 73.8 lakhs (All incl.)</div>
                <div class="property-location">Location: Akurdi</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                </div>
              </div>              
            </div>
          </div>
          <div class="property-item col-4" data-city="akurdi" data-type="3bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'Aishwaryam.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">Aishwaryam Comfort Gold</div>
                <div class="property-configuration">3 bhk from 83.15 lakhs (All incl.)</div>
                <div class="property-location">Location: Akurdi</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                </div>
              </div>              
            </div>
          </div>
          <div class="property-item col-4" data-city="spine-road" data-type="2bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'Vission-exotica.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">Vission Exotica / Codename Exotica</div>
                <div class="property-configuration">2 bhk from 63 lakhs (All incl.)</div>
                <div class="property-location">Location: Spine road</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                </div>
              </div>              
            </div>
          </div>
          <div class="property-item col-4" data-city="spine-road" data-type="3bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'Vission-exotica.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">Vission Exotica / Codename Exotica</div>
                <div class="property-configuration">3 bhk from 86 lakhs (All incl.)</div>
                <div class="property-location">Location: Spine road</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                </div>
              </div>              
            </div>
          </div>
          <div class="property-item col-4" data-city="nibm" data-type="2bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'Vertical-Alcinia.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">Vertical Alcinia</div>
                <div class="property-configuration">2 bhk from 49.90 lakhs (All incl.)</div>
                <div class="property-location">Location: NIBM</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                  <a href="javascript:;" class="property-share-btn" data-event-category="Section" data-event-action="Click" data-event-name="Share">
                    <img data-src="<%= asset_path 'share.svg'%>" class="lazy" data-event-category="Section" data-event-action="Click" data-event-name="Share"/>
                  </a>
                </div>
              </div>              
            </div>
          </div>
          <div class="property-item col-4" data-city="wagholi" data-type="2bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'periwinkle.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">Periwinkle</div>
                <div class="property-configuration">2 bhk from 27 lakhs (All incl.)</div>
                <div class="property-location">Location: Wagholi</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                </div>
              </div>              
            </div>
          </div>   
          <div class="property-item col-4" data-city="wagholi" data-type="3bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'periwinkle.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">Periwinkle</div>
                <div class="property-configuration">3 bhk from Rs. 67 Lacs (All Incl.)</div>
                <div class="property-location">Location: Wagholi</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                </div>
              </div>              
            </div>
          </div>  
          <div class="property-item col-4" data-city="wagholi" data-type="1bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'periwinkle.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">Periwinkle</div>
                <div class="property-configuration">1 bhk from Rs. 32 Lacs (All Incl.)</div>
                <div class="property-location">Location: Wagholi</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                </div>
              </div>              
            </div>
          </div>         
          <div class="property-item col-4" data-city="chakan" data-type="2bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'JMBliss.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">JM Bliss</div>
                <div class="property-configuration">2 bhk from 41.5 lakhs (All incl.)</div>
                <div class="property-location">Location: Chakan</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                </div>
              </div>              
            </div>
          </div>   
          <div class="property-item col-4" data-city="chakan" data-type="1bhk">
            <div class="property-item-inner">
              <div class="property-item-image">
                <img src="<%= asset_path 'JMBliss.jpg' %>" class="img-full lazy">
              </div>
              <div class="property-item-details">
                <div class="property-name cgreen f700">JM Bliss</div>
                <div class="property-configuration">1 bhk from 26.6 lakhs (All incl.)</div>
                <div class="property-location">Location: Chakan</div>
                <div class="property-btn-wrapper">
                  <a href="javascript:;" class="property-enquiry-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Enquire Now">Enquire Now</a>
                </div>
              </div>              
            </div>
          </div>   

        </div>
        <div class="load-more-btn-wrapper text-center">
          <a href="javascript:;" class="load-more-btn" data-event-category="Section" data-event-action="Click" data-event-name="Load More - Existing Projects">Load More</a>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="presented-by-amura-section section-padding" id="about-us">
  <div class="container-launchpad">
    <h2 class="section-heading text-center cgreen">Presented by Amura</h2>
    <p class="text-center f500">India’s leading PropTech Company</p>
    <br/><br/>
    <p class="text-center">Amura India’s largest real estate marketing and technology company brings to you a revolutionary platform to grow your business faster. Launchpad is a unique platform where Amura ties up with developers for project launches and deploys a complete transparent platform for real estate consultants to efficiently participate in a launch. Not only that, we work with the real estate consultant to solve some of the biggest hindrances in business growth. We will get the best digital marketing resources to get you leads at a discounted price we will also help you with Lead management , CRM, sales training and how to leverage technology to get more closures. Additionally we also ensure that as a platform we are able to track your lead visits, booking and payments transparently with the developers. This ensures timely payments and higher payout in a short time. So do not miss this opportunity where you get the best of resources and a team which is dedicated to your success and growth.
    </p>

    <div class="presented-by-amura-items-wrapper">
      <div class="presented-by-amura-line-image">
        <img src="<%= asset_path 'presented-by-amura-points-header.svg' %>" class="img-full" />
      </div>
      
      <div class="presented-by-amura-items col-app-4 col-app-xs-12">
        <div class="presented-by-amura-items-inner">
          <div class="presented-by-amura-items-image">
            <img data-src="<%= asset_path 'presented-by-amura-icon-01.svg'%>" class="lazy">
          </div>
          <div class="presented-by-amura-items-desc cbk f500">
            Over 13 years of<br/> Proptech experience
          </div>
        </div>
      </div>
      <div class="presented-by-amura-items col-app-4 col-app-xs-12">
        <div class="presented-by-amura-items-inner">
          <div class="presented-by-amura-items-image">
            <img data-src="<%= asset_path 'presented-by-amura-icon-02.svg'%>" class="lazy">
          </div>
          <div class="presented-by-amura-items-desc cbk f500">
            Associations with 600+ reputed<br/> Real Estate brands
          </div>
        </div>
      </div>
      <div class="presented-by-amura-items col-app-4 col-app-xs-12">
        <div class="presented-by-amura-items-inner">
          <div class="presented-by-amura-items-image">
            <img data-src="<%= asset_path 'presented-by-amura-icon-03.svg'%>" class="lazy">
          </div>
          <div class="presented-by-amura-items-desc cbk f500">
            Winner of multiple<br/> Proptech awards
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
<!--
<section class="testimonial-section section-padding" id="testimonial">
  <div class="container-launchpad">
    <h2 class="section-heading text-center cgreen">Testimonials</h2>
    <p class="text-center f500 cbk">What Brokers are saying about Launchpad</p>
    <br/>

    <div class="testimonial-slider-wrapper relative">
      <div class="testimonial-slider">
          <div class="testimonial-slide">
            <div class="testimonial-video-wrapper">
              <iframe class="testimonial-video" src="https://www.youtube.com/embed/vi-gnx_icbY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="testimonial-desc">
              <div class="testimonial-quote-icon">
                <img src="<%= asset_path 'quote.png' %>" />
              </div>
              Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum Lorem ipsumLorem ipsum
            </div>
            <div class="testimonial-author">John Doe</div>

          </div>
          <div class="testimonial-slide">
            <div class="testimonial-video-wrapper">
              <iframe class="testimonial-video lazy" data-src="https://www.youtube.com/embed/vi-gnx_icbY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="testimonial-desc">
              <div class="testimonial-quote-icon">
                <img src="<%= asset_path 'quote.png' %>" />
              </div>
              Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum Lorem ipsumLorem ipsum
            </div>
            <div class="testimonial-author">John Doe</div>

          </div>
          <div class="testimonial-slide">
            <div class="testimonial-video-wrapper">
              <iframe class="testimonial-video lazy" data-src="https://www.youtube.com/embed/vi-gnx_icbY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="testimonial-desc">
              <div class="testimonial-quote-icon">
                <img src="<%= asset_path 'quote.png' %>" />
              </div>
              Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum Lorem ipsumLorem ipsum
            </div>
            <div class="testimonial-author">John Doe</div>

          </div>
      </div>
      <div id="testimonial-prev"></div>
      <div id="testimonial-next"></div>
    </div>
  </div>
</section>
-->
<section class="webinar-section section-padding" id="webinar">
  <div class="container-launchpad">
    <h2 class="section-heading cgreen">Webinar</h2>
    <!-- <p class="f500 cwt">Know all about Launchpad and 5X Growth</p> -->
    
    <div class="webinar-wrapper col-app-12">
      <div class="webinar-image-wrapper col-app-4 relative col-app-xs-12">
        <div class="webinar-sector-image animated infinite">
          <img data-src="<%= asset_path 'sector-image.svg' %>" class="img-full lazy"/>
        </div>
        <div class="webinar-image-inner">
          <img src="<%= asset_path 'vikram-photo.png' %>" class="img-full">
          <div class="webinar-mic-image pulse animated infinite">
            <img data-src="<%= asset_path 'webinar-mic.svg' %>" class="lazy" />
          </div>
        </div>
        <div class="md-name text-center f800 cwt">Mr. Vikram Kotnis</div>
        <p class="md-designation text-center cwt">Managing Director</p>
      </div>
      <div class="webinar-content-wrapper col-app-8 col-app-xs-12">
        <h3 class="cwt f700">Learn how Launchpad can help you<br/> grow your business 5X</h3>
        <br/>
        <div class="webinar-info-div">
          <!-- <div class="webinar-info-top-div col-app-12">
            <div class="col-app-6 pull-left event-date">
              <img data-src="<%= asset_path 'calendar-icon.png' %>" class="lazy">&nbsp;&nbsp;May 8th, Saturday
            </div>
            <div class="col-app-6 pull-right text-right event-time">
              <img data-src="<%= asset_path 'clock-icon.png' %>" class="lazy">&nbsp;&nbsp;4 - 5 PM
            </div>
          </div> -->
          <div class="webinar-info-bottom-div col-app-12">
            <div class="col-app-12 pull-left event-anchor">
              <img data-src="<%= asset_path 'mic-icon.png' %>" class="lazy">&nbsp;&nbsp; Speaker - Mr. Vikram Kotnis
            </div>
            <div class="col-app-12 speaking-topics">
              <h4 class="f700 cgreen">He'll be speaking on:</h4>
              
              <ul class="webinar-list-points">
                <li>Real estate market overview</li>
                <li>Upcoming launches &amp; growth potential</li>
                <li>Why there is a need to go digital</li>
                <li>Tips on conceptual selling</li>
                <li>How processes increase efficiency</li>
              </ul>
              <p class="and-more-text">&amp; more..</p>
            </div>
          </div>

        </div>
        <div class="clearfix"></div>
        <br/>
        <p class="cwt">With an industry experience of over 20 years, Vikram has launched 5 successful Proptech platforms in India. His in-depth understanding of Real Estate business has helped numerous top brands achieve tremendous growth.</p>
        <br/>
        <div class="mobile-webinar-btn-wrapper text-center">
          <a href="javascript:;" class="green-btn register-btn" data-event-category="Section" data-event-action="Click" data-event-name="Register Now">Register Now For Details</a>
        </div>
      </div>
        
    </div>
  </div>
</section>
<section class="section-padding contact-us" id="contact-us">
  <div class="container-launchpad">
    <h2 class="section-heading text-center cgreen">Contact Us</h2>
    <p class="text-center mg-bt-10"><strong>Address</strong></p>
    <p class="text-center">3rd Floor, Sr. No. 9, H.No:1/2,<br> Near Ramada Plaza, Mahalunge,<br> Pune, Maharashtra 411045</p>
    <p class="text-center mg-bt-10"><strong>Contact No</strong></p>
    <p class="text-center"><a href="tel:020 67082786">020 6708 2786</a></p>
  </div>
</section>
<footer class="col-app-12">
    <div class="desktop-footer col-app-12">
      <div class="container-launchpad">
        <div class="col-app-8 col-app-xs-12">
          Copyrights &copy; Amura Marketing Technologies. <%= Date.current.year %>. <a href="javascript:;" class="footer-link">Privacy Policy</a> <span> | </span> <a href="javascript:;" class="footer-link">Terms and Conditions</a>
        </div>
        <div class="col-app-4 col-app-xs-12">
          <div class="social-links">
            <a href="https://www.facebook.com/amuratech/" target="_blank">
              <img data-src="<%= asset_path 'facebook-icon.png' %>" class="lazy">
            </a>
            <a href="https://www.instagram.com/amuratech/" target="_blank">
              <img data-src="<%= asset_path 'insta-icon.png' %>" class="lazy">
            </a>
            <a href="https://twitter.com/amuratech" target="_blank">
              <img data-src="<%= asset_path 'twitter-icon.png' %>" class="lazy">
            </a>
            <a href="https://www.linkedin.com/company/amura-marketing-technologies-pvt-ltd/" target="_blank">
              <img data-src="<%= asset_path 'linkedin-icon.png' %>" class="lazy">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="mobile-footer visible-xs visible-portrait fixed text-center col-app-12">
        <div class="mob-number col-app-6">                
            &nbsp;<a href="tel:02067082786" style="font-weight: 700; color: #000;">020 6708 2786</span>
        </div>
        <div class="enquiry col-app-6">
            <a class="green-btn mobile-enquire-button relative register-btn" data-event-category="Footer" data-event-action="Click" data-event-name="Register Now">Register Now</a>
        </div>            
    </div>
  </footer>

<div id="overlay" style="display:none;">
  <div id="popup">
    <div class="site-visit-wrapper">
    <div id="close"  data-event-category="Section" data-event-action="Click" data-event-name="Close">&times;</div>
      <%= simple_form_for(@channel_partner, local: true, html: { id: 'channel_partner_form', class: 'validate-form', multipart: true, novalidate: false }) do |form| %>
        <%= render "short_form_fields", {form: form} %>
        <div class="signin-btn pl-0 pr-0 pb-4">
          <%= form.submit "Register", class: "green-btn sign-in-btn", data: { disable_with: "Please wait..." } %>
        </div>
        <hr/>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>              
   </div>
</div>
<%= javascript_include_tag 'script' %>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#channel_partner_form"));
    <% if params[:action] == 'create' && @channel_partner.errors.present? %>
    $('.register-btn:first').trigger('click');
    <% end %>
  });
<% end %>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BK66NQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>setTimeout(function(){(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5BK66NQ');}, 2000);</script>

<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M32LFR"
 height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>setTimeout(function(){(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M32LFR');}, 2000);</script>
</body>
</html>
