<div class="row">
    <div class="col-md-6">
    <%= form.input :first_name, required: true, autofocus: true, disabled: !policy([:admin, @channel_partner]).editable_field?("first_name") %>
  </div>
  <div class="col-md-6">
    <%= form.input :last_name, required: true, autofocus: true, disabled: !policy([:admin, @channel_partner]).editable_field?("last_name") %>
  </div>
  <div class="col-md-6">
    <%= form.input :phone, required: true, disabled: !policy([:admin, @channel_partner]).editable_field?("phone"), as: :tel, input_html: { class: 'phone' } %>
  </div>
  <div class="col-md-6">
    <%= form.input :email, required: true, disabled: !policy([:admin, @channel_partner]).editable_field?("email"), input_html: { class: 'email'} %>
  </div>
 <div class="col-md-6">
    <%= form.input :pan_number, required: true, disabled: !policy([:admin, @channel_partner]).editable_field?("pan_number") %>
  </div>
    <div class="col-md-6">
    <%= form.input :nri, item_wrapper_class: 'form-check form-check-inline', as: :radio_buttons, prompt: :translate, required: true, input_html: {class: 'wd-22', disabled: !policy([:admin, @channel_partner]).editable_field?("nri") } %>
  </div>
</div>