<div class="row">
  <div class="col-md-6">
    <%= form.input :first_name, required: true, autofocus: true %>
  </div>
  <div class="col-md-6">
    <%= form.input :last_name, required: true, autofocus: true %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form.input :phone, required: current_client.required_fields_for_user_login.include?('phone'), as: :tel, input_html: { class: 'phone' } %>
  </div>
  <div class="col-md-6">
    <%= form.input :email, required: current_client.required_fields_for_user_login.include?('email'), input_html: { class: 'email'} %>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <%#= form.input :referral_code, disabled: !policy([:admin, @user]).editable_field?("referral_code") %>
    </div>
</div>
<%= form.hidden_field :booking_portal_client_id, value: current_client.try(:id) %>
<% if params[:manager_id].present? %>
  <%= form.hidden_field :manager_id, value: params[:manager_id] %>
<% end %>
