<div class="row">
  <div class="col-md-12">
    <% cp_name = [[params.dig(:channel_partner, :company_name), params.dig(:channel_partner, :company_name)]] if @channel_partner_id.blank? %>
    <%= form.input :company_name, collection: cp_name || [[]], required: true, as: :select, prompt: :translate, disabled: !policy([:admin, @channel_partner]).editable_field?("company_name"), input_html: { class: 'selectize-remote', data: {url: channel_partners_path, create: true, ds: true} } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form.input :first_name, required: true, autofocus: true, disabled: !policy([:admin, @channel_partner]).editable_field?("first_name") %>
  </div>
  <div class="col-md-6">
    <%= form.input :last_name, required: true, autofocus: true, disabled: !policy([:admin, @channel_partner]).editable_field?("last_name") %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form.input :phone, required: true, disabled: !policy([:admin, @channel_partner]).editable_field?("phone"), as: :tel, input_html: { class: 'phone' } %>
  </div>
  <div class="col-md-6">
    <%= form.input :email, required: true, disabled: !policy([:admin, @channel_partner]).editable_field?("email"), input_html: { class: 'email'} %>
  </div>
</div>

<div class='row'>
  <div class="col-md-12">
    <%= form.input :interested_services, collection: ChannelPartner::SERVICES.collect{|x| [x, x]}, disabled: !policy([:admin, @channel_partner]).editable_field?("interested_services"), prompt: :translate, required: true, input_html: {multiple: true, class: 'selectize'} %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form.input :rera_applicable, item_wrapper_class: 'form-check form-check-inline', as: :radio_buttons, prompt: :translate, required: true, input_html: { disabled: !policy([:admin, @channel_partner]).editable_field?("rera_applicable") } %>
  </div>
  <div class="col-md-6">
    <%= form.input :rera_id, disabled: !policy([:admin, @channel_partner]).editable_field?("rera_id") %>
  </div>
  <%= form.hidden_field :referral_code, value: @channel_partner.referral_code if @channel_partner.referral_code.present? %>
</div>
