<div class="row">
  <div class="col-md-2">
    <%= form.input :title, collection: UserKyc.available_salutations.collect{|x| [x[:text], x[:id]]}, as: :select, prompt: :translate %>
  </div>
  <div class="col-md-5">
    <%= form.input :first_name, required: true, autofocus: true, disabled: !policy([:admin, @channel_partner]).editable_field?("first_name") %>
  </div>
  <div class="col-md-5">
    <%= form.input :last_name, required: true, autofocus: true, disabled: !policy([:admin, @channel_partner]).editable_field?("last_name") %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form.input :phone, required: true, disabled: !policy([:admin, @channel_partner]).editable_field?("phone"), as: :tel, input_html: { class: 'phone' } %>
  </div>
  <div class="col-md-6">
    <%= form.input :email, required: true, disabled: !policy([:admin, @channel_partner]).editable_field?("email"), input_html: { class: 'email'} %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form.input :company_name, required: true, disabled: !policy([:admin, @channel_partner]).editable_field?("company_name") %>
  </div>
</div>

<div class='row'>
  <div class="col-md-12">
    <%= form.input :interested_services, collection: ChannelPartner::SERVICES.collect{|x| [x, x]}, disabled: !policy([:admin, @channel_partner]).editable_field?("interested_services"), prompt: :translate, required: true, input_html: {multiple: true, class: 'selectize'} %>
  </div>
</div>

<div class='row'>
  <div class="col-md-12">
    <%= form.input :regions, collection: current_client.partner_regions.collect{|region| [region,region]}, disabled: !policy([:admin, @channel_partner]).editable_field?("regions"), prompt: :translate, required: true, input_html: {multiple: true, class: 'selectize'} %>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <%= form.input :referral_code, disabled: !policy([:admin, @channel_partner]).editable_field?("referral_code") %>
    </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= form.input :rera_applicable, item_wrapper_class: 'form-check form-check-inline', as: :radio_buttons, prompt: :translate, required: true, input_html: { disabled: !policy([:admin, @channel_partner]).editable_field?("rera_applicable") } %>
  </div>
  <div class="col-md-6">
    <%= form.input :rera_id, disabled: !policy([:admin, @channel_partner]).editable_field?("rera_id") %>
  </div>
</div>
