<%= simple_form_for(@channel_partner, local: true, remote: true, html: {"data-resource-type": global_labels['channel_partner'], "data-type": "json", id: 'channel_partner_form', class: 'modal-remote-form validate-form'}) do |form| %>
<div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary white">
        <h3 class="title"><%= t("controller.channel_partners.#{action_name}.link_name") %></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body theme-form">
        <%= render "form_fields", {form: form} %>
      </div>
      <div class="modal-footer text-end">
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#channel_partner_form"));
  });
<% end %>
