<% render "breadcrumbs" %>
<div class="row">
  <div class="col-md-10 border border-left-0 border-top-0 border-bottom-0">
    <table class="table">
      <thead class="thead-default">
        <% labels = t('mongoid.attributes.channel_partner').with_indifferent_access %>
        <tr>
          <th><%= labels[:name] %></th>
          <th><%= labels[:email] %></th>
          <th><%= labels[:phone] %></th>
          <th><%= labels[:rera_id] %></th>
          <th><%= labels[:location] %></th>
          <th><%= labels[:status] %></th>
          <th><%= labels[:associated_user_id] %></th>
          <th class='text-right'>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @channel_partners.each do |channel_partner| %>
          <tr>
            <td><%= channel_partner.name %></td>
            <td><%= channel_partner.email %></td>
            <td><%= channel_partner.phone %></td>
            <td><%= channel_partner.rera_id %></td>
            <td><%= channel_partner.location %></td>
            <td><%= ChannelPartner.available_statuses.find{|x| x[:id] == channel_partner.status}[:text] %></td>
            <td><%= channel_partner.associated_user_id.present? ? link_to(channel_partner.associated_user.name, admin_user_path(channel_partner.associated_user_id)) : '-' %></td>
            <td class="text-right">
              <div class="dropdown">
                <a class="btn btn-light dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <% if ChannelPartnerPolicy.new(current_user, channel_partner).edit? %>
                    <%= link_to 'Edit', edit_channel_partner_path(channel_partner), class: 'dropdown-item' %>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-2">
    <%= render "filters" %>
  </div>
</div>
