<section class="mb-5 mt-3">
  <div class="px-4">
    <div class="row">
    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="table-btn-set float-right pb-1 text-end mt-2">
          <!--
          <div class="filter-search">
            <input type="text" name="" placeholder="Search Channel Partners">
          </div>
          -->
        <div class="filter-popup">
          <a class="db-filter-btn fn-500" href="javascript:;">
            <i class="fa fa-filter fill-theme"></i>
          </a>
        </div>
        <% if false && policy([:admin, ChannelPartner.new]).new? %>
          <%= link_to I18n.t("global.link_to.add_new"), new_channel_partner_path(from_cp_admin: true), class: 'bg-primary white border-primary py-2 px-3 border rounded ht-40 modal-remote-form-link d-inline-block ms-2' %>
        <% end %>
        <div class="new-menu display-initial d-inline me-2 ms-1" >
            <button class="select-btn fn-400 dropdown-toggle px-3 border rounded py-2" href="javascript:;" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= I18n.t("global.link_to.export") %></button>
            <div class="dropdown-menu">
              <%= link_to  I18n.t("global.all_elements", name: global_labels['channel_partners']), export_channel_partners_path, class: 'dropdown-item' %>
              <%= link_to I18n.t("global.active_filter_elements", name: global_labels['channel_partners']), export_channel_partners_path(fltrs: params["fltrs"].as_json), class: 'dropdown-item' %>
            </div>
          </div>
      </div>
    </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <%= render 'index', {channel_partners: @channel_partners} %>
          <div class="filter-box">
            <%= render "filters" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
