<section class="mb-5">
  <div class="container">
    <div class="row">
    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
      <div class="table-title pt-1">
        <h1 class="title icon-user-friends-black icon-set">
          <%= ChannelPartner.model_name.human(count: @channel_partners.total_entries) %>
          <span class="white bg-gradient-cd badge"><%= @channel_partners.total_entries %> </span>
        </h1>
      </div>
    </div>
    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
      <div class="table-btn-set float-right pb-3">
      <a class="db-small-btn light-blue bg-white fn-400 dropdown-toggle btn" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</a>
      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to "All #{global_labels['channel_partners']}", export_channel_partners_path, class: 'dropdown-item' %>
        <%= link_to "Active filter #{global_labels['channel_partners']}", export_channel_partners_path(fltrs: params["fltrs"].as_json), class: 'dropdown-item' %>
      </div>
      <button class="db-filter-btn white fn-500" type="button"><img src="<%= asset_path 'filter-light-blue.svg' %>" alt="filter icon"></button>
      </div>
    </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <%= render 'index', {channel_partners: @channel_partners} %>
          <div class="filter-box">
            <%= render "filters" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
