<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="row justify-content-center">
        <div class="<%= @channel_partner.blank? ? 'col-md-9' : 'col-md-12' %>">
          <%= render 'breadcrumbs', {channel_partner: @channel_partner, user: @user} %>
          <div class="card h-100">
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-md-7">
                  <% if ChannelPartnerPolicy.new(current_user, ChannelPartner).export? %>
                    <%= link_to "Export all #{global_labels['channel_partners']}", export_channel_partners_path, class: 'btn btn-primary float-left ml-2 pink-btn' %>
                  <% end %>
                </div>
                <div class="col-md-5 text-right">
                  <h6 class="mt-2">Total <%= global_labels[:channel_partners] %>: <%= @channel_partners.count %></h6>
                </div>
              </div>
              <%= render 'index', {channel_partners: @channel_partners} %>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <%= render "filters" %>
        </div>
      </div>
    </div>
  </div>
</div>
