<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="row justify-content-center">
        <div class="<%= @channel_partner.blank? ? 'col-md-9' : 'col-md-12' %>">
          <%= render 'breadcrumbs', {channel_partner: @channel_partner, user: @user} %>
          <div class="card h-100">
            <div class="card-body">
              <%= render 'index', {channel_partners: @channel_partners} %>
              <% if ChannelPartnerPolicy.new(current_user, ChannelPartner).export? %>
                <%= link_to "Export all #{global_labels['channel_partners']}", export_channel_partners_path, class: 'btn btn-outline-primary float-left ml-2 pink-btn' %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <%= render "filters" %>
        </div>
      </div>
    </div>
  </div>
</div>
