<section class="bookings my-4 mb-4">
  <div class="container">
    <div class="col-md-12">
      <div class="box-card">
        <div class="box-header bg-gradient br-rd-tr-4 row">
          <h2><%= ChannelPartner.model_name.human %></h2>
        </div>
        <div class="box-content br-rd-bl-4 bg-white row">
          <div class="col-md-12 col-lg-12 col-sm-12">
            <ul class="booking-apart-info">
              <li>
                <span><%= t('mongoid.attributes.channel_partner.name') %></span>
                <p class="break-word"><%= @channel_partner.name %></p>
              </li>
              <li>
                <span><%= t('mongoid.attributes.channel_partner.rera_id') %></span>
                <p><%= @channel_partner.rera_id.presence || '-' %></p>
              </li>
              <li>
                <span><%= t('mongoid.attributes.channel_partner.gstin_number') %></span>
                <p><%= @channel_partner.gstin_number.presence || '-' %></p>
              </li>
              <li>
                <span><%= t('mongoid.attributes.channel_partner.status') %></span>
                <p><%= t("mongoid.attributes.channel_partner/status.#{@channel_partner.status}") %></p>
              </li>
              <li>
                <span><%= t('mongoid.attributes.channel_partner.company_name') %></span>
                <p class="break-word"><%= @channel_partner.company_name.presence || '-' %></p>
              </li>
              <li>
                <span><%= t('mongoid.attributes.channel_partner.company_owner_name') %></span>
                <p class="break-word"><%= @channel_partner.company_owner_name.presence || '-' %></p>
              </li>
              <li>
                <span><%= t('mongoid.attributes.channel_partner.company_owner_phone') %></span>
                <p class="break-word"><%= @channel_partner.company_owner_phone.presence || '-' %></p>
              </li>
              <li>
                <span><%= t('mongoid.attributes.channel_partner.regions') %></span>
                <p class="break-word"><%= @channel_partner.regions.presence&.to_sentence || '-' %></p>
              </li>
              <li>
                <span><%= t('mongoid.attributes.channel_partner.category') %></span>
                <p class="break-word"><%= @channel_partner.category.presence || '-' %></p>
              </li>
              <li>
                <span><%= t('mongoid.attributes.channel_partner.company_type') %></span>
                <p class="break-word"><%= @channel_partner.company_type.presence || '-' %></p>
              </li>
              <li>
                <span><%= t('mongoid.attributes.channel_partner.source') %></span>
                <p class="break-word"><%= @channel_partner.source.presence || '-' %></p>
              </li>
              <li>
                <span><%= t('mongoid.attributes.channel_partner.pan_number') %></span>
                <p><%= @channel_partner.pan_number.presence || '-' %></p>
              </li>
              <li>
                <span><%= t('mongoid.attributes.channel_partner.aadhaar') %></span>
                <p><%= @channel_partner.aadhaar.presence || '-' %></p>
              </li>

              <li>
                <span><%= t('mongoid.attributes.channel_partner.manager_name') %></span>
                <p class="break-word"><%= @channel_partner.manager_name.presence || '-' %></p>
              </li>
              <li>
                <span><%= t('mongoid.attributes.channel_partner.interested_services') %></span>
                <p class="break-word"><%= @channel_partner.interested_services.presence.try(:to_sentence) || '-' %></p>
              </li>
              <% if policy([:admin, @channel_partner]).editable_field?("internal_category") %>
                <li>
                  <span><%= t('mongoid.attributes.channel_partner.internal_category') %></span>
                  <p class="break-word"><%= @channel_partner.internal_category.present? ? t("mongoid.attributes.channel_partner/internal_categories.#{@channel_partner.internal_category}") : '-' %></p>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% if policy([:admin, Crm::Base.new()]).choose_crm? && apis = Crm::Base.active_apis(@channel_partner).presence %>
      <div class="col-md-12 mt-3">
        <%= render 'admin/crm/base/crms', { apis: apis, resource: @channel_partner } %>
      </div>
    <% end %>
    <div class="col-md-12 mt-3 p-0">
      <%#= render 'sync_logs/sync', { record: @channel_partner } if current_client.external_api_integration? && policy([current_user_role_group, SyncLog.new]).index? %>
    </div>

  </div>
</section>
