<tr>
  <td data-title=<%= Lead.model_name.human %> >
    <% if policy([current_user_role_group, receipt.lead]).show? %>
      <%= link_to receipt.lead.name, [current_user_role_group, receipt.lead], class: "theme-txt-color" %>
    <% else %>
      <%= receipt.lead.name %>
    <% end %>
  </td>
  <td data-title=<%= t('mongoid.attributes.receipt.project_id') %> >
  <%= receipt.project_name %>
  </td>
   <td data-title=<%= t('mongoid.attributes.receipt.receipt_id') %> >
   <span class="col-title">
    <%= ["pending", 'clearance_pending'].include?(receipt.status) ?  t('global.not_generated') : receipt.receipt_id %>
  </span>
  </td>
  <td data-title=<%= t('mongoid.attributes.receipt.token_number') %> >
    <span class="col-title"><%= receipt.try(:token_number) ? receipt.get_token_number : '--' %></span>
    <% if receipt.coupon && policy([current_user_role_group, receipt.coupon]).show? %>
      <div class = 'small muted'><%= t('mongoid.attributes.receipt.token_discount')%>: <%= number_to_indian_currency(receipt.coupon.try(:value).try(:abs)) %></div>
      <div class = 'small muted'><%= t('mongoid.attributes.receipt.variable_discount') %>: <%= number_to_indian_currency(receipt.coupon.try(:variable_discount).try(:abs)) %></div>
    <% end %>
  </td>
  <td data-title=<%= t('mongoid.attributes.receipt.status') %> >
    <span class="col-title"><i class="fa fa-circle success me-2 fa-xs"></i><%= t("mongoid.attributes.receipt/status.#{receipt.status}") %></span></td>
  <td data-title=<%= t('mongoid.attributes.receipt.total_amount') %> >
    <span class="col-title"><%= number_to_indian_currency(receipt.total_amount.round) %></span></td>
  <td>
    <div class="dropdown show text-right">
    <a class="btn table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v theme-txt-color" aria-hidden="true"></i></a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
        <%= link_to t('controller.receipts.print.link_name'), [current_user_role_group, receipt], target:"_blank", class: 'dropdown-item print-btn', data: { event_category: 'Section', event_action: 'Click', event_name: 'Print'} %>
        <% if policy([current_user_role_group, UserRequest::Cancellation.new(lead_id: receipt.lead_id, requestable: receipt)]).new? %>
          <%= link_to t('controller.user_requests.cancellation.new.link_name'), cancellation_link(receipt), class: "dropdown-item modal-remote-form-link" %>
        <% end %>
        <% if policy([current_user_role_group, receipt]).resend_success? %>
          <%= link_to t('controller.receipts.resend_email.link_name'), [:resend_success, current_user_role_group, receipt], class: 'dropdown-item' %>
        <% end %>
        <% if policy([:admin, Crm::Base.new()]).choose_crm? && Crm::Api.where(booking_portal_client_id: current_client.try(:id), resource_class: 'Receipt').present? %>
          <%= link_to t('controller.crms.choose_crm.link_name'), choose_crm_admin_crm_base_index_path(resource_id: receipt.id, resource_class: receipt.class), class: "dropdown-item " %>
        <% end %>
        <% if policy([ current_user_role_group, receipt]).edit? %>
          <%= link_to t('controller.receipts.edit.link_name'), [:edit, current_user_role_group, receipt.lead, receipt], class: 'dropdown-item modal-remote-form-link' %>
        <% end %>
        <% if policy([current_user_role_group, receipt]).edit_token_number? %>
          <%= link_to t('controller.receipts.edit_token_number.link_name'), [:edit_token_number, current_user_role_group, receipt], class: 'modal-remote-form-link dropdown-item' %>
        <% end %>
        <% if policy([current_user_role_group, Asset.new(assetable: receipt) ]).update? %>
          <%= link_to t('controller.assets.index.link_name'), assetables_path(assetable_type: receipt.class.model_name.i18n_key.to_s, assetable_id: receipt.id), class: 'dropdown-item modal-remote-form-link' %>
        <% end %>
        <% if receipt.user_kyc.present? && policy([current_user_role_group, receipt.user_kyc]).show? %>
          <%= link_to t('controller.receipts.show_user_kyc.link_name'), admin_user_kyc_path(receipt.user_kyc), class: 'dropdown-item' %>
        <% end %>
        <% if policy([current_user_role_group, receipt]).choose_template_for_print? %>
          <%= link_to t('controller.templates.choose_template_for_print.link_name'), choose_template_for_print_admin_custom_templates_path(subject_class: receipt.class.model_name.i18n_key.to_s, subject_class_id: receipt.id.to_s), class: 'dropdown-item modal-remote-form-link' %>
        <% end %>
     </div>
  </div>
  </td>
</tr>
