<%= render 'breadcrumbs', {user: @user, project_unit: @receipt.project_unit} %>
<% if current_user.role?('user') %>
  <section class="main-wrapper full-height grey">
<% else %>
  <section class="padding-side-22">
<% end %>
   <div class="container-fluid">
      <div class="row">
        <% if current_user.role?('user') %>
        <div class="apartment-selector-wrapper">
          <div class="title">
            Make Remaining Payment
          </div>
        </div>
        <% else %>
        <div class="col-12 text-left mtop10">
            <p class="pageTitle big pink">EDIT PAYMENTS</p>
        </div>
        <% end %>
        <div class="col-md-12 border-left-0 border-top-0 border-bottom-0 cancel-booking-wrapper">
          <% if @receipt.new_record? %>
            <div class="alert alert-warning">
              <!-- TODO: check if you want to update this message -->
              <% if current_user.role?('user') %>
                <div class="title">Payments need to be for individual units, clubbed payments are not allowed. Please collect a cheque for individual units only.</div>
                <br/>
              <% else %>
                Payments need to be for individual units, clubbed payments are not allowed. Please collect a cheque for individual units only.
              <% end %>
            </div>
          <% end %>
          <% if @receipt.errors.present? %>
          <div class="alert alert-danger">
            <ul>
              <% @receipt.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
          <% if current_user.role?('user') %>
            <%= form_for @receipt, html: {class: 'validate-form'} do |f| %>
              <div class="form-group form-field-wrapper">
                <%= f.label :total_amount, class: 'control-label label-required' %>
                <%= f.text_field :total_amount, min: 0, class: "form-field form-control", required: 'required', id:"totalAmount" %>
              </div>
              <%= f.hidden_field :project_unit_id %>
              <%= f.hidden_field :payment_mode %>
              <%= f.submit "Proceed", class: 'btn btn-primary nav-btn' %>
            <% end %>
          <% else %>
            <%= form_for [:admin, @user, @receipt], html: {id: 'receipt_form', class: 'validate-form'} do |f| %>
              <div class="form-group">
                <%= f.label :payment_mode, class: 'control-label label-required' %>
                <%= f.select :payment_mode, Receipt.available_payment_modes.reject{|x| x[:id] == 'online'}.collect{|x| [x[:text], x[:id]]}, {prompt: true}, class: 'selectize', required: 'required', autofocus: true, disabled: (policy(@receipt).editable_field?("payment_mode") ? false : true) %>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :issuing_bank, class: 'control-label label-required' %>
                    <%= f.text_field :issuing_bank, class: 'form-control', required: 'required', disabled: (policy(@receipt).editable_field?("issuing_bank") ? false : true) %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :issuing_bank_branch, class: 'control-label label-required' %>
                    <%= f.text_field :issuing_bank_branch, class: 'form-control', required: 'required', disabled: (policy(@receipt).editable_field?("issuing_bank_branch") ? false : true) %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :payment_identifier, class: 'control-label label-required' %>
                    <%= f.text_field :payment_identifier, class: 'form-control', required: 'required', disabled: (policy(@receipt).editable_field?("payment_identifier") ? false : true) %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group position-relative">
                    <%= f.label :issued_date, class: 'control-label label-required' %>
                    <%= f.text_field :issued_date, class: 'form-control datepicker', required: 'required', "data-default-date": f.object.issued_date.present? ? f.object.issued_date.strftime("%d/%m/%Y") : '', "data-max-date": Date.today.strftime("%d/%m/%Y"), disabled: (policy(@receipt).editable_field?("issued_date") ? false : true), value: f.object.issued_date.present? ? f.object.issued_date.strftime("%d/%m/%Y") : "" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <% if f.object.project_unit_id.present? %>
                      <%= f.label :project_unit_id, class: 'control-label' %>
                      <div><%= f.object.project_unit.name %></div>
                      <%= f.hidden_field :project_unit_id %>
                    <% else %>
                      <%= f.label :reference_project_unit_id, class: 'control-label' %>
                      <%= f.select :reference_project_unit_id, f.object.reference_project_unit.present? ? [[f.object.reference_project_unit.name, f.object.reference_project_unit.id]] : [], {prompt: true}, class: 'selectize-remote', autofocus: true, disabled: (policy(@receipt).editable_field?("reference_project_unit_id") ? false : true), "data-url": admin_project_units_path, "data-params": {fltrs: {status: 'available'}}.to_json, 'data-ds': 'ds' %>
                    <% end %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :status, class: 'control-label' %>
                    <%= f.select :status, Receipt.available_statuses.collect{|x| [x[:text], x[:id]]}, {prompt: true}, class: 'selectize', required: 'required', disabled: (policy(@receipt).editable_field?("status") ? false : true) %>
                  </div>
                </div>
              </div>
              <% if (current_user.role?("crm") || current_user.role?("admin")) && @receipt.persisted?  %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :tracking_id, class: 'control-label' %>
                    <%= f.text_field :tracking_id, class: 'form-control' %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :processed_on, class: 'control-label' %>
                    <%= f.text_field :processed_on, class: 'form-control datepicker', "data-default-date": f.object.processed_on.present? ? f.object.processed_on.strftime("%d/%m/%Y") : '', "data-max-date": Date.today.strftime("%d/%m/%Y"), value: f.object.processed_on.present? ? f.object.processed_on.strftime("%d/%m/%Y") : "" %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :comments, class: 'control-label' %>
                <%= f.text_area :comments, class: 'form-control' %>
              </div>
              <% end %>
              <div class="form-group">
                <%= f.label :total_amount, class: 'control-label label-required' %>
                <%= f.number_field :total_amount, class: 'form-control', required: 'required', disabled: (policy(@receipt).editable_field?("total_amount") ? false : true) %>
                <%= f.hidden_field :payment_type, class: 'form-control', required: 'required', disabled: (policy(@receipt).editable_field?("payment_type") ? false : true) %>
              </div>
              <%= f.submit "Save", class: 'btn btn-primary pink-btn' %>
            <% end %>
            <%= javascript_tag do %>
            $(document).ready(function(){
              FormInitializer.init($('#receipt_form'));
            });
            <% end %>
          <% end %>
          <%= render "assets/index", assetable: @receipt %>
          <br/><br/><br/>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </section>
