<table class='table'>
  <thead class="th-default">
    <% labels = t('mongoid.attributes.receipt').with_indifferent_access %>
    <tr>
      <th><%= labels['receipt_id'] %></th>
      <th><%= labels['payment_mode'] %></th>
      <th>Details</th>
      <th><%= labels['project_unit_id'] %></th>
      <th><%= labels['status'] %></th>
      <th class="text-right"><%= labels['total_amount'] %></th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% receipts.each do |receipt| %>
    <tr>
      <td><%= receipt.receipt_id %></td>
      <td><%= Receipt.available_payment_modes.find{|x| x[:id] == receipt.payment_mode}[:text] %></td>
      <td>
        <% if receipt.payment_mode == 'online' %>
          TODO
          <div class='small'>Transaction ID: <%= receipt.payment_identifier %></div>
        <% else %>
          <div class='small'>Bank: <%= receipt.issuing_bank %></div>
          <div class='small'>Branch: <%= receipt.issuing_bank_branch %></div>
          <div class='small'>Date: <%= receipt.issued_date %></div>
          <div class='small'>ID: <%= receipt.payment_identifier %></div>
        <% end %>
      </td>
      <td><%= receipt.project_unit.present? ? receipt.project_unit.name : '-' %></td>
      <td><%= Receipt.available_statuses.find{|x| x[:id] == receipt.status}[:text] %></td>
      <td class="text-right"><%= number_to_indian_currency(receipt.total_amount) %></td>
      <td class="text-right">
        <div class="dropdown">
          <a class="btn btn-light dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
          <div class="dropdown-menu dropdown-menu-right">
            <% if receipt.status == 'success' %>
              <%= link_to 'Print', receipt_path(receipt), class: 'dropdown-item' %> <!-- TODO: Implement this -->
            <% end %>
            <% if ReceiptPolicy.new(current_user, receipt).edit? %>
              <%= link_to 'Edit', edit_admin_user_receipt_path(receipt.user_id, receipt), class: 'dropdown-item' %> <!-- TODO: Implement this -->
            <% end %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate receipts %>
