<% if current_user.buyer? %>
  <div class="table-wrapper">
<% end %>
<table class="striped-table table payment-table <% if current_user.buyer? %> reciept-table <% end %>"  width="100%" <% if current_user.buyer? %> cellpadding="20" cellspacing="0"<% end %>>
  <thead class="th-default th-pink">
    <% labels = t('mongoid.attributes.receipt').with_indifferent_access %>
    <tr>
      <th class="w15 text-left">User</th>
      <!-- <th><%= labels['receipt_id'] %></th> -->
      <!-- <th><%= labels['payment_mode'] %></th> -->
      <th>Details</th>
      <!-- <th><%= labels['project_unit_id'] %></th> -->
      <th><%= labels['status'] %></th>
      <th class="text-right"><%= labels['total_amount'] %></th>
      <th class="text-right"></th>
    </tr>
  </thead>
  <tbody>
    <% receipts.each do |receipt| %>
    <tr>
      <td><%= receipt.user.name %></td>
      <!-- <td><%= receipt.receipt_id %></td> -->
<!--       <td></td> -->
      <td>
        <div>Receipt No.: <span class="black-font"><%= receipt.receipt_id %></span></div>
        <div>Unit ID: <span class="black-font"><%= receipt.project_unit.present? ? receipt.project_unit.name : '' %><span style="display:inline-block">Reference Project</span> <%= receipt.reference_project_unit.present? ? receipt.reference_project_unit.name : '' %></span></div>
        

        <% if receipt.payment_mode == 'online' %>
          <!-- TODO -->
          <div>Trans ID: <span class="black-font"><%= receipt.payment_identifier %></span></div>
	        <div>Processed Date: <span class="black-font"><%= receipt.processed_on %></span></div>
        <% else %>
          <div>Bank: <span class="black-font"><%= receipt.issuing_bank %></span> / Branch: <span class="black-font"><%= receipt.issuing_bank_branch %></span></div>
          <!-- <div></div> -->
          <div>Issued Date: <span class="black-font"><%= receipt.issued_date %></span></div>
          <div>Processed Date: <span class="black-font"><%= receipt.processed_on %></span></div>
          <div>ID: <span class="black-font"><%= receipt.payment_identifier %></span></div>
        <% end %>
        <div>Payment: <span class="black-font"><%= Receipt.available_payment_modes.find{|x| x[:id] == receipt.payment_mode}[:text] %></span></div>
      </td>
      <!-- <td><%= receipt.project_unit.present? ? receipt.project_unit.name : '' %><span style="display:inline-block">Reference Project</span> <%= receipt.reference_project_unit.present? ? receipt.reference_project_unit.name : '' %></td> -->
      <td><%= Receipt.available_statuses.find{|x| x[:id] == receipt.status}[:text] %></td>
      <td class="text-right"><%= number_to_indian_currency(receipt.total_amount.round()) %></td>
      <td class="text-right">
        <div class="dropdown">
          <a class="btn btn-light dropdown-toggle light-pink-btn" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
          <div class="dropdown-menu dropdown-menu-right">
            <% if receipt.status == 'success' %>
              <%= link_to '<i class="fas fa-print"></i> Print'.html_safe, receipt_path(receipt), class: 'dropdown-item print-btn',data:{event_category: 'Section', event_action: 'Click', event_name: 'Print'} %> <!-- TODO: Implement this -->
            <% end %>
            <% if ReceiptPolicy.new(current_user, receipt).edit? %>
              <%= link_to 'Edit', edit_admin_user_receipt_path(receipt.user_id, receipt), class: 'dropdown-item' %> <!-- TODO: Implement this -->
            <% end %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if current_user.buyer? %>
  </div>
<% end %>
<%= will_paginate receipts %>

