<div class="pt-3"></div>
<div class="card">
  <div class="card-header box-header bg-gradient br-rd-tr-4">
    <h2 class="fn-18 theme-txt-color float-start mt-2"> <%= Receipt.model_name.human %></h2>
    <div class="dropdown float-right d-print-none float-end">
      <a class="btn table-dropdown-btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
      <div class="dropdown-menu dropdown-menu-right">
        <button onclick="window.print();" class="dropdown-item "><%= I18n.t("global.print") %></button>
      </div>
    </div>
  </div>
  <div class="card-body box-content br-rd-bl-4">
    <div class="row pd-box">
      <div class="col-md-6">
        <div class="logo-wrapper col-lg-3">
          <%= image_tag @receipt.booking_portal_client.logo.url , class: :'wd-100', alt: :logo  if @receipt.booking_portal_client.logo.file %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-3"></div>
<%# render 'sync_logs/sync', { record: @receipt } if @receipt.booking_portal_client.external_api_integration? && policy([current_user_role_group, SyncLog.new]).index? %>
<div class="mt-3"></div>
<div class="row">
  <% if @receipt.primary_user_kyc %>
  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-body">
        <div class="mb-3">
          <label class="small text-muted"><%= I18n.t("global.link_to.paid_by") %>:</label>
          <div class="theme-txt-color"><%= @receipt.primary_user_kyc.name %></div>
        </div>
        <div class="mb-3">
          <label class="small text-muted"><%= I18n.t("mongoid.attributes.user.email") %>:</label>
          <div class="theme-txt-color"><%= @receipt.primary_user_kyc.email %></div>
        </div>
        <div class="mb-3">
          <label class="small text-muted"><%= I18n.t("mongoid.attributes.user.phone") %>:</label>
          <div class="theme-txt-color"><%= @receipt.primary_user_kyc.phone %></div>
        </div>
        <div class="mb-3">
          <label class="small text-muted"><%= I18n.t("mongoid.attributes.user.pan_number") %>:</label>
          <div class="theme-txt-color"><%= @receipt.primary_user_kyc.pan_number %></div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-body">
        <div class="pd-box">
          <div class="mb-3">
            <label class="small text-muted"><%= I18n.t("global.link_to.paid_to") %>:</label>
            <div class="theme-txt-color"><%= current_client.registration_name %></div>
          </div>
          <% if @receipt.booking_portal_client.cin_number.present? %>
            <div class="mb-3">
              <label class="small text-muted"><%= I18n.t("mongoid.attributes.client.cin_number") %>:</label>
              <div class="theme-txt-color"><%= current_client.cin_number %></div>
            </div>
          <% end %>
          <% if @receipt.booking_portal_client.address.present? %>
            <div class="mb-3">
              <label class="small text-muted"><%= I18n.t("mongoid.attributes.client.address") %>: </label>
              <div class="theme-txt-color"><%= current_client.address.to_sentence %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-3"></div>
<div class="payment-receipt-wrapper">
  <%= @receipt.booking_portal_client.templates.where(_type: "Template::ReceiptTemplate", project_id: @receipt.project_id).first.parsed_content(@receipt) %>
</div>
<div class="mt-3 d-block wd-100 float-start"></div>
<div class="card">
  <div class="card-body">
    <div class="float-right text-right">
      <strong class="font-medium mb-2 d-block"><%= I18n.t("global.link_to.for") + " " + current_client.try(:registration_name).to_s %></strong>
      Authorized Signatory
    </div>
  </div>
</div>
<div class="text-center text-muted small mt-3"><%= I18n.t("controller.receipts.text.e_generated_receipt") %></div>
<div class="pt-3"></div>

