<div class="clearfix"></div>
<div class="col-12">
  <div class="receipt-wrapper">
    <div class="applicant-wrapper pull-left text-left">
      <img src="<%= asset_url('embassy-springs.jpg') %>" class="img-responsive" />
    </div>
    <div class="pull-right text-right payment-details-wrapper">
      Date: <strong><%= receipt.created_at.strftime('%d %b %Y') %></strong><br/>
      Receipt: <strong><%= receipt.receipt_id %></strong><br/>
      CIN No.: <strong>U85110KA1995PTC017950</strong>
    </div>
    <div class="clearfix"></div>
    <div class="tower-info-wrapper pink">
      <div class="tower-specs">
        <div class="col-6">
          <span class="title">Paid By:</span>
          <span class="specs"><%= receipt.primary_user_kyc.name %></span><br/>
          <span class="specs"><%= receipt.primary_user_kyc.house_number %>, </span>
          <span class="specs"><%= receipt.primary_user_kyc.street %>, </span><br/>
          <span class="specs"><%= receipt.primary_user_kyc.city %> -  </span>
          <span class="specs"><%= receipt.primary_user_kyc.postal_code %>, </span><br/>
          <span class="specs"><%= receipt.primary_user_kyc.state %>, </span>
          <span class="specs"><%= receipt.primary_user_kyc.country %></span>

          <!-- <span class="specs">B2 - Haridra, Shree Sai Samrudddhi Apts, C.V. Raman Nagar, Bengaluru - 560093</span> -->
        </div>
        <div class="col-6">
          <span class="title">Paid To:</span>
          <span class="specs">
            NAM ESTATES PRIVATE LIMITED<br/>
            NO. 150, EMBASSY POINT,<br/>
            INFANTRY ROAD<br/>
            BANGALORE - 560001
          </span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="tower-specs">
        <div class="col-4">
          <span class="title">PAN Card:</span>
          <span class="specs"><%= receipt.primary_user_kyc.pan_number %></span>
        </div>
        <div class="col-4">
          <span class="title">Project:</span>
          <span class="specs">Embassy Edge</span>
        </div>
        <div class="col-4">
          <span class="title">Apartment No:</span>
          <span class="specs"><%= receipt.project_unit.present? ? receipt.project_unit.name : receipt.reference_project_unit.name %></span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="receipt-table-wrapper">
      <table width="100%" cellpadding="10" cellspacing="0" border="0" outline="0" class="receipt-table" align="center">
        <tr>
          <th>
            Date
          </th>
          <th>
            Payment Mode
          </th>
          <th>
            Reference Details
          </th>
          <th>
            Amount
          </th>
        </tr>
        <tr>
          <td><%= receipt.processed_on %></td>
          <td><%= receipt.payment_mode %></td>
          <td class="text-left">
          <% if receipt.payment_mode == "online" %>
          Reference ID: <%= receipt.payment_identifier %>
          <% else %>
          Cheque / DD Number:<%= receipt.payment_identifier %><br/> Bank Name: <%= receipt.issuing_bank %> <br/> Bank Branch :<%= receipt.issuing_bank_branch %>
          <% end %>
          </td>
          <td><%= number_to_indian_currency(receipt.total_amount.round(2)) %></td>
        </tr>
      </table>
    </div>
    <div class="text-right acknowledge-wrapper">
      <p>NAM ESTATES PRIVATE LIMITED</p>
      <br/><br/>
      <p>Authorized Signatory</p>
      <br/><br/>
      <span>This is a computer generated receipt and hence no signature is required.</span>
      <br/><br/>
    </div>
  </div>
</div>
