<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
      <thead>
        <tr class="bg-primary white">
          <th> <%= t('mongoid.attributes.receipt.receipt_id') %></th>
          <th><%= t('mongoid.attributes.receipt.token') %></th>
          <th><%= t('mongoid.attributes.receipt.date') %></th>
          <th><%= t('mongoid.attributes.receipt.start_time') %></th>
          <th><%= t('mongoid.attributes.receipt.end_time') %></th>
          <% if defined?(with_actions) && with_actions %>
            <th class="text-right"><%= t('global.action', count: 3) %></th>
          <% end %>
        </tr>
      </thead>
  </thead>
  <tbody>
    <% receipts.each do |receipt| %>
      <% if receipt.time_slot.present? %>
        <tr>
          <td data-title="<%= t('mongoid.attributes.receipt.receipt_id') %>"><%= receipt.receipt_id %></td>
          <td data-title="<%= t('mongoid.attributes.receipt.token') %>"><%= receipt.get_token_number %></td>
          <td data-title="<%= t('mongoid.attributes.receipt.date') %>"><%= user_local_time(receipt.time_slot.date).strftime("%d/%m/%Y") %></td>
          <td data-title="<%= t('mongoid.attributes.receipt.start_time') %>"><%= user_local_time(receipt.time_slot.start_time).strftime("%I:%M %p") %></td>
          <td class="non-action-td" data-title="<%= t('mongoid.attributes.receipt.end_time') %>"><%= user_local_time(receipt.time_slot.end_time).strftime("%I:%M %p") %></td>
          <% if defined?(with_actions) && with_actions %>
            <td>
              <div class="dropdown show text-right">
                <a class="btn dropdown-toggle table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                  <% if policy([current_user_role_group, receipt]).edit_token_number? %>
                    <%= link_to t('controller.receipts.edit_token_number.link_name'), edit_token_number_admin_receipt_path(receipt), class: 'modal-remote-form-link dropdown-item' %>
                  <% end %>
                </div>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
