<div class="row pd-box">
  <div class="col-lg-12 col-sm-12 col-xs-12">
    <table class='table my-customer-table responsive-tbl'>
      <thead class="th-default">
        <% labels = t('mongoid.attributes.scheme').with_indifferent_access %>
          <thead>
            <tr class="bg-gradient-cd white">
              <th>Receipt ID</th>
              <th>Token</th>
              <th>Date</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
      </thead>
      <tbody>
        <% receipts.each do |receipt| %>
          <% if receipt.time_slot.present? %>
            <tr>
              <td><%= receipt.receipt_id %></td>
              <td><%= receipt.get_token_number %></td>
              <td><%= user_local_time(receipt.time_slot.date).strftime("%d/%m/%Y") %></td>
              <td><%= user_local_time(receipt.time_slot.start_time).strftime("%I:%M %p") %></td>
              <td><%= user_local_time(receipt.time_slot.end_time).strftime("%I:%M %p") %></td>
              <td>
                <div class="dropdown show text-right">
                <a class="btn dropdown-toggle table-dropdown-btn black-clr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span><span></span><span></span></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <% if policy([current_user_role_group, receipt]).edit_token_number? %>
                      <%= link_to 'Edit', edit_token_number_admin_receipt_path(receipt), class: 'modal-remote-form-link dropdown-item' %>
                    <% end %>
                 </div>
              </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
