 <section class="time_slots my-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd cursor-pointer" data-toggle="collapse" href="#collapseTimeSlots" role="button" aria-expanded="false" aria-controls="collapseTimeSlots">
        <div class="table-title pt-1">
          <h2 class="title text-dark icon-set icon-time-black">
            <%= t('mongoid.attributes.receipt.time_slot') %>
          </h2>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-btn-set float-right pb-3">
          <button disabled="disabled" class="db-small-btn light-blue bg-white fn-400"><%= t('global.total')%> : <%= user.receipts.direct_payments.count %></button>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd bg-white collapse" id="collapseTimeSlots">
        <%= render "receipts/time_slot", receipts: user.receipts.direct_payments, with_actions: true %>
      </div>
    </div>
  </div>
</section>
<%= javascript_tag do %>
  $(document).ready(function(){
    var count = <%= raw user.receipts.direct_payments.count %>
    if(count != 0){
      $('#collapseTimeSlots').collapse('show')
    }
  });
<% end %>