<div class="container">
  <div class="row justify-content-center">
    <div class="<%= @user.blank? ? 'col-md-9' : 'col-md-12' %>">
      <%= render 'breadcrumbs', {user: @user, project_unit: @project_unit} %>
      <div class="alert alert-danger">
        Refund Payments will be subject to cancellation charges
      </div>
      <% unless current_user.buyer? %>
        <% unless ReceiptPolicy.new(current_user, Receipt.new(user: @user)).new? %>
          <% if @user.present? %>
            <div class="alert alert-primary mt-3">
              <% if @user.confirmed? %>
              You might need to complete the user's KYC before you can take payments.
              <% if UserKycPolicy.new(current_user, UserKyc.new(user: @user)).new? %>
                <%= link_to "Add #{global_labels['user_kyc_details']}", new_admin_user_user_kyc_path(@user), class: "modal-remote-form-link" %>
              <% end %>
              <% else %>
              The <%= global_labels['customer'] %> has not yet confirmed their account via email.
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-7">
              <% if ReceiptPolicy.new(current_user, Receipt.new(user: @user)).new? %>
              <% units_for_payments = @user.project_units.in(status: ["blocked", 'booked_tentative']).all %>
              <% if units_for_payments.present? %>
              <% unless current_user.buyer? %>
              <div class="dropdown float-left mr-2">
                <a class="btn btn-primary dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add <%= global_labels['receipt'] %> to Blocked Units</a>
                <div class="dropdown-menu dropdown-menu-right">
                  <% units_for_payments.each do |project_unit| %>
                  <%= link_to "#{project_unit.name}", new_admin_user_project_unit_receipt_path(@user.id, project_unit.id), class: 'dropdown-item modal-remote-form-link' %>
                  <% end %>
                </div>
              </div>
              <% end %>
              <% end %>
              <% end %>
              <%
                if @user.present? && !current_user.buyer?
                url_for_new_receipt = if @project_unit.present?
                  new_admin_user_project_unit_receipt_path(@user, @project_unit)
                else
                  new_admin_user_receipt_path(@user)
                end
              %>
              <% if !current_user.buyer? && ReceiptPolicy.new(current_user, Receipt.new(user: @user)).direct? %>
                <%= link_to "Make Direct #{global_labels['receipt']}", url_for_new_receipt, class: 'btn btn-primary modal-remote-form-link' %>
              <% end %>
              <% end %>
              <% if UserPolicy.new(current_user, User).export? && @user.blank? %>
                <%= link_to "Export all #{global_labels['receipts']}", export_admin_receipts_path, class: 'btn btn-primary' %>
              <% end %>
            </div>
            <div class="col-md-5 text-md-right">
              <h6 class="mt-2">Total <%= global_labels[:receipts] %>: <%= @receipts.total_entries %></h6>
            </div>
          </div>
          <%= render 'index', {receipts: @receipts} %>
        </div>
      </div>
    </div>
    <% if @user.blank? %>
      <div class="col-md-3">
        <div class="d-md-none mt-3"></div>
        <%= render "filters" %>
      </div>
    <% end %>
  </div>
</div>
