<table class='table table-responsive'>
  <thead class="th-default">
    <tr>
      <th>Receipt ID</th>
      <th>Amount</th>
      <th>Project Unit</th>
      <th>Status</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @receipts.each do |receipt| %>
    <tr>
      <td><%= receipt.receipt_id %></td>
      <td><%= receipt.total_amount %></td>
      <td><%= receipt.project_unit.present? ? receipt.project_unit.name : '-' %></td>
      <td><%= receipt.status %></td>
      <td class="text-right">
        <% if receipt.status == 'success' %>
          <%= link_to 'Print', receipt_path(receipt) %> <!-- TODO: Implement this -->
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if ReceiptPolicy.new(current_user, Receipt.new(user: @user)).new? %>
  <% unless current_user.role?('user') %>
    <%= link_to 'New Receipt', new_admin_user_receipt_path(@user) %>
  <% end %>
<% end %>
