<div class="mb-5 mt-3">
<div class="px-4">
  <div class="row justify-content-center">
    <div class="<%= @lead.blank? ? 'col-md-9' : 'col-md-12' %>">
      <%= render 'breadcrumbs', {lead: @lead, project_unit: @project_unit} %>
      <% if current_client.cancellation_amount > 0 %>
      <div class="alert alert-danger">
        <%= I18n.t("controller.booking_details.receipts.form.refund_disclaimer") %>
      </div>
      <% end %>
      <% unless current_user.buyer? %>
        <% unless policy([ current_user_role_group, Receipt.new(user: @lead.user)]).new? %>
          <% if @lead.user.present? %>
            <div class="alert alert-primary mt-3">
              <% if @lead.user.confirmed? %>
              <%= I18n.t("controller.booking_details.receipts.form.kyc_before_payment") %>
              <% if Admin::UserKycPolicy.new(current_user, UserKyc.new(user: @lead.user)).new? %>
                <%= link_to I18n.t("global.link_to.add_element", name: global_labels['user_kyc_details']), new_admin_lead_user_kyc_path(@lead), class: "modal-remote-form-link" %>
              <% end %>
              <% else %>
              <%= I18n.t("controller.receipts.text.account_unconfirmed", name: global_labels['customer']) %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-7">
              <% if policy([ current_user_role_group, Receipt.new(user: @lead.user) ]).new? %>
              <% units_for_payments = @lead.project_units.in(status: ["blocked", 'booked_tentative']).all %>
              <% if units_for_payments.present? %>
              <% unless current_user.buyer? %>
              <div class="dropdown float-left mr-2">
                <a class="btn btn-primary dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= I18n.t("controller.receipts.text.add_to_blocked_units", name: global_labels['receipt']) %></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <% units_for_payments.each do |project_unit| %>
                  <%= link_to "#{project_unit.name}", new_admin_lead_booking_detail_receipt_path(@lead.id, project_unit.booking_detail.id), class: 'dropdown-item modal-remote-form-link' %>
                  <% end %>
                </div>
              </div>
              <% end %>
              <% end %>
              <% end %>
              <%
                if @lead.present? && !current_user.buyer?
                url_for_new_receipt = if @project_unit.booking_detail.present?
                  new_admin_lead_booking_detail_receipt_path(@lead, @project_unit.booking_detail)
                else
                  new_admin_lead_receipt_path(@lead)
                end
              %>
              <% if policy( [ :admin, Receipt.new(user: @lead.user) ]).new? %>
                <%= link_to I18n.t("controller.receipts.text.direct_receipt", name: global_labels['receipt'] ), url_for_new_receipt, class: 'btn btn-primary modal-remote-form-link' %>
              <% end %>
              <% end %>

              <% if policy( current_user_role_group, Receipt ]).export? && @receipt.blank? %>
                <div class="dropdown">
                  <a class="btn btn-light dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= I18n.t("global.link_to.export") %></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <%= link_to I18n.t("global.link_to.add_element", name: global_labels['receipts']), export_admin_receipts_path, class: 'dropdown-item' %>
                    <%= link_to I18n.t("global.active_filter_elements", name: global_labels['receipts']), export_admin_receipts_path(fltrs: params["fltrs"].as_json), class: 'dropdown-item' %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-md-5 text-md-right">
              <h6 class="mt-2"><%= I18n.t("global.link_to.total_count", name: global_labels[:receipts] ) %>: <%= @receipts.total_entries %></h6>
            </div>
          </div>
          <%= render 'index', {receipts: @receipts} %>
        </div>
      </div>
    </div>
    <% if @user.blank? %>
      <div class="col-md-3">
        <div class="d-md-none mt-3"></div>
        <%= render "filters" %>
      </div>
    <% end %>
  </div>
</div>
</div>
