<header>
  <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top fixed-top">
    <div class="container no-pd">
    <div class="header-logo">
      <%# if current_client.launchpad_portal %>
        <%#= link_to (current_client.logo.present? ? (image_tag current_client.logo.url, class: 'img-fluid position-absolute start-50 top-50 translate-middle', alt: "Logo") : "launchpad-logo.png"), 'https://beyondwalls.com/broker/', class: 'navbar-brand me-0'%>
      <%# else %>
        <%= link_to ("launchpad-logo.png"), root_path, class: 'navbar-brand me-0'%>
      <%# end %>
      </div>
      <% unless user_signed_in? %>  
        <div class="text-end">
          <% if current_client.try(:enable_channel_partners?) && !is_marketplace? %>
            <div class="dropdown hide-xs float-end register-dropdown">
              <div class="d-inline-block">
                <a class="dropdown-toggle p-style" href="javascript:;" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Register</a>
                <div class="dropdown-menu menu-top mobile-home-menu" aria-labelledby="navbarDropdown">
                  <%= link_to I18n.t("devise.keys.register_as.channel_partner"), new_channel_partner_path, class: "btn btn-primary btn-as-channel-partner text-start" %>
                  <%#= link_to "Register as Customer", register_path, class: "btn btn-primary btn-as-customer-partner text-start" %>
                </div>  
              </div>
            </div>
            <div class="d-inline-block">
              <%= link_to new_channel_partner_path, class: "reg-chnl-prtnr-btn show-xs p-style" do %>
              <%= image_tag 'user-alt-black.svg', alt: "User Info" %>
              <%=  I18n.t("devise.keys.register_as.channel_partner") %>
              <% end %>
            </div>
          <% end %>
          <% if devise_controller? && params[:action] == 'new' && marketplace? %>
            <%= link_to user_signup_path, class: "reg-chnl-prtnr-btn show-xs p-style" do %>
              <%= image_tag 'user-alt-black.svg', alt: "User Info" %>
              <%=  I18n.t("devise.keys.register_now") %>
            <% end %>
          
            <% if params[:action] == 'sign_in' %>
              <div class="d-inline-block">
                <%= link_to I18n.t("global.link_to.register_now"), register_path, class: "btn register-btn bg-primary show-xs p-style ms-3 px-3" %>
              </div>
            
              <div class="d-inline-block">
                <img src="<%= asset_path 'lock-black.svg' %>" alt="User Info">
                <%= link_to I18n.t("devise.keys.log_in"), new_session_path("user"), class: "p-style primary" %>
              </div>
            <% end %>

            <% if params[:action] == 'signup' %>
              <div class="d-inline-block">
                <%= link_to 'Sign in', new_user_session_path, {class: 'btn btn-primary', 'data-event-category': 'Header', 'data-event-action': 'Click', 'data-event-name': 'Login'} %>
              </div>
            <% end %>

          <% end %>
        </div>
      <% end %>
    </div>
  </nav>
</header>
