<div class="filter-inner modal-content ps-2 pe-2 fixed-header-footer">
  <div class="modal-header filter-header">
  <h5 class="modal-title title"><%= I18n.t("global.filter") %></h5>
    <a href="javascript:;" class="close-filter-btn btn-close"></a>
  </div>
    <%= form_tag url, method: "get", id: "notification_search_form" do %>
      <div class="filter-content modal-body ps-0 pe-0">
        <div class="row">
          <div class="mb-3 col-lg-12 col-xs-12 col-md-12 col-sm-12">
            <%= label_tag "fltrs[project_id]", t('mongoid.attributes.receipt.project_id'), class: "control-label" %>
            <%= select_tag "fltrs[project_id]", options_for_select(Project.where(Project.user_based_scope(current_user)).collect{|x| [x.name, x.id]}.sort{|x, y| x[0] <=> y[0]}, (params[:fltrs].present? ? params[:fltrs][:project_id] : "")), {prompt: I18n.t("global.select"), class: "selectize"} %>
          </div>
        </div>
      </div>
      <div class="filter-footer modal-footer text-end">
        <%= submit_tag I18n.t("global.apply"), class: "btn btn-primary f-save-btn db-small-btn bg-light-blue fn-500 float-end" %>
        <button type="button" class="btn btn-secondary f-cancel-btn float-end"><%= I18n.t("global.cancel") %></button>
      </div>
    <% end %>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    FormInitializer.init($("#notification_search_form"));
  });
<% end %>
