<table class='table my-customer-table responsive-tbl'>
  <thead class="th-default">
    <thead>
      <tr class="bg-gradient-cd white">
        <th><%= t('mongoid.attributes.push_notification.title') %></th>
        <th><%= t('mongoid.attributes.push_notification.content') %></th>
      </tr>
    </thead>
  </thead>
  <tbody>
    <% push_notifications.each do |push_notification| %>
      <tr>
        <td data-title=<%= t('mongoid.attributes.push_notification.title') %> >
          <%=  push_notification.title %>
        </td>
        <td data-title=<%= t('mongoid.attributes.push_notification.content') %> >
          <%= push_notification.content %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pt-2">
  <%= will_paginate push_notifications, list_classes: %w(pagination justify-content-center) %>
</div>
