<div class="collapse navbar-collapse float-right" id="iris_menu">
<ul class="navbar-nav ml-auto">
<% if policy(:dashboard).index? %>
  <li class="nav-item">
    <%= active_link_to "Dashboard", dashboard_path, active: :exclusive, class: "nav-link active" %>
  </li>
<% end %>
<% if policy([:admin, User]).index? %>
  <li class="nav-item">
    <%= active_link_to t('global.users'), admin_users_path, active: :inclusive, class: "nav-link" %>
  </li>
<% end %>

<% if policy([:admin, ChannelPartner]).index? %>
  <li class="nav-item">
    <%= active_link_to t('global.channel_partners'), channel_partners_path, active: :inclusive, class: "nav-link" %>
  </li>
<% end %>

<% if policy([:admin, UserRequest]).index? %>
  <li class="nav-item">
    <%= active_link_to t('global.user_requests'), admin_user_requests_path(request_type: "all"), active: :inclusive, class: "nav-link" %>
  </li>
<% end %>

<% if policy([:admin, BookingDetail]).index? %>
  <li class="nav-item">
    <%= active_link_to t('global.booking_details'), admin_booking_details_path, active: :inclusive, class: "nav-link" %>
  </li>
<% end %>

<% if policy([:admin, Receipt]).index? %>
  <li class="nav-item">
    <%= active_link_to t('global.receipts'), admin_receipts_path, active: :inclusive, class: "nav-link" %>
  </li>
<% end %>
<% if policy([:admin, Scheme]).index? %>
  <li class="nav-item">
    <%= active_link_to t('global.schemes'), admin_schemes_path, active: :inclusive, class: "nav-link" %>
  </li>
<% end %>
<% links = [] %>
<% if CustomPolicy.custom_methods.present? %>
  <% CustomPolicy.custom_methods.each do |method| %>
    <% if policy(:custom).send("#{method}?") %>
        <% links << {method: method.to_s.titleize, link: eval("custom_#{method}_path")} %>
      </li>
    <% end %>
  <% end %>
<% end %>
<% if links.present? %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Special Features
    </a>
    <div class="dropdown-menu menu-top" aria-labelledby="navbarDropdown">
      <% links.each do |link| %>
        <%= link_to link[:method], link[:link], class: "dropdown-item" %>
      <% end %>
    </div>
  </li>
<% end %>
<li class="nav-item dropdown">
<div class="user-info float-right show-xs">
<!-- <a href="javascript:;" class="message-info"><img src="<%#= asset_path 'envelope-black.svg' %>" alt="message"><span>2</span></a> -->
<div class="user-dropdown display-inline dropdown">
<img src="<%= asset_path 'user-alt-black.svg' %>" alt="User Info">
<a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Welcome <%= current_user.name %>
  </a>
  <div class="dropdown-menu user-menu-top" aria-labelledby="navbarDropdown">
    <%= link_to "Profile", edit_admin_user_path(current_user), class: "dropdown-item modal-remote-form-link" %>
    <%= link_to "Change Password", update_password_admin_user_path(current_user), class: "dropdown-item modal-remote-form-link" %>
    <%= link_to "Sign out", destroy_session_path(current_user), class: "dropdown-item", method: :delete %>
  </div>
</div>
</div>
</li>
</ul>
</div>
