
<% if policy(:dashboard).index? %>
  <% if ["admin","superadmin"].include?(current_user.role) %>

    <li class="nav-item d-none d-lg-block accordion">
      <div class="accordion-item bg-menu rounded-none border-0 dropdown">
        <%= active_link_to t('controller.dashboard.index.link_name'), "javascript:;", active: :exclusive, class: "nav-link pl-0 pr-0 dropdown-toggle", data: {toggle: 'dropdown'}, id: "dropdownMenuLeft", "data-bs-toggle": "collapse", "data-bs-target":"#dashboardMenu", "aria-expanded": "false" %>
        <div id="dashboardMenu" class="accordion-collapse collapse" aria-labelledby="dropdownMenuLeft">
          <%= link_to t('controller.dashboard.index.link_name'), dashboard_path(params: {role: current_user.role}), class: "" %>
          <%= link_to t('controller.dashboard.index.billing_team_link_name'), dashboard_path(params: {role: "billing_team"}), class: "" %>
          <%= link_to t('controller.dashboard.index.cp_admin_link_name'), dashboard_path(params: {role: "cp_admin"}), class: "" %>
        </div>
      </div>
    </li>
  <% else %>
    <li class="nav-item">
      <%= active_link_to t('controller.dashboard.index.link_name'), dashboard_path, active: :exclusive, class: "nav-link pl-0 pr-0" %>
    </li>
  <% end %>
<% end %>

<% if policy([:admin, Project]).index? %>
  <li class="nav-item">
    <%= active_link_to t('controller.projects.index.link_name'), admin_projects_path, active: :inclusive, class: "nav-link pl-0 pr-0" %>
  </li>
<% end %>

<% if policy([:admin, ProjectUnit]).index? %>
  <li class="nav-item">
    <%= active_link_to t('controller.project_units.index.link_name'), admin_project_units_path, active: :inclusive, class: "nav-link pl-0 pr-0" %>
  </li>
<% end %>

<% if current_user.role.in?(User::ALL_PROJECT_ACCESS) %>
  <% if policy([:admin, User]).index? %>
    <li class="nav-item">
      <%= active_link_to t('controller.users.index.link_name'), admin_users_path, active: :inclusive, class: "nav-link pl-0 pr-0" %>
    </li>
  <% end %>
<% end %>

<% if policy([:admin, Lead]).index? %>
  <li class="nav-item">
    <%= active_link_to t('controller.leads.index.link_name'), admin_leads_path, active: :inclusive, class: "nav-link pl-0 pr-0" %>
  </li>
<% end %>

<% if false # policy([:admin, CpLeadActivity]).index? %>
  <li class="nav-item">
    <%= active_link_to t('controller.cp_lead_activities.index.link_name'), admin_cp_lead_activities_path, active: :inclusive, class: "nav-link pl-0 pr-0" %>
  </li>
<% end %>

<% if policy([:admin, BookingDetail]).index? %>
  <li class="nav-item">
    <%= active_link_to t('controller.booking_details.index.link_name'), admin_booking_details_path, active: :inclusive, class: "nav-link pl-0 pr-0" %>
  </li>
<% end %>

<!--
  <%# if policy(:custom).inventory? %>
  <li class="nav-item">
  <%#= active_link_to t('controller.inventory.index.link_name'), custom_inventory_path, active: :inclusive, class: "nav-link pl-0 pr-0" %>
  </li>
  <%# end %>
-->

<% if policy([:admin, Receipt]).index? %>
  <li class="nav-item">
    <%= active_link_to t('controller.receipts.index.link_name'), admin_receipts_path, active: :inclusive, class: "nav-link pl-0 pr-0" %>
  </li>
<% end %>

<% if policy([:admin, Invoice]).index? %>
  <li class="nav-item">
    <%= active_link_to t('controller.invoices.index.link_name'), admin_invoices_path, active: :inclusive, class: "nav-link pl-0 pr-0" %>
  </li>
<% end %>

<% if policy([:admin, ChannelPartner]).index? %>
  <li class="nav-item">
    <%= active_link_to t('controller.channel_partners.index.link_name'), channel_partners_path, active: :inclusive, class: "nav-link pl-0 pr-0" %>
  </li>
<% end %>

<%= render 'layouts/navbar/custom_links' %>

<% if current_user %>
  <li class="lang-menu nav-item">
    <div class="btn-group dropdown d-lg-block">
      <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownLang" href="javascript:;">
        <%= t("language.#{params[:locale] || I18n.default_locale }", default: "language.en")%>
      </a>
      <div class="dropdown-menu dropdown-menu-right menu-top"  aria-labelledby="dropdownLang">
        <% ['en', 'mr'].each do |language| %>
          <%= link_to t("language.#{language}"), url_for(params.permit!.merge(locale: language) ), class: 'dropdown-item' %>
        <% end %>
      </div>
    </div>
  </li>
<% end %>
<% if policy([:admin, current_user]).move_to_next_state? %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('a.break, a.available').on('ajax:success', function(event) {
        setTimeout(function() {
          window.location.reload();
        }, 3000);
      });
    });
  <% end %>
<% end %>
