<%= simple_form_for(payment_type, local: true, url: url, remote: true, html: { novalidate: false, class: 'modal-remote-form validate-form', data: { 'resource-type': PaymentType.model_name.human, type: :json }, id: 'payment_type_form' } ) do |f| %>
  <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="title">
            <%= t("helpers.#{action_name}.link_name", model: PaymentType.model_name.human) %>
            </h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body theme-form">
          <div class="mb-3">
            <%= f.input :name, required: true, disabled: !policy([current_user_role_group, payment_type]).editable_field?("name") %>
          </div>
          <div class="mb-3">
            <%= f.input :formula, disabled: !policy([current_user_role_group, payment_type]).editable_field?("formula") %>
          </div>
          <div class="mb-3">
            <%= f.input :absolute_value, disabled: !policy([current_user_role_group, payment_type]).editable_field?("absolute_value") %>
          </div>
          <div class="mb-3">
            <%= f.label :project_id %>
            <%= f.select :project_id, Project.all.collect{|x| [x.ds_name, x.id]}, {prompt: 'Select'}, class: "selectize-remote", data: {url: admin_projects_path}, disabled: (policy([current_user_role_group, payment_type]).editable_field?("project_id") ? false : true) %>
          </div>
        <div class="modal-footer text-end">
          <%= f.submit I18n.t("global.save"), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
