<%= simple_form_for(@cp_lead_activity, local: true, url: url, remote: true, html: { novalidate: false, class: 'modal-remote-form validate-form', data: { 'resource-type': CpLeadActivity.model_name.human, type: :json }, id: 'cp_lead_activity_form' } ) do |f| %>
  <div class="modal fade right fixed-header-footer" role="dialog" id="modal-remote-form-inner">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="title">
            <%= t("helpers.#{action_name}.link_name", model: CpLeadActivity.model_name.human) %>
            </h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body theme-form">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <%= f.label :sitevisit_status, class: 'control-label' %>
                <%= f.select :sitevisit_status, CpLeadActivity::SITEVISIT_STATUS.collect{|x| [x.titleize, x] }, {prompt: "Select"}, class: 'selectize', disabled: !policy(@cp_lead_activity).editable_field?("sitevisit_status") %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3 position-relative">
                <%= f.label :sitevisit_date %>
                <% date = (f.object.sitevisit_date.present? ? Date.parse(f.object.sitevisit_date).strftime("%d/%m/%Y") : "") %>
                <%= f.text_field :sitevisit_date, class: 'form-control datepicker', type:'text', data: {"default-date": date}, value: date, disabled: !policy(@cp_lead_activity).editable_field?("sitevisit_date") %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.label :count_status, class: 'control-label' %>
              <%= f.select :count_status, CpLeadActivity::COUNT_STATUS.collect{|x| [x.titleize, x] }, {prompt: "Select"}, class: 'selectize', disabled: !policy(@cp_lead_activity).editable_field?("count_status") %>
            </div>
            <div class="col-md-6">
              <div class="mb-3 position-relative">
                <%= f.label :expiry_date %>
                <% date = (f.object.expiry_date.present? ? f.object.expiry_date.strftime("%d/%m/%Y") : "") %>
                <%= f.text_field :expiry_date, class: 'form-control datepicker', type:'text', data: {"default-date": date}, value: date, disabled: !policy(@cp_lead_activity).editable_field?("expiry_date") %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer text-end">
          <%= f.submit "Save", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function(){
    FormInitializer.init($("#cp_lead_activity_form"));
  });
</script>
