<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-title pt-1">
          <h1 class="title icon-set icon-key-black">
            Lead Activities
          </h1>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12 col-md-6 col-sm-12 no-pd">
        <div class="table-btn-set float-right pb-3">
          <button disabled="disabled" class="db-small-btn light-blue bg-white fn-400"><%= t('global.total')%> : <%= @cp_lead_activities.total_entries %></button>
          <% if policy([:admin, Lead]).new?(current_project.try(:id).try(:to_s)) && current_user.role?(:channel_partner) %>
            <%= link_to t('helpers.new.link_name', model: Lead.model_name.human), new_admin_lead_path, class: 'db-small-btn light-blue bg-white fn-400 modal-remote-form-link btn unset-width' %>
          <% end %>
          <button class="db-filter-btn white fn-500" type="button">
            <i class="icon-set icon-filter-light-blue"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 no-pd">
        <div class="box-card relative">
          <%= render 'index', {cp_lead_activities: @cp_lead_activities} %>
        </div>
        <div class="filter-box">
          <%= render "filters" %>
        </div>
      </div>
    </div>
  </div>
</section>
