<% if user_signed_in? %>

<% if params[:action] == 'select_project' %>
<%= render "layouts/partials/before_login_header" %>
<% else %>
<header>
  <div class="header-leftbar">
    <div class="leftbar-wrap">
      <div class="header-menu">
        <ul class="list-unstyled ">
          <%= render "layouts/navbar/#{current_user_role_group}" %>
        </ul>
      </div>
    </div>
  </div>
  <div class="header-topbar">
    <div class="header-inner">
    <a href="javascript:;" class="p-2 py-1 float-start toggle-side-menu mt-4 me-3 ms-2">
        <div class="burger-menu menu-btn pull-right" data-event-category="Header" data-event-action="Click"
          data-event-name="Menu">
          <div class="bar1" data-event-category="Header" data-event-action="Click" data-event-name="Menu"></div>
          <div class="bar2" data-event-category="Header" data-event-action="Click" data-event-name="Menu"></div>
          <div class="bar3" data-event-category="Header" data-event-action="Click" data-event-name="Menu"></div>
        </div>
      </a>
      <div class="header-logo float-start">
        <%= link_to (current_client.logo.present? ? (image_tag current_client.logo.url, class: 'img-fluid position-absolute start-50 top-50 translate-middle', alt: "Logo") : "launchpad-logo.png"), dashboard_path, class: 'navbar-brand me-0'%>
      </div>
      
      <div class="float-start">
        <%# <h1 class="page-title">Dashboard</h1> %>
      </div>
      
      <div class="d-sm-inline-block float-end">
        <%# <div class="header-search d-sm-inline-block">
          <a href="javascript:;" class="header-search-icon"><span class="icon-search"></span></a>
        </div>
        <div class="header-notify d-sm-inline-block px-4">
          <a href="javascript:;"><i class="fa fa-bell fill-black"></i><span class="notify-no">45</span></a>
        </div>
        <div class="header-add-new d-sm-inline-block px-3">
          <a href="javascript:;"><i class="fa fa-plus-square fill-primary wd-24 ht-24"></i></a>
        </div> %>
        <div class="account-menu d-sm-inline-block dropdown">
          <a href="javascript:;" class="dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span
              class="user-first-ltr"><%= "#{current_user.first_name.try(:[], 0)}#{current_user.last_name.try(:[], 0)}" %></span>
            <span class="user-name"><%= t('welcome', name: current_user.first_name ) %></span>
          </a>
          <div class="dropdown-menu user-menu-top" aria-labelledby="navbarDropdown">
            <%= link_to t('controller.users.profile.link_name', role: User.human_attribute_name("role.#{current_user.role}")), [:edit, current_user_role_group, current_user], class: "dropdown-item modal-remote-form-link" %>
            <%= link_to t('controller.users.change_password.link_name'), [:update_password, current_user_role_group, current_user], class: "dropdown-item modal-remote-form-link" %>
            <% if policy([:admin, current_user]).move_to_next_state? %>
            <% if current_user.may_break? %>
            <%= link_to 'Take Break', move_to_next_state_admin_user_path(current_user, status: 'break', format: :json), method: 'patch', remote: true, data: { disable_with: 'Taking Break...' }, class: 'dropdown-item break move-to-next-state' %>
            <% elsif current_user.may_available? %>
            <%= link_to 'Resume Work', move_to_next_state_admin_user_path(current_user, status: 'available', format: :json), method: 'patch', remote: true, data: { disable_with: 'Resuming Work...' }, class: 'dropdown-item available move-to-next-state' %>
            <% end %>
            <% end %>
            <%= link_to t('sign_out', scope: "devise"), destroy_session_path(current_user), class: "dropdown-item", method: :delete %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<% end %>
<% else %>
<%= render "layouts/partials/before_login_header" %>
<% end %>

<%= javascript_tag do %>
$('document').ready(function(){
var alert = <%= raw alert.to_json %>
var notice = <%= raw notice.to_json %>
if(notice){
Amura.global_success_handler(notice);
} else if(alert){
Amura.global_error_handler(alert);
}
});
<% end %>