<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg fixed-top navbar navbar-dark bg-secondary">
    <a class="navbar-brand" href="javascript:;"><%= @client.name %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle main navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav mr-auto">
        <% if policy(:dashboard).index? %>
        <li class="nav-item">
          <a class="nav-link" href="<%= dashboard_path %>">Dashboard</a>
        </li>
        <% end %>
        <% if current_user.buyer? && policy(:dashboard).project_units? && ProjectUnitPolicy.new(current_user, ProjectUnit).block? %>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_search_path %>">Apartment Selector</a>
        </li>
        <% end %>
        <% if UserPolicy.new(current_user, User).index? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= admin_users_path %>"><%= global_labels['users'] %></a>
          </li>
        <% end %>
        <% if UserRequestPolicy.new(current_user, UserRequest).index? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= user_user_requests_path %>"><%= global_labels['user_requests'] %></a>
          </li>
        <% end %>
        <% if UserKycPolicy.new(current_user, UserKyc).index? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= user_user_kycs_path %>"><%= global_labels['user_kycs'] %></a>
          </li>
        <% end %>
        <% if policy(:dashboard).receipts? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= user_receipts_path %>">Receipts</a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" href="<%= dashboard_faqs_path %>">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= dashboard_rera_path %>">RERA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= dashboard_tds_process_path %>">TDS Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= dashboard_terms_and_condition_path %>">Terms & Conditions</a>
        </li>
      </ul>
      <ul class="navbar-nav pull-right">
        <li class="nav-item">
          <%= link_to "Profile", edit_admin_user_path(current_user), class: "nav-link modal-remote-form-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_session_path(current_user), class: "nav-link", method: :delete %>
        </li>
      </ul>
    </div>
  </nav>
<% end %>
<div class="pt-5 mt-4"></div>
<% if notice %>
  <p class="alert alert-success notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
