<% if user_signed_in? %>
  <nav id="top_navigation" class="navbar navbar-expand-lg fixed-top navbar navbar-light bg-white border-bottom">
    <a class="navbar-brand" href="<%= home_path(current_user) %>" title="<%= current_project.name %> | <%= current_client.name %>">
      <img src="<%= asset_path current_client.logo.url %>" class="img-responsive d-none d-sm-block">
      <img src="<%= asset_path current_client.mobile_logo.url %>" class="img-responsive d-sm-none">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle main navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav ml-auto mt-2">
        <% if policy(:dashboard).index? %>
        <li class="nav-item">
          <%= active_link_to "Dashboard", dashboard_path, active: :exclusive, class: "nav-link" %>
        </li>
        <% end %>
        <% if current_user.buyer? && policy(:dashboard).project_units? && ProjectUnitPolicy.new(current_user, ProjectUnit.new(user: current_user, status: "available")).hold? %>
        <li class="nav-item">
          <%= active_link_to "Apartment Selector", new_search_path, active: :inclusive, class: "nav-link" %>
        </li>
        <% end %>
        <% if current_user.buyer? && policy(Receipt.new(user: current_user)).direct? %>
        <li class="nav-item">
          <%= active_link_to "Make #{global_labels['receipt']}", direct_user_receipts_path, active: :inclusive, class: 'nav-link modal-remote-form-link' %>
        </li>
        <% end %>
        <% if UserPolicy.new(current_user, User).index? %>
          <li class="nav-item">
            <%= active_link_to global_labels['users'], admin_users_path, active: :inclusive, class: "nav-link" %>
          </li>
        <% end %>
        <% if ChannelPartnerPolicy.new(current_user, ChannelPartner).index? %>
          <li class="nav-item">
            <%= active_link_to global_labels['channel_partners'], channel_partners_path, active: :inclusive, class: "nav-link" %>
          </li>
        <% end %>
        <% if UserRequestPolicy.new(current_user, UserRequest).index? %>
          <li class="nav-item">
            <%= active_link_to global_labels['user_requests'], user_user_requests_path, active: :inclusive, class: "nav-link" %>
          </li>
        <% end %>
        <% if UserKycPolicy.new(current_user, UserKyc).index? %>
          <li class="nav-item">
            <%= active_link_to global_labels['user_kycs'], user_user_kycs_path, active: :inclusive, class: "nav-link" %>
          </li>
        <% end %>
        <% if policy(:dashboard).receipts? %>
          <li class="nav-item">
            <%= active_link_to global_labels['receipts'], user_receipts_path, active: :inclusive, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
              <%= icon "far", "user-circle", class: "text-muted fa-2x" %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to "Profile", edit_admin_user_path(current_user), class: "dropdown-item modal-remote-form-link" %>
              <%= link_to "Change Password", update_password_user_path(current_user), class: "dropdown-item modal-remote-form-link" %>
              <%= link_to "Sign out", destroy_session_path(current_user), class: "dropdown-item", method: :delete %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <nav id="bottom_navigation" class="navbar navbar-expand-lg navbar-light bg-white fixed-bottom border-top">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <span class="small">
            <%= current_project.name %> is registered via MahaRERA No.: <%= current_project.rera_registration_no %> & is available on <a href="https://maharera.mahaonline.gov.in" target="_blank">https://maharera.mahaonline.gov.in</a>.
          </span>
        </li>
      </ul>
      <ul class="navbar-nav pull-right">
        <li class="nav-item">
          <%= active_link_to "FAQs", dashboard_faqs_path, active: :exclusive, class: "small nav-link" %>
        </li>
        <li class="nav-item">
          <%= active_link_to "RERA", dashboard_rera_path, active: :exclusive, class: "small nav-link" %>
        </li>
        <li class="nav-item">
          <%= active_link_to "TDS Process", dashboard_tds_process_path, active: :exclusive, class: "small nav-link" %>
        </li>
        <li class="nav-item">
          <%= active_link_to "Terms & Conditions", dashboard_terms_and_condition_path, active: :exclusive, class: "small nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Powered by Amura", "https://www.amuratech.com", class: "small nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
  <div class="body-padding"></div>
<% end %>
<% if notice %>
  <p class="alert alert-success notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
