<header>
  <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top fixed-top">
    <div class="container no-pd">
      <a class="navbar-brand" href="#">IRIS</a>
      <% if user_signed_in? %>
        <%= render "layouts/navbar/#{current_user_role_group}" %>
      <% else %>
        <div class="text-right">
          <div class="user-info login-btn float-right hide-xs">
            <div class="display-inline">
              <img src="<%= asset_path 'lock-black.svg' %>" alt="User Info">
              <%= link_to "Log in", new_session_path("user"), class: "p-style" %>
            </div>
          </div>
          <div class="dropdown hide-xs float-right register-dropdown">
            <div class="display-inline">
                <a class="dropdown-toggle p-style" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Register</a>
                <div class="dropdown-menu menu-top" aria-labelledby="navbarDropdown">
                    <%= link_to "Register as Channel Partner", new_channel_partner_path, class: "dropdown-item" %>
                    <%= link_to "Register Now", register_path, class: "btn btn-primary" %><img src="<%= asset_path 'user-alt-black.svg' %>" alt="User Info">
                </div>
              </div>
            </div>
          <div class="display-inline">
            <%= link_to image_tag(asset_path 'user-alt-black.svg', alt: "User Info") + " Register as Channel Partner", new_channel_partner_path, class: "reg-chnl-prtnr-btn show-xs p-style"%>
          </div>
          <div class="display-inline ml-2">
            <%= link_to "Register Now", register_path, class: "register-btn show-xs" %>
          </div>

         <div class="user-info login-btn float-right show-xs mt-2">
          <div class="display-inline">
            <img src="<%= asset_path 'lock-black.svg' %>" alt="User Info">
            <%= link_to "Log in", new_session_path("user"), class: "p-style" %>
          </div>
        </div>
        </div>
      <% end %>
    </div>
  </nav>
  <div class="container">
  <% if notice %>
    <p class="alert alert-success notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>
</header>
