<nav id="top_navigation" class="navbar navbar-expand-lg fixed-top navbar navbar-light bg-white border-bottom">
  <a class="navbar-brand" href="<%= home_path(current_user) %>" title="<%= current_client.name %>">
    <img src="<%= asset_path current_client.logo.url %>" class="img-responsive d-none d-lg-block">
    <img src="<%= asset_path current_client.mobile_logo.url %>" class="img-responsive d-lg-none">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle main navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto mt-2">
      <% if user_signed_in? %>
        <% if policy(:dashboard).index? %>
        <li class="nav-item">
          <%= active_link_to "Dashboard", dashboard_path, active: :exclusive, class: "nav-link" %>
        </li>
        <% end %>
        <% if policy(ProjectUnit).index? %>
        <li class="nav-item">
          <%= active_link_to "#{global_labels[:project_units]}", admin_project_units_path, active: :exclusive, class: "nav-link" %>
        </li>
        <% end %>
        <% if current_user.buyer? && ProjectUnitPolicy.new(current_user, ProjectUnit.new(user: current_user, status: "available")).hold? %>
        <li class="nav-item">
          <%= active_link_to "Apartment Selector", new_search_path, active: :inclusive, class: "nav-link" %>
        </li>
        <% end %>
        <% if current_user.buyer? && policy(Receipt.new(user: current_user)).direct? %>
        <li class="nav-item">
          <%= active_link_to "Make #{global_labels['receipt']}", direct_user_receipts_path, active: :inclusive, class: 'nav-link modal-remote-form-link' %>
        </li>
        <% end %>
        <% if UserPolicy.new(current_user, User).index? %>
          <li class="nav-item">
            <%= active_link_to global_labels['users'], admin_users_path, active: :inclusive, class: "nav-link" %>
          </li>
        <% end %>
        <% if ChannelPartnerPolicy.new(current_user, ChannelPartner).index? %>
          <li class="nav-item">
            <%= active_link_to global_labels['channel_partners'], channel_partners_path, active: :inclusive, class: "nav-link" %>
          </li>
        <% end %>
        <% if UserRequestPolicy.new(current_user, UserRequest).index? %>
          <li class="nav-item">
            <%= active_link_to global_labels['user_requests'], (current_user.buyer? ? user_user_requests_path(@user, request_type: "all") : admin_user_requests_path(request_type: "all")), active: :inclusive, class: "nav-link" %>
          </li>
        <% end %>
        <% if UserKycPolicy.new(current_user, UserKyc).index? %>
          <li class="nav-item">
            <%= active_link_to global_labels['user_kycs'], user_user_kycs_path, active: :inclusive, class: "nav-link" %>
          </li>
        <% end %>
        <% if ReceiptPolicy.new(current_user, Receipt).index? %>
          <li class="nav-item">
            <%= active_link_to global_labels['receipts'], user_receipts_path, active: :inclusive, class: "nav-link" %>
          </li>
        <% end %>
        <% links = [] %>
        <% if CustomPolicy.custom_methods.present? %>
          <% CustomPolicy.custom_methods.each do |method| %>
            <% if policy(:custom).send("#{method}?") %>
                <% links << {method: method.to_s.titleize, link: eval("custom_#{method}_path")} %>
              </li>
            <% end %>
          <% end %>
        <% end %>
        <% if SchemePolicy.new(current_user, Scheme).index? %>
          <li class="nav-item">
            <%= active_link_to global_labels['schemes'], admin_schemes_path, active: :inclusive, class: "nav-link" %>
          </li>
        <% end %>
        <% if ['user', 'employee_user', 'management_user'].include?(current_user.role)%>
          <li class="nav-item">
            <%= link_to 'Email', emails_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to 'Sms', smses_path, class: "nav-link"%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Email', admin_emails_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to 'Sms', admin_smses_path, class: "nav-link"%>
          </li>
        <% end %>
        <% if links.present? %>
          <li class="nav-item d-none d-lg-block">
            <div class="dropdown">
              <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= global_labels[:custom] %></a>
              <div class="dropdown-menu dropdown-menu-right">
                <% links.each do |link| %>
                  <%= link_to link[:method], link[:link], class: "dropdown-item" %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
        <li class="nav-item d-none d-lg-block" style="margin-top:-5px;">
          <div class="dropdown">
            <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <%= icon "far", "user-circle", class: "text-muted fa-2x" %>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to "Profile", edit_admin_user_path(current_user), class: "dropdown-item modal-remote-form-link" %>
              <%= link_to "Change Password", update_password_user_path(current_user), class: "dropdown-item modal-remote-form-link" %>
              <%= link_to "Sign out", destroy_session_path(current_user), class: "dropdown-item", method: :delete %>
            </div>
          </div>
        </li>
        <% if links.present? %>
          <% links.each do |link| %>
            <li class="nav-item d-lg-none">
              <%= link_to link[:method], link[:link], class: "nav-link" %>
            </li>
          <% end %>
        <% end %>
        <li class="nav-item d-lg-none">
          <%= link_to "Profile", edit_admin_user_path(current_user), class: "nav-link modal-remote-form-link" %>
        </li>
        <hr/>
        <li class="nav-item d-lg-none">
          <%= link_to "Change Password", update_password_user_path(current_user), class: "nav-link modal-remote-form-link" %>
        </li>
        <%= bottom_navigation('d-lg-none') %>
        <li class="nav-item d-lg-none">
          <%= link_to "Sign out", destroy_session_path(current_user), class: "nav-link", method: :delete %>
        </li>
        <hr/>
        <li class='nav-item d-lg-none'>
          <%= link_to 'Powered by Amura', 'https://www.amuratech.com', class: 'small nav-link', target: "_blank" %>
          <div class="d-md-none mt-3"></div>
        </li>
      <% else %>
        <% if current_client.enable_channel_partners? %>
        <li class="nav-item mt-3 mt-md-0">
          <%= link_to "Register as Channel Partner", new_channel_partner_path, class: "mr-2 btn btn-secondary" %>
        </li>
        <% end %>
        <li class="nav-item mt-1 mt-md-0">
          <%= link_to "Register Now", register_path, class: "btn btn-primary" %>
        </li>
        <%= bottom_navigation('d-lg-none') %>
        <li class='nav-item ml-md-3'>
          <%= link_to "Log in", new_session_path("user"), class: "nav-link" %>
        </li>
        <hr/>
        <li class='nav-item d-lg-none'>
          <%= link_to 'Powered by Amura', 'https://www.amuratech.com', class: 'small nav-link', target: "_blank" %>
          <div class="d-md-none mt-3"></div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<%= render "layouts/navbar_footer" %>
<div class="body-padding"></div>
<div class="container">
  <% if notice %>
    <p class="alert alert-success notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>
