<!DOCTYPE html>
<html>
  <head>
    <title><%= @booking_detail.project_unit.project.present? ? "#{@booking_detail.project_unit.project.name} | " : "" %><%= @booking_detail.creator&.booking_portal_client&.name %></title>
    <%= wicked_pdf_stylesheet_link_tag 'dashboard' %>
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
