<!DOCTYPE html>
<html>
  <head>
    <title>BookingPortal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_tag do %>
      <% if user_signed_in? %>
        if(typeof App === "undefined"){
          App = {};
        }
        App.current_user = <%= raw current_user.to_json %>;
      <% end %>
    <% end %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#">Booking Portal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="<%= after_sign_in_path_for(current_user) %>">Dashoard</a>
            </li>
            <% if UserPolicy.new(current_user, User).index? %>
              <li class="nav-item">
                <%= link_to "#{global_labels['users']}", admin_users_path, class: 'nav-link' %>
              </li>
            <% end %>
            <% if ReceiptPolicy.new(current_user, Receipt).index? %>
              <li class="nav-item">
                <%= link_to "#{global_labels[:receipts]}", admin_receipts_path, class: 'nav-link' %>
              </li>
            <% end %>
            <% if ProjectUnitPolicy.new(current_user, ProjectUnit).index? %>
              <li class="nav-item">
                <%= link_to 'Units', admin_project_units_path, class: 'nav-link' %>
              </li>
            <% end %>
            <% if UserRequestPolicy.new(current_user, UserRequest).index? %>
              <li class="nav-item">
                <%= link_to "#{global_labels[:user_requests]}", admin_user_requests_path, class: 'nav-link' %>
              </li>
            <% end %>
            <% if ChannelPartnerPolicy.new(current_user, ChannelPartner).index? %>
              <li class="nav-item">
                <%= link_to "#{global_labels[:channel_partners]}", channel_partners_path, class: 'nav-link' %>
              </li>
            <% end %>
          <% end %>
        </ul>
        <ul class="navbar-nav mr-0">
          <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, method: 'delete', class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid mt-3">
      <%= yield :breadcrumbs %>
      <% if notice.present? %>
        <div class="alert alert-info">
          <%= notice %>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="alert alert-info">
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
