<!DOCTYPE html>
<html>
  <head>
    <title>BookingPortal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag do %>
      <% if user_signed_in? %>
        if(typeof App === "undefined"){
          App = {};
        }
        App.current_user = <%= raw current_user.to_json %>;
      <% end %>
    <% end %>
  </head>
  <body>
    Welcome to Admin Panel<br/>
    <% if user_signed_in? %>
      <% if UserPolicy.new(current_user, User).index? %>
        <%= link_to 'Users', admin_users_path %>
      <% end %>
      <% if policy(:dashboard).project_units? %>
        <%= link_to 'Units', dashboard_project_units_path %>
      <% end %>
      <%= link_to 'Logout', destroy_user_session_path, method: 'delete' %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
