<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BookingPortal</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <%= javascript_tag do %>
      <% if user_signed_in? %>
        if(typeof App === "undefined"){
          App = {};
        }
        App.current_user = <%= raw current_user.to_json %>;
      <% end %>
      <% if Rails.env.development? || Rails.env.staging? %>
      Pusher.logToConsole = true;
      <% end %>
    <% end %>
  </head>
  <body>
  <%if params[:controller] != 'dashboard' %>
    <div class="filter-icon visible-xs">
      <img src="<%= asset_path 'filter-outline.png'%>" class="img-responsive">
    </div>
  <% end %>
    <div class="notification-header">
        <div class="col-12">
          <div class="container-fluid">
            <div class="pull-left left-wrapper">
              <% if params[:controller] == "dashboard" && params[:action] == "index" %>
                <span class="subTitle bold">Dashboard</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
              <% elsif params[:controller] == "dashboard" && params[:action] == "project_units" %>
                <span class="subTitle  bold">Apartment Selector</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
              <% elsif params[:controller] == "dashboard" && params[:action] == "checkout" %>
                <span class="subTitle  bold">Proceed To Payment</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
              <% elsif params[:controller] == "user_kycs" %>
                <span class="subTitle  bold">User KYCs</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
              <% elsif params[:controller] == "receipts" && params[:action] == "index" %>
                <span class="subTitle  bold">Payments</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
              <% elsif params[:controller] == "admin/users"%>
                <span class="subTitle  bold">Users</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
              <% elsif params[:controller] == "channel_partners" %>
                <span class="subTitle  bold">Partner Registerations</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
              <% elsif params[:controller] == "admin/user_requests" %>
                <span class="subTitle  bold">Cancellation Request</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
              <% elsif params[:controller] == "admin/project_units" %>
                <span class="subTitle  bold">Units</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
              <% elsif params[:controller] == "dashboard" && params[:action] == "project_units_3d"  %>
                <span class="subTitle  bold">3D Apartment Selector</span>
              <% else %>
                <span class="subTitle  bold">Dashboard</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
              <% end %>
            </div>
            <!-- <div class="pull-left left-wrapper">
                <span class="subTitle white bold">Dashboard</span> <span class="white f16">Welcome <%= current_user.name %></span>
            </div> -->
            <div class="pull-right right-wrapper">
              <!-- <div class="dashboard-notify pull-left">
                  <div class="notification-count">1</div>
                  <div class="notification-dropdown-wrapper">
                      <div class="notification-dropdown">
                        <div class="title">7 Days Remaining</div>
                        <p>Pay withing 7 days or the unit will be released</p>
                      </div>
                  </div>
              </div> -->
              <div class="pull-left">
                <a href="/admin/users/new" class="add-booking-btn">
                  Add Booking
                </a>
                <span class="hidden-xs"><img src="<%= asset_path 'usernew.png'%>" class="img-responsive"> &nbsp;

                  <%#= link_to "Welcome " + current_user.name, edit_admin_user_path(current_user) , class:'white user-name'%>
                </span>
                <!-- <span>
                  <img src="<%= asset_path 'logo2.png' %>" class="img-responsive">
                </span> -->
              </div>
            <div class="clearfix"></div>
          </div>
        </div>
    </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="javascript:;"><img src="<%= asset_path "logo-edge.png" %>" class="img-responsive" style="padding:0 5px;">
        <div class="rera-id">RERA Ack. No.: PR/KN/180119/002674</div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="<%= after_sign_in_path_for(current_user) %>"><i class="fa fa-th-large" aria-hidden="true"></i> Dashoard</a>
            </li>
            <% if UserPolicy.new(current_user, User).index? %>
              <li class="nav-item">
                <%= link_to "<span><i class='fa fa-user' aria-hidden='true'></i> Users & Customer</span>".html_safe, admin_users_path, class: 'nav-link' %>
              </li>
            <% end %>
            <% if UserPolicy.new(current_user, User).index? %>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard/3d-apartment-selector">
                  <span><i class='fas fa-cube'></i> 3D Apartment Selector</span>
                </a>
                <%#= link_to "<span><i class='fas fa-cube'></i> 3D Apartment Selector</span>".html_safe, admin_users_path, class: 'nav-link' %>
              </li>
            <% end %>
            <% if ReceiptPolicy.new(current_user, Receipt).index? %>
              <li class="nav-item">
                <%= link_to "<span><i class='far fa-money-bill-alt' aria-hidden='true'></i> Payments</span>".html_safe, admin_receipts_path, class: 'nav-link' %>
              </li>
            <% end %>
            <% if ProjectUnitPolicy.new(current_user, ProjectUnit).index? %>
              <li class="nav-item">
                <%= link_to "<span><i class='far fa-building' aria-hidden='true'></i> Unit</span>".html_safe, admin_project_units_path, class: 'nav-link' %>
              </li>
            <% end %>
            <% if DiscountPolicy.new(current_user, Discount).index? %>
              <li class="nav-item">
                <%= link_to "<span><i class='far fa-coupon' aria-hidden='true'></i> Discounts</span>".html_safe, admin_discounts_path, class: 'nav-link' %>
              </li>
            <% end %>
            <% if UserRequestPolicy.new(current_user, UserRequest).index? %>
              <li class="nav-item">
                <%= link_to "<span><i class='fa fa-ban' aria-hidden='true'></i> Cancellation Requests</span>".html_safe, admin_user_requests_path, class: 'nav-link' %>
              </li>
            <% end %>
            <% if ChannelPartnerPolicy.new(current_user, ChannelPartner).index? %>
              <li class="nav-item">
                <%= link_to "<span><i class='fa fa-users' aria-hidden='true'></i> Partners Registration</span>".html_safe, channel_partners_path, class: 'nav-link' %>
              </li>
            <% end %>
             <li class="nav-item">
              <%= link_to "<span><i class='fas fa-sign-out-alt' aria-hidden='true'></i> Logout</span>".html_safe, destroy_user_session_path, method: 'delete', class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
        <!-- <ul class="navbar-nav mr-0">

        </ul> -->
      </div>
    </nav>
    <section class="center-section">
      <div class="container-fluid mt0 padding0">
        <%= yield :breadcrumbs %>
        <% if notice.present? %>
          <div class="alert alert-info">
            <%= notice %>
          </div>
        <% end %>
        <% if alert.present? %>
          <div class="alert alert-info">
            <%= alert %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </section>

    <script type="text/javascript">
       $('label.radio.nri').on('click',function(){
          var link = $(this).attr('data-link');
          $(".nri-fields").hide();
          $(".show-"+link+"-nri").fadeIn();
        })
        $('label.radio.kyc-radio').on('click',function(){
          var link = $(this).attr('data-link');

          if(link == 'yes'){
            $('.kyc-add').fadeIn();
            $('.kyc-exist').hide();
          }
          else{
           $('.kyc-add').hide();
            $('.kyc-exist').fadeIn();

          }
        })
        $('label.radio.oci').on('click',function(){
          var link = $(this).attr('data-link');

          if(link == 'yes'){
            $('.hidden-field.oci').fadeIn();
            $('.hidden-field.pan').hide();
          }
          else{
            $('.hidden-field.oci').hide();
            $('.hidden-field.pan').fadeIn();

          }
        })
        $('label.radio.attorney').on('click',function(){
          var link = $(this).attr('data-link');
          if(link == 'yes'){
            $('.name-attorney').fadeIn();
          }
          else{
            $('.name-attorney').hide();
          }
        })
        $('label.radio.company').on('click',function(){
          var link = $(this).attr('data-link');
          if(link == 'yes'){
            $('.gstin').fadeIn();
          }
          else{
            $('.gstin').hide();
          }
        })
        $('label.radio.bank-loan').on('click',function(){
          var link = $(this).attr('data-link');
          if(link == 'bank-loan'){
            $('.bank').fadeIn();
          }
          else{
            $('.bank').hide();
          }
        })
        $('label.prev-prop').on('click',function(){
          var link = $(this).attr('data-href');
          if(link == 'yes'){
            $('.hidden-field-prev-prop').fadeIn();
          }
          else{
            $('.hidden-field-prev-prop').hide();
          }
        })
        $('.dashboard-notify').on('click',function(){
          $('.notification-dropdown-wrapper').slideToggle()
        })
        $('.filter-icon').on('click',function(){
          $('.padding-side-22 .col-md-2.float-right form, .padding-xs-left-10 .col-md-2 form, .padding-side-30 .col-md-2 form').slideToggle();
        })
    </script>

    <div class="modal fade" id="user_dropdown_modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Choose Customer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group" id="user_dropdown_modal_form">
              <%= label_tag "fltrs", "Name / Email / Phone", class: "control-label" %>
              <%= select_tag "fltrs[user_id]", [], {class: "selectize-remote", data: {url: admin_users_path, params: {role: {"$in": User.buyer_roles}} }} %>
              <%= hidden_field_tag "fltrs[project_unit_id]" %>
            </div>
            <%= javascript_tag do %>
              $(document).ready(function(){
                FormInitializer.init($("#user_dropdown_modal_form"));
                $("#user_dropdown_modal .next").click(function(){
                  var user_id = $("#user_dropdown_modal").find("[name='fltrs[user_id]']").val();
                  var sfdc_id = $("#user_dropdown_modal").find("[name='fltrs[project_unit_id]']").val();
                  if(user_id != "" && sfdc_id != ""){
                    window.location = "/admin/users/" + user_id + "/receipts/new?sfdc_reference_project_unit_id=" + sfdc_id;
                  }else{
                    alert("Please choose a customer & apartment to proceed");
                  }
                })
              });
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary next">Proceed</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
