<!DOCTYPE html>
<html>
  <head>
    <title><%= "IRIS" %></title>
    <link href="<%= asset_path 'favicon.png' %>" rel="icon" type="image/png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'dashboard', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&amp;display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <%= javascript_include_tag 'dashboard' %>

    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <%= javascript_tag do %>
      if(typeof App === "undefined"){
        App = {};
      }
      <% if !is_marketplace? %>
        App.locale = <%= current_translations.to_json.html_safe %>
        App.client = <%= raw current_client.to_json(only: [:name, :_id, :preferred_login]) %>;
        App.client.enable_actual_inventory = <%= current_client.enable_actual_inventory?(current_user) %>
        App.project = <%= raw current_project.to_json(only: [:name, :_id]) %>;
      <% end %>
      <!-- App.client = <%#= raw current_client.to_json(only: [:name, :_id, :preferred_login]) %>; -->
      <!-- App.client.enable_actual_inventory = <%#= current_client.enable_actual_inventory?(current_user) %> -->
      <!-- App.project = <%#= raw current_project.to_json(only: [:name, :_id]) %>; -->
      <% if user_signed_in? %>
        App.current_user = <%= raw current_user.to_json %>;
        App.current_user.name = App.current_user.first_name + " " + App.current_user.last_name;
        App.client = <%= raw current_user.booking_portal_client.to_json(only: [:name, :_id, :preferred_login]) %>;
        App.client.enable_actual_inventory = <%= current_user.booking_portal_client.enable_actual_inventory?(current_user) %>
      <% end %>
      <% if Rails.env.development? || Rails.env.staging? %>
        Pusher.logToConsole = true;
      <% end %>
    <% end %>
    <% if false && current_client.selldo_client_id.present? %>
      <% if Rails.env.production? %>
        <script src='//trkr.scdn1.secure.raxcdn.com/t/<%= current_client.selldo_client_id %>.js'></script>
      <% else %>
        <script src='<%= ENV_CONFIG[:selldo][:base_url] %>/t/<%= current_client.selldo_client_id %>.js'></script>
      <% end %>
    <% end %>
  </head>
  <body class="<%= controller_name %> <%= full_page_view? ? 'pt-0' : '' %>">
    <% if full_page_view? || request.host.include?('embed-') %>
      <%= yield %>
    <% else %>
      <% if is_marketplace? %>
        <%= render "layouts/mp/navbar" %>
        <main class="mp-page-wrapper">
          <%= yield %>
        </main>
      <% else %>
        <%= render "layouts/navbar"%>
        <main class="page-wrapper">
          <%= yield %>
        </main>
      <% end %>
      <%= render "layouts/gamification" %>
      <%= render "layouts/navbar_footer_afterlogin"%>
    <% end %>
    <%= render 'layouts/partials/google_code' %>
    <%= javascript_tag do %>
      $('document').ready(function(){
        var alert = <%= raw alert.to_json %>
        var notice = <%= raw notice.to_json %>
        if(notice){
          Amura.global_success_handler(notice);
        } else if(alert){
          Amura.global_error_handler(alert);
        }
      });
    <% end %>
  </body>
</html>