<!DOCTYPE html>
<html>
  <head>
    <title><%= current_project.name %> | <%= current_client.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <%= javascript_tag do %>
      if(typeof App === "undefined"){
        App = {};
      }
      App.client = <%= raw current_client.to_json %>;
      App.project = <%= raw current_project.to_json %>;
      <% if user_signed_in? %>
        App.current_user = <%= raw current_user.to_json %>;
        App.current_user.name = App.current_user.first_name + " " + App.current_user.last_name;
      <% end %>
      <% if Rails.env.development? || Rails.env.staging? %>
        Pusher.logToConsole = true;
      <% end %>
    <% end %>
  </head>
  <body>
    <div class="container-fluid">
      <header class="fixed-top z-index-2 pt-3 pb-3 col-md-12">
        <%= link_to "Register as Channel Partner", new_channel_partner_path, data:{event_category: 'Section', event_action: 'Click', event_name: 'Register Channel Partner'}, class: "float-right btn btn-secondary" %>
        <%= link_to "Register Now", register_path, data:{event_category: 'Section', event_action: 'Click', event_name: 'Sign Up'}, class: "float-right mr-2 btn btn-primary" %>
    </header>
    <div class="row align-middle" style="height:100vh;">
      <div class="col-md-5 col-sm-12 bg-light d-flex align-items-center text-center">
        <div>
          <img src="<%= current_client.logo.url %>" class="img-responsive mb-5">
          <h5 class="mt-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h5>
        </div>
      </div>
      <div class="col-md-7 col-sm-12 d-flex align-items-center">
        <div class="col-md-12 mx-auto">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
