<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>BookingPortal</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'dashboard_new' %>
    <%= javascript_include_tag 'dashboard' %>
    <%= javascript_tag do %>
      <% if user_signed_in? %>
        if(typeof App === "undefined"){
          App = {};
        }
        App.current_user = <%= raw current_user.to_json %>;
      <% end %>
    <% end %>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <% if Rails.env.development? || Rails.env.staging? %>
      Pusher.logToConsole = true;
    <% end %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116390336-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-116390336-1');
    </script>
  </head>
  <body>

  <div class="visible-xs prompts-message gradient-bg text-center white">
    <% if user_signed_in? && current_user.sign_in_count > 1%>
      <a href="/dashboard/apartment-selector" class="white">BOOK NOW</a>
    <% else %>
      <span>Register now to book & save upto Rs. 10 Lac!</span>
      <span>Prices rise with every 50 bookings</span>
    <% end %>
  </div>
    <div id="notify"></div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
    <div class="notification-header">
        <!-- <div class="container-fluid">
        </div> -->
        <div class="col-12">
          <div class="container-fluid">
            <div class="pull-left left-wrapper">
              <% if params[:controller] == "dashboard" && params[:action] == "index" %>
                <span class="subTitle white bold">Dashboard</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
              <% elsif params[:controller] == "dashboard" && params[:action] == "project_units" %>
                <span class="subTitle white bold">Apartment Selector</span> <span class="d3-view-link"><a href="/dashboard/3d-apartment-selector">Book in 3D view</a></span>
              <% elsif params[:controller] == "dashboard" && params[:action] == "project_units_3d" %>
                <span class="subTitle white bold">3D Apartment Selector</span> <span class="d3-view-link"><a href="/dashboard/apartment-selector">Book in Normal view</a></span>
              <% elsif params[:controller] == "dashboard" && params[:action] == "checkout" %>
                <span class="subTitle white bold">Proceed To Payment</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
              <% elsif params[:controller] == "user_kycs" %>
                <span class="subTitle white bold">User KYCs</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
              <% elsif params[:controller] == "receipts" && params[:action] == "index" %>
                <span class="subTitle white bold">Payments</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
              <% else %>
                <span class="subTitle white bold">Dashboard</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
              <% end %>
            </div>
            <div class="pull-right right-wrapper">
              <!-- <div class="dashboard-notify pull-left">
                  <div class="notification-count">1</div>
                  <div class="notification-dropdown-wrapper">
                      <div class="notification-dropdown">
                        <div class="title">7 Days Remaining</div>
                        <p>Pay withing 7 days or the unit will be released</p>
                      </div>
                  </div>
              </div> -->
              <div class="pull-left profile-link">
                <span><img src="<%= asset_path 'user.png'%>" class="img-responsive"> &nbsp;<%#= current_user.name %>
                  <%= link_to "Welcome " + current_user.name, dashboard_user_profile_path , class:'white'%>
                </span>

            </div>
            <div class="clearfix"></div>
          </div>
        </div>
    </div>
  </div>
    <div class="dashboard-menu">
      <div class="menu-top">
        <div class="dash-logo">
          <a href="/dashboard" style="text-align: left;display: inline-block;"><img src="<%= asset_path "embassy_unit.png" %>" class="img-responsive" style="padding:0 5px;"></a>
          <!-- <a href="/dashboard" style="text-align: right;display: inline-block;"><img src="<%= asset_path "logo-edge.png" %>" class="img-responsive" style="padding:0 5px;width:70%;"></a> -->
          <!-- <span>Embassy Springs<br/> Booking Portal</span> -->
        </div>
        <div class="burger-menu visible-xs">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="dash-menu-wrapper">
        <% if policy(:dashboard).index? %>
          <div>
                <a href="/dashboard" <%= params[:controller] == "dashboard" && params[:action] == "index" ? "class=active" : "" %>><span class="sprite-dasboard booking-details"></span><span>Dashboard</span></a>
          </div>
        <% end %>
        <% if policy(:dashboard).project_units? %>
          <div>
              <a href="/dashboard/apartment-selector" <%= params[:controller] == "dashboard" && (params[:action] == "project_units" || params[:action] == "project_units_3d") ? "class=active" : "" %> ><span class="sprite-dasboard apartment-selector"></span><span>apartment selector</span></a>
          </div>
        <% end %>
        <% if UserRequestPolicy.new(current_user, UserRequest).index? %>
          <!-- <div>
            <a href="/dashboard/user/user_requests" <%= (params[:controller] == "user_requests" && params[:action] == "index") || (params[:controller] == "user_requests" && params[:action] == "new") ? "class=active" : "" %>>
                <span class="sprite-dasboard kyc-form"></span><span>cancellation requests</span>
            </a>
            <%#= link_to "<span class='sprite-dasboard kyc-form'></span><span class='menu-items-hide'>#{global_labels['user_requests']}</span>", user_user_requests_path, class: "#{(params[:controller] == "user_requests") ? "active" : "" }" %>
          </div> -->
        <% end %>
        <% if UserKycPolicy.new(current_user, UserKyc).index? %>
          <div>
              <a href="/dashboard/user_kycs" <%= (params[:controller] == "user_kycs" && params[:action] == "index") || (params[:controller] == "user_kycs" && params[:action] == "edit") || (params[:controller] == "user_kycs" && params[:action] == "new") ? "class=active" : "" %>><span class="sprite-dasboard kyc-form"></span><span>user kyc</span></a>
          </div>
        <% end %>
        <% if policy(:dashboard).receipts? %>
        <div>
              <a href="/dashboard/receipts" <%= params[:controller] == "receipts" && params[:action] == "index" ? "class=active" : "" %>><span class="sprite-dasboard payment-details"></span><span>Payments</span></a>
        </div>
        <% end %>
        <div class="mobile-show">
          <%= link_to "Profile", dashboard_user_profile_path %>
          <!-- <a href="/" data-method="delete" rel="nofollow"><span class="sprite-signout sign-out"></span><span class="menu-items-hide">sign out</span></a> -->
        </div>
        <div>
          <a href="/users/sign_out" data-method="delete" rel="nofollow"><span class="sprite-signout sign-out"></span><span class="menu-items-hide">sign out</span></a>
        </div>
        <!-- <div class="visible-xs">
          <a href="/users/sign_out" data-method="delete" rel="nofollow"><span class="sprite-signout sign-out"></span><span class="menu-items-hide">sign out</span></a>
        </div> -->
        <div class="visible-xs help-wrapper text-center">
            <p>Need Help?</p>
            <div>
              <a href="tel:+911234567890">+91 1234 5678 90</a>
              <a href="javascript:;">xyz@embassysprings.com</a>
            </div>
        </div>
      </div>
      <div class="prompts-message hidden-xs">
        <ul id="gamification_container">
          <li><%= bhk_booked(1) %> 1 BHK Apartments sold</li>
          <li><%= bhk_booked(2) %> 2 BHK Apartments sold</li>
          <li><%= bhk_booked(3) %> 3 BHK Apartments sold</li>
          <li><%= booked_today_count %> people have paid the token amount today</li>
        </ul>
      </div>
      <div class="dash-menu-footer hidden-xs">
         <img src="<%= asset_path "embassy_springs_logo.png" %>" class="img-responsive" style="padding:0 5px;width:70px;">
      </div>
    </div>
    <% end %>
    <%= yield %>
    <script type="text/javascript">
      $(document).ready(function(){
        $('label.radio.nri').on('click',function(){
          var link = $(this).attr('data-link');
          $(".nri-fields").hide();
          $(".show-"+link+"-nri").show();
        });

        $('label.radio.kyc-radio').on('click',function(){
          var link = $(this).attr('data-link');

          if(link == 'yes'){
            $('.kyc-add').show();
            $('.kyc-exist').hide();
          }
          else{
           $('.kyc-add').hide();
            $('.kyc-exist').show();

          }
        })
        $('label.radio.oci').on('click',function(){
          var link = $(this).attr('data-link');

          if(link == 'yes'){
            $('.hidden-field.oci').show();
            $('.hidden-field.pan').hide();
          }
          else{
            $('.hidden-field.oci').hide();
            $('.hidden-field.pan').show();

          }
        })
        $('label.radio.attorney').on('click',function(){
          var link = $(this).attr('data-link');
          if(link == 'yes'){
            $('.name-attorney').show();
          }
          else{
            $('.name-attorney').hide();
          }
        })
        $('label.radio.company').on('click',function(){
          var link = $(this).attr('data-link');
          if(link == 'yes'){
            $('.gstin').show();
          }
          else{
            $('.gstin').hide();
          }
        })
        $('label.radio.bank-loan').on('click',function(){
          var link = $(this).attr('data-link');
          if(link == 'bank-loan'){
            $('.bank').show();
          }
          else{
            $('.bank').hide();
          }
        })
        $('.show-co-apl').on('click',function(){
          var link = $(this).attr('data-link');
          if(link == 'show-co-applicant'){
            $('#show-co-applicant').show();
          }
          else{
            $('#show-co-applicant').hide();
          }
        })
        $('label.prev-prop').on('click',function(){
          var link = $(this).attr('data-href');
          if(link == 'yes'){
            $('.hidden-field-prev-prop').fadeIn();
          }
          else{
            $('.hidden-field-prev-prop').hide();
          }
        })
        $(".mediaCenterAccordion > li > span").click(function() {
          $(this).toggleClass("active").next('div').slideToggle(250).closest('li').siblings().find('span').removeClass('active').next('div').slideUp(250);
        });
        $('.booking-accordian-wrapper .booking-accordian').on('click',function(){
          var link = $(this).attr('data-acc');
          // $('.booking-accordian').removeClass('active')
          $('#'+link).slideToggle();
          $(this).toggleClass('active');
        })

        $('.dashboard-notify').on('click',function(){
          $('.notification-dropdown-wrapper').slideToggle()
        })
        $('.show-unit-floor-plans span').on('click',function(){
          var link = $(this).attr('rel');
          $('.unit-plans-wrapper').hide();
          $('.show-unit-floor-plans span').removeClass('active');
          $('#'+link).fadeIn();
          $(this).addClass('active')
        })
        $('.burger-menu').on('click',function(){
          $('.dash-menu-wrapper').slideToggle();
        })
        $('.filter-icon').on('click',function(){
          $('.filter-item-wrapper').slideToggle();
        })
        $('.open-details-wrapper, .show-unit-details-wrapper .close-btn').on('click',function(){
          if($('.show-unit-details-wrapper').hasClass('close')){
            $('.show-unit-details-wrapper').removeClass('close')
          }
          else{
            $('.show-unit-details-wrapper').addClass('close')
          }
        })

        $('.booking-accordian-wrapper .first').trigger('click');

        $('.apt-selector-box .apt').on('click',function(){
            $('.open-details-wrapper').addClass('blink');
            setTimeout(function(){
              $('.open-details-wrapper').removeClass('blink');
            },1500)

       })
        if($(window).width()<=700){
          var winHT = $(window).height();
          $('.dash-menu-wrapper').height(winHT);
        }
      })
    </script>

<!-- lsquare -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.embassyindia.com"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://lswebanalytics.com/analytics/";
    _paq.push(['setTrackerUrl', u+'lsquare.php']);
    _paq.push(['setSiteId', 78]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'lsquare.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<script type="text/javascript">
(function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
'//livesquare.in/livesq/scripts/track.js',
function(e){ LiveAgent.createButton('e97f6945', e); });
</script>
<noscript><p><img src="http://lswebanalytics.com/analytics/lsquare.php?idsite=78" style="border:0;" alt="" /></p></noscript>
<!-- End lsquare Code -->
  </body>
</html>
