<!DOCTYPE html>
<html>
  <head>
    <title>BookingPortal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag do %>
      <% if user_signed_in? %>
        if(typeof App === "undefined"){
          App = {};
        }
        App.current_user = <%= raw current_user.to_json %>;
      <% end %>
    <% end %>
  </head>
  <body>
    Welcome to Booking Portal<br/>
    <h6>Total Paid (you might some payments pending clearance): <%= current_user.total_amount_paid %></h6>
    <h6>Total Balance Pending (you might some payments pending clearance): <%= current_user.total_balance_pending %></h6>
    <h6>Total Un-attached Balance (subject to clearance): <%= current_user.total_unattached_balance %></h6>
    <% if user_signed_in? %>
      <% if policy(:dashboard).index? %>
        <%= link_to 'Dashboard', dashboard_path %>
      <% end %>
      <% if UserKycPolicy.new(current_user, UserKyc).index? %>
        <%= link_to 'KYCs', user_kycs_path %>
      <% end %>
      <% if policy(:dashboard).project_units? %>
        <%= link_to 'Units', dashboard_project_units_path %>
      <% end %>
      <% if policy(:dashboard).receipts? %>
        <%= link_to 'Receipts', receipts_path %>
      <% end %>
      <% if ReceiptPolicy.new(current_user, Receipt.new(user: current_user)).new? %>
        <%= link_to 'Direct Blocking payment', dashboard_checkout_path %>
      <% end %>
      <%= link_to 'Logout', destroy_user_session_path, method: 'delete' %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
