<!DOCTYPE html>
<html>
  <head>
    <title><%= current_project.name %> | <%= current_client.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'dashboard', media: 'all' %>
    <%= javascript_include_tag 'dashboard' %>

    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <%= javascript_tag do %>
      if(typeof App === "undefined"){
        App = {};
      }
      App.client = <%= raw current_client.to_json(only: [:name, :_id, :preferred_login]) %>;
      App.project = <%= raw current_project.to_json(only: [:name, :_id]) %>;
      <% if user_signed_in? %>
        App.current_user = <%= raw current_user.to_json %>;
        App.current_user.name = App.current_user.first_name + " " + App.current_user.last_name;
      <% end %>
      <% if Rails.env.development? || Rails.env.staging? %>
        Pusher.logToConsole = true;
      <% end %>
    <% end %>
    <script src='//trkr.scdn1.secure.raxcdn.com/t/<%= current_client.selldo_client_id %>.js'></script>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>
    <div class="pt-5 mt-4"></div>
    <% if current_client.ga_code.present? %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= current_client.ga_code %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= current_client.ga_code %>');
    </script>
    <% end %>
    <% if current_client.gtm_tag.present? %>
    <%= current_client.gtm_tag %>
    <% end %>
  </body>
</html>
