<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>BookingPortal</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'dashboard_new' %>
  <%= javascript_include_tag 'dashboard' %>
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <%= javascript_tag do %>
  <% if user_signed_in? %>
  if(typeof App === "undefined"){
    App = {};
  }
  App.current_user = <%= raw current_user.to_json %>;
  App.current_user.name = App.current_user.first_name + " " + App.current_user.last_name
  <% end %>
  <% if Rails.env.development? || Rails.env.staging? %>
  Pusher.logToConsole = true;
  <% end %>
  <% end %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116390336-1"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-93219442-4', 'auto');
  ga('require', 'ecommerce', 'ecommerce.js');
  ga('require', 'displayfeatures');
  ga('require', 'ec');
  </script>
</head>
<body>
  <div class="gamification-container prompts-message gradient-bg">
    <%= image_tag("icon.png", style: "position: absolute;left: 10px;top: 22px;width: 30px;", class: "hidden-xs") %>
    <div class="gamification_container desktop">
      <div class="text-slide"><%= booked_today_count %> people have paid the token amount today</div>
      <div class="text-slide"><%= bhk_booked(1) %> 1-BHK Apartments sold</div>
      <div class="text-slide"><%= bhk_booked(2) %> 2-BHK Apartments sold</div>
      <div class="text-slide"><%= bhk_booked(3) %> 3-BHK Apartments sold</div>
    </div>
  </div>
  <div id="notify"></div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if user_signed_in? %>
  <div class="notification-header">
    <!-- <div class="container-fluid">
  </div> -->
  <div class="col-12">
    <div class="container-fluid">
      <div class="pull-left left-wrapper">
        <% if params[:controller] == "dashboard" && params[:action] == "index" %>
        <span class="subTitle bold">Dashboard</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
        <% elsif params[:controller] == "dashboard" && params[:action] == "project_units" %>
        <span class="subTitle bold">Apartment Selector</span>
        <% if ProjectUnitPolicy.new(current_user, ProjectUnit).block? %>
        <span class="d3-view-link"><a href="/dashboard/3d-apartment-selector" data-event-category="header" data-event-action="click" data-event-name="Book in 3D view">Book in 3D view</a></span>
        <% end %>
        <% elsif params[:controller] == "dashboard" && params[:action] == "project_units_3d" %>
        <span class="subTitle bold">3D Apartment Selector</span>
        <% if ProjectUnitPolicy.new(current_user, ProjectUnit).block? %>
        <span class="d3-view-link"><a href="/dashboard/apartment-selector" data-event-category="header" data-event-action="click" data-event-name="Book in Normal view">Book in Normal view</a></span>
        <% end %>
        <% elsif params[:controller] == "dashboard" && params[:action] == "checkout" %>
        <span class="subTitle bold">Proceed To Payment</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
        <% elsif params[:controller] == "user_kycs" %>
        <span class="subTitle bold">User KYCs</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
        <% elsif params[:controller] == "receipts" && params[:action] == "index" %>
        <span class="subTitle bold">Payments</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
        <% else %>
        <span class="subTitle bold">Dashboard</span><!-- <span class="white f16">Welcome <%= current_user.name %></span> -->
        <% end %>
      </div>
      <div class="pull-right right-wrapper">
        <!-- <div class="dashboard-notify pull-left">
        <div class="notification-count">1</div>
        <div class="notification-dropdown-wrapper">
        <div class="notification-dropdown">
        <div class="title">7 Days Remaining</div>
        <p>Pay withing 7 days or the unit will be released</p>
      </div>
    </div>
  </div> -->
  <div class="pull-left profile-link">
    <span>
      <%= link_to edit_admin_user_path(current_user) do %>
        <div class="user-name">Welcome <%= current_user.name %></div>
        <img src="<%= asset_path 'usernew.png'%>" class="img-responsive" data-event-category="header" data-event-action="click" data-event-name="user profile"> &nbsp;
      <% end %>
    </span>
  </div>
  <div class="clearfix"></div>
</div>
</div>
</div>
</div>
<div class="dashboard-menu">
  <div class="menu-top">
    <div class="dash-logo">
      <a href="/dashboard" style="text-align: left;display: inline-block;"><img src="<%= asset_path "logo-edge.png" %>" class="img-responsive" style="padding:0 5px;" data-event-category="side bar" data-event-action="click" data-event-name="Logo"></a>
      <div class="rera-id">RERA Ack. No.: PRM/KA/RERA/1250/303/PR/180526/001825</div>
    </div>
    <div class="burger-menu visible-xs">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="dash-menu-wrapper">
    <% if policy(:dashboard).index? %>
    <div>
      <a href="/dashboard" <%= params[:controller] == "dashboard" && params[:action] == "index" ? "class=active" : "" %> data-event-category="side bar" data-event-action="click" data-event-name="Dashboard"><span class="sprite-dasboard booking-details" data-event-category="side bar" data-event-action="click" data-event-name="Dashboard"></span><span data-event-category="side bar" data-event-action="click" data-event-name="Dashboard">Dashboard</span></a>
    </div>
    <% end %>
    <% if policy(:dashboard).project_units? && ProjectUnitPolicy.new(current_user, ProjectUnit).block? %>
    <div>
      <a href="/dashboard/apartment-selector" <%= params[:controller] == "dashboard" && (params[:action] == "project_units" || params[:action] == "project_units_3d") ? "class=active" : "" %> data-event-category="side bar" data-event-action="click" data-event-name="Apartment Selector" ><span class="sprite-dasboard apartment-selector" data-event-category="side bar" data-event-action="click" data-event-name="Apartment Selector"></span><span data-event-category="side bar" data-event-action="click" data-event-name="Apartment Selector">apartment selector</span></a>
    </div>
    <% end %>
    <% if UserRequestPolicy.new(current_user, UserRequest).index? %>
    <!-- <div>
    <a href="/dashboard/user/user_requests" <%= (params[:controller] == "user_requests" && params[:action] == "index") || (params[:controller] == "user_requests" && params[:action] == "new") ? "class=active" : "" %>>
    <span class="sprite-dasboard kyc-form"></span><span>cancellation requests</span>
  </a>
  <%#= link_to "<span class='sprite-dasboard kyc-form'></span><span class='menu-items-hide'>#{global_labels['user_requests']}</span>", user_user_requests_path, class: "#{(params[:controller] == "user_requests") ? "active" : "" }" %>
</div> -->
<% end %>
<% if UserKycPolicy.new(current_user, UserKyc).index? %>
<div>
  <a href="/dashboard/user_kycs" <%= (params[:controller] == "user_kycs" && params[:action] == "index") || (params[:controller] == "user_kycs" && params[:action] == "edit") || (params[:controller] == "user_kycs" && params[:action] == "new") ? "class=active" : "" %> data-event-category="side bar" data-event-action="click" data-event-name="User KYCs"><span class="sprite-dasboard kyc-form"  data-event-category="side bar" data-event-action="click" data-event-name="User KYCs"></span><span data-event-category="side bar" data-event-action="click" data-event-name="User KYCs">user kyc</span></a>
</div>
<% end %>
<% if policy(:dashboard).receipts? %>
<div>
  <a href="/dashboard/receipts" <%= params[:controller] == "receipts" && params[:action] == "index" ? "class=active" : "" %>  data-event-category="side bar" data-event-action="click" data-event-name="Payments"><span class="sprite-dasboard payment-details"  data-event-category="side bar" data-event-action="click" data-event-name="Payments"></span><span  data-event-category="side bar" data-event-action="click" data-event-name="Payments">Payments</span></a>
</div>
<% end %>
<div>
  <a href="/dashboard/faqs" <%= params[:controller] == "dashboard" && params[:action] == "faqs" ? "class=active" : "" %>  data-event-category="side bar" data-event-action="click" data-event-name="FAQs"><span class="sprite-dasboard faqs"  data-event-category="side bar" data-event-action="click" data-event-name="FAQs"></span><span  data-event-category="side bar" data-event-action="click" data-event-name="FAQs">FAQs</span></a>
</div>
<div>
  <a href="/dashboard/rera" <%= params[:controller] == "dashboard" && params[:action] == "rera" ? "class=active" : "" %>  data-event-category="side bar" data-event-action="click" data-event-name="RERA"><span class="sprite-dasboard faqs"  data-event-category="side bar" data-event-action="click" data-event-name="RERA"></span><span  data-event-category="side bar" data-event-action="click" data-event-name="RERA">RERA</span></a>
</div>
<div>
  <a href="/dashboard/tds-process" <%= params[:controller] == "dashboard" && params[:action] == "tds_process" ? "class=active" : "" %>  data-event-category="side bar" data-event-action="click" data-event-name="TDS Process"><span class="sprite-dasboard faqs"  data-event-category="side bar" data-event-action="click" data-event-name="TDS Process"></span><span  data-event-category="side bar" data-event-action="click" data-event-name="TDS Process">TDS Process</span></a>
</div>
<div>
  <a href="/dashboard/terms-and-conditions" <%= params[:controller] == "dashboard" && params[:action] == "terms_and_condition" ? "class=active" : "" %>  data-event-category="side bar" data-event-action="click" data-event-name="terms-and-conditions"><span class="sprite-dasboard faqs"  data-event-category="side bar" data-event-action="click" data-event-name="terms-and-conditions"></span><span  data-event-category="side bar" data-event-action="click" data-event-name="terms-and-conditions">Terms & Conditions</span></a>
</div>
<div class="mobile-show">
  <%= link_to "Profile", edit_admin_user_path(current_user) %>
</div>
<div>
  <a href="/users/sign_out" data-method="delete" rel="nofollow" data-event-category="side bar" data-event-action="click" data-event-name="Sign out"><span class="sprite-dasboard sign-out" data-event-category="side bar" data-event-action="click" data-event-name="Sign out"></span><span class="menu-items-hide"  data-event-category="side bar" data-event-action="click" data-event-name="Sign out">sign out</span></a>
</div>
<div class="visible-xs help-wrapper text-center">
  <p>Need Help?</p>
  <div>
    <a href="tel:<%= SUPPORT_NUMBER %>" data-event-category="nav" data-event-action="click" data-event-name="<%= SUPPORT_NUMBER %>"><%= SUPPORT_NUMBER %></a>
    <a href="javascript:;" data-event-category="nav" data-event-action="click" data-event-name="<%= SUPPORT_EMAIL %>"><%= SUPPORT_EMAIL %></a>
  </div>
</div>
</div>
</div>
<% end %>
<%= yield %>
<script type="text/javascript">
$(document).ready(function(){
  $('label.radio.nri').on('click',function(){
    var link = $(this).attr('data-link');
    $(".nri-fields").hide();
    $(".show-"+link+"-nri").show();
  });

  $('label.radio.kyc-radio').on('click',function(){
    var link = $(this).attr('data-link');

    if(link == 'yes'){
      $('.kyc-add').show();
      $('.kyc-exist').hide();
    }
    else{
      $('.kyc-add').hide();
      $('.kyc-exist').show();

    }
  })
  $('label.radio.oci').on('click',function(){
    var link = $(this).attr('data-link');

    if(link == 'yes'){
      $('.hidden-field.oci').show();
      $('.hidden-field.pan').hide();
    }
    else{
      $('.hidden-field.oci').hide();
      $('.hidden-field.pan').show();

    }
  })
  $('label.radio.attorney').on('click',function(){
    var link = $(this).attr('data-link');
    if(link == 'yes'){
      $('.name-attorney').show();
    }
    else{
      $('.name-attorney').hide();
    }
  })
  $('label.radio.company').on('click',function(){
    var link = $(this).attr('data-link');
    if(link == 'yes'){
      $('.gstin').show();
    }
    else{
      $('.gstin').hide();
    }
  })
  $('label.radio.bank-loan').on('click',function(){
    var link = $(this).attr('data-link');
    if(link == 'bank-loan'){
      $('.bank').show();
    }
    else{
      $('.bank').hide();
    }
  })
  $('.show-co-apl').on('click',function(){
    var link = $(this).attr('data-link');
    if(link == 'show-co-applicant'){
      $('#show-co-applicant').show();
    }
    else{
      $('#show-co-applicant').hide();
    }
  })
  $('label.prev-prop').on('click',function(){
    var link = $(this).attr('data-href');
    if(link == 'yes'){
      $('.hidden-field-prev-prop').fadeIn();
    }
    else{
      $('.hidden-field-prev-prop').hide();
    }
  })
  $(".mediaCenterAccordion > li > span").click(function() {
    $(this).toggleClass("active").next('div').slideToggle(250).closest('li').siblings().find('span').removeClass('active').next('div').slideUp(250);
  });
  $('.booking-accordian-wrapper .booking-accordian').on('click',function(){
    var link = $(this).attr('data-acc');
    // $('.booking-accordian').removeClass('active')
    $('#'+link).slideToggle();
    $(this).toggleClass('active');
  })

  $('.dashboard-notify').on('click',function(){
    $('.notification-dropdown-wrapper').slideToggle()
  })
  $('.show-unit-floor-plans span').on('click',function(){
    var link = $(this).attr('rel');
    $('.unit-plans-wrapper').hide();
    $('.show-unit-floor-plans span').removeClass('active');
    $('#'+link).fadeIn();
    $(this).addClass('active')
  })
  $('.burger-menu').on('click',function(){
    $('.dash-menu-wrapper').slideToggle();
  })
  $('.filter-icon').on('click',function(){
    $('.filter-item-wrapper').slideToggle();
  })
  $('.open-details-wrapper, .show-unit-details-wrapper .close-btn').on('click',function(){
    if($('.show-unit-details-wrapper').hasClass('close')){
      $('.show-unit-details-wrapper').removeClass('close')
    }
    else{
      $('.show-unit-details-wrapper').addClass('close')
    }
  })

  $('.booking-accordian-wrapper .first').trigger('click');

  $('.apt-selector-box .apt').on('click',function(){
    $('.open-details-wrapper').addClass('blink');
    setTimeout(function(){
      $('.open-details-wrapper').removeClass('blink');
    },1500)

  });
  $('.cp-form-btn a').on('click',function(){
    var tab = $(this).attr('rel');
    console.log(tab)
    // $('.cp-form').hide();
    // $('#'+tab).fadeIn();
    if($('#personal-details').is(':visible')){
      $('#channel_partner_form').valid();
      if($('#channel_partner_form .form-group').hasClass('has-error')){
        $('#personal-details .cp-form-btn a.bank-details-next').removeAttr('rel')
      }
      else{
        $('#personal-details .cp-form-btn a.bank-details-next').attr('rel','bank-details')
        $('.cp-form').hide();
        $('#bank-details').fadeIn();
      }
    }
    if($('#bank-details').is(":visible")){
      console.log('in bd')
      $('#progressbar li:nth-child(2)').addClass('active')
      $('#channel_partner_form .form-group.has-error').removeClass('has-error')

      $('.cp-form-btn a.next-documents').on('click',function(){
        $('#channel_partner_form').valid();
        if($('#channel_partner_form .form-group').hasClass('has-error')){
          $('#bank-details .cp-form-btn a.next-documents').removeAttr('rel');
          $('#documents .help-block').hide();
        }
        else{
          $('#bank-details .cp-form-btn a.next-documents').attr('rel','documents')
          $('.cp-form').hide();
          $('#documents').show();

          if($('#documents').css("display") == 'block'){
            // $('.register-cp .form-group span').css('visibility', 'hidden');
            console.log('in docs');
            $('#channel_partner_form .help-block').hide();
            $('#progressbar li:last-child').addClass('active');
            // $('#channel_partner_form .form-group.has-error').removeClass('has-error')
            // $('.cp-form').hide();
            // $('#'+tab).fadeIn();
          }
          // $('#channel_partner_form .form-group').removeClass('has-error')
        }
      })

    }

    $('.cp-form-btn a.prev-bank-details').on('click',function(){
      $('#documents').hide();
      $('#bank-details').fadeIn();
      $('#progressbar li:last-child').removeClass('active')
    })

    $('.cp-form-btn a.prev-personal-details').on('click',function(){
      $('#bank-details').hide();
      $('#personal-details').fadeIn();
      $('#progressbar li:nth-child(2)').removeClass('active')
    })



    // if($('#documents').is(":hidden") && $('#bank-details').is(":visible")){
    //   $('#progressbar li.active:last-child').removeClass('active')
    // }
    // if($('#documents').is(":hidden") && $('#bank-details').is(":hidden")){
    //   $('#progressbar li.active:last-child, #progressbar li.active:nth-child(2)').removeClass('active')
    // }

  })

  if($('#channel_partner_form .form-group').hasClass('has-error')){
    $('.cp-form-btn a.bank-details-next').removeAttr('rel')
  }
  else{
    $('.cp-form-btn a.bank-details-next').attr('rel','bank-details')
  }
  if($('#channel_partner_form .form-group').hasClass('has-error')){
    $('.cp-form-btn a.next-documents').removeAttr('rel')
  }
  else{
    $('.cp-form-btn a.next-documents').attr('rel','documents');
  }
  setTimeout(function(){
    <% if user_signed_in? && current_user.user_kyc_ids.present? %>
    $('label[data-link="no"].radio.kyc-radio').trigger("click");
    <% end %>
  }, 1000);
  if($(window).width()<=700){
    var winHT = $(window).height();
    $('.dash-menu-wrapper').height(winHT);
  }
})
</script>

<% if user_signed_in? && (current_user.buyer? || current_user.role?("channel_partner")) && Rails.env.production? %>
  <!-- begin olark code -->
  <script type="text/javascript" async> ;(function(o,l,a,r,k,y){if(o.olark)return; r="script";y=l.createElement(r);r=l.getElementsByTagName(r)[0]; y.async=1;y.src="//"+a;r.parentNode.insertBefore(y,r); y=o.olark=function(){k.s.push(arguments);k.t.push(+new Date)}; y.extend=function(i,j){y("extend",i,j)}; y.identify=function(i){y("identify",k.i=i)}; y.configure=function(i,j){y("configure",i,j);k.c[i]=j}; k=y._={s:[],t:[+new Date],c:{},l:a}; })(window,document,"static.olark.com/jsclient/loader.js");
  /* custom configuration goes here (www.olark.com/documentation) */
  olark.identify('2017-776-10-7330');</script>
  <!-- end olark code -->
<% end %>
<% if user_signed_in? && current_user.sign_in_count == 1 && !cookies[:disclaimer] %>
<% cookies[:disclaimer] = true %>
<%= javascript_tag do %>
$(document).ready(function(){
  $.colorbox({html:'<div style="width:800px;height:400px;overflow:auto;background:#fff;padding:20px;"><p style="font-size: 20px;font-weight: 500;">Disclaimer</p><p>The information on this website is presented as general information. The visitor is presumed to have read the terms and conditions of the website and is deemed to have agreed, understood and accepted unconditionally all the terms, conditions, procedure and risks of logging onto the website and cannot claim, at any time, ignorance of any or all of them. All relationships of any visitor of this website where so ever situated is governed by and in accordance with the laws and jurisdiction of Bangalore (Bengaluru), India.</p><p>Embassy Group (the Company) uses all diligence, skill and expertise available to provide information on this website but does not accept or undertake any express or implied warranty of any nature whatsoever and that this site or the server that makes it available are or will be free of viruses or other harmful components. The Company shall not be under any obligation to ensure compliance or handle complaints.</p><p>The plans, specifications, images and other details herein are indicative. The Website does not constitute an offer and/or contract of any nature whatsoever. Any purchase in any project shall be governed by the terms of the agreement entered into between the parties in writing .</p><p>The Company and its respective subsidiaries and affiliates, and their respective officers, directors, partners, employees, agents, managers, trustees, representatives or contractors of any of them, related thereto and any successors or assigns of any of the foregoing shall not be liable for any direct, indirect, actual, punitive, incidental, special, consequential damages or economic loss whatsoever, arising from or related to the use of this Website.</p><p>The visitor has, by the act of logging onto the website and/or submitting information or giving his name, address, email addresses as identification to The Company through the website and has expressly and irrevocably authorized The Company to use, analyze all information and documents as may be required by it. The visitor represents and warrants that the visitor has provided true, accurate, current and complete information.</p><p>The visitor represents and warrants that the visitor is fully aware of the laws of the country/state visitor resides in and also those of India particularly those governing use, sale, lease, transfer of real estate and the visitor is neither violating nor attempting to violate any law.</p><p>The contents, information and material contained in this website are the exclusive property of The Company and are protected by copyright and intellectual property laws. No person shall use, copy, reproduce, distribute, initiate, publish, display, modify, create derivative works or database, use, transmit, upload, exploit, sell or distribute the same in whole or in part or any part thereof without prior express written permission from The Company. Facility to print an article or portion of text or material on this website through computer/electronic device does not tantamount to prior written consent.</p><p>Notwithstanding anything stated hereinabove or in this website, it is clarified, understood and agreed that The Company through this website does not intend to make any offer, proposal or contract as per prevailing laws in India or any similar or relevant law in the country of residence or access of the visitor.</p><p>The Company has the right to reproduce, monitor, disclose any transmission or information received and made to this website. Visitors may be sent information or contacted through the email addresses, phone numbers and postal addresses provided by the visitor on the website. Any visitor who may not desire to receive email from The Company may give clear instructions.</p><p>The visitor shall not use or post any computer programs in connection with the visitor’s use of the website that contain destructive features such as viruses anomalies, self-destruct mechanisms, time/logic bombs, worm, Trojan horses etc.</p><p>Notwithstanding anything and in no event shall The Company, their promoters, directors, employees and agents be liable to the visitor for any or all damages, losses and causes of action ( including but not limited to) negligence, errors, injury, whether direct, indirect, consequential or incidental, suffered or incurred by any person/s or due to any use and/or inability to use this site or information or its links, hyperlinks, action taken or abstained or any transmission made through this website.</p><p>Any links to off-site pages or other sites may be accepted by the visitor at the visitor’s option and own risk and The Company assumes no liability for and shall be held harmless from any resulting damages. The Company strongly recommends that the visitor carefully reads the terms and conditions of such linked site(s).</p><p>The Company reserves the right to terminate, revoke, modify, alter, add, and delete any one or more of the terms and conditions of the website. The Company shall be under no obligation to notify the visitor of the amendment to the terms and conditions and the visitor shall be bound by such amended terms and conditions.</p><p>Information displayed about the project, plans, specification, diagrams, photographs, links, hyperlinks and conditions may be altered at any by the Company. The Company will endeavor to update the site as promptly as possible, with all relevant information and details however, it may take some time before such changes are reflected on the site/webpage.</p><p>The Company advises that the visitor to the website , verify with the Company’s sales staff for the updated information on the projects as there is a possibility of the information on the web site is not the latest information for several reasons including the up dating and re structuring the website.</p><p>Information about projects are of very general in nature . The pictures, layout themes, project landscape, interiors, lightings, etc. are shown as what is intended to be at the time of completion and presently they are as illustrations and demonstration of the concept of the development. The visitor is required to verify all the details, including area, amenities, services, terms of sales and payments and other relevant terms independently with the Company and their sales team prior to concluding any decision for buying in the Company.</p><p>To find out more about the Project, please contact the Company or visit the Sales office during working hours and speak to one of our sales staff.</p></div>'});
});
<% end %>
<% end %>
<script type="text/javascript">
  ga('send', 'pageview');
</script>
</body>
</html>
