<!DOCTYPE html>
<html>
  <head>
    <title><%= current_project.present? ? "Runwal Elevate | " : "" %><%= current_client.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&amp;display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application' %>

    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <%= javascript_tag do %>
      if(typeof App === "undefined"){
        App = {};
      }
      App.client = <%= raw current_client.to_json(only: [:name, :_id, :preferred_login, :enable_referral_bonus]) %>;
      App.client.enable_actual_inventory = <%= current_client.enable_actual_inventory?(current_user) %>
      App.project = <%= raw current_project.to_json(only: [:name, :_id]) %>;
      <% if user_signed_in? %>
        App.current_user = <%= raw current_user.to_json %>;
        App.current_user.name = App.current_user.first_name + " " + App.current_user.last_name;
      <% end %>
      <% if Rails.env.development? || Rails.env.staging? %>
        Pusher.logToConsole = true;
      <% end %>
    <% end %>
    <% if current_client.selldo_client_id.present? %>
      <% if Rails.env.production? %>
        <script src='//trkr.scdn1.secure.raxcdn.com/t/<%= current_client.selldo_client_id %>.js'></script>
      <% else %>
        <script src='<%= ENV_CONFIG[:selldo][:base_url] %>/t/<%= current_client.selldo_client_id %>.js'></script>
      <% end %>
    <% end %>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>
    <%= render "layouts/navbar_footer" %>
    <%= render "layouts/gamification" %>
    <%= render 'layouts/partials/google_code' %>
  </body>
</html>
