<!DOCTYPE html>
<html>
  <head>
    <title><%= current_project.present? ? "#{current_project.name} | " : "" %><%= current_client.name %></title>
    <%= wicked_pdf_stylesheet_link_tag 'dashboard', media: 'all' %>
	<%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
